<style>
    /*

    TODO:
        - decide on classnames for all hook-able stuff
        - mirror classnames here and in theme stylesheet(s)
        - add the hook classes to all relevant component markup

    */


    .email-theme-{{vm.website.theme.handle}} {
        color: {{vm.website.themeOverrides.styles.primaryTextColor}};
        font-family: {{vm.website.themeOverrides.defaultFontStack}};
        background-color: {{vm.website.themeOverrides.styles.bodyBackgroundColor}};
    }

    .email-theme-{{vm.website.theme.handle}} .ssb-section-layout {
        background-color: {{vm.website.themeOverrides.styles.bodyBackgroundColor}};
    }

    .email-theme-{{vm.website.theme.handle}} .ssb-navigation a {
        color: {{vm.website.themeOverrides.styles.primaryTextColor}};
    }

    .email-theme-{{vm.website.theme.handle}} .ssb-page-section-layout-header {
        background-color: {{vm.website.themeOverrides.styles.headerBackgroundColor}};
        color: {{vm.website.themeOverrides.styles.headerTextColor}};
    }

    .email-theme-{{vm.website.theme.handle}} .ssb-page-section-layout-header [ssb-text-component] {
        /*color: {{vm.website.themeOverrides.styles.headerTextColor}};*/
        /*font-size: {{vm.website.themeOverrides.styles.headerSize}};*/
    }

    .email-theme-{{vm.website.theme.handle}} .ssb-page-section-layout-hero {
        background-color: {{vm.website.themeOverrides.styles.heroBackgroundColor}};
        color: {{vm.website.themeOverrides.styles.heroTextColor}};
        text-align: center;
    }

    .email-theme-{{vm.website.theme.handle}} .ssb-page-section-layout-hero [ssb-text-component] {
        /*color: {{vm.website.themeOverrides.styles.heroTextColor}};*/
        /*font-size: {{vm.website.themeOverrides.styles.heroSize}};*/
    }

    .email-theme-{{vm.website.theme.handle}} .email-theme-heading-text {
        font-size: {{vm.website.themeOverrides.styles.headingSize}};
    }

    .email-theme-{{vm.website.theme.handle}} .email-theme-paragraph-text {
        font-size: {{vm.website.themeOverrides.styles.paragraphSize}};
    }

    .email-theme-{{vm.website.theme.handle}} .email-theme-btn, .email-theme-{{vm.website.theme.handle}} .email-theme-btn:hover {
        background-color: {{vm.website.themeOverrides.styles.primaryBtnBackgroundColor}};
        color: {{vm.website.themeOverrides.styles.primaryBtnTextColor}};
        border-color: {{vm.website.themeOverrides.styles.primaryBtnBackgroundColor}};
    }

    .email-theme-{{vm.website.theme.handle}} .email-theme-btn:hover, .email-theme-{{vm.website.theme.handle}} .email-theme-btn:active, .email-theme-{{vm.website.theme.handle}} .email-theme-btn:focus {
        background-color: {{vm.website.themeOverrides.styles.primaryBtnBackgroundColor}}!important;
    }

    .email-theme-young-soul .navbar-toggle .icon-bar {
        /*background-color: {{vm.website.themeOverrides.styles.primaryBtnTextColor}};*/
    }

    @media screen and (min-width: 768px) {

        .email-theme-{{vm.website.theme.handle}} .ssb-page-section-layout-header [ssb-text-component] {
            font-size: {{vm.website.themeOverrides.styles.headerSize}};
        }

        .email-theme-{{vm.website.theme.handle}} .ssb-page-section-layout-hero [ssb-text-component] {
            font-size: {{vm.website.themeOverrides.styles.heroSize}};
        }

        .email-theme-{{vm.website.theme.handle}} .email-theme-heading-text {
            font-size: {{vm.website.themeOverrides.styles.headingSize}};
        }

        .email-theme-{{vm.website.theme.handle}} .email-theme-paragraph-text {
            font-size: {{vm.website.themeOverrides.styles.paragraphSize}};
        }

    }

</style>

<div class="indi-email-campaign">
    <indig-navprompt class="indig-navprompt" my-state="{{$state.$current.name}}" reset-dirty="vm.resetDirtyFn()" check-if-dirty="vm.checkIfDirtyFn()" save-page="vm.saveAsDraftFn()" save-page-check="vm.uiState.dataLoaded"></indig-navprompt>
    <!-- start: PAGE TITLE -->
    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle">Campaign Configuration</h1>
                <span class="mainDescription">Fill out details below</span>
            </div>
        </div>
    </section>

    <div ng-class="{
                'load1 csspinner':
          !vm.uiState.dataLoaded
            }">
        <!-- end: PAGE TITLE -->
        <div class="container-fluid container-fullw bg-white margin-bottom-15 padding-top-15 padding-bottom-15">
            <div class='row'>
                <div class="col-sm-4">
                    <div class='form-group'>
                        <input class='form-control' type='text' placeholder='Untitled Campaign' ng-model='vm.campaign.name' />
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class='pull-right'>
                        <button type="button" ng-disabled="saveLoading" ng-click="vm.saveAsDraftFn()" class="btn btn-primary btn-wide btn-scroll btn-scroll-top btn-o ti-save">
                            <span>
                                <div>
                                    Save as draft
                                </div>
                            </span>
                        </button>
                        <button type="button" ng-disabled="saveLoading" ng-click='vm.openModalFn("send-test-email-modal")' class="btn btn-primary btn-wide btn-scroll btn-scroll-top btn-o ti-location-arrow">
                            <span>
                                <div>
                                    Send Test
                                </div>
                            </span>
                        </button>
                        <button type="button" ng-disabled="saveLoading || !vm.campaign._id" ng-click='vm.activateCampaignFn()' class="btn btn-primary btn-wide btn-scroll btn-scroll-top btn-o ti-power-off">
                            <span>
                                <div>
                                    Activate Campaign
                                </div>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class='row'>
                <span>STATUS: {{vm.campaign.status}}</span>
                <span>LAST SAVED: {{vm.campaign.modified.date| date : 'medium'}}</span>
            </div>
        </div>
        <div class="row email-campaign-main" ng-hide="!vm.uiState.dataLoaded">
            <!--<div class="col-sm-4 bg-white">
                <span>Email Preview</span>
                <button type="button" ng-disabled="saveLoading || !vm.campaign.steps[0].settings.emailId || vm.disableEditing" ui-sref='app.emailEditor({id: vm.campaign.steps[0].settings.emailId})' class="btn btn-primary btn-wide btn-scroll btn-scroll-top btn-o ti-pencil">
                    <span>
                        <div>
                            Edit
                        </div>
                    </span>
                </button>
            </div>-->
            <div class="col-sm-6">
                <div class='form-group'>
                    <label>Campaign Type</label>
                    <select class='form-control' ng-model='vm.campaign.type' ng-disabled="vm.disableEditing">
                        <option value='onetime'>One Time</option>
                        <option value='autoresponder'>Auto Responder</option>
                    </select>
                </div>
                <div class="panel panel-white" ng-class="{'csspinner': vm.campaign.type === 'autoresponder'}">
                    <div class="panel-body no-padding">
                        <tabset>
                            <tab heading="by Tag" disable='vm.disableEditing'>
                                <div class="checkbox clip-check check-primary" ng-repeat="count in vm.contactCounts track by $index">
                                    <input type="checkbox" id="checkbox{{count.uniqueTag}}" value="{{count.matchingTag}}" ng-click="vm.toggleSelectionFn(count.matchingTag)" ng-checked="vm.tagSelection.indexOf(count.matchingTag) > - 1">
                                    <label for="checkbox{{count.uniqueTag}}">
                                        <span class="badge">{{count.numberOfTags}}</span> {{count.matchingTag}}
                                    </label>
                                </div>
                            </tab>
                            <tab heading="by Contact" disable='vm.disableEditing'>
                                <label class="text-muted">Select individuals from your contact list</label>
                                <div class="well well-sm">
                                    <ui-select class="contact-list" multiple ng-model="vm.selectedContacts.individuals" on-select="vm.contactSelectedFn($select)" on-remove="vm.contactRemovedFn($select, $item)" theme="bootstrap" ng-disabled="disabled" close-on-select="false" style="min-width:100%" search-enabled="true">
                                        <ui-select-match placeholder="Select Contacts...">{{$item.first}} {{$item.last}} ({{$item.details[0].emails[0].email}})</ui-select-match>
                                        <ui-select-choices repeat="contact._id as contact in vm.contacts | filter:$select.search">
                                            <span class="pull-left">
                                                <img ng-src="contact.photo" width="35" height="35" class="screenshot img-circle" err-src="" err-contact="contact">
                                            </span>
                                            <span class="pull-left" style="line-height: 16px;margin-top: 3px;">
                                                {{contact.first}} {{contact.last}}
                                                <div class="clearfix"></div>
                                                <small ng-if="contact.details[0].emails[0].email.length > 0">{{contact.details[0].emails[0].email}}</small>
                                            </span>
                                            <div class="clearfix"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </tab>
                            <tab heading="by Email Address" disable='vm.disableEditing'>
                                <label class="text-muted">Enter emails manually or paste a comma-separated list. Emails already in contacts will be ignored.</label>
                                <div class="well well-sm">
                                    <tags-input ng-model="vm.selectedContacts.newEmails" add-on-paste="true" placeholder="Add a email" add-on-comma="true" allowed-tags-pattern="^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$" on-tag-adding="vm.checkContactExistsFn($tag)">
                                    </tags-input>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                    <button type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top btn-o ti-user" ng-disabled="vm.disableEditing" ng-click='vm.openModalFn("campaign-contacts-list-modal")'>
                        <span>
                            <div>
                                View full contact list
                            </div>
                        </span>
                    </button>
                </div>
                <div class="panel panel-white" ng-class="{'csspinner': vm.campaign.type === 'onetime'}">
                    <div class="row margin-bottom-30">
                        <div class="col-xs-4" ng-repeat="trigger in vm.triggers">
                            <div class="panel animated no-radius text-center margin-bottom-0 cursor-pointer" ng-class="{true:'panel - light - grey pulse',false:'panel - white'}[trigger == vm.campaign.steps[0].trigger]">
                                <div class="panel-body" ng-class="{'bg-light-grey': hover1}" ng-mouseenter="hover1 = true" ng-mouseleave="hover1 = false" ng-click="vm.campaign.steps[0].trigger = trigger.value">
                                    <span ng-class="{'text-nephritis': vm.campaign.steps[0].trigger == trigger.value, 'text-muted': vm.campaign.steps[0].trigger != trigger.value, 'fa fa-check fa-2x': vm.campaign.steps[0].trigger == trigger.value}" class="text-nephritis" style="position:absolute; top:o;right:0;margin-right:5px;margin-top:-10px;"></span>
                                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span>
                                    <h3 class="StepTitle margin-top-10">{{trigger.name}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 bg-white" ng-class="{'csspinner': vm.campaign.type === 'autoresponder'}">
                <div class='form-group'>
                    <label>When to send</label>
                    <div class="radio clip-radio radio-primary" style="margin-top:0px!important">
                        <input type="radio" ng-change="vm.updateSendNowFn('now')" id="radio3" name="vertical" value="now" ng-model="vm.whenToSend" ng-disabled="vm.disableEditing">
                        <label for="radio3">
                            Send Now
                        </label>
                    </div>
                    <div class="radio clip-radio radio-primary">
                        <input ng-change="vm.updateSendNowFn('later')" type="radio" id="radio4" name="vertical" value="later" ng-model="vm.whenToSend" ng-disabled="vm.disableEditing">
                        <label for="radio4">
                            Send Later
                        </label>
                    </div>
                </div>
                <hr/>
                <div class="well bg-white pull-left margin-bottom-20 delivery-selector" ng-class="{'csspinner': vm.whenToSend === 'now', 'disabled': vm.disableEditing}">
                    <datepicker ng-model="vm.delivery.date" min-date="vm.delivery.minDate" show-weeks="true" class="margin-bottom-10" custom-class="selectedDay"></datepicker>
                    <div class="clearfix"></div>
                    <timepicker ng-model="vm.delivery.date" hour-step="vm.hstep" minute-step="vm.mstep" min="vm.delivery.minDate" class="center"></timepicker>
                </div>
                <div ng-if="invalidDate && whenToSend === 'later' && isEditable" class="col-xs-12">
                    <span style="font-weight: bold;color: #E6674A;">Invalid time</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-ng-include data-src=" 'assets/views/partials/campaign-contacts-list-modal.html' "></div>
<div data-ng-include data-src=" 'assets/views/partials/send-test-email-modal.html' "></div>
