<style>
    /*

    TODO:
        - decide on classnames for all hook-able stuff
        - mirror classnames here and in theme stylesheet(s)
        - add the hook classes to all relevant component markup

    */


    .email-theme-{{vm.website.theme.handle}} {
        color: {{vm.website.themeOverrides.styles.primaryTextColor}};
        font-family: {{vm.website.themeOverrides.defaultFontStack}};
        background-color: {{vm.website.themeOverrides.styles.bodyBackgroundColor}};
    }

    .email-theme-{{vm.website.theme.handle}} .ssb-section-layout {
        background-color: {{vm.website.themeOverrides.styles.bodyBackgroundColor}};
    }

    .email-theme-{{vm.website.theme.handle}} .ssb-navigation a {
        color: {{vm.website.themeOverrides.styles.primaryTextColor}};
    }

    .email-theme-{{vm.website.theme.handle}} .ssb-page-section-layout-header {
        background-color: {{vm.website.themeOverrides.styles.headerBackgroundColor}};
        color: {{vm.website.themeOverrides.styles.headerTextColor}};
    }

    .email-theme-{{vm.website.theme.handle}} .ssb-page-section-layout-header [ssb-text-component] {
        /*color: {{vm.website.themeOverrides.styles.headerTextColor}};*/
        /*font-size: {{vm.website.themeOverrides.styles.headerSize}};*/
    }

    .email-theme-{{vm.website.theme.handle}} .ssb-page-section-layout-hero {
        background-color: {{vm.website.themeOverrides.styles.heroBackgroundColor}};
        color: {{vm.website.themeOverrides.styles.heroTextColor}};
        text-align: center;
    }

    .email-theme-{{vm.website.theme.handle}} .ssb-page-section-layout-hero [ssb-text-component] {
        /*color: {{vm.website.themeOverrides.styles.heroTextColor}};*/
        /*font-size: {{vm.website.themeOverrides.styles.heroSize}};*/
    }

    .email-theme-{{vm.website.theme.handle}} .email-theme-heading-text {
        font-size: {{vm.website.themeOverrides.styles.headingSize}};
    }

    .email-theme-{{vm.website.theme.handle}} .email-theme-paragraph-text {
        font-size: {{vm.website.themeOverrides.styles.paragraphSize}};
    }

    .email-theme-{{vm.website.theme.handle}} .email-theme-btn, .email-theme-{{vm.website.theme.handle}} .email-theme-btn:hover {
        background-color: {{vm.website.themeOverrides.styles.primaryBtnBackgroundColor}};
        color: {{vm.website.themeOverrides.styles.primaryBtnTextColor}};
        border-color: {{vm.website.themeOverrides.styles.primaryBtnBackgroundColor}};
    }

    .email-theme-{{vm.website.theme.handle}} .email-theme-btn:hover, .email-theme-{{vm.website.theme.handle}} .email-theme-btn:active, .email-theme-{{vm.website.theme.handle}} .email-theme-btn:focus {
        background-color: {{vm.website.themeOverrides.styles.primaryBtnBackgroundColor}}!important;
    }

    .email-theme-young-soul .navbar-toggle .icon-bar {
        /*background-color: {{vm.website.themeOverrides.styles.primaryBtnTextColor}};*/
    }

    @media screen and (min-width: 768px) {

        .email-theme-{{vm.website.theme.handle}} .ssb-page-section-layout-header [ssb-text-component] {
            font-size: {{vm.website.themeOverrides.styles.headerSize}};
        }

        .email-theme-{{vm.website.theme.handle}} .ssb-page-section-layout-hero [ssb-text-component] {
            font-size: {{vm.website.themeOverrides.styles.heroSize}};
        }

        .email-theme-{{vm.website.theme.handle}} .email-theme-heading-text {
            font-size: {{vm.website.themeOverrides.styles.headingSize}};
        }

        .email-theme-{{vm.website.theme.handle}} .email-theme-paragraph-text {
            font-size: {{vm.website.themeOverrides.styles.paragraphSize}};
        }

    }

</style>

<div class="indi-email-campaign">
    <indig-navprompt class="indig-navprompt" my-state="{{$state.$current.name}}" reset-dirty="vm.resetDirty()" check-if-dirty="vm.checkIfDirty()" save-page="vm.saveEmail()" save-page-check="!vm.pageSaving"></indig-navprompt>
    <!-- start: PAGE TITLE -->
    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle">Campaign Configuration</h1>
                <span class="mainDescription">Fill out details below</span>
            </div>
        </div>
    </section>

    <div ng-class="{
                'load1 csspinner':
          !vm.dataLoaded
            }">
        <!-- end: PAGE TITLE -->
        <div class="container-fluid container-fullw bg-white margin-bottom-15 padding-top-15 padding-bottom-15">
            <div class='row'>
                <div class="col-sm-4">
                    <div class='form-group'>
                        <input class='form-control' type='text' placeholder='Untitled Campaign' ng-model='vm.campaign.name' />
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class='pull-right'>
                        <button type="button" ng-disabled="saveLoading" ng-click="vm.saveAsDraftFn()" class="btn btn-primary btn-wide btn-scroll btn-scroll-top btn-o ti-save">
                            <span>
                                <div>
                                    Save as draft
                                </div>
                            </span>
                        </button>
                        <button type="button" ng-disabled="saveLoading" ng-click='vm.sendTestFn()' class="btn btn-primary btn-wide btn-scroll btn-scroll-top btn-o ti-location-arrow">
                            <span>
                                <div>
                                    Send Test
                                </div>
                            </span>
                        </button>
                        <button type="button" ng-disabled="saveLoading || !vm.campaign._id" ng-click='vm.activateCampaignFn()' class="btn btn-primary btn-wide btn-scroll btn-scroll-top btn-o ti-power-off">
                            <span>
                                <div>
                                    Activate Campaign
                                </div>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class='row'>
                <span>STATUS: {{vm.campaign.status}}</span>
                <span>LAST SAVED: {{vm.campaign.modified.date| date : 'medium'}}</span>
            </div>
        </div>
        <div class="row email-campaign-main" ng-hide="!vm.dataLoaded">
            <div class="col-sm-4 bg-white">
                <span>Email Preview</span>
                <button type="button" ng-disabled="saveLoading || !vm.campaign.steps[0].settings.emailId || vm.disableEditing" ui-sref='app.emailEditor({id: vm.campaign.steps[0].settings.emailId})' class="btn btn-primary btn-wide btn-scroll btn-scroll-top btn-o ti-pencil">
                    <span>
                        <div>
                            Edit
                        </div>
                    </span>
                </button>
            </div>
            <div class="col-sm-4">
                <div class='form-group'>
                    <label>Campaign Type</label>
                    <select class='form-control' ng-model='vm.campaign.type'>
                        <option value='onetime'>One Time</option>
                        <option value='autoresponder'>Auto Responder</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 bg-white">schedule</div>
        </div>
    </div>
</div>