<indig-navprompt
    class="indig-navprompt"
    my-state="{{$state.$current.name}}"
    reset-dirty="vm.resetDirtyFn()"
    check-if-dirty="vm.checkIfDirtyFn()"
    save-page="vm.saveAsDraftFn()"
    save-page-check="vm.uiState.dataLoaded"
    allow-redirect="vm.uiState.allowRedirect">
</indig-navprompt>

<div class="indi-email-campaign">

    <!-- start: PAGE TITLE -->
    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle">Campaign Configuration</h1>
                <div class="mainDescription">
                    <span ng-if="!vm.uiState.disableEditing">Edit this <b>{{vm.state.campaign.status.toLowerCase()}}</b> campaign before activating it</span>
                    <span ng-if="vm.uiState.disableEditing">This <b>{{vm.state.campaign.status.toLowerCase()}}</b> campaign was activated on {{vm.state.campaign.modified.date | date : 'medium'}}</span>
                    <span class="fa-stack fa-lg text-large margin-left-5">
                        <span class="fa fa-circle-thin fa-stack-2x"
                            ng-class="{
                                'text-muted': vm.state.campaign.status.toLowerCase() == 'draft',
                                'text-orange': vm.state.campaign.status.toLowerCase() == 'running',
                                'text-green': vm.state.campaign.status.toLowerCase() == 'completed',
                                'text-red': vm.state.campaign.status.toLowerCase() == 'cancelled'
                            }">
                        </span>
                        <span class="fa fa-stack-1x" tooltip-placement="top" tooltip="{{vm.state.campaign.status | titleCase}} " ng-class="{
                              'fa-pencil text-muted': vm.state.campaign.status.toLowerCase() == 'draft',
                              'fa-clock-o text-orange': vm.state.campaign.status.toLowerCase() == 'running',
                              'fa-check text-green': vm.state.campaign.status.toLowerCase() == 'completed',
                              'fa-close text-red': vm.state.campaign.status.toLowerCase() == 'cancelled'
                            }">
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <div ng-class="{
                'load1 csspinner':
          !vm.uiState.dataLoaded
            }">
        <!-- end: PAGE TITLE -->
        <div class="container-fluid container-fullw bg-white padding-top-15 padding-bottom-15">
            <div class='row'>
                <div class="col-sm-4">
                    <div class='form-group flex'>
                        <input
                            class="form-control inline width-400"
                            type="text"
                            placeholder="Untitled Campaign"
                            ng-model="vm.state.campaign.name"
                            ng-disabled="!vm.uiState.dataLoaded || vm.state.campaign.status.toLowerCase() !== 'draft'"/>
                        <button
                            type="button"
                            ng-disabled="!vm.uiState.dataLoaded"
                            ng-if="vm.uiState.disableEditing || vm.state.campaign.status.toLowerCase() !== 'cancelled'"
                            ng-click='vm.cancelCampaignFn()'
                            class="btn btn-o btn-danger margin-left-5"
                            tooltip-placement="bottom"
                            tooltip-html-unsafe="Cancel this campaign.">
                            <i class="ti-na"></i>
                        </button>
                        <button
                            type="button"
                            ng-disabled="!vm.uiState.dataLoaded"
                            ng-click='vm.deleteCampaignFn()'
                            class="btn btn-o btn-danger margin-left-5"
                            tooltip-placement="bottom"
                            tooltip-html-unsafe="Delete this campaign.">
                            <i class="ti-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class='pull-right'>
                        <button type="button" ng-if="!vm.uiState.disableEditing" ng-disabled="!vm.uiState.dataLoaded || vm.state.campaign.status.toLowerCase() === 'cancelled' || !vm.state.campaign.name" ng-click='vm.saveAsDraftFn()' class="btn btn-primary padding-right-10 margin-bottom-5">
                            <i class="ti-save"></i>
                            <span>Save</span>
                        </button>
                        <button type="button" ng-disabled="!vm.uiState.dataLoaded" ng-click='vm.duplicateFn()' class="btn btn-primary padding-right-10 margin-bottom-5">
                            <i class="ti-files"></i>
                            <span>Duplicate</span>
                        </button>
                        <button type="button" ng-disabled="!vm.uiState.dataLoaded || !vm.state.email || vm.state.campaign.status.toLowerCase() === 'cancelled'" ng-click='vm.openModalFn("send-test-email-modal")' class="btn btn-primary padding-right-10 margin-bottom-5">
                            <i class="ti-location-arrow"></i>
                            <span>Send Test</span>
                        </button>
                        <button type="button" ng-if="!vm.uiState.disableEditing" ng-disabled="!vm.canActivateFn() || !vm.state.campaign.name" ng-click='vm.activateCampaignFn()' class="btn btn-success padding-right-10 margin-bottom-5">
                            <i class="ti-power-off"></i>
                            <span>Activate Campaign</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class="col-xs-12">
                    <div class="text-nowrap pull-left">
                        <h4 class="text-u ssb-admin-panel-header inline no-border">Status:</h4>
                        <span class="text-u text-indigenous-blue padding-right-15">{{vm.state.campaign.status}}</span>
                    </div>
                    <div class="text-nowrap pull-left">
                        <h4 class="text-u ssb-admin-panel-header inline no-border">Last Saved:</h4>
                        <span class="text-u text-indigenous-blue">{{vm.state.campaign.modified.date | date : 'medium' || vm.state.campaign.created.date | date : 'medium'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid container-fullw margin-bottom-15 padding-top-15 padding-bottom-15">
            <div class="row email-campaign-main" ng-hide="!vm.uiState.dataLoaded">
                <div class="col-md-4">
                    <h4 class="text-u ssb-admin-panel-header no-border">Campaign type</h4>
                    <div class="panel panel-white form-group bg-white padding-10">
                        <!-- <select class='form-control' ng-model='vm.state.campaign.type' ng-disabled="vm.uiState.disableEditing">
                            <option value='onetime'>One Time</option>
                            <option value='autoresponder'>Auto Responder</option>
                        </select> -->
                        <div class="radio clip-radio radio-primary" style="margin-top:0px!important">
                            <input type="radio" id="radio_one-time" name="campaign_type" ng-checked="vm.state.campaign.type === 'onetime'" value="onetime" ng-model="vm.state.campaign.type" ng-disabled="vm.uiState.disableEditing">
                            <label for="radio_one-time" class="margin-top-0 margin-bottom-0">
                                One Time
                            </label>
                        </div>
                        <div class="radio clip-radio radio-primary margin-bottom-0" style="margin-top:0px!important">
                            <input type="radio" id="radio_auto-responder" name="campaign_type" ng-checked="vm.state.campaign.type === 'autoresponder'" value="autoresponder" ng-model="vm.state.campaign.type" ng-disabled="vm.uiState.disableEditing">
                            <label for="radio_auto-responder" class="margin-top-0 margin-bottom-0">
                                Auto Responder
                            </label>
                        </div>
                    </div>

                    <div ng-if="vm.state.campaign.type === 'autoresponder'">
                        <h4 class="text-u ssb-admin-panel-header no-border">When To Send</h4>
                        <div class="panel panel-white form-group bg-white padding-10">
                            <p>Send an automated response for the following events. More events coming soon.</p>
                            <div class="row margin-bottom-30">
                                <div class="col-xs-12" ng-repeat="trigger in vm.uiState.triggers">
                                    <div class="panel animated no-radius text-center margin-bottom-0 cursor-pointer" ng-class="{true:'panel - light - grey pulse',false:'panel - white'}[trigger == vm.state.campaign.steps[0].trigger]">
                                        <div class="panel-body" ng-class="{'bg-light-grey': hover1}" ng-mouseenter="hover1 = true" ng-mouseleave="hover1 = false" ng-click="vm.state.campaign.steps[0].trigger = trigger.value">
                                            <span ng-class="{'text-nephritis': vm.state.campaign.steps[0].trigger == trigger.value, 'text-muted': vm.state.campaign.steps[0].trigger != trigger.value, 'fa fa-check fa-2x': vm.state.campaign.steps[0].trigger == trigger.value}" class="text-nephritis" style="position:absolute; top:o;right:0;margin-right:5px;margin-top:-10px;"></span>
                                            <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span>
                                            <h3 class="StepTitle margin-top-10">{{trigger.name}}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="vm.state.campaign.type === 'onetime'">
                        <h4 class="text-u ssb-admin-panel-header no-border">When to send</h4>
                        <div class="panel panel-white form-group bg-white padding-10">
                            <div class="radio clip-radio radio-primary" style="margin-top:0px!important">
                                <input type="radio" ng-change="vm.updateSendNowFn('now')" id="radio3" name="vertical" value="now" ng-model="vm.uiState.whenToSend" ng-disabled="vm.uiState.disableEditing">
                                <label for="radio3" class="margin-top-0 margin-bottom-0">
                                    Now
                                </label>
                            </div>
                            <div class="radio clip-radio radio-primary margin-bottom-0">
                                <input ng-change="vm.updateSendNowFn('later')" type="radio" id="radio4" name="vertical" value="later" ng-model="vm.uiState.whenToSend" ng-disabled="vm.uiState.disableEditing">
                                <label for="radio4" class="margin-top-0 margin-bottom-0">
                                    Later
                                </label>
                            </div>
                        </div>
                        <div class="well bg-white pull-left margin-bottom-20 delivery-selector" ng-if="vm.uiState.whenToSend !== 'now'" ng-class="{'disabled': vm.uiState.disableEditing}">
                            <datepicker ng-model="vm.uiState.delivery.date" min-date="vm.uiState.delivery.minDate" show-weeks="true" class="margin-bottom-10" custom-class="selectedDay"></datepicker>
                            <div class="clearfix"></div>
                            <timepicker ng-model="vm.uiState.delivery.date" hour-step="vm.uiState.hstep" minute-step="vm.uiState.mstep" min="vm.uiState.delivery.minDate" class="center"></timepicker>
                        </div>
                        <div ng-if="invalidDate && whenToSend === 'later' && isEditable" class="col-xs-12">
                            <span style="font-weight: bold;color: #E6674A;">Invalid time</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <h4 class="text-u ssb-admin-panel-header no-border">Campaign Email</h4>
                    <div class="panel panel-white form-group bg-white padding-10">
                        <span ng-if="!vm.state.emails.length">Loading... <b class="fa fa-spinner fa-spin"/></span>

                        <div ng-if="vm.state.emails.length">

                            <ui-select
                                ng-model="vm.state.campaign.steps[0].settings.emailId"
                                theme="bootstrap"
                                on-select="vm.updateCampaignEmailSettingsFn(true)"
                                ng-disabled="vm.uiState.disableEditing">
                                <ui-select-match
                                    placeholder="Select an email template">
                                    {{$select.selected.title}} (subject:{{vm.state.campaign.steps[0].settings.subject}})
                                </ui-select-match>
                                <ui-select-choices repeat="email._id as email in vm.state.emails | propsFilter: {title: $select.search}">
                                    <div ng-bind-html="email.title | highlight: $select.search"></div>
                                    <small>
                                    subject: <span ng-bind-html="''+email.subject | highlight: $select.search"></span>
                                  </small>
                                </ui-select-choices>
                            </ui-select>

                            <div class="form-group margin-bottom-0">
                                <label class="control-label text-bold">
                                    From Name
                                </label>
                                <span editable-text="vm.state.campaign.steps[0].settings.fromName">{{vm.state.campaign.steps[0].settings.fromName || "From Name"}}</span>
                            </div>
                            <div class="form-group margin-bottom-0">
                                <label class="control-label text-bold">
                                    From Email
                                </label>
                                <span editable-email="vm.state.campaign.steps[0].settings.fromEmail" e-required onbeforesave="validateEmail($data)">{{vm.state.campaign.steps[0].settings.fromEmail || "From Email"}}</span>
                            </div>
                            <div class="form-group margin-bottom-0">
                                <label class="control-label text-bold">
                                    Reply To
                                </label>
                                <span editable-email="vm.state.campaign.steps[0].settings.replyTo" onbeforesave="validateEmail($data)">{{vm.state.campaign.steps[0].settings.replyTo || "Reply To"}}</span>
                            </div>
                            <div class="form-group margin-bottom-0">
                                <label class="control-label text-bold">
                                    Bcc
                                </label>
                                <span editable-email="vm.state.campaign.steps[0].settings.bcc" onbeforesave="validateEmail($data)">{{vm.state.campaign.steps[0].settings.bcc || "Bcc"}}</span>
                            </div>
                            <div class="form-group margin-bottom-0">
                                <label class="control-label text-bold">
                                    Subject
                                </label>
                                <span editable-text="vm.state.campaign.steps[0].settings.subject" onbeforesave="analyzeSubject($data)">{{vm.state.campaign.steps[0].settings.subject || "Subject"}}</span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group margin-bottom-10" ng-if="vm.state.campaign.steps[0].settings.subject" ng-show="subjectScore">
                                <label> <a href="#" style="color:#858585" ng-click="openModal('subject-score-modal')">Subject Strength <span class="fa fa-info-circle"></span></a></label>
                                <label class="pull-right text-bold" ng-class="{'text-danger': subjectScore<25, 'text-warning': subjectScore>=25 && subjectScore<50, 'text-info': subjectScore>=50 && subjectScore<75, 'text-nephritis': subjectScore>=75}">
                                    <span ng-if="subjectScore<30">Weak</span>
                                    <span ng-if="subjectScore>=30 && subjectScore<=50">Fair</span>
                                    <span ng-if="subjectScore>50 && subjectScore<80">Good</span>
                                    <span ng-if="subjectScore>=80">Strong</span> {{subjectScore}}%</label>
                                <progressbar value="subjectScore" animate="true" type="{{getProgressType(subjectScore)}}" class="progress-xs margin-bottom-0"></progressbar>
                            </div>

                            <a
                                ui-sref='app.emailEditor({id: vm.state.campaign.steps[0].settings.emailId})'
                                class="btn btn-primary margin-top-15"
                                tooltip-placement="top"
                                tooltip-html-unsafe="Make changes to this email in the editor."
                                ng-disabled="vm.uiState.disableEditing || !vm.state.campaign.steps[0].settings.emailId">
                                <i class="fa fa-pencil-square-o"></i>
                                <span> Edit email content</span>
                            </a>

                        </div>
                    </div>

                </div>



                <div class="col-md-4">

                    <div ng-if="vm.state.campaign.type === 'onetime'">
                        <h4 class="text-u ssb-admin-panel-header no-border">Recipient list</h4>
                        <div class="panel panel-white">
                            <div class="panel-body no-padding">
                                <tabset>
                                    <tab heading="by Tag" disable='vm.uiState.disableEditing'>
                                        <div class="checkbox clip-check check-primary" ng-repeat="count in vm.contactCounts track by $index">
                                            <input type="checkbox" id="checkbox{{count.uniqueTag}}" value="{{count.matchingTag}}" ng-click="vm.toggleSelectionFn(count.matchingTag)" ng-checked="vm.state.tagSelection.indexOf(count.matchingTag) > - 1" ng-disabled="vm.uiState.disableEditing">
                                            <label for="checkbox{{count.uniqueTag}}">
                                                <span class="badge">{{count.numberOfTags}}</span> {{count.matchingTag}}
                                            </label>
                                        </div>
                                    </tab>
                                    <tab heading="by Contact" disable='vm.uiState.disableEditing'>
                                        <label class="text-muted">Select individuals from your contact list</label>
                                        <div class="well well-sm">
                                            <ui-select class="contact-list" multiple ng-model="vm.uiState.selectedContacts.individuals" on-select="vm.contactSelectedFn($select)" on-remove="vm.contactRemovedFn($select, $item)" theme="bootstrap" ng-disabled="disabled" close-on-select="false" style="min-width:100%" search-enabled="true">
                                                <ui-select-match placeholder="Select Contacts..."><span tooltip-placement="top" tooltip="{{$item.first}} {{$item.last}} ({{$item.details[0].emails[0].email}})" class="panel-title text-white" ng-text-truncate="($item.first || '') + ' ' + ($item.last || '') + ' (' + $item.details[0].emails[0].email + ')'" ng-tt-chars-threshold="30" ng-tt-no-toggling></span></ui-select-match>
                                                <ui-select-choices repeat="contact._id as contact in vm.state.contacts | filter:$select.search">
                                                    <span class="pull-left">
                                                        <img ng-src="contact.photo" width="35" height="35" class="screenshot img-circle" err-src="" err-contact="contact">
                                                    </span>
                                                    <span class="pull-left" style="line-height: 16px;margin-top: 3px;">
                                                        {{contact.first}} {{contact.last}}
                                                        <div class="clearfix"></div>
                                                        <small ng-if="contact.details[0].emails[0].email.length > 0">{{contact.details[0].emails[0].email}}</small>
                                                    </span>
                                                    <div class="clearfix"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </tab>
                                    <tab heading="by Email Address" disable='vm.uiState.disableEditing'>
                                        <label class="text-muted">Enter emails manually or paste a comma-separated list. Emails already in contacts will be ignored.</label>
                                        <div class="well well-sm">
                                            <tags-input
                                                ng-model="vm.uiState.selectedContacts.newEmails"
                                                add-on-paste="true"
                                                placeholder="Add an email"
                                                add-on-comma="true"
                                                allowed-tags-pattern="^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$"
                                                on-tag-adding="vm.checkContactExistsFn($tag)">
                                            </tags-input>
                                        </div>
                                    </tab>
                                </tabset>
                                <button type="button" ng-click='vm.openModalFn("campaign-contacts-list-modal")' class="btn btn-primary margin-left-15 margin-bottom-15">
                                    <i class="fa fa-users"></i>
                                    <span>View full contact list</span>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <h4 class="text-u ssb-admin-panel-header no-border">Select tags</h4>
                    <div class="panel panel-white form-group bg-white padding-10">
                        <p>Tags selected will be applied to the recipient contacts.</p>
                        <div class="well well-sm margin-bottom-30">
                            <form role="form" class="ng-pristine ng-valid">
                                <div class="form-group">
                                    <ui-select multiple tagging="vm.tagToContactFn" tagging-match-to-key="label" ng-model="vm.state.campaign.searchTags.tags" theme="bootstrap" ng-disabled="vm.uiState.disableEditing">
                                        <ui-select-match placeholder="Select tags...">{{$item.label}}</ui-select-match>
                                        <ui-select-choices repeat="tag in vm.state.contactTags | orderBy:'label' | filter:$select.search">
                                            {{tag.label}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group" ng-show="vm.state.campaign.type !== 'autoresponder'">
                                    <label>Number of recipients: {{vm.state.recipients.length + vm.uiState.selectedContacts.newEmails.length || 0}}</label>
                                </div>
                                <div class="form-group">
                                    <label class="radio-inline"><input type="radio" name="optradio" value="set" ng-model="vm.state.campaign.searchTags.operation" ng-disabled="vm.uiState.disableEditing">Set tags</label>
                                    <label class="radio-inline"><input type="radio" name="optradio" value="add" ng-model="vm.state.campaign.searchTags.operation" ng-disabled="vm.uiState.disableEditing">Add tags</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div data-ng-include data-src=" 'assets/views/partials/campaign-contacts-list-modal.html' "></div>
<div data-ng-include data-src=" 'assets/views/partials/send-test-email-modal.html' "></div>
