.ssb-media-query-medium(@rules) {
  &[data-eq-state$="medium"],
  &[data-eq-state$="large"] {
    @rules();
  }
  @media screen and (min-width: 768px) {
    &:not([class*="ssb-edit-mode"]) {
      @rules();
    }
  }
}

.ssb-media-query-large(@rules) {
  &[data-eq-state$="large"] {
    @rules();
  }
  @media screen and (min-width: 1240px) {
    &:not([class*="ssb-edit-mode"]) {
      @rules();
    }
  }
}

.ssb-theme {

}


body[class*="ssb-theme-"] .ssb-page-section-layout-hero {
    .btn, .btn-default, .btn-block, .btn-primary, button, .ssb-theme-btn {
        line-height: 1em;
        vertical-align: middle;
    }
}

body[class*="ssb-theme-"] .ssb-page-section-layout-hero {
    .btn *, .btn-default *, .btn-block *, .btn-primary *, button *, .ssb-theme-btn * {
        display: inline-block;
        line-height: 1;
    }
}

body[class*="ssb-theme-"] .ssb-theme-main-header-text {
    font-size: 43px;
    margin: 34px auto 0;
    text-align: center;
    width: 60%;

    @media screen and (min-width: 768px) {
        font-size: 96px;
    }
}


@import "ssb-themes/ssb-theme-default.less";
@import "ssb-themes/ssb-theme-young-soul.less";

