.ssb-media-query-small-only(@rules) {
  &[data-eq-state$="small"] {
    @rules();
  }
  @media screen and (max-width: 767px) {
    &:not([class*="ssb-edit-mode"]) {
      @rules();
    }
  }
}

.ssb-media-query-medium(@rules) {
  &[data-eq-state$="medium"],
  &[data-eq-state$="large"] {
    @rules();
  }
  @media screen and (min-width: 768px) {
    &:not([class*="ssb-edit-mode"]) {
      @rules();
    }
  }
}

.ssb-media-query-large(@rules) {
  &[data-eq-state$="large"] {
    @rules();
  }
  @media screen and (min-width: 1240px) {
    &:not([class*="ssb-edit-mode"]) {
      @rules();
    }
  }
}


[class*="ssb-theme-"] {

    .ssb-page-section-layout-hero {
        .btn, .btn-default, .btn-block, .btn-primary, button, .ssb-theme-btn {
            line-height: 1em;
            vertical-align: middle;
            padding: 1em;
        }
    }

    .ssb-page-section-layout-hero {

        position: relative;

        .btn *, .btn-default *, .btn-block *, .btn-primary *, button *, .ssb-theme-btn * {
            display: inline-block;
            line-height: 1.2;
        }
    }

    .ssb-page-section-layout-header [ssb-text-component],
    .ssb-page-section-layout-hero [ssb-text-component] {

        .ssb-media-query-small-only({
            font-size: 14vw;
            margin: .25em auto 0;
            text-align: center;
            width: 60%;
            line-height: 1;

            span[style] {
                font-size: 14vw!important;
            }
        });

        .ssb-media-query-medium({
            font-size: 96px;
            margin: initial;
            width: 100%;

            span[style] {
                font-size: inherit;
            }
        });
    }

    .ssb-page-section-layout-header {
        .ssb-media-query-medium({
            padding: 2em 0 0;
        });
    }

    .ssb-page-section-layout-header [navigation-component] {
        // position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;

        .ssb-media-query-medium({
            position: static;
            top: auto;
            left: auto;
            width: 50%;
        });
    }

    .ssb-page-section-layout-header [navigation-component] .navbar-toggle {
        font-size: 14vw; //align with top of header
        margin-top: .35em;
    }

    .ssb-page-section-layout-hero [ssb-text-component] {
        width: 100%;
        position: static;
        transform: none;
        margin: 0;

        .ssb-media-query-medium({
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        });
    }
}


@import "ssb-themes/ssb-theme-default.less";
@import "ssb-themes/ssb-theme-young-soul.less";

