.ssb-media-query-xsmall-only(@rules) {
  &[data-eq-state$="small"] {
    @rules();
  }
  @media screen and (max-width: 400px) {
    &:not([class*="ssb-edit-mode"]) {
      @rules();
    }
  }
}

.ssb-media-query-small-only(@rules) {
  &[data-eq-state$="small"] {
    @rules();
  }
  @media screen and (max-width: 767px) {
    &:not([class*="ssb-edit-mode"]) {
      @rules();
    }
  }
}

.ssb-media-query-small-and-up(@rules) {
  &[data-eq-state$="small"] {
    @rules();
  }
  @media screen and (min-width: 400px) {
    &:not([class*="ssb-edit-mode"]) {
      @rules();
    }
  }
}

.ssb-media-query-medium(@rules) {
  &[data-eq-state$="medium"],
  &[data-eq-state$="large"] {
    @rules();
  }
  @media screen and (min-width: 768px) {
    &:not([class*="ssb-edit-mode"]) {
      @rules();
    }
  }
}

.ssb-media-query-large(@rules) {
  &[data-eq-state$="large"] {
    @rules();
  }
  @media screen and (min-width: 1240px) {
    &:not([class*="ssb-edit-mode"]) {
      @rules();
    }
  }
}

// .ssb-responsive-font-size-adjust(@fontSize, @min, @max) {
//     & {
//         [style*=~"font-size: @{fontSize}px"] {
//             @large_min_font: @min - @fontSize;
//             @large_max_font: @max - @fontSize;
//         }
//     }
// }


[class*="ssb-theme-"] {

    -webkit-font-smoothing: antialiased !important;

    .ssb-media-query-small-only({
        .container {
            padding-right: 15px!important;
            padding-left: 15px!important;
        }
    });


    .ssb-page-section-layout-header [ssb-text-component],
    .ssb-page-section-layout-hero [ssb-text-component] {

        .ssb-media-query-small-only({
            text-align: center;
            line-height: 1;
            width: 100%!important;
            margin: 0!important;
            padding: 0!important;

            .element-wrap {
                width: 80%;
                margin: .25em auto;
            }
        });

        .ssb-media-query-medium({
            font-size: 96px;
            margin: initial;
            width: 100%;
        });
    }

}


@import "ssb-themes/ssb-theme-default.less";
@import "ssb-themes/ssb-theme-young-soul.less";

