<div class="component contact-us contact-us-v1" data-class="contact-us" data-id="">
    <div class="component-body">
        <div class="container">
            <div class="row">

                <h3 class="contact-us-title">
                    <div class="editable" data-class="title">
                        Contact
                    </div>
                </h3>

                <div class="contact-us-subtitle">
                    <div class="editable" data-class="subtitle">
                        Send me a Messgage
                    </div>
                </div>


                    <form class="form-horizontal" action="" method="post">
                        <fieldset>

                            <div class="form-group">
                                    <input id="name" name="name" type="text" placeholder="Name" class="form-control">
                            </div>

                            <div class="form-group">
                                    <input id="email" name="email" type="text" placeholder="Email" class="form-control">
                            </div>

                            <div class="form-group">
                                    <textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-outline btn-lg">Send</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>

            </div>
        </div>
    </div>
</div>