/* ---------------------------------------------------------------------- */


/*  Billing
/* ---------------------------------------------------------------------- */

.billing {
    //.container-fluid {
    //    padding-left: 0px;
    //    padding-right: 0px;
    //}
    #card-container {
        margin-bottom: 30px;
        .jp-card-container {
            transform: scale(1)!important;
        }
    }
    .no-pad-lr {
        padding-left: 0px;
        padding-right: 0px;
    }
    .vert-center {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .pricing-table {
        background-color: white;
    }
}

.view-transaction-modal {
    .paid {
        margin: 0 auto 15px;
        display: block;
    }
}
