/* ---------------------------------------------------------------------- */
/*  business profile
/* ---------------------------------------------------------------------- */

.business {
	.min-height45 {
		min-height: 45px;
	}
	.multiple-hours {
		.checkbox{
		margin-right: 0px !important;
		}
	}
	pre.business-description{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    	border: none;
    	background: none;
    	margin: 5px;
    	padding:0px;
    	table-layout: fixed;
	    width: 100%;
	    display: table;
	}

}
