/* ---------------------------------------------------------------------- */
/*  Campaigns
/* ---------------------------------------------------------------------- */
.campaigns {
    table.grid thead th {
        width: 14.28%;
        float:left;
    }
}

.disabled {
	pointer-events: none;
}

.create-campaign-spinner {
	position: absolute;
	font-size: 50px!important;
	left: 50%;
	z-index: 1;
	margin-top: 40%;
	top: 0;
}