/* ---------------------------------------------------------------------- */
/*  Campaigns
/* ---------------------------------------------------------------------- */
.campaigns {
    table.grid thead th {
        width: 12.5%;
        float:left;
        @media (max-width: 767px) {
            width: 25% !important;
        }
    }
}

.disabled {
	pointer-events: none;
}

.create-campaign-spinner {
	position: absolute;
	font-size: 50px!important;
	left: 50%;
	z-index: 1;
	margin-top: 40%;
	top: 0;
}

.ui-select-match-text {
    .text-overflow-ellipsis;
}
