.choose-account {
    ul {
        margin-bottom: 0;
        padding-left: 0;
        li {
            list-style-type: none;
            margin-bottom: 15px;
            .account-logo {
                width: 130px;
                background: #f1f1f1;
                padding: 5px;
                border-radius: 3px;
                margin-right: 15px;
                float: left;
                min-height: 40px;
                img {
                    max-width: 120px;
                    max-height: 30px;
                    margin: 0 auto;
                    display: block;
                }
            }
            span {
                line-height: 40px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &:hover {
                background: #f1f1f1;
                border-radius: 3px;
            }
            i {
                line-height: 40px;
                color: #4bafca;
                margin-right: 10px;
            }
        }
    }
    fieldset {
        margin-bottom: 0;
    }
}
