.btn-area {
    .export_btn {
        background-color: #f1c32f;
        border-color: #f1c32f;
        color: white;
    }
    .export_btn:hover {
        background-color: #efd06d;
        border-color: #efd06d;
        color: white;
    }
    .btn {
        position: relative;
        overflow: hidden;
        line-height: inherit !important;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        font-size: 14px;
    }
    .btn span:not(.fa) {
        font-family: "Raleway", sans-serif !important;
        line-height: inherit !important;
    }
    .start-padding,
    .start-padding-fr-mobile {
        padding-left: 0px
    }
    .top-padding {
        padding-top: 0px;
    }
    .import-export,
    .grp_btn {
        text-align: center;
    }
    .btn .desktop {
        display: inline-block;
    }
    .btn .mobile-text {
        display: none;
    }
     @media (min-width: 1025px) and (max-width: 1439px){
        .text-align-center{
            text-align: center;
        }
        .text-align-center button.ti-filter{
            float: none !important;

        }
        .import-export{
            text-align: left;
        }
        .export_btn, .addnewbtn {
            margin-left: 8%;
        }

    }
    @media (min-width: 1440px){
        .export_btn{
            margin-left: 10%;
        }
        .addnewbtn{
            margin-left: 7%;
        }
    }
}
