.btn-area-res {
    .btn {
        position: relative;
        overflow: hidden;
        line-height: inherit !important;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        font-size: 14px;
        }
        .btn span:not(.fa) {
            font-family: "Raleway", sans-serif !important;
            line-height: inherit !important;
        }
        .libtn {
            width: 100px;
        }
        .fix-btn-1{
            width: 20%;
            display: inline-block;
        }
        .fix-btn {
            display: inline-block;
            margin: 0px 1rem;
        }
        .text-right .fix-btn{
            margin-right: 0px;
            margin-left: 2rem;
        }
        .input-icon {
            width: 90%;
        }
        @media (min-width: 992px) {
            .libtn {
                 width: 100px;
                 min-width: 100px;
            }
            .btn-group .btn {
                width: 50px;
            }
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            .libtn {
                min-width: 84px;
                width: 84px;
            }
            .btn-group .btn {
                width: 40px;
            }
        }
        @media (max-width: 820px) {
            .fix-btn {
                display: inline-block;
                margin: 0px .8rem;
            }
            .libtn {
                min-width: 84px;
                width: 84px;
            }
            .btn-group .btn {
                width: 40px;
            }

        }
        @media (min-width: 1200px) {
            .libtn {
                min-width: 100px;
                width: 100px;
            }
            .btn-group .btn {
                width: 50px;
            }
        }
        @media  (min-width: 20px) and (max-width: 425px) {
            .fix-btn{
                width: 20%;
                display: inline-block;
            }
            .fix-btn:nth-child(2){
                margin-left: 0px;
            }
            .fix-btn-1{
                width: 70%;
                display: inline-block;
            }
            .libtn {
                width: 78px;
                min-width: 58px;
                font-size: 12px;
                padding: 8px 6px 6px 2px;
                font-weight: bold;
            }
           .btn-group .btn {
               width: 35px;
            }
           .btn .desktop {
                display: none;
            }
           .btn .mobile-text {
               display: inline-block;
            }
            .text-right .fix-btn {
                margin-right: 0px;
                margin-left: .8rem;
                width: 50%;
            }
        }
}
