/* ---------------------------------------------------------------------- */
/*  Customer Detail
/* ---------------------------------------------------------------------- */

.customer-detail {
    .no-location {
        line-height: 330px;
    }

     .notes {
        padding: 0;
        margin-bottom: 0;
        li {
            display: block;
            border-bottom: 1px solid rgba(0, 0, 0, .07);
            padding: 10px;
            &:last-child {
                border-bottom: none;
            }
        }
    }

    span.user-notes{
        white-space: pre-wrap
    }
}

.side-margin {
    margin: 5px;
}

.autocomplete ul {
    padding: 0px;
}
.customer-tags ul.dropdown-menu {
      max-height: 138px;
      z-index: 1090;
      top: inherit !important;
}
.customer-tags .ui-select-multiple.ui-select-bootstrap input.ui-select-search{
    min-width: 50%;
}

.intl-tel-input{
    display: block !important;
}
