.create-campaign {
    .panel-light-grey {
        border: 1px solid rgba(0, 0, 0, 0.07);
    }
    .mobile-bg {
        background: url('https://s3-us-west-2.amazonaws.com/indigenous-admin/mobile-template.png');
        background-repeat: no-repeat;
        background-position-x: 50%;
        height: 495px;
        margin: 30px 0;
    }
    .desktop-bg {
        background: url('https://s3-us-west-2.amazonaws.com/indigenous-admin/desktop-template.png');
        background-repeat: no-repeat;
        background-position-x: 50%;
        height: 495px;
        margin: 30px 0;
    }
    .datetimepicker .swtich,
    .datetimepicker .switch {
        background: none!important;
        width: auto;
        display: table-cell;
    }
    .delivery-selector {
        .btn-info {
            background-color: #48b1cc !important;
            border-color: #36869a;
            span {
                color: white;
            }
        }
    }
    tags-input .tags {
        background-color: white!important;
    }
    .ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
        color: #fff!important;
        background: #47b1cc;
        border: 1px solid #357ebd;
        border-radius: 4px;
        height: 25px;
        padding: 0 5px;
        line-height: 25px;
        font-size: 14px;
    }
    .well {
        position: relative;
        .form-control-feedback {
            text-align: left;
            height: auto;
            width: auto;
            margin-right: 16px;
            &.glyphicon {
                top: 8px
            }
            &.fa {
                top: 20px
            }
        }
    }
    .mini-editor {
        .transition(all 1s);
    }
    .show-fullscreen {
        position: absolute;
        right: 0;
        margin-right: 18px;
        z-index: 999;
    }
    #componentloader {
        min-height: 100% !important;
    }
    .swMain > ul li > a:before {
        width: 96%!important;
        left: -45%!important;
    }
    .swMain > ul li:first-child a:before {
        display: none!important;
    }
    .swMain > ul li:last-child a:before {
        width: 100%!important;
        left: -47%!important;
        max-width: 100%;
    }
    .avatars {
        li {
            img {
                margin-right: 3px;
                margin-bottom: 3px;
                padding: 2px;
            }
        }
    }
    .campaign-step {
        min-height: 350px;
    }
    .campaign-step-wrap {
        .campaign-step {
            &.next {
                &.ng-hide-remove {
                    .animation(fadeInRight 1.5s);
                }
                &.ng-hide-add {
                    position: absolute;
                    top: 0;
                    .animation(fadeOutLeft 1.5s);
                }
            }
            &.prev {
                &.ng-hide-remove {
                    .animation(fadeOutRight 1.5s);
                }
                &.ng-hide-add {
                    position: absolute;
                    top: 0;
                    .animation(fadeInLeft 1.5s);
                }
            }
        }
    }
}
