/* ---------------------------------------------------------------------- */
/*  Customer Detail
/* ---------------------------------------------------------------------- */

.customer-detail {
    .no-location {
    	line-height: 155px;
    }
}

.side-margin {
	margin: 5px;
}
.autocomplete ul{
    padding: 0px;
    }
