/* ---------------------------------------------------------------------- */
/*  Customers
/* ---------------------------------------------------------------------- */

.customers {
    .social {
    	list-style-type: none;
    	margin-bottom: 0;
    }
    .column-width {
    	width: 12.5%;
    }

    table.grid thead th {
	width: 12.5%;
    }
}
