.customers{
    
    table.table-list-view{
        
        td.text-adjust-col{
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    max-width: 1px;
        }
        span.text-adjust-inner-content{
            display:inline-block;
            max-width: 100%;
        }

        .check-col{
            width: 5%;
        }
        .id-col{
            width: 8%;
        }
        .subDomain-col{
            width: 15%;
        }
        .customDomain-col{
            width: 15%;
        }
        .signup-col{
            width: 11%;
        }
        .trial-col{
            width: 10%;
        }
        .plan-col{
            width: 14%;
        }
        .zip-col{
            width: 12%;
        }
        .state-col{
            width: 10%;
        }
    }
    
    .customer-filter-header {
        background: #fff;
    }
    .customer-panel-body {
        padding-left: 0;
        padding-right: 0;
    }

    .customer-business-logo {
        height: auto;
        max-height: 48px;
        width: auto;
        max-width: 200px;
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
}

.live-visitor .live-visitor-details{
    margin-left: -15px;
    margin-top: -15px;
    .visitor-left-pane{
      max-height: 400px;
      overflow: auto;
      border-right: solid 1px #EFEFF4;
      padding-right:0;
      table{
          width: 100%;
          tr {
            &:nth-child(even) {
                background-color: #efeeef
            }
            &:nth-child(odd) {
                background-color: #FFF
            }
            &.active-visitor-detail{
                border-left: 3px solid rgb(17, 161, 17) ;
            }
            border-collapse: collapse;
            th{
               font-weight: bold;
            }
            td,th{
                border-left: 1px solid #efeeef;
                border-right: 1px solid #efeeef;
                padding: 4px 0px 4px 4px;
                &:last-child{
                    border-right : none;
                }
                &:first-child{
                    border-left : none;
                    padding-left: 6px;
                }

            }
        }
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li.active-visitor-detail{
          .visitor-address{
            border-left: #32CD32 5px solid !important;
            padding-left: 10px !important;
          }
        }
        li{
          line-height: 2.5em;
          float: left;
          width: 100%;
          border-bottom: 1px solid #e2e2e4;
        }
        li:nth-child(even) {
          background-color: #efefef;
        }
      }
    }
    .visitor-right-pane{
      line-height: 1.6em;
      border-left: 1px solid #efeeef;
      .main-info,.full-info{
        background-color: #efeeef;
        padding-top: 7px;
        .image-outer{
            padding: 0px 0px 0px 5px;
            img.logo{
                width: 80px;
                height: 80px;
                border-radius: 60%
              }
         }
      }
      .adv-info{
        font-size: 12px;
          &>li div{
            padding-right: 0px;
            padding-left: 5px;
          }
        }
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            display:inline-block;
            width:48%;
        }
        @media screen and (max-width: 767px) {
            li{
                display:inline-block;
                width:100%;
            }
        }
    }
    ul.page-events{
        padding: 5px;
        max-height: 200px;
        overflow-y: scroll;
        li{
            display:inline-block;
            width:100%;
            padding-left: 10px;
        }
        &>li{
            border-left: 1px solid #47b2d1;
            position: relative;
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: -5px;
                width: 10px;
                height: 10px;
                border-radius: 6px;
                background:#47b2d1;
            }
            &:last-child{
                border-left:none;
                &:after {
                    background:#04e261;
                }
            }
        }
      }
      .page-event-tooltip .tooltip-inner{
        word-wrap: break-word;
      }

    }
    .visitor-address{
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .visitor-account{
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .visitor-timestamp{
      color: #48b1cc;
      padding-top: 10px;
      padding-bottom: 10px;

    }

  }
  #dahs-live{
    h4{
        font-weight: 300;
        font-size: 24px;
    }
    .analytics-live-widget-container{
        border: none;
    }
    .visitor-left-pane table tr{
        th:nth-child(2),td:nth-child(2){
            display: none;
        }
    }
}

