.as-sortable-drag {
    opacity: .8;
    border: 1px solid #cccccc!important;
    border-radius: 5px;
    background: #f6f6f6!important;
    color: #6a6a6a;
    text-align: left;
    h4 {
        margin-left: 0;
    }
}

#reorderNavBarContainer {
    .as-sortable-placeholder {
        background: #eeeeee;
        border: 1px dashed #c2c2c2!important;
        margin-bottom: 10px;
    }
    ul {
        list-style: none;
        padding-left: 0;
        text-transform: capitalize;
        li, .as-sortable-item {
            position: relative;
            border: 1px solid #cccccc!important;
            border-radius: 5px;
            background: #f6f6f6!important;
            color: #6a6a6a;
        }
    }
}