.as-sortable-drag {
    opacity: .8;
    border: 1px solid #cccccc!important;
    border-radius: 5px;
    background: #f6f6f6!important;
    color: #6a6a6a;
    text-align: left;
    h4 {
        margin-left: 0;
    }
}

#reorderNavBarContainer {
    .as-sortable-placeholder {
        background: #eeeeee;
        border: 1px dashed #c2c2c2!important;
        margin-bottom: 10px;
    }
    ul {
        list-style: none;
        padding-left: 0;
        text-transform: capitalize;
        li, .as-sortable-item {
            position: relative;
            border: 1px solid #cccccc!important;
            border-radius: 5px;
            background: #f6f6f6!important;
            color: #6a6a6a;
        }
    }
}

.add-component-modal {
    .tab-content {
        max-height: 300px;
        height: 100%;
        overflow: auto;
    }
}

.btn-comment-o {
    color: #fff;
    background-color: #F0E301;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-comment-o:hover,
.btn-comment-o:focus,
.btn-comment-o:active,
.btn-comment-o.active,
.open>.dropdown-toggle.btn-comment-o {
    color: #fff;
    background-color: #F0E301;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-comment-o:active,
.btn-comment-o.active,
.open>.dropdown-togglle.btn-comment-o {
    background-image: none
}

.btn-comment-o.disabled,
.btn-comment-o[disabled],
fieldset[disabled] .btn-comment-o,
.btn-comment-o.disabled:hover,
.btn-comment-o[disabled]:hover,
fieldset[disabled] .btn-comment-o:hover,
.btn-comment-o.disabled:focus,
.btn-comment-o[disabled]:focus,
fieldset[disabled] .btn-comment-o:focus,
.btn-comment-o.disabled:active,
.btn-comment-o[disabled]:active,
fieldset[disabled] .btn-comment-o:active,
.btn-comment-o.disabled.active,
.btn-comment-o[disabled].active,
fieldset[disabled] .btn-comment-o.active {
    background-color: #F0E301;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-comment-o .badge {
    color: #F0E301;
    background-color: #fff
}

.btn-vine {
    color: #fff;
    background-color: #00B389;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-vine:hover,
.btn-vine:focus,
.btn-vine:active,
.btn-vine.active,
.open>.dropdown-toggle.btn-vine {
    color: #fff;
    background-color: #00B389;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-vine:active,
.btn-vine.active,
.open>.dropdown-toggle.btn-vine {
    background-image: none
}

.btn-vine.disabled,
.btn-vine[disabled],
fieldset[disabled] .btn-vine,
.btn-vine.disabled:hover,
.btn-vine[disabled]:hover,
fieldset[disabled] .btn-vine:hover,
.btn-vine.disabled:focus,
.btn-vine[disabled]:focus,
fieldset[disabled] .btn-vine:focus,
.btn-vine.disabled:active,
.btn-vine[disabled]:active,
fieldset[disabled] .btn-vine:active,
.btn-vine.disabled.active,
.btn-vine[disabled].active,
fieldset[disabled] .btn-vine.active {
    background-color: #00B389;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-vine .badge {
    color: #00B389;
    background-color: #fff
}

.btn-desktop {
    color: #fff;
    background-color: #00A8CB;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-desktop:hover,
.btn-desktop:focus,
.btn-desktop:active,
.btn-desktop.active,
.open>.dropdown-toggle.btn-desktop {
    color: #fff;
    background-color: #00A8CB;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-desktop:active,
.btn-desktop.active,
.open>.dropdown-toggle.btn-desktop {
    background-image: none
}

.btn-desktop.disabled,
.btn-desktop[disabled],
fieldset[disabled] .btn-desktop,
.btn-desktop.disabled:hover,
.btn-desktop[disabled]:hover,
fieldset[disabled] .btn-desktop:hover,
.btn-desktop.disabled:focus,
.btn-desktop[disabled]:focus,
fieldset[disabled] .btn-desktop:focus,
.btn-desktop.disabled:active,
.btn-desktop[disabled]:active,
fieldset[disabled] .btn-desktop:active,
.btn-desktop.disabled.active,
.btn-desktop[disabled].active,
fieldset[disabled] .btn-desktop.active {
    background-color: #00A8CB;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-desktop .badge {
    color: #00A8CB;
    background-color: #fff
}

.btn-youtube {
    color: #fff;
    background-color: #CF3427;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-youtube:hover,
.btn-youtube:focus,
.btn-youtube:active,
.btn-youtube.active,
.open>.dropdown-toggle.btn-youtube {
    color: #fff;
    background-color: #CF3427;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-youtube:active,
.btn-youtube.active,
.open>.dropdown-toggle.btn-youtube {
    background-image: none
}

.btn-youtube.disabled,
.btn-youtube[disabled],
fieldset[disabled] .btn-youtube,
.btn-youtube.disabled:hover,
.btn-youtube[disabled]:hover,
fieldset[disabled] .btn-youtube:hover,
.btn-youtube.disabled:focus,
.btn-youtube[disabled]:focus,
fieldset[disabled] .btn-youtube:focus,
.btn-youtube.disabled:active,
.btn-youtube[disabled]:active,
fieldset[disabled] .btn-youtube:active,
.btn-youtube.disabled.active,
.btn-youtube[disabled].active,
fieldset[disabled] .btn-youtube.active {
    background-color: #CF3427;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-youtube .badge {
    color: #CF3427;
    background-color: #fff
}

.btn-yelp {
    color: #fff;
    background-color: #CE2200;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-yelp:hover,
.btn-yelp:focus,
.btn-yelp:active,
.btn-yelp.active,
.open>.dropdown-toggle.btn-yelp {
    color: #fff;
    background-color: #CE2200;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-yelp:active,
.btn-yelp.active,
.open>.dropdown-toggle.btn-yelp {
    background-image: none
}

.btn-yelp.disabled,
.btn-yelp[disabled],
fieldset[disabled] .btn-yelp,
.btn-yelp.disabled:hover,
.btn-yelp[disabled]:hover,
fieldset[disabled] .btn-yelp:hover,
.btn-yelp.disabled:focus,
.btn-yelp[disabled]:focus,
fieldset[disabled] .btn-yelp:focus,
.btn-yelp.disabled:active,
.btn-yelp[disabled]:active,
fieldset[disabled] .btn-yelp:active,
.btn-yelp.disabled.active,
.btn-yelp[disabled].active,
fieldset[disabled] .btn-yelp.active {
    background-color: #CE2200;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-yelp .badge {
    color: #CE2200;
    background-color: #fff
}

.btn-vimeo-square {
    color: #fff;
    background-color: #1ab7ea;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-vimeo-square:hover,
.btn-vimeo-square:focus,
.btn-vimeo-square:active,
.btn-vimeo-square.active,
.open>.dropdown-toggle.btn-vimeo-square {
    color: #fff;
    background-color: #1ab7ea;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-vimeo-square:active,
.btn-vimeo-square.active,
.open>.dropdown-toggle.btn-vimeo-square {
    background-image: none
}

.btn-vimeo-square.disabled,
.btn-vimeo-square[disabled],
fieldset[disabled] .btn-vimeo-square,
.btn-vimeo-square.disabled:hover,
.btn-vimeo-square[disabled]:hover,
fieldset[disabled] .btn-vimeo-square:hover,
.btn-vimeo-square.disabled:focus,
.btn-vimeo-square[disabled]:focus,
fieldset[disabled] .btn-vimeo-square:focus,
.btn-vimeo-square.disabled:active,
.btn-vimeo-square[disabled]:active,
fieldset[disabled] .btn-vimeo-square:active,
.btn-vimeo-square.disabled.active,
.btn-vimeo-square[disabled].active,
fieldset[disabled] .btn-vimeo-square.active {
    background-color: #1ab7ea;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-vimeo-square .badge {
    color: #1ab7ea;
    background-color: #fff
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
