/* ---------------------------------------------------------------------- */
/*  Emails
/* ---------------------------------------------------------------------- */

.email-templates {
    table.grid thead th {
        width: 14.28%;
        float:left;
        @media (max-width: 767px) {
            width: 25% !important;
        }
    }
    table.table-list-view{
    	.email-title{
    		line-height: 38px;
    	}
        thead:first-child>tr:first-child>th {
            width: 15%;
        }
    }
}
