/* ---------------------------------------------------------------------- */
/*  Getting Started
/* ---------------------------------------------------------------------- */

.getting-started {
    .list-group {
        h3 {
            margin: 0;
            margin-top: 7px;
            color: #fcb040;
        }
    }
}
