.inventory.inventory-container{
	table{
		th{
			text-transform: uppercase;
			font-weight: normal;
			color: #398da3 !important;
		}
		td.vendorCoulmn span{
			color:#70c2d7 !important;
		}
	}

	table.bg-white{
		th.name-col{
			width:20%;
		}
		th.vendor-col{
			width:20%;
		}
		th.sku-col{
			width: 15%;
		}
		th.desc-col{
			width: 30%;
		}
		th.qty-col{
			width: 15%;
		}
		td.qtyColumn{
			text-align: right;
			padding-right: 4%;
		}
		tr:hover{
			td:first-child{
				border-left: #32CD32 4px solid
			}
		}
		tr{
			height: 4em;
			td:first-child{
				border-left: transparent 4px solid;
			}
		}
		.name-block-container{
			line-height: 2em;
			display: inline-block;
			.list-name{
				width: 27px;
			    height: 27px;
			    background: #48b1cc !important;
			    border-radius: 30%;
			    margin-right: 10px;
			    float:left;
			}
		}
		
	}
}