inventory-details-component{
	
	.inventory-top-buttons{
	    padding: 10px !important;
	}
	.inventory-details-container{
		margin-top: 20px;
		margin-bottom: 20px;
		.inventory-details-left-panel{
			color: #8ea5b8 !important;
			h4{
				color:inherit;
			}
			hr{
				margin-top: 5px;
			}
			.required{
				position: absolute;
			    right: 0;
			    color: red;
			    font-weight: bolder;
			    font-size: large;
			}
			div.description{
				padding-right: 10px;
			}
		}
	}
}