/* ---------------------------------------------------------------------- */
/*  Order Detail
/* ---------------------------------------------------------------------- */

.order-detail {
    // .dropdown-menu {
    //     max-height: 200px;
    //     overflow: auto;
    // }

    .order-date {
        input, .input-group-btn {
            z-index: 0;
        }

    }
    .dropdown-menu.ng-valid-date {
        li {
            table {
                &:focus {
                    outline: none!important;
                }
            }
        }
    }
    .order-notes {
        padding: 0;
        margin-bottom: 0;
        li {
            display: block;
            border-bottom: 1px solid rgba(0, 0, 0, .07);
            padding: 10px;
            &:last-child {
                border-bottom: none;
            }
        }
    }
    span.user-notes{
         white-space: pre-wrap
    }
    #orderItems {
        .fa-edit {
            opacity: .8;
            &:hover {
                opacity: 1;
            }
        }
        .fa-times-circle-o {
            opacity: .8;
            &:hover {
                opacity: 1;
            }
        }
    }
    span.customer-info
    {
        cursor: pointer;
    }
    .ordered-customer {
        background: #f7f7f8 !important;
        border-radius: 0 0 0 0 !important;
        color: #5b5b60;
        font-family: inherit;
        font-size: 14px;
        line-height: 1.8;
        padding: 5px 5px;
        transition-duration: 0.1s;
        box-shadow: none !important;
    }
}
