/* ---------------------------------------------------------------------- */
/*  Orders
/* ---------------------------------------------------------------------- */

.orders {
    .column-width {
      width: 12.5%;
        @media (max-width: 767px) {
            width: 50% !important;
        }
    }
    table.grid thead th {
        float:left;
    }
    .col-style{
	    line-height: 34px;
	    margin-left: 5px;
    }
    .btn-area {
    @media (min-width: 992px) {
        .libtn {
            min-width: 105px;
        }
        .btn-group .btn {
            width: 52px;
        }
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        .libtn {
            min-width: 84px;
        }
        .btn-group .btn {
            width: 40px;
        }
        .start-padding {
            padding-left: 17px !important;
        }
        .start-padding .btn {
            margin-right: 2px;
        }
        .import-export,
        .grp_btn {
            text-align: left;
        }
        .grp_btn {
            margin-left: 2px;
            margin-right: 10px;
        }
        .export_btn:nth-child(2) {
            margin-left: 16px;
        }

    }

    @media (max-width: 768px) {
        .import-export {
            width: 39%;
        }
        .export_select {
            width: 45%;
        }
        .libtn {
            min-width: 84px;
        }
        .btn-group .btn {
            width: 40px;
        }
        .start-padding {
            padding-left: 17px !important;
        }
        .start-padding .btn {
            margin-right: 2px;
        }
        .import-export {
            text-align: center;
        }
        .grp_btn {
            text-align: left;
        }
        .grp_btn {
            margin-left: 2px;
            margin-right: 10px;
        }
        .export_btn:nth-child(2) {
            margin-left: 10px;
        }
    }

    @media (min-width: 1200px) {
        .libtn {
            min-width: 105px;
        }
        .btn-group .btn {
            width: 52px;
        }
        .import-export {
            text-align: center;
        }
    }
    @media  (min-width: 20px) and (max-width: 425px) {
       .libtn {
            width: 78px;
            min-width: 58px;
            font-size: 12px;
            padding: 8px 6px 6px 2px;
            font-weight: bold;
        }
       .top-padding{
           padding-top: 12px !important;
       }
       .btn-group .btn {
            width: 35px;
        }
       .import-export, .export_select {
            width: 50%;
        }
       .btn .desktop {
            display: none;
        }
       .btn .mobile-text {
           display: inline-block;
        }
       .grp_btn {
             margin-left: 0px;
             margin-right: 0px;
             text-align: center;
        }
        .pull-left-sm {
            float: left !important;
        }
       .start-padding-fr-mobile{
           padding-left: 10px !important;
       }
       .col-xs-9{
           width: 71%
       }
    }
}
}

// .dropdown-menu {
//         max-height: 200px;
//         overflow: auto;
//     }
