/* ---------------------------------------------------------------------- */
/*  Order Detail
/* ---------------------------------------------------------------------- */

.order-detail {
    .dropdown-menu {
        max-height: 200px;
        overflow: auto;
    }
    .order-notes {
    	padding: 0;
    	margin-bottom: 0;
    	li {
    		display: block;
    		border-bottom: 1px solid rgba(0,0,0,.07);
  			padding: 10px;
  			&:last-child {
  				border-bottom: none;
  			}
    	}
    }
}
