/* ---------------------------------------------------------------------- */
/*  Page Detail
/* ---------------------------------------------------------------------- */

.page-detail {
    margin: 0 -15px!important;
    #iframe-website {
        border: none;
        width: 100%;
        height: 100%;
    }
}
