/* ---------------------------------------------------------------------- */
/*  Pages
/* ---------------------------------------------------------------------- */

.pages {}

.pages-modal {
    .tab-content {
        max-height: 350px;
        overflow: auto;
        h1 {
            line-height: 65px;
        }
        .template-select {
            border-bottom: 1px solid #eee;
            margin: 20px 0;
            padding-bottom: 20px;
        }
    }
}
