/* ---------------------------------------------------------------------- */
/*  Posts
/* ---------------------------------------------------------------------- */

.posts {}

.posts-modal {
    .tab-content {
        max-height: 350px;
        overflow: auto;
        h1 {
            line-height: 65px;
        }
    }
}
