/* ---------------------------------------------------------------------- */
/*  Posts
/* ---------------------------------------------------------------------- */

.posts {}

.posts-modal {
    .tab-content {
        max-height: 350px;
        overflow: auto;
        h1 {
            line-height: 65px;
        }
    }
}
#component-setting-modal {
	.blog-title {
    font-family:'LatoBold';
    margin: 0;
    font-weight: normal;
    a {
	        color: #636e7b;
	        font-weight: normal;
	        font-family: Open Sans, Source Sans Pro, Helvetica, Arial, sans-serif;
	    }
	}
	.blog-meta {
        border-bottom: none!important;
        border-top: none!important;
        text-transform: none!important;
        color: #9E9E9E;
        font-family: Georgia, serif;
        font-size: 12px;
        font-style: italic;
        padding: 0 5px 7px 4px;
        margin: 0;
    }

	.post_tags {
	    padding: 0;
	    margin-bottom: 20px;
	    li {
	        display: inline-block;
	        margin-bottom: 10px;
	        background: #47b1cc;
	        padding: 5px;
	        margin-right: 10px;
	        border-radius: 5px;
	        font-size: 12px;
	        a {
	            color: #ffffff;
	        }
	    }
	}

	.blog-thumb img {
	  display: block;
	  height: 200px;
	  max-width: 100%;
	}
}
