/* ---------------------------------------------------------------------- */
/*  Product Detail
/* ---------------------------------------------------------------------- */

.product-detail {
    #variation-manager {
        .ui-select-bootstrap .ui-select-toggle>.caret {
            margin-right: -4px;
        }
        .ui-select-toggle {
            padding-right: 20px;
        }
        #panel4 {
            .panel-body {
                border-top: 1px solid #eee;
            }
        }
    }
}
.iconpicker-popover .btn.disabled{
    pointer-events: none;
}
