/* ---------------------------------------------------------------------- */
/*  Products List
/* ---------------------------------------------------------------------- */

.products {
    table.grid thead th {
        width: 20% !important;
    }
    table.grid .product-img {
        height: 80px;
        text-align: center;
        h3 {
            line-height: 50px;
        }
    }
}
