/* ---------------------------------------------------------------------- */
/*  Products List
/* ---------------------------------------------------------------------- */

.products {
    table.grid thead th {
        width: 20% !important;
    }
    table.grid .product-img {
        height: 80px;
        text-align: center;
        h3 {
            line-height: 50px;
        }
    }
    .blurred {
        .blur(5px);
    }
    .no-stripe {
        height: 255px;
        position: absolute;
        background: rgba(255, 255, 255, 0.8);
        width: 100%;
        min-height: 100%;
        padding: 15px;
        margin-left: -15px;
        margin-top: 60px;
        margin-bottom: 60px;
        z-index: 999;
        .no-stripe-wrap {
            margin-top: 60px;
        }
    }
}
