/* ---------------------------------------------------------------------- */
/*  Promotions
/* ---------------------------------------------------------------------- */


.modal-body.new-promotion-modal{
    .promo-image-container{
        img{
            width:50px;
        }
        .promotion-image-buttons-edit{
            display: inline-block;    
            float: right;
        }
    }
}