/* ---------------------------------------------------------------------- */
/*  Promotions
/* ---------------------------------------------------------------------- */


.modal-body.new-promotion-modal{
    .promo-image-container{
        img{
            width:50px;
        }
        .promotion-image-buttons-edit{
            display: inline-block;    
            float: right;
        }
    }
}
.securematics-promotions-list{
	table.bg-white{
		.col-title{
			width:15%;
		}
		.col-vendor{
			width:15%;
		}
        .col-promo-code {
            width: 10%;
        }
		.col-products{
			width: 20%;
		}
		.col-start-date{
			width: 15%;
		}
		.col-exp-date{
			width: 15%;
		}
		.col-shipment{
			width: 10%;
		}
	}

	.text-adjust-table{
		display: block;
	}
}
	