promotion-details-component{
	
	.promotion-top-buttons{
	    padding: 10px !important;
	}
	.promotion-details-container{
		border: 0 !important;
		.inner-promotion-details{
			padding:20px;
			
			.promotion-details-panel{
				.form-group{
					padding-top: 5px;
				}
				color: #777 !important;
				h4{
				    font-family: "Lato", sans-serif;
				    color: inherit;
				    display: block;
				    font-size: 17px;
				    font-weight: 300;
				}
				h3{
				    font-family: "Lato", sans-serif;
				    color: inherit;
				    display: block;
				    font-size: 22px;
				    font-weight: 300;
				}
				hr{
					margin-top: 5px;
				}
				.required{
					position: absolute;
				    right: 0;
				    color: red;
				    font-weight: bolder;
				    font-size: large;
				}
				div.description{
					padding-right: 10px;
					span:after{
						content: "\00a0";
					}
					.ui-select-bootstrap.dropdown .ui-select-match{
						outline: none !important;
						background: none !important;
						box-shadow: none !important;
					}
				}
			}
			.promotion-details-right-panel{
				@media (min-width: 768px) {
					padding-left: 20px;
				}
				.promo-image{
					img{
						max-width: 100%;
					}
				}
				.form-control, tags-input{
					width: 70%;	
					outline: none !important;
					.host{
						outline: none !important;
					}				
				}
				span.form-control{
					display: inline-block;
					float: left;
				}

				span.form-control + .btn-wide{
					min-width: 100px;
				}

				
			}
			.promotion-details-left-panel{
				
				@media (min-width: 768px) {
					padding-left: 20px;					
				}
			}
		}&.securematics-edit-promotion{
		.promotion-details-panel{
				div.description{
					padding-right: 0 !important;
					margin-bottom: 20px;
					ul.dropdown-menu{
						z-index: 9999;
					}
					.input-group{
						display: flex;
						input{
							background: none !important;
							width: 100% !important;
						}
						.input-group-btn{
							position: absolute;
    						right: 0;
							button{
								border-left: 0 !important;
								float: right;
							}
						}
					}
				}

				
				@media (max-width: 767px) {
					.form-control, tags-input, .input-group{
						width: 80%;
					}
					.single-row-view{
						padding: 0 !important;
					}					
				}
			}				
		}
		.promotion-details-left-panel{
			.form-control, tags-input{					
				outline: none !important;
				.host{
					outline: none !important;
				}				
			}
			span.form-control{
				display: inline-block;
			}

			
		}		
	}
	.loading-promotion-details{
		height: 200px;
		h2{
			margin-top: 100px;
		}
	}

	@media (max-width: 767px) {
		.btn-wide{
			min-width: 40px !important;
			span{
				display: none;
			}
		}
	}
	div#pdf-container > object {
    	height: 600px;
        padding:16px;
	}
}

.new-promotion-shipment-modal{
	.ship-product-row{
		input{
			display: inline-block;
			width:85%;
		}
		i{
			vertical-align: bottom;
		}
	}
}
.securematics-shipments-list{
	.expand-btn{
		border: none !important;
		background: transparent !important;
	}
}