.modal-body.new-purchase-order-modal{
	span.required{
		color: red;
	}
}
.modal-body-loading{
	 min-height: 200px;
	 h3{
	 	padding-top: 80px;
	 }
}
.purchase-orders-list{
	.table-po-list.table-list-view{
		.select-po-col{
			width: 5%;
		}
		.title-col{
			width: 25%;
		}
		.submitter-col{
			width: 25%;
		}		
		.created-col{
			width: 15%;
		}
		.attachment-col{
			width: 30%;
		}
	}
	.admin-po-list{
		.select-po-col{
			width: 5%;
		}
		.title-col{
			width: 20% !important;
		}
		.submitter-col{
			width: 15% !important;
		}
		.company-col{
			width: 20% !important;
		}
		.created-col{
			width: 15% !important;
		}
		.attachment-col{
			width: 25% !important;
		}
	}		
}
	