.modal-body.new-purchase-order-modal{
	span.required{
		color: red;
	}
}
.modal-body-loading{
	 min-height: 200px;
	 h3{
	 	padding-top: 80px;
	 }
}
.purchase-orders-list{
	.table-po-list.table-list-view{
		tr > th, tr > td{
			width: 16.66%;
		}
	}
}
	