purchase-order-details-component{

	.purchase-order-top-buttons{
	    padding: 10px !important;
	}


	.purchase-order-details-container{
		margin-top: 20px;
		margin-bottom: 20px;
		.inner-order-details{
			padding:20px;
			border: 1px solid #eee;
			.purchase-order-details-left-panel{
				color: #8ea5b8 !important;
				h4{
					color:inherit;
				}
				hr{
					margin-top: 5px;
				}
				.required{
					position: absolute;
				    right: 0;
				    color: red;
				    font-weight: bolder;
				    font-size: large;
				}
				div.description{
					padding-right: 10px;
					padding-bottom: 10px;
				}
				span.download-pdf{
					padding-left: 10px;
	    			color: red;
	    			font-size: 1.4em;
				}
			}
			.purchase-order-details-right-panel{
				color: #8ea5b8 !important;
				h4{
					color:inherit;
				}
				padding-left: 20px;
				border-left: 1px solid #eee;
				.notes{
					list-style: none;
					max-height:400px;
					padding-right: 0 !important;
					li{
						border: 1px solid #eee;
						border-bottom: none;
						padding: 10px;

					}
					li:last-child{
						border-bottom: 1px solid #eee;
					}
				}
			}
		}
	}

	.loading-po-details{
		height: 200px;
		h2{
			margin-top: 100px;
		}
	}

	div#pdf-container > object {
    	height: 600px;
        padding:16px;
	}

}




