.quote-cart-details{
	padding:0 !important;
    .border-right{
    	@media screen and (min-width: 768px) {
            border-right: 1px solid #eee;
        }
    }
	ul.cart-items{
		margin-left: -15px;
		margin-right: -15px;
		li{
			margin-bottom: 5px;
			&.list-item-items{
				label{
					font-weight: bold;
					font-size: 14px;
				}
			}
			.item-line-border{
				margin-left: 0px !important;
				margin-right: 0px !important;
				hr{
					margin-top: 10px;
					margin-bottom: 10px;
				}
			}
		}
	}
	.item-line-border{
		margin-left: -15px;
		margin-right: -15px;
	}
	.quote-total-price{
		color: #eea236;
	}
	.btn-remove-item{
		font-size: 20px;
	}

	.form-group{
		span.description{
			display: block;
			&:after{
				content: "\00a0";
			}
		}
	}
}

.quote-cart-details .loading-modal{
    h3{
	    position: absolute;
	    top: 40%;
	    width: 100%;
    }
}
quote-cart-details-footer{
	@media screen and (max-width: 767px) {
        .btn-wide{
        	min-width: 90px !important;
        }
    }
}

.search-quote-inventory{
	text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}