.quotes-list{
	.table-list-view{
		.title-col{
			width: 10%;
		}
		.partner-col{
			width: 10%;
		}
		.customer-col{
			width: 10%;
		}		
		.vendor-col{
			width: 15%;
		}
		.items-col{
			width: 20%;
		}
		.total-col{
			width: 15%;
		}
		.status-col{
			width: 10%;
		}
		.view-col{
			width: 10%;
		}
	}
}
