.quotes-list{
	.table-list-view{
		.title-col{
			width: 15%;
		}
		.partner-col{
			width: 10%;
		}
		.customer-col{
			width: 10%;
		}		
		.vendor-col{
			width: 15%;
		}
		.items-col{
			width: 18%;
		}
		.total-col{
			width: 12%;
		}
		.status-col{
			width: 10%;
		}
		.view-col{
			width: 10%;
		}

		td.text-adjust-col{
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    max-width: 1px;
		    div.text-adjust-inner-content{
		    	display:inline-block;
		    	max-width: 102%;
		    }
		    div.tooltip{
		    	max-width: 200px !important;
		    }
		}
	}

	.table.grid{
		td.text-adjust-col{
		    div.text-adjust-inner-content{
		    	overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    display: inline;
		    }
		}
	}

	.view-col.view-quote-details{
		span{
		    font-size: 18px;
			color: #48b1cc !important;
		}
	}
}
