.quote-cart-details{
	ul.cart-items{
		margin-left: -15px;
		li{
			margin-bottom: 5px;
			&.list-item-items{
				label{
					font-weight: bold;
					font-size: 14px;
				}
			}
			.item-line-border{
				margin-left: -15px;
				hr{
					margin-top: 10px;
					margin-bottom: 10px;
				}
			}
		}
	}
	.item-line-border{
		margin-left: -30px;
		margin-right: -30px;
	}
}