.securematics-customers-list{
	table{
		th{
			text-transform: uppercase;
			font-weight: normal;
			color: #398da3 !important;
		}
	}

	table.bg-white{
		th.code-column-col{
			width:10%;
		}
		th.name-col{
			width:25%;
		}
		th.address-col{
			width: 30%;
		}
		th.city-col{
			width: 15%;
		}
		th.state-col{
			width: 10%;
		}
		th.zip-col{
			width: 10%;
		}
		
	}
}