promotions-component, promotion-details-component{
	.promotions-stats{
		.promotions-stats-item{
			padding-top: 15px;
    		padding-bottom: 15px;
			border: 1px solid #48b1cc;
			background: #ffffff !important;
			span{
				display: block;
    			text-align: center;
			}
			span.promotions-stats-value{
				color: #48b1cc;
				font-size: 25px;

			}
			span.promotions-stats-value:after{
                content: "\00a0";
            }
			

		}
		&.promo-details-stat{
			.promotions-stats-item{			
				span.promotions-stats-value{
					font-size: 18px !important;
				}
			}
			.col-shipment{
				position: relative;
				min-height: 1px;
				padding-right: 5px;
				padding-left: 5px;
				
				float:left;
				margin-bottom: 10px;
				@media screen and (min-width: 1190px) {
	                width: 14.28%;
	            }
	            @media screen and (min-width: 768px) and (max-width: 1189px) {
	                width: 25%;
	            }
	            @media screen and (max-width: 767px) {
	                width: 33.3%;
	            }
			}
		}	
	}
}
