.securematics-customers-list{
	table{
		th{
			text-transform: uppercase;
			font-weight: normal;
			color: #398da3 !important;
		}
	}

	table.bg-white{
		.code-column-col{
			width:10%;
		}
		.name-col{
			width:25%;
		}
		.address-col{
			width: 30%;
		}
		.city-col{
			width: 15%;
		}
		.state-col{
			width: 10%;
		}
		.zip-col{
			width: 10%;
		}
		
	}
}