.securematics-promotions-section{
	.promotions-stats{
		.promotions-stats-item{
			padding-top: 15px;
    		padding-bottom: 15px;
			border: 1px solid #48b1cc;
			span{
				display: block;
    			text-align: center;
			}
			span.promotions-stats-value{
				color: #48b1cc;
				font-size: 25px;
			}
		}
	}
}