/* ---------------------------------------------------------------------- */
/*  Site Analytics
/* ---------------------------------------------------------------------- */

.site-analytics{
    .rate {
    	strong {
    		font-size: 18px;
    	}
    	.value {
    		margin-right: 10px;
    	}
    	.analytic-state-name{
    		font-size: 27px;
    	}
    }
    .device-info{
    	clear: left;	
    }
    .device-info{
    	clear: left;	
    }
}
