/* ---------------------------------------------------------------------- */
/*  Social Feed
/* ---------------------------------------------------------------------- */

.manage-feed {
    .fb-admin-pages {
        margin: 0;
        padding: 0;
        li {
            line-height: 50px;
            text-indent: 10px;
            display: block;
            float: left;
            width: 100%;
            .fa {
                line-height: 50px;
                font-size: 18px;
                &:hover {
                    color: #eeeeee;
                }
            }
            .subaccounts {
                li {
                    border-bottom: 1px solid #eeeeee;
                    padding-bottom: 5px;
                }
            }
        }
    }
}
