/* ---------------------------------------------------------------------- */
/*  Social Feed
/* ---------------------------------------------------------------------- */

.social-feed {
    #postContent {
        color: black;
    }
}

.manage-feed {
    .fb-admin-pages {
        margin: 0;
        padding: 0;
        li {
            line-height: 50px;
            text-indent: 10px;
            display: block;
            float: left;
            width: 100%;
            .fa {
                line-height: 50px;
                font-size: 18px;
                &:hover {
                    opacity: 0.7;
                }
            }
            .parentaccount {
                border-bottom: 1px solid #eeeeee;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
            .subaccounts {
                li {
                    border-bottom: 1px solid #eeeeee;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    &:last-child {
                        border-bottom: none;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}
