.topbar-settings{
	.quote-items-count{
		position: absolute;
	    top: 2px;
	    border-radius: 50%;
	    background: #eea236;
	    color: white;
	    width: auto;
	    min-width: 20px;
	    padding: 5px;
	    margin-left: -5px;
	    font-size: 12px;
	}

}