.glyph .icon {
  font-size: 32px;
}
@font-face {
  font-family: 'IcoMoon-Free';
  src: url('IcoMoon-Free.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'IcoMoon-Free' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\eaca";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-email:before {
  content: "\e945";
}

/* Using IcoMoon Free, GPL */

.social-sidebar {
  left: 0;
  position: fixed;
  top: 120px;
  -webkit-padding-start: 40px;
  width: 88px;
  z-index: 500; }

.social-sidebar li,
.social-sidebar li a {
  float: left;
  margin-bottom: 1px;
  text-align: center;
  width: 100%;
}

.social-sidebar li {
  list-style: none;
  text-indent: 0;
}

.social-sidebar li span {
  color: #ffffff;
  float: left;
  font-size: 20px;
  font-size: 2rem;
  height: 48px;
  line-height: 48px;
  width: 100%;
}

.social-sidebar li span.icon-twitter {
  background: #55ACEE; }

.social-sidebar li span.icon-facebook {
  background: #3B5998; }

.social-sidebar li span.icon-email {
  background: #5C7B98; }

.social-sidebar li span.icon-linkedin {
  background: #007BB6; }

.social-sidebar li span.icon-pinterest {
  background: #BE000F; }

.social-sidebar li span.icon-google-plus {
  background: #DD4B39; }

.social-sidebar.fixed {
  position: fixed; }

/********************************* MEDIA QUEROES *********************************/

@media (max-width: 600px){
  .social-sidebar {
    top: 200px;
    -webkit-padding-start: 5px;
    width: 37px;
  }

  .social-sidebar li span {
    font-size: 18px;
    height: 32px;
    line-height: 32px;
    opacity: 0.8;
  }

  .glyph .icon {
    font-size: 24px;
  }
}
