<div class="ssb-sidebar-inner" ng-class="vm.uiState.navigation.indexClass">

    <div
        class="ssb-sidebar-icons tabbable margin-bottom-0 ng-isolate-scope"
        ng-class="{ 'tabs-left': vm.uiState.sidebarOrientation === 'vertical' }">
        <ul class="nav nav-tabs">

            <li ng-click="vm.uiState.toggleSidebarPanel('add')" class="nav-tab" ng-class="{ 'nav-tab-is-active': vm.uiState.openSidebarPanel === 'add' }">
                <div><div class="ti-plus display-ib"></div>Add</div>
            </li>

            <li ng-click="vm.uiState.toggleSidebarPanel('pages')" class="nav-tab" ng-class="{ 'nav-tab-is-active': vm.uiState.openSidebarPanel === 'pages' }">
                <div><div class="ti-files display-ib"></div>Pages</div>
            </li>

            <li ng-click="vm.uiState.toggleSidebarPanel('content')" class="nav-tab" ng-class="{ 'nav-tab-is-active': vm.uiState.openSidebarPanel === 'content' }">
                <div><div class="ti-pencil-alt display-ib"></div><span clas="ssb-side-bar-icon-content" style="display:inline-flex;">Content</span></div>
            </li>

            <li ng-click="vm.uiState.toggleSidebarPanel('design')" class="nav-tab" ng-class="{ 'nav-tab-is-active': vm.uiState.openSidebarPanel === 'design' }">
                <div><div class="ti-brush display-ib"></div>Styles</div>
            </li>

            <li
                ng-click="vm.uiState.toggleSidebarPanel('blog');  vm.uiState.activeSectionIndex = undefined; vm.uiState.activeComponentIndex = undefined; vm.uiState.navigation.blogPanel.loadPanel({ name: 'Blog', id: 'blog' })"
                ng-if="vm.state.account.showhide.blog && vm.state.account.showhide.ssbBlog"
                class="nav-tab"
                ng-class="{ 'nav-tab-is-active': vm.uiState.openSidebarPanel === 'blog' }">
                <div><div class="ti-comment-alt display-ib"></div>Blog</div>
            </li>

        </ul>
    </div>


    <div ng-if="vm.uiState.openSidebarPanel === 'add'" class="site-editor-group site-editor-group-add editor-group tab-content">
        <div class="tab-pane" ng-class="{ 'active': vm.uiState.openSidebarPanel === 'add' }">
           <section ng-if="!vm.uiState.isBlogPage" class="ssb-sidebar-panel-inner-container">
                <header class="ssb-sidebar-panel-header">
                    <h4 class="ssb-sidebar-sub-heading">
                        Add Section
                    </h4>

                    <div class="close-panel ti-close"  ng-click="vm.uiState.openSidebarPanel = ''"></div>
                </header>

                <!-- <h4 class="row">
                    <div class="col-xs-10 col-sm-4">
                        Add new page section
                    </div>

                    <div class="col-xs-12 col-sm-7">
                        <button
                            class="ssb-add-section-sort-btn btn pull-right margin-right-20"
                            ng-class="{ 'btn-primary disabled': vm.sectionType === 'enabledUserSections', 'btn-off': vm.sectionType !== 'enabledUserSections' }"
                            ng-click="vm.setSectionType('enabledUserSections')">
                            Browse Saved
                        </button>

                        <button
                            class="ssb-add-section-sort-btn btn pull-right margin-right-20"
                            ng-class="{ 'btn-primary disabled': vm.sectionType === 'enabledPlatformSections', 'btn-off': vm.sectionType !== 'enabledPlatformSections' }"
                            ng-click="vm.setSectionType('enabledPlatformSections')">
                            Browse Platform
                        </button>
                    </div>
                </h4> -->

                <div class="ssb-sidebar-tabbable-inner">
                    <tabset class="tabbable tabs-left margin-bottom-0" ng-class="{'email-sections' : isEmail}">
                        <tab ng-repeat="sectionFilter in vm.sectionFilters">
                            <tab-heading>
                            <i class="fa {{sectionFilter.icon}}">&nbsp;</i>
                                {{sectionFilter.capitalized}}
                            </tab-heading>

                            <!-- <div ng-repeat="section in vm.sections | orderBy:'title' | filter:{ featured: true, enabled: true }" ng-if="sectionFilter.lowercase === 'featured'" class="ssb-sidebar-add-section margin-bottom-15"> -->
                            <div ng-sortable="vm.uiState.sortableListAddContentConfig" >
                                <div sectionId = "{{section._id}}" ng-repeat="section in vm.uiState.filteredSections = (vm.sections | orderBy:['title', 'version'] |  filterSsbSections:sectionFilter)" ng-if="sectionFilter.lowercase != 'all' && sectionFilter.lowercase != 'featured'" class="ssb-sidebar-add-section margin-bottom-15 ssb-sidebar-layout-version" ng-click="vm.addSectionToPageToIndex(section);vm.uiState.openSidebarPanel = '';" >
                                    <div class="ssb-sidebar-add-section-img">
                                        <div class="img-wrap">
                                            <a>
                                                <span
                                                    style=" background-image: url('{{section.preview}}');height: 190px;cursor: move;cursor: -webkit-grabbing;">
                                                </span>
                                            </a>
                                        </div>
                                        <i
                                            class="fa fa-info"
                                            tooltip-placement="left"
                                            tooltip-html-unsafe="<h4 style='color: white'>{{section.name || section.title}}</h4><p>{{section.description}}</p>"
                                            tooltip-append-to-body="true">
                                        </i>
                                    </div>
                                    <div class="ssb-sidebar-add-section-btn">
                                        <a type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-plus pull-right">
                                            <span>Add {{section.name || section.title}}</span>
                                        </a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>


                                <div sectionId = "{{section._id}}" ng-repeat="section in  vm.uiState.filteredSections = (vm.sections | orderBy:['title', 'version'] | filter:{ enabled: true })" ng-if="sectionFilter.lowercase == 'all'" class="ssb-sidebar-add-section margin-bottom-15" ng-click="vm.addSectionToPageToIndex(section);vm.uiState.openSidebarPanel = '';">
                                    <div class="ssb-sidebar-add-section-img">
                                        <div class="img-wrap">
                                            <a>
                                                <span style="  background: url('{{section.preview}}');background-size: cover;height: 115px;background-position: center;border-radius: 5px;border: 1px solid #e7e7e7;display: block;cursor: move;cursor: -webkit-grabbing;"></span>
                                            </a>
                                        </div>
                                        <i
                                            class="fa fa-info"
                                            tooltip-placement="left"
                                            tooltip-html-unsafe="<h4 style='color: white'>{{section.name || section.title}}</h4><p>{{section.description}}</p>"
                                            tooltip-append-to-body="true">
                                        </i>
                                    </div>
                                    <div class="ssb-sidebar-add-section-btn">
                                        <a type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-plus pull-right">
                                            <span>Add {{section.name || section.title}}</span>
                                        </a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>

                <!-- <h4 class="row modal-title">
                    <div class="col-xs-10 col-sm-4">
                        Re-use a section from another page
                    </div>
                </h4>

                <div>
                    <tabset class="tabbable tabs-left margin-bottom-0" ng-class="{'email-sections' : isEmail}">
                        <tab ng-repeat="sectionFilter in vm.sectionFilters">
                            <tab-heading>
                                {{sectionFilter.capitalized}}
                            </tab-heading>

                            <div ng-repeat="section in vm.enabledUserSections | orderBy:'title' | filter:{ enabled: true }" ng-if="vm.enabledUserSections.length" class="margin-bottom-15">
                                <div class="col-xs-4">
                                    <div class="img-wrap">
                                        <a ng-href="{{section.preview}}" title="" data-gallery="">
                                            <span style="  background: url('{{section.preview}}');background-size: cover;height: 115px;background-position: center;border-radius: 5px;border: 1px solid #e7e7e7;display: block;"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <h4>{{section.title}}</h4>
                                    <p>{{section.description}}</p>
                                    <button type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-plus pull-right" ng-click="vm.addSectionToPage(section);">
                                        <span>Add section</span>
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </tab>
                    </tabset>
                </div> -->


            </section>

            <span ng-if="vm.uiState.isBlogPage" tooltip-placement="bottom"
                tooltip="Blog page layouts are not yet customizable. Stay tuned." tooltip-append-to-body="true">Blog page layouts are not yet customizable. Stay tuned.</span>
                <div class="close-panel ti-close"  ng-click="vm.uiState.openSidebarPanel = ''"></div>
        </div>
    </div>

    <div ng-if="vm.uiState.openSidebarPanel === 'pages'" class="site-editor-group site-editor-group-pages editor-group tab-content">
        <div class="tab-pane" ng-class="{ 'active': vm.uiState.openSidebarPanel === 'pages' }">

            <section class="ssb-sidebar-panel-inner-container">
                <header class="ssb-sidebar-panel-header">
                    <h4 class="ssb-sidebar-sub-heading">
                        This Page
                    </h4>

                    <div class="close-panel ti-close"  ng-click="vm.uiState.openSidebarPanel = ''"></div>
                </header>

                <ul class="list-unstyled ssb-settings-list">
                    <li>
                        <label>
                            <h5>Title:</h5>
                            <span editable-text="vm.state.page.title" onbeforesave="" e-required e-placeholder="Enter title">{{vm.state.page.title || 'Enter title'}}</span>
                        </label>
                    </li>
                    <li>
                        <label ng-class="{'disabled': vm.uiState.isBlogPage && !vm.uiState.isBlogCopy}">
                            <h5>URL:</h5>
                            <span editable-text="vm.state.page.handle" onbeforesave="vm.validateDuplicatePage($data)" e-required e-placeholder="Enter url">{{vm.state.page.handle || 'Enter url'}}</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <h5>Visit Published Page:</h5>
                            <a ng-if="!vm.uiState.isBlogPage || vm.uiState.isBlogCopy" href="/{{vm.state.page.handle}}" target="_blank">/{{vm.state.page.handle}}</a>
                            <a ng-if="vm.state.page.handle === 'blog-list' || vm.state.page.handle === 'blog-post'" href="/blog" target="_blank">/blog</a>
                        </label>
                    </li>
                </ul>

                <h4 class="ssb-sidebar-sub-heading">
                    <span>All Pages ({{vm.state.pages.length}})</span>
                </h4>

                <button ng-click="vm.openModal('ssb-new-page-modal', null, null, null);" class="btn btn-primary">Add Page</button>

                <ul class="list-unstyled">
                    <li ng-repeat="page in vm.state.pages | sortListPages:vm.state.page._id:vm.state.account track by $index" ng-class="{ 'active-page': page._id === vm.state.page._id }" class="ssb-page-section-settings-item">
                        <div ng-click="vm.uiState.openPageSettingsModal('ssb-page-settings-modal', 'SiteBuilderPageSettingsModalController', null, 'lg', page._id);" class="ssb-sidebar-item-icon ti-settings display-ib" tooltip-placement="left" tooltip="Page Settings"></div>
                        <div
                            class="ssb-sidebar-item-icon ssb-sidebar-item-icon-offset-1 ti-close display-ib"
                            ng-if="page._id === vm.state.page._id && (!vm.uiState.isBlogPage || vm.uiState.isBlogCopy)" ng-click="vm.deletePage()"
                            tooltip-placement="left"
                            tooltip="Delete page">
                        </div>
                        <div
                            class="ssb-sidebar-item-icon ssb-sidebar-item-icon-offset-2 display-ib ti-eye"
                            ng-if="page._id === vm.state.page._id && vm.state.page.mainmenu !== false && (!vm.uiState.isBlogPage || vm.uiState.isBlogCopy)"
                            ng-click="vm.hideFromMenu()"
                            tooltip-placement="left"
                            tooltip="Hide this page from main menu">
                        </div>
                        <div
                            class="ssb-sidebar-item-icon ssb-sidebar-item-icon-offset-2 display-ib ti-eye"
                            ng-if="page._id === vm.state.page._id && vm.state.page.mainmenu === false && (!vm.uiState.isBlogPage || vm.uiState.isBlogCopy)"
                            ng-click="vm.showPageOnMenu()"
                            tooltip-placement="left"
                            tooltip="Show this page on main menu">
                        </div>
                        <div
                            class="ssb-sidebar-item-icon ssb-sidebar-item-icon-offset-3 display-ib ti-files"
                            ng-if="page._id === vm.state.page._id && (!vm.uiState.isBlogPage || vm.uiState.isBlogCopy)"
                            ng-click="vm.duplicatePage()"
                            tooltip-placement="left"
                            tooltip="Create duplicate page">
                        </div>
                        <div
                            class="ssb-sidebar-item-icon ssb-sidebar-item-icon-offset-1 display-ib ti-files"
                            ng-if="page._id === vm.state.page._id && page.handle === 'blog-list'"
                            ng-click="vm.duplicatePage()"
                            tooltip-placement="left"
                            tooltip="Create duplicate page">
                        </div>
                        <div class="panel-group">
                            <div class="ssb-sidebar-sortable-item panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a ng-if="page._id !== vm.state.page._id" href page-id="page._id" ng-click="vm.uiState.saveAndLoadPage(page)"><span tooltip-placement="bottom" tooltip="{{page.menuTitle || page.title}}">{{(page.menuTitle || page.title)| truncate : 60 : '...' : true}}</span></a>
                                        <a ng-if="page._id === vm.state.page._id" href page-id="page._id" ng-click="vm.uiState.navigation.loadPage(page._id)"><span tooltip-placement="bottom" tooltip="{{vm.state.page.menuTitle ||vm.state.page.title}}">{{(vm.state.page.menuTitle ||vm.state.page.title) | truncate : 55 : '...' : true}}</span></a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>

        </div>
    </div>

    <div ng-if="vm.uiState.openSidebarPanel === 'content'" class="site-editor-group site-editor-group-content editor-group tab-content">
        <div class="tab-pane" ng-class="{ 'active': vm.uiState.openSidebarPanel === 'content' }">

            <section class="ssb-sidebar-panel-inner-container">
                <header class="ssb-sidebar-panel-header">
                    <h4 class="ssb-sidebar-sub-heading">
                        <span>Page Sections ({{vm.state.page.sections.length || 0}})</span>
                    </h4>

                    <div class="close-panel ti-close"  ng-click="vm.uiState.openSidebarPanel = ''"></div>
                </header>

                <button ng-if="!vm.uiState.isBlogPage" ng-click="vm.uiState.openSidebarPanel = 'add'" class="btn btn-primary">Add Section</button>

                <button style="opacity: 0.5" ng-if="vm.uiState.isBlogPage" tooltip-placement="top"
                tooltip="Blog page layouts are not yet customizable. Stay tuned." tooltip-append-to-body="true" class="btn btn-primary">Add Section</button>

                <ul ng-if="vm.state.page.sections" class="ssb-sidebar-page-sections-list list-unstyled" ng-sortable="vm.sortableOptions" ng-model="vm.state.page.sections">
                    <li ng-repeat="section in vm.state.page.sections track by $index" class="ssb-page-section-settings-item" ng-class="{'ssb-sidebar-move-handle': !vm.uiState.isBlogPage}">
                        <div ng-hide="vm.uiState.isBlogPage" class="ssb-sidebar-item-icon ti-move display-ib"></div>
                        <div
                            ng-hide="vm.uiState.accordion.sections[vm.uiState.activeSectionIndex].isEdit || vm.uiState.isBlogPage"
                            class="ssb-sidebar-item-icon ssb-sidebar-item-icon-offset-1 ti-close display-ib"
                            ng-if="vm.uiState.activeSectionIndex === $index" ng-click="vm.removeSectionFromPage(vm.uiState.activeSectionIndex)"
                            tooltip-placement="left"
                            tooltip="Remove section">
                        </div>
                        <div
                            ng-hide="vm.uiState.accordion.sections[vm.uiState.activeSectionIndex].isEdit"
                            class="ssb-sidebar-item-icon ssb-sidebar-item-icon-offset-2 ti-pencil display-ib"
                            ng-if="vm.uiState.activeSectionIndex === $index"
                            ng-click="vm.uiState.accordion.sections[vm.uiState.activeSectionIndex].isEdit = true; vm.editSectionName('editable_{{section._id}}')"
                            tooltip-placement="left"
                            tooltip="Rename section">
                        </div>
                        <div
                            ng-hide="vm.uiState.accordion.sections[vm.uiState.activeSectionIndex].isEdit"
                            class="ssb-sidebar-item-icon ssb-sidebar-item-icon-offset-3 display-ib ti-eye"
                            ng-if="vm.uiState.activeSectionIndex === $index"
                            ng-click="vm.hideSectionFromPage(section, vm.uiState.activeSectionIndex)"
                            tooltip-placement="left"
                            tooltip="Show/hide section">
                        </div>

                        <div class="accordion panel-group">
                            <div class="ssb-sidebar-sortable-item panel panel-default" ng-click="vm.setActiveSection($index)" ng-class="{ 'ssb-sidebar-section-open': vm.uiState.activeSectionIndex === $index }">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="javascript:void(0)" class="accordion-toggle">
                                        <span ng-class="{ 'hidden-faded': !vm.showSection(section) }" ng-if="!vm.uiState.accordion.sections[vm.uiState.activeSectionIndex].isEdit">{{section.name || section.title}}</span>
                                        <span onhide="vm.uiState.accordion.sections[vm.uiState.activeSectionIndex].isEdit=false" id="editable_{{section._id}}" ng-if="vm.uiState.accordion.sections[vm.uiState.activeSectionIndex].isEdit" editable-text="section.name">{{section.name || section.title}}</span>
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>

                <!-- <button ng-click="vm.resetSiteTemplate()">Reset site</button> -->

            </section>

        </div>
    </div>

    <div ng-if="vm.uiState.openSidebarPanel === 'design'" class="site-editor-group site-editor-group-design editor-group tab-content">
        <div class="tab-pane" ng-class="{ 'active': vm.uiState.openSidebarPanel === 'design' }">

            <section class="ssb-sidebar-panel-inner-container">
                <header class="ssb-sidebar-panel-header">
                    <h4 class="ssb-sidebar-sub-heading">
                        Styles
                    </h4>

                    <div class="close-panel ti-close"  ng-click="vm.uiState.openSidebarPanel = ''"></div>
                </header>

                <h4 ng-if="vm.uiState.isBlogPage" class="ssb-sidebar-sub-heading">Page Layout</h4>
                <div ng-if="vm.uiState.isBlogPage" class="form-group">
                    <ui-select ng-model-options="{ debounce: 500 }" ng-model="vm.state.page.layout" theme="bootstrap">
                        <ui-select-match placeholder="Select a layout">
                            <small ng-bind-html="$select.selected"></small>
                        </ui-select-match>
                        <ui-select-choices repeat="layout in ['ssb-layout__1-col','ssb-layout__header_2-col_footer'] | filter: $select.search track by $index">
                            <small ng-bind-html="layout | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <h4 class="ssb-sidebar-sub-heading">Site Styles</h4>
                <div class="form-group" >
                    <div ng-hide="true">
                        <ui-select ng-model="vm.state.website.theme" ng-change="vm.applyThemeToSite($select.selected, true)" theme="bootstrap">
                        <ui-select-match placeholder="Select a theme">
                            <small ng-bind-html="$select.selected.name"></small>
                        </ui-select-match>
                        <ui-select-choices repeat="theme in vm.state.themes | filter: $select.search track by $index">
                            <small ng-bind-html="theme.name | highlight: $select.search"></small>
                        </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="row padding-10">
                        <div class="form-group ssb-spectrum-color-picker-small">
                            <spectrum-colorpicker class="ssb-spectrum-color-picker-text" format="'rgb'" options="vm.spectrum.options" ng-model="vm.state.website.themeOverrides.styles.bodyBackgroundColor"></spectrum-colorpicker>
                            <label for="colorpicker">Body Background Color <span tooltip-placement="top" tooltip="Override the default body/page background color for your website."><i class="fa fa-info-circle" /></span></label>
                        </div>

                        <div class="form-group ssb-spectrum-color-picker-small">
                            <spectrum-colorpicker class="ssb-spectrum-color-picker-text" format="'rgb'" options="vm.spectrum.options" ng-model="vm.state.website.themeOverrides.styles.headerBackgroundColor"></spectrum-colorpicker>
                            <label for="colorpicker">Header Background Color <span tooltip-placement="top" tooltip="Override the default header background color for your website."><i class="fa fa-info-circle" /></span></label>
                        </div>

                        <div class="form-group ssb-spectrum-color-picker-small">
                            <spectrum-colorpicker class="ssb-spectrum-color-picker-text" format="'rgb'" options="vm.spectrum.options" ng-model="vm.state.website.themeOverrides.styles.headerTextColor"></spectrum-colorpicker>
                            <label for="colorpicker">Header Text Color <span tooltip-placement="top" tooltip="Override the default header text color for your website."><i class="fa fa-info-circle" /></span></label>
                        </div>

                        <div class="form-group ssb-spectrum-color-picker-small">
                            <spectrum-colorpicker class="ssb-spectrum-color-picker-text" format="'rgb'" options="vm.spectrum.options" ng-model="vm.state.website.themeOverrides.styles.heroTextColor"></spectrum-colorpicker>
                            <label for="colorpicker">Hero Text Color <span tooltip-placement="top" tooltip="Override the default hero text color for your website."><i class="fa fa-info-circle" /></span></label>
                        </div>

                        <div class="form-group ssb-spectrum-color-picker-small">
                            <spectrum-colorpicker class="ssb-spectrum-color-picker-text" format="'rgb'" options="vm.spectrum.options" ng-model="vm.state.website.themeOverrides.styles.heroBackgroundColor"></spectrum-colorpicker>
                            <label for="colorpicker">Hero Background Color <span tooltip-placement="top" tooltip="Override the default hero background color for your website."><i class="fa fa-info-circle" /></span></label>
                        </div>

                        <div class="form-group ssb-spectrum-color-picker-small">
                            <spectrum-colorpicker class="ssb-spectrum-color-picker-text" format="'rgb'" options="vm.spectrum.options" ng-model="vm.state.website.themeOverrides.styles.primaryBtnBackgroundColor"></spectrum-colorpicker>
                            <label for="colorpicker">Button Background Color <span tooltip-placement="top" tooltip="Override the default button background color for your website."><i class="fa fa-info-circle" /></span></label>
                        </div>

                        <div class="form-group ssb-spectrum-color-picker-small">
                            <spectrum-colorpicker class="ssb-spectrum-color-picker-text" format="'rgb'" options="vm.spectrum.options" ng-model="vm.state.website.themeOverrides.styles.primaryTextColor"></spectrum-colorpicker>
                            <label for="colorpicker">Text Color (Primary) <span tooltip-placement="top" tooltip="Override the default text color for your website."><i class="fa fa-info-circle" /></span></label>
                        </div>

                        <div class="form-group ssb-spectrum-color-picker-small">
                            <spectrum-colorpicker class="ssb-spectrum-color-picker-text" format="'rgb'" options="vm.spectrum.options" ng-model="vm.state.website.themeOverrides.styles.primaryBtnTextColor"></spectrum-colorpicker>
                            <label for="colorpicker">Text Color (Buttons) <span tooltip-placement="top" tooltip="Override the default button text color for your website."><i class="fa fa-info-circle" /></span></label>
                        </div>


                        <div class="form-group ssb-spectrum-color-picker-small">
                            <spectrum-colorpicker class="ssb-spectrum-color-picker-text" format="'rgb'" options="vm.spectrum.options" ng-model="vm.state.website.themeOverrides.styles.checkoutBtnTextColor"></spectrum-colorpicker>
                            <label for="colorpicker">Text Color (Checkout Cart Button) <span tooltip-placement="top" tooltip="Override the default checkout button text color for your website."><i class="fa fa-info-circle" /></span></label>
                        </div>

                        <div class="form-group ssb-spectrum-color-picker-small">
                            <spectrum-colorpicker class="ssb-spectrum-color-picker-text" format="'rgb'" options="vm.spectrum.options" ng-model="vm.state.website.themeOverrides.styles.checkoutBtnBgColor"></spectrum-colorpicker>
                            <label for="colorpicker">Background Color (Checkout Cart Button) <span tooltip-placement="top" tooltip="Override the default checkout background color for your website."><i class="fa fa-info-circle" /></span></label>
                        </div>
                        
                        <div class="form-group ssb-spectrum-color-picker-small">
                            <spectrum-colorpicker class="ssb-spectrum-color-picker-text" format="'rgb'" options="vm.spectrum.options" ng-model="vm.state.website.themeOverrides.styles.primarySliderDotColor"></spectrum-colorpicker>
                            <label for="colorpicker">Slider Dot Color <span tooltip-placement="top" tooltip="Override the slider default dot color for your website."><i class="fa fa-info-circle" /></span></label>
                        </div>
                        <div class="form-group ssb-spectrum-color-picker-small">
                            <spectrum-colorpicker class="ssb-spectrum-color-picker-text" format="'rgb'" options="vm.spectrum.options" ng-model="vm.state.website.themeOverrides.styles.primarySliderActiveDotColor"></spectrum-colorpicker>
                            <label for="colorpicker">Slider Dot Color(Active Slide) <span tooltip-placement="top" tooltip="Override the slider default dot color of active slide for your website."><i class="fa fa-info-circle" /></span></label>
                        </div>
                        <div class="form-group" ng-init="vm.uiState.resizeWindow()">
                            <div>
                                <label>
                                    Slider Dot Color Opacity
                                    <span tooltip-placement="top" tooltip="Override the slider default dot color opacity for your website."><i class="fa fa-info-circle" /></span>
                                </label>
                            </div>
                            <div>
                                <rzslider
                                    class="slider-opacity"
                                    name="bg-opacity"
                                    rz-slider-model="vm.state.website.themeOverrides.styles.primarySliderDotColorOpacity" rz-slider-options="{floor: 0, ceil: 1, step: 0.1, precision: 2}">
                                </rzslider>
                            </div>                    
                        </div>


                        <div class="form-group">
                            <div>
                                <h4>
                                    Default font styles
                                </h4>
                            </div>            
                        </div>

                        <div class="form-group">
                            <label for="txt_size">
                                Font Size
                               <span tooltip-placement="top" tooltip-append-to-body="true" tooltip="Font size of button"><i class="fa fa-info-circle" /></span>
                            </label>
                            <div class="col-xs-7 pull-right">
                                <input type="text" ng-model="vm.state.website.themeOverrides.styles.fontSize" min="8" max="96" touchspin>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                Font Family
                                <span tooltip-placement="top" tooltip-append-to-body="true" tooltip="Font family for button"><i class="fa fa-info-circle" /></span>
                            </label>
                            <select ng-model="vm.state.website.themeOverrides.styles.fontFamily" class="form-control margin-bottom-0" ng-options="key as value for (key , value) in vm.fontFamilyOptions">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>
                                Letter spacing
                                <span tooltip-placement="top" tooltip-append-to-body="true" tooltip="Spacing between letters"><i class="fa fa-info-circle" /></span>
                            </label>
                            <input type="text" ng-model="vm.state.website.themeOverrides.styles.letterSpacing" min="-2" max="20" touchspin>
                        </div>
                        <div class="form-group">
                            <label>
                                Font Weight
                                <span tooltip-placement="top" tooltip-append-to-body="true" tooltip="Font family for button"><i class="fa fa-info-circle" /></span>
                            </label>
                            <select ng-model="vm.state.website.themeOverrides.styles.fontWeight" class="form-control margin-bottom-0">
                                <option value="">--Select--</option>
                                <option ng-repeat="(value, key) in vm.bodyFontWeightOptions" value="{{value}}" ng-selected="{{value == vm.state.website.themeOverrides.styles.fontWeight}}">{{key}}</option>
                            </select>
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </div>

    <div ng-if="vm.uiState.openSidebarPanel === 'blog'" class="site-editor-group-blog site-editor-group site-editor-group-add editor-group tab-content" ng-class="{ 'full-height': vm.uiState.openBlogPanel.id !== 'blog' }">
        <div class="tab-pane" ng-class="{ 'active': vm.uiState.openSidebarPanel === 'blog' }">

            <ssb-blog-editor
                state="vm.state"
                ui-state="vm.uiState"
                ng-if="vm.uiState.openBlogPanel.id">
            </ssb-blog-editor>

        </div>
    </div>

    <div data-ng-include data-src=" 'assets/js/ssb-site-builder/ssb-controls/ssb-sidebar/templates/ssb-sidebar-section-panel.component.html' "></div>


</div>
