<div>

	<ssb-sidebar state="vm.state" ng-class="{ 'ssb-sidebar-show': vm.uiState.show.sidebar, 'ssb-sidebar': true }"></ssb-sidebar>

	<div class="ssb-main" ng-class="{ 'ssb-main-full-width': !vm.uiState.show.sidebar }">
		
		<div id="componentloader">
			
			<!-- Legacy components -->
			<div ng-if="vm.state.page.components">
					<ssb-page-section ng-repeat="component in ::vm.state.page.components track by $index" components="[component]" layout="1-col" ng-class="{ 'ssb-active-section': $index === vm.state.activeSection, 'ssb-page-section': true }">
						<div ng-include=" 'assets/js/ssb-site-builder/ssb-component-loader/ssb-component-loader.component.html' "></div>
					</ssb-page-section>
			</div>
			
			<!-- SSB sections/components -->
			<div ng-if="vm.state.page.sections">
				<div ng-repeat="section in vm.state.page.sections track by $index" ng-class="{ 'ssb-active-section': $index === vm.state.activeSection, 'ssb-page-section': true }">
					<ssb-page-section components="section.components" layout="1-col">
						<div ng-repeat="component in section.components track by $index" ng-class="{ 'ssb-active-section-component': $index === vm.state.activeComponent }">
							<div ng-include=" 'assets/js/ssb-site-builder/ssb-component-loader/ssb-component-loader.component.html' "></div>
						</div>
					</ssb-page-section>
				</div>
			</div>

		</div>

	</div>

	<ssb-flyover state="vm.state" ng-class="{ 'ssb-flyover-show': vm.uiState.show.flyover && vm.state.activeSection !== undefined, 'ssb-flyover': true }"></ssb-flyover>

</div>
