<div class="modal-body">
<div class="demo-container">
    <div class="clearfix mb20"></div>
    <div class="active">
        <form action="">
            <div class="row">
                <div class="small-6 columns col-sm-6">
                    <div id="card_number">
                        <input placeholder="Card number" type="text" name="number" id="number" ng-blur="checkCardNumber()" class="form-control input-lg">
                        <span class="error help-block" />
                    </div>
                </div>
                <div class="visible-xs mb20"></div>
                <div class="small-6 columns col-sm-6">
                    <div id="card_name">
                        <input placeholder="Full name" type="text" id="name" name="name" ng-blur="checkCardName()" class="form-control input-lg">
                        <span class="error help-block" />
                    </div>
                </div>
            </div>
            <div class="clearfix mb20"></div>
            <div class="row">
                <div id="card_expiry" class="small-3 columns col-xs-6">
                    <input placeholder="MM/YY" type="text" id="expiry" name="expiry" ng-blur="checkCardExpiry()" class="form-control input-lg">
                    <span class="error help-block" />
                </div>
                <div id="card_cvc" class="small-3 columns col-xs-6">
                    <input placeholder="CVC" type="text" id="cvc" name="cvc" ng-blur="checkCardCvv()" class="form-control input-lg">
                    <span class="error help-block" />
                </div>
            </div>
            <div class="clearfix mb20"></div>
        </form>
    </div>
</div>
<div class="panel-footer row">
    <button id="btn-new-address" class="btn btn-success btn-lg btn-block" ng-click="addCardFn()" ng-show="autoClose">Add Card</button>
    <button id="btn-new-address" class="btn btn-success btn-lg btn-block" ng-click="addCardFn()" ng-hide="autoClose">Add Card</button>

</div>



