<div class="modal fade"
     id="media-manager-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="mediaModelLabel"
     aria-hidden="true"
     capture-shift on-presskey="m.toggleShiftKey">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span class="fa fa-image"></span> Media Manager
                </h4>
            </div>
            <div class="modal-body">
                <div class="row filemanager {{showType}}" ng-if="!editingImage">
                    <ul class="filemanager-options">
                        <li class="checked">
                            <div class="ckbox ckbox-default">
                                <input type="checkbox"
                                       id="selectall"
                                       ng-model="select_all"
                                       ng-change="m.selectAll()">
                                <label for="selectall">Select All</label>
                            </div>
                        </li>
                        <li class="hidden">
                            <a href="" class="itemopt" ng-disabled="!select_all"><i class="fa fa-envelope-o"></i><span class="hidden-xs">Email</span></a>
                        </li>
                        <li class="hidden">
                            <a href="" class="itemopt" ng-disabled="!select_all"><i class="fa fa-download"></i> <span class="hidden-xs">Download</span></a>
                        </li>
                        <li class="hidden">
                            <a href="" class="itemopt" ng-disabled="!select_all"><i class="fa fa-pencil"></i> <span class="hidden-xs">Edit</span></a>
                        </li>
                        <li>
                            <a href="" class="itemopt" ng-disabled="!select_all" confirm-click2 data-placement="top" confirm-click2-confirm="m.deleteAsset()"  ng-click=""><i class="fa fa-trash-o"></i> <span class="hidden-xs">Delete</span></a>
                        </li>
                        <li class="filter-type" style="font-size: 11px;">
                            Show:
                            <a href="" data-active="all"        ng-click="m.selectAll('all')"     >All</a>
                            <a href="" data-active="document"   ng-click="m.selectAll('document')"     >Documents</a>
                            <a href="" data-active="audio"      ng-click="m.selectAll('audio')"     >Audio</a>
                            <a href="" data-active="image"      ng-click="m.selectAll('image')"     >Images</a>
                            <a href="" data-active="video"      ng-click="m.selectAll('video')"     >Videos</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="media" id="assets" style="max-height:{{bodyHeight}};">
                        <div ng-repeat="asset in assets" class="col-xs-12 col-sm-4" ng-show="assets.length">
                            <div class="thmb checked">
                                <div class="ckbox ckbox-default" style="display: block;">
                                    <input type="checkbox"
                                           id="{{asset._id}}"
                                           name="{{asset._id}}"
                                           ng-model="asset.checked"
                                           ng-click="m.singleSelect(asset)">
                                    <label for="{{asset._id}}"></label>
                                </div>
                                <div class="btn-group fm-group" style="display: block;">
                                    <button type="button" class="btn btn-default dropdown-toggle fm-toggle"
                                            data-toggle="dropdown"><span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu fm-menu" role="menu">
                                        <li class="hidden">
                                            <a href="#"><i class="fa fa-share"></i> Share</a>
                                        </li>
                                        <li class="hidden">
                                            <a href="#"><i class="fa fa-envelope-o"></i> Email</a>
                                        </li>
                                        <li>
                                            <a href="#" ng-click="m.editImage(asset)"><i class="fa fa-pencil"></i> Edit</a>
                                        </li>
                                        <li>
                                            <a href="{{asset.url}}" download><i class="fa fa-download"></i> Download</a>
                                        </li>
                                        <li>
                                            <a href="" ng-click="m.deleteAsset(asset._id)"><i class="fa fa-trash-o"></i> Delete</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="thmb-prev">
                                    <div>
                                        <img ng-src="{{asset.url}}" alt="">
                                    </div>
                                </div>
                                <h5 class="fm-title">
                                    <a href="" indigeweb-truncate truncate-list=" [asset.filename]"
                                    truncate-limit=25 truncate-symbol="'...'" ></a>
                                </h5>
                                <small class="text-muted">{{asset.created.date | timeAgoFilter}}</small>
                            </div>
                        </div>
                        <div id="warning-box" ng-hide="assets.length"> No {{showType}}</div>
                    </div>
                </div>
                <div class="editimage" ng-show="editingImage" style="height:{{bodyHeight}};">
                    <div class="col-xs-6 imgedit-wrap">
                        <img src="{{singleAsset.url}}" class="img-responsive img-thumbnail" id="targetEditImage">
                        <!-- <img ng-src="{{singleAsset.url}}" id="originalSource" class="hidden"> -->
                        <canvas id="targetCanvas"></canvas>
                    </div>
                    <div class="col-xs-6">
                        Image Editing Buttons
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <div class="row" ng-if="editingImage">
                    <button class="btn btn-primary" ng-click="m.goback()"> <i class="fa fa-chevron-left"></i> Back</button>
                    <button class="btn btn-primary"><i class="fa fa-history"></i> Restore</button>
                    <button class="btn btn-primary"><i class="fa fa-save"></i> Save Image</button>
                </div>
                <div class="row" ng-if="!editingImage">
                    <div class="col-md-offset-8 col-md-4">
                        <label for="upload_image" class="btn btn-primary ">
                            <span ng-if="uploader.queue.length <= 0">From Computer</span>
                            <span ng-if="uploader.queue.length > 0">Select Another File</span>
                            <input type="file"
                                   id="upload_image"
                                   class="hidden"
                                   nv-file-select=""
                                   uploader="uploader"
                                   ng-click="resetUploader()"
                                   multiple>
                        </label>
                        <button
                                type="button"
                                ng-show="showInsert && singleSelected"
                                class="btn btn-primary insert-image"
                                ng-click="m.onInsertMedia()">Insert Images
                        </button>
                    </div>
                </div>
                <div class="row" ng-if="uploader.queue.length" ng-hide="uploadComplete">
                    <div class="clearfix mb15"></div>
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                    <th ng-show="uploader.isHTML5">Size</th>
                                    <th ng-show="uploader.isHTML5">Progress</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in uploader.queue">
                                    <td>
                                        <strong>{{ item.file.name }}</strong>
                                    </td>
                                    <td ng-show="uploader.isHTML5" nowrap>
                                        {{ item.file.size/1024/1024|number:2 }} MB
                                    </td>
                                    <td ng-show="uploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar"
                                                 role="progressbar"
                                                 ng-style="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                        <span ng-show="item.isUploading"><i class="fa fa-spinner fa-spin"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button"
                                                class="btn btn-success btn-xs"
                                                ng-click="item.upload()"
                                                ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                        </button>
                                        <button type="button"
                                                class="btn btn-warning btn-xs"
                                                ng-click="item.cancel()"
                                                ng-disabled="!item.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()"><span
                                                class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button"
                                class="btn btn-success btn-s"
                                ng-click="uploader.uploadAll()"
                                ng-disabled="!uploader.getNotUploadedItems().length"
                                ng-if="uploader.queue.length > 1">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
    #media-manager-modal * {
        -ms-user-select: none; /* IE 10+ */
        -moz-user-select: none; /* Gecko (Firefox) */
        -webkit-user-select: none; /* Webkit (Safari, Chrome) */
        user-select: none; /* CSS3 (little to no support) */
    }
</style>
</div>
