<ul ui-sortable="sortableOptions">
	<li ng-repeat="component in currentpage.components | createUrlFilter track by $index" class="fragment {{transitionState}}">
		<div class="componentActions">
			<span class="reorder fa fa-arrows"></span>
			<h4 class="pull-left">{{component.type}}</h4>
			<span class="settings fa fa-cogs"></span>
			<span class="delete fa fa-trash"></span>
		</div>
	    <div ng-include src="component.url"></div>
	    <div class="add-component">
	    	<i class="fa fa-plus-circle" tooltip="Add Component" tooltip-placement="top"></i>
	    </div>
	</li>
</ul>