<!-- <div>
	<div ng-repeat="component in currentpage.components | createUrlFilter track by $index" class="fragment {{transitionState}}">
	    <div ng-include src="component.url"></div>
	</div>
</div> -->

<ul ui-sortable="sortableOptions">
	<li ng-repeat="component in currentpage.components | createUrlFilter track by $index" class="fragment {{transitionState}}" style="position: relative;">
		<div class="componentActions">
			<span class="reorder fa fa-arrows"></span>
            <span class="" ng-if="!component.visibility">Hidden</span>
			<h4 class="pull-left">{{component.type}}</h4>
			<span class="settings fa fa-cogs" data-id="{{component._id}}" ng-click="activateSettings()"></span>
		</div>
	    <div ng-include src="'/components/component-wrap.html'" ></div>
        <div ng-class="{'zee-blur': !component.visibility}"></div>
	    <div class="add-component">
	    	<a href="">
	    	<i class="fa fa-plus-circle"></i>
	    	</a>
	    </div>
	</li>
	<li ng-show="!currentpage.components.length" class="no-component">
		<div class="well empty-page">
			<h1 class="center">This Page is Empty.</h1>
			<h4 class="center">Add some components and start editing!</h4>
		</div>
		<div class="clearfix mb15"></div>
		<div class="add-component">
	    	<a href="">
	    		<i class="fa fa-plus-circle"></i>
	    	</a>
	    </div>
	</li>
</ul>
<style>
    .zee-blur {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: .4;
        background-color: black;
    }
</style>