<div class="ssb-topbar-inner">

    <div class="pull-left">

        <ui-select
            ng-if="vm.uiState.openBlogPanel.id !== 'edit'"
            ng-init="vm.uiState.selectedPage = vm.state.page"
            ng-model="vm.uiState.selectedPage"
            ng-change="vm.loadPage($select.selected);"
            theme="bootstrap"
            class="ssb-ui-select-dark"
            search-enabled="false">

            <ui-select-match>
                <small ng-bind-html="$select.selected.title"></small>
            </ui-select-match>

            <ui-select-choices class="margin-top-20" repeat="page in vm.state.pages | sortListPages:vm.state.page._id">
                <small ng-bind-html="page.title"></small>
            </ui-select-choices>

        </ui-select>

        <div
            class="ssb-blog-post-back"
            ng-if="vm.uiState.openBlogPanel.id === 'edit' && vm.uiState.navigation.blogPanel.navigationHistory.length > 1"
            ng-click="vm.uiState.navigation.blogPanel.back();">
            <i
                class="fa fa-arrow-left"
                tooltip-placement="bottom"
                tooltip-append-to-body="true"
                tooltip="Back">
            </i>
            <!-- <span>Back</span> -->
        </div>

    </div>

    <div id="ssb-froala-scrollable-container"></div>

    <div class="pull-right text-right">

        <ssb-action-buttons
            ng-if="vm.uiState.openBlogPanel.id !== 'edit'"
            class="ssb-control-bar"
            save-action="vm.savePage()"
            cancel-action="vm.cancelPendingEdits()"
            state="vm.state"
            revert-action='vm.revertPage(versionId)'
            publish-action="vm.publishPage()">
        </ssb-action-buttons>

        <div
            ng-if="vm.uiState.openBlogPanel.id === 'edit' && vm.uiState.navigation.blogPanel.navigationHistory.length > 1"
            class="close-panel fa fa-close"
            ng-click="vm.closeBlogPanel()"
            tooltip-placement="bottom"
            tooltip-append-to-body="true"
            tooltip="Close">
        </div>

    </div>

</div>
