<div class="example" style="background:lightgray;padding:5px;" data-class="accordion" data-id="{{component._id}}">
    <h5 style="text-align: center">{{component.title}}</h5>

    <div id="accordion" class="panel-group {{component.bg.img.parallax?'parallax':''}}" parallax-background
         parallax-ratio="0.4"
         style="background: url({{component.bg.img.url}}) no-repeat fixed; background: {{component.bg.color}}">
        <div class="panel pane-default" ng-repeat="accordion in component.panels">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{$index}}" ng-click="accordion[$index]= !accordion[$index]">
                    <span class="glyphicon glyphicon-plus-sign" ng-hide="accordion[$index]">{{flag}}</span>  <span ng-show="accordion[$index]" class="glyphicon glyphicon-minus-sign"> {{flag}} </span>{{accordion.title}}
                    </a>
                </h4>
            </div>
            <div id="collapse{{$index}}" class="panel-collapse collapse">
                <div class="panel-body">
                  {{accordion.text}}
                </div>
            </div>
        </div>
    </div>
</div>

