<div ng-class="component.type+'-v'+component.version">
	<div class="ldsrc-container" ng-if="!showPreview">
		<div class="ldsrc-header">
	    	<h4>
		    	<div class="center">
		    		<span ng-if="currentStep <= totalSteps" ng-click="backToPrevStep()" class="fa fa-arrow-left step-back"></span>
		    		<img src="/images/leadsource/header-leadsource-white-logo.png">
		    		<div class="steps" ng-if="currentStep <= totalSteps">
		    			Step {{currentStep}} of {{totalSteps}}
		    		</div>
		    	</div>
	    	</h4>
	    </div>

	    <div class="ldsrc-body steps-{{currentStep}}" ng-class="{'new-account':newAccount.plan === plans.NEW}">
	    	<!--  Step 1 -->
	    	<div ng-if="currentStep == 1">
				<div class="ldsrc-getting-started center">
		            <h1 class="text-bold margin-bottom-5 getting-started-text">LET'S GET STARTED</h1>
		            <h3 class="choose-one-text margin-top-5">Choose One:</h3>
		        </div>
		        <div class="clearfix"></div>
				<div class="features-wrap">

		            <div class="col-sm-6 padding-top-15">
		                <div class="feature-block selected-plan" ng-click="setUpPlan(plans.NEW)" >
		                    <div class="feature-block-content">
		                    	<h3 class="center">
		                    		I WANT AN AWESOME NEW WEBSITE
		                    	</h3>
		                    </div>
		                </div>
		            </div>

		            <div class="col-sm-6 padding-top-15">
		                <div class="feature-block" ng-click="setUpPlan(plans.EXISTING)">
		                    <div class="feature-block-content">
		                    	<h3 class="center">
		                    		I WANT TO KEEP MY WEBSITE
		                    	</h3>
		                    </div>
		                </div>
		            </div>
		            <div class="clearfix"></div>
		        </div>
	        </div>
	        <!--  Step 2 with NEW Account -->

	        <div ng-if="currentStep == 2 && newAccount.plan === plans.NEW">
				<div class="ldsrc-getting-started center">
		            <h1 class="text-bold margin-bottom-5 getting-started-text">PICK A TEMPLATE:</h1>
		        </div>
		        <div class="clearfix"></div>
				<div class="templates-wrap">
					<ul class="list-unstyled">

			            <li ng-repeat="template in templates track by $index" class="template-grid-item col-sm-6 col-lg-4 col-xl-3">
			                <div class="template-grid-item-inner">

			                    <div class="template-img-container">
			                        <img class="template-img img-responsive" ng-src="{{template.templateImageUrl}}"/>
			                    </div>

			                    <h4 class="center">
			                        <a class="btn btn-primary btn-choose-template" ng-click="selectAccountTemplate(template)" >CHOOSE TEMPLATE</a>
			                        <a class="preview-template" ng-click="previewTemplate(template)">PREVIEW</a>
			                    </h4>

			                </div>

			            </li>

			        </ul>
			        <div class="clearfix"></div>

		        </div>
	        </div>

	        <!--  Step 2 with EXISTING Account -->

	        <div ng-if="currentStep == 2 && newAccount.plan === plans.EXISTING">
				<div class="ldsrc-getting-started center">
		            <h1 class="text-bold margin-bottom-5 getting-started-text">YOU HAVE YOUR OWN WEBSITE. GREAT!</h1>
		            <h3>
		            	<div>
		            	Most LeadSource features work best when we can see visitor data from your website. We just need your help to make this happen. Copy the code below (or send it to your developer) and paste it into the HEAD section of your website, before the closing &lt;/head&gt; tag.
		            	</div>
						<div class="margin-top-30">We'll send you a confirmation email once we start recieving data.</div>
		            </h3>
		        </div>
		        <div class="clearfix"></div>
				<div class="script-wrap center">
					<pre class="pre-wrap-script">&lt;script src=&quot;{{servername}}/js/scripts/collector-full.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot;&gt;
  indigenous.collector({{account._id}}, true);
&lt;/script&gt;</pre>

			        <button class="copy-text" ng-click="copyToClipboard('.pre-wrap-script')">COPY</button>
        			<h4 class="center margin-top-10 step-btn-container">
                        <a class="send-to-dev" ng-click="openModal('leadsource-existing-account-email')">Send to your Web Developer</a>
                        <a class="btn btn-primary btn-complete-activation btn-wide" ng-click="completeActivation()" >COMPLETE ACTIVATION</a>
                    </h4>
		        </div>

	        </div>

	        <!--  Step 3 -->

	        <div ng-if="currentStep == 3">
				<div class="ldsrc-getting-started center">
		            <h1 class="text-bold margin-bottom-5 getting-started-text">LET'S SECURE YOUR ACCOUNT, {{username | uppercase}}:</h1>
		        </div>
		        <div class="clearfix"></div>

				<div class="password-wrap center">
					<div id="password" class="form-group col-xs-12 has-feedback">
                    	<input class="form-control input-lg" type="password" placeholder="SET YOUR PASSWORD..." ng-model="newAccount.password" />
                	</div>
			        <div class="clearfix"></div>
        			<h4 class="center">
                        <a class="btn btn-primary btn-activate-template" ng-click="activateAccount()" >ACTIVATE</a>
                    </h4>
                    <h4 class="errorMessage" ng-if="errorMessage">
                    	{{errorMessage}}
                    </h4>
		        </div>
	        </div>

            <!-- Step 4 -->
            <div ng-if="currentStep == 4">
                <div class="ldrsrc-welcome center">
                    <h1 class="text-bold margin-bottom-5 getting-started-text">WELCOME TO THE LEADSOURCE FAMILY</h1>
                    <h3 class="welcome-text-next margin-top-10">Here's what's next:</h3>
                    <h3 class="welcome-line-items">
                    	<ul>
	                        <li>You'll receive an email shortly with all the essentail information for your account</li>
	                        <li>Someone from the Tessco team will be in touch to discuss program details</li>
                    	</ul>
                    </h3>

                    <h3 ng-hide="account.oem" class="welcome-site-url-text margin-top-5">The site you created can be found here:</h3>
                    <h3 ng-hide="account.oem" class="welcome-site-url">
                    	<a href="{{siteurl}}" target="_blank">{{siteurl}}</a></h3>
                    <h4 class="center">
                        <a class="btn btn-primary btn-welcome-account" href="{{accountUrl}}" >GO TO MY ACCOUNT</a>
                    </h4>
                </div>
            </div>

            <div class="activate-bg-overlay" ng-if="loading">
				<h1 class="bg-overlay-spinner">
					<span class="fa fa-spinner fa-spin">

					</span>
				</h1>
			</div>

	    </div>
	</div>
	<div ng-if="showPreview" class="template-preview">
		<div class="ldsrc-preview-header">
	    	<h4 class="">
	    		<img src="/images/leadsource/header-leadsource-white-logo.png">
	    		<div class="preview-header-buttons">
	    			<a class="template-back" ng-click="backToTemplates()">GO BACK</a>
	    			<a class="btn btn-primary btn-choose-template" ng-click="selectAccountTemplate(selectedTemplate)" >CHOOSE TEMPLATE</a>
	    		</div>

	    	</h4>

	    </div>
    	<div class="template-preview-container">
     		<iframe id="frame_template_loader" ng-src="{{frameSrc}}" />
        </div>
	</div>

</div>
<div data-ng-include data-src="'/views/partials/leadsource-existing-account-email.html'"></div>
