<div ng-class="component.type+'-v'+component.version">
    <div ng-controller="LayoutCtrl as control" data-class="blog" data-id="{{component._id}}">
        <div id="content-area">
            <div class="container clearfix row-fluid">
                <div id="main-area" class="col-sm-8">
                    <div class="currently-viewing" ng-show="blog.currentTag">
                        <h4> Currently Viewing Tag: <strong>{{blog.currentTag}}</strong> </h4>
                    </div>
                    <div class="currently-viewing" ng-show="blog.currentCat">
                        <h4> Currently Viewing Category: <strong>{{blog.currentCat}}</strong> </h4>
                    </div>
                    <div class="currently-viewing" ng-show="blog.currentAuthor">
                        <h4> Currently Viewing Author: <strong>{{blog.currentAuthor}}</strong> </h4>
                    </div>
                    <article class="entry clearfix" data-ng-if="control.blogposts||blog.blogposts">
                        <div class="single-blog responsive clearfix"
                             ng-repeat="blogpost in control.blogposts || blog.blogposts | filter: blogpost.created.date | orderBy :'created.date':true"
                             data-postId="{{blogpost._id}}">

                            <div class="blog-entry clearfix" data-id="{{blogpost._id}}">
                                <h2 class="blog-title">
                                    <a data-ng-if="blogpost.post_url" href="/page/blog/{{blogpost.post_url}}">
                                        <div class="editable post_title" data-class="post_title"
                                             data-ng-if="blogpost.post_title">
                                            {{blogpost.post_title}}
                                        </div>
                                    </a>
                                    <a ng-if="isEditing" class="btn btn-warning pull-right btn-delete-post pull-right" type="button" ng-click="deletePost(blogpost._id)" style="margin-right:10px">
                                        <span class="fa fa-times"></span>
                                        <span class="hidden-xs">Delete</span>
                                    </a>                                    
                                </h2>

                                <div class="blog-meta">
                                   <span data-ng-if="blogpost.created.date">
                                     • {{blogpost.created.date | amDateFormat:'MMMM d, YYYY'}}
                                    </span>
                                     <span data-ng-if="blogpost.post_author">
                                       Posted by <a href="/author/{{blogpost.post_author}}">{{blogpost.post_author}}</a>
                                    </span>

                                     <span data-ng-if="blogpost.post_category">
                                      in <a href="/category/{{blogpost.post_category}}">{{blogpost.post_category}}</a>
                                    </span>

                                    <!-- <span data-ng-if="blogpost.comment_count">
                                       in <a href="/page/category/{{blogpost.comment_count}}">{{blogpost.comment_count}}</a>
                                     </span>-->
                                </div>

                                <ul class="post_tags" data-ng-if="blogpost.post_tags">
                                    <li data-ng-repeat="post_tags in blogpost.post_tags track by $index"><a href="/tag/{{post_tags}}">{{post_tags}}</a></li>
                                </ul>

                                <div class="blog-thumb alignleft" ng-if="blogpost.featured_image">
                                    <img ng-src="{{blogpost.featured_image}}"/>
                                </div>
                                <a ng-if="isEditing" class="btn btn-warning" type="button" ng-click="changeBlogImage(blogpost)" style="margin-right:10px">
                                        <span class="fa fa-edit"></span>
                                        <span class="hidden-xs">Change Image</span>
                                </a>
                                <!-- end .thumb -->

                                <div class="entry-excerpt"><p>

                                    <div class="editable post_excerpt" data-class="post_excerpt"
                                         data-ng-if="blogpost.post_excerpt">
                                        {{blogpost.post_excerpt}}
                                    </div>
                                    <div class="editable post_excerpt" data-class="post_excerpt"
                                         data-ng-if="!blogpost.post_excerpt">
                                    </div>
                                    </p></div>
                                <a data-ng-if="blogpost.post_url"
                                   href="/page/blog/{{blogpost.post_url}}"
                                   class="btn btn-orange pull-right"><span>READ MORE</span></a>
                                   <div class="clearfix"></div>
                                   <hr></hr>
                            </div>

                            <!-- end .et_pt_blogentry -->

                        </div>
                        <!-- end #et_pt_blog -->
                    </article>
                    <!-- .entry -->
                </div>
                <!-- #main-area -->
                <div id="sidebar" class="col-sm-4 col-xs-12">
                    <div class="searchbar hidden">
                        <input type="search" name="s" placeholder="Search">
                    </div>
                    <div class="clearfix mb30 hidden"></div>

                    <div class="tags" data-ng-if="blog.postTags || control.postTags">
                        <h4><i class="fa fa-tag"></i> Tags</h4>
                        <jqcloud words="tagCloud" width="250" height="250" steps="7"></jqcloud>
                    </div>

                    <div class="posts" ng-if="blog.latestposts || control.latestposts">
                        <h4><i class="fa fa-list-alt"></i> Latest Posts</h4>
                        <ul data-ng-repeat="blogPost in blog.latestposts || control.latestposts |limitTo: 3 track by $index">
                            <li>
                                <a href="/page/blog/{{blogPost.post_url}}">
                                    <span data-ng-if="blogPost.post_title">{{blogPost.post_title}}</span>
                                </a>
                                <span data-ng-if="blogPost.post_author"> by <a
                                        href="/author/{{blogPost.post_author}}">{{blogPost.post_author}}</a></span>
                            </li>
                        </ul>
                    </div>

                    <div ng-if="blog.categories || control.categories">
                        <div class="clearfix mb30"></div>
                        <div class="categories">
                            <h4><i class="fa fa-list-ul"></i> Categories</h4>
                            <ul class="tag-cloud" data-ng-repeat="category in blog.categories || control.categories track by $index">
                                <li><a href="/category/{{category}}">{{category}}</a></li>
                            </ul>
                        </div>
                    </div>

                    <div ng-if="control.blogpost.comments || control.comments">
                        <div class="clearfix mb30"></div>
                        <div class="comments hidden">
                            <h4><i class="fa fa-comments"></i> Comments</h4>
                            <ul>
                                <li>Lauren M. on Social Media Design</li>
                                <li>Lauren M. on Social Media Design</li>
                                <li>Lauren M. on Social Media Design</li>
                            </ul>
                        </div>
                    </div>


                    </div>
                </div>
            </div>
            <!-- .container -->
        </div>
        <!-- #content-area -->
    </div>
</div>

<button ng-if="isEditing" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Add Post
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div id="new_page">
                    <div class="form-group">
                        <label for="page-author" tooltip-placement="bottom" tooltip="Provide the author of the post you want to create">Post Author</label>
                        <input id="page-author" class="form-control input-lg" type="text" ng-model="post.post_author">
                    </div>
                    <div class="form-group">
                        <label for="page-title" tooltip-placement="bottom" tooltip="Provide the title of the post you want to create">Post Title</label>
                        <input id="page-title" class="form-control input-lg" type="text" ng-model="post.post_title">
                    </div>
                    <div class="form-group">
                        <label for="page-content" tooltip-placement="bottom" tooltip="Provide the content of the post you want to create">Post Content</label>
                        <textarea id="page-content" class="form-control input-lg" type="text" ng-model="post.post_content" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="page-excerpt" class="tooltips" tooltip-placement="bottom" tooltip="Modify the excerpt where your post will be reached">Post excerpt</label>
                        <input id="post-excerpt" class="form-control input-lg" type="text" ng-model="post.post_excerpt">
                    </div>
                    <div class="form-group">
                        <label for="page-tags" class="tooltips" tooltip-placement="bottom" tooltip="Modify the tags where your post will be reached">Post tags</label>
                        <input id="post-tags" class="form-control input-lg" type="text" ng-model="post.post_tags">
                    </div>
                    <div class="form-group">
                        <label for="page-category" class="tooltips" tooltip-placement="bottom" tooltip="Modify the category where your post will be reached">Post category</label>
                        <input id="post-category" class="form-control input-lg" type="text" ng-model="post.post_category">
                    </div>
                    <div class="form-group">
                        <label for="page-url" class="tooltips" tooltip-placement="bottom" tooltip="Modify the url where your post will be reached">Post Url</label>
                        <input id="post-url" class="form-control input-lg" type="text" ng-model="post.post_url">
                    </div>
                    <div class="clearfix mb15"></div>
                    <div class="form-group">
                        <div class="ckbox ckbox-success">
                            <input type="checkbox" id="comment_status" ng-model="post.comment_status" checked>
                            <label for="comment_status">Comment Status On?</label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="createPost(post, $event)" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>
