<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->
<div data-edit ng-class="component.type+'-v'+component.version">
    <div class="title">
        <div elem ng-model="component.title"></div>
    </div>
    <div class="posts">
        <div ng-repeat="post in filteredPosts">
            <div class="col-xs-12">
                <article ng-attr-style="{{listArticleStyle(component)}}" class="mb15">
                    <div class="col-xs-12">
                        <h4>
                            <strong>
                                <a class="btn-link ssb-theme-btn blog-header-title" data-ng-href="/blog/{{post['post_url']}}" target="_self" ng-attr-style="{{titleStyle(component)}}">
                                    <div class="editable" data-class="post_title" ng-bind-html="post.post_title | unsafe">
                                    </div>
                                </a>
                            </strong>
                        </h4>
                    </div>
                
                    <div class="col-lg-4 col-md-4 col-sm-4" ng-if="post.featured_image">
                        <div class="featured-image">
                            <div class="editable" data-class="featimage">
                                <img ng-src="{{post.featured_image}}" class="thumbnail img-responsive blog-teaser-featured-image" />
                            </div>
                        </div>
                    </div>

                    <div ng-class="{'col-xs-8':post.featured_image, 'col-xs-12':!post.featured_image}" class="col-lg-8 col-md-8 col-sm-8">
                        <p>
                            <div class="excerpt">
                                <div class="editable" data-class="post_excerpt" ng-attr-style="{{descriptionStyle(component)}}" >
                                    {{post.post_excerpt}}
                                </div>
                            </div>
                        </p>
                        <p><a class="btn ssb-theme-btn" target="_self" data-ng-href="/blog/{{post['post_url']}}">Read more</a>
                        </p>
                    </div>
                
                
                    <div class="col-xs-12">
                        <p></p>
                        <p>
                            <span data-ng-if="post.post_author"><i class="fa fa-user"></i> by <a ng-bind-html="post.post_author" target="_self" href="/author/{{post.post_author}}" class="btn-link ssb-theme-btn"></a></span> | <i class="fa fa-calendar"></i> {{post.publish_date || post.created.date | amDateFormat:'MM/DD/YYYY'}} <span data-ng-if="post.post_tags.length">| <i class="fa fa-tag"></i> Tags :</span>
                            <a href="/tag/{{post_tags}}" target="_self" data-ng-repeat="post_tags in post.post_tags track by $index" class="btn ssb-theme-btn post-tag-btn">{{post_tags}}</a>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </article>
                
            </div>
        </div>
        <hr>
        <div class="clearfix mb15 visible-xs"></div>
    </div>
    <div class="clearfix mb30"></div>
    <div ng-if="posts.length > component.numberOfPostsPerPage && component.numberOfPostsPerPage != 0">
        <pagination total-items="posts.length" items-per-page="component.numberOfPostsPerPage" ng-model="currentPostPage" ng-change="pageChanged(currentPostPage)"></pagination>
    </div>
    <div class="center col-xs-12 padding-15">
        <a class="btn ssb-theme-btn center" target="_self" href="/blog">See Full Blog</a>
    </div>
    <div class="clearfix"></div>
</div>