<div ng-class="component.type+'-v'+component.version">
    <div class="coming-soon-wrap">
        <div class="inner-page">
            <div>
                <div class="logo">
                    <div class="editable" data-class="logo" ng-bind-html="component.logo | unsafe"></div>
                </div>
                <div class="heading">
                    <div class="editable" data-class="title" ng-bind-html="component.title | unsafe"></div>
                </div>
                <div class="text">
                    <div class="editable" data-class="text" ng-bind-html="component.text | unsafe"></div>
                </div>
                <div class="row">
                    <!--div id="countdown"></div-->
                </div>

            </div>
        </div>
    </div>
</div>