<div class="component" data-ng-show="component.visibility" data-type="{{component.type}}" data-id="{{component._id}}">

    <div id="{{component.anchor}}" class="{{component.type}}-v{{component.version}}">

        <div class="{{component.bg.img.parallax?'parallax':''}}" parallax-background parallax-ratio="0.4" style='background: url("{{component.bg.img.url}}") no-repeat fixed; background-size: cover; background: {{component.bg.color}}; color: {{component.txtcolor||primaryTextColor}};'>

            <div class="container inner-page" ng-if="component.type != 'navigation' && component.type != 'footer'">
				<div ng-include src="'/components/'+component.type+'_v'+component.version+'.html'"></div>
            </div>

            <div ng-if="component.type == 'navigation' || component.type == 'footer'">
            	<div ng-include src="'/components/'+component.type+'_v'+component.version+'.html'"></div>
            </div>

        </div>
    </div>

</div>