<div ng-class="component.type+'-v'+component.version"  data-edit>
    <div class="contact-title">
        <div elem ng-model="component.title"></div>
    </div>
    <div class="contact-title">
        <div elem ng-model="component.subtitle"></div>
    </div>
    <div class="row">        
        <div class="col-xs-12 col-sm-6">
            <map zoom="{{component.map.zoom || 10}}" center="{{component.location.lat}}, {{component.location.lon}}" disable-default-u-i="true" scale-control="false" pan-control="false" zoom-control="true" scrollwheel="false">
                <marker  position="{{component.location.lat}}, {{component.location.lon}}"></marker>
            </map>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="row" >
                    <div class="contact-info col-xs-12">
                        <div class="contact-details col-xs-6">
                            <div ng-if="component.contact.phone">
                                <span>Tel</span>:
                                <a class="contact-tel" href="tel:{{component.contact.phone}}"><span class="blocked" ng-bind-html="component.contact.phone"></span></a>    
                            </div>
                            <div ng-if="component.contact.fax">
                                <span>Fax</span>:
                                <span class="blocked" ng-bind-html="component.contact.fax"></span>
                            </div>
                            <div ng-if="component.contact.email">
                                <span>Email</span>:
                                <span class="blocked" ng-bind-html="component.contact.email"></span>
                            </div>                            
                        </div>
                        <div class="contact-address col-xs-6">
                            <span ng-bind-html="contactAddress | unsafe"></span>
                        </div>              
                    </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
.contact-us-v3 a.contact-tel {
    color: {{component.txtcolor}} !important;
};
</style>
