<div ng-class="component.type+'-v'+component.version">
    <div class="row ">
        <div class="map-wrap">
            <div tabindex="0" class="leaflet-container leaflet-fade-anim" id="map-marker" style="height: 250px; width: 100%; position: relative;">
                <leaflet center="mapLocation" markers="markers" defaults="defaults" width="100%" height="250px"></leaflet>
            </div>
            <div class="panel panel-default widget-weather col-sm-2 col-sm-offset-9 hidden-xs">
                <div class="panel-body">
                    <div class="row">
                        
                        <div class="col-xs-12 temp  settings" tab-active="address" data-id="{{component._id}}">
                            <span class="blocked" ng-if="!geo_address_string"> Enter Address Here</span>
                            <span class="blocked" ng-bind-html="geo_address_string"></span>
                            
                            <span class="blocked" ng-if="!contactPhone">Enter Phone Number here</span>
                            <span class="blocked" ng-bind-html="contactPhone"></span>
                            <!-- <span ng-if="!component.hours.length">Enter Business hours here</span> -->
                            <div ng-repeat="val in component.hours" ng-class="(currentDate | date:'EEE') === val.day ? 'current-day' : ''"><span>{{val.day}} </span>: <span ng-hide="val.closed">{{val.start}}-{{val.end}}</span><span ng-show="val.closed">Closed</span></div>
                        </div>
                    </div> 
                </div>
                <!-- panel-body -->
            </div>
        </div>
        </div>
</div>
</div>