<div ng-class="component.type+'-v'+component.version">
    <div class="row ">
        <div class="map-wrap {{isEditing ? 'editing' : ''}}">

            <map zoom="{{component.map.zoom || 10}}" center="{{component.location.lat}}, {{component.location.lon}}" disable-default-u-i="true" scale-control="false" pan-control="false" zoom-control="false"  scrollwheel="false">

            <marker  position="{{component.location.lat}}, {{component.location.lon}}"></marker>
           </map>
            <div class="clearfix visible-xs"></div>
            <div class="panel-default widget-weather col-xs-12 col-sm-4 col-md-3 col-lg-3  col-sm-offset-9" style="{{component.splitHours ? 'width:30%' : ''}}">
                <div class="panel-body">
                    <div class="row" >
                        <div class="col-xs-12 temp  settings" ng-style="{
                        'width': component.boxProperties.width ? '{{component.boxProperties.width}}' : '',
                        'height': component.boxProperties.height ? '{{component.boxProperties.height}}' : '', 'background' : '{{boxColor}}'
                        }" tab-active="address" data-id="{{component._id}}" resizable r-directions="['bottom', 'right']">
                            <div>
                            <span class="blocked" ng-bind-html="contactAddress"></span>
                            <a href="tel:{{component.contact.phone}}"><span class="blocked" ng-bind-html="component.contact.phone"></span></a>
                            <!-- <span ng-if="!component.hours.length">Enter Business hours here</span> -->
                            <div ng-if="component.showHours && !component.splitHours" ng-repeat="val in component.hours" ng-class="(currentDate | date:'EEE') === val.day ? 'current-day' : ''"><span>{{val.day}} </span>: <span ng-hide="val.closed || val.wholeday">{{val.start}} - {{val.end}}</span><span ng-show="val.closed && !val.wholeday">Closed</span><span ng-show="!val.closed && val.wholeday">Opened 24 hours</span></div>
                            <div ng-if="component.showHours && component.splitHours" ng-repeat="val in component.hours" ng-class="(currentDate | date:'EEE') === val.day ? 'current-day' : ''"><span>{{val.day}} </span>: <span ng-hide="val.closed" ng-if="val.split">{{val.start}}-{{val.end}} and {{val.start2}}-{{val.end2}}</span><span ng-hide="val.closed" ng-if="!val.split">{{val.start}}-{{val.end}}</span><span ng-show="val.closed">Closed</span></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
