<div ng-class="component.type+'-v'+component.version">
	<section>
		<div class="signinpanel">
			<form role="form" action="/forgotpassword" method="post">
				<h3>Uh oh!  Did you forget something?</h3>
				<p>
					Enter the username or email you used when you signed up, and we will
					send you an email with a link to reset your password.
				</p>
				<hr>
				<div class="form-group">
					<label>Username or email</label>
					<input type="text" name="username" placeholder="username/email" class="form-control">
				</div>
				<div class="btn-toolbar">
					<button type="submit" value="Login" role="button" class="btn btn-primary pull-right">
						Recover Password
					</button>
				</div>
			</form>
		</div>
	</section>

</div>