<table class="email-component-container {{component.type}}-v{{component.version}}" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr ng-if="component.title">
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0"  id="templateColumns">
                <tr>
                    <td align="center" valign="top" width="100%" class="templateColumnContainer">
                        <table border="0" cellpadding="10" cellspacing="0" width="100%">
                            <tr>
                                <td valign="top" class="leftColumnContent">
                                    <div elem ng-model="component.title" ssb-email-editor='true'></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0"  id="templateColumns">
                <tr>
                    <td align="center" valign="top" width="33%" class="templateColumnContainer" style="padding-right: 10px">
                        <table border="0" cellpadding="10" cellspacing="0" width="100%">
                            <tr>
                                <td valign="top" class="leftColumnContent">
                                    <div elem ng-model="component.text1" ssb-email-editor='true'></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td align="center" valign="top" width="33%" class="templateColumnContainer" style="padding-left: 5px;padding-right: 5px">
                        <table border="0" cellpadding="10" cellspacing="0" width="100%">
                            <tr>
                                <td valign="top" class="centerColumnContent">
                                    <div elem ng-model="component.text2" ssb-email-editor='true'></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td align="center" valign="top" width="33%" class="templateColumnContainer" style="padding-left: 10px">
                        <table border="0" cellpadding="10" cellspacing="0" width="100%">
                            <tr>
                                <td valign="top" class="rightColumnContent">
                                    <div elem ng-model="component.text3" ssb-email-editor='true'></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
