<div ng-class="component.type+'-v'+component.version">

    <div class="title">
        <div class="editable" data-class="title" ng-bind-html="component.title | unsafe"></div>
    </div>

    <div class="mb30"></div>

    <div class="row features-wrap">
        <div ng-repeat="feature in component.features track by $index"  class="feature" data-index="{{$index}}">
            <div class="row row-xs-height" class="feature-single">
                <div class="col-sm-3 col-xs-3 col-xs-height">
                    <div class="editable" data-class="features.item.top" data-index="{{$index}}" ng-bind-html="feature.top | unsafe">
                    </div>
                </div>
                <div class="col-sm-9 img-rounded demo col-top col-xs-9 col-xs-height">
                   <div class="feature-content">
                    <div class="editable" data-class="features.item.content" data-index="{{$index}}" ng-bind-html="feature.content | unsafe">
                    </div>
                </div>
                </div>
            </div>
             <div ng-if="isEditing && component.features.length > 1" class="delete-feature center">
                    <button ng-click="deleteFeatureList(component._id,$index)" class="ng-scope btn-delete-feature"><i class='fa fa-trash'></i></button>
            </div>
            <hr ng-if="!$last" />
        </div>
    </div>

</div>