<div ng-class="component.type+'-v'+component.version">
    <div class="title mb30">
        <div elem ng-model="component.title"></div>
    </div>
    <div class="features-wrap feature-list-container" ng-init="setSelectedFeatureIndex(0)">
        <ul class="list-features">
            <li class="feature" ng-repeat="feature in component.features" ng-click="setSelectedFeatureIndex($index)">
                <a class="feature-heading">
                    <div class="fetaure-tabs-icon"> 
                        <div elem ng-model="feature.top"></div>    
                    </div>
                    <div class="features-tabs-heading">
                        <div elem ng-model="feature.heading"></div>
                    </div>
                    <div ng-if="isEditing">
                        <div class="delete-feature center" ng-click="deleteFeatureList($index)" tooltip-placement="top" tooltip-append-to-body="true"  tooltip-append-to-body="true" tooltip="Delete this feature.">
                            <i class='fa fa-trash'></i>
                        </div>
                        <div class="add-addtional center" ng-click="addFeatureService($index)" tooltip-placement="top" tooltip-append-to-body="true"  tooltip-append-to-body="true" tooltip="Add another feature.">
                            <i class='fa fa-plus'></i>
                        </div>
                    </div>
                </a>                
            </li>
        </ul>

        <div class="feature-tab-content" ng-if="!loading">
            <div class="col-md-5">
                <div elem ng-model="component.features[features.featureIndex].media"></div>
            </div>
            <div class="col-md-7">
                <div elem ng-model="component.features[features.featureIndex].content"></div> 
            </div>
        </div>
    </div>
</div>