<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->
<div ng-class="component.type+'-v'+component.version">
    <div class="feature-list-title">
        <div elem ng-model="feature.title"></div>
    </div>
    <div class="clearfix mb15"></div>
    <div ng-repeat="feature in component.features track by $index" class="features-wrap">
        <div class="feature feature-height-{{component.version}}" ng-class="{'col-sm-3':component.features.length >= 4, 'col-sm-4':component.features.length == 3, 'col-sm-6':component.features.length == 2, 'col-sm-12':component.features.length == 1}">
            <div class="feature-single feature-single-0" ng-style="{'background': component.blockbgcolor}">
                <div elem ng-model="feature.top"></div>
                <div class="feature-content">
                    <div elem ng-model="feature.content"></div>
                </div>
            </div>
            <div ng-if="isEditing">
                <div class="delete-feature center">
                    <button ng-click="deleteFeatureList($index)"><i class='fa fa-trash'></i></button>
                </div>
                <div class="add-addtional center">
                    <button ng-click="addFeatureList($index)"><i class='fa fa-plus'></i></button>
                </div>
            </div>
        </div>
        <div class="clearfix mb30 visible-xs"></div>
        <hr class="visible-xs" ng-if="$index + 1 < component.features.length"></hr>
    </div>
    <div ng-if="isEditing && component.features.length === 0" class="col-xs-12">
        <button ng-click="addFeatureList(0)" class="center btn btn-primary btn-lg btn-wide btn-o add-feature"> <i class="fa fa-plus"></i> Add New Feature</button>
    </div>
</div>
