<style type="text/css">
    .feature-list-v3 .feature-single .feature-icon {
        color: {{primaryHighlight}};
    }
</style>
<div ng-class="component.type+'-v'+component.version">

    <div class="feature-list-title">
        <div class="editable" data-class="title" ng-bind-html="component.title"></div>
    </div>

    <div class="clearfix mb15"></div>

    <div ng-repeat="feature in component.features track by $index" class="features-wrap">
        <div class="col-sm-4 feature">
            <div class="feature-single">
                <div class="editable" data-class="features.item.top" data-index="{{$index}}" ng-bind-html="feature.top | unsafe">
                    </div>
               <div class="feature-content">
                    <div class="editable" data-class="features.item.content" data-index="{{$index}}" ng-bind-html="feature.content | unsafe">
                    </div>
                </div>
            </div>
            <div ng-if="isEditing && component.features.length > 1" class="delete-feature center">
                    <button ng-click="deleteFeatureList(component._id,$index)" class="btn-delete-feature"><i class='fa fa-trash'></i></button>
            </div>
        </div>
    </div>

</div>