<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->

<div ng-class="component.type+'-v'+component.version">

    <div class="feature-list-title">
        <div class="editable" data-class="title" ng-bind-html="component.title | unsafe">
        </div>
    </div>

    <div class="clearfix mb15"></div>

    <div ng-repeat="feature in component.features track by $index" class="features-wrap">

        <div class="feature" ng-class="{'col-sm-3':component.features.length >= 4, 'col-sm-4':component.features.length == 3, 'col-sm-6':component.features.length == 2, 'col-sm-12':component.features.length == 1}">
            <div class="feature-single feature-single-0">
                <div class="editable" data-class="features.item.top" data-index="{{$index}}" ng-bind-html="feature.top | unsafe">
                    </div>
                <div class="feature-content">
                    <div class="editable" data-class="features.item.content" data-index="{{$index}}" ng-bind-html="feature.content | unsafe">
                    </div>
                </div>

            </div>
              <div ng-if="isEditing && component.features.length > 1" class="delete-feature center">
                    <button ng-click="deleteFeatureList(component._id,$index)" class="btn btn-primary btn-lg ng-scope btn-delete-feature"><i class='fa fa-trash'></i></button>
            </div>
            <div ng-if="isEditing" class="add-addtional center">
                <a href="" ng-click="addFeatureList(component._id,$index)">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>

        <div class="clearfix mb30 visible-xs"></div>
        <hr class="visible-xs" ng-if="$index + 1 < component.features.length"></hr>

    </div>

</div>