<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->

<div ng-show="component" id="{{component.anchor}}" class="component feature-list-v2 {{component.bg.img.parallax?'parallax':''}}">
    <div style='background: url("{{component.bg.img.url}}"); background: {{component.bg.color}}; color: {{component.txtcolor}};' data-class="feature-list-v2" data-id="{{component._id}}" parallax-background parallax-ratio="0.4">
        <div class="row inner-page">
            <div class="row">

                <h1 class="feature-list-title">
                    <div class="editable" data-class="title">
                        {{component['title']}}
                    </div>
                </h1>
                <div class="feature-list-subtitle col-xs-8 col-xs-offset-2">
                    <div class="editable" data-class="subtitle">
                        <span ng-bind-html="component.subtitle">

                        </span></div>
                </div>
                <div class="clearfix mb15"></div>
                <div ng-repeat="feature in component.features track by $index">
                    <div class="col-sm-3 feature">
                        <div class="feature-single feature-single-0">
                            <span class="feature-icon {{feature['feature-icon']}}"></span>

                            <h3 class="feature-title">
                                <div class="editable" data-class="feature-title">
                                    {{feature['feature-title']}}
                                </div>
                            </h3>
                            <div class="feature-subtitle">
                                <div class="editable" data-class="feature-subtitle">
                                   <span ng-bind-html="feature['feature-subtitle']"></span>
                                </div>
                            </div>
                            <div>
                                <a href="{{feature.btn.url}}"
                                   class="btn btn-primary feature-btn">{{feature.btn.text}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
