<div id="footer" class="footer-container">
    <div class="footer-after section">
        <div class="container">
            <p class="col-sm-8 copyright hidden-xs">Copyright © {{copyrightYear}}. All Rights reserved.</p>
            <p class="col-sm-4 powered-by">
                <img class="footer-logo" src="/assets/images/footer-logo.png">
                <a href="//www.indigenous.io " rel="nofollow">Powered by  Indigenous</a>
            </p>
            <p class="col-sm-8 copyright visible-xs">Copyright © {{copyrightYear}}. All Rights reserved.</p>
        </div>
    </div>
</div>
