<div id="footer">
    <div class="footer-after section">
        <p class="col-sm-3 copyright">Copyright © 2014. All Rights reserved.</p>
        <div class="col-sm-2">
            <img src="/assets/images/acct_16/AmericanExpress.png" />&nbsp;
            <img src="/assets/images/acct_16/MasterCard.png" />&nbsp;
            <img src="/assets/images/acct_16/Visa.png" />&nbsp;
            <img src="/assets/images/acct_16/PayPal.png" />
        </div>
        <div class="col-sm-1 pull-left">
            <a href="#body" style="text-decoration: none;"><i class="fa fa-arrow-circle-up"></i>&nbsp;<b>To Top</b></a>
        </div>

        <div class="clear mb15 visible-xs"></div>
        <p class="col-sm-4 powered-by pull-right">
            <img class="footer-logo" src="/assets/images/footer-logo.png">
            <a href="//www.indigenous.io " rel="nofollow">Powered by  Indigenous</a>
        </p>
    </div>
</div>
