<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->
<div ng-show="component" class="component image-text-v1 {{component.bg.img.parallax?'parallax':''}}" parallax-background parallax-ratio=".4" parallax-vertical-offset="0" parallax-horizontal-offset="0" style='background: url("{{component.bg.img.url}}") no-repeat fixed; background: {{component.bg.color}}; color: {{component.txtcolor}};'>
    <div class="component-body" id="{{component.anchor}}">
        <div class="inner-page">
            <div class="col-sm-8 col-xs-12 pull-right">

                <h3 class="image-text-title">
                    <div class="editable" data-class="title">
                        {{component.title}}
                    </div>
                </h3>


                <div class="mb15"></div>
                <div class="image-text-text">
                    <div class="editable" data-class="text">
                        <span ng-bind-html="component.text"></span>
                    </div>
                </div>

                <a class="btn btn-outline btn-lg" href="{{component.btn.url}}"> {{component.btn.text}} <span
                        class="fa fa-arrow-circle-o-right"></span></a>

            </div>
            <div class="clearfix mb10 visible-xs"></div>

            <div class="pull-{{component.imagePosition}} col-sm-4 col-xs-12 image-text-image">
                <div class="editable" data-class="url">
                    <img src="{{component.imgurl}}" class="img-responsive">
                </div>
                <p class="center editable" data-class="caption">{{component.caption}}</p>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>



