<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->
<div ng-class="component.type+'-v'+component.version">
    <div class="row">
        <div class="image-text-title col-xs-12">
            <div elem ng-model="component.title"></div>
        </div>
    </div>
    <div class="row">
        <div ng-if="component.imagePosition == 'left'" class="col-xs-12 col-sm-4 image-text-image">
            <div class="image-text-image">
              <div elem ng-model="component.imgsection"></div>
            </div>
        </div>
        <div class="col-sm-8 col-xs-12">
            <div class="image-text-text">
                <div elem ng-model="component.text"></div>
            </div>
        </div>
        <div ng-if="component.imagePosition == 'right'" class="col-xs-12 col-sm-4">
            <div class="image-text-image">
              <div elem ng-model="component.imgsection"></div>
            </div>
        </div>
    </div>
    <div class="clearfix mb10 visible-xs"></div>
</div>
