<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->

<div class="container component" data-id="{{component._id}}" ng-show="component">
    <div class="row">
        <div class="col-md-7">
            <div class="text-right">
                <h1>{{component.title}}</h1>
            </div>
        </div>
        <div class="col-md-5 text-right">
            <!--Sort By:
             <div class="btn-group" opt-kind ok-key="sortBy">
                 <button type="button" class="btn btn-default" ok-sel=".image-label">Name</button>
             </div>-->
        </div>
    </div>
    <div class="row" >
        <div class="col-md-4" ng-repeat="image in component.images" >
            <div class="well">
                <a href="{{image['image-url']}}"
                   title="{{image['image-label']}}" data-gallery>
                    <img class="thumbnail img-responsive" alt="{{image['image-label']}}" src="{{image['image-url']}}">
                    <span class="caption"><i class="icon-plus-sign"></i></span>
                </a>
            </div>
        </div>
    </div>
    <div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides">

        </div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
