<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->


<div class="image-gallery-title">
    <div class="editable" data-class="maintitle" data-index="{{$index}}">
        <div data-ng-bind-html="component.maintitle" data-ng-show="component.maintitle"></div>
        <div ng-show="!component.maintitle">
            <h1>Image Gallery Title</h1>
        </div>
    </div>
</div>

<hr></hr>

<div class="image-gallery-subtitle" data-ng-show="component.subtitle">
    <div class="editable" data-class="subtitle" data-index="{{$index}}">
        <div data-ng-bind-html="component.subtitle"></div>
    </div>
</div>

<div class=" clearfix mb20"></div>

<div class="">
    <div ng-cloak class="row">
        <div ng-repeat="image in component.images track by $index">
            <div class="col-sm-3 col-xs-12">
                <div class="thumbnail imgHeight single-image">
                    <a  href="{{image.url}}" title="{{image.label}}" data-gallery>

                        <img class="img-responsive img-gallery-{{$index}}" alt="{{image.label}}" ng-src="{{image.url}}">

                    </a>
                    <span class="caption" ng-if="isEditing">
                        <i class="fa fa-plus-circle media-modal" ng-click="currentComponent=component"  on-insert-mediacb="insertMedia"></i>
                        <i class="fa fa-times-circle" ng-click="$parent.component.images.splice($index,1)"></i>
                        <i class="fa fa-edit media-modal"  ng-click="currentImage=image"  on-insert-mediacb="insertMedia"></i>

                    </span>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides">

    </div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
