<div class="container-fluid information-list-v2">
    <div class="row top-buffer">
        <div class="col-md-2 col-md-offset-2">
            <h6 class="customColor">WHAT IS COSTS</h6>Racing Weight Coach is bargain.After an initial $99 signup fee you
            just
            pay $49 per month.There are no long term contacts to worry about.
        </div>
        <div class="col-md-2 col-md-offset-1"><h6 class="customColor">NEED MORE INFORMATION?</h6>Racing Weight Coach is
            bargain.After an
            initial $99 signup fee you just pay $49 per month.There are no long term contacts to worry about.<br/><br/>
            <a href="#" class="btn btn-primary btn-sm">CONTACT</a>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <h6 class="customColor">GET STARTED NOW</h6>Racing Weight Coach is bargain.After an initial $99 signup fee
            you just pay
            $49 per month.There are no long term contacts to worry about.<br/><br/>
            <a href="#" class="btn btn-primary btn-sm">SIGN UP</a>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
</div>
