<div class="container-fluid information-list-v2">
    <div class="row top-buffer">
        <div class="col-md-4 text-center" ng-repeat="content in component.contents track by $index">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h6 class="customColor">{{content.title}}</h6><b>{{content.data}}</b>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <br/>
                    <a ng-show="content.btn.text" href="{{content.btn.url}}" class="btn btn-primary btn-md">{{content.btn.text}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
