<div ng-class="component.type+'-v'+component.version">
    <div class="home-text">

        <div class="masthead-title">
            <div class="editable" data-class="maintitle" data-index="{{$index}}">
                <span ng-bind-html="component.maintitle"/></span>
                <span ng-if="!component.maintitle"/></span>
            </div>
        </div>

        <div class="masthead-subtitle">
            <div class="editable" data-class="subtitle" data-index="{{$index}}">
                <span ng-bind-html="component.subtitle"/>
            </div>
        </div>

        <div class="masthead-text">
            <div class="editable" data-class="text" data-index="{{$index}}">
                <span ng-bind-html="component.text"/>
            </div>
        </div>


        <div class="col-xs-12" ng-show="component.btn.visibility">
            <a class="btn btn-success btn-lg center"  data-ng-href="{{component.btn.url}}" du-smooth-scroll>
            <i ng-if="component.btn.icon" class="{{component.btn.icon}}"></i>
            <span class="editable" data-index="{{$index}}"  data-class="btn-text" ng-bind-html="component.btn.text"></span>
            </a>
        </div>

        <div class="clearfix"></div>

    </div>
</div>