<div ng-class="component.type+'-v'+component.version" style="background-image: url({{componentEditing.bg.img.url}})">
    <div class="home-text">
        <div class="page-block" id="page_block_header" style="height: 702px;position: relative;">

            <div class="page-element widget-container page-element-type-image widget-image" id="element-0" style="height: 23px;width: 140px;left: 408px;top: 111px;z-index: 4;">
                <div class="contents">
                    <img src="http://d28vnnuaxkcg6l.cloudfront.net/289296-0-logo.png" style="height: 23px; width: 140px; margin-top: 0px;" alt="logo">
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text" id="element-2" style="height: 22px;width: 582px;left: 190px;top: 267px;z-index: 7;">

                <div class="contents" style="color: #000000;">
                    <p style="text-align: center; font-size: 16px; line-height: 22.3999996185303px;">
                        <font color="#ffffff">This is your supporting headline that works as a clearifying.</font>
                    </p>
                </div>
            </div>

            <div style="height: 463px;width: 772px;left: 92px;top: 150px;z-index: 19;position: absolute;">

                <div style="width: 772px; height: 463px; background-color: transparent; border-radius: 0px 0px 0px 0px; opacity: 1; filter:alpha(opacity=100); background-repeat: no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-image: url('http://d28vnnuaxkcg6l.cloudfront.net/289297-0-cosmomacbook.png');"></div>
            </div>


            <div style="height: 367px;width: 587px;left: 185px;top: 177px;z-index: 20;position: absolute;">
                <div class="contents">
                    <img src="http://d28vnnuaxkcg6l.cloudfront.net/294297-0-headerscreen.jpg" style="height: 367px; width: 587px; margin-top: 0.0625px;" alt="screen">
                </div>
            </div>
        </div>

    </div>
</div>
