<div ng-class="component.type+'-v'+component.version">
    <div class="title">
        <div elem ng-model="component.title"></div>
    </div>
    <div class="mb30"></div>
    <div class="row team-member-wrap">
        <div class="col-xs-12 col-sm-4 col-md-3 profilepic meet-team-height pull-left" ng-repeat="teamMember in component.teamMembers">
            <div class="{{teamMember.becomeMember?'become-member':''}} team-member {{isEditing ? 'edit-mode' : ''}}">
                <div ng-if="component.teamSettings.profilepic" class="profile-img meet-team-image" data-index="{{$index}}">
                    <div class="profilepic-hover">
                        <div class="mask left" style="width:115px"></div>
                        <div class="mask right" style="width:115px"></div>
                        <div class="mask left" style="width:115px"></div>
                        <div class="mask right" style="width:115px"></div>
                        <div class="mask left" style="width:40px"></div>
                        <div class="mask right" style="width:40px"></div>
                        <div class="mask left" style="width:25px"></div>
                        <div class="mask right" style="width:25px"></div>
                        <div class="mask left" style="width:20px"></div>
                        <div class="mask right" style="width:20px"></div>
                        <div class="mask left" style="width:10px"></div>
                        <div class="mask right" style="width:10px"></div>
                        <div class="mask left" style="width:10px"></div>
                        <div class="mask right" style="width:10px"></div>
                        <div class="mask left" style="width:5px"></div>
                        <div class="mask right" style="width:5px"></div>
                        <div class="mask left" style="width:10px"></div>
                        <div class="mask right" style="width:10px"></div>
                        <div class="mask left" style="width:15px"></div>
                        <div class="mask right" style="width:15px"></div>
                        <div class="mask left" style="width:20px"></div>
                        <div class="mask right" style="width:20px"></div>
                        <div class="mask left" style="width:25px"></div>
                        <div class="mask right" style="width:25px"></div>
                        <div class="mask left" style="width:35px"></div>
                        <div class="mask right" style="width:35px"></div>
                        <div class="mask left" style="width:45px"></div>
                        <div class="mask right" style="width:45px"></div>
                        <div class="mask left" style="width:115px"></div>
                        <div class="mask right" style="width:115px"></div>
                    </div>
                    <div ng-if="!teamMember.becomeMember">
                        <img ng-if="!teamMember.becomeMember" ng-src="{{teamMember.profilepic}}" class="{{component.imgstyle}} profile-img img-thumbnail img-circle" style="width: 229px;height: 230px" />
                    </div>
                    <a ng-if="teamMember.becomeMember" href="{{teamMember.link}}">
                        <img data-index="{{$index}}" ng-show="teamMember.profilepic" ng-src="{{teamMember.profilepic}}" class="thumbnail img-circle profile-img meet-team-image" />
                    </a>
                </div>
                <div ng-if="component.teamSettings.name" class="name">
                    <div elem ng-model="teamMember.name"></div>
                    <div class="name-border"></div>
                </div>
                <div ng-if="component.teamSettings.position" class="profile-position">
                    <div elem ng-model="teamMember.position"></div>
                </div>
                <div ng-if="component.teamSettings.bio && !teamMember.becomeMember" class="bio">
                    <div elem ng-model="teamMember.bio"></div>
                </div>
                <div ng-if="component.teamSettings.networks" class="social-link {{isEditing ? 'edit-mode' : ''}}">
                    <ul ng-if="!teamMember.becomeMember" class="profile-social">
                        <li ng-repeat="network in teamMember.networks">
                            <a ng-if="!isEditing" href="{{network.url}}" target="_blank" class="btn btn-{{network.icon}}">
                                <span class="fa fa-{{network.icon}}"></span>
                            </a>
                            <a ng-if="isEditing" href="#" data-index="{{$index}}" parent-data-index="{{$parent.$parent.$index}}" class="clickable-link btn-social-link btn btn-{{network.icon}}"><span class="fa fa-{{network.icon}}"></span></a>
                        </li>
                    </ul>
                    <div ng-if="isEditing" class="add-addtional-team center">
                        <a ng-if="isEditing" parent-data-index="{{$parent.$index}}" class="clickable-link btn-social-link"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
                <div ng-if="isEditing" class="delete-team-member center">
                    <button ng-click="deleteTeamMember(component._id, $index)" class="ng-scope btn-delete-team-member">
                        <i class='fa fa-trash'></i>
                    </button>
                </div>
                <div ng-if="isEditing" class="add-addtional center">
                    <a href="" ng-click="addTeamMember(component._id,$index)">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>