<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->
<style>
    .position {
        color:{{component.txtcolor}};
    }
</style>
<div ng-class="component.type+'-v'+component.version">
    <div class="title">
        <div class="editable" data-class="title" ng-bind-html="component.title | unsafe"></div>
    </div>

    <div class="mb30"></div>

    <div class="row team-member-wrap">
        <div class="col-sm-4 col-md-3 col-xs-12 text-center team-member-container wow fadeInDown animated" ng-repeat="teamMember in component.teamMembers">
            <div class="team-member {{isEditing ? 'edit-mode' : ''}}">
                <div class="profile-img meet-team-image" data-index="{{$index}}" style="background: url('{{teamMember.profilepic}}') center center no-repeat;background-size: cover;width: 212px;height: 220px;">
                </div>
                <div class="team-member-meta">
                    <div class="name">
                        <div class="editable" data-class="teamMembers.item.name" data-index="{{$index}}" ng-bind-html="teamMember.name | unsafe"></div>
                    </div>

                    <div class="position">
                        <div class="editable" data-class="teamMembers.item.position" data-index="{{$index}}" ng-bind-html="teamMember.position | unsafe"></div>
                    </div>

                    <div class="bio">
                        <div class="editable" data-class="teamMembers.item.bio" data-index="{{$index}}" ng-bind-html="teamMember.bio | unsafe"></div>
                    </div>
                    <ul class="social">
                        <li ng-repeat="(val, key) in teamMember.social" data-index="{{$index}}">
                            <a href="{{key}}" target="_blank">
                                <span class="fa fa-{{val}}"></span>
                            </a>
                        </li>
                    </ul>                    
                </div>
                <div ng-if="isEditing" class="delete-team-member center">
                    <button ng-click="deleteTeamMember(component._id,$index)" class="ng-scope btn-delete-team-member">
                        <i class='fa fa-trash'></i>
                    </button>
                </div>
                <div ng-if="isEditing" class="add-addtional center">
                    <a href="" ng-click="addTeamMember(component._id,$index)">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>