<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->
<div class="component" ng-show="component" data-class="meet-team" data-id="{{component._id}}">
    <div class="component-body">
        <div class="meet-team {{component.bg.img.parallax?'parallax':''}}">
            <div class="component-body" parallax-background parallax-ratio=".4" parallax-vertical-offset="0" parallax-horizontal-offset="0" style='background: url("{{component.bg.img.url}}"); background: {{component.bg.color||secondaryColor}}; color: {{component.txtcolor||primaryTextColor}};'>
                <div class="inner-page">
                    <h3 class="title">
                        <div class="editable" data-class="title">
                            {{component.title}}
                        </div>
                    </h3>
                    <div class="mb30"></div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-3 profilepic pull-left" ng-repeat="teamMember in component.teamMembers">
                            <div class="{{teamMember.becomeMember?'become-member':''}}">
                                <div class="profile-img">
                                    <div class="profilepic-hover">
                                        <div style="float:left;clear:left;height:15px;width:115px"></div>
                                        <div style="float:right;clear:right;height:15px;width:115px"></div>
                                        <div style="float:left;clear:left;height:15px;width: 115px;"></div>
                                        <div style="float:right;clear:right;height:15px;width:115px"></div>
                                        <div style="float:left;clear:left;height:15px;width:40px"></div>
                                        <div style="float:right;clear:right;height:15px;width:40px"></div>
                                        <div style="float:left;clear:left;height:15px;width:25px"></div>
                                        <div style="float:right;clear:right;height:15px;width:25px"></div>
                                        <div style="float:left;clear:left;height:15px;width:20px"></div>
                                        <div style="float:right;clear:right;height:15px;width:20px"></div>
                                        <div style="float:left;clear:left;height:15px;width:10px"></div>
                                        <div style="float:right;clear:right;height:15px;width:10px"></div>
                                        <div style="float:left;clear:left;height:15px;width:10px"></div>
                                        <div style="float:right;clear:right;height:15px;width:10px"></div>
                                        <div style="float:left;clear:left;height:15px;width:5px"></div>
                                        <div style="float:right;clear:right;height:15px;width:5px"></div>
                                        <div style="float:left;clear:left;height:15px;width:10px"></div>
                                        <div style="float:right;clear:right;height:15px;width:10px"></div>
                                        <div style="float:left;clear:left;height:15px;width:15px"></div>
                                        <div style="float:right;clear:right;height:15px;width:15px"></div>
                                        <div style="float:left;clear:left;height:15px;width:20px"></div>
                                        <div style="float:right;clear:right;height:15px;width:20px"></div>
                                        <div style="float:left;clear:left;height:15px;width:25px"></div>
                                        <div style="float:right;clear:right;height:15px;width:25px"></div>
                                        <div style="float:left;clear:left;height:15px;width:35px"></div>
                                        <div style="float:right;clear:right;height:15px;width:35px"></div>
                                        <div style="float:left;clear:left;height:15px;width:45px"></div>
                                        <div style="float:right;clear:right;height:15px;width:45px"></div>
                                        <div style="float:left;clear:left;height:15px;width:115px"></div>
                                        <div style="float:right;clear:right;height:15px;width:115px"></div>
                                        <span class="c" style="font-size: 13px;">
                                            <div class="editable" data-class="bio">
                                                <p>{{teamMember.bio}}</p>
                                            </div>
                                        </span>
                                        <ul class="profile-social">
                                            <li ng-repeat="(val, key) in teamMember.social">
                                                <a href="{{key}}" target="_blank">
                                                    <span class="fa fa-{{val}}"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <img src="{{teamMember.profilepic}}" class="thumbnail img-circle profile-img" />
                                </div>
                                <h4 class="name">
                                    <div class="editable" data-class="name">
                                        <h4>{{teamMember.name}}</h4>
                                    </div>
                                    <div class="name-border"></div>
                                </h4>
                                <span class="profile-position">
                                    <div class="editable" data-class="position">
                                        {{teamMember.position}}
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
