<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->
<div ng-class="component.type+'-v'+component.version">
<div class="row text-center top-buffer">
    <div class="col-md-12 text-center">
        <h3>{{component.title}}</h3>
    </div>
</div>

<div class="row team-member-wrap">
    <div class="col-md-8 col-md-offset-2">
        <div class="col-md-6 text-center team-member {{isEditing ? 'edit-mode' : ''}}" ng-repeat="member in component.teamMembers">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img ng-src="{{member.profilepic}}" height="250px" width="250px" class="{{component.imagestyle}} meet-team-image" data-index="{{$index}}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center para">
                <div class="editable" data-class="teamMembers.item.name" data-index="{{$index}}" ng-bind-html="member.name | unsafe"></div>
                <div class="editable" data-class="teamMembers.item.position" data-index="{{$index}}" ng-bind-html="member.position | unsafe"></div>
                <div class="editable" data-class="teamMembers.item.bio" data-index="{{$index}}" ng-bind-html="member.bio | unsafe"></div>
                </div>
            </div>
            <div class="row">
                <ul class="social">
                <li ng-repeat="(val, key) in member.social">
                    <a href="{{key}}" target="_blank">
                        <span class="fa fa-{{val}}"></span>
                    </a>
                </li>
                </ul>
            </div> 
            <div ng-if="isEditing" class="delete-team-member center">
                <button ng-click="deleteTeamMember(component._id,$index)" class="ng-scope btn-delete-team-member">
                    <i class='fa fa-trash'></i>
                </button>
            </div>
            <div ng-if="isEditing" class="add-addtional center">
                <a href="" ng-click="addTeamMember(component._id,$index)">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-2">&nbsp;</div>

</div>
</div>