<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->
<style>
    .position {
        color:{{component.txtcolor}};
    }
</style>
<div ng-class="component.type+'-v'+component.version">
    <div class="title">
        <div class="editable" data-class="title" ng-bind-html="component.title | unsafe"></div>
    </div>

    <div class="mb30"></div>

    <div class="row team-member-wrap">
        <div class="col-sm-4 col-md-3 col-xs-12 text-center team-member-container wow fadeInDown animated" ng-repeat="teamMember in component.teamMembers">
            <div class="team-member {{isEditing ? 'edit-mode' : ''}}">
                <div class="profile-img meet-team-image" data-index="{{$index}}" style="background: url('{{teamMember.profilepic}}') center center no-repeat;background-size: cover;width: 212px;height: 220px;">
                </div>
                <div class="team-member-meta">
                    <div class="name">
                        <div class="editable" data-class="teamMembers.item.name" data-index="{{$index}}" ng-bind-html="teamMember.name | unsafe"></div>
                    </div>

                    <div class="position">
                        <div class="editable" data-class="teamMembers.item.position" data-index="{{$index}}" ng-bind-html="teamMember.position | unsafe"></div>
                    </div>

                    <div class="bio">
                        <div class="editable" data-class="teamMembers.item.bio" data-index="{{$index}}" ng-bind-html="teamMember.bio | unsafe"></div>
                    </div>
                    <div class="social-link {{isEditing ? 'edit-mode' : ''}}">
                        <ul class="social">
                            <li ng-repeat="network in teamMember.networks">
                                <a ng-if="!isEditing" href="{{network.url}}" target="_blank">
                                    <span class="fa fa-{{network.icon}}"></span>
                                </a>
                                <a ng-if="isEditing" href="#" ng-click="setSelectedSocialLink(network, component._id, true, true, $parent.$parent.$index)" class="clickable-link" data-toggle="modal" data-target="#meetteamSocialModal"><span class="fa fa-{{network.icon}}"></span></a>
                            </li>                        
                        </ul> 
                        <div ng-if="isEditing" class="add-addtional-team center">
                            <a ng-if="isEditing" class="clickable-link" data-toggle="modal" ng-click="setSelectedSocialLink(network, component._id, false, true, $parent.$parent.$index)" data-target="#meetteamSocialModal"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>                  
                </div>
                <div ng-if="isEditing" class="delete-team-member center">
                    <button ng-click="deleteTeamMember(component._id,$index)" class="ng-scope btn-delete-team-member">
                        <i class='fa fa-trash'></i>
                    </button>
                </div>
                <div ng-if="isEditing" class="add-addtional center">
                    <a href="" ng-click="addTeamMember(component._id,$index)">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="isEditing" ng-include="'/components/meet-team-social-links.html'"></div>