<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->

<div ng-show="component" data-class="meet-team-v2" data-id="{{component._id}}">

    <div class="component-body">
        <div class="masthead {{component.bg.img.parallax?'parallax':''}}" data-image="{{component.bg.img.url}}" data-width="{{component.bg.img.width}}" data-height="{{component.bg.img.height}}">
            <div class="row">
                <div class="col-xs-12">
                    <div class="home-text">
                        <h1>
                            <div class="editable" data-class="title">{{component.title}}</div>
                        </h1>

                        <p>
                        <div class="editable" data-class="subtitle">{{component.subtitle}}</div>
                        </p>

                        <div class="col-xs-12">
                            <div class="btn-wrap">
                                <a class="btn btn-success btn-block center col-xs-3 scrollto" href="{{component.btn.url}}">
                                    <h4 class="btn-text"><div class="editable" data-class="btn-text">{{component.btn.text}}</div> <i class="fa fa-arrow-circle-o-down"></i></h4>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>