<nav class="navbar-v3 navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <div class="col-xs-12 col-sm-6">
            <div class="maintitle">
                <div class="editable" data-class="maintitle">
                    <span ng-bind-html="component.maintitle" />
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="pull-right contact">
                <img src="http://api.randomuser.me/portraits/med/women/34.jpg" class="img-circle">
                <a type="button" href="/page/real-estate/#contact-me" class="btn btn-primary">Contact Me</a>
            </div>
        </div>

    </div>

</nav>
