<style>
    .navigation-v4.nav-header-{{component._id}} .navbar-default .navbar-nav.nav-align{
        text-align:{{component.nav.align}} !important;
    }
    .navigation-v4.nav-header-{{component._id}} .navbar-default .navbar-nav.nav-font-size > li > a{
        font-size:{{component.nav.font.size}}px !important;
    }
    .navigation-v4.nav-header-{{component._id}} .navbar-default .navbar-nav.nav-font-family > li > a{
        font-family:{{component.nav.font.family}} !important;
    }
    .navbar-collapse.navbgcolor {
        background-color: {{component.nav.hoverbg}} !important;
    }
    .navigation-v4.nav-header-{{component._id}} .navbar ul.navbar-nav li:hover {
        border-bottom: 4px solid {{component.nav.hover}}!important;
    }
    .navigation-v4.nav-header-{{component._id}} .navbar ul.navbar-nav li {
        border-bottom: 4px solid transparent;
    }
    .navigation-v4.nav-header-{{component._id}} .navbar ul.navbar-nav li.sub-nav-parent-menu:hover {
        border-bottom: 4px solid transparent !important;
    } 
    .navigation-v2.nav-header-{{component._id}} .navbar-default .navbar-nav > li  a:hover,
    .navigation-v2.nav-header-{{component._id}} .navbar-default .navbar-nav > li:hover,
    .navigation-v2.nav-header-{{component._id}} .navbar-default .navbar-nav > li.sub-nav-parent-menu:hover>div>div>div.sub-nav-link>a,
    .navigation-v2.nav-header-{{component._id}} .navbar-default .navbar-nav > li.nav-active a:focus{
        color: {{component.activetxtcolor}}!important;
        background-color: {{component.nav.pressed.bg.color}}
        font-weight: {{component.nav.pressed.font.weight}};
    }
    .navigation-v4.nav-header-{{component._id}} .navbar-default .navbar-nav > li  a:hover,
    .navigation-v4.nav-header-{{component._id}} .navbar-default .navbar-nav > li:hover, .navigation-v4.nav-header-{{component._id}} .navbar-default .navbar-nav > li.nav-active a:focus{
        background-color: {{component.nav.hoverbg || 'transparent'}};
        color: {{component.nav.hover}}  !important;
        font-weight: {{component.nav.hoverFontWeight}}!important;
    }
    
    .navigation-v4.nav-header-{{component._id}} .navbar-default .navbar-header .navbar-toggle .icon-bar {
        background-color: {{component.nav.txtcolor}} !important;
    }

    .navigation-v4.nav-header-{{component._id}} .navbar-default .navbar-header .navbar-toggle {
        border-color: {{component.nav.txtcolor}} !important;
    }
    .navigation-v4.nav-header-{{component._id}} .navbar-default .navbar-nav > li,.navigation-v4.nav-header-{{component._id}} .navbar-default .navbar-nav > li a{
        color: {{component.nav.txtcolor}} !important;
        background-color: {{component.nav.menubgcolor}};
        font-size:{{component.nav.font.size}}px !important;
        font-family:{{component.nav.font.family}};
        font-weight:{{component.nav.font.weight}};
        text-transform:{{component.nav.allowMixedCase ? 'none' : 'uppercase' }}
    }
    
    .navigation-v4.nav-header-{{component._id}} .navbar-default .nav-sub-menu,.navigation-v4.nav-header-{{component._id}} .navbar-default .nav-sub-menu  li,
    .navigation-v4.nav-header-{{component._id}} .navbar-default .nav-sub-menu li a{
        background-color: {{component.subnavigation.menubgcolor}}!important; 
        text-align:{{component.subnavigation.align}} !important;
        border-color: {{component.subnavigation.menubgcolor}}!important;
        color: {{component.subnavigation.txtcolor}} !important;  
    } 

    .navigation-v4.nav-header-{{component._id}} .navbar-default .nav-sub-menu  li:hover,
    .navigation-v4.nav-header-{{component._id}} .navbar-default .nav-sub-menu  li:focus,
    .navigation-v4.nav-header-{{component._id}} .navbar-default .nav-sub-menu  li a:hover,
    .navigation-v4.nav-header-{{component._id}} .navbar-default .nav-sub-menu  li:hover, 
    .navigation-v4.nav-header-{{component._id}} .navbar-default .nav-sub-menu li.nav-active a:focus{
        background-color: {{component.subnavigation.hoverbg}} !important;
        color: {{component.subnavigation.hover}} !important; 
    }
</style>
<div ng-class="component.type+'-v'+component.version" class="nav-header-{{component._id}}">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div ng-if="!component.customnav" class="collapse navbar-collapse" id="bs-example-navbar-collapse-{{navbarId}}" ng-class="{'navbgcolor' : !(component.bg.img.show && component.bg.img.url) }" ng-style="{'background' : component.nav.bg }">
                <ul ng-class="{'nav-font-size':component.nav.font.size, 'nav-font-family':component.nav.font.family, 'nav-align': component.nav.align, 'nav-mixed-case': component.nav.allowMixedCase}" class="nav navbar-nav navbar-right" data-edit="{ 'type': 'component' }" data-ng-repeat="mainMenu in website.linkLists" data-ng-if=" mainMenu.handle=='head-menu' ">
                    <li ng-class="{'nav-font-size':component.nav.font.size, 'nav-font-family':component.nav.font.family, 'sub-nav-parent-menu': alink.linkTo.type == 'sub-nav'}" data-ng-repeat="alink in mainMenu.links">
                        <div ng-if="alink.links && alink.links.length>0">
                            <div ng-init="link = alink">
                                <ssb-navigation-component-loader></ssb-navigation-component-loader>
                            </div>
                            <ul class="nav-sub-menu">
                                <li  data-ng-repeat="sublink in alink.links" ng-style="{'text-align':component.nav.align}" class="sub-link">
                                    <div ng-init="link = sublink">
                                        <ssb-navigation-component-loader></ssb-navigation-component-loader>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div ng-if="!(alink.links && alink.links.length>0)">
                            <div ng-init="link = alink">
                                <ssb-navigation-component-loader></ssb-navigation-component-loader>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div ng-if="component.customnav" class="collapse navbar-collapse" id="bs-example-navbar-collapse-{{navbarId}}" ng-style="{'background' : component.nav.bg }">
                <ul ng-class="{'nav-font-size':component.nav.font.size, 'nav-font-family':component.nav.font.family, 'nav-align': component.nav.align, 'nav-mixed-case': component.nav.allowMixedCase}" class="nav navbar-nav navbar-right" data-ng-repeat="mainMenu in component.linkLists" data-ng-if=" mainMenu.handle=='head-menu' " data-edit="{ 'type': 'component' }">
                    <li data-ng-repeat="alink in mainMenu.links" ng-class="{'sub-nav-parent-menu': alink.linkTo.type == 'sub-nav'}">
                      <div ng-if="alink.links && alink.links.length>0">
                          <div ng-init="link = alink">
                                <ssb-navigation-component-loader></ssb-navigation-component-loader>
                            </div>
                            <ul class="nav-sub-menu">
                                <li  data-ng-repeat="sublink in alink.links" ng-style="{'text-align':component.nav.align}" class="sub-link">
                                    <div ng-init="link = sublink">
                                        <ssb-navigation-component-loader></ssb-navigation-component-loader>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div ng-if="!(alink.links && alink.links.length>0)">
                            <div ng-init="link = alink">
                                <ssb-navigation-component-loader></ssb-navigation-component-loader>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-{{navbarId}}">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div ng-if="isEditing"  class="navbar-brand" href="/" data-name="{{account.company.name}}" style="margin:{{component.logo.margin.t}} {{component.logo.margin.r}} {{component.logo.margin.b}} {{component.logo.margin.l}}!important;padding:{{component.logo.padding}};">
                    <div class="nav-logo">
                        <div ng-if="!isSinglePost" elem ng-model="component.logo" class="navigation-logo"></div>
                        <div ng-if="isSinglePost" class="navigation-logo" tooltip-placement="bottom" tooltip="This component is only editable on the single-post page" ng-bind-html="component.logo | unsafe"></div>
                    </div>
                </div>
                <a ng-if="!isEditing" class="navbar-brand" href="/" data-name="{{account.company.name}}" style="margin:{{component.logo.margin.t}} {{component.logo.margin.r}} {{component.logo.margin.b}} {{component.logo.margin.l}}!important;padding:{{component.logo.padding}};">
                    <div class="nav-logo">
                        <div ng-if="!isSinglePost" elem ng-model="component.logo" class="navigation-logo"></div>
                        <div ng-if="isSinglePost" class="navigation-logo" tooltip-placement="bottom" tooltip="This component is only editable on the single-post page" ng-bind-html="component.logo | unsafe"></div>
                    </div>
                </a>

            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
       <!-- /.container-fluid -->
    </nav>
</div>
