<link href='//fonts.googleapis.com/css?family=Raleway:700,300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/libs_misc/crypto/hmac-sha256.js" />
<script type="text/javascript" src="js/libs_misc/crypto/enc-base64-min.js" />
<style >
    .ssb-theme-default {
        color: #73879C ;
        background-color: #FFFFFF;  
    }
</style>
<div ng-show="!isFormValid">
    <div ng-class="component.type+'-v'+component.version">
        <div class="payment-form-header">
            <div style="max-width:1024px!important;margin:0 auto;">
                <img src="//s3.amazonaws.com/indigenous-account-websites/acct_6/logo.png" width="276" height="57" class="pull-left hidden-xs" style="display: block;">
                <img src="//s3-us-west-2.amazonaws.com/indigenous-admin/logo-mark.png" width="57" height="57" class="pull-left visible-xs" style="display: block;">
                <p class="pull-right" style="line-height: 65px;">Already have an account? <a href="/login">Log In</a></p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="top-signup account-info-signup">
            <div class="inner-page">
                <div class="padding-10 margin-bottom-30">
                    <h2 class="center text-bold margin-bottom-5">Start Your Free <br class="visible-xs">30-day Trial</h2>
                    <h3 class="center">No credit card required.</h3>
                </div>
                <div class="well">
                    <!-- EMAIL AND PASSOWORD -->
                    <div id="email" class="form-group col-xs-12 has-feedback" ng-hide="tmpAccount.tempUser">
                        <label>Email</label>
                        <input class="form-control input-lg" type="email" ng-model="newAccount.email" ng-pattern="emailValidation" ng-change="checkEmailExists(newAccount)" ng-model-options="{ debounce: 800 }" name="email" />
                        <span class="help-block">Your email address will be your username.</span>
                        <span class="glyphicon form-control-feedback"></span><span class="error help-block" />
                    </div>
                    <div id="password" class="form-group col-xs-12 has-feedback" ng-hide="newAccount.hidePassword">
                        <label>Password</label>
                        <input class="form-control input-lg" type="password" ng-model="newAccount.password" ng-change="checkPasswordLength(newAccount)" ng-model-options="{ debounce: 800 }" />
                        <span class="help-block">Your password must be at least 6 characters.</span>
                        <span class="glyphicon form-control-feedback"></span>
                        <span class="error help-block" />
                    </div>

                    <!-- NAME -->
                    <div id="fullName" class="form-group col-xs-12 has-feedback">
                        <label>Full Name</label>
                        <input class="form-control input-lg" type="text" ng-model="newAccount.fullName" />
                        <span class="glyphicon form-control-feedback"></span>
                        <span class="error help-block" />
                    </div>
                    <!-- First -->
                    <div id="first" class="hidden form-group col-xs-12 col-sm-6 has-feedback" >
                        <label>First Name</label>
                        <input class="form-control input-lg" type="text" ng-change="checkFirstName(newAccount)" ng-model-options="{ debounce: 800 }" ng-model="newAccount.first" ng-attr-placeholder="{{newAccount.first}}" />
                        <span class="glyphicon form-control-feedback"></span>
                        <span class="error help-block" />
                    </div>
                    <!-- Last -->
                    <div id="last" class="hidden form-group col-xs-12 col-sm-6 has-feedback">
                        <label>Last Name</label>
                        <input class="form-control input-lg" type="text" ng-change="checkLastName(newAccount)" ng-model-options="{ debounce: 800 }" ng-model="newAccount.last" />
                        <span class="glyphicon form-control-feedback"></span>
                        <span class="error help-block" />
                    </div>
                    <!-- Business Name -->
                    <div id="business-name"
                         class="form-group col-xs-12 has-feedback"
                         ng-class="{'has-error': !validBusinessName,
                          'has-success': domainExistsAlready!==undefined && !domainExistsAlready}">

                        <label>Business Name</label>
                        <input class="form-control input-lg"
                               type="text"
                               ng-model="newAccount.businessName"
                               ng-change="checkDomainExists(newAccount)"
                               ng-model-options="{ debounce: 800 }" />
                        <div class="clearfix"></div>
                        <span class="glyphicon form-control-feedback"
                              ng-class="{'glyphicon-remove': !validBusinessName,
                                'glyphicon-ok': domainExistsAlready!==undefined && !domainExistsAlready}"></span>
                        <span class="error help-block" ng-if="domainExistsAlready">Domain Already Exists</span>
                        <span class="error help-block" ng-if="emptyBusinessName">Business Name Required</span>
                        <span class="help-block" ng-show="newAccount.businessName && validBusinessName">Your domain will be <strong>{{newAccount.businessName | urlFilter}}.indigenous.io</strong>. You can change it at any time.</span>
                        <span class="help-block" ng-show="dotComExt">This field is for your Indigenous account subdomain. You may point the domain of your choosing to your site at any time.</span>
                    </div>
                    <!-- Phone Number -->
                    <div id="phone" class="hidden form-group col-xs-6 has-feedback">
                        <label>Phone Number (Optional)</label>
                        <input class="form-control input-lg" type="text" ng-model="newAccount.phone" mask="(999) 999-9999" clean="true" mask-restrict='reject' />
                        <span class="glyphicon form-control-feedback"></span>
                        <span class="error help-block" />
                    </div>
                    <!-- Phone Extension -->
                    <div ng-if="showExtension" id="extension" class="hidden form-group col-xs-6 has-feedback">
                        <label>Phone Extension</label>
                        <input class="form-control input-lg" type="text" ng-model="newAccount.extension" ng-change="checkPhoneExtension(newAccount)" ng-model-options="{ debounce: 800 }"/>
                        <span class="glyphicon form-control-feedback"></span>
                        <span class="error help-block" />
                    </div>
                    <div ng-if="!showExtension" class="hidden form-group col-xs-6">
                        <span class="help-block"><br />Provide your phone number so a trial coach can help get you started.</span>
                    </div>
                    <div class="clearfix margin-bottom-10"></div>
                    <!-- BUY -->
                    <div class="submit-signup center">
                        <a type="button" style="cursor:pointer;background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #53b868), color-stop(1, #4ea660));background:-moz-linear-gradient(top, #53b868 5%, #4ea660 100%);background:-webkit-linear-gradient(top, #53b868 5%, #4ea660 100%);background:-o-linear-gradient(top, #53b868 5%, #4ea660 100%);background:-ms-linear-gradient(top, #53b868 5%, #4ea660 100%);background:linear-gradient(to bottom, #53b868 5%, #4ea660 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#53b868', endColorstr='#4ea660',GradientType=0);background-color:#%1;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px solid #4ea660;display:inline-block;color:#ffffff;font-family:;font-size:16px;font-weight:bold;font-style:%1;padding:10px 30px;text-decoration:none;text-shadow:0px 1px 1px #4ea660;" ng-click="createAccountWithoutCC(newAccount)"> CREATE ACCOUNT</a>
                        <span class="help-block" ng-show='havingNetworkIssue'>Something went wrong during the creation of your account. Please try again.</span>
                    </div>
                    <p class="center margin-top-10">By clicking this button you agree to our <a href="/legal">Terms of Service</a>.</p>
                    <p class="center margin-top-10"><a href="/legal#privacy-policy">Privacy Policy</a>: We hate SPAM and promise to keep your information safe.</p>
                </div>
            </div>
        </div>
        <div class="price-signup hidden">
            <div class="inner-page">
                <div class="clearfix mb20"></div>
                <div ng-repeat="plan in subscriptionPlans" ng-class="{ 'notSelected': newAccount.membership != plan.id , 'selected': newAccount.membership == plan.id  }">
                    <h4 class="center">{{plan.name}}</h4>
                    <h2 class="center"><i class="fa fa-usd fa-1"></i>{{(plan.amount/100).toFixed(2)}} <span>/ {{plan.interval}}</span></h2>
                    <div class="clearfix mb15"></div>
                    <p class="center"><span ng-show="currentCoupon.created != 1437591986 && paymentFormProduct.product_attributes.stripePlans[0].signup_fee">+ <i class="fa fa-usd fa-1"></i> {{subscriptionPlanOneTimeFee}} One Time Setup Fee</span> <span ng-if="currentCoupon.created == 1437591986">No Setup Fee</span></p>
                    <div class="col-xs-12">
                        <a type="button" class="btn ssb-theme-btn btn-success btn-block center" ng-if="newAccount.membership != plan.id" ng-hide="subscriptionPlans.length == 1" ng-click="selectSubscriptionPlanFn(plan.id, plan.amount, plan.interval, planStatus[plan.id].signup_fee)">Choose</a>
                        <a type="button" class="btn ssb-theme-btn btn-green btn-block center active" ng-hide="subscriptionPlans.length == 1" ng-if="newAccount.membership == plan.id">Selected</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="payment-signup hidden">
            <div class="inner-page">
                <div class="clearfix mb20"></div>
                <div class="card-wrapper mb20"></div>
                <h4>Payment Info</h4>
                <form name="card-details" action="" class="form-group col-xs-12 mb0 has-feedback">
                    <div class="row">
                        <div id="card_number" class="form-group small-6 columns col-sm-6">
                            <input placeholder="Card number" type="text" name="number" id="number" ng-blur="" class="form-control input-lg">
                            <span class="glyphicon form-control-feedback"></span>
                            <span class="error help-block" />
                        </div>
                        <div class="visible-xs mb20"></div>
                        <div id="card_name" class="form-group small-6 columns col-sm-6 has-feedback">
                            <input placeholder="Full name" type="text" id="name" name="name" ng-blur="checkCardName()" class="form-control input-lg">
                            <span class="glyphicon form-control-feedback"></span>
                            <span class="error help-block" />
                        </div>
                    </div>
                    <div class="row">
                        <div id="card_expiry" class="form-group small-3 columns col-xs-6 has-feedback">
                            <input placeholder="MM/YY" ng-blur="" type="text" id="expiry" name="expiry" class="form-control input-lg">
                            <span class="glyphicon form-control-feedback"></span>
                            <span class="error help-block" />
                        </div>
                        <div id="card_cvc" class="form-group small-3 columns col-xs-6 has-feedback">
                            <input placeholder="CVC" ng-blur="" type="text" id="cvc" name="cvc" class="form-control input-lg">
                            <span class="glyphicon form-control-feedback"></span>
                            <span class="error help-block" />
                        </div>
                    </div>
                </form>
                <!-- Coupon DETAILS -->
                <div class="form-group col-xs-12 has-feedback" ng-class="{'has-error': !couponIsValid && couponChecked && !checkingCoupon, 'has-success': couponIsValid && !checkingCoupon}">
                    <input class="form-control input-lg" type="text" ng-change="checkCoupon()" ng-model="newAccount.coupon" placeholder="Coupon Code" ng-model-options="{ debounce: 800 }" />
                    <span class="form-control-feedback" ng-class="{'glyphicon glyphicon-remove': !couponIsValid && couponChecked && !checkingCoupon, 'glyphicon glyphicon-ok': couponIsValid, 'fa fa-spinner fa-spin':checkingCoupon}"></span>
                    <span class="error help-block" ng-if="!couponIsValid && couponChecked && !checkingCoupon">Invalid Coupon</span>
                    <span class="success help-block" ng-if="couponIsValid && couponChecked && !checkingCoupon">Coupon Accepted</span>
                </div>
                <div class="clearfix mb15"></div>
                <div>
                    <img class="center" style="display: block;" src="//s3-us-west-2.amazonaws.com/indigenous-admin/trust-seals-stripe.png">
                </div>
                <div class="clearfix mb30"></div>
                <!-- BUY -->
                <div class="submit-signup mb10 center">
                    <a type="button" style="background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb8823), color-stop(1, #f86807));background:-moz-linear-gradient(top, #fb8823 5%, #f86807 100%);background:-webkit-linear-gradient(top, #fb8823 5%, #f86807 100%);background:-o-linear-gradient(top, #fb8823 5%, #f86807 100%);background:-ms-linear-gradient(top, #fb8823 5%, #f86807 100%);background:linear-gradient(to bottom, #fb8823 5%, #f86807 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb8823', endColorstr='#f86807',GradientType=0);background-color:#fbb450;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;border:1px solid #c97e1c;display:inline-block;color:#ffffff;font-family:arial;font-size:18px;font-weight:normal;font-style:%1;padding:14px 45px;text-decoration:none;text-shadow:1px 1px 0px #cc4b14;" ng-click="createAccountWithoutCC(newAccount)"> BECOME AN INDIGENOUS MEMBER NOW</a>
                </div>
                <p class="center margin-top-10">By clicking this button you agree to our <a href="/legal">Terms of Service</a>.</p>
                <br>
                <p class="center">* <span ng-if="subscriptionPlans[0].trial_period_days">{{subscriptionPlans[0].trial_period_days}}-day free trial</span> <span ng-if="currentCoupon.created == 1437591986"> with sign-up fee waived, </span> <span ng-if="!currentCoupon.created && paymentFormProduct.product_attributes.stripePlans[0].signup_fee">then a one time charge for $546.95 ($497 + $49.95), then</span> $49.95/month.
                    <br> Once payment is processed, there are no refunds and there is no proration.
                    <br> For cancellations, please contact our support via chat.</p>
                <div class="clearfix margin-bottom-10"></div>
            </div>
        </div>
        <div class="assertions-wrap">
            <div class="inner-page">
                <div class="assertions">
                    <div class="clearfix mb20"></div>
                    <div class="col-xs-4 center">
                        <span class="fa fa-lock mb10"></span>
                        <div class="clearfix"></div>
                        <span>100%</span>
                        <br> Secure
                        <br> Data</div>
                    <div class="col-xs-4 center">
                        <span class="fa fa-life-ring mb10"></span>
                        <div class="clearfix"></div>
                        <span>Live</span>
                        <br> Support
                        <br> Chat</div>
                    <div class="col-xs-4 center">
                        <span class="fa fa-credit-card mb10"></span>
                        <div class="clearfix"></div>
                        <span>Zero</span>
                        <br> Hidden
                        <br> Fees</div>
                </div>
                <div class="clearfix mb30"></div>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<div ng-show="isFormValid" id="overlay">
    <div id="loading">
        <div class="msg col-sm-12"><img style="margin: 0 auto;width: 100px;display: block;" src="//s3.amazonaws.com/indigenous-digital-assets/account_6/Indigenous-Logo-Icon_1492470258988.png"></div>
        <div class="msg col-sm-12">
            <h1 class="text-center">We’re pleased to have you.</h1>
        </div>
        <div class="msg col-sm-12">
            <div class="text-center"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
        <div class="msg col-sm-12">
            <h4 class="text-center">We’re building your account now.</h4></div>
    </div>
</div>
<script type="text/javascript">
card = $('form[name="card-details"]').card({
    container: '.card-wrapper'
});
</script>
