<link href='http://fonts.googleapis.com/css?family=Raleway:700,300' rel='stylesheet' type='text/css'>
<div ng-class="component.type+'-v'+component.version">
    <div class="top-signup">
        <div class="inner-page">
            <img src="https://s3.amazonaws.com/indigenous-account-websites/acct_6/logo.png" width="276" height="57" class="center" style="display: block;">
            <div class="clearfix mb40"></div>
            <h1 class="center">Are you ready to...</h1>
            <div class="clearfix mb40"></div>
            <div>
                <div class="col-xs-4">
                    <h1 class="center"><i class="fa fa-bullhorn"></i></h1>
                    <h4 class="center"> Tell your story</h4>
                    <div class="visible-xs mb30"></div>
                </div>
                <div class="col-xs-4">
                    <h1 class="center"><i class="fa fa-thumbs-up"></i></h1>
                    <h4 class="center">Build your client base</h4>
                    <div class="visible-xs mb30"></div>
                </div>
                <div class="col-xs-4">
                    <h1 class="center"><i class="fa fa-line-chart"></i></h1>
                    <h4 class="center"> Increase revenue</h4>
                    <div class="visible-xs mb30"></div>
                </div>
            </div>
            <div class="clearfix mb20"></div>
        </div>
    </div>
    <div class="social-signup">
        <div class="inner-page">
            <h2 class="center">Sign up for Indigenous</h2>
            <div class="clearfix mb20"></div>
            <div class="social btn-toolbar">
                <p class="pull-left">Connect with: </p>
                <div class="signup-social-toolbar pull-left">
                    <a ng-click="makeSocailAccount('facebook')" class="btn btn-large btn-default facebook"><i class="fa fa-facebook"></i></a>
                    <a ng-click="makeSocailAccount('twitter')" class="btn btn-large btn-default twitter"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-large btn-default google-plus" ng-click="makeSocailAccount('google')"><i class="fa fa-google-plus"></i></a>
                    <a class="btn btn-large btn-default linkedin" ng-click="makeSocailAccount('linkedin')"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <p class="center">or use your email address in a form below</p>
        </div>
    </div>
    <div class="account-info-signup">
        <div class="inner-page">
            <h4>Account Info</h4>
            <!-- Business Name -->

            <div id="business-name" class="form-group col-xs-12 has-feedback">
                <input class="form-control input-lg" type="text" ng-model="newAccount.businessName" placeholder="Business Name" ng-blur="checkDomainExists(newAccount)" />
                <span class="glyphicon form-control-feedback"></span>
                <span class="error help-block" />
            </div>

            <!-- EMAIL AND PASSOWORD -->

            <div id="email" class="form-group col-sm-6 has-feedback" ng-hide="newAccount.tempUserId">
                <input class="form-control input-lg" type="email" ng-model="newAccount.email" placeholder="Email" ng-blur="checkEmailExists(newAccount)" />
                <span class="glyphicon form-control-feedback"></span>
                <span class="error help-block" />
            </div>


            <div id="password" class="form-group col-sm-6 has-feedback" ng-hide="newAccount.tempUserId">
                <input class="form-control input-lg" type="password" ng-model="newAccount.password" placeholder="Password" ng-blur="checkPasswordLength(newAccount)" />
                <span class="glyphicon form-control-feedback"></span>
                <span class="error help-block" />
            </div>

        </div>
        <div class="clearfix mb40"></div>
    </div>
    <div class="price-signup">
        <div class="inner-page">
            <div ng-repeat="plan in subscriptionPlans" ng-class="{ 'notSelected': newAccount.membership != plan.id , 'selected': newAccount.membership == plan.id  }">
                <h4 class="center">{{plan.name}}</h4>
                <h2 class="center"><i class="fa fa-usd fa-1"></i>{{(plan.amount/100).toFixed(2)}} <span>/ {{plan.interval}}</span></h2>
                <p><i class="fa fa-usd fa-1"></i>{{plan}}(One Time Fee)</p>
                <div class="mb30"></div>
                <div class="col-xs-12 mb15">
                    <a type="button" class="btn btn-success btn-block center" ng-if="newAccount.membership != plan.id" ng-hide="subscriptionPlans.length <= 1" ng-click="selectSubscriptionPlanFn(plan.id, plan.amount, plan.interval, planStatus[plan.id].signup_fee)">Choose</a>
                    <a type="button" class="btn btn-green btn-block center active" ng-if="newAccount.membership == plan.id">Selected</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="payment-signup"></div>
</div>


<!-- Terms of Service Modal -->
<div class="modal fade" id="terms-of-service">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Terms of Service</h4>
                </div>
                <div class="modal-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, possimus, quasi. Necessitatibus praesentium, dolorem blanditiis modi mollitia, non veritatis. In laboriosam maxime vitae! Atque minima voluptates nisi aspernatur nihil. Quos, necessitatibus sint veritatis dolores magnam minima debitis sunt totam sit reiciendis! Suscipit eveniet placeat, velit totam repellendus illo quam quae aliquam voluptatibus deserunt nihil corporis, odio voluptate reiciendis dolorum non asperiores aut. Impedit doloribus aspernatur quasi ea tempora vitae odio eaque reiciendis omnis. Quia, nisi facilis vel non optio in, sit a! Molestiae placeat quae, nostrum officiis, iusto ea at repellat et atque consequatur! Id ut sapiente illo? Quas, deserunt?
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<script type="text/javascript">
card = $('form[name="card-details"]').card({
    container: '.card-wrapper'
});
</script>
