<div class="products-v1" data-class="products" data-id="{{component._id}}">
    <div class="products">
        <header class="jumbotron hero-spacer col-xs-12d" ng-style="{'background-color': component.boxColor}">
            <div class="title">
                <div elem ng-model="component.title"></div>
            </div>
            <div class="text">
                <div elem ng-model="component.text"></div>
            </div>
        </header>
        <div class="tab-pane active row" id="{{productSection['product-section-id']}}">
            <div data-class="product-section-id"
                 ng-class="{
                    'col-xs-4 col-xs-offset-4': filteredProducts.length == 1,
                    'col-xs-12 col-sm-6': filteredProducts.length == 2,
                    'col-xs-12 col-sm-6 col-md-4': filteredProducts.length > 2
                    }"
                 ng-repeat="product in filteredProducts">
                <div class="product">
                    <div class="thumbnail">
                        <div ng-if="product.onSaleToday" class="ribbon red"><span>SALE</span></div>
                        <div ng-if="product.is_image || product.icon" class="product-img">
                            <div ng-if="product.is_image" class="img-wrap">
                                <div class="product-img">
                                    <img src="{{::product.icon}}" class="img-responsive"/>
                                </div>
                            </div>
                            <div ng-if="!product.is_image && product.icon" class="img-wrap icon">
                                <i ng-style="{'color':component.iconColor}" class="fa {{::product.icon}}"></i>
                            </div>
                        </div>
                        <div ng-if="!product.is_image && !product.icon" class="no-product-img">
                            <div class="img-wrap no-preview">
                                <h3>No Preview <br> Available</h3>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="caption" ng-style="{'color':component.txtcolor}">
                            <h4 class="pull-right"><span ng-class="{'strikethrough text-small': product.onSaleToday}">{{product.regular_price | currency}}</span><span ng-if="product.onSaleToday">{{product.sale_price | currency}}</span></h4>
                            <h4 class="title"><a ng-style="{'color':component.txtcolor}" href="#">{{product.name | characters:18 :true}}</a></h4>
                            <div class="clearfix"></div>
                            <p class="description product-description">{{product.description}}</p>
                        </div>
                        <div class="actions">
                            <a class="btn btn-primary btn-block center" href="#" ng-if="product.hasVariations" data-toggle="modal" data-target="#product-details-modal" ng-click="updateSelectedProduct(product)">
                                Select Options
                            </a>
                            <button class="btn btn-primary btn-block center" ng-click="addDetailsToCart(product)" href="#" ng-if="product.type != 'external' && product.clicked != true && !product.hasVariations">
                                <div data-class="btn-text">
                                    <span class="fa fa-shopping-cart"></span> Add to Cart
                                </div>
                            </button>
                            <button class="btn btn-success btn-block center" href="#" ng-if="product.type != 'external' && product.clicked == true && !product.hasVariations">
                                <div data-class="btn-text">
                                    <span class="fa fa-check"></span> Added to Cart!
                                </div>
                            </button>
                            <a class="btn btn-primary btn-block center" href="http://{{product.externalLinklinkUrl}}" ng-if="product.type == 'external'" target="{{product.externalLinkOpenIn}}">
                                <div data-class="btn-text">
                                    <span class="fa fa-shopping-cart hidden"></span> {{product.externalLinklinkText || 'External Link'}}
                                </div>
                            </a>
                        </div>
                        <div class="ratings hidden">
                            <p class="pull-right">15 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix mb15"></div>
        </div>
        <div ng-if="products.length > component.numtodisplay && component.numtodisplay != 0">
            <pagination total-items="products.length" items-per-page="component.numtodisplay" ng-model="currentProductPage" ng-change="pageChanged(currentProductPage)"></pagination>
        </div>
        <div ng-if="isEditing && originalProducts && originalProducts.length === 0" class="col-xs-12 center">
        <h2 class="margin-bottom-30">No product to display.</h2>
            <a ng-click="addProducts()" class=" btn btn-primary btn-lg btn-wide btn-o add-feature"> <i class="fa fa-plus"></i> Add Products</a>
        </div>
    </div>
    <a ng-show="!isEditing" href="#" class="btn btn-primary btn-lg btnLaunchCart" ng-click="initializeModalEvents()" data-toggle="modal" data-target="#cart-checkout-modal">
        <span class="fa fa-shopping-cart"></span> <span ng-if="cartDetails.length > 0">({{cartDetails.length}})</span>
    </a>
    <a ng-show="isEditing" href="#" tooltip-placement="bottom" tooltip="This button is functional only at front end" class="btn btn-primary btn-lg btnLaunchCart">
        <span class="fa fa-shopping-cart"></span> <span ng-if="cartDetails.length > 0">({{cartDetails.length}})</span>
    </a>
    <div class="modal fade" id="cart-checkout-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-shopping-cart"></i> My Cart</h4>
                </div>
                <div class="modal-body">
                    <div class="shopping-cart" ng-if="checkoutModalState == 1">
                        <div class="order-line-items height-400" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true" ng-class="{'col-sm-8':cartDetails.length > 0, 'col-sm-12': cartDetails.length <= 0}">
                            <div class="mb15"></div>
                            <ul>
                                <li ng-repeat="item in cartDetails track by $index">
                                    <div class="col-sm-12">
                                        <div class="line-item-header row">
                                            <h4 class="col-sm-5">{{item.name}}</h4>
                                            <div class="col-sm-3">
                                                <input type="text" ng-model="item.quantity" ng-change="calculateTotalChargesfn()" class="form-control spinner-input quantity">
                                            </div>
                                            <p class="price col-sm-3"><span ng-class="{'strikethrough text-small': item.onSaleToday}">{{item.regular_price | currency}}</span><span ng-if="item.onSaleToday">{{item.sale_price | currency}}</span></p>
                                            <div class="col-sm-1">
                                                <button type="button" class="close" aria-hidden="true" ng-click="removeFromCart(item)">×</button>
                                            </div>
                                        </div>
                                        <p if="item.description" class="description">
                                            {{item.description}}
                                        </p>
                                        <div class="col-sm-12 row" ng-if="item.variation">
                                            <ul class="variations">
                                                <li style="display:inline-block" ng-repeat="attribute in item.attributes">{{attribute.name}}: {{attribute.option}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                            <div ng-if="!cartDetails || cartDetails.length <= 0">
                                <div class="empty-cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    <h2>No Items Added to the cart</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 gray-bg order-summary" ng-if="cartDetails.length > 0">
                            <div data-ng-include=" '../views/partials/order-summary.html' "></div>
                        </div>
                    </div>
                    <div class="row billing-shipping" ng-if="checkoutModalState == 2">
                        <div class="col-sm-8 col-xs-12 information">
                            <ul class="nav nav-tabs hidden">
                                <li class="active">
                                    <a href="#billing" data-toggle="tab">
                                        <strong>Billing</strong>
                                    </a>
                                </li>
                                <li class="shipping-tab hidden">
                                    <a href="#shipping" data-toggle="tab">
                                        <strong>Shipping</strong>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content mb30">
                                <div class="tab-pane active" id="billing">
                                    <div class="checkbox hidden">
                                        <label>
                                            <input type="checkbox" value="true" checked>Shipping same as billing information
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group has-feedback" ng-class="{'has-error': emptyFirstName}">
                                                <label class="control-label" for="firstName">First Name</label>
                                                <input type="text" placeholder="First Name" class="form-control" id="firstName" ng-model="newContact.first" ng-blur="checkBillingFirst(newContact.first)">
                                                <span class="help-block" ng-if="emptyFirstName"></i>Required</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{'has-error': emptyLastName}">
                                                <label class="control-label" for="lastName">Last Name</label>
                                                <input type="text" placeholder="Last Name" class="form-control" id="lastName" ng-blur="checkBillingLast(newContact.last)" ng-model="newContact.last">
                                                <span class="help-block" ng-if="emptyLastName"></i>Required</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{'has-error': emptyEmail || invalidEmail}">
                                                <label class="control-label" for="email">Email</label>
                                                <input type="text" placeholder="Email" class="form-control" id="email" ng-blur="checkBillingEmail(newContact.details[0].emails[0].email)" ng-model="newContact.details[0].emails[0].email">
                                                <span class="help-block" ng-if="emptyEmail"></i>Required</span>
                                                <span class="help-block" ng-if="invalidEmail"></i>Invalid</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{'has-error': invalidPhone}">
                                                <label class="control-label" for="phone">Phone</label>
                                                <input type="text" ng-blur="checkBillingPhone(newContact.details[0].phones[0].number)"  placeholder="Phone" class="form-control" id="phone" ng-model="newContact.details[0].phones[0].number">
                                                <span class="help-block" ng-if="invalidPhone"></i>Invalid</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{'has-error': emptyAddress}">
                                                <label class="control-label" for="address">Address</label>
                                                <input type="text" ng-blur="checkBillingAddress(newContact.details[0].addresses[0].address)" placeholder="Address" class="form-control" id="address" ng-model="newContact.details[0].addresses[0].address">
                                                <span class="help-block" ng-if="emptyAddress"></i>Required</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="address2">Address 2</label>
                                                <input type="text" placeholder="Address 2" class="form-control" id="address2" ng-model="newContact.details[0].addresses[0].address2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group" ng-class="{'has-error': emptyCity}">
                                                <label class="control-label" for="city">City</label>
                                                <input type="text" ng-blur="checkBillingCity(newContact.details[0].addresses[0].city)" placeholder="City" class="form-control" id="city" ng-model="newContact.details[0].addresses[0].city">
                                                <span class="help-block" ng-if="emptyCity"></i>Required</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group" ng-class="{'has-error': emptyState}">
                                                <label class="control-label" for="state">State</label>
                                                <input type="text" ng-blur="checkBillingState(newContact.details[0].addresses[0].state)" placeholder="State" class="form-control" id="state" ng-model="newContact.details[0].addresses[0].state">
                                                <span class="help-block" ng-if="emptyState"></i>Required</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{'has-error': invalidZipCode || emptyZipCode}">
                                                <label class="control-label" for="zipCode">Zip Code</label>
                                                <input type="text" placeholder="Zip Code" class="form-control" id="zipCode" ng-model="newContact.details[0].addresses[0].zip" ng-blur="shippingPostCodeChanged(newContact.details[0].addresses[0].zip)">
                                                <span class="help-block" ng-if="emptyZipCode"></i>Required.</span>
                                                <span class="help-block" ng-if="invalidZipCode"></i>Zip Code is not valid.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane hidden" id="shipping">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="firstName">First Name</label>
                                                <input type="text" class="form-control" id="firstName">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="lastName">Last Name</label>
                                                <input type="text" class="form-control" id="lastName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="address">Address</label>
                                                <input type="text" class="form-control" id="address">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label" for="city">City</label>
                                                <input type="text" class="form-control" id="city">
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label class="control-label" for="state">State</label>
                                                <input type="text" class="form-control" id="state">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="zipCode">Zip Code</label>
                                                <input type="text" class="form-control" id="zipCode">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="phone">Phone</label>
                                                <input type="text" class="form-control" id="phone">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group margin-bottom-10 col-xs-12" ng-if="!showTax">
                                <small ng-if="settings.taxbased === 'customer_shipping' || settings.taxbased === 'customer_billing'">Note: Shipping and taxes are estimated and will be updated during checkout based on your billing and shipping information.</small>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12 gray-bg order-summary">
                            <div data-ng-include=" '../views/partials/order-summary.html' "></div>
                        </div>
                    </div>
                    <div class="row payment" ng-show="checkoutModalState == 3">
                        <div class="col-sm-8 col-xs-12 information">
                            <div class="clearfix margin-bottom-30"></div>
                            <div class="card-wrapper"></div>
                            <div class="clearfix margin-bottom-30"></div>
                            <div class="active col-xs-12">
                                <form id="product-card-details" name="product-card-details" action="">
                                    <div class="row">
                                        <div id="card_number" class="form-group small-6 columns col-sm-6 has-feedback">
                                            <input placeholder="Card number" ng-blur="checkCardNumber()" type="text" name="number" id="number" class="form-control">
                                            <span class="glyphicon form-control-feedback"></span>
                                            <span class="error help-block" />
                                        </div>
                                        <div class="visible-xs mb20"></div>
                                        <div id="card_name" class="form-group small-6 columns col-sm-6 has-feedback">
                                            <input placeholder="Full name" type="text" id="name" name="name" class="form-control">
                                            <span class="glyphicon form-control-feedback"></span>
                                            <span class="error help-block" />
                                        </div>
                                    </div>
                                    <div class="clearfix mb20"></div>
                                    <div class="row">
                                        <div id="card_expiry" class="form-group small-3 columns col-xs-6 has-feedback">
                                            <input placeholder="MM/YY" ng-blur="checkCardExpiry()" type="text" id="expiry" name="expiry" class="form-control">
                                            <span class="glyphicon form-control-feedback"></span>
                                            <span class="error help-block" />
                                        </div>
                                        <div id="card_cvc" class="form-group small-3 columns col-xs-6 has-feedback">
                                            <input placeholder="CVC" ng-blur="checkCardCvv()" type="text" id="cvc" name="cvc" class="form-control">
                                            <span class="glyphicon form-control-feedback"></span>
                                            <span class="error help-block" />
                                        </div>
                                    </div>
                                    <div class="clearfix mb20"></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12 gray-bg order-summary">
                            <div data-ng-include=" '../views/partials/order-summary.html' "></div>
                        </div>
                    </div>
                    <div class="row processing" style="height:400px" ng-if="checkoutModalState == 4">
                        <h3 style="margin-top: 110px">Order Processing</h3>
                        <div class="text-center">
                            <span class="fa fa-spinner fa-spin fa-4x"></span>
                        </div>
                        <div style="margin-bottom:30px"></div>
                    </div>
                    <div class="row thank-you" style="height:400px" ng-if="checkoutModalState == 5">
                        <h3 class="center mb20">Thank you for your Purchase.</h3>
                        <p class="center">You will be receiving an order summary by email shortly.</p>
                        <div class="clearfix" style="margin-bottom:30px"></div>
                        <div class="col-xs-12 text-center">
                            <span class="fa fa-check-circle fa-5x text-green"></span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer cart-footer" ng-hide="checkoutModalState !== 3">
                    <button class="btn btn-orange btn-checkout pull-right" ng-click="makeCartPayment()"><i class="fa fa-shopping-cart"></i> Checkout</button>
                    <button class="btn btn-info continue-shopping pull-left" ng-click="setCheckoutState(2)"><i class="fa fa-chevron-left"></i> Back
                    </button>
                </div>
                <div class="modal-footer billing-footer" ng-hide="checkoutModalState !== 2">
                    <button class="btn btn-success btn-payment pull-right" ng-click="validateAddressDetails(newContact.details[0].addresses[0], newContact.details[0].emails[0].email, newContact.details[0].phones[0].number)"><i class="fa fa-credit-card"></i> Payment <i class="fa fa-chevron-right"></i></button>
                    <button class="btn pull-left btn-info back-to-shopping-cart" ng-click="setCheckoutState(1)"><i class="fa fa-chevron-left"></i> Back
                    </button>
                </div>
                <div class="modal-footer payment-footer" ng-hide="checkoutModalState !== 1">
                    <button class="btn btn-success btn-confirm-payment pull-right" ng-disabled="!cartDetails || cartDetails.length <= 0" ng-click="setCheckoutState(2)"> Next <i class="fa fa-chevron-right"></i>
                    </button>
                    <button class="btn pull-left btn-info back-to-billing-shipping" data-dismiss="modal" ng-click="setCheckoutState(1)"><i class="fa fa-chevron-left"></i> Continue Shopping
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="product-details-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"> Product Detail</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-6">
                        <div class="product-img">
                            <div ng-if="selectedProduct.is_image" class="img-wrap">
                                <img ng-src="{{selectedProduct.icon}}" class="img-responsive">
                            </div>
                            <div ng-if="!selectedProduct.is_image && selectedProduct.icon" class="img-wrap icon">
                                <i class="fa {{selectedProduct.icon}}"></i>
                            </div>
                            <div ng-if="!selectedProduct.is_image && !selectedProduct.icon" class="img-wrap no-preview">
                                <h3>No Preview <br> Available</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <tabset class="tabbable">
                            <tab heading="Details">
                                <div class="caption">
                                    <h4 class="title">{{selectedProduct.name}}</h4>
                                    <h4 ng-if="!selectedProduct.hasVariations">{{selectedProduct.regular_price | currency}}</h4>
                                    <h4 ng-if="selectedProduct.hasVariations && matchedVariation">{{matchedVariation.regular_price | currency}}</h4>
                                    <p class="description">{{selectedProduct.description}}</p>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="attributes form-horizontal">
                                    <div class="form-group" ng-repeat="attribute in selectedProduct.attributes">
                                        <label class="col-sm-2 control-label">
                                            {{attribute.name}}
                                        </label>
                                        <div class="col-sm-10">
                                            <select class="form-control" ng-model="attribute.selected" ng-change="selectChanged($index)">
                                                <option ng-repeat="value in attribute.values" ng-if="variationAttributeExists(value)" value="{{value}}">{{value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="actions">
                                    <button class="btn btn-primary btn-block center" ng-click="addDetailsToCart(selectedProduct, matchedVariation)" href="#" ng-if="selectedProduct.type != 'external' && selectedProduct.clicked != true && matchedVariation">
                                        <div data-class="btn-text">
                                            <span class="fa fa-shopping-cart"></span> Add to Cart
                                        </div>
                                    </button>
                                    <button class="btn btn-success btn-block center" href="#" ng-if="selectedProduct.type != 'external' && selectedProduct.clicked == true && !selectedProduct.hasVariations">
                                        <div data-class="btn-text">
                                            <span class="fa fa-check"></span> Added to Cart!
                                        </div>
                                    </button>
                                    <a class="btn btn-primary btn-block center" href="http://{{selectedProduct.externalLinklinkUrl}}" ng-if="selectedProduct.type == 'external'" target="{{selectedProduct.externalLinkOpenIn}}">
                                        <div data-class="btn-text">
                                            <span class="fa fa-shopping-cart hidden"></span> {{selectedProduct.externalLinklinkText || 'External Link'}}
                                        </div>
                                    </a>
                                </div>
                            </tab>
                            <tab heading="Addtional Information">
                                <h4>Static content</h4>
                                <p>
                                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.
                                </p>
                                <p>
                                    Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                                </p>
                            </tab>
                            <tab heading="Reviews">
                                <h4>Static content</h4>
                                <p>
                                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.
                                </p>
                                <p>
                                    Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                                </p>
                            </tab>
                        </tabset>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
if ($('.payment').card)
    card = $('.payment').card({
        container: '.card-wrapper'
    });
</script>
