<div class="products-v1" data-class="products" data-id="{{component._id}}">
    <div class="products">
        <header class="jumbotron hero-spacer col-xs-12d">
            <div class="title">
                <div class="editable" data-class="title" ng-bind-html="component.title | unsafe">
                </div>
            </div>
            <div class="text">
                <div class="editable" data-class="text" ng-bind-html="component.text | unsafe">
                </div>
            </div>
        </header>
        <div class="tab-pane active" id="{{productSection['product-section-id']}}">
            <div data-class="product-section-id" class="col-sm-4 col-lg-4 col-md-4" ng-repeat="product in layout.products | filter:{status:'active'}:true">
                <div class="product">
                    <div class="thumbnail">
                        <div class="product-img">
                            <div ng-if="product.is_image" class="img-wrap">
                                <img ng-src="{{product.icon}}" class="img-responsive">
                            </div>
                            <div ng-if="!product.is_image && product.icon" class="img-wrap icon">
                                <i class="fa {{product.icon}}"></i>
                            </div>
                            <div ng-if="!product.is_image && !product.icon" class="img-wrap no-preview">
                                <h3>No Preview <br> Available</h3>
                            </div>
                        </div>
                        <div class="caption">
                            <h4 class="pull-right">{{product.regular_price | currency}}</h4>
                            <h4 class="title"><a href="#">{{product.name}}</a></h4>
                            <div class="clearfix"></div>
                            <p class="description">{{product.description}}</p>
                        </div>
                        <div class="actions">
                            <a class="btn btn-primary btn-block center" href="#" ng-if="product.hasVariations" data-toggle="modal" data-target="#product-details-modal" ng-click="updateSelectedProduct(product)">
                                Select Options
                            </a>
                            <button class="btn btn-primary btn-block center" ng-click="addDetailsToCart(product)" href="#" ng-if="product.type != 'external_link' && product.clicked != true && !product.hasVariations">
                                <div data-class="btn-text">
                                    <span class="fa fa-shopping-cart"></span> Add to Cart
                                </div>
                            </button>
                            <button class="btn btn-success btn-block center" href="#" ng-if="product.type != 'external_link' && product.clicked == true && !product.hasVariations">
                                <div data-class="btn-text">
                                    <span class="fa fa-check"></span> Added to Cart!
                                </div>
                            </button>
                            <a class="btn btn-primary btn-block center" href="http://{{product.externalLinklinkUrl}}" ng-if="product.type == 'external_link'" target="{{product.externalLinkOpenIn}}">
                                <div data-class="btn-text">
                                    <span class="fa fa-shopping-cart hidden"></span> {{product.externalLinklinkText || 'External Link'}}
                                </div>
                            </a>
                        </div>
                        <div class="ratings hidden">
                            <p class="pull-right">15 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix mb15"></div>
        </div>
        <!-- </div> -->
    </div>
    <button class="btn btn-primary btn-lg btnLauchCart" data-toggle="modal" data-target="#cart-checkout-modal">
        Launch Cart modal
    </button>
    <div class="modal fade" id="cart-checkout-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-shopping-cart"></i> My Cart</h4>
                </div>
                <div class="modal-body">
                    <div class="row shopping-cart" ng-class="{'hidden': checkoutModalState !== 1}">
                        <div class="col-sm-8 order-line-items">
                            <div class="mb15"></div>
                            <ul>
                                <li ng-repeat="item in cartDetails track by $index">
                                    <div class="col-sm-12">
                                        <div class="line-item-header row">
                                            <h4 class="col-sm-5">{{item.name}}</h4>
                                            <div class="col-sm-3">
                                                <input type="text" ng-model="item.quantity" ng-change="calculateTotalChargesfn()" class="form-control spinner-input">
                                            </div>
                                            <p class="price col-sm-3">$ {{item.regular_price}}</p>
                                            <div class="col-sm-1">
                                                <button type="button" class="close" aria-hidden="true" ng-click="removeFromCart(item)">×</button>
                                            </div>
                                        </div>
                                        <p if="item.description">
                                            {{item.description}}
                                        </p>
                                        <div class="col-sm-12 row" ng-if="item.variation">
                                            <ul class="variations">
                                                <li style="display:inline-block" ng-repeat="attribute in item.attributes">{{attribute.name}}: {{attribute.option}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                            <div ng-if="cartDetails.length <= 0">
                                <div class="empty-cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    <h2>No Items Added to the cart</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 gray-bg order-summary">
                            <h4 class="text-center">Order Summary</h4>
                            <ul style="list-style:none;">
                                <li ng-repeat="item in cartDetails track by $index">
                                    <p class="text-left product-name">{{item.name}}</p>
                                    <p class="text-right product-price">$ {{item.regular_price * item.quantity}}</p>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-xs-6"></div>
                                <div class="clearfix mb30"></div>
                                <div class="col-xs-offset-6 col-xs-6">
                                    <p>Subtotal: {{ subTotal | currency }}</p>
                                    <p>Tax (8%): {{ totalTax | currency }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>Total</h2>
                                </div>
                                <div class="col-xs-6">
                                    <h2>{{ total  | number:2 | currency }}</h2>
                                </div>
                            </div>
                            <div class="mb15"></div>
                        </div>
                    </div>
                    <div class="row billing-shipping" ng-class="{'hidden': checkoutModalState !== 2}">
                        <div class="col-sm-8 information">
                            <ul class="nav nav-tabs hidden">
                                <li class="active">
                                    <a href="#billing" data-toggle="tab">
                                        <strong>Billing</strong>
                                    </a>
                                </li>
                                <li class="shipping-tab hidden">
                                    <a href="#shipping" data-toggle="tab">
                                        <strong>Shipping</strong>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content mb30">
                                <div class="tab-pane active" id="billing">
                                    <div class="checkbox hidden">
                                        <label>
                                            <input type="checkbox" value="true" checked>Shipping same as billing information
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="firstName">First Name</label>
                                                <input type="text" class="form-control" id="firstName" ng-model="newContact.first">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="lastName">Last Name</label>
                                                <input type="text" class="form-control" id="lastName" ng-model="newContact.last">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="address">Address</label>
                                                <input type="text" class="form-control" id="address" ng-model="newContact.details[0].addresses[0].address">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label" for="city">City</label>
                                                <input type="text" class="form-control" id="city" ng-model="newContact.details[0].addresses[0].city">
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label class="control-label" for="state">State</label>
                                                <input type="text" class="form-control" id="state" ng-model="newContact.details[0].addresses[0].state">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="zipCode">Zip Code</label>
                                                <input type="text" class="form-control" id="zipCode" ng-model="newContact.details[0].addresses[0].zip">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="phone">Phone</label>
                                                <input type="text" class="form-control" id="phone" ng-model="newContact.details[0].phones[0].number">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane hidden" id="shipping">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="firstName">First Name</label>
                                                <input type="text" class="form-control" id="firstName">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="lastName">Last Name</label>
                                                <input type="text" class="form-control" id="lastName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="address">Address</label>
                                                <input type="text" class="form-control" id="address">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label" for="city">City</label>
                                                <input type="text" class="form-control" id="city">
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label class="control-label" for="state">State</label>
                                                <input type="text" class="form-control" id="state">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="zipCode">Zip Code</label>
                                                <input type="text" class="form-control" id="zipCode">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="phone">Phone</label>
                                                <input type="text" class="form-control" id="phone">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 gray-bg order-summary">
                            <h4 class="text-center">Order Summary</h4>
                            <ul style="list-style:none;">
                                <li ng-repeat="item in cartDetails track by $index">
                                    <p class="text-left product-name">{{item.name}}</p>
                                    <p class="text-right product-price">$ {{item.regular_price * item.quantity}}</p>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-xs-6"></div>
                                <div class="clearfix mb30"></div>
                                <div class="col-xs-offset-6 col-xs-6">
                                    <p>Subtotal: $ {{ subTotal }}</p>
                                    <p>Tax (8%): $ {{ totalTax }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>Total</h2>
                                </div>
                                <div class="col-xs-6">
                                    <h2>$ {{ total }}</h2>
                                </div>
                            </div>
                            <div class="mb15"></div>
                        </div>
                    </div>
                    <div class="row payment" ng-class="{'hidden': checkoutModalState !== 3}">
                        <div class="col-sm-8 information">
                            <div class="clearfix mb30"></div>
                            <div class="card-wrapper"></div>
                            <div class="clearfix mb30"></div>
                            <div class="active col-xs-12">
                                <form name="product-card-details" action="">
                                    <div class="row">
                                        <div id="card_number" class="form-group small-6 columns col-sm-6 has-feedback">
                                            <input placeholder="Card number" ng-blur="checkCardNumber()" type="text" name="number" id="number" class="form-control input-lg">
                                            <span class="glyphicon form-control-feedback"></span>
                                            <span class="error help-block" />
                                        </div>
                                        <div class="visible-xs mb20"></div>
                                        <div id="card_name" class="form-group small-6 columns col-sm-6 has-feedback">
                                            <input placeholder="Full name" type="text" id="name" name="name" class="form-control input-lg">
                                            <span class="glyphicon form-control-feedback"></span>
                                            <span class="error help-block" />
                                        </div>
                                    </div>
                                    <div class="clearfix mb20"></div>
                                    <div class="row">
                                        <div id="card_expiry" class="form-group small-3 columns col-xs-6 has-feedback">
                                            <input placeholder="MM/YY" ng-blur="checkCardExpiry()" type="text" id="expiry" name="expiry" class="form-control input-lg">
                                            <span class="glyphicon form-control-feedback"></span>
                                            <span class="error help-block" />
                                        </div>
                                        <div id="card_cvc" class="form-group small-3 columns col-xs-6 has-feedback">
                                            <input placeholder="CVC" ng-blur="checkCardCvv()" type="text" id="cvc" name="cvc" class="form-control input-lg">
                                            <span class="glyphicon form-control-feedback"></span>
                                            <span class="error help-block" />
                                        </div>
                                    </div>
                                    <div class="clearfix mb20"></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-4 gray-bg order-summary">
                            <h4 class="text-center">Order Summary</h4>
                            <ul style="list-style:none;">
                                <li ng-repeat="item in cartDetails track by $index">
                                    <p class="text-left product-name">{{item.name}}</p>
                                    <p class="text-right product-price">$ {{item.regular_price * item.quantity}}</p>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-xs-6"></div>
                                <div class="clearfix mb30"></div>
                                <div class="col-xs-offset-6 col-xs-6">
                                    <p>Subtotal: $ {{ subTotal }}</p>
                                    <p>Tax (8%): $ {{ totalTax }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>Total</h2>
                                </div>
                                <div class="col-xs-6">
                                    <h2>$ {{ total }}</h2>
                                </div>
                            </div>
                            <div class="mb15"></div>
                        </div>
                    </div>
                    <div class="row thank-you" ng-class="{'hidden': checkoutModalState !== 4}">
                        <h3 class="center mb20">Thank You For you Purchase</h3>
                        <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam maiores, iure quo blanditiis alias asperiores. Quis, veniam unde illum adipisci reiciendis qui, libero est facere et vitae perferendis iusto deserunt, animi omnis saepe ipsa placeat quibusdam tenetur sint fuga consequuntur quisquam sapiente! Sapiente repellendus optio, libero quaerat mollitia magnam, voluptatem.</p>
                        <div class="clearfix mb30"></div>
                        <div class="col-xs-12">
                            <button class="btn btn-lg btn-orange">View Order</button>
                        </div>
                        <div class="clearfix mb30"></div>
                        <p class="center">Stay Connected</p>
                        <div class="clearfix mb30"></div>
                        <ul class="social-connected">
                            <li>
                                <i class="fa fa-facebook"></i>
                            </li>
                            <li><i class="fa fa-twitter"></i>
                            </li>
                            <li><i class="fa fa-google-plus"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer cart-footer" ng-class="{'hidden': checkoutModalState !== 3}">
                    <button class="btn btn-orange btn-checkout pull-right" ng-click="makeCartPayment()"><i class="fa fa-shopping-cart"></i> Checkout</button>
                    <button class="btn btn-info continue-shopping pull-left" ng-click="checkoutModalState = 2"><i class="fa fa-chevron-left"></i> Back
                    </button>
                </div>
                <div class="modal-footer billing-footer" ng-class="{'hidden': checkoutModalState !== 2}">
                    <button class="btn btn-success btn-payment pull-right" ng-click="checkoutModalState = 3"><i class="fa fa-credit-card"></i> Payment <i class="fa fa-chevron-right"></i></button>
                    <button class="btn pull-left btn-info back-to-shopping-cart" ng-click="checkoutModalState = 1"><i class="fa fa-chevron-left"></i> Back
                    </button>
                </div>
                <div class="modal-footer payment-footer" ng-class="{'hidden': checkoutModalState !== 1}">
                    <button class="btn btn-success btn-confirm-payment pull-right" ng-click="checkoutModalState = 2"> Basic Info <i class="fa fa-chevron-right"></i>
                    </button>
                    <button class="btn pull-left btn-info back-to-billing-shipping" data-dismiss="modal" ng-click="checkoutModalState = 1"><i class="fa fa-chevron-left"></i> Continue Shopping
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="product-details-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"> Product Detail</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-6">
                        <div class="product-img">
                            <div ng-if="selectedProduct.is_image" class="img-wrap">
                                <img ng-src="{{selectedProduct.icon}}" class="img-responsive">
                            </div>
                            <div ng-if="!selectedProduct.is_image && selectedProduct.icon" class="img-wrap icon">
                                <i class="fa {{selectedProduct.icon}}"></i>
                            </div>
                            <div ng-if="!selectedProduct.is_image && !selectedProduct.icon" class="img-wrap no-preview">
                                <h3>No Preview <br> Available</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <tabset class="tabbable">
                            <tab heading="Details">
                                <div class="caption">
                                    <h4 class="title">{{selectedProduct.name}}</h4>
                                    <h4 ng-if="!selectedProduct.hasVariations">{{selectedProduct.regular_price | currency}}</h4>
                                    <h4 ng-if="selectedProduct.hasVariations && matchedVariation">{{matchedVariation.regular_price | currency}}</h4>
                                    <p class="description">{{selectedProduct.description}}</p>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="attributes form-horizontal">
                                    <div class="form-group" ng-repeat="attribute in selectedProduct.attributes">
                                        <label class="col-sm-2 control-label">
                                            {{attribute.name}}
                                        </label>
                                        <div class="col-sm-10">
                                            <select class="form-control" ng-model="attribute.selected" ng-change="selectChanged($index)">
                                                <option ng-repeat="value in attribute.values" ng-if="variationAttributeExists(value)" value="{{value}}">{{value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="actions">
                                    <button class="btn btn-primary btn-block center" ng-click="addDetailsToCart(selectedProduct, matchedVariation)" href="#" ng-if="selectedProduct.type != 'external_link' && selectedProduct.clicked != true && matchedVariation">
                                        <div data-class="btn-text">
                                            <span class="fa fa-shopping-cart"></span> Add to Cart
                                        </div>
                                    </button>
                                    <button class="btn btn-success btn-block center" href="#" ng-if="selectedProduct.type != 'external_link' && selectedProduct.clicked == true && !selectedProduct.hasVariations">
                                        <div data-class="btn-text">
                                            <span class="fa fa-check"></span> Added to Cart!
                                        </div>
                                    </button>
                                    <a class="btn btn-primary btn-block center" href="http://{{selectedProduct.externalLinklinkUrl}}" ng-if="selectedProduct.type == 'external_link'" target="{{selectedProduct.externalLinkOpenIn}}">
                                        <div data-class="btn-text">
                                            <span class="fa fa-shopping-cart hidden"></span> {{selectedProduct.externalLinklinkText || 'External Link'}}
                                        </div>
                                    </a>
                                </div>
                            </tab>
                            <tab heading="Addtional Information">
                                <h4>Static content</h4>
                                <p>
                                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.
                                </p>
                                <p>
                                    Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                                </p>
                            </tab>
                            <tab heading="Reviews">
                                <h4>Static content</h4>
                                <p>
                                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.
                                </p>
                                <p>
                                    Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                                </p>
                            </tab>
                        </tabset>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
card = $('.payment').card({
    container: '.card-wrapper'
});
</script>
