<div id="error-msg" class="alert alert-danger hidden">
    <button type="button" aria-hidden="true" class="close">×</button>
    <span class="message"></span>
</div>
<div>

    <div class="component-body">
        <div class="signup-form-v1">
            <div class="inner-page row">
                <h3 ng-bind-html="component.title"></h3>
                <input type="email" ng-model="user.email" placeholder="Email"/><br />
                <button type="button" class="btn btn-primary" ng-click="createUser(user, $event)">Try it Risk Free</button>
            </div>
        </div>
    </div>

</div>
