<div ng-class="component.type+'-v'+component.version">
    <div id="error-msg" class="alert alert-danger hidden">
        <button type="button" aria-hidden="true" class="close">×</button>
        <span class="message"></span>
    </div>
    <div>

    <div class="component-body">
            <div class="inner-page row">
                <div class="simple-form-title">
                    <div class="editable text-center" data-class="title" data-index="{{$index}}">
                        <span ng-bind-html="component.title"></span>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="left-inner-addon">
                        <span><i class="fa fa-envelope"></i></span>
                        <input type="email" ng-model="user.email" placeholder="Email" />
                    </div>
                </div>
                <div class="clearfix mb15 visible-xs"></div>
                <div class="col-sm-3">
                    <div class="clear">
                        <button class="btn btn-outline pull-right btn-block" ng-click="createUser(user, $event)">I'M INTERESTED <i class="fa fa-arrow-circle-o-right"></i>
                        </button>
                    </div>
                </div>
                <div ng-if="user.success" class="row thank-you">
                    <h3 class="center mb20">Thank You For Sign Up</h3>
                </div>
            </div>
        </div>
    </div>
</div>