<div ng-class="component.type+'-v'+component.version">
    <div id="error-msg" class="alert alert-danger hidden">
        <button type="button" aria-hidden="true" class="close">×</button>
        <span class="message"></span>
    </div>
    <div class="simple-form-{{component._id}}">
        <div data-edit class="col-xs-12 component-body" ng-attr-style="{{formStyle(component.formSettings)}}">
            <div ng-class="{'default-font-size': component.formSettings.formTextSize}" class="component-content" ng-if="!component.isModal">
                <div class="inner-page row">
                    <div class="simple-form-title ssb-theme-heading-text">
                        <div elem ng-model="component.maintitle"></div>
                    </div>
                    <div class="simple-form-subtitle">
                        <div elem ng-model="component.subtitle"></div>
                    </div>
                    <div class="clearfix mb15"></div>
                    <form name="simpleForm" ng-submit="createUser(simpleForm)">
                        <div class="input-fields {{nthRow}}">
                            <!-- FIRST -->
                            <div ng-attr-style="{{fieldStyle(component.formSettings)}}" class="form-group {{fieldClass()}} input-field-container"  ng-if="fieldShow('first')" ng-class="{ 'has-error' : simpleForm.first.$invalid && !simpleForm.first.$pristine }">
                                <input ng-attr-style="{{inputStyle(component.formSettings)}}" type="text" name="first" ng-model="user.first" class="form-control" placeholder="First" required>
                                <p ng-show="simpleForm.first.$invalid && !simpleForm.first.$pristine" class="help-block">Enter a valid first name.</p>
                            </div>

                            <!-- LAST -->
                            <div ng-attr-style="{{fieldStyle(component.formSettings)}}" class="form-group {{fieldClass()}} input-field-container"  ng-if="fieldShow('last')" ng-class="{ 'has-error' : simpleForm.last.$invalid && !simpleForm.last.$pristine }">
                                <input ng-attr-style="{{inputStyle(component.formSettings)}}" type="text" name="last" ng-model="user.last" class="form-control" placeholder="Last" required>
                                <p ng-show="simpleForm.last.$invalid && !simpleForm.last.$pristine" class="help-block">Enter a valid last name.</p>
                            </div>

                            <!-- EXTENSION -->
                            <div ng-attr-style="{{fieldStyle(component.formSettings)}}" class="form-group {{fieldClass()}} input-field-container" ng-if="fieldShow('extension')" ng-class="{ 'has-error' : simpleForm.phone.$invalid && !simpleForm.extension.$pristine }">
                                <input ng-attr-style="{{inputStyle(component.formSettings)}}" type="text" name="extension" ng-model="user.extension" ng-pattern="formValidations.extension" class="form-control" placeholder="Extension">
                                <p ng-show="simpleForm.extension.$invalid && !simpleForm.extension.$pristine" class="help-block">Enter a valid extension.</p>
                            </div>

                            <!-- PHONE -->
                            <div ng-attr-style="{{fieldStyle(component.formSettings)}}" class="form-group {{fieldClass()}} input-field-container" ng-if="fieldShow('phone')" ng-class="{ 'has-error' : simpleForm.phone.$invalid && !simpleForm.phone.$pristine }">
                                <input ng-attr-style="{{inputStyle(component.formSettings)}}" type="text" name="phone" ng-model="user.phone" class="form-control" required ind-international-tel-number form="simpleForm" placeholder="Phone">
                                <p ng-show="simpleForm.phone.$invalid && !simpleForm.phone.$pristine" class="help-block">Enter a valid phone number.</p>
                            </div>

                            <!-- EMAIL -->
                            <div ng-attr-style="{{fieldStyle(component.formSettings)}}" class="form-group {{fieldClass()}} input-field-container"  ng-class="{ 'has-error' : userExists || simpleForm.email.$invalid && !simpleForm.email.$pristine }">
                                <input ng-attr-style="{{inputStyle(component.formSettings)}}" type="email" name="email" ng-model="user.email" class="form-control" ng-pattern="formValidations.email" ng-model-options="{ debounce: 800 }" placeholder="Email" ng-change="clearValidations()" required>
                                <p ng-if="simpleForm.email.$invalid && !simpleForm.email.$pristine && !userExists" class="help-block">Enter a valid email.</p>
                                <p ng-if="userExists" class="help-block">Email already exists.</p>
                            </div>
                        </div>
                        <div class="col-sm-12 form-group  input-field-container" ng-if="component.optInRequired"  ng-class="{ 'has-error' : (simpleForm._optin.$invalid || simpleForm._optin.$error.$required) && !simpleForm._optin.$pristine }" style="padding-left: 15px;">
                            <div class="form-checkbox-field">
                                <input class="optin-checkbox" type="checkbox" ng-model="user._optin" name="_optin" ng-required='true' ng-change="clearValidations()">
                            </div>
                            <div class="form-checkbox-label">
                                <div elem ng-model="component.optInText">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix mb15 visible-xs"></div>
                        <div class="col-sm-12">
                            <button ng-if="!isEditing" type="submit" ng-attr-style="{{buttonStyle(component.btn, component.formSettings.btnStyle)}}" class="btn btn-form btn-block ssb-theme-btn form-submit-button" ng-disabled="simpleForm.$invalid || isBusy" ng-class="{'custom-orange': component.customBtn, 'btn-no-bg-color': !component.submitBtn}">
                                <span elem ng-model="component.submitBtn"></span>
                            </button>
                            <div ng-if="isEditing" ng-attr-style="{{buttonStyle(component.btn, component.formSettings.btnStyle)}}" ng-class="{'custom-orange': component.customBtn, 'ssb-theme-btn': component.submitBtn, 'btn-no-bg-color': !component.submitBtn}" class="btn btn-form btn-block ssb-theme-btn editable-btn-form form-submit-button">
                                <span class-name="btn-form-text" elem ng-model="component.submitBtn"></span>
                            </div>
                        </div>
                        <div class="clearfix mb15"></div>
                        <div ng-show="formSuccess" ng-if="component.formSettings.successMessage">
                            <div class="row thank-you">
                                <h3 class="center mb20" ng-bind-html="component.formSettings.successMessage"></h3>
                            </div>
                        </div>
                         <div ng-show="formError">
                            <div class="row thank-you">
                                <h3 class="center mb20" ng-bind-html="component.formSettings.errorMessage || 'Error while Submitting!'"></h3>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal fade" id="two-step" ng-if="component.isModal">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <div class="col-sm-11"><progressbar class="progress-striped margin-bottom-0" value="50" type="info">50% Complete</progressbar></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-body">
                            <div elem ng-model="component.text"></div>
                            <form name="simpleForm" ng-submit="createUser(simpleForm)">
                                <!-- FIRST -->
                                <div class="form-group"  ng-if="fieldShow('first')" ng-class="{ 'has-error' : simpleForm.first.$invalid && !simpleForm.first.$pristine }">
                                    <input type="text" name="first" ng-model="user.first" class="form-control" placeholder="First" required>
                                    <p ng-show="simpleForm.first.$invalid && !simpleForm.first.$pristine" class="help-block">Enter a valid first name.</p>
                                </div>
                                <!-- LAST -->
                                <div class="form-group"  ng-if="fieldShow('last')" ng-class="{ 'has-error' : simpleForm.last.$invalid && !simpleForm.last.$pristine }">
                                    <input type="text" name="last" ng-model="user.last" class="form-control" placeholder="Last" required>
                                    <p ng-show="simpleForm.last.$invalid && !simpleForm.last.$pristine" class="help-block">Enter a valid last name.</p>
                                </div>
                                <!-- EXTENSION -->
                                <div class="form-group"  ng-if="fieldShow('phone')" ng-class="{ 'has-error' : simpleForm.extension.$invalid && !simpleForm.extension.$pristine }">
                                    <input type="text" name="extension" ng-model="user.extension" ng-pattern="formValidations.extension" ng-model-options="{ debounce: 800 }" class="form-control" placeholder="Extension" required>
                                    <p ng-show="simpleForm.extension.$invalid && !simpleForm.phone.$pristine" class="help-block">Enter a valid extension.</p>
                                </div>
                                <!-- PHONE -->
                                <div class="form-group"  ng-if="fieldShow('phone')" ng-class="{ 'has-error' : simpleForm.phone.$invalid && !simpleForm.phone.$pristine }">
                                    <input type="text" name="phone" ng-model="user.phone" ng-pattern="formValidations.phone" ng-model-options="{ debounce: 800 }" class="form-control" placeholder="Phone" required>
                                    <p ng-show="simpleForm.phone.$invalid && !simpleForm.phone.$pristine" class="help-block">Enter a valid phone number.</p>
                                </div>
                                <div class="clearfix mb15"></div>
                                <!-- EMAIL -->
                                <div class="form-group col-xs-12" ng-class="{ 'has-error' : userExists || simpleForm.email.$invalid && !simpleForm.email.$pristine }">
                                    <input type="email" name="email" ng-model="user.email" class="form-control" ng-pattern="formValidations.email" placeholder="Email" ng-change="clearValidations()" required>
                                    <p ng-if="simpleForm.email.$invalid && !simpleForm.email.$pristine && !userExists" class="help-block">Enter a valid email.</p>
                                    <p ng-if="userExists" class="help-block">Email already exists.</p>
                                </div>
                                <div class="col-sm-12 form-group  input-field-container" ng-if="component.optInRequired"  ng-class="{ 'has-error' : (simpleForm._optin.$invalid || simpleForm._optin.$error.$required) && !simpleForm._optin.$pristine }" style="padding-left: 15px;">
                                    <div class="form-checkbox-field">
                                        <input class="optin-checkbox" type="checkbox" ng-model="user._optin" name="_optin" ng-required='true' ng-change="clearValidations()">
                                    </div>
                                    <div class="form-checkbox-label">
                                        <div elem ng-model="component.optInText">
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix mb15 visible-xs"></div>
                                <div class="col-xs-12">
                                    <button type="submit" ng-style="{'background': component.btn.bgcolor, 'color':component.btn.color, 'border-color': component.btn.bgcolor}" class="btn btn-form btn-block ssb-theme-btn" ng-disabled="simpleForm.$invalid || isBusy" ng-class="{'custom-orange': component.customBtn}">
                                        <span elem ng-model="component.submitBtn"></span>
                                    </button>
                                    <div class="clearfix"></div>
                                    <p class="center margin-top-10"><span class="fa fa-lock"></span> We hate SPAM and promise to keep your email safe.</p>
                                </div>
                                <div class="clearfix mb15"></div>
                                <div ng-show="formSuccess">
                                    <div class="row thank-you">
                                        <h3 class="center mb20">Thank You for Submitting!</h3>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner-page row" ng-if="isEditing && component.isModal" ng-style="{&#39;background&#39;: component.bg.color, &#39;color&#39;:component.txtcolor||primaryTextColor}">
                <h3 class="text-bold center" data-toggle="modal" data-target="#two-step">Show Modal</h3>
            </div>
        </div>
    </div>
</div>
<style>
.simple-form-v1 .simple-form-{{component._id}} .simple-form-title {
    color: {
        {
            component.txtcolor || 'white'
        }
    };
}
.simple-form-v1 .simple-form-{{component._id}} .component-content.default-font-size * {
    font-size: {{component.formSettings.formTextSize}}px !important;
}

.simple-form-v1 .simple-form-{{component._id}} .component-content.default-font-size .editable-title {
    font-size: 14px !important;
}

.simple-form-v1 .simple-form-{{component._id}} .input-fields.nth-row2 div.input-field-container:nth-child(2n) {
  padding-left: {{component.formSettings.spacing.pr/2}}px !important;
}

.simple-form-v1 .simple-form-{{component._id}} .input-fields.nth-row2 div.input-field-container:nth-child(2n+1) {
  padding-right: {{component.formSettings.spacing.pr/2}}px !important;
}

.simple-form-v1 .simple-form-{{component._id}} .input-fields.nth-row3 div.input-field-container:nth-child(3n) {
  padding-left: {{component.formSettings.spacing.pr/2}}px !important;
}

.simple-form-v1 .simple-form-{{component._id}} .input-fields.nth-row3 div.input-field-container:nth-child(3n+1) {
  padding-right: {{component.formSettings.spacing.pr/2}}px !important;
}

.simple-form-v1 .simple-form-{{component._id}} .input-fields.nth-row3 div.input-field-container:not(:nth-child(3n)), .simple-form-v1 .simple-form-{{component._id}} .input-fields.nth-row3 div.input-field-container:not(:nth-child(3n+1)) {
    padding-left: {{component.formSettings.spacing.pr/2}}px !important;
    padding-right: {{component.formSettings.spacing.pr/2}}px !important;
}

.simple-form-v1 .simple-form-{{component._id}} .input-fields.nth-row4 div.input-field-container:nth-child(4n) {
  padding-left: {{component.formSettings.spacing.pr/2}}px !important;
}

.simple-form-v1 .simple-form-{{component._id}} .input-fields.nth-row4 div.input-field-container:nth-child(4n+1) {
  padding-right: {{component.formSettings.spacing.pr/2}}px !important;
}

.simple-form-v1 .simple-form-{{component._id}} .input-fields.nth-row4 div.input-field-container:not(:nth-child(4n)), .simple-form-v1 .simple-form-{{component._id}} .input-fields.nth-row4 div.input-field-container:not(:nth-child(4n+1)) {
    padding-left: {{component.formSettings.spacing.pr/2}}px !important;
    padding-right: {{component.formSettings.spacing.pr/2}}px !important;
}

.simple-form-v1 .simple-form-{{component._id}} .input-fields.nth-row5 div.input-field-container:nth-child(5n) {
  padding-left: {{component.formSettings.spacing.pr/2}}px !important;
}

.simple-form-v1 .simple-form-{{component._id}} .input-fields.nth-row5 div.input-field-container:nth-child(5n+1) {
  padding-right: {{component.formSettings.spacing.pr/2}}px !important;
}

.simple-form-v1 .simple-form-{{component._id}} .input-fields.nth-row5 div.input-field-container:not(:nth-child(5n)), .simple-form-v1 .simple-form-{{component._id}} .input-fields.nth-row5 div.input-field-container:not(:nth-child(5n+1)) {
    padding-left: {{component.formSettings.spacing.pr/2}}px !important;
    padding-right: {{component.formSettings.spacing.pr/2}}px !important;
}


.simple-form-v1 .simple-form-{{component._id}} .btn-simple-form:hover, .btn-simple-form:active, .btn-simple-form:active:focus, .btn-simple-form:active:hover
{
    color: {{component.btn.color}}!important
}

.simple-form-v1 .simple-form-{{component._id}} ::-webkit-input-placeholder {
                color: {{component.formSettings.inputTextColor}};
}
.simple-form-v1 .simple-form-{{component._id}} :-moz-placeholder {
    color: {{component.formSettings.inputTextColor}};
}
.simple-form-v1 .simple-form-{{component._id}} ::-moz-placeholder {
    color: {{component.formSettings.inputTextColor}};
}
.simple-form-v1 .simple-form-{{component._id}} :-ms-input-placeholder {
    color: {{component.formSettings.inputTextColor}};
}

.simple-form-v1 .simple-form-{{component._id}} .element-wrap{
        font-family: {{component.formSettings.formFontFamily}}!important;
    }

</style>
