<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->
<div ng-class="component.type+'-v'+component.version">
<div id="content-area">
    <div class="container clearfix row-fluid">
        <div id="main-area" class="col-xs-12">
            <article class="entry clearfix">
                <div id="et_pt_blog" class="responsive clearfix single-blog" data-postid="{{blog.post._id}}">
                    <div class="et_pt_blogentry clearfix">
                        <h2 class="et_pt_title">
                            <div data-class="post_title">
                                 <input type="text" ng-if="isEditing" ng-model="blog.post.post_title"/>
                                <span ng-if="!isEditing" ng-show="blog.post.post_title">{{blog.post.post_title}}</span>
                                <span ng-if="!isEditing" ng-show="!blog.post.post_title">Enter Post Title</span>
                            </div>
                        </h2>
                        <div class="blog-meta">
                            <div ng-show="blog.post.created.date" data-class="created.date">
                                <input type="date" ng-if="isEditing" ng-model="blog.post.created_date"/>

                                <span ng-if="!isEditing">  {{ blog.post.created.date | date: 'fullDate' }} </span>
                            </div>
                            <div ng-show="blog.post.post_author">
                                <input type="text" ng-if="isEditing" ng-model="blog.post.post_author"/>
                                Posted by <a ng-if="!isEditing" href="/author/{{blog.post.post_author}}">{{blog.post.post_author}}</a>
                            </div>

                            <div ng-show="blog.post.post_category">
                                <input type="text" ng-if="isEditing" ng-model="blog.post.post_category"/>
                                in <a ng-if="!isEditing"  href="/category/{{blog.post.post_category}}">{{blog.post.post_category}}</a>
                            </div>

                            <!--{{!-- {{#if comment_count}}
                            • {{comment_count}} comments
                            {{/if}} --}}-->
                        </div>

                        <div ng-show="blog.post.post_tags">

                            <tags-input ng-if="isEditing" ng-model="blog.post.post_tags"></tags-input>
                            <ul ng-if="!isEditing" class="post_tags">
                                <li ng-repeat="tag in blog.post.post_tags track by $index">
                                    <a href="/tag/{{tag.text}}">{{tag.text ? tag.text:tag}}</a>
                                </li>
                            </ul>
                        </div>

                        <div class="et_pt_thumb alignleft">
                            <a href=""><span class="overlay"></span></a>
                        </div> <!-- end .thumb -->

                        <div class="entry-content">
                            <div ng-if="blog.post.post_content" class="editable post_content_div" data-class="post_content">
                                <span class="post_content" ng-bind-html="blog.post.post_content | unsafe"></span>
                            </div>
                            <div class="editable post_content_div" ng-if="!blog.post.post_content" data-class="post_content">                               
                                <span class="blog_post_content" > Create you blog post here</span>
                            </div>
                        </div>
                        <div ng-if="!blog.post.featured_image">
                                <button ng-if="isEditing" class="btn btn-primary btn-lg pull-right"  ng-click="setPostImage(component._id, blog.post)" >Add Image</button>
                        </div>
                    </div> <!-- end .et_pt_blogentry -->
                </div> <!-- end #et_pt_blog -->
            </article> <!-- .entry -->
        </div> <!-- #main-area -->
        <section style="padding: 10px;">
    <div ng-if="isAdmin">        
        <h4>Share post via...</h4>
        <div>
          <button title="Share on Twitter" ng-click="sharePost(blog.post,'twitter')" class="btn btn-twitter">Twitter</button>
          <button title="Share on Facebook" ng-click="sharePost(blog.post,'facebook')" class="btn btn-facebook">Facebook</button>
          <button title="Share on LinkedIn" ng-click="sharePost(blog.post,'linked-in')" class="btn btn-linkedin">LinkedIn</button>
        </div>
    </div>    
</section>
    </div> <!-- .container -->
</div>
</div>

<div class="clearfix row-fluid">
        <div ng-click="$back()" class="goback col-xs-12">
            <p>
                <span>
                    <i class="fa fa-arrow-circle-o-left"></i>
                    Go Back
                </span>
            </p>
            </span>
            <div class="col-xs-3"></div>
        </div>
    </div><!-- #content-area -->