<div class="social">
    <ul>
        <li ng-show="component.networks.facebook" class="facebook">
            <a href="{{component.networks.facebook}}">
                <span class="fa fa-facebook"></span>
            </a>
        </li>
        <li ng-show="component.networks.twitter" class="twitter">
            <a href="{{component.networks.twitter}}">
                <span class="fa fa-twitter"></span>
            </a>
        </li>
        <li ng-show="component.networks.google-plus" class="google-plus">
            <a href="{{component.networks.google-plus}}">
                <span class="fa fa-google-plus"></span>
            </a>
        </li>
        <li ng-show="component.networks.pinterest" class="pinterest">
            <a href="{{component.networks.pinterest}}">
                <span class="fa fa-pinterest"></span>
            </a>
        </li>
    </ul>
</div>
