<div ng-show="component" data-class="testimonials" class="component testimonials-v1 {{component.bg.img.parallax?'parallax':''}}" parallax-background parallax-ratio=".4" parallax-vertical-offset="0" parallax-horizontal-offset="0" style='background: url("{{component.bg.img.url}}") no-repeat fixed; background: {{component.bg.color}}; color: {{component.txtcolor}};'>
    <div>
        <div id="{{component._id}}" class="component-body ">
            <div>
                <div class="inner-page">
                    <h1 class="title">
                        <div class="editable" data-class="title">
                            {{component.title}}
                        </div>
                    </h1>
                    <div class="col-xs-12" ng-repeat="testimonial in component.testimonials track by $index">

                        <div ng-show="$index % 2 == 0" class="single-testimonial row">
                            <div class="img col-sm-3">
                                <div class="editable" data-class="img">
                                    <img src="{{testimonial.img}}" />
                                </div>
                            </div>
                            <div class="clearfix visible-xs"></div>
                            <div class="col-sm-9">
                                <h3 class="name">
                                    <div class="editable" data-class="img">
                                        {{testimonial.name}}
                                    </div>
                                </h3>
                                <div class="site">
                                    <div class="editable" data-class="site">
                                        {{testimonial.site}}
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="editable" data-class="site">
                                        {{testimonial.text}}
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div ng-show="$index % 2 == 1" class="single-testimonial row ">

                            <div class="img col-sm-3 pull-right">

                                <div class="editable" data-class="img">
                                    <img src="{{testimonial.img}}" />
                                </div>
                            </div>
                            <div class="clearfix visible-xs"></div>
                            <div class="col-sm-9">
                                <h3 class="name">
                                    <div class="editable" data-class="img">
                                        {{testimonial.name}}
                                    </div>
                                </h3>
                                <div class="site">
                                    <div class="editable" data-class="site">
                                        {{testimonial.site}}
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="editable" data-class="site">
                                        {{testimonial.text}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix mb30"></div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="clearfix"></div>
</div>