<div ng-show="component" class="component testimonials-v2 {{component.bg.img.parallax?'parallax':''}}" parallax-background parallax-ratio=".4" parallax-vertical-offset="0" parallax-horizontal-offset="0" style='background: url("{{component.bg.img.url}}") no-repeat fixed; background: {{component.bg.color}}; color: {{component.txtcolor}};'  data-class="testimonials" >
    <div class="component-body">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators" >
                <li ng-repeat="testimonial in component.testimonials track by $index"
                    data-target="#carousel-example-generic" data-slide-to="{{$index}}" class="{{$index==0?'active':'' }}"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="{{$index==0?'item active':'item' }} " ng-repeat="testimonial in component.testimonials track by $index">
                    <div class="single-testimonial row carousel-caption">
                        <div class="col-sm-12">
                            <div class="text">
                                <div class="editable" data-class="text">
                                    {{testimonial.text}}
                                </div>
                            </div>
                            <h4 class="name">
                                <div class="editable" data-class="name">
                                    {{testimonial.name}}
                                </div>
                            </h4>
                            <div class="site">
                                <div class="editable" data-class="site">
                                    {{testimonial.site}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>