<style>

</style>

<div class="thumbnail-slider-v1">
    <div class="col-md-12"><br>
        <div class="title center">
            <div class="editable" data-class="title" data-index="{{$index}}">
                <span ng-bind-html="component.title"/></span>
            </div>
        </div>
        <br>
        <div class="well" style="background: none">
            <div id="myCarousel-{{component.anchor}}" class="carousel slide">
                <ol class="carousel-indicators hidden" ng-hide="thumbnailCollection[0][0].detail">
                    <li data-target="#myCarousel" style="background-color: {{component.indicatorcolor}};" data-slide-to="{{$index}}" class="{{$index==0?'active':''}}" data-ng-repeat="collection in thumbnailCollection"></li>
                </ol>
                <div class="carousel-inner" style="height:200px">
                    <div class="item {{$first?'active':''}}" data-ng-repeat="collection in thumbnailCollection">
                        <div class="row">
                            <div class="col-sm-3 hideText" data-ng-repeat="image in collection"> 
                            <a href="" class="{{isFirst?'':'thumbnail '}}" style="text-align: center;border: 0;margin-top: 70px;background: none;">
                                <img src="{{image.url}}" alt="Image" class="img-responsive hover" style="max-height: 100px; margin:{{image.margin}}; " />
                                <!--<span style="color: {{collection.imagetextcolor}};" >{{image.text}}</span> -->
                            </a>
                                <h4 ng-show="thumbnailCollection[0][0].detail" style="color: {{component.imagetextcolor}};text-align: center" >{{image.text}}</h4>
                                <p ng-show="image.detail">{{image.detail}}</p>
                            </div>
                        </div>
                    </div>
               </div>
                <div ng-show="displayThumbnailPaging" class="left carousel-control glyphicon glyphicon-chevron-left" href="#myCarousel-{{component.anchor}}" style="background: none;" data-slide="prev"></div>
                <div ng-show="displayThumbnailPaging" class="right carousel-control glyphicon glyphicon-chevron-right" href="#myCarousel-{{component.anchor}}" data-slide="next"></div>
            </div>
        </div>
    </div>
</div>
