<style>
    .top-bar-v1 .navbar ul.navbar-nav li a,.top-bar-v1 .navbar ul.left-navbar-nav li a, .top-bar-v1 .navbar ul.navbar-nav li div {
        color:{{component.txtcolor }}!important;
    }
    .top-bar-v1 .navbar {
        border: none;
        border-radius: 0;
    }
    .top-bar-v1 .navbar-collapse {
        background: {{component.bg.color}}!important;
    }

    .top-bar-v1 .navbar ul.navbar-nav li a.active {
         color: {{primaryColor || '#4bb0cb'}};
    }
</style>
<div ng-class="component.type+'-v'+component.version">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container {{isEditing ? 'top-bar-wrap' : ''}}">
            <div class="main-block">
                <div class="social-list-icons  no-offset-top" data-edit="{ type: 'component' }">
                    <ul ng-sortable="sortableConfig" class="nav left-navbar-nav left-block {{isEditing ? 'edit-mode' : ''}}">
                        <li ng-repeat="network in component.networks">
                            <a ng-if="!isEditing" href="{{getUrl(network.url)}}"><i class="fa fa-lg fa-{{network.icon}}"></i></a>
                            <a ng-if="isEditing" ng-click="openModal('social-links-modal', $index)" class="clickable-link social-links" href="" style="z-index:1033;"><i class="fa fa-lg fa-{{network.icon}}"></i></a>
                        </li>
                    </ul>
                    <div ng-if="isEditing" ng-click="openModal('social-links-modal')" class="add-addtional center" tooltip-placement="top" tooltip-append-to-body="true"  tooltip-append-to-body="true" tooltip="Add a social link.">
                        <a class="clickable-link social-links" data-toggle="modal"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right right-block" data-edit="{ type: 'component' }">
                    <li class="hour-block">
                        <div class="navbar-text navbar-right">
                            <i ng-if="component.businessHours" class="fa fa-clock-o fa-lg "></i> &nbsp;
                            <div elem ng-model="component.businessHours" class="inline-block"></div>
                        </div>
                    </li>
                    <li class="phone-block">
                        <div class="navbar-text navbar-right">
                            <i ng-if="component.phone" class="fa fa-phone fa-lg"></i> &nbsp;
                            <div elem ng-model="component.phone" class="inline-block"></div>
                        </div>
                    </li>
                    <li class="phone-block">
                        <div class="navbar-text navbar-right">
                            <i ng-if="component.email" class="fa fa-envelope-o fa-lg"></i> &nbsp;
                            <div elem ng-model="component.email" class="inline-block"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</div>
