<style>
    .top-bar-v1 .navbar ul.navbar-nav li a,.top-bar-v1 .navbar ul.left-navbar-nav li a, .top-bar-v1 .navbar ul.navbar-nav li div {
        color:{{component.txtcolor }}!important;
    }
    .top-bar-v1 .navbar {
        background: {{component.bg.color || 'white'}};
        border: none;
        border-radius: 0;
    }
    .top-bar-v1 .navbar-collapse {
        background: {{component.bg.color}}!important;
    }

    .top-bar-v1 .navbar ul.navbar-nav li a.active {
         color: {{primaryColor || '#4bb0cb'}};
    }
</style>
<div ng-class="component.type+'-v'+component.version">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">

        <div id="navbar" class="navbar-collapse collapse main-block">
          
           <ul class="nav left-navbar-nav left-block {{isEditing ? 'edit-mode' : ''}}">
            <li ng-repeat="network in component.networks">
                <a ng-if="!isEditing" href="{{network.url}}" ><i class="fa fa-lg fa-{{network.icon}}"></i></a>
                <a ng-if="isEditing" class="clickable-link" href="" style="z-index:1033;" ng-click="setSelectedSocialLink(network, component._id, true)" data-toggle="modal" data-target="#topbarSocialComponentModal"><i class="fa fa-lg fa-{{network.icon}}"></i></a>
            </li>
            <div ng-if="isEditing" class="add-addtional center">
            <a ng-if="isEditing" class="clickable-link" data-toggle="modal" ng-click="setSelectedSocialLink(network, component._id, false)" data-target="#topbarSocialComponentModal"><i class="fa fa-plus"></i></a>
            </div>
          </ul>
           
          <ul class="nav navbar-nav navbar-right right-block">
            <li class="hour-block">
              <div class="navbar-text navbar-right"><i class="fa fa-clock-o fa-lg "></i> &nbsp;
                <div class="editable" data-class="businessHours" ng-bind-html="component.businessHours | unsafe">
                </div>
             </div>
            </li>
            <li class="phone-block">
                <div class="navbar-text navbar-right"> <i class="fa fa-phone fa-lg"></i> &nbsp;
                    <div class="editable" data-class="phone" ng-bind-html="component.phone | unsafe"></div>
                </div>
            </li>
            <li class="phone-block">
                <div class="navbar-text navbar-right"> <i class="fa fa-envelope-o fa-lg"></i> &nbsp;
                    <div class="editable" data-class="email" ng-bind-html="component.email | unsafe"></div>
                </div>
            </li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
</div>

 <!-- Add Social Links Modal -->

    <div class="modal fade" id="topbarSocialComponentModal" tabindex="-1" role="dialog" aria-labelledby="socialModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="socialModalLabel">Manage Top bar social links</h4>
                </div>
                <div class="modal-body">
                    <div id="new_page">
                        <div class="form-group">
                            <label for="Link Type">Choose a Link Type* </label>
                            <div class="modal-events col-sm-12">           
                                <a ng-repeat="social_link in social_links" class="btn btn-social-icon btn-{{social_link.name}}" ng-click="setSelectedLink(social_link)"><i class="fa fa-{{social_link.icon}}"></i></a>  
                            </div>
                        </div> 
                        <div class="form-group" id="social-link-name">   
                            <label for="link-name">Selected Link Type </label>     
                            <a id="link-name" class="btn btn-social-icon btn-{{social.name}}"><i class="fa fa-{{social.icon}}"></i></a>
                            <span class="error help-block" />
                        </div>
                        <div class="form-group" id="social-link-url">
                            <label for="link-url">Link Url* </label>
                            <input id="link-url" class="form-control input-lg" type="text" ng-model="social.url">
                            <span class="error help-block" />
                        </div> 
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button ng-if="social.selectedLink" type="button" class="btn btn-primary" ng-click="saveSocialLink(social, component._id, 'update')">Update {{social.selectedLink}}</button>
                    <button ng-if="social.selectedLink" type="button" class="btn btn-primary" ng-click="saveSocialLink(social, component._id, 'delete')" data-dismiss="modal">Delete {{social.selectedLink}}</button>
                    <button ng-if="!social.selectedLink" type="button" class="btn btn-primary" ng-click="saveSocialLink(social, component._id, 'add')" >Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->


