<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->


<div class="video-block">
    <div class="row">
        <div class="col-xs-12">

            <div class="video-title">
                <div class="editable" data-class="maintitle" data-index="{{$index}}">
                    <span ng-bind-html="component.maintitle" />
                </div>
            </div>

            <div class="mb20"></div>

            <div class="videoblock">
                <div class="videogular-container">
                    <!-- <iframe ng-if="video" width="{{component.video.width}}" height="{{component.video.height}}" src="{{trustSrc(component.video.src)}}" frameborder="0"></iframe> -->

                    <!-- <videogular vg-responsive="config.responsive" vg-autoPlay="config.autoPlay">
                                        <video class='videoPlayer' controls preload='metadata'>
                                            <source src='{{trustSrc(component.video.src)}}' type='video/mp4'>
                                        </video>
                                        <vg-overlay-play></vg-overlay-play>
                                    </videogular> -->
                    <iframe ng-show="component.videoType=='youtube'" width="{{component.videoWidth}}" height="{{component.videoHeight}}" src="{{flvVideoUrl('//www.youtube.com/embed/', component.video)}}" frameborder="0" allowfullscreen></iframe>

                    <iframe ng-show="component.videoType=='vimeo'" src="{{flvVideoUrl('//player.vimeo.com/video/', component.video)}}" width="{{component.videoWidth}}" height="{{component.videoHeight}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                    <videogular vg-width="component.videoWidth" vg-height="component.videoHeight" vg-theme="config.theme.url" vg-autoplay="component.videoAutoPlay" vg-stretch="config.stretch" vg-responsive="config.responsive" ng-show="component.videoType=='html5'">
                        <video class='videoPlayer' preload='metadata'>
                            <source src="{{trustSrc(component.videoMp4)}}" type='video/mp4' ng-show="component.videoMp4"/>
                            <source src="{{trustSrc(component.videoWebm)}}" type='video/webm' ng-show="component.videoWebm"/>
                        </video>
                        <vg-video vg-src="video" vg-youtube="rel=1;showinfo=1"></vg-video>

                        <vg-overlay-play></vg-overlay-play>

                        <vg-controls vg-autohide="component.videoControls" vg-autohide-time="config.autoHideTime">
                            <!-- First element from the left -->
                            <vg-play-pause-button></vg-play-pause-button>

                            <!-- Second element from the left -->
                            <vg-scrubBar>
                                <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
                            </vg-scrubBar>

                            <!-- Third element from the left -->
                            <vg-timedisplay>{{ currentTime }} / {{ totalTime }}</vg-timedisplay>

                            <!-- Fourth element from the left -->
                            <vg-volume>
                                <vg-mutebutton></vg-mutebutton>
                                <vg-volumebar></vg-volumebar>
                            </vg-volume>

                            <!-- Fifth element from the left -->
                            <vg-fullscreenButton></vg-fullscreenButton>
                        </vg-controls>
                    </videogular>

                </div>
            </div>


            <div class="col-xs-12" ng-show="component.btn.visibility" class="editable" data-index="{{$index}}" data-class="btn-text">
                <a class="btn btn-primary btn-block center" ng-bind="component.btn.text" data-ng-href="{{component.btn.url}}" du-smooth-scroll></a>
            </div>

            <div class="clearfix"></div>

        </div>
    </div>
</div>
