<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->


<div class="video-block">
    <div class="row">
        <div class="col-xs-12">

            <div class="video-title">
                <div class="editable" data-class="maintitle" data-index="{{$index}}">
                    <span ng-bind-html="component.maintitle" />
                </div>
            </div>

            <div class="video-subtitle">
                <div class="editable" data-class="subtitle" data-index="{{$index}}">
                    <span ng-bind-html="component.subtitle | unsafe" />
                </div>
            </div>

            <div class="mb20"></div>

            <div class="videoblock">
                <div class="videogular-container">
                    <!-- <iframe width="{{component.video.width}}" height="{{component.video.height}}" src="{{trustSrc(component.video.src)}}" frameborder="0"></iframe> -->

                    <!-- <videogular vg-responsive="config.responsive" vg-autoPlay="config.autoPlay">
                                        <video class='videoPlayer' controls preload='metadata'>
                                            <source src='{{trustSrc(component.video.src)}}' type='video/mp4'>
                                        </video>
                                        <vg-overlay-play></vg-overlay-play>
                                    </videogular> -->

                    <videogular vg-width="config.width" vg-height="config.height" vg-theme="config.theme.url" vg-autoplay="config.autoPlay" vg-stretch="config.stretch" vg-responsive="config.responsive">
                        <video class='videoPlayer' preload='metadata'>
                            <source src='{{trustSrc(component.video.src.ogv)}}' type='video/ogv'>
                            <source src="{{trustSrc(component.video.src.mp4)}}" type='video/mp4' />
                            <source src="{{trustSrc(component.video.src.webm)}}" type='video/webm' />
                        </video>

                        <vg-overlay-play></vg-overlay-play>

                        <vg-controls vg-autohide="config.autoHide" vg-autohide-time="config.autoHideTime">
                            <!-- First element from the left -->
                            <vg-play-pause-button></vg-play-pause-button>

                            <!-- Second element from the left -->
                            <vg-scrubBar>
                                <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
                            </vg-scrubBar>

                            <!-- Third element from the left -->
                            <vg-timedisplay>{{ currentTime }} / {{ totalTime }}</vg-timedisplay>

                            <!-- Fourth element from the left -->
                            <vg-volume>
                                <vg-mutebutton></vg-mutebutton>
                                <vg-volumebar></vg-volumebar>
                            </vg-volume>

                            <!-- Fifth element from the left -->
                            <vg-fullscreenButton></vg-fullscreenButton>
                        </vg-controls>
                    </videogular>

                </div>
            </div>


            <div class="col-xs-12" ng-show="component.btn.visibility" class="editable" data-index="{{$index}}" data-class="btn-text">
                <a class="btn btn-primary btn-block center" ng-bind="component.btn.text" data-ng-href="{{component.btn.url}}" du-smooth-scroll></a>
            </div>

            <div class="clearfix"></div>

        </div>
    </div>
</div>
