<div class="component feature-list feature-list-v2" data-class="feature-list" data-ng-show="component"
     data-id="a21b456q-5564-1g87-6j43-22123j887656"
     style="background: url('images/fittester/feature-list-back.png');">
    <div class="page">
        <div class="row inner-page">
            <div class="row">

                <h1 class="feature-list-title">
                    <div class="editable" data-class="title">
                        Services
                    </div>
                </h1>
                <div class="feature-list-subtitle col-xs-8 col-xs-offset-2">
                    <div class="editable" data-class="subtitle">
                        <span></span></div>
                </div>
                <div class="clearfix mb15"></div>

                <div class="col-sm-4 feature">
                    <div class="feature-single feature-single-0">
                        <span class="feature-icon fa fa-users"></span>

                        <h3 class="feature-title">
                            <div class="editable" data-class="feature-title">
                                Customers
                            </div>
                        </h3>
                        <div class="feature-subtitle">
                            <div class="editable" data-class="feature-subtitle">
                                Lorem Ipsum <br> Lorem Ipsum <br> Lorem Ipsum <br> Lorem Ipsum
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary feature-btn">View</a></div>
                </div>

                <div class="col-sm-4 feature">
                    <div class="feature-single feature-single-0">
                        <span class="feature-icon fa fa-users"></span>

                        <h3 class="feature-title">
                            <div class="editable" data-class="feature-title">
                                Customers
                            </div>
                        </h3>
                        <div class="feature-subtitle">
                            <div class="editable" data-class="feature-subtitle">
                                Lorem Ipsum <br> Lorem Ipsum <br> Lorem Ipsum <br> Lorem Ipsum
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary feature-btn">View</a></div>
                </div>

                <div class="col-sm-4 feature">
                    <div class="feature-single feature-single-0">
                        <span class="feature-icon fa fa-users"></span>

                        <h3 class="feature-title">
                            <div class="editable" data-class="feature-title">
                                Customers
                            </div>
                        </h3>
                        <div class="feature-subtitle">
                            <div class="editable" data-class="feature-subtitle">
                                Lorem Ipsum <br> Lorem Ipsum <br> Lorem Ipsum <br> Lorem Ipsum
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary feature-btn">View</a></div>
                </div>


            </div>
        </div>
    </div>
</div>