/* Buttons */

.btn {
  font-weight: 400;
  color: @color-4;
  border: 0;
  background-color: @color-1;
  border-bottom: 3px solid @color-2;
}

.btn-clean {
  background: none!important;
  color: @navbar-default-link-color!important;
  border-bottom: none;
}

.btn-centered {
  width: 50%;
  margin: 0 auto!important;
  display: block;
}


/* Social Buttons */

.social i {
  font-size: 38px;
  padding: 2px;
  margin: 2px;
  color: #F1F1F1;
}

.social i:hover {
  color: @color-2;
  text-decoration: none;
}