.activate-account-v1{
	.ldsrc-container{
		background: #FFFFFF;
		.ldsrc-header{
			background-color: #1193D1;
			color: #FFFFFF;
			h1{
				padding-top: 20px;
				padding-bottom: 20px;
			}
		}
		.ldsrc-body{
			color: #6C6C6C;
			padding-top: 200px;
			padding-bottom: 200px;
		    padding-left: 15px;
		    padding-right: 15px;
		    max-width: 800px;
		    margin: 0 auto;
			.ldsrc-getting-started{
				margin-bottom: 30px;
			}
			.features-wrap{
				.feature-block{
					padding-left: 15px;
				    padding-right: 15px;
				    padding-top: 50px;
				    padding-bottom: 50px;
				    background-color: #F7F7F7;
				    border: 1px solid #F1F1F1;
				    .feature-block-content{
				    	h3{
				    		line-height: 1.5em;
				    	}
				    }
				}
				.selected-plan{
					background-color: #1491D3;
					border: 1px solid #1491D3;
					color: #FFFFFF;
				}
			}
		}
	}
	
}