body.ie-browser p.overlay {
  	margin-top: -100px !important;
  }
div[data-type='campaign'] .inner-page {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  
  .overlay {
  	margin-top: 0px;
  }
}

