.dash {
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
  border: solid 1px #fff;
  margin: 0 0 60px 0;
  display: inline-block;
}
.dash-container {
  padding-top: 50px;
  border-radius: 50%;
  color: #fff;
}
.dash .digit {
  font-size: 50px;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  height: 60px;
  letter-spacing: -2px;
  padding-top: 9px
}
.dash_title {
  clear: both;
  display: block;
  font-size: 24px;
  font-weight: 300;
}
