.contact-us-v1 {
    p {
        margin: 0px 0 3px;
    }
    @media(max-width:767px) {
        .widget-weather {
            margin-top: -280px !important;
            padding: 0!important;
            .panel-body {
                padding: 0!important;
            }
        }
    }
    .widget-weather {
        margin-top: -300px;
        margin-left: 100px;
        margin-bottom: 0;
        border: none;
    }
    .panel-default,
    .panel-body {
        background: none;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .widget-weather .temp {
        padding: 15px !important;
        height: 230px;
        text-align: center;
        vertical-align: middle;
        display: table;
        float: none;
        width: 260px;
        max-height: 275px;
        min-width:172px;
        max-width: 500px;
    }
    .widget-weather .temp span {
        padding-bottom: 5px;
    }
    .widget-weather .temp span.blocked {
        display: block;
    }
    .angular-google-map-container {
        height: 100%;
        width: 100%;
        position: absolute;
    }
    .container {
        width: 50%;
        padding-left: 0;
        padding-right: 0;
    }
    .map-component {
        background-color: #C5E2E2;
        margin: 5%;
        color: #000000;
    }
    .map {
        height: 344px;
        margin-right: 50px
    }
    .contact-right {
        padding: 0 40px 20px;
    }
    .contact-img {
        width: 152px;
    }
    .contact-left {
        color: white;
        border-radius: 5px;
        margin: 0 15px;
        p {
            margin-bottom: 0;
        }
    }
    input[type="radio"] {
        margin-right: 5px;
    }
    .current-day {
        font-weight: bold;
    }
    .editing {
        .widget-weather {
            .settings {
              position: relative !important;
              right: 0;
              top: 0;
              border-left: none;
              border-bottom: none;
              width: 100%;
            }
        }
    }
    .leaflet-popup-pane {
        color: #000;
    }
}
