.contact-us-v2 {
    map{
        min-height: 350px;
    }
    .contact-info{
        text-align : center;
    }

    .contact-details{
        margin-bottom: 50px;
    }

    .contact-address{
        margin-bottom: 50px;
    }
    
    .contact-hours{
        @media only screen and (max-width: 767px) {
            margin-bottom: 50px;
        }
    }

}
