/********** Customer Account **********/
  .customer-account-v1 {
    .address-info {
      background: #EFF6F9;
      border: 1px solid #E6EBEE;
      .address-title {
        color: #BBD4E1;
      }
      .address-desc {
        color: #A8A9A9;
      }
      .display-block {
        display: block;
      }
      .btn-change {
      background-color: #a3c5d8;
      border-color: #a3c5d8;
      border-bottom: 4px solid #a3c5d8;
      padding: 7px 7px 2px 5px;
      line-height: 15px;
      color: #FFF;
      }
      .btn-change:hover {
      background-color: #39b3d7;
      border-color: #39b3d7;
      }
    }
    .btn-black {
      background-color: #3a3a3a;
      border-color: #3a3a3a;
      padding: 5px 7px 5px 5px;
      line-height: 15px;
      color: #FFF;
      width: 150px
    }
    .btn-edit-photo {
    text-align: center;
    }
    #main-area {
      border: 1px solid #e3e6e9;
      box-shadow: none;
    }
    .info th{
      color: #a4c5d9;
    }
  }
