.feature-list-v5 {
	.feature-list-container{
		ul.list-features{
			margin: 0;
    		padding: 0;
    		padding-top:30px;
    		padding-bottom:30px;
    		list-style: none;
			li{
				display: inline-block;
				opacity: 0.7;
				a.feature-heading{
					padding:20px;
					color:inherit;
					text-decoration: none;
    				cursor: pointer;
				}
				.fetaure-tabs-icon{
					margin-bottom: 10px;
				}
				&.feature-col-5-layout{
					width:20%;
					@media screen and (max-width: 767px) {
				  		width:50%;
					}
				}
				&.feature-col-4-layout{
					width:25%;
					@media screen and (max-width: 767px) {
				  		width:50%;
					}
				}
				&.feature-col-3-layout{
					width:33.33%;
					@media screen and (max-width: 767px) {
				  		width:50%;
					}
				}
				&.feature-col-2-layout{
					width:50%;
					@media screen and (max-width: 767px) {
				  		width:50%;
					}
				}
				&.feature-col-1-layout{
					width:100%;
				}
				&.active{
					opacity: 1;
				}				
			}
		}
	}
}