.feature-list-v5 {
	.feature-list-container{
		ul.list-features{
			margin: 0;
    		padding: 0;
    		padding-top:30px;
    		padding-bottom:30px;
    		list-style: none;
			li{
				display: inline-block;
				width:20%;
				padding:20px;
				.fetaure-tabs-icon{
					margin-bottom: 10px;
				}
			}
		}
	}
}