@desktop:     ~"only screen and (min-width: 700px) and (max-width: 1920px)";
@mobile:      ~"only screen and (max-width: 700px)";
@mobile-large: ~"only screen and (min-width: 700px) and (max-width: 768px)";

.footer-container {
  color: white;
  height: 53px;
}
@media @desktop{
  .footer-after{
  background: #292929;
  padding: 20px 0 0 0;
  font-size: 12px;
  height: 55px;
  display: block;
  }

  .footer-after p{
  color: #fff;
  margin: 0;
  }

  .footer-after a{
    color: #FFF;
    float: right;

  }


  .footer-after a:hover{
  color: #7f8c8d;
  text-decoration: none;
  }


  .footer-logo {
    margin: -35px 5px 0 0;
    float: right;
    z-index: 1000;
    position: relative;
  }

  #footer {
    font-family: Helvetica;
  }
}

@media @mobile {
  .footer-after{
    background: #292929;
    text-align: center;
    padding: 20px 20px 0 20px;
    font-size: 12px;
    // height: 55px;
    display: block;
  }
  .footer-after a{
    color: #FFF;
  }
  .footer-logo {
    margin:  0 auto;
    display:block;
  }
  .footer-container {
    // margin-top: 40px;
  }
  .powered-by {
    // margin-top: -52px;
    // position: relative;
    // top: -17px;
  }
  .text-right {
    text-align: center!important;
  }
}

@media @mobile-large {
  .copyright {
    width: 50%;
  }
  .powered-by {
    width: 50%;
  }
}