/********** Image Text v1 **********/

  .image-text-v1 {
    img{
        max-width:100%;
    }
    span[data-cke-display-name="image"] {
      max-width:100%;
      img{
        max-width:100%;
      }
    }
    .image-text-title {
      text-align: center;
      display: block;
      position: relative;
    }
    .image-text-subtitle {
      margin-top: 0px;
    }
    .btn {
      margin: 20px auto;
    }
    .image-text-text {
      margin: 15px;
    }
    .image-text-image {
      margin: 15px;
    }
    .image-text-image img {
      margin: 15px auto;
    }
  }

  #paradata span h4{
    font-size: 22px;
  }

  #paradata span h5{
    font-size: 18px;
  }


  .image-text {
    display: inline-block;

    .img-responsive {
      margin: 0 auto;
    }

  }
