.editing .image-wrap {
  &:hover {
    border: 4px dashed rgba(0,0,0,0.4);
    padding-right: 6px;
    padding-left: 6px;
    margin-top: -4px;
    margin-bottom: -4px;

    .add-addtional {
      display: block;
      font-size: 28px;
    }

    .delete-single-image {
      .btn-delete-single-image {
        background: rgba(0,0,0,0.5);
        display: block;
        border: 0;
        color: #ffffff;
        padding: 10px 15px;
        position: absolute;
        top: 0;
        right:0;
      }
    }

  }

  .delete-single-image {
    .btn-delete-single-image {
      display: none;
    }
  }

}

.image-gallery-v1 {

  .single-image {
    padding: 0;
    margin: 0;
  }

  .thumbnail {
    position: relative;

    a {
      img {
        min-height: 149px;
      }
    }
  }

  a.thumbnail .caption {
    display: block;
    background: #222;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }

  a.thumbnail:hover .caption {;
    opacity: 0.9;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }

  a.thumbnail .caption i {
    display: block;
    font-size: 40px;
    color: #EEE;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -24px;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  a.thumbnail:hover .caption i {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  // .thumbnail img {
  //   height: 240px;
  //   width: 310px
  // }

  .imgHeight {
    max-height: 150px;
    overflow: hidden;
    min-height: 150px;
    margin: 10px 0 20px 0;
  }
}