/********** MastHead **********/

.navbar-v2 {
    div[data-type='masthead'] {
        .home-text {
            min-height: 260px;
        }
    }
}

.masthead .btn .fa {
    margin-top: 8px;
}

.mt200 {
    margin-top: -200px;
}

.cover {
    @media (max-width: 480px) {
        background-attachment: scroll!important;
    }
}

.masthead-v1 {
    margin-top: 0;
    transition: none;
    padding: 0;
    height: 100%;
    width: 100%;
    clear: both;
    overflow: hidden;
    background-size: cover!important;
    position: relative;
    h4 {
        div {
            float: left;
            text-indent: 17px;
            line-height: 18px;
        }
    }
    .masthead-subtitle {
        max-width: 80%;
        margin: 15px auto;
    }
    .masthead-title {
        font-size: 32px;
        h1 {
            font-size: 45px;
        }
    }
    .btn:not(.ssb-theme-btn) {
        height: 50px;
        max-width: 200px;
        display: block;
        .fa {
            float: left;
            margin-right: 10px;
            margin-top: 2px;
        }
    }
    .row {
        margin: 0;
    }
    .btn-text {
        font-weight: bold;
        text-shadow: none;
    }
    .home-text {
        padding: 50px 30px;
        text-align: center;
    }
}

@media (max-width: 625px) {
    .masthead-v1 .masthead-subtitle {
        max-width: 100%;
    }
    .navigation-v2 .navbar ul.navbar-nav li {
        display: block;
    }
}

@media (min-width: 768px) {
    .full-screen {
        background-size: 100% 105% !important;
    }
}
