/********** Navbar v5 **********/
.editing {
    .top-menu-link{
      top: 2px;
    }
  }
  .navigation-v5 {
    .nav {
      margin-top: 0px!important;
    }
    .nav-logo{
      div.tooltip.bottom{
        margin-top: -30px;
      }
    }
    .navbar-brand {
      min-width: 200px;
      width: 95%;
      height: auto;
      color: inherit;
      &:hover{
          color: inherit;
      }
    }
    .navbar-nav {
      text-align: center;
      float: none;
      margin-top: 0;
      margin-right: 0;

      @media screen and (min-width: 767px) {
          float: right;
      }

      > li {
        float: left;
        display: inline-block;
        vertical-align: middle;
        display: inline-block;
        margin-bottom: 10px;
      }
    }
    .navbar {
      border: none!important;
      background: none;
      box-shadow: none;
      min-height: 115px;
      border: none;
      border-radius: 0px;
      .navigation-logo.edit-wrap {
        div.editable, .fr-element {
            min-height: 30px;
        }

      }
      .container
      {
        width:100%
      }

      .nav > li > a {
        &:hover {
          color: #ffffff;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -ms-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s;
        }
        float: none;
        padding: 10px 20px 10px;
        font-size: 15px;
        line-height: 105px;
      }
    }

     @media (max-width: 767px) {
      .navbar-nav {
        margin: 0 !important;
        > li {
          min-height: 50px;
          float:none;
          display: inherit;
          margin-bottom: unset;
        }
      }
      .navbar {
        .nav > li > a {
          line-height: 30px;
        }
      }
    }

  }
  .navigation1 {
    position: relative;
    z-index: 5;
  }
  .navbgcolor .v-dispaly-auto-align {
    color: #939597;
}
