/********** Navbar v3 **********/

.navigation-v3 {
  .nav {
    margin-top: 0px!important;
  }
  .navbar-brand {
    min-width: 200px;
    width: 100%;
    height: auto;
  }
  .navbar-nav {
    
    text-align: center;
    float: right!important;
    margin-top: 0;
    margin-right: 0;
    > li {
      float: left;
      display: inline-block;
      vertical-align: middle;
      display: inline-block;
    }
  }
  .navbar {
    min-height: 115px;
    border: none;
    border-radius: 0px;
    li {
      min-height: 125px;
    }

    .nav > li > a {
      &:hover {
        color: #ffffff;
        background: #265fb3;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
      }
      float: none;
      padding: 10px 20px 10px;
      font-size: 15px;
      line-height: 105px;
    }
  }
  .navigation-logo img
  {
    max-height: 105px;
  }
}
.navigation1 {
  position: relative;
  z-index: 5;
}