/********** Navbar **********/
div[navigation-component]{
    position: relative;
    z-index: 4 !important;

}
.navbar-nav {
    li.social a {
        padding: 0!important;
    }
    li a.sign-in {
        background: #fcb351;
        color: #fff!important;
        border-bottom: 4px solid #fa8b28;
        border-radius: 3px;
        &:hover {
            background: #fcb351;
            border-bottom: 4px solid #fcb351;
        }
    }
    .fa-twitter {
        background: none!important;
        padding: 10px 10px 10px;
        margin-left: 20px;
    }
    .fa-facebook {
        background: none!important;
        padding: 10px 10px 10px;
    }
    &.nav-mixed-case > li > a{
        text-transform: capitalize !important;
    }
    .nav.ssb-on {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.navbar-white {
    background-color: #ffffff;
    color: #5db8d0;
    border-radius: 0;
    border-bottom: 3px solid #5db8d0 !important;
    padding: 0 30px;
}

.navbar {
    border: none!important;
    background: none;
    box-shadow: none;
    margin-bottom: 0px;

    .navigation-logo.edit-wrap {
        min-width: 200px;
        div.editable, .fr-element {
            min-height: 30px;
        }
        .img{
            max-width:100% !important
        }
    }
}

.navbar-box{
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}

.navbar-brand {
    max-width: 100%!important;
    margin: 5px auto!important;
    height: auto;
    color: inherit;
    &:hover{
        color: inherit;
    }
    line-height: inherit;
}

.navbar-toggle {
    margin-top: 20px;
    z-index: 999;
}

.navbar .nav>li a {
    float: none;
    padding: 10px 25px 10px;
    color: #939597;
    text-decoration: none;
    font-size: 15px;
    display: block;
}

.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    font-weight: bold;
}

.navbar .nav>li {
    float: left;
    min-height: 44px;
}

ul.nav {
    margin-top: 25px!important;
}

.container-fluid {
    padding: 0px;
}

.navbar-brand {
    padding: 12px 20px;
}

.editable.navigation-logo, .editable.navigation-logo .fr-element {
    min-height: 85px;
    min-width: 85px;
}

.navigation1 {
    position: relative;
    z-index: 5;
}


.navigation-v1 {
    .navbar {

        .navbar-brand {
            float: none;
            display: block;
            margin: 5px auto;
            text-align: left;
            width: 95%;
        }
    }
    .container {
        width: 100%;
    }
    @media (min-width: 1600px) {
        .container {
          width: 90%;
        }
    }
    .nav-logo{
        div.tooltip.bottom{
          margin-top: -30px;
        }
    }
    @media (max-width: 767px) {
        .navbar .nav>li {
            float: none;
        }
    }
}


.nav-undernav .component{
   position: relative;
   z-index: 1;
}
.bg-nav-undernav{
   position: relative !important;
}


@media (max-width: 667px) {

}
@media (max-width: 767px) {
    ul.nav-sub-menu {
        border: none !important;
        padding: 0 !important;
        overflow-y: auto;
        overflow-x: visible;
        height: auto;
        bottom: auto;
        width: 100%;
        z-index: 1050;
        display: none;
        li{
            border-bottom: 4px solid transparent;
        }
    }
}
@media  (min-width: 768px) {
    ul.nav-sub-menu {
        border: none !important;
        position: absolute;
        padding: 0 !important;
        overflow-y: auto;
        overflow-x: visible;
        height: auto;
        bottom: auto;
        width: 199px;
        z-index: 1050;
        display: none;
        margin-top: 4px;
        li{
            border-bottom: 4px solid transparent;
        }
    }  
    .ssb-wrap-left-fixed-left-nav ul.nav-sub-menu{
        width: 100%;
    }
    .ssb-page-section.ssb-wrap-left-fixed-left-nav ul.nav-sub-menu{
        border: none !important;
        padding: 0 !important;
        overflow-y: auto;
        overflow-x: visible;
        position: relative;
        height: auto;
        bottom: auto;
        width: 100%;
        z-index: 1050;
        display: none;
        position: relative;
        background: transparent;
        li{
            border-bottom: 4px solid transparent;
        } 
    }
}
.overflow_visible{
    overflow: visible !important;
    z-index: 10;
}
.overflow_visible.unset{
     z-index: unset;
}
.ssb-layout__header_2-col_footer.ssb-page-blog-list{ 
    .overflow_visible{
        overflow: auto !important;
        z-index: 10;
    }
    .overflow_visible.unset{
         z-index: unset;
    }
}

li.nav-active ul.nav-sub-menu{
    display: block!important;
}

ul.nav.navbar-nav{
    .sub-nav-parent-menu{
        .ssb-sub-nav-menu-arrow{
            padding-left: 5px;
        }
        .ssb-sub-nav-menu-arrow:before {
            content: "\f078";
        }
        &.nav-active{
           .ssb-sub-nav-menu-arrow:before {
                content: "\f077";
            }
        }
    }
} 
.overflow_visible-without-index{
    overflow: visible !important;
}
@media screen and (max-width: 767px)
{
   .ssb-page-section-layout-header-v1.ssb-page-section-layout-header [ssb-text-component]{
    font-size:30px;
   }
}
@media screen and (min-width: 1600px)
{
 .ssb-wrap-left-fixed-left-nav .navigation-v1  .container {
      width: 100%;
    }
}
