/********** Simple Form v2 **********/

.simple-form-v2 {
    background: black;
    padding: 0px!important;
    .thank-you {
        padding: 0;
        margin-bottom: -70px;
    }
    h3 {
        color: white;
        padding: 0 0 20px 10px;
        font-weight: 600;
        font-family: Capital;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        font-size: 28px;
        margin-top: 10px;
    }
    input, textarea {
        width: 100%;
        text-indent: 10px;
        border-radius: 6px !important;
        padding: 10px 16px;
    }
    .inner-page {
        padding: 15px 0 30px;
    }
    .btn-editable
    {
        padding-top:15px !important;
        -moz-user-select: text;
    }
    .btn {
        height: 50px;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        background-color: #ffffff !important;
    }
    .has-success {
            .form-control {
                border-color: #2ecc71;
            }
            .glyphicon {
                color:#2ecc71;
            }
    }

    .has-error {
        .form-control {
            border-color: #e74c3c;
        }
        .glyphicon {
            color:#e74c3c;
        }
        .help-block {
            color:#e74c3c;
        }
    }
    .has-feedback .form-control-feedback {
        position: absolute;
        top: 8px;
        right: 8px;
    }
    fieldset {
        background:none;
        border:0px;
    }
}