/********** Simple Form v3 **********/

.simple-form-v3 {
   input[type='radio'] {
        margin-right: 5px;
   }
   .btn-editable
    {
        padding-top:15px !important;
        -moz-user-select: text;
    }
	.has-success {
        .form-control {
            border-color: #2ecc71;
        }
        .glyphicon {
            color:#2ecc71;
        }
    }

    .has-error {
        .form-control {
            border-color: #e74c3c;
        }
        .glyphicon {
            color:#e74c3c;
        }
        .help-block {
            color:#e74c3c;
        }
    }
    .has-feedback .form-control-feedback {
        position: absolute;
        top: 8px;
        right: 8px;
    }
}