// @import "../js/libs/bootstrap-social/bootstrap-social.less";
/********** Social Links **********/

div[data-type="social-link"] .inner-page {
  padding: 0;
}
[social-link-component] div.component.inner-component-style {
    margin-top: 35px;
}
.ssb-page-section-contact-us-v13 [social-link-component] .inner-page {
 padding: 0px;
}
  .social-link-v1 {
      .inner-page {
        padding: 0;
      }
      ul {
          text-align: center;
          padding-left: 0;
          margin-bottom: 20px; 
          li.editable-title{
              width: auto !important;
              height: auto !important;
          }
          li.editable-cover{
              width: 100% !important;
              height: 100% !important;
          }
          &.ssb-active-edit-control:before{
              width:99%;
          }
          &.go-left{
              text-align: left;
          }
          &.go-center{
              text-align: center;
          }
          &.go-right{
              text-align: right;
          }
      }
      ul li {
        width: 45px;
        height: 45px;
        display: inline-block;
        border-radius: 5px;
        text-align: center;
        margin: 0 0 0 10px;

        a {
          position: relative;

          span {
            background: none!important;
            line-height: 48px;
            font-size: 28px;
          }
        }
      }

  }
  .modal-events a{
     pointer-events: all !important;
     margin: 5px;
   }

.btn-comment-o{color:#fff;background-color:#F0E301;border-color:rgba(0,0,0,0.2)}.btn-comment-o:hover,.btn-comment-o:focus,.btn-comment-o:active,.btn-comment-o.active,.open>.dropdown-toggle.btn-comment-o{color:#fff;background-color:#F0E301;border-color:rgba(0,0,0,0.2)}
.btn-comment-o:active,.btn-comment-o.active,.open>.dropdown-togglle.btn-comment-o{background-image:none}
.btn-comment-o.disabled,.btn-comment-o[disabled],fieldset[disabled] .btn-comment-o,.btn-comment-o.disabled:hover,.btn-comment-o[disabled]:hover,fieldset[disabled] .btn-comment-o:hover,.btn-comment-o.disabled:focus,.btn-comment-o[disabled]:focus,fieldset[disabled] .btn-comment-o:focus,.btn-comment-o.disabled:active,.btn-comment-o[disabled]:active,fieldset[disabled] .btn-comment-o:active,.btn-comment-o.disabled.active,.btn-comment-o[disabled].active,fieldset[disabled] .btn-comment-o.active{background-color:#F0E301;border-color:rgba(0,0,0,0.2)}
.btn-comment-o .badge{color:#F0E301;background-color:#fff}

.btn-vine{color:#fff;background-color:#00B389;border-color:rgba(0,0,0,0.2)}.btn-vine:hover,.btn-vine:focus,.btn-vine:active,.btn-vine.active,.open>.dropdown-toggle.btn-vine{color:#fff;background-color:#00B389;border-color:rgba(0,0,0,0.2)}
.btn-vine:active,.btn-vine.active,.open>.dropdown-toggle.btn-vine{background-image:none}
.btn-vine.disabled,.btn-vine[disabled],fieldset[disabled] .btn-vine,.btn-vine.disabled:hover,.btn-vine[disabled]:hover,fieldset[disabled] .btn-vine:hover,.btn-vine.disabled:focus,.btn-vine[disabled]:focus,fieldset[disabled] .btn-vine:focus,.btn-vine.disabled:active,.btn-vine[disabled]:active,fieldset[disabled] .btn-vine:active,.btn-vine.disabled.active,.btn-vine[disabled].active,fieldset[disabled] .btn-vine.active{background-color:#00B389;border-color:rgba(0,0,0,0.2)}
.btn-vine .badge{color:#00B389;background-color:#fff}

.btn-desktop{color:#fff;background-color:#00A8CB;border-color:rgba(0,0,0,0.2)}.btn-desktop:hover,.btn-desktop:focus,.btn-desktop:active,.btn-desktop.active,.open>.dropdown-toggle.btn-desktop{color:#fff;background-color:#00A8CB;border-color:rgba(0,0,0,0.2)}
.btn-desktop:active,.btn-desktop.active,.open>.dropdown-toggle.btn-desktop{background-image:none}
.btn-desktop.disabled,.btn-desktop[disabled],fieldset[disabled] .btn-desktop,.btn-desktop.disabled:hover,.btn-desktop[disabled]:hover,fieldset[disabled] .btn-desktop:hover,.btn-desktop.disabled:focus,.btn-desktop[disabled]:focus,fieldset[disabled] .btn-desktop:focus,.btn-desktop.disabled:active,.btn-desktop[disabled]:active,fieldset[disabled] .btn-desktop:active,.btn-desktop.disabled.active,.btn-desktop[disabled].active,fieldset[disabled] .btn-desktop.active{background-color:#00A8CB;border-color:rgba(0,0,0,0.2)}
.btn-desktop .badge{color:#00A8CB;background-color:#fff}
.btn-youtube{color:#fff;background-color:#CF3427;border-color:rgba(0,0,0,0.2)}.btn-youtube:hover,.btn-youtube:focus,.btn-youtube:active,.btn-youtube.active,.open>.dropdown-toggle.btn-youtube{color:#fff;background-color:#CF3427;border-color:rgba(0,0,0,0.2)}
.btn-youtube:active,.btn-youtube.active,.open>.dropdown-toggle.btn-youtube{background-image:none}
.btn-youtube.disabled,.btn-youtube[disabled],fieldset[disabled] .btn-youtube,.btn-youtube.disabled:hover,.btn-youtube[disabled]:hover,fieldset[disabled] .btn-youtube:hover,.btn-youtube.disabled:focus,.btn-youtube[disabled]:focus,fieldset[disabled] .btn-youtube:focus,.btn-youtube.disabled:active,.btn-youtube[disabled]:active,fieldset[disabled] .btn-youtube:active,.btn-youtube.disabled.active,.btn-youtube[disabled].active,fieldset[disabled] .btn-youtube.active{background-color:#CF3427;border-color:rgba(0,0,0,0.2)}
.btn-youtube .badge{color:#CF3427;background-color:#fff}

.btn-yelp{color:#fff;background-color:#CE2200;border-color:rgba(0,0,0,0.2)}.btn-yelp:hover,.btn-yelp:focus,.btn-yelp:active,.btn-yelp.active,.open>.dropdown-toggle.btn-yelp{color:#fff;background-color:#CE2200;border-color:rgba(0,0,0,0.2)}
.btn-yelp:active,.btn-yelp.active,.open>.dropdown-toggle.btn-yelp{background-image:none}
.btn-yelp.disabled,.btn-yelp[disabled],fieldset[disabled] .btn-yelp,.btn-yelp.disabled:hover,.btn-yelp[disabled]:hover,fieldset[disabled] .btn-yelp:hover,.btn-yelp.disabled:focus,.btn-yelp[disabled]:focus,fieldset[disabled] .btn-yelp:focus,.btn-yelp.disabled:active,.btn-yelp[disabled]:active,fieldset[disabled] .btn-yelp:active,.btn-yelp.disabled.active,.btn-yelp[disabled].active,fieldset[disabled] .btn-yelp.active{background-color:#CE2200;border-color:rgba(0,0,0,0.2)}
.btn-yelp .badge{color:#CE2200;background-color:#fff}

.btn-vimeo-square{color:#fff;background-color:#1ab7ea;border-color:rgba(0,0,0,0.2)}.btn-vimeo-square:hover,.btn-vimeo-square:focus,.btn-vimeo-square:active,.btn-vimeo-square.active,.open>.dropdown-toggle.btn-vimeo-square{color:#fff;background-color:#1ab7ea;border-color:rgba(0,0,0,0.2)}
.btn-vimeo-square:active,.btn-vimeo-square.active,.open>.dropdown-toggle.btn-vimeo-square{background-image:none}
.btn-vimeo-square.disabled,.btn-vimeo-square[disabled],fieldset[disabled] .btn-vimeo-square,.btn-vimeo-square.disabled:hover,.btn-vimeo-square[disabled]:hover,fieldset[disabled] .btn-vimeo-square:hover,.btn-vimeo-square.disabled:focus,.btn-vimeo-square[disabled]:focus,fieldset[disabled] .btn-vimeo-square:focus,.btn-vimeo-square.disabled:active,.btn-vimeo-square[disabled]:active,fieldset[disabled] .btn-vimeo-square:active,.btn-vimeo-square.disabled.active,.btn-vimeo-square[disabled].active,fieldset[disabled] .btn-vimeo-square.active{background-color:#1ab7ea;border-color:rgba(0,0,0,0.2)}
.btn-vimeo-square .badge{color:#1ab7ea;background-color:#fff}
.btn-reddit {color: #000;
  background-color: #eff7ff;
  border-color: rgba(0,0,0,0.2);}
