.editing .testimonials-v2 .testimonial-wrap {    
  .single-testimonial {
    border: 4px solid rgba(0, 0, 0, 0);
    position: relative;
  }
  .single-testimonial.edit-mode {
    padding-left: 15px;
    padding-right: 15px;
  }
  .single-testimonial:hover {
    border: 4px dashed rgba(0, 0, 0, 0.4);
  }
  .single-testimonial:hover {
    .add-addtional {
      display: block;
      font-size: 28px;
      bottom: -25px;
    }
    .delete-single-testimonial {
      .btn-delete-single-testimonial {
        background: rgba(0, 0, 0, 0.5);
        display: block;
        border: 0;
        color: #ffffff;
        padding: 10px 15px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1050;
      }
    }
  }
  .delete-single-testimonial {
    .btn-delete-single-testimonial {
      display: none;
    }
  }
  div.editable:empty:not(:focus):before{
        content:attr(data-text)
    }
}
.editing .testimonials-v2 .testimonials{        
      padding: 25px;
      margin-bottom:20px; 
     }
.testimonials-v2 {
  height: 100%;
  display: block;
  position: relative;

  .title {
    text-align: center;
  }

  .carousel {
    display: block;
  }

  .carousel-inner {
    overflow: inherit;
  }

  .btn-add-testimonial
  {
    position:relative !important;
  }

   .carousel-caption {
    position: static;
    z-index: 10;
    width:50%;
    margin:0 auto;
    text-align: center;
    top: 0px;
    text-shadow: none;
  }

  .img img{       
     margin: 0 auto;
     max-width: 100%;
  }


  .slick-dots {
    width:inherit;
    bottom: -15px!important;
  }

  .carousel-indicators {
    bottom: 60px;
      li {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 4px;
        text-indent: -999px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        background-color: #d7d7d7;
      }
  }

  .right.carousel-control {
    background: none!important;
  }

}