.text-only-v1 {
	@media (max-width: 720px) {
        .word-break {
            a{
                word-break: break-word;
            }
            span, a{
                display: inline-block;
            }
            ul{
                li{
                    a{
                        display: inherit !important;
                    }
                    span{
                        display: inline;
                    }
                }
            }
        }
    }

}// for editor
.fr-element {
    a.ssb-element-button,a.btn-link {
        display: inline-block;
    }
} 
@media (min-width: 720px) {
    .fr-view span.fr-emoticon,.fr-view span.fr-emoticon>span.ssb-bg-color-inline-block{
        display: table-cell;
        font-family: unset;
  }
}
