.text-only-v1 {
	@media (max-width: 720px) {
        
        .word-break {
            span, a{
                display: inline-block;
            }
            ul{
                li{
                    span, a{
                        display: inherit !important;
                    }
                }
            }
        }
    }

}
.fr-element {
    a.ssb-element-button,a.btn-link {
        display: inline-block;
    }
}
