.text-only-v1 {
	@media (max-width: 720px) {
        
        .word-break {
            span, a{
                display: inline-block;
            }
            ul{
                li{
                    span, a{
                        display: inherit !important;
                    }
                }
            }
        }
    }

}// for editor
.fr-element {
    a.ssb-element-button,a.btn-link {
        display: inline-block;
    }
} 
.fr-view span.fr-emoticon,.fr-view span.fr-emoticon>span.ssb-bg-color-inline-block{
     display: table-cell;
     font-family: unset;
  }
