<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">RECIPIENTS</h1>
            <span ng-if="vm.state.recipients" class="mainDescription"><widget-header-label count="{{vm.state.totalRecipients}}" item="recipient"></widget-header-label>. <span ng-if="vm.showFilteredRecords()"> ({{vm.state.totalFilteredRecipients || 0 | number : 0}} in filtered view)</span></span>
        </div>
    </div>
</section>


<div ng-init="tableView='list'" class="server-side-pagination-container">
    <div st-table="vm.displayedContacts" st-safe-src="vm.state.recipients" >
        <div class="container-fluid container-fullw bg-white padding-top-0 padding-bottom-0 margin-bottom-15">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-transparent row margin-bottom-0">
                        <div class="panel-body">
                            <form role="form" class="ng-pristine ng-valid row">
                                <div class="hidden-xs">
                                    <div class="col-xs-12 col-sm-6 padding-left-0">
                                        <div class="form-group">
                                            <div class="col-xs-8 col-sm-6 padding-right-0">
                                                <span class="input-icon">
                                                    <input type="text" ng-model="vm.uiState.globalSearch" ng-model-options="{ debounce: 800 }" placeholder="Search by email, subject..." id="form-field-14" class="form-control">
                                                    <i class="ti-search"></i>
                                                </span>
                                            </div>
                                            <div class="col-xs-4 col-sm-3 padding-left-5 padding-right-5">
                                                <button type="button" class="btn btn-o btn-info btn-wide btn-scroll btn-scroll-top ti-filter ng-click-active pull-left" ng-click="vm.showFilter()">
                                                    <span>Filter</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="visible-xs margin-bottom-15 clearfix"></div>
                                    <div class="form-group col-xs-12 col-sm-6 row margin-bottom-0 padding-right-30 pull-right">
                                        <button type="button" class="btn btn-o btn-wide btn-info btn-scroll btn-scroll-top ti ti-export ng-click-active pull-right" ng-click="vm.downloadReport()">
                                            <span>Export</span>
                                        </button>
                                        <div class="form-group">
                                            <div class="btn-group tableView">
                                                <button class="btn btn-info" ng-class="{'active': tableView == 'list'}" href="" ng-click="tableView = 'list'" tooltip-placement="top" tooltip="List"> <span class="fa fa-th-list"></span> </button>
                                                <button class="btn btn-info" ng-class="{'active': tableView == 'grid'}" href="" ng-click="tableView = 'grid'" tooltip-placement="top" tooltip="Grid"> <span class="fa fa-th"></span> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="visible-xs">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="col-xs-7">
                                                <span class="input-icon">
                                            <input type="text" st-search placeholder="Search by list, vendor, sku..." id="form-field-14" class="form-control">
                                            <i class="ti-search"></i>
                                        </span>
                                            </div>
                                            <div class="col-xs-5">
                                                <button type="button" class="btn btn-o btn-info btn-wide btn-scroll btn-scroll-top ti-filter ng-click-active pull-right" ng-click="vm.showFilter()">
                                                    <span>Filter</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-xs-12 padding-top-10">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <div class="btn-group pull-left">
                                                    <button class="btn btn-info" ng-class="{'active': tableView == 'list'}" href="" ng-click="tableView = 'list'" tooltip-placement="top" tooltip="List"> <span class="fa fa-th-list"></span> </button>
                                                    <button class="btn btn-info" ng-class="{'active': tableView == 'grid'}" href="" ng-click="tableView = 'grid'" tooltip-placement="top" tooltip="Grid"> <span class="fa fa-th"></span> </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <button type="button" class="btn btn-o btn-wide btn-info btn-scroll btn-scroll-top ti ti-export ng-click-active pull-right" ng-click="vm.downloadReport()">
                                                <span>Export</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-hover table-striped" ng-class="{'grid': tableView == 'grid', 'bg-white table-list-view': tableView == 'list'}" ng-if="!vm.uiState.loading">
            <thead ng-class="{'bg-white': tableView == 'grid'}">
                <tr>
                    <th class="sort" ng-class="{'st-sort-ascent': vm.sortData.details['contactId'].direction === 1, 'st-sort-descent': vm.sortData.details['contactId'].direction === -1}" ng-click="vm.sortCampaignRecipientList('contactId', 'contactId')">ID</th>
                    <th class="sort" ng-class="{'st-sort-ascent': vm.sortData.details['contactFirstName'].direction === 1, 'st-sort-descent': vm.sortData.details['contactFirstName'].direction === -1}" ng-click="vm.sortCampaignRecipientList('_contactFirstName', 'contactFirstName')">First</th>
                    <th class="sort" ng-class="{'st-sort-ascent': vm.sortData.details['contactLastName'].direction === 1, 'st-sort-descent': vm.sortData.details['contactLastName'].direction === -1}" ng-click="vm.sortCampaignRecipientList('_contactLastName', 'contactLastName')">Last</th>
                    <th class="sort" ng-class="{'st-sort-ascent': vm.sortData.details['receiver'].direction === 1, 'st-sort-descent': vm.sortData.details['receiver'].direction === -1}" ng-click="vm.sortCampaignRecipientList('receiver', 'receiver')">Recipient</th>
                    <th class="sort" ng-class="{'st-sort-ascent': vm.sortData.details['deliveredDate'].direction === 1, 'st-sort-descent': vm.sortData.details['deliveredDate'].direction === -1}" ng-click="vm.sortCampaignRecipientList('deliveredDate', 'deliveredDate')">Delivered</th>
                    <th class="sort" ng-class="{'st-sort-ascent': vm.sortData.details['openedDate'].direction === 1, 'st-sort-descent': vm.sortData.details['openedDate'].direction === -1}" ng-click="vm.sortCampaignRecipientList('openedDate', 'openedDate')">Opened</th>
                    <th class="sort" ng-class="{'st-sort-ascent': vm.sortData.details['clickedDate'].direction === 1, 'st-sort-descent': vm.sortData.details['clickedDate'].direction === -1}" ng-click="vm.sortCampaignRecipientList('clickedDate', 'clickedDate')">Clicked</th>
                    <th class="sort" ng-class="{'st-sort-ascent': vm.sortData.details['unsubscribedDate'].direction === 1, 'st-sort-descent': vm.sortData.details['unsubscribedDate'].direction === -1}" ng-click="vm.sortCampaignRecipientList('unsubscribedDate', 'unsubscribedDate')">Unsubscribed</th>
                </tr>
                <tr ng-if="vm.uiState.showFilter">
                    <th class="">
                        <input ng-model="vm.uiState.fieldSearch.contactId" ng-model-options="{ debounce: 800 }" placeholder="Contact Id" class="form-control" type="search" size="9" />
                    </th>
                    <th class="">
                        <input ng-model="vm.uiState.fieldSearch.contactFirstName" ng-model-options="{ debounce: 800 }" placeholder="First Name" class="form-control" type="search" size="9" />
                    </th>
                    <th class="">
                        <input ng-model="vm.uiState.fieldSearch.contactLastName" ng-model-options="{ debounce: 800 }" placeholder="Last Name" class="form-control" type="search" size="9" />
                    </th>
                    <th class="">
                        <input ng-model="vm.uiState.fieldSearch.receiver" ng-model-options="{ debounce: 800 }" placeholder="Recipient" class="form-control" type="search" size="9" />
                    </th>
                    <th class="">
                        <select ng-model="vm.uiState.fieldSearch.deliveredDate" class="form-control" ng-options="options.value as options.label for options in vm.booleanSearchOptions">
                            <option value=""></option>
                        </select>
                    </th>
                    <th class="">
                        <select ng-model="vm.uiState.fieldSearch.openedDate" class="form-control" ng-options="options.value as options.label for options in vm.booleanSearchOptions">
                            <option value=""></option>
                        </select>
                    </th>
                    <th class="">
                        <select ng-model="vm.uiState.fieldSearch.clickedDate" class="form-control" ng-options="options.value as options.label for options in vm.booleanSearchOptions">
                            <option value=""></option>
                        </select>
                    </th>
                    <th class="">
                        <select ng-model="vm.uiState.fieldSearch.unsubscribedDate" class="form-control" ng-options="options.value as options.label for options in vm.booleanSearchOptions">
                            <option value=""></option>
                        </select>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="recipient in vm.state.recipients" class="product-item">
                    <td class=""><strong>ID: </strong>{{recipient.contactId}}</td>
                    <td class=""><strong>First: </strong>{{recipient.contactFirstName}}</td>
                    <td class=""><strong>Last: </strong>{{recipient.contactLastName}}</td>
                    <td class=""><strong>Recipient: </strong><a href="javascript:void(0)" ng-click="vm.viewSingleContact(recipient)">{{recipient.receiver}}</a></td>
                    <td class=""><strong>Delivered: </strong>{{recipient.deliveredDate | date:'MMM d, yyyy h:mm a' || false}}</td>
                    <td class=""><strong>Opened: </strong>{{recipient.openedDate | date:'MMM d, yyyy h:mm a' || false}}</td>
                    <td class=""><strong>Clicked: </strong>{{recipient.clickedDate | date:'MMM d, yyyy h:mm a' || false}}</td>
                    <td class=""><strong>Unsubscribed: </strong>{{recipient.unsubscribedDate | date:'MMM d, yyyy h:mm a' || false}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10" class="center" ng-if="vm.state.totalFilteredRecipients">
                        <nav ng-if="vm.numberOfPages() && vm.pages.length >= 2">
                            <ul class="pagination">
                                <li ng-repeat="page in vm.pages" ng-class="{active: page == vm.uiState.curPage}">
                                    <a ng-click="vm.selectPage(page)" class="ng-binding">{{page}}</a>
                                </li>
                            </ul>
                        </nav>
                    </td>
                    <td ng-if="!vm.state.totalFilteredRecipients" colspan="6" class="center height-100">
                        <h4>There are currently no recipients</h4>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="load1 csspinner height-400" ng-show="vm.uiState.loading"></div>
    </div>
    <div class="custom-paging-overlay center recipient-list-loading-overlay" ng-if="vm.uiState.pageLoading">
        <h1>loading...</h1>
    </div>
</div>


