<div id="top" class="jumbotron">
    <div class="fus-bg"></div>
    <div class="fus-overlay"></div>
    <div class="col-md-12 pscontainer">
        <div class="fus-pitch">
            <div class="fus-call-to-action">

                <h1>Create Email Video Courses Today</h1>

                <h2>Combine video and scheduled email to bend time and launch compelling content to your customers</h2>

                <div class="fus-btns">
                    <a href="#feature" class="scrollto btn fus-btn-white">Learn More Now</a>
                    <a href="" ng-click="global.showSignupButtonsModal()" class="btn btn-primary">Sign Up Free</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="feature" class="fus-section fus-feature fus-white-bg">
    <div class="col-md-12 pscontainer">
        <div class="fus-section-header">
            <h3>A Hand Full of Easy Steps</h3>
            <h4>Develop and sell video courses with integrated email autoresponders in minutes.</h4>
        </div>

        <ul class="nav nav-tabs fus-tabs">
            <li class="feature"><a ng-click="selectFeature(1)" data-toggle="tab"><span
                    class="glyphicon glyphicon-search"></span> <span
                    class="fus-subtitle">Search</span></a></li>
            <li class="feature"><a ng-click="selectFeature(2)" data-toggle="tab"><span
                    class="glyphicon glyphicon-move"></span> <span
                    class="fus-subtitle">Drag & Drop</span></a></li>
            <li class="feature"><a ng-click="selectFeature(3)" data-toggle="tab"><span
                    class="glyphicon glyphicon-eye-open"></span> <span
                    class="fus-subtitle">Edit</span></a></li>
            <li class="feature"><a ng-click="selectFeature(4)" data-toggle="tab"><span
                    class="glyphicon glyphicon-ok-circle"></span> <span
                    class="fus-subtitle">Publish</span></a></li>
            <li class="feature"><a ng-click="selectFeature(5)" data-toggle="tab"><span
                    class="glyphicon glyphicon-usd"></span> <span
                    class="fus-subtitle">Sell</span></a></li>
        </ul>
        <div class="border"></div>
        <div class="tab-content fus-tab-content">
            <div class="tab-pane" id="feature1" ng-class="{'active':selectedFeature==1}">
                <div class="row">
                    <div class="col-md-6 fus-photo">
                        <a class="animated bounceInLeft" href="#" target="_blank">
                            <img src="/pipeshift/img/macbook.png" alt="Placeholder of Your Feature">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="fus-tab-center animated fadeIn">
                            <div class="fus-header">
                                <h3>Simple Video Search</h3>
                                <h4>Support for YouTube with Vimeo, Wistia and others on the way.</h4>
                            </div>
                            <p>More than 1 billion unique users visit YouTube each month and they watch over 6 billion
                                hours of video. That's almost an hour for every person on Earth!</p>

                            <p>With 100s of hours of new video uploaded to YouTube every minute, one of the best ways to
                                create value today is to curate this content and keep attention focused on a consistant
                                message over time.</p>

                            <p>According to Nielsen, YouTube reaches more US adults ages 18-34 than any cable network
                                and millions of new subscriptions happen each day so this opportunity is likely expand
                                in the coming years.</p>
                            <a href="" ng-click="global.showSignupButtonsModal()" class="btn btn-lg">Sign Up Free</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="feature2" ng-class="{'active':selectedFeature==2}">
                <div class="row">
                    <div class="col-md-6">
                        <div class="fus-tab-center animated fadeIn">
                            <div class="fus-header">
                                <h3>Drag & Drop Timeline</h3>
                                <h4>Scheduling automated emails has never been this easy.</h4>
                            </div>
                            <p>Automated email responders are nothing new. MailChimp, AWeber, Constant Contact and
                                others provide funtionality that allows you to build lists and automate the delivery of
                                email.</p>

                            <p>While incredibly powerful, these products offer an incomplete solution when it comes to
                                development of video email courses and still challenging to use and expensive to get
                                started with.</p>

                            <p>The simple drag and drop capabilites of PipeShift make it incredibly easy to get
                                started.</p>
                            <a href="" ng-click="global.showSignupButtonsModal()" class="btn btn-lg">Sign Up Free</a>
                        </div>
                    </div>
                    <div class="col-md-6 fus-photo">
                        <a class="animated bounceInRight" href="#" target="_blank">
                            <img src="/pipeshift/img/macbook.png" alt="Placeholder of Your Feature">
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="feature3" ng-class="{'active':selectedFeature==3}">
                <div class="row">
                    <div class="col-md-6 fus-photo">
                        <a class="animated bounceInLeft" href="#" target="_blank">
                            <img src="/pipeshift/img/macbook.png" alt="Placeholder of Your Feature">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="fus-tab-center animated fadeIn">
                            <div class="fus-header">
                                <h3>Inline Template Editing</h3>
                                <h4>Get up to speed quickly with conversion tested templates.</h4>
                            </div>
                            <p>What you see is what you get or WYSIWYG editing on the web has been available for years
                                in sucessful open source projects like WordPress, but it still requires that you edit
                                your template and email content in one window or tab and then preview it in another.</p>

                            <p>PipeShift further streamlines the content editing process by allowing you to edit your
                                content directly on the templates.</p>
                            <a href="" ng-click="global.showSignupButtonsModal()" class="btn btn-lg">Sign Up Free</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="feature4" ng-class="{'active':selectedFeature==4}">
                <div class="row">
                    <div class="col-md-6">
                        <div class="fus-tab-center animated fadeIn">
                            <div class="fus-header">
                                <h3>Instant Publishing Options</h3>
                                <h4>Courses are online instantly with support for your own custom URLs</h4>
                            </div>
                            <p>Top internet marketers have teams of developers at their disposal to port their courses
                                to web and make sure that they stay online.</p>

                            <p>With PipeShift, your content is online and ready to share with your customers with the
                                push of a button. From there, you can make it easy to find with support for customer
                                URLS and additional publishing options like push to Facebook, Wordpress or even your own
                                servers currently in development.</p>
                            <a href="" ng-click="global.showSignupButtonsModal()" class="btn btn-lg">Sign Up Free</a>
                        </div>
                    </div>
                    <div class="col-md-6 fus-photo">
                        <a class="animated bounceInRight" href="#" target="_blank">
                            <img src="/pipeshift/img/macbook.png" alt="Placeholder of Your Feature">
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="feature5" ng-class="{'active':selectedFeature==5}">
                <div class="row">
                    <div class="col-md-6 fus-photo">
                        <a class="animated bounceInLeft" href="#" target="_blank">
                            <img src="/pipeshift/img/macbook.png" alt="Placeholder of Your Feature">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="fus-tab-center animated fadeIn">
                            <div class="fus-header">
                                <h3>Sales Straight to Your Account</h3>
                                <h4>Instant integration with Stipe for easy credit card sales.</h4>
                            </div>
                            <p>Lots of options exist for you to pushlish your courses today. YouTube makes it easy for
                                you to create Chanels and Subscriptions and you might even make a litte money from ads
                                or publishing netwroks.</p>

                            <p>Using PipeShift empoweres you to take a drastically different apporach to publishing your
                                courses that gives you full controll and direct access to the your sales revenue.</p>
                            <a href="" ng-click="global.showSignupButtonsModal()" class="btn btn-lg">Sign Up Free</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="pricing" class="fus-section fus-pricing">
    <div class="fus-overlay"></div>
    <div class="col-md-12 pscontainer">
        <div class="fus-section-header">
            <h3>PRICING</h3>
            <h4>Early adopter pricing for life - No questions 15 day money back guarantee - Cancel any time</h4>
        </div>
        <div class="row fus-pricing-table">
            <div class="col-md-4 fus-notfocus">
                <ul class="media-list pull-right">
                    <li class="fus-list-header">
                        <h5>Free Forever Subscription</h5>

                        <p>$0/
                            <small>Ever</small>
                        </p>
                    </li>
                    <li class="media border-bottom">
                        <!--a class="pull-left" href="#">
                          <span class="glyphicon glyphicon-ok media-object"></span>
                        </a-->
                        <div class="media-body">
                            <h4 class="media-heading">Get Started</h4>

                            <p class="media-text">Limited theme selection</p>

                            <p class="media-text">PipeShift watermark</p>

                            <p class="media-text">Premium course sales not supported</p>

                            <p class="media-text">No early adopter price guarantee</p>
                        </div>
                    </li>
                    <!--li class="media border-bottom">
                      <a class="pull-left" href="#">
                        <span class="glyphicon glyphicon-ok media-object"></span>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p class="media-text">Lorem ipsum dolor sit amet, consec tetur adipisicing elit</p>
                      </div>
                    </li>
                    <li class="media border-bottom">
                      <a class="pull-left" href="#">
                        <span class="glyphicon glyphicon-ok media-object"></span>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p class="media-text">Lorem ipsum dolor sit amet, consec tetur adipisicing elit</p>
                      </div>
                    </li>
                    <li class="media">
                      <a class="pull-left" href="#">
                        <span class="glyphicon glyphicon-ok media-object"></span>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p class="media-text">Lorem ipsum dolor sit amet, consec tetur adipisicing elit</p>
                      </div>
                    </li-->
                    <li class="media">
                        <a href="#" ng-click="global.showSignupButtonsModal()" class="btn btn-primary btn-lg btn-block">Sign
                            Up Free</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 fus-focus">
                <ul class="media-list">
                    <li class="fus-list-header">
                        <h5>Pro Monthly Subscription</h5>

                        <p>$27/
                            <small>month</small>
                        </p>
                    </li>
                    <li class="media border-bottom">
                        <!--a class="pull-left" href="#">
                          <span class="glyphicon glyphicon-ok media-object"></span>
                        </a-->
                        <div class="media-body">
                            <h4 class="media-heading">For Beginners</h4>

                            <p class="media-text">Recurring subscription billed monthly</p>

                            <p class="media-text">Fully functional professional account</p>

                            <p class="media-text">Early adopter price never increases</p>

                            <p class="media-text">Cancel any time - 30 days risk free</p>
                        </div>
                    </li>
                    <!--li class="media border-bottom">
                      <a class="pull-left" href="#">
                        <span class="glyphicon glyphicon-ok media-object"></span>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p class="media-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                      </div>
                    </li>
                    <li class="media border-bottom">
                      <a class="pull-left" href="#">
                        <span class="glyphicon glyphicon-ok media-object"></span>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p class="media-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                      </div>
                    </li>
                    <li class="media">
                      <a class="pull-left" href="#">
                        <span class="glyphicon glyphicon-ok media-object"></span>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p class="media-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                      </div>
                    </li-->
                    <li class="media">
                        <a href="#" ng-click="global.showSignupButtonsModal()" class="btn btn-primary btn-lg btn-block">Sign
                            Up Free</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 fus-notfocus">
                <ul class="media-list">
                    <li class="fus-list-header">
                        <h5>Pro Annual Subscription</h5>

                        <p>$270/
                            <small>yearly</small>
                        </p>
                    </li>
                    <li class="media border-bottom">
                        <!--a class="pull-left" href="#">
                          <span class="glyphicon glyphicon-ok media-object"></span>
                        </a-->
                        <div class="media-body">
                            <h4 class="media-heading">Best Value</h4>

                            <p class="media-text">Recurring subscription billed monthly</p>

                            <p class="media-text">Fully functional professional account</p>

                            <p class="media-text">Early adopter price never increases</p>

                            <p class="media-text">Cancel any time - 30 days risk free</p>
                        </div>
                    </li>
                    <!--li class="media border-bottom">
                      <a class="pull-left" href="#">
                        <span class="glyphicon glyphicon-ok media-object"></span>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p class="media-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                      </div>
                    </li>
                    <li class="media border-bottom">
                      <a class="pull-left" href="#">
                        <span class="glyphicon glyphicon-ok media-object"></span>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p class="media-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                      </div>
                    </li>
                    <li class="media">
                      <a class="pull-left" href="#">
                        <span class="glyphicon glyphicon-ok media-object"></span>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p class="media-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                      </div>
                    </li-->
                    <li class="media">
                        <a href="#" ng-click="global.showSignupButtonsModal()" class="btn btn-primary btn-lg btn-block">Sign
                            Up Free</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

