<div>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
<td align="center"
    style="margin: 0; background:#d6d6d6 url('/pipeshift/img/smart-blog/landing/bkg.jpg');display: block"
    ng-style="{'min-height':minHeight+'px'}">
<div style="height:130px"></div>
<!--<img src="/pipeshift/img/smart-blog/landing/logo123.png" alt="logo" width="350" height="130" border="0"-->
<!--style="padding: 15px;margin-bottom: 30px;"/>-->
<table cellpadding="0" cellspacing="0" border="0" align="center" width="800"
       style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color: #6f6f6f;margin-bottom: 30px;background-color:#fbfbfb;"
       bgcolor="#fbfbfb">
<tr>
    <td data-top1="150" data-top2="20" data-margin="0" class="share42init">
                        <span id="share42"
                              style="position: fixed;z-index: 9999;margin-left: 800px;float: right;background: #f7f7f7;padding: 20px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;box-shadow: inset 1px 0px 3px gray;">
                            <span class="share42-item"
                                  style="display:block;white-space:no-wrap;margin:0 0 6px;height:24px;">
                                <a rel="nofollow"
                                   style="display:inline-block;vertical-align:top;width:24px;height:24px;margin:0;padding:0;outline:none;background:url(http://www.videoautoresponder.com/share42/icons.png) -0px 0 no-repeat"
                                   href="#" data-count="fb"
                                   ng-click="share('http://www.facebook.com/sharer.php?m2w&amp;s=100&amp;p[url]=')"
                                   title="Share on Facebook" target="_blank"></a>
                            </span>
                            <span class="share42-item"
                                  style="display:block;white-space:no-wrap;margin:0 0 6px;height:24px;">
                                <a rel="nofollow"
                                   style="display:inline-block;vertical-align:top;width:24px;height:24px;margin:0;padding:0;outline:none;background:url(http://www.videoautoresponder.com/share42/icons.png) -24px 0 no-repeat"
                                   href="#" data-count="gplus"
                                   ng-click="share('https://plus.google.com/share?url=')"
                                   title="Share on Google+" target="_blank"></a>
                            </span>
                            <span class="share42-item"
                                  style="display:block;white-space:no-wrap;margin:0 0 6px;height:24px;">
                                <a rel="nofollow"
                                   style="display:inline-block;vertical-align:top;width:24px;height:24px;margin:0;padding:0;outline:none;background:url(http://www.videoautoresponder.com/share42/icons.png) -48px 0 no-repeat"
                                   href="#" data-count="twi"
                                   ng-click="share('https://twitter.com/intent/tweet?text=&amp;url=')"
                                   title="Share on Twitter" target="_blank"></a>
                            </span>
                        </span>
    </td>
</tr>
<tr>
    <td style="border-bottom: 2px solid #ececec;" height="75" align="center">
        <h1 style="color: #218537; font-size: 21px; text-shadow: 1px 1px 1px #e7e7e7;margin: 0; padding: 0; line-height: 33px;"
            e-style="width:440px" ps-editable="course.title" ps-editable-type="text"
            edit-mode="editMode">
            {{course.title}}</h1>
    </td>
</tr>
<!--<tr ng-hide="isLoggedInAndSubscribed">-->
<!--<td style="border-bottom: 2px solid #ececec;padding:30px">-->
<!--<table cellpadding="0" cellspacing="0" border="0" align="center"-->
<!--style="width:50%;float:left;">-->
<!--<tr>-->
<!--<td>-->
<!--<img src="/pipeshift/img/smart-blog/landing/about123.jpg" style="width: 100%;"/>-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->
<!--<table cellpadding="0" cellspacing="0" border="0" align="center"-->
<!--style="width:50%;float:left;">-->
<!--<tr>-->
<!--<td style="padding:0 0 0 30px;text-shadow: 1px 1px 1px white;">-->
<!--<p>I'm the crash test dummy of online business, sharing what works (and what-->
<!--doesn't) so you know exactly how to build your business better.</p>-->
<!--<ul style="margin-top: 10px;padding-left: 40px;color: #777777;text-shadow: 1px 1px 1px white;font-size: 23px;">-->
<!--<li>Feature One</li>-->
<!--<li>Feature Two</li>-->
<!--<li>Feature Three</li>-->
<!--<li>Feature Four</li>-->
<!--</ul>-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->
<!--</p>-->
<!--</td>-->
<!--</tr>-->
<tr ng-hide="isLoggedInAndSubscribed">
    <td height="110" align="center">
        <h4 e-style="width:440px" ps-editable="course.body" ps-editable-type="textarea"
            edit-mode="editMode">{{course.body}}</h4>
    </td>
</tr>
<tr ng-hide="isLoggedInAndSubscribed">
    <td bgcolor="#f7f7f7">
        <h3 style="text-align:center;margin-bottom:30px;">Check out the Preview</h3>
        <a href="*|LINK|*" video-player="" course-details="courseDetails" video="video" ng-hide="standalone">
            <img src="/pipeshift/img/smart-blog/landing/temp-video-holder.jpg"
                 style="max-width: 520px;margin: 0 auto;display: block;width: 100%;">
        </a>
        <table width="520" cellpadding="0" cellspacing="0" border="0" align="center"
               bgcolor="#f7f7f7" style="font-size: 13px;margin: 30px auto;">
            <tbody>
            <tr>
                <td valign="top" width="180" ng-show="course.videos.length>0" class="">
                    <p>
                        <img ng-src="{{course.videos[0].videoPreviewUrl}}" width="160"
                             border="0">
                    </p>

                    <p class="overlay"
                       style="height: 90px;background: rgba(0,0,0,0.5);width: 160px;position: absolute;margin-top: -100px;">
                                            <span class="fa fa-lock"
                                                  style="color: white;font-size: 39px;text-align: center;width: 100%;line-height: 100px;"></span>
                    </p>
                    <h4 style="color:#326c94;">
                        <video-title width="160px" video="course.videos[0]"
                                     class="ng-isolate-scope">
                        </video-title>
                    </h4>
                    <p style="color:#444444;text-shadow: 1px 1px 1px white; padding-right: 12px;">Video
                        1: {{course.videos[0].videoTitle |
                        limitTo:50}}</p>
                </td>
                <td valign="top" width="180" ng-show="course.videos.length>1" class="">
                    <p>
                        <img ng-src="{{course.videos[1].videoPreviewUrl}}" width="160"
                             border="0">
                    </p>

                    <p class="overlay"
                       style="height: 90px;background: rgba(0,0,0,0.5);width: 160px;position: absolute;margin-top: -100px;">
                                            <span class="fa fa-lock"
                                                  style="color: white;font-size: 39px;text-align: center;width: 100%;line-height: 100px;"></span>
                    </p>
                    <h4 style="color:#326c94;">
                        <video-title width="160px" video="course.videos[1]"
                                     class="ng-isolate-scope">
                        </video-title>
                    </h4>

                    <p style="color:#444444;text-shadow: 1px 1px 1px white; padding-right: 12px;">Video
                        2: {{course.videos[1].videoTitle |
                        limitTo:50}}</p>
                </td>
                <td valign="top" width="160px" ng-show="course.videos.length>2" class="">
                    <p>
                        <img ng-src="{{course.videos[2].videoPreviewUrl}}" width="160"
                             border="0">
                    </p>

                    <p class="overlay"
                       style="height: 90px;background: rgba(0,0,0,0.5);width: 160px;position: absolute;margin-top: -100px;">
                                            <span class="fa fa-lock"
                                                  style="color: white;font-size: 39px;text-align: center;width: 100%;line-height: 100px;"></span>
                    </p>
                    <h4 style="color:#326c94;">
                        <video-title width="160px" video="course.videos[2]"
                                     class="ng-isolate-scope">
                        </video-title>
                    </h4>
                    <p style="color:#444444;text-shadow: 1px 1px 1px white; padding-right: 12px;">Video
                        3: {{course.videos[2].videoTitle |
                        limitTo:50}}</p>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr ng-hide="isLoggedInAndSubscribed">
    <td id="videoPlayerContainer" bgcolor="#f7f7f7">
        <div video-player video="selectedVideo" courseDetails="course"></div>
    </td>
</tr>
<tr ng-show="isLoggedInAndSubscribed">
    <td class="video-carousel-container" bgcolor="#f7f7f7"
        style="padding: 35px 0; border-bottom: 2px dotted #bfbfbf;">
        <div style="width: 560px; margin: auto;">
            <ul style="font-size: 13px;"
                bgcolor="#f7f7f7" rn-carousel rn-carousel-control="true" rn-carousel-swipe="false">
                <li style="display: inline-block; width: 560px; cursor: pointer; white-space: nowrap"
                    ng-repeat="pageData in carouselData">
                    <div ng-repeat="video in pageData" style="max-width: 180px;float: left;padding: 15px;"
                         ng-click="selectVideo(video)">
                        <p><img ng-src="{{video.videoPreviewUrl}}"
                                width="160" border="0"/>
                        </p>
                        <h4 style="color:#326c94;">
                            <video-title width="160px" video="video" style=></video-title>
                        </h4>

                        <p style="color:#6c6c6c; padding-right: 12px;white-space: normal">
                            {{video.videoTitle}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </td>
</tr>
<tr ng-if="isLoggedInAndSubscribed">
    <td bgcolor="#f7f7f7" style="padding: 20px 0;" align="center">
        <div class="fb-comments" data-href="http://www.videoautoresponder.com/course/{{course.subdomain}}"
             data-numposts="5" data-colorscheme="light"></div>
    </td>
</tr>
<tr ng-hide="isLoggedInAndSubscribed">
    <td align="center" bgcolor="#f7f7f7">
        <button class="btn btn-block btn-primary" ng-click="showCourseSubscribeModal()"
                style="max-width: 360px;padding: 15px 0;font-size: 28px;text-transform: uppercase;text-shadow: 1px 1px 1px rgba(0,0,0,0.5);background: #218537;border-bottom: 4px solid #126421;box-shadow: 2px 3px 9px rgba(0,0,0,0.4);margin: 30px 0;">
            Sign Up
        </button>
    </td>
</tr>
<tr>
    <td bgcolor="#f7f7f7">
        <table width="600" cellpadding="0" cellspacing="0" border="0"
               style="font-size: 11px;margin: 0 auto 20px;padding: 10px 0;">
            <tr>
                <td align="center">
                    <p style="color:#8C8C8C;">2014 Indigenous IO.
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</td>
<td height="40"></td>
</tr>
</table>
</div>