<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td align="center" bgcolor="#d6d6d6" style="margin: 0; background-image:url('/img/bkg.png');">
            <table cellpadding="0" cellspacing="0" border="0" align="center" width="600"
                   style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color: #6f6f6f;">
                <tr>
                    <td height="30"></td>
                </tr>
                <tr>
                    <td height="6">
                        <img src="/img/ribbon.jpg" alt="ribbon" width="600" height="6" border="0"/>
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: 2px dotted #bfbfbf; background: #f7f7f7;" bgcolor="#f7f7f7" height="75"
                        align="center">
                        <h1 style="color: #000000; font: normal 33px Georgia, serif; margin: 0; padding: 0; line-height: 33px;"><video-title video="video" max-length="25"></video-title> </h1>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="f7f7f7" align="center">
                        <h2 style="padding-top:20px; padding-bottom:5px; font-weight:200; color: #434343;">{{video.title}}</h2>
                    </td>
                </tr>
                <tr>
                    <td width="600" bgcolor="f7f7f7" style="padding-left:40px; padding-right:40px;">
                        <p style="font-size: 14px; color: #646464; line-height: 20px;">{{video.content}}</p>
                    </td>
                </tr>
                <tr>
                    <td height="20" bgcolor="f7f7f7"></td>
                </tr>
                <tr>
                    <td bgcolor="#f7f7f7" style="padding: 20px 0; border-top: 2px dotted #bfbfbf; background: #f7f7f7;">
                        <table width="150" cellpadding="0" cellspacing="0" border="0" align="center">
                            <tr>
                                <td width="40" valign="top" align="left"><a href=""><img src="/img/facebook_btn.png"
                                                                                         alt="Facebook" width="40"
                                                                                         height="40" border="0"/></a>
                                </td>
                                <td width="40" valign="top" align="left"><a href=""><img src="/img/rss_btn.png"
                                                                                         alt="RSS" width="40"
                                                                                         height="40" border="0"/></a>
                                </td>
                                <td width="40" valign="top" align="left"><a href=""><img src="/img/twitter_btn.png"
                                                                                         alt="Twitter" width="40"
                                                                                         height="40" border="0"/></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="24">
                        <img src="/img/bottom.jpg" alt="bottom" width="600" height="24" border="0"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="600" cellpadding="0" cellspacing="0" border="0" style="font-size: 11px;">
                            <tr>
                                <td align="left"><p style="color:#8C8C8C;">Does this email look funky? <a href="#"
                                                                                                          style="color:#8C8C8C;">View
                                    it in your browser</a></p></td>
                                <td align="right"><p style="color:#8C8C8C;">Indigenous LLC. All Rights
                                    Reserved.</p></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="40"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
