option_settings:
  - option_name: NODE_ENV
    value: production
  - option_name: PORT
    value: 8081
  - option_name: ROOT_HOST
    value: indigenous.io
  - option_name: IS_PROXIED
    value: true
  - option_name: MONGO_CONNECT
    value: mongodb://indiweb:anime1@kahana.mongohq.com:10077/indigenous
