--- 
files: 
  /opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh: 
    content: |-
        #!/bin/bash
        set -xe
        #export HOME=/root
        echo home $HOME
        echo $HOME
        /opt/elasticbeanstalk/containerfiles/ebnode.py --action npm-install
    group: users
    mode: "000775"
    owner: root