--- 
files: 
  /opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh: 
    content: |-
        #!/bin/bash
        set -xe
        export HOME=/home/ec2-user # ADDED EXPORT COMMAND
        echo "export home" # JUST FOR REMARK
        /opt/elasticbeanstalk/containerfiles/ebnode.py --action npm-install
    group: users
    mode: "000775"
    owner: root