files:
  "/etc/nginx/conf.d/00_indigeweb_enduragive_org.conf":
    owner: root
    group: root
    mode: "000644"
    content: |
      server {
        listen 8080;
        server_name .enduragive.org;
        location / {
          set $hostheader $host;
          if ( $host !~* "indigenous.io" ){
            set $hostheader enduragive.indigenous.io;
          }
          proxy_pass $scheme://nodejs;
          proxy_set_header  Host  enduragive.indigenous.io;
        }
      }

  "/etc/nginx/conf.d/00_indigeweb_christmas_com.conf":
    owner: root
    group: root
    mode: "000644"
    content: |
      server {
        listen 8080;
        server_name .christmasintierrasanta.com;
        location / {
          set $hostheader $host;
          if ( $host !~* "indigenous.io" ){
            set $hostheader christmasintierrasanta.indigenous.io;
          }
          proxy_pass $scheme://nodejs;
          proxy_set_header  Host  christmasintierrasanta.indigenous.io;
        }
      }

  "/etc/nginx/conf.d/00_indigeweb_katyameyers_com.conf":
    owner: root
    group: root
    mode: "000644"
    content: |
      server {
        listen 8080;
        server_name .katyameyers.com;
        location / {
          set $hostheader $host;
          if ( $host !~* "indigenous.io" ){
            set $hostheader katyameyers.indigenous.io;
          }
          proxy_pass $scheme://nodejs;
          proxy_set_header  Host  katyameyers.indigenous.io;
        }
      }

  "/etc/nginx/conf.d/00_indigeweb_sdir_us.conf":
    owner: root
    group: root
    mode: "000644"
    content: |
      server {
        listen 8080;
        server_name .sdir.us;
        location / {
          set $hostheader $host;
          if ( $host !~* "indigenous.io" ){
            set $hostheader tkg.indigenous.io;
          }
          proxy_pass $scheme://nodejs;
          proxy_set_header  Host  tkg.indigenous.io;
        }
      }
