---
files:
  /etc/nginx/conf.d/00_indigeweb_100in100_ws.conf:
    content: |
        server {
          listen 8080;
          server_name .100in100.ws;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader 100in100.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  100in100.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_aigtalent_com.conf:
    content: |
        server {
          listen 8080;
          server_name .aigtalent.com;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader alphainsightgroup.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  alphainsightgroup.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_alphainsightgroup_com.conf:
    content: |
        server {
          listen 8080;
          server_name .alphainsightgroup.com;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader alphainsightgroup.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  alphainsightgroup.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_avoidlegallandmines_com.conf:
    content: |
        server {
          listen 8080;
          server_name .avoidlegallandmines.com;
          location / {
            rewrite ^ https://indigenous.io permanent;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_bradfordspeakslife_com.conf:
    content: |
        server {
          listen 8080;
          server_name .bradfordspeakslife.com;
          location / {
              set $hostheader $host;
              proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader bradfordspeakslife.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  bradfordspeakslife.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_bradfordspeakslife_org.conf:
    content: |
        server {
          listen 8080;
          server_name .bradfordspeakslife.org;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader bradfordspeakslife.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  bradfordspeakslife.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_constellationpartners_net.conf:
    content: |
        server {
          listen 8080;
          server_name .constellationpartners.net;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
            if ( $host !~* "indigenous.io" ){
              set $hostheader constellationpartners.indigenous.io;
            }
            proxy_pass $scheme://nodejs;
            proxy_set_header  Host  constellationpartners.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_customerfinanceforcontractors_com.conf:
    content: |
        server {
          listen 8080;
          server_name .customerfinanceforcontractors.com;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader rtfinancialservices.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  rtfinancialservices.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_enduragive_org.conf:
    content: |
        server {
          listen 8080;
          server_name .enduragive.org;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
            if ( $host !~* "indigenous.io" ){
              set $hostheader enduragive.indigenous.io;
            }
            proxy_pass $scheme://nodejs;
            proxy_set_header  Host  enduragive.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_fitstoplab_com.conf:
    content: |
        server {
          listen 8080;
          server_name .fitstop-lab.com;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
            if ( $host !~* "indigenous.io" ){
              set $hostheader fitstop.indigenous.io;
            }
            proxy_pass $scheme://nodejs;
            proxy_set_header  Host  fitstop.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_getn2balance_com.conf:
    content: |
        server {
          listen 8080;
          server_name .getn2balance.com;
          proxy_set_header x-host $host;
          location / {
            set $hostheader $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader getn2balance.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  getn2balance.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_n2balance_com.conf:
    content: |
        server {
          listen 8080;
          server_name .n2balance.com;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader getn2balance.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  getn2balance.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_hottubes_com.conf:
    content: |
        server {
          listen 8080;
          server_name .hottubes.com;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader hottubes.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  hottubes.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_hottubescycling_com.conf:
    content: |
        server {
          listen 8080;
          server_name .hottubescycling.com;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
            if ( $host !~* "indigenous.io" ){
              set $hostheader hottubescycling.indigenous.io;
            }
            proxy_pass $scheme://nodejs;
            proxy_set_header  Host  hottubescycling.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_katyameyers_com.conf:
    content: |
        server {
          listen 8080;
          server_name .katyameyers.com;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
            if ( $host !~* "indigenous.io" ){
              set $hostheader katyameyers.indigenous.io;
            }
            proxy_pass $scheme://nodejs;
            proxy_set_header  Host  katyameyers.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_mdhconsulting_us.conf:
    content: |
        server {
          listen 8080;
          server_name .mdhconsulting.us;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
            if ( $host !~* "indigenous.io" ){
              set $hostheader mdhconsultingllc.indigenous.io;
            }
            proxy_pass $scheme://nodejs;
            proxy_set_header  Host  mdhconsultingllc.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_mysticaltraveladventures_com.conf:
    content: |
        server {
          listen 8080;
          server_name .mysticaltraveladventures.com;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader mysticaltraveladventures.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  mysticaltraveladventures.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_nerdmom_co.conf:
    content: |
        server {
          listen 8080;
          server_name .nerdmom.co;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader heatherandersonmarkell.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  heatherandersonmarkell.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_nighttrain228_indigenous_io.conf:
    content: |
        server {
          listen 8080;
          server_name .nighttrain228.indigenous.io;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader main.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  main.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_nighttrainrun_indigenous_io.conf:
    content: |
        server {
          listen 8080;
          server_name .nighttrainrun.indigenous.io;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader main.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  main.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_orthopedicmotion_com.conf:
    content: |
        server {
          listen 8080;
          server_name .orthopedicmotion.com;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader orthopedicmotioninc_.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  orthopedicmotioninc_.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_promotinghealthylives_com.conf:
    content: |
        server {
          listen 8080;
          server_name .promotinghealthylives.com;
          return 301 $scheme://indigenous.io;
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_redrocketmedia_us.conf:
    content: |
        server {
          listen 8080;
          server_name .redrocketmedia.us;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader redrocket.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  redrocket.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_restorehealthyflow_com.conf:
    content: |
        server {
          listen 8080;
          server_name .restorehealthyflow.com;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader restorehealthyflowmassagetherapy.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  restorehealthyflowmassagetherapy.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_rise_indigneous_io.conf:
    content: |
        server {
          listen 8080;
          server_name rise.indigenous.io;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
            proxy_pass $scheme://nodejs;
            proxy_set_header  Host  indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root

  /etc/nginx/conf.d/00_indigeweb_sipofcolor_com.conf:
    content: |
        server {
          listen 8080;
          server_name .sipofcolor.com;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader sipofcolor.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  sipofcolor.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_smallbusinesschamber_indigneous_io.conf:
    content: |
        server {
          listen 8080;
          server_name smallbusinesschamber.indigenous.io;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
            proxy_pass $scheme://nodejs;
            proxy_set_header  Host  indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_swim24_org.conf:
    content: |
        server {
          listen 8080;
          server_name .swim24.org;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader swim24.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  swim24.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_theloftinflatiron_com.conf:
    content: |
        server {
          listen 8080;
          server_name .theloftinflatiron.com;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader theloftinflatiron.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  theloftinflatiron.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_tierrasantafoundation_org.conf:
    content: |
        server {
          listen 8080;
          server_name .tierrasantafoundation.org;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader tf.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  tf.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_tinroofentertainment_com.conf:
    content: |
        server {
          listen 8080;
          server_name .tinroofentertainment.com;
          location / {
            rewrite ^ http://tinroofmedia.com/tin-roof-entertainment permanent;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_tinroofmedia_com.conf:
    content: |
        server {
          listen 8080;
          server_name .tinroofmedia.com;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader tinroofmedia.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  tinroofmedia.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_unwind_dc_com.conf:
    content: |
        server {
          listen 8080;
          server_name .unwind-dc.com;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader unwindwellness.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  unwindwellness.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_wasatchhorseshows_com.conf:
    content: |
        server {
          listen 8080;
          server_name .wasatchhorseshows.com;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader wasatchhorseshows.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  wasatchhorseshows.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_www_test_io.conf:
      content: |
          server {
            listen 8080;
            server_name www.test.indigenous.io;
            return 301 $scheme://test.indigenous.io$request_uri;
          }
      group: root
      mode: "000644"
      owner: root
  /etc/nginx/conf.d/00_indigeweb_www_io.conf:
        content: |
            server {
              listen 8080;
              server_name www.indigenous.io;
              return 301 $scheme://indigenous.io$request_uri;
            }
        group: root
        mode: "000644"
        owner: root
  /etc/nginx/conf.d/00_indigeweb_bricklanerestaurantdc_com.conf:
    content: |
        server {
          listen 8080;
          server_name .bricklanerestaurantdc.com;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader bricklane.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  bricklane.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_pedroandvinnys_com.conf:
    content: |
        server {
          listen 8080;
          server_name .pedroandvinnys.com;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader pedroandvinnys.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  pedroandvinnys.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_hilltophealing_com.conf:
    content: |
        server {
          listen 8080;
          server_name .hilltophealing.com;
          location / {
            set $hostheader $host;
            proxy_set_header x-host $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader hilltophealing.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  hilltophealing.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_visigistics_com.conf:
      content: |
          server {
            listen 8080;
            server_name .visigistics.com;
            location / {
              set $hostheader $host;
              proxy_set_header x-host $host;
                if ( $host !~* "indigenous.io" ){
                  set $hostheader visigistics.indigenous.io;
                }
                proxy_pass $scheme://nodejs;
                proxy_set_header  Host  visigistics.indigenous.io;
            }
          }
      group: root
      mode: "000644"
      owner: root
  /etc/nginx/conf.d/00_indigeweb_masodc_com.conf:
      content: |
          server {
            listen 8080;
            server_name .masodc.com;
            location / {
              set $hostheader $host;
              proxy_set_header x-host $host;
                if ( $host !~* "indigenous.io" ){
                  set $hostheader masodc.indigenous.io;
                }
                proxy_pass $scheme://nodejs;
                proxy_set_header  Host  masodc.indigenous.io;
            }
          }
      group: root
      mode: "000644"
      owner: root
  /etc/nginx/conf.d/00_indigeweb_unwindwellness_com.conf:
      content: |
          server {
            listen 8080;
            server_name .unwindwellness.com;
            location / {
              set $hostheader $host;
              proxy_set_header x-host $host;
                if ( $host !~* "indigenous.io" ){
                  set $hostheader unwindwellness.indigenous.io;
                }
                proxy_pass $scheme://nodejs;
                proxy_set_header  Host  unwindwellness.indigenous.io;
            }
          }
      group: root
      mode: "000644"
      owner: root
  /etc/nginx/conf.d/00_indigeweb_rbgelectrical_com.conf:
        content: |
            server {
              listen 8080;
              server_name .rbgelectrical.com;
              location / {
                set $hostheader $host;
                proxy_set_header x-host $host;
                  if ( $host !~* "indigenous.io" ){
                    set $hostheader rbgelectrical.indigenous.io;
                  }
                  proxy_pass $scheme://nodejs;
                  proxy_set_header  Host  rbgelectrical.indigenous.io;
              }
            }
        group: root
        mode: "000644"
        owner: root
  /etc/nginx/conf.d/00_indigeweb_betsydc_com.conf:
                content: |
                    server {
                      listen 8080;
                      server_name .betsydc.com;
                      location / {
                        set $hostheader $host;
                        proxy_set_header x-host $host;
                          if ( $host !~* "indigenous.io" ){
                            set $hostheader betsydc.indigenous.io;
                          }
                          proxy_pass $scheme://nodejs;
                          proxy_set_header  Host  betsydc.indigenous.io;
                      }
                    }
                group: root
                mode: "000644"
                owner: root
  /etc/nginx/conf.d/00_indigeweb_cafemozartdc_com.conf:
                  content: |
                      server {
                        listen 8080;
                        server_name .cafemozartdc.com;
                        location / {
                          set $hostheader $host;
                          proxy_set_header x-host $host;
                            if ( $host !~* "indigenous.io" ){
                              set $hostheader cafemozartdc.indigenous.io;
                            }
                            proxy_pass $scheme://nodejs;
                            proxy_set_header  Host  cafemozartdc.indigenous.io;
                        }
                      }
                  group: root
                  mode: "000644"
                  owner: root
  /etc/nginx/conf.d/00_indigeweb_icecreamjubilee_com.conf:
                  content: |
                      server {
                        listen 8080;
                        server_name .icecreamjubilee.com;
                        location / {
                          set $hostheader $host;
                          proxy_set_header x-host $host;
                            if ( $host !~* "indigenous.io" ){
                              set $hostheader icecreamjubilee.indigenous.io;
                            }
                            proxy_pass $scheme://nodejs;
                            proxy_set_header  Host  icecreamjubilee.indigenous.io;
                        }
                      }
                  group: root
                  mode: "000644"
                  owner: root
  /etc/nginx/conf.d/00_indigeweb_dosomethingeachday_com.conf:
    content: |
        server {
          listen 8080;
            server_name dosomethingeachday.indigenous.io;
          location / {
            rewrite ^ https://indigenous.io permanent;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_spoiledkittybox_com.conf:
    content: |
        server {
          listen 8080;
          server_name .spoiledkittybox.com;
          location / {
            rewrite ^ http://monthlygiftbox.club/spoiled-kitty permanent;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_spoiledkitty_club.conf:
    content: |
        server {
          listen 8080;
          server_name .spoiledkitty.club;
          location / {
            rewrite ^ http://monthlygiftbox.club/spoiled-kitty permanent;
          }
        }
  /etc/nginx/conf.d/00_indigeweb_m3massage_com.conf:
    content: |
        server {
          listen 8080;
          server_name .m3massage.com;
          location / {
            rewrite ^ http://www.unwindwellness.com/ permanent;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_dcbetsy_com.conf:
    content: |
        server {
          listen 8080;
          server_name .dcbetsy.com;
          location / {
            rewrite ^ http://www.betsydc.com/ permanent;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_securematics_com.conf:
        content: |
            server {
              listen 8080;
              server_name securematics.com;
              return 301 $scheme://www.securematics.com$request_uri;
            }
        group: root
        mode: "000644"
        owner: root
  /etc/nginx/conf.d/00_securematics_com.conf:
        content: |
            server {
              listen 8080;
              server_name app.securematics.com;
              location = / {
              	return 301 https://app.securematics.com/admin;
              }
              location / {
                set $hostheader $host;
                proxy_set_header x-host $host;
            	if ( $host !~* "securematics.com" ){
            	  set $hostheader app.securematics.com;
            	}
            	proxy_pass $scheme://nodejs;
            	proxy_set_header  Host  app.securematics.com;
              }
            }
            server {
              listen 8080;
              server_name www.app.securematics.com;
              location / {
                return 301 https://app.securematics.com/admin;
              }
            }
        group: root
        mode: "000644"
        owner: root
  /etc/nginx/conf.d/00_olympiarestaurantparkville_com.conf:
    content: |
        server {
          listen 8080;
          server_name .olympiarestaurantparkville.com;
          location / {
            rewrite ^ http://olympiamasala.com/ permanent;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_optivtryandbuy_co.conf:
      content: |
          server {
            listen 8080;
            server_name optiv.tryandbuy.co;
            return 301 $scheme://juniper.tryandbuy.co$request_uri;
          }
      group: root
      mode: "000644"
      owner: root
  /etc/nginx/conf.d/00_indigeweb_junipertryandbuy_co.conf:
      content: |
          server {
            listen 8080;
            server_name juniper.tryandbuy.co;
            location / {
              set $hostheader $host;
                if ( $host !~* "gorvlvr.com" ){
                  set $hostheader juniper.gorvlvr.com;
                }
                if ($http_x_forwarded_proto != 'https') {
                  rewrite ^ https://$host$request_uri? permanent;
                }
                proxy_pass $scheme://nodejs;
                proxy_set_header  Host  juniper.gorvlvr.com;
            }
          }
      group: root
      mode: "000644"
      owner: root
  /etc/nginx/conf.d/00_indigeweb_virtualarmourtryandbuy_co.conf:
      content: |
          server {
            listen 8080;
            server_name virtualarmour.tryandbuy.co;
            return 301 $scheme://juniper.tryandbuy.co$request_uri;
          }
      group: root
      mode: "000644"
      owner: root
  /etc/nginx/conf.d/00_indigeweb_eplustryandbuy_co.conf:
      content: |
          server {
            listen 8080;
            server_name eplus.tryandbuy.co;
            return 301 $scheme://juniper.tryandbuy.co$request_uri;
          }
      group: root
      mode: "000644"
      owner: root
  /etc/nginx/conf.d/00_indigeweb_kudelskitryandbuy_co.conf:
      content: |
          server {
            listen 8080;
            server_name kudelski.tryandbuy.co;
            return 301 $scheme://juniper.tryandbuy.co$request_uri;
          }
      group: root
      mode: "000644"
      owner: root
  /etc/nginx/conf.d/00_indigeweb_integrationpartnerstryandbuy_co.conf:
      content: |
          server {
            listen 8080;
            server_name integrationpartners.tryandbuy.co;
            return 301 $scheme://juniper.tryandbuy.co$request_uri;
          }
      group: root
      mode: "000644"
      owner: root
  /etc/nginx/conf.d/00_indigeweb_structuredtryandbuy_co.conf:
      content: |
          server {
            listen 8080;
            server_name structured.tryandbuy.co;
            return 301 $scheme://juniper.tryandbuy.co$request_uri;
          }
      group: root
      mode: "000644"
      owner: root
  /etc/nginx/conf.d/00_indigeweb_tryandbuy_co.conf:
        content: |
            server {
              listen 8080;
              server_name tryandbuy.co;
              return 301 $scheme://juniper.tryandbuy.co$request_uri;
            }
        group: root
        mode: "000644"
        owner: root
  /etc/nginx/conf.d/00_indigeweb_datectryandbuy_co.conf:
        content: |
            server {
              listen 8080;
              server_name datec.tryandbuy.co;
              return 301 $scheme://juniper.tryandbuy.co$request_uri;
            }
        group: root
        mode: "000644"
        owner: root
  /etc/nginx/conf.d/00_indigeweb_ruckus_securematics_com.conf:
         content: |
             server {
               listen 8080;
               server_name ruckus.securematics.com;
               location / {
                 set $hostheader $host;
                 proxy_set_header x-host $host;
                 if ( $host !~* "gorvlvr.com" ){
                   set $hostheader ruckus.gorvlvr.com;
                 }
                 proxy_pass $scheme://nodejs;
                 proxy_set_header  Host  ruckus.gorvlvr.com;
               }
             }
         group: root
         mode: "000644"
         owner: root
  /etc/nginx/conf.d/00_realjoedesena_com.conf:
        content: |
            server {
              listen 8080;
              server_name realjoedesena.com;
              return 301 $scheme://joedesena.com$request_uri;
            }
        group: root
        mode: "000644"
        owner: root
  /etc/nginx/conf.d/00_indigeweb_sdjgfoundation_org.conf:
      content: |
          server {
            listen 8080;
            server_name .sdjgfoundation.org;
            return 301 $scheme://preventdrowningfoundation.org$request_uri;
          }
      group: root
      mode: "000644"
      owner: root
  /etc/nginx/conf.d/00_indigeweb_don.conf:
      content: |
          server {
            listen 8080;
            server_name .defendersofthenetwork.com;
            location / {
              set $hostheader $host;
              proxy_set_header x-host $host;
                if ( $host !~* "indigenous.io" ){
                  set $hostheader guardiansofthenetwork.gorvlvr.com;
                }
                proxy_pass $scheme://nodejs;
                proxy_set_header  Host  guardiansofthenetwork.gorvlvr.com;
            }
          }
      group: root
      mode: "000644"
      owner: root
