files:
   /etc/nginx/conf.d/01_indigenous_rewrites.conf
    content: |
       server {
         server_name    indigenous.io;
         rewrite ^(.*)   http://main.indigenous.io$1 permanent;
       }
       server {
         server_name     www.indigenous.io;
         rewrite ^(.*)   http://main.indigenous.io$1 permanent;
       }
