files:
  "/tmp/indigeweb_http_to_https_redirect.txt":
    owner: root
    group: root
    mode: "000644"
    content: |
        # REDIRECT HTTP to HTTPS - indigeweb-500
        if ($http_x_forwarded_proto != 'https') {
          rewrite ^ https://$host$request_uri? permanent;
        }
 
container_commands:
  000-setup-nginx:
    command: grep -qi indigeweb-500 /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf && : || sed -ie '/location \/ {/r /tmp/indigeweb_http_to_https_redirect.txt' /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf