files:
  "/tmp/indigeweb_http_to_https_redirect.txt":
    owner: root
    group: root
    mode: "000644"
    content: |
        # REDIRECT HTTP to HTTPS - indigeweb-500
        set $doredirect 0;

        if ($http_x_forwarded_proto != 'https') {
            set $doredirect X;
        }

        if ($host != "launch.indigenous.io") {
            set $doredirect "${$doredirect}X";
        }

        if ($doredirect = 'XX') {
            rewrite ^ https://$host$request_uri? permanent;
        }


  "/tmp/indigeweb_https_redirect.sh":
    owner: root
    group: root
    mode: "000744"
    content: |
      #!/bin/bash
      #
      cfgFile='/tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf'
      envFilter='indigeweb-live-env'
      #
      instanceID=`wget -qO- http://instance-data/latest/meta-data/instance-id`
      region=`wget -qO- http://instance-data/latest/meta-data/placement/availability-zone | sed 's/.$//'`
      aws ec2 describe-tags --region ${region} --filter "Name=resource-id,Values=${instanceID}" --output=text | sed -r 's/TAGS\t(.*)\t.*\t.*\t(.*)/\1="\2"/' | grep -qi "${envFilter}"
      if [ $? -eq 0 ]; then
        # check if pattern matches, if not then add to file
        if ( ! grep -qi indigeweb-500 ${cfgFile} ); then
          sed -ie '/location \/ {/r /tmp/indigeweb_http_to_https_redirect.txt' ${cfgFile}
        fi
      fi
 
container_commands:
  000-setup-nginx:
    command: "/bin/bash /tmp/indigeweb_https_redirect.sh"
