files:
  "/etc/nginx/conf.d/01_indigeweb_rewrites.conf":
    owner: root
    group: root
    mode: "000644"
    content: |
       server { 
           listen 8080; 
           server_name xxx.indigenous.io;
           rewrite ^(.*) $scheme://main.indigenous.io$1 permanent; 
        } 
        server { 
            listen 8080; 
            server_name www.xxx.indigenous.io;
            rewrite ^(.*) $scheme://main.indigenous.io$1 permanent; 
        }
        server { 
            listen 8443; 
            server_name xxx.indigenous.io;
            rewrite ^(.*) $scheme://main.indigenous.io$1 permanent; 
        } 
        server { 
           listen 8443; 
           server_name www.xxx.indigenous.io;
           rewrite ^(.*) $scheme://main.indigenous.io$1 permanent; 
        }
