---
files:
  /etc/nginx/conf.d/00_indigeweb_christmas_com.conf:
    content: |
        server {
          listen 8080;
          server_name .christmasintierrasanta.com;
          location / {
            set $hostheader $host;
            if ( $host !~* "indigenous.io" ){
              set $hostheader christmasintierrasanta.indigenous.io;
            }
            proxy_pass $scheme://nodejs;
            proxy_set_header  Host  christmasintierrasanta.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_enduragive_org.conf:
    content: |
        server {
          listen 8080;
          server_name .enduragive.org;
          location / {
            set $hostheader $host;
            if ( $host !~* "indigenous.io" ){
              set $hostheader enduragive.indigenous.io;
            }
            proxy_pass $scheme://nodejs;
            proxy_set_header  Host  enduragive.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_katyameyers_com.conf:
    content: |
        server {
          listen 8080;
          server_name .katyameyers.com;
          location / {
            set $hostheader $host;
            if ( $host !~* "indigenous.io" ){
              set $hostheader katyameyers.indigenous.io;
            }
            proxy_pass $scheme://nodejs;
            proxy_set_header  Host  katyameyers.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_noelnorcross_com.conf:
    content: |
        server {
          listen 8080;
          server_name .noelnorcross.com;
          location / {
            set $hostheader $host;
            if ( $host !~* "indigenous.io" ){
              set $hostheader noel.indigenous.io;
            }
            proxy_pass $scheme://nodejs;
            proxy_set_header  Host  noel.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_sdir_us.conf:
    content: |
        server {
          listen 8080;
          server_name .sdir.us;
          location / {
            set $hostheader $host;
            if ( $host !~* "indigenous.io" ){
              set $hostheader tkg.indigenous.io;
            }
            proxy_pass $scheme://nodejs;
            proxy_set_header  Host  tkg.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root
  /etc/nginx/conf.d/00_indigeweb_truechiro_us.conf:
    content: |
        server {
          listen 8080;
          server_name .truechiropracticsandiego.com;
          location / {
            set $hostheader $host;
            if ( $host !~* "indigenous.io" ){
              set $hostheader truechiro.indigenous.io;
            }
            proxy_pass $scheme://nodejs;
            proxy_set_header  Host  truechiro.indigenous.io;
          }
        }
    group: root
    mode: "000644"
    owner: root

  /etc/nginx/conf.d/00_indigeweb_truechiroencin_com.conf:
      content: |
          server {
            listen 8080;
            server_name .truechiropracticencinitas.com;
            location / {
              set $hostheader $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader truechiro2.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  truechiro2.indigenous.io;
            }
          }
      group: root
      mode: "000644"
      owner: root


  /etc/nginx/conf.d/00_indigeweb_hottubescycling_com.conf:
        content: |
            server {
              listen 8080;
              server_name .hottubescycling.com;
              location / {
                set $hostheader $host;
                if ( $host !~* "indigenous.io" ){
                  set $hostheader hottubescycling.indigenous.io;
                }
                proxy_pass $scheme://nodejs;
                proxy_set_header  Host  hottubescycling.indigenous.io;
              }
            }
        group: root
        mode: "000644"
        owner: root

  /etc/nginx/conf.d/00_indigeweb_fitstoplab_com.conf:
      content: |
          server {
            listen 8080;
            server_name .fitstop-lab.com;
            location / {
              set $hostheader $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader fitstop.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  fitstop.indigenous.io;
            }
          }
      group: root
      mode: "000644"
      owner: root

  /etc/nginx/conf.d/00_indigeweb_trespost_com.conf:
      content: |
          server {
            listen 8080;
            server_name .trespost.com;
            location / {
              set $hostheader $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader trespost.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  trespost.indigenous.io;
            }
          }
      group: root
      mode: "000644"
      owner: root

  /etc/nginx/conf.d/00_indigeweb_constellationpartners_net.conf:
      content: |
          server {
            listen 8080;
            server_name .constellationpartners.net;
            location / {
              set $hostheader $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader constellationpartners.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  constellationpartners.indigenous.io;
            }
          }
      group: root
      mode: "000644"
      owner: root

  /etc/nginx/conf.d/00_indigeweb_bergwallandassociates_com.conf:
        content: |
            server {
              listen 8080;
              server_name .bergwallandassociates.com;
              location / {
                set $hostheader $host;
                if ( $host !~* "indigenous.io" ){
                  set $hostheader bergwallandassociates.indigenous.io;
                }
                proxy_pass $scheme://nodejs;
                proxy_set_header  Host  bergwallandassociates.indigenous.io;
              }
            }
        group: root
        mode: "000644"
        owner: root

  /etc/nginx/conf.d/00_indigeweb_mdhconsulting_us.conf:
      content: |
          server {
            listen 8080;
            server_name .mdhconsulting.us;
            location / {
              set $hostheader $host;
              if ( $host !~* "indigenous.io" ){
                set $hostheader mdhconsultingllc.indigenous.io;
              }
              proxy_pass $scheme://nodejs;
              proxy_set_header  Host  mdhconsultingllc.indigenous.io;
            }
          }
      group: root
      mode: "000644"
      owner: root

  /etc/nginx/conf.d/00_indigeweb_launchchiro_com.conf:
          content: |
              server {
                listen 8080;
                server_name .launchchiro.com;
                location / {
                  rewrite ^ https://www.indigenous.io/chirosignup#_l_1b permanent;
                }
              }
          group: root
          mode: "000644"
          owner: root

  /etc/nginx/conf.d/00_indigeweb_kylemiller_com.conf:
          content: |
              server {
                listen 8080;
                server_name .kyle-miller.com;
                location / {
                  set $hostheader $host;
                    if ( $host !~* "indigenous.io" ){
                      set $hostheader kyletesting.test.indigenous.io;
                    }
                    proxy_pass $scheme://nodejs;
                    proxy_set_header  Host  kyletesting.test.indigenous.io;
                }
              }
          group: root
          mode: "000644"
          owner: root

  /etc/nginx/conf.d/00_indigeweb_avoidlegallandmines_com.conf:
          content: |
              server {
                listen 8080;
                server_name .avoidlegallandmines.com;
                location / {
                  set $hostheader $host;
                    if ( $host !~* "indigenous.io" ){
                      set $hostheader gaughanconnealy.indigenous.io;
                    }
                    proxy_pass $scheme://nodejs;
                    proxy_set_header  Host  gaughanconnealy.indigenous.io;
                }
              }
          group: root
          mode: "000644"
          owner: root

  /etc/nginx/conf.d/00_indigeweb_carrieskitchen_net.conf:
              content: |
                  server {
                    listen 8080;
                    server_name .carrieskitchen.net;
                    location / {
                      set $hostheader $host;
                        if ( $host !~* "indigenous.io" ){
                          set $hostheader carrieskitchen.indigenous.io;
                        }
                        proxy_pass $scheme://nodejs;
                        proxy_set_header  Host  carrieskitchen.indigenous.io;
                    }
                  }
              group: root
              mode: "000644"
              owner: root

  /etc/nginx/conf.d/00_indigeweb_sipofcolor_com.conf:
            content: |
                server {
                  listen 8080;
                  server_name .sipofcolor.com;
                  location / {
                    set $hostheader $host;
                      if ( $host !~* "indigenous.io" ){
                        set $hostheader sipofcolor.indigenous.io;
                      }
                      proxy_pass $scheme://nodejs;
                      proxy_set_header  Host  sipofcolor.indigenous.io;
                  }
                }
            group: root
            mode: "000644"
            owner: root

  /etc/nginx/conf.d/00_indigeweb_heartlandfamilyconnection_com.conf:
            content: |
                server {
                  listen 8080;
                  server_name .heartlandfamilyconnection.com;
                  location / {
                    set $hostheader $host;
                      if ( $host !~* "indigenous.io" ){
                        set $hostheader heartlandfamilyconnection.indigenous.io;
                      }
                      proxy_pass $scheme://nodejs;
                      proxy_set_header  Host  heartlandfamilyconnection.indigenous.io;
                  }
                }
            group: root
            mode: "000644"
            owner: root

  /etc/nginx/conf.d/00_indigeweb_a_long_winter_com.conf:
            content: |
                server {
                  listen 8080;
                  server_name .a-long-winter.com;
                  location / {
                    set $hostheader $host;
                      if ( $host !~* "indigenous.io" ){
                        set $hostheader longwinter.indigenous.io;
                      }
                      proxy_pass $scheme://nodejs;
                      proxy_set_header  Host  longwinter.indigenous.io;
                  }
                }
            group: root
            mode: "000644"
            owner: root

  /etc/nginx/conf.d/00_indigeweb_longwinter_co.conf:
              content: |
                  server {
                    listen 8080;
                    server_name .longwinter.co;
                    location / {
                      set $hostheader $host;
                        if ( $host !~* "indigenous.io" ){
                          set $hostheader longwinter.indigenous.io;
                        }
                        proxy_pass $scheme://nodejs;
                        proxy_set_header  Host  longwinter.indigenous.io;
                    }
                  }
              group: root
              mode: "000644"
              owner: root

  /etc/nginx/conf.d/00_indigeweb_blissbodymommy_com.conf:
              content: |
                  server {
                    listen 8080;
                    server_name .blissbodymommy.com;
                    location / {
                      set $hostheader $host;
                        if ( $host !~* "indigenous.io" ){
                          set $hostheader blissbodymommy.indigenous.io;
                        }
                        proxy_pass $scheme://nodejs;
                        proxy_set_header  Host  blissbodymommy.indigenous.io;
                    }
                  }
              group: root
              mode: "000644"
              owner: root

  /etc/nginx/conf.d/00_indigeweb_sdjgfoundation_org.conf:
              content: |
                  server {
                    listen 8080;
                    server_name .sdjgfoundation.org;
                    location / {
                      set $hostheader $host;
                        if ( $host !~* "indigenous.io" ){
                          set $hostheader sandiegojuniorlifeguardfoundation.indigenous.io;
                        }
                        proxy_pass $scheme://nodejs;
                        proxy_set_header  Host  sandiegojuniorlifeguardfoundation.indigenous.io;
                    }
                  }
              group: root
              mode: "000644"
              owner: root

  /etc/nginx/conf.d/00_indigeweb_100in100_ws.conf:
                content: |
                    server {
                      listen 8080;
                      server_name .100in100.ws;
                      location / {
                        set $hostheader $host;
                          if ( $host !~* "indigenous.io" ){
                            set $hostheader 100in100.indigenous.io;
                          }
                          proxy_pass $scheme://nodejs;
                          proxy_set_header  Host  100in100.indigenous.io;
                      }
                    }
                group: root
                mode: "000644"
                owner: root

  /etc/nginx/conf.d/00_indigeweb_moonsautoglass_com.conf:
                content: |
                    server {
                      listen 8080;
                      server_name .moonsautoglass.com;
                      location / {
                        set $hostheader $host;
                          if ( $host !~* "indigenous.io" ){
                            set $hostheader moonsautoglass.indigenous.io;
                          }
                          proxy_pass $scheme://nodejs;
                          proxy_set_header  Host  moonsautoglass.indigenous.io;
                      }
                    }
                group: root
                mode: "000644"
                owner: root

  /etc/nginx/conf.d/00_indigeweb_paulbass_net.conf:
                  content: |
                      server {
                        listen 8080;
                        server_name .paulbass.net;
                        location / {
                          set $hostheader $host;
                            if ( $host !~* "indigenous.io" ){
                              set $hostheader btd.indigenous.io;
                            }
                            proxy_pass $scheme://nodejs;
                            proxy_set_header  Host  btd.indigenous.io;
                        }
                      }
                  group: root
                  mode: "000644"
                  owner: root

  /etc/nginx/conf.d/00_indigeweb_asaplocators_com.conf:
                    content: |
                        server {
                          listen 8080;
                          server_name .asaplocators.com;
                          location / {
                            set $hostheader $host;
                              if ( $host !~* "indigenous.io" ){
                                set $hostheader asapapartmentlocators.indigenous.io;
                              }
                              proxy_pass $scheme://nodejs;
                              proxy_set_header  Host  asapapartmentlocators.indigenous.io;
                          }
                        }
                    group: root
                    mode: "000644"
                    owner: root
