files:
  "/etc/awslogs/awslogs.conf":
    owner: root
    group: root
    mode: "000644"
    content: |
      [general]
      # Path to the CloudWatch Logs agent's state file. The agent uses this file to maintain
      # client side state across its executions.
      state_file = /var/lib/awslogs/agent-state
      [/var/log/messages]
      datetime_format = %b %d %H:%M:%S
      file = /var/log/messages
      buffer_duration = 5000
      log_stream_name = ENVIRONMENT/messages-{instance_id}
      initial_position = start_of_file
      log_group_name = /aws/elasticbeanstalk
      [/var/log/nginx/access]
      datetime_format = %b %d %H:%M:%S
      file = /var/log/nginx/access.log
      buffer_duration = 5000
      log_stream_name = ENVIRONMENT/nginx
      initial_position = start_of_file
      log_group_name = /aws/elasticbeanstalk
      [/var/log/nginx/error]
      datetime_format = %b %d %H:%M:%S
      file = /var/log/nginx/error.log
      buffer_duration = 5000
      log_stream_name = ENVIRONMENT/nginx
      initial_position = start_of_file
      log_group_name = /aws/elasticbeanstalk
      [/var/log/nodejs/nodejs]
      datetime_format = %Y-%m-%d %H:%M:%S
      file = /var/log/nodejs/nodejs.log
      buffer_duration = 5000
      log_stream_name = ENVIRONMENT/nodejs
      initial_position = start_of_file
      log_group_name = /aws/elasticbeanstalk

commands:
  update-region:
    command: sed -i 's/east/REGION/g' /etc/awslogs/awscli.conf
  restart-awslogs:
    command: service awslogs restart