<div
    ng-click="vm.setActive(vm.componentIndex, vm.compiledControlId);"
    class="ssb-settings-btn">
    <i class="fa fa-pencil"></i>
</div>

<div class="ssb-edit-control-active">

    <a
        ng-click="vm.setActive(vm.componentIndex, vm.compiledControlId);"
        class="ssb-edit-control-active-title">

        <span ng-if="vm.component">
            Edit {{(vm.component.type || vm.component.name || vm.component.title) | cleanType}}
        </span>

        <span ng-if="!vm.component">Edit Section</span>
    </a>

    <div
        ng-if="vm.componentIndex !== 0"
        class="ssb-sidebar-item-icon ssb-move-section-up display-ib ti-arrow-up ng-scope"
        ng-click="vm.moveComponentFn('up')"
        tooltip-animation="false"
        tooltip-placement="bottom"
        tooltip-html="Move section up"
        tooltip-append-to-body="true">
    </div>

    <div
        ng-if="vm.componentIndex !== (vm.state.email.components.length - 1)"
        class="ssb-sidebar-item-icon ssb-move-section-down display-ib ti-arrow-down ng-scope"
        ng-click="vm.moveComponentFn('down')"
        tooltip-animation="false"
        tooltip-placement="bottom"
        tooltip-html="Move section down"
        tooltip-append-to-body="true">
    </div>

    <div
        class="ssb-sidebar-item-icon ssb-move-section-duplicate display-ib ti-files ng-scope"
        ng-click="vm.duplicateComponentFn()"
        tooltip-animation="false"
        tooltip-placement="bottom"
        tooltip-html="Duplicate section"
        tooltip-append-to-body="true">
    </div>

    <div
        class="ssb-sidebar-item-icon ssb-move-section-remove fa fa-trash-o display-ib"
        ng-click="vm.removeComponentFn()"
        tooltip-animation="false"
        tooltip-placement="bottom"
        tooltip-html="Remove section"
        tooltip-append-to-body="true">
    </div>

</div>
