
<div class="form-group">
    <label for="bg_blur">Show members image</label>
    <span tooltip-placement="top" tooltip-html-unsafe="Show/hide team members image."><i class="fa fa-info-circle" /></span>
    <switch ng-model="componentEditing.teamSettings.profilepic" class="pull-right" ng-change="saveComponent()"></switch>
</div>
<div class="form-group">
    <label for="bg_blur">Show members name</label>
    <span tooltip-placement="top" tooltip-html-unsafe="Show/hide team members name."><i class="fa fa-info-circle" /></span>
    <switch ng-model="componentEditing.teamSettings.name" class="pull-right" ng-change="saveComponent()"></switch>
</div>
<div class="form-group">
    <label for="bg_blur">Show members position</label>
    <span tooltip-placement="top" tooltip-html-unsafe="Show/hide team members position."><i class="fa fa-info-circle" /></span>
    <switch ng-model="componentEditing.teamSettings.position" class="pull-right" ng-change="saveComponent()"></switch>
</div>
<div class="form-group">
    <label for="bg_blur">Show members bio</label>
    <span tooltip-placement="top" tooltip-html-unsafe="Show/hide team members bio."><i class="fa fa-info-circle" /></span>
    <switch ng-model="componentEditing.teamSettings.bio" class="pull-right" ng-change="saveComponent()"></switch>
</div>
<div class="form-group">
    <label for="bg_blur">Show members social</label>
    <span tooltip-placement="top" tooltip-html-unsafe="Show/hide team members social links."><i class="fa fa-info-circle" /></span>
    <switch ng-model="componentEditing.teamSettings.networks" class="pull-right" ng-change="saveComponent()"></switch>
</div>