<h4>Top Bar Info</h4>
<div class="form-group">
    <label for="top-bar-hours">Business Hours </label>
    <span tooltip-placement="top" tooltip-html-unsafe="Add business hours to topbar."><i class="fa fa-info-circle" /></span>
    <input id="top-bar-hours" class="form-control" type="text" ng-model="componentEditing.businessHours">
</div>
<div class="form-group">
    <label for="top-bar-phone">Phone number </label>
    <span tooltip-placement="top" tooltip-html-unsafe="Add Phone number to topbar."><i class="fa fa-info-circle" /></span>
    <input id="top-bar-phone" validation-type="phone" indigeweb-validate-form-fields class="form-control" type="text" ng-model="componentEditing.phone">
</div>
<div class="form-group">
    <label for="top-bar-email">Email </label>
    <span tooltip-placement="top" tooltip-html-unsafe="Add Email to topbar."><i class="fa fa-info-circle" /></span>
    <input id="top-bar-email" class="form-control" type="text" ng-model="componentEditing.email">
</div>