<div class="promotion-details-container container-fluid container-fullw securematics-details-view" ng-if="!vm.uiState.loading">
    <div class="inner-promotion-details bg-white col-xs-12">
        <div class="col-sm-5 col-xs-12 promotion-details-panel promotion-details-left-panel">
            <div class="form-group">
                <h4>Promo Name</h4>
                <div class="description">
                    {{vm.state.promotion.title}}
                </div>
                <hr>
            </div>
            
            <div class="form-group">
                <h4>Vendor</h4>

                <div class="description">
                    <span style="text-transform: capitalize;">
                        {{vm.state.promotion.vendor}}
                    </span>
                </div>
                <hr>
            </div>
            <div class="form-group">
                <h4>Promo Code</h4>

                <div class="description">
                    <span>
                        {{vm.state.promotion.promoCode}}
                    </span>
                </div>
                <hr>
            </div>            
            <div class="form-group">
                <h4>Start Date</h4>

                <div class="description">
                    <span>
                        {{vm.state.promotion.startDate | date:'M/d/yyyy'}}
                    </span>
                </div>
                <hr>
            </div>
            <div class="form-group">
                <h4>Expiration Date</h4>

                <div class="description">
                    <span>
                        {{vm.state.promotion.expirationDate | date:'M/d/yyyy'}}
                    </span>
                </div>
                <hr>
            </div>

            <div>
                <h3>Report Notifications</h3>

                <div class="form-group">                   
                    <div class="description">
                        <span>
                            {{vm.reportSheduleOptions[vm.state.promotion.report.schedule]}}
                        </span>
                    </div>
                </div>    
                <div class="form-group">
                    <h4>Start Date</h4>
                    <div class="description">
                        <span>
                            {{vm.state.promotion.report.startDate | date:'M/d/yyyy'}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <h4>Recipients</h4>                    
                    <span>
                        {{vm.state.promotion.report.recipients.join(", ")}}
                    </span>
                    
                </div> 
            </div>
        </div>
        <div class="col-sm-7 col-xs-12 promotion-details-panel promotion-details-right-panel">
            <div class="form-group">
                <h4>Type</h4>

                <div class="description">
                    <span>
                        {{vm.getPromoType(vm.state.promotion.type)}}
                    </span>
                </div>
                <hr>
            </div>
            <div class="form-group" ng-if="vm.state.promotion.type == vm.promoTypeOptions.TRY_AND_BUY && vm.state.promotion.vendor">
                <h4>Products</h4>
                <div class="description" ng-repeat="product in vm.state.promotion.products">                    
                    <span>
                        {{product.itemName}}
                    </span>
                </div>    
                <hr>
            </div>            
        </div>
        <div class="col-xs-12">
            <div id="pdf-container" class="hidden-xs container-fluid container-fullw securematics-details-view"></div>
        </div>                
    </div>
</div>