<div class="promotion-details-container container-fluid container-fullw securematics-details-view securematics-edit-promotion" ng-if="!vm.uiState.loading">
    <div class="inner-promotion-details bg-white col-xs-12">
        <div class="col-sm-5 col-xs-12 promotion-details-panel promotion-details-left-panel">
            <div class="promo-image">                
                <img ng-src="{{vm.state.promotion.promoImage}}" err-src="assets/images/default-media.png" alt="">
                <i class="fa fa-pencil-square-o" ng-click="vm.openMediaModal('media-modal', 'MediaModalCtrl', 'lg')"></i>
            </div>
        </div>

        <div class="col-sm-7 col-xs-12 promotion-details-panel promotion-details-right-panel">
            <div class="form-group">
                <h4>Promo Name</h4>

                <div class="description">                    
                    <input type="text" placeholder="Promo Name" class="form-control" name="title" ng-model="vm.state.promotion.title">
                </div>
                <hr>
            </div>
            <div class="form-group">
                <h4>Vendor</h4>

                <div class="description">
                    <ui-select ng-model="vm.state.promotion.vendor" theme="bootstrap">
                        <ui-select-match placeholder="Vendor">
                            <small style="text-transform: capitalize;" ng-bind-html="$select.selected"></small>
                        </ui-select-match>
                        <ui-select-choices repeat="vendor in vm.state.vendors | filter: $select.search">
                            <small style="text-transform: capitalize;" ng-bind-html="vendor | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <hr>
            </div>
            <div class="form-group">
                <h4>Promo Code</h4>

                <div class="description">
                    <input type="text" placeholder="Promo Code" class="form-control" name="promoCode" ng-model="vm.state.promotion.promoCode">
                </div>
                <hr>
            </div>
            
            <div class="form-group" ng-if="vm.state.promotion.type == 'TRY_AND_BUY' && vm.state.promotion.vendor">
                <h4>Products</h4>
                <div class="description" ng-repeat="product in vm.state.promotion.products">
                    <span class="form-control">
                        {{product.itemName}}
                    </span>
                    <button type="button" class="btn btn-primary btn-o margin-left-5 btn-wide" ng-click="vm.removeProduct(product, $index)">
                        <i class="fa fa-trash-o"></i><span> Delete</span>
                    </button>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-o pull-left btn btn-primary btn-o margin-top-5 margin-bottom-5 btn-wide" ng-click="vm.openModal('new-promotion-product-modal', 'PromotionProductModalController', 'lg')">
                        <i class="ti-plus"></i><span> Add Product</span>
                    </button>
                </div>
                <div class="clearfix"></div>    
                <hr>
            </div>
            <div class="form-group">
                <h4>Type</h4>

                <div class="description">
                    <select class="form-control" name="type" ng-model="vm.state.promotion.type">
                        <option></option>
                        <option value="TRY_AND_BUY">Try and Buy</option>
                        <option value="MILESTONE" disabled>Milestone </option>
                        <option value="EVENT" disabled>Event</option>
                    </select>
                </div>
                <hr>
            </div>
            <div class="form-group col-xs-12 col-sm-6 padding-0">
                <h4>Start Date</h4>

                <div class="description">
                    <indi-datepicker ng-model="vm.state.promotion.startDate" popup="MM/dd/yyyy"></indi-datepicker>
                </div>
                <hr class="visible-xs" />
            </div>
            <div class="form-group col-xs-12 col-sm-6 padding-0">
                <h4>Expiration Date</h4>
                <div class="description">
                    <indi-datepicker ng-model="vm.state.promotion.expirationDate" popup="MM/dd/yyyy"></indi-datepicker>
                </div>
                <hr class="visible-xs" />
            </div>
            <div class="clearfix hidden-xs"></div>    
            <hr class="hidden-xs">
            <div>
                <h3>Report Notifications</h3>

                <div class="form-group">                   
                    <div class="checkbox clip-check check-primary" style="z-index:2;">
                        <input type="checkbox" id="rpt_weekly" ng-model="vm.state.promotion.report.schedule" ng-true-value="'weekly'">
                        <label for="rpt_weekly" class="text-inline">
                            Weekly
                        </label>

                        
                        <input type="checkbox" id="rpt_monthly" ng-true-value="'monthly'" ng-model="vm.state.promotion.report.schedule">
                        <label for="rpt_monthly" class="text-inline">
                            Monthly
                        </label>
                    
                    </div>
                </div>    
                <div class="form-group">
                    <h4>Start Date</h4>
                    <div class="description">
                        <indi-datepicker ng-model="vm.state.promotion.report.startDate" popup="MM/dd/yyyy"></indi-datepicker>
                    </div>
                </div>
                <div class="form-group">
                    <h4>Recipients</h4>                    
                    <tags-input
                        ng-model="vm.state.promotion.report.recipients"
                        add-on-paste="true"
                        placeholder="Add an email"
                        add-on-comma="true"
                        on-tag-adding="vm.checkIfValidEmail($tag)">
                    </tags-input>
                    
                </div> 
            </div>

            <div class="form-group">
                   
                <h4>Attachment</h4>
                <span class="required hidden">*</span>
                
                <label for="upload_file" class="btn btn-primary">
                    <span ng-if="!vm.state.promotion.attachment.name">Upload File</span>
                    <span ng-if="vm.state.promotion.attachment.name">Replace File</span>
                    <input type="file"
                           id="upload_file"
                           class="hidden"
                           file-model='vm.attachment'
                           accept=".pdf">
                </label>
                <span class="file-name">{{vm.attachment.name}}</span>
                <span class="margin-left-10" ng-if="vm.attachment.name" ng-click="vm.initAttachment()"><i class="fa fa-trash-o"></i> </span>
            </div>

            <div class="form-group" ng-if="vm.state.promotion.attachment.name">
                <button type="button" class="btn btn-success margin-top-5 margin-bottom-5 btn-wide" ng-click="vm.viewPromotionPdf()">View PDF
                </button>
            </div>
        </div>
    </div>
</div>
<div data-ng-include=" 'assets/var/demo/js/promotions/modals/new-promotion-product-modal.html' "></div>