<div class="row margin-top-15 promotions-stats">
    	<div class="col-sm-3 col-xs-6">
	    	<div class=" promotions-stats-item">
	    		<span class="promotions-stats-value">4</span>
			  	<span class="promotions-stats-label">PROMOTIONS</span>
	    	</div>
        </div>
        <div class="col-sm-3 col-xs-6">
	    	<div class=" promotions-stats-item">
	    		<span class="promotions-stats-value">16</span>
			  	<span class="promotions-stats-label">ACTIVE SHIPMENTS</span>
	    	</div>
        </div>
        <div class="visible-xs margin-bottom-15 clearfix"></div>
        <div class="col-sm-3 col-xs-6">
	    	<div class=" promotions-stats-item">
	    		<span class="promotions-stats-value">100%</span>
			  	<span class="promotions-stats-label">SUCCESSFUL SHIPMENTS</span>
	    	</div>
        </div>
        <div class="col-sm-3 col-xs-6">
	    	<div class=" promotions-stats-item">
	    		<span class="promotions-stats-value">$10,000.00</span>
			  	<span class="promotions-stats-label">SUCCESSFUL SHIPMENTS</span>
	    	</div>
        </div>
</div>