<div class="row margin-top-15 promotions-stats promo-details-stat">
    	<div class="col-shipment">
	    	<div class=" promotions-stats-item">
	    		<span class="promotions-stats-value">{{vm.state.shipments.length | number : 0}}</span>
			  	<span class="promotions-stats-label">Shipments</span>
	    	</div>
        </div>
        <div class="col-shipment">
	    	<div class=" promotions-stats-item">
	    		<span class="promotions-stats-value"></span>
			  	<span class="promotions-stats-label">Configured</span>
	    	</div>
        </div>
        
        <div class="col-shipment">
	    	<div class=" promotions-stats-item">
	    		<span class="promotions-stats-value"></span>
			  	<span class="promotions-stats-label">Deployed</span>
	    	</div>
        </div>
        <div class="col-shipment">
	    	<div class=" promotions-stats-item">
	    		<span class="promotions-stats-value">{{vm.state.shipmentStats.reports}}</span>
			  	<span class="promotions-stats-label">Reports</span>
	    	</div>
        </div>
        <div class="col-shipment">
	    	<div class=" promotions-stats-item">
	    		<span class="promotions-stats-value"></span>
			  	<span class="promotions-stats-label">Try</span>
	    	</div>
        </div>
        <div class="col-shipment">
	    	<div class=" promotions-stats-item">
	    		<span class="promotions-stats-value"></span>
			  	<span class="promotions-stats-label">Buy</span>
	    	</div>
        </div>
        
        <div class="col-shipment">
	    	<div class=" promotions-stats-item">
	    		<span class="promotions-stats-value"></span>
			  	<span class="promotions-stats-label">RMA</span>
	    	</div>
        </div>
        <div class="col-shipment">
	    	<div class=" promotions-stats-item">
	    		<span class="promotions-stats-value"></span>
			  	<span class="promotions-stats-label">Promo Sales</span>
	    	</div>
        </div>
</div>