<div style="">
    <div class="pageheader row">
        <div class="col-xs-8">
            <button ng-click="$back()" class="btn btn-success pull-left" type="button">
                <span class="fa fa-chevron-left"></span>
                <span class="hidden-xs">Back</span>
            </button>
            <h2>
                Choose Plan
            </h2>
        </div>

        <div class="col-xs-4">
            <button ng-click="paymentDetails == 'active'" class="btn btn-success pull-right" type="button">
                <span class="hidden-xs">Continue</span>
                <span class="fa fa-chevron-right"></span>
            </button>
        </div>
    </div>
    <div class="contentpanel" ng-style="styleCommerce()" indigeweb-resize>
        <div class="container" ng-hide="paymentDetails == 'active'">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-md-offset-2">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Monthly</h3>
                        </div>
                        <div class="panel-body center">
                            <div class="the-price">
                                <h1>
                                    $49.95
                                    <span class="subscript">/mo</span>
                                </h1>
                                <small><p>$599.40 Annually</p></small>
                            </div>
                            <table class="table">
                                <tr>
                                    <td>
                                        1 Account
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        1 Project
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        100K API Access
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        100MB Storage
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Custom Cloud Services
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        Weekly Reports
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="btn btn-success btn-lg btn-block" role="button">Select</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="panel panel-selected plan-selected">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Annually</h3>
                        </div>
                        <div class="panel-body center">
                            <div class="the-price">
                                <h1>
                                    $395
                                    <span class="subscript">/yr</span>
                                </h1>
                                <small><p class="center">$32.91/mo with $200 Savings</p></small>
                            </div>
                            <table class="table">
                                <tr>
                                    <td>
                                        2 Account
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        5 Project
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        100K API Access
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        200MB Storage
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Custom Cloud Services
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        Weekly Reports
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <!-- <a href="#" class="btn btn-success btn-lg btn-block" role="button">Select</a> -->
                            <h2 class="selected-plan"><span class="fa fa-check-circle"></span> Currently Selected</h2>
                    </div>
                </div>
            </div>
            <div class="clearfix mb30"></div>
        </div>
        <div class="container" ng-show="paymentDetails == 'active'"></div>
    </div>

</div>
