<div class="account">
    <div class="pageheader row">
        <div class="col-xs-9">
            <h2>
                <i class="fa fa-cog"></i> Account
            </h2>
        </div>
        <div class="col-xs-3">
            <a href="#/account/edit" class="btn btn-success pull-right" type="button">
                <span class="fa fa-edit"></span>
                <span class="hidden-xs">Edit</span>
            </a>
        </div>
        <div class="clear"></div>
    </div>

    <div class="row">
        <div class="btn-group col-xs-12 template-btns">
            <button type="button" class="btn btn-info col-xs-4 btn-view-account-info active" ng-class="{'active': activeTab === 'account'}" ng-click="activeTab = 'account'">
                <i class="fa fa-user"></i>
                <span class="hidden-xs">Account Information
                </span>
            </button>
            <button type="button" class="btn btn-info col-xs-4 btn-view-billing" ng-class="{'active': activeTab === 'billing'}" ng-click="activeTab = 'billing'">
                <i class="fa fa-credit-card"></i>
                <span class="hidden-xs">Billing</span>
            </button>
            <button type="button" class="btn btn-info col-xs-4 btn-view-integrations" ng-class="{'active': activeTab === 'integrations'}" ng-click="activeTab = 'integrations'">
                <i class="fa fa-rocket"></i>
                <span class="hidden-xs">Integrations</span>
            </button>
        </div>
    </div>


    <div class="contentpanel" ng-switch="activeTab">

        <div class="account-info-section" ng-switch-when="account">
            <div class="col-sm-6">
                <div class=" panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Owner Info</h3>
                    </div>

                    <div class="profile panel-body">
                        <!--
						<div class="col-xs-12">
						    <img alt="" src="../images/photos/loggeduser.png" class="thumbnail thumb-lg img-circle media-object">
						</div>
										-->
                        <div class="col-xs-12">
                            <img src="/assets/icons/blank-user.jpg" class="thumbnail thumb-lg img-circle media-object" data-img-src="" data-img-loaded="false" onerror="this.src='/assets/icons/blank-user.jpg'">
                            <div class="clear"></div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <div class="mb20"></div>
                                <!--
						        <h3 class="profile-name"{{user.first}} {{user.last}}Jaideep Das</h3>
						        -->
                                <!--
						        <h4 class="center">
						            <span class="label label-info contact-cat">Das</span>
						        </h4>
						        -->
                                <h3 class="profile-name">{{user.first}} {{user.last}}</h3>
                                <div class="mb20"></div>

                            </div>
                        </div>
                        <div class="clearfix mb20"></div>
                        <div class="col-xs-12">
                            <!-- <div class="profile-location"><i class="fa fa-map-marker"></i>  <a href="geo:32.7150,-117.1625?z=3" target="_blank">123 Burgandy DriveSan Diego, CA 92102</a>  <a href="#" class="label label-warning"> + 5 More</a>
						        </div>
						        <div class="profile-position"><i class="fa fa-briefcase"></i> News Anchor at <a href="">Channel 9 News</a>
						        </div>
						        <div class="profile-position"><i class="fa fa-briefcase"></i> Owner of <a href="">Burgandy Flutes</a>
						        </div>
						        <div class="profile-phone"><i class="fa fa-phone"></i>  <a href=""><a href="tel:619-564-2827"> 619-564-2827</a>  <a href="#" class="label label-warning"> + 2 More</a></a>
						        </div>

						        <div class="profile-email"><i class="fa fa-envelope"></i>  <a href=""><a href="mailto:jaideep.jdof@gmail.com"> jaideep.jdof@gmail.com</a>  <a href="#" class="label label-warning"> + 2 More</a></a>
						        </div> -->
                            <ul class="social-list right row">
                                <li class="col-xs-12">
                                    <div class="col-xs-2">
                                        <a href="#" class="tooltips pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Password" target="_blank"><i class="fa fa-lock"></i></a>
                                    </div>
                                    <div class="col-xs-8">
                                        <p>&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;</p>
                                    </div>
                                    <div class="col-xs-2"></div>
                                </li>
                                <!--
						        <li class="col-xs-12">

						            <div class="col-xs-2">
						                <a href="https://www.google.com/maps/place/700+E+Ocean+Blvd/@33.765741,-118.184199,17z/" class="tooltips pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Location" target="_blank"><i class="fa fa-map-marker"></i></a>
						            </div>
						            <div class="col-xs-8">
						                <p>123 Burgandy DriveSan Diego, CA 92102</p>
						            </div>
						            <div class="col-xs-2">
						                <button href="#" class="btn btn-sm btn-warning"><i class="fa fa-chevron-down"></i>
						                    <span class="hidden-xs">5 More</span>
						                </button>
						            </div>
						        </li>
						        -->


                                <!--
						        <li class="col-xs-12">
						            <div class="col-xs-2">
						                <a href="" class="tooltips pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Phone" target="_blank"><i class="fa fa-phone"></i></a>
						            </div>
						            <div class="col-xs-8">
						                <p>619-675-2927</p>
						            </div>
						            <div class="col-xs-2">
						                <button href="#" class="btn btn-sm btn-warning"><i class="fa fa-chevron-down"></i>
						                    <span class="hidden-xs">2 More</span>
						                </button>
						            </div>
						            </a>
						        </li>
						        -->



                                <!--
						        <li class="col-xs-12">
						            <div class="col-xs-2">
						                <a href="" class="tooltips pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email" target="_blank"><i class="fa fa-envelope"></i></a>
						            </div>
						            <div class="col-xs-8">
						                <p>jaideep.jdof@gmail.com</p>
						            </div>
						            <div class="col-xs-2">
						                <button href="#" class="btn btn-sm btn-warning"><i class="fa fa-chevron-down"></i>
						                    <span class="hidden-xs">1 More</span>
						                </button>
						            </div>
						            </a>
						        </li>
						        -->



                                <li class="col-xs-12">
                                    <div class="col-xs-2">
                                        <a href="mailto:{{user.email}}" class="tooltips pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email" target="_blank"> <i class="fa fa-envelope"> </i>
                                        </a>
                                    </div>
                                    <div class="col-xs-8">
                                        <p>{{user.email}}</p>
                                    </div>
                                    <div class="col-xs-2"></div>

                                </li>




                            </ul>

                            <div class="mb20"></div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Business Info</h3>
                    </div>

                    <div class="profile panel-body">

                        <div class="col-xs-12">
                            <img src="/assets/icons/blank-user.jpg" class="thumbnail thumb-lg img-circle media-object" data-img-src="" data-img-loaded="false" onerror="this.src='/assets/icons/blank-user.jpg'">
                            <div class="clear"></div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <div class="mb20"></div>

                                <h3 class="profile-name"></h3>
                                <div class="mb20"></div>

                            </div>
                        </div>
                        <div class="clearfix mb20"></div>
                        <div class="col-xs-12">
                            <ul class="social-list right row">

                                <li class="col-xs-12">
                                    <div class="col-xs-2">
                                        <a href="#/account/edit/?focus=business-name" class="tooltips pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email" target="_blank"> <i class="fa fa-wrench"></i>
                                        </a>
                                    </div>
                                    <div class="col-xs-8">
                                        <p>{{account.business.name}}</p>
                                    </div>
                                    <div class="col-xs-2"></div>

                                </li>
                                <li class="col-xs-12">
                                    <div class="col-xs-2">
                                        <a href="#/account/edit/?focus=business-size" class="tooltips pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email" target="_blank"> <i class="fa fa-arrows"></i>
                                        </a>
                                    </div>
                                    <div class="col-xs-8">
                                        <p ng-show="account.business.size==1">Single</p>
                                        <p ng-show="account.business.size==2">Small</p>
                                        <p ng-show="account.business.size==3">medium</p>
                                        <p ng-show="account.business.size==4">Large</p>
                                        <p ng-show="account.business.size==5">Enterprise</p>
                                    </div>
                                    <div class="col-xs-2"></div>

                                </li>
                                <li class="col-xs-12">
                                    <div class="col-xs-2">
                                        <a href="#/account/edit/?focus=business-description" class="tooltips pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email" target="_blank"> <i class="fa fa-file-o"></i>
                                        </a>
                                    </div>
                                    <div class="col-xs-8">
                                        <p>{{account.business.description}}</p>
                                    </div>
                                    <div class="col-xs-2"></div>

                                </li>
                                <li class="col-xs-12">
                                    <div class="col-xs-2">
                                        <a href="#/account/edit/?focus=business-category" class="tooltips pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email" target="_blank"> <i class="fa fa-bars"></i>
                                        </a>
                                    </div>
                                    <div class="col-xs-8">
                                        <p>{{account.business.category}}</p>
                                    </div>
                                    <div class="col-xs-2"></div>

                                </li>
                            </ul>

                            <div class="mb20"></div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="billing-section" ng-switch-when="billing">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Bill</h3>
                    </div>
                    <div class="panel-body">
                        <h2 class="center total">$99.98</h2>
                        <p class="center">Total Due by September 12th, 2014</p>
                        <hr></hr>
                        <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#billSummaryModal">Bill Summary</button>
                        <div class="cleatfix mb30"></div>
                        <button class="btn btn-lg btn-success btn-block" data-toggle="modal" data-target="#payBillModal">Pay Bill</button>
                        <!-- Add Auto Pay Option Toggle-->
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Credit Card</h3>
                    </div>
                    <div class="panel-body">
                        <div class="indigeweb-skeuocard" user='user'></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Transactions</h3>
                    </div>

                    <div class="table-responsive">
                        <table class="table mb30">
                            <thead>
                                <tr class="info">
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Card</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>August 10th, 2014</td>
                                    <td>$99.98</td>
                                    <td>Visa - 8943</td>
                                    <td>PAID</td>
                                    <td class="table-action">
					                  <a href="" data-toggle="modal" data-target="#viewTransactionModal"><i class="fa fa-eye"></i></a>
					                </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>July 10th, 2014</td>
                                    <td>$99.98</td>
                                    <td>Visa - 8943</td>
                                    <td>PAID</td>
                                    <td class="table-action">
					                  <a href="" data-toggle="modal" data-target="#viewTransactionModal"><i class="fa fa-eye"></i></a>
					                </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>June 10th, 2014</td>
                                    <td>$99.98</td>
                                    <td>Visa - 8943</td>
                                    <td>PAID</td>
                                    <td class="table-action">
					                  <a href="" data-toggle="modal" data-target="#viewTransactionModal"><i class="fa fa-eye"></i></a>
					                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="integrations-section" ng-switch-when="integrations">

            <div class="row">
              <div class="col-sm-3 col-md-4">
                <div class="thumbnail">
                    <div class="img-wrap">
                        <img src="../assets/images/facebook-logo.png" alt="...">
                    </div>
                  <div class="caption">
                    <h3>Facebook</h3>
                    <p>Import friends as customers, post directly from admin, create a campaign.</p>
                    <p><button class="btn btn-success btn-lg btn-block" role="button" data-toggle="modal" data-target="#facebookSettingsModal">Settings</button></p>
                    <div class="toggle-modern">
                        <div class="toggles on"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-md-4">
                <div class="thumbnail">
                    <div class="img-wrap">
                        <img src="../assets/images/twitter-logo.jpg" alt="...">
                    </div>
                  <div class="caption">
                    <h3>Twitter</h3>
                    <p>Tweet with customers, plan tweets in advance.</p>
                    <p><a href="#" class="btn btn-success btn-lg btn-block" role="button">Settings</a></p>
                    <div class="toggle-modern">
                        <div class="toggles on"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-md-4">
                <div class="thumbnail">
                    <div class="img-wrap">
                        <img src="../assets/images/google-plus-logo.jpg" alt="...">
                    </div>
                  <div class="caption">
                    <h3>Google +</h3>
                    <p>Import customers, plan posts in advance.</p>
                    <p><a href="#" class="btn btn-success btn-lg btn-block" role="button">Settings</a></p>
                    <div class="toggle-modern">
                        <div class="toggles on"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-md-4">
                <div class="thumbnail">
                    <div class="img-wrap">
                        <img src="../assets/images/linkedin-logo.png" alt="...">
                    </div>
                  <div class="caption">
                    <h3>LinkedIn</h3>
                    <p>Import contacts</p>
                    <p><a href="#" class="btn btn-success btn-lg btn-block" role="button">Settings</a></p>
                    <div class="toggle-modern">
                        <div class="toggles on"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-md-4">
                <div class="thumbnail">
                    <div class="img-wrap">
                        <img src="../assets/images/google-analytics-logo.png" alt="...">
                    </div>
                  <div class="caption">
                    <h3>Google Analytics</h3>
                    <p>Provides tracking for your site so you can learn more about your vistors and how to improve your search engine optimization. </p>
                    <p><a href="#" class="btn btn-success btn-lg btn-block" role="button">Settings</a></p>
                    <div class="toggle-modern">
                        <div class="toggles on"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-md-4">
                <div class="thumbnail">
                    <div class="img-wrap">
                        <img src="../assets/images/stripe-logo.jpg" alt="...">
                    </div>
                  <div class="caption">
                    <h3>Stripe</h3>
                    <p>Stripe Allows you to recieve payments on your website.</p>
                    <p><a href="#" class="btn btn-success btn-lg btn-block" role="button">Settings</a></p>
                    <div class="toggle-modern">
                        <div class="toggles on"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="modal" id="billSummaryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	<div class="modal-dialog">
    		<div class="modal-content">
    			<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal">
    					<span aria-hidden="true">×</span><span class="sr-only">Close</span>
    				</button>
    				<h4 class="modal-title" id="myModalLabel">Bill Summary</h4>
    			</div>
    			<div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="mb40"></div>
                            <h4 class="center">Amount Due</h4>
                            <h1 class="center total">$99.98</h1>
                        </div>
                        <div class="col-xs-6">
                            <h4>Current Payment:</h4>
                            <span>due 01SEP14</span>
                            <h4>Last Payment:</h4>
                            <span>recieved 01AUG14</span>
                        </div>
                    </div>
    				<!-- <h3 class="center">Last Payment</h3>
                    <h4>Amount: <span class="pull-right">$99.00</span></h4>
                    <h4>Date: <span class="pull-right">01AUG14</span></h4>
                    <hr></hr>
                    <h3 class="center">Current Balance</h3>
                    <h4>Amount Due: <span class="pull-right">$99.00</span></h4>
                    <h4>Due Date: <span class="pull-right">01SEP14</span></h4> -->
    			</div>
    			<div class="modal-footer">
    				<button type="button" class="btn btn-primary btn-lg btn-make-payment"
    					id="" data-dismiss="modal" data-toggle="modal" data-target="#payBillModal"><span class="fa fa-credit-card"></span> Pay Bill</button>
    			</div>
    		</div>
    	</div>
    </div>

    <div class="modal" id="payBillModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Verify Payment</h4>
                </div>
                <div class="modal-body">
                    <div class="row mb20">
                        <div class="col-xs-6">
                            <div class="mb30"></div>
                            <h4 class="center">Amount Due</h4>
                            <h1 class="center total">$99.98</h1>
                        </div>
                        <div class="col-xs-6">
                            <h4>Current Payment:</h4>
                            <span>due 01SEP14</span>
                            <h4>Period:</h4>
                            <span>01AUG14 - 31AUG14</span>
                        </div>
                    </div>
                    <hr></hr>
                    <h4>Pay To: <span class="pull-right">Indigenous Software Inc.</span></h4>
                    <h4 class="pull-left">Payment Method: </h4>
                    <span class="pull-right">
                        <select class="form-control">
                            <option>Visa xxxx-xxxx-xxxx-2345 06/15</option>
                            <option>Mastercard xxxx-xxxx-xxxx-9894 09/15</option>
                            <option>Paypal mypaypalemail@gmail.com</option>
                        </select>
                    </span>
                    <div class="clearfix"></div>
                    <!-- <h4>Date: <span class="pull-right">Monday, September 1st, 2014</span></h4> -->
                    <!-- <h4>Amount: <span class="pull-right">$99.98</span></h4> -->
                </div>
                <div class="modal-footer">
                    <label class="col-xs-9">Please verify the information above and click "Submit" to authorize us to complete your payment.</label>
                    <button type="button" class="btn btn-success btn-lg btn-pay-bill" id="" data-dismiss="modal"><span class="fa fa-lock"></span> Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="viewTransactionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Transaction #1</h4>
                </div>
                <div class="modal-body">
                    <img src="../assets/images/paid-in-full.png" class="center paid" />
                    <h4>Pay To: <span class="pull-right">Indigenous Software Inc.</span></h4>
                    <h4>Payment Method: <span class="pull-right">Visa xxxx-xxxx-xxxx-2345 06/15</span></h4>
                    <h4>Date: <span class="pull-right">Monday, September 1st, 2014</span></h4>
                    <h4>Period: <span class="pull-right">01AUG14 - 31AUG14</span></h4>
                    <h4>Amount Paid: <span class="pull-right">$99.98</span></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-lg btn-download-bill"
                        id="" data-dismiss="modal"><span class="fa fa-download"></span> Download</button>
                    <button type="button" class="btn btn-primary btn-lg btn-print-bill"
                        id="" data-dismiss="modal"><span class="fa fa-print"></span> Print</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="facebookSettingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Facebook Settings</h4>
                </div>
                <div class="modal-body">
                <h4>Facebook Admins: <span class="fa fa-info-circle"></span></h4>
                <input type="text" placeholder="Facebook Admin ID" class="form-control mb15 input-lg">
                <div class="well">
                    <h4>Facebook App: <span class="fa fa-info-circle"></span></h4>
                    <input type="text" placeholder="Facebook App ID" class="form-control mb15 input-lg">
                    <input type="text" placeholder="Facebook App Secret" class="form-control mb15 input-lg">
                </div>
                <h4>Facebook Page: <span class="fa fa-info-circle"></span></h4>
                <input type="text" placeholder="Facebook Page Url" class="form-control mb15 input-lg">

                <h4>Landing Page Redirect: <span class="fa fa-info-circle"></span></h4>
                <select class="form-control input-lg">
                    <option>Landing Page 1</option>
                    <option>Landing Page 2</option>
                    <option>Landing Page 3</option>
                </select>

                </div>
                <div class="modal-footer">
                    <span>Last synced 3hrs ago </span>
                    <button type="button" class="btn btn-primary btn-lg btn-print-bill"
                        id="" data-dismiss="modal"><span class="fa fa-repeat"></span> Sync</button>
                </div>
            </div>
        </div>
    </div>

</div>
