<toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
<div class="customer">

  <div class="pageheader row">
    <div class="col-xs-7">
    <h2><i class="fa fa-users"></i> Customers</h2>
    </div>

    <div class="col-xs-5">
      <div indigeweb-state-nav="customerAdd" class="btn btn-success pull-right btn-create-contact" type="button">
        <i class="fa fa-plus"></i>
        <span class="hidden-xs">Add</span>
      </div>

    </div>
  </div>

  <div style="display: none;" class="alert alert-info fade in">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    <h4 class="center">Hi Robin, Welcome to Customers!</h4>
    <p class="center">Okay, it's time to start managing your products. If you need assitance use any of the three ways below.</p>
    <hr class="mb30">
    <div class="col-sm-6">
      <h4><i class="fa fa-youtube-play"></i> Watch this 30 second video about managing customers.</h4>
      <img class="onboard-vid" src="/assets/images/video-holder.jpg">
    </div>
    <div class="mb30"></div>
    <div class="col-sm-6">
      <h4><i class="fa fa-compass"></i> Schedule a Demo</h4>
      <p>Schedule a personal demo with one of our customer support representatives who can show you via screen share how to manage your contacts.</p>
      <button class="btn btn-primary btn-lg">Schedule Now <i class="fa fa-caret-right"></i>
      </button>
      <hr class="mb30">
      <h4><i class="fa fa-file-text-o"></i> Read the Documentation</h4>
      <p>If you prefer a list of steps to read, then head over to our detailed documentation about all the aspects of managing your contacts.</p>
      <button class="btn btn-primary btn-lg">View Docs <i class="fa fa-caret-right"></i>
      </button>
    </div>
    <div class="clearfix mb30"></div>
  </div>

  <div style="background: #e7e7e7;" id="scrollTop" class="contentpanel" ng-style="styleCustomers()" indigeweb-resize indiscroller>

    <headroom class="header--fixed" tolerance='0' offset='200' scroller='.contentpanel' classes="{pinned:'slide--reset',unpinned:'slide--up',initial:'slide'}">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-xs-6">
            <input ng-model="searchBar" placeholder="Search" class="form-control input-lg  search-contacts" type="text">
          </div>
          <div class="col-xs-6">
            <div class="mb0">
              <select class="form-control chosen-select input-lg" ng-model="sortOrder">
                <option value="" disabled selected>Filter</option>
                <option value="1">A to Z</option>
                <option value="2">Z to A</option>
                <option value="3">Date Added</option>
              </select>
            </div>
          </div>
        </div>

        <div style="width:100%; text-align:center">
          <ul class="pagination hidden-xs letter-list">

            <li class="active"><a class="btn-letter" ng-click="alphaFilter()">all</a>
            </li>
            <li ng-class="{disabled: !alphaFilterStatus[alpha]}" ng-repeat="alpha in alphaList track by $index"><a class="btn-letter" ng-click="alphaFilter(alpha)">{{alpha}}</a></li>
          </ul>
        </div>
      </div>
      <!-- panel -->
    </headroom>

    <div ng-switch on="userPreferences.customerSettings.gridViewDisplay" class="people-list">
      <div ng-switch-when="true" class="row">
        <div>
          <div  ng-repeat="customer in renderedCustomers | iStartsWithFilter : customerFilter" class="col-xs-12 col-sm-4 col-md-3">
            <div data-contactid="1799" class="people-item btn-view-contact-details contact-item" style="opacity:1">
              <span data-original-title="Important Contact" ng-click="setImportantContact(customer)" title="" data-placement="top" data-toggle="tooltip" class="important-star tooltips">
                        <i class="fa fa-star-o" ng-hide="customer.starred"></i>
                        <i class="fa fa-star" ng-show="customer.starred"></i>
                    </span>

              <div indigeweb-state-nav="customerDetail" indigeweb-state-id="{{customer._id}}" class="media">
                <div class="col-xs-12f">
                  <!--//  //  // -->
                  <img ng-src="{{ customer.photo ? customer.photo : '/assets/icons/blank-user.jpg' }}" class="img-circle media-object thumbnail standard">
                  <!-- //  //  -->

                  <span class="name visible-xs">

                                <h4 class="person-name" indigeweb-truncate truncate-list="[customer.first, customer.middle, customer.last]" truncate-limit=20 truncate-symbol="'...'"></h4>
                                </span>

                  <div class="clear"></div>
                </div>
                <div class="media-body col-xs-12 hidden-xs" ng-switch on="userPreferences.customerSettings.customerDisplayFormat">


                  <h4 class="person-name" ng-switch-when="first" indigeweb-truncate truncate-list=" [customer.first, customer.middle, customer.last]" truncate-limit=20 truncate-symbol="'...'"></h4>
                  <h4 class="person-name" ng-switch-when="last" indigeweb-truncate truncate-list=" [customer.last, customer.middle, customer.first]" truncate-limit=20 truncate-symbol="'...'"></h4>



                  <!-- <h4 class="person-name">  Jaideep Das</h4>-->

                  <span class="label label-info contact-cat" ng-show="showContactLabel">{{contactLabel(customer)}}</span>

                  <div class="hidden">
                    <div class="last-active text-muted">Last Active: n/a
                    </div>

                    <div class="purchased text-muted">
                      Purchased: n/a
                    </div>

                    <div class="emails-opened text-muted">
                      Emails Opened: n/a
                    </div>

                    <div class="calls-made text-muted">
                      Calls Made: n/a
                    </div>

                    <div class="customer-since text-muted">
                      Customer since: n/a
                    </div>
                  </div>
                </div>
                <div class="clearfix mb10"></div>
                <ul class="social-list hidden-xs">
                  <li>
                    <a ng-show="showEmail && checkBestEmail(customer)" href="mailto:{{email}}" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email" target="_blank"><i class="fa fa-envelope-o"></i></a>
                  </li>
                  <li>
                    <a ng-show="showFacebookId && checkFacebookId(customer)" href="https://www.facebook.com/{{facebookId}}" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a ng-show="showTwitterId && checkTwitterId(customer)" href="https://twitter.com/intent/user?user_id={{twitterId}}" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a ng-show="showLinkedInId && checkLinkedInId(customer)" href="{{ linkedInUrl ? linkedInUrl : 'http://www.linkedin.com/profile/view?id='+ linkedInId }}" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="LinkedIn"
                    target="_blank"><i class="fa fa-linkedin"></i></a>
                  </li>
                  <li>
                    <a ng-show="showAddress && checkAddress(customer)" href="https://www.google.com/maps?q={{address}}" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Location" target="_blank"><i class="fa fa-map-marker"></i></a>
                  </li>
                </ul>
                <div class="pull-right">
                  <span class="visible-inline-xs">
                                type:  |
                            </span>

                  <span data-original-title="Sources where this contact information came from" title="" data-placement="top" data-toggle="tooltip" class="tooltips hidden">sources:</span>

                  <span><i class=""></i>
                            </span>



                </div>
                <div class="clear clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
       <div ng-switch-when="false" class="row">
          <div class="tb-main table">
            <div class="container-fluid tb-row"  ng-repeat="customer in renderedCustomers | iStartsWithFilter : customerFilter">
              <div class="tb-col col-md-1">
                  <div class="people-item" style="opacity:1">
                    <span data-original-title="Important Contact" ng-click="setImportantContact(customer)" title="" data-placement="top" data-toggle="tooltip" class="important-star tooltips"> <i class="fa fa-star-o" ng-hide="customer.starred"></i> <i class="fa fa-star" ng-show="customer.starred"></i> </span>
                  </div>
                  </div>
              <div class="tb-col col-md-4">
              <div class="people-item btn-view-contact-details contact-item"  indigeweb-state-nav="customerDetail" indigeweb-state-id="{{customer._id}}"  style="opacity:1">
              <div class="media">
                <div class="col-xs-4 vcenter">
                  <img  ng-src="{{ customer.photo ? customer.photo : '/assets/icons/blank-user.jpg' }}" class="img-circle media-object thumbnail standard">
                  <span class="name visible-xs"> <h4 class="person-name" indigeweb-truncate truncate-list="[customer.first, customer.middle, customer.last]" truncate-limit=20 truncate-symbol="'...'"></h4> </span>
                </div>
                <div class="media-body vcenter col-xs-7 hidden-xs" ng-switch on="userPreferences.customerSettings.customerDisplayFormat">
                <h4 class="person-name" ng-switch-when="first" indigeweb-truncate truncate-list=" [customer.first, customer.middle, customer.last]" truncate-limit=20 truncate-symbol="'...'"></h4>
                <h4 class="person-name" ng-switch-when="last" indigeweb-truncate truncate-list=" [customer.last, customer.middle, customer.first]" truncate-limit=20 truncate-symbol="'...'"></h4>
              </div>
              </div>
              </div></div>
              <div class="tb-col col-md-4">
              <div class="" style="opacity:1">
              <ul class="social-list hidden-xs">
                <li>
                  <a ng-show="showEmail && checkBestEmail(customer)" href="mailto:{{email}}" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email" target="_blank"><i class="fa fa-envelope-o"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="tb-col col-md-4"></div>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="rightpanel rightpanel-website">
    <ul class="nav nav-tabs nav-justified">
      <li class="active"><a href="#rp-settings" data-toggle="tab">Settings</a>
      </li>
    </ul>

    <!-- Tab panes -->

    <div class="tab-content">
      <div class="tab-pane pane-settings active" id="rp-settings">

        <div class="form-group mb20">
          <button class="btn btn-warning btn-block import-contacts" data-toggle="modal" data-target="#import-contacts-modal"><i class="fa fa-cloud-upload"></i> Import Contacts</button>
        </div>


        <div class="form-group hidden">
          <a href="#" class="btn btn-success btn-block"><i class="fa fa-cloud-download"></i> Export Contacts</a>
        </div>

        <div class="form-group hidden">
          <a href="#" class="btn btn-primary btn-block"><i class="fa fa-files-o"></i> Fix Duplicates</a>
        </div>

        <div class="btn-group pull-right hidden" style="margin-right:8px;">
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            Import
            <span class="caret" />
          </button>

          <ul class="dropdown-menu " role="menu">
            <li class="btn-import-facebook"><a href="#">Import Facebook friends</a>
            </li>
            <li class="btn-import-gmail hidden"><a href="#">Import Gmail contacts</a>
            </li>
            <li class="btn-import-linkedin hidden"><a href="#">Import LinkedIn connections</a>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label>Default View</label>
          <div class="btn-group">
            <button type="button" ng-click="gridViewDisplay(true)" class="btn btn-default" ng-class="{ 'active' : listgrid }">
            <span class="fa fa-th"></span> Grid
          </button>
            <button type="button" ng-click="gridViewDisplay(false)" class="btn btn-default" ng-class="{ 'active' : !listgrid }">
            <span class="fa fa-list"></span> List
          </button>
          </div>
        </div>
        <h5 class="sidebartitle mb20">Display Settings</h5>
        <div class="form-group row">
          <label class="col-xs-12 control-label">Contacts List Display</label>
          <div class="col-xs-12">
            <select class=" form-control chosen-select sort-display" ng-model='changeDisplayFormat' data-placeholder="Sort Contacts" name="one">
              <option value="1">first, last</option>
              <option value="2">last, first</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-xs-12 control-label">Contacts List Ordering</label>
          <div class="col-xs-12">
            <select class=" form-control chosen-select sort-ordering" ng-model="sortOrder" data-placeholder="Sort Contacts" name="two">
              <option value="1">A to Z</option>
              <option value="2">Z to A</option>
              <option value="3">Date Added</option>
              -->
            </select>
          </div>
        </div>

        <div class="form-group">

          <label class="col-xs-12 control-label">Show / Hide Attributes</label>

          <div class="col-xs-12 ckbox ckbox-success">
            <input type="checkbox" id="contact-cat" ng-checked="true" ng-model="toggleCategory">
            <label for="contact-cat">Category</label>
          </div>
          <div class="col-xs-12 ckbox ckbox-success">
            <input type="checkbox" id="email_id" ng-checked="true" ng-model="toggleEmail">
            <label for="email_id">Email</label>
          </div>
          <div class="col-xs-12 ckbox ckbox-success">
            <input type="checkbox" id="facebook_id" ng-checked="true" ng-model="toggleFacebook">
            <label for="facebook_id">Facebook</label>
          </div>
          <div class="col-xs-12 ckbox ckbox-success">
            <input type="checkbox" id="twitter_id" ng-checked="true" ng-model="toggleTwitter">
            <label for="twitter_id">Twitter</label>
          </div>
          <div class="col-xs-12 ckbox ckbox-success">
            <input type="checkbox" id="linked_id" ng-checked="true" ng-model="toggleLinkedId">
            <label for="linked_id">LinkedIn</label>
          </div>
          <div class="col-xs-12 ckbox ckbox-success">
            <input type="checkbox" id="address_id" ng-checked="true" ng-model="toggleAddress">
            <label for="address_id">Address</label>
          </div>
        </div>
      </div>
      <!-- tab-pane -->
    </div>
  </div>
</div>

<div class="modal fade" id="fix-duplicates-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Fix Duplicate Contacts</h4>
      </div>
      <div class="modal-body">
        <div class="duplicates-list">
          <p>Select from the list of similar contacts to merge</p>
          <ul>
            <li><span class="name">John Doe</span> <span class="similar">2 Similar</span>
            </li>
            <li><span class="name">John Doe</span> <span class="similar">2 Similar</span>
            </li>
            <li><span class="name">John Doe</span> <span class="similar">2 Similar</span>
            </li>
            <li><span class="name">John Doe</span> <span class="similar">2 Similar</span>
            </li>
            <li><span class="name">John Doe</span> <span class="similar">2 Similar</span>
            </li>
          </ul>
        </div>
        <div class="row merge-contact">
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div class="modal fade" id="import-contacts-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Import Contacts</h4>
      </div>
      <div class="modal-body">

        <div class="row choose-import" data-import-section="choose">
          <p>Choose one of the import options from below:</p>
          <div class="clearfix mb30"></div>
          <button type="button" class="btn fb-color btn-lg btn-import-facebook" data-import-source="facebook" ng-click="importFacebookFriends()"><span class="fa fa-facebook"></span>
            <div class="clearfix mb5"></div>Facebook</button>
          <button type="button" class="btn linkedin-color btn-lg btn-import-linkedin" data-import-source="linkedin" ng-click="importLinkedInConnections()"><span class="fa fa-linkedin"></span>
            <div class="clearfix mb5"></div>LinkedIn</button>
          <button type="button" class="btn google-color btn-lg btn-import-gmail" data-import-source="googleplus" ng-click="importGmailContacts()"><span class="fa fa-google"></span>
            <div class="clearfix mb5"></div>Gmail</button>
          <div class="clearfix mb30"></div>
        </div>

        <div class="row import-success hidden" data-import-section="success">
          <span class="fa fa-check"></span>
          <div class="clearfix mb15"></div>
          <h3> Successfully Imported Contacts </h3>
          <div class="clearfix mb15"></div>
          <button class="btn btn-primary btn-lg">View Imported Contacts</button>
          <button class="btn btn-primary btn-lg">Fix Duplicate Contacts</button>
          <div class="clearfix mb30"></div>

        </div>

      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

</div>
