<div style="">

    <div class="pageheader row">
        <h2 class="col-xs-8"><i class="fa fa-users"></i> Customers</h2>

        <div class="col-xs-4">
            <div class="btn btn-success pull-right btn-create-contact" type="button">
                <i class="fa fa-plus"></i>
                <span class="hidden-xs">Add</span>
            </div>

        </div>
    </div>

    <div style="display: none;" class="alert alert-info fade in">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <h4 class="center">Hi Robin, Welcome to Customers!</h4>
        <p class="center">Okay, it's time to start managing your products. If you need assitance use any of the three ways below.</p>
        <hr class="mb30">
        <div class="col-sm-6">
            <h4><i class="fa fa-youtube-play"></i> Watch this 30 second video about managing customers.</h4>
            <img class="onboard-vid" src="/assets/images/video-holder.jpg">
        </div>
        <div class="mb30"></div>
        <div class="col-sm-6">
            <h4><i class="fa fa-compass"></i> Schedule a Demo</h4>
            <p>Schedule a personal demo with one of our customer support representatives who can show you via screen share how to manage your contacts.</p>
            <button class="btn btn-primary btn-lg">Schedule Now <i class="fa fa-caret-right"></i>
            </button>
            <hr class="mb30">
            <h4><i class="fa fa-file-text-o"></i> Read the Documentation</h4>
            <p>If you prefer a list of steps to read, then head over to our detailed documentation about all the aspects of managing your contacts.</p>
            <button class="btn btn-primary btn-lg">View Docs <i class="fa fa-caret-right"></i>
            </button>
        </div>
        <div class="clearfix mb30"></div>
    </div>

    <div style="min-height: 356px;" class="contentpanel">
        <div class="panel panel-default row">
            <div class="panel-body">
                <div class="col-sm-6">
                    <input ng-model="searchBar" placeholder="Search Customers" class="form-control mb15 input-lg  search-contacts" type="text">
                </div>
                <div class="col-sm-6 form-horizontal">
                    <div class="form-group row">
                        <select class=" form-control chosen-select input-lg">
                            <option value="">Filter Customers</option>
                            <option value="a_to_z">A to Z</option>
                            <option value="z_to_a">Z to A</option>
                            <option value="first_last">First, Last</option>
                            <option value="last_first">Last, First</option>
                            <option value="date_added">Date Added</option>
                        </select>
                    </div>
                </div>
            </div>

            <div style="width:100%; text-align:center">
                <ul class="pagination hidden-xs letter-list">

                    <li class="active"><a class="btn-letter" href="#">all</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">A</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">B</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">C</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">D</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">E</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">F</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">G</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">H</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">I</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">J</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">K</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">L</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">M</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">N</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">O</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">P</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">Q</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">R</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">S</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">T</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">U</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">V</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">W</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">X</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">Y</a>
                    </li>

                    <li class=""><a class="btn-letter" href="#">Z</a>
                    </li>

                </ul>
            </div>

        </div>
        <!-- panel -->
        <div class="people-list">
            <div class="row">



                <div ng-hide="customers.length" class="col-xs-10">
                    <h3>No Contacts Available</h3>
                </div>

                <div ng-repeat="customer in customers | filter : customerFilter | orderBy : customerOrder" class="col-xs-12 col-sm-4 col-md-3">
                    <div data-contactid="1799" class="people-item btn-view-contact-details contact-item animate">
                        <span data-original-title="Important Contact" title="" data-placement="top" data-toggle="tooltip" class="important-star tooltips">
                        <i class="fa fa-star-o" ng-hide="customer.starred"></i>
                        <i class="fa fa-star" ng-show="customer.starred"></i>
                    </span>

                        <div class="media">
                            <div class="col-xs-12f">
                                <!--//  //  // -->
                                <img src="/assets/icons/blank-user.jpg" class="img-circle media-object thumbnail standard">
                                <!-- //  //  -->

                                <span class="name visible-xs">

                                <h4>
                                      Jaideep Das
                                    <span class="label label-info contact-cat pull-right hidden-xs"></span>
                                </h4>
                                </span>

                                <div class="clear"></div>
                            </div>
                            <div class="media-body col-xs-12 hidden-xs">


                                <h4 class="person-name">{{customer.first}} {{customer.middle}} {{customer.last}}</h4>



                                <!-- <h4 class="person-name">  Jaideep Das</h4>-->

                                <span class="label label-info contact-cat"></span>

                                <div class="hidden">
                                    <div class="last-active text-muted">Last Active: n/a
                                    </div>

                                    <div class="purchased text-muted">
                                        Purchased: n/a
                                    </div>

                                    <div class="emails-opened text-muted">
                                        Emails Opened: n/a
                                    </div>

                                    <div class="calls-made text-muted">
                                        Calls Made: n/a
                                    </div>

                                    <div class="customer-since text-muted">
                                        Customer since: n/a
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix mb10"></div>
                            <ul class="social-list hidden-xs">




                                <li>



                                </li>

                                <li>



                                </li>

                                <li>


                                </li>


                                <li>
                                    <a target="_blank" ng-show="customer.details[0].addresses.length" data-original-title="Location" title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.google.com/maps?q="><i class="fa fa-map-marker"></i></a>

                                </li>
                            </ul>
                            <div class="pull-right">
                                <span class="visible-inline-xs">
                                type:  |
                            </span>

                                <span data-original-title="Sources where this contact information came from" title="" data-placement="top" data-toggle="tooltip" class="tooltips hidden">sources:</span>

                                <span><i class=""></i>
                            </span>



                            </div>
                            <div class="clear clearfix"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="fix-duplicates-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Fix Duplicate Contacts</h4>
            </div>
            <div class="modal-body">
                <div class="duplicates-list">
                    <p>Select from the list of similar contacts to merge</p>
                    <ul>
                        <li><span class="name">John Doe</span>  <span class="similar">2 Similar</span>
                        </li>
                        <li><span class="name">John Doe</span>  <span class="similar">2 Similar</span>
                        </li>
                        <li><span class="name">John Doe</span>  <span class="similar">2 Similar</span>
                        </li>
                        <li><span class="name">John Doe</span>  <span class="similar">2 Similar</span>
                        </li>
                        <li><span class="name">John Doe</span>  <span class="similar">2 Similar</span>
                        </li>
                    </ul>
                </div>
                <div class="row merge-contact">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div class="modal fade" id="import-contacts-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Import Contacts</h4>
            </div>
            <div class="modal-body">

                <div class="row choose-import" data-import-section="choose">
                    <p>Choose one of the import options from below:</p>
                    <div class="clearfix mb30"></div>
                    <button type="button" class="btn fb-color btn-lg btn-import-facebook" data-import-source="facebook"><span class="fa fa-facebook"></span> 
                        <div class="clearfix mb5"></div>Facebook</button>
                    <button type="button" class="btn linkedin-color btn-lg btn-import-linkedin" data-import-source="linkedin"><span class="fa fa-linkedin"></span> 
                        <div class="clearfix mb5"></div>LinkedIn</button>
                    <button type="button" class="btn google-color btn-lg btn-import-gmail" data-import-source="googleplus"><span class="fa fa-google"></span> 
                        <div class="clearfix mb5"></div>Gmail</button>
                    <div class="clearfix mb30"></div>
                </div>

                <div class="row " data-import-section="progress">
                    <h3 class="center">Importing <span class="num"></span> contacts from <span class="source"></span></h3>
                    <div class="clearfix mb30"></div>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>
                </div>

                <div class="row import-success hidden" data-import-section="success">
                    <span class="fa fa-check"></span>
                    <div class="clearfix mb15"></div>
                    <h3> Successfully Imported Contacts </h3>
                    <div class="clearfix mb15"></div>
                    <button class="btn btn-primary btn-lg">View Imported Contacts</button>
                    <button class="btn btn-primary btn-lg">Fix Duplicate Contacts</button>
                    <div class="clearfix mb30"></div>

                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

</div>
