<toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
<onboarding-popover enabled='showOnboarding' steps='onboardingSteps' step-index='stepIndex'
onFinishCallback='finishOnboarding'></onboarding-popover>
<div class="customer">

    <div class="pageheader row">
        <div class="col-xs-7">
            <h2><i class="fa fa-users"></i> Customers</h2>
        </div>

        <div class="col-xs-5">
            <div indigeweb-state-nav="customerAdd" class="btn btn-success pull-right btn-create-contact"
            type="button">
                <i class="fa fa-plus"></i>
                <span class="hidden-xs">Add</span>
            </div>
        </div>
    </div>

    <div style="background: #e7e7e7;" id="scrollTop" class="contentpanel" ng-style="styleCustomers()"
    indigeweb-resize indiscroller indiscroller-update='saveScrollFn'>

        <headroom class="header--fixed" tolerance='0' offset='200' scroller='.contentpanel'
        classes="{pinned:'slide--reset',unpinned:'slide--up',initial:'slide'}">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input ng-model="searchBar" placeholder="Search Customers" class="form-control input-lg  search-contacts"
                            type="text">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle input-lg" data-toggle="dropdown"
                                aria-expanded="false"><span ng-show="searchBarType=='name'">By Name</span> <span ng-show="searchBarType=='email'">By Email</span>
                                    <span
                                    class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a ng-click="searchBarType='name';">Search by name</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a ng-click="searchBarType='email';">Search by email</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb0">
                            <select class="form-control chosen-select input-lg" ng-model="sortOrder">
                                <option value="" disabled selected>Sort Contacts</option>
                                <option value="1">A to Z</option>
                                <option value="2">Z to A</option>
                                <option value="3">Date Added</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb0">
                            <select class="form-control chosen-select input-lg" ng-model="customerFilter.type">
                                <option value="" selected>All Contacts</option>
                                <option value="cu">Customer</option>
                                <option value="co">Colleague</option>
                                <option value="fr">Friend</option>
                                <option value="mb">Member</option>
                                <option value="fa">Family</option>
                                <option value="ad">Admin</option>
                                <option value="ld">Lead</option>
                                <option value="ot">Other</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div style="width:100%; text-align:center">
                    <ul class="pagination hidden-xs letter-list">

                        <li ng-show="alphaList.length"><a class="btn-letter" ng-click="alphaFilter()" ng-class="{'active': alphaSelected == null}">all</a>
                        </li>
                        <li ng-class="{'disabled': !alphaFilterStatus[alpha]}" ng-repeat="alpha in alphaList">

                            <a class="btn-letter" ng-click="alphaFilter(alpha)" ng-if="alphaFilterStatus[alpha]"
                            ng-class="{'active': alphaSelected == alpha}">{{alpha}}</a>
                            <a class="btn-letter" ng-if="!alphaFilterStatus[alpha]" tooltip="No Contact with {{alpha}}">{{alpha}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- panel -->
        </headroom>

        <div ng-switch on="userPreferences.customerSettings.gridViewDisplay" class="people-list">
            <div ng-switch-when="true" class="row">
                <div>
                    <div ng-repeat="customer in renderedCustomers" class="col-xs-12 col-sm-4 col-md-3">
                        <div data-contactid="{{customer._id}}" class="people-item btn-view-contact-details contact-item"
                        style="opacity:1">
                            <span data-original-title="Important Contact" title="" data-placement="top" data-toggle="tooltip"
                            class="important-star tooltips">
                                <i class="fa fa-star-o" ng-hide="customer.starred" ng-click="setImportantContact(customer, true)"></i>
                                <i class="fa fa-star" ng-show="customer.starred" ng-click="setImportantContact(customer, false)"></i>
                            </span>
                            <span class="label label-info contact-cat" ng-show="userPreferences.customerSettings.showContactLabel">{{contactLabel(customer)}}</span>

                            <div indigeweb-state-nav="customerDetail" indigeweb-state-id="{{customer._id}}"
                            class="media">
                                <div class="col-xs-12">
                                    <!--//  //  // -->
                                    <img ng-src="{{ customer.photo ? customer.photo : '/assets/icons/blank-user.jpg' }}"
                                    class="img-circle media-object thumbnail standard">
                                    <!-- //  //  -->

                                    <span class="name visible-xs">

                                        <h4 class="person-name center" indigeweb-truncate truncate-list="[customer.first, customer.middle, customer.last]" truncate-limit=20 truncate-symbol="'...'"></h4>
                                    </span>

                                    <div class="clear"></div>
                                </div>
                                <div class="media-body col-xs-12 hidden-xs" ng-switch on="userPreferences.customerSettings.customerDisplayFormat">


                                    <h4 class="person-name center" ng-switch-when="first" indigeweb-truncate truncate-list=" [customer.first, customer.middle, customer.last]"
                                    truncate-limit=20 truncate-symbol="'...'"></h4>
                                    <h4 class="person-name center" ng-switch-when="last" indigeweb-truncate truncate-list=" [customer.last, customer.middle, customer.first]"
                                    truncate-limit=20 truncate-symbol="'...'"></h4>

                                </div>

                                <div class="clearfix mb10"></div>
                                <ul class="social-list hidden-xs">
                                    <li>
                                        <div ng-if="userPreferences.customerSettings.showEmail && checkBestEmail(customer) && email">
                                            <i class="fa fa-envelope-o pull-left title"></i>
                                            <span class="pull-right value"><a href="mailto:{{email}}">{{email}}</a></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div ng-if="userPreferences.customerSettings.showAddress && checkAddress(customer)">
                                            <i class="fa fa-map-marker pull-left title"></i>
                                            <span class="pull-right value" ng-if="customer.details[0].addresses[0].city && customer.details[0].addresses[0].state">{{customer.details[0].addresses[0].city+', '+customer.details[0].addresses[0].state}}</span>
                                            <span class="pull-right value" ng-if="customer.details[0].addresses[0].address && !customer.details[0].addresses[0].city">{{customer.details[0].addresses[0].address}}</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div ng-if="customer.details[0].phones[0].number">
                                            <i class="fa fa-mobile pull-left title"></i>
                                            <span class="pull-right value">{{customer.details[0].phones[0].number}}</span>
                                        </div>
                                    </li>
                                    <li class="socialList">
                                        <div ng-if="userPreferences.customerSettings.showSocial && (checkFacebookId(customer) || checkTwitterId(customer) || checkLinkedInId(customer))">
                                            <p class="pull-left title">Social Accounts:</p>
                                            <ul class="pull-right value">
                                                <li ng-if="checkFacebookId(customer)"><i class="fa fa-facebook-square"></i>
                                                </li>
                                                <li ng-if="checkTwitterId(customer)"><i class="fa fa-twitter-square"></i>
                                                </li>
                                                <li ng-if="checkLinkedInId(customer)"><i class="fa fa-linkedin-square"></i>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div ng-if="userPreferences.customerSettings.showCustomerSince && customer.created.date">
                                            <p class="pull-left title">Created:</p>
                                            <span class="pull-right value">{{customer.created.date | timeAgoFilter}}</span>
                                        </div>
                                    </li>
                                </ul>
                                <!-- <div class="pull-right">
                                    <span class="visible-inline-xs">
                                        type:  |
                                    </span>

                                    <span data-original-title="Sources where this contact information came from" title="" data-placement="top" data-toggle="tooltip" class="tooltips hidden">sources:</span>

                                    <span><i class=""></i>
                                    </span>



                                </div> -->
                                <div class="clear clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-switch-when="false" class="row">
                <div class="tb-main table">
                    <div class="container-fluid tb-row" ng-repeat="customer in renderedCustomers">
                        <div class="tb-col col-md-1">
                            <div class="people-item" style="opacity:1">
                                <span data-original-title="Important Contact" title="" data-placement="top" data-toggle="tooltip"
                                class="important-star tooltips"><i class="fa fa-star-o" ng-hide="customer.starred" ng-click="setImportantContact(customer, true)"></i>
                                                                                                            <i class="fa fa-star" ng-show="customer.starred" ng-click="setImportantContact(customer, false)"></i></span>
                            </div>
                        </div>
                        <div class="tb-col col-md-3">
                            <div class="people-item btn-view-contact-details contact-item" indigeweb-state-nav="customerDetail"
                            indigeweb-state-id="{{customer._id}}" style="opacity:1">
                                <div class="media">
                                    <div class="col-xs-4 vcenter">
                                        <img ng-src="{{ customer.photo ? customer.photo : '/assets/icons/blank-user.jpg' }}"
                                        class="img-circle media-object thumbnail standard">
                                        <span class="name visible-xs"> <h4 class="person-name" indigeweb-truncate truncate-list="[customer.first, customer.middle, customer.last]" truncate-limit=20 truncate-symbol="'...'"></h4> </span>
                                    </div>
                                    <div class="media-body vcenter col-xs-7 hidden-xs" ng-switch on="userPreferences.customerSettings.customerDisplayFormat">
                                        <h4 class="person-name" ng-switch-when="first" indigeweb-truncate truncate-list=" [customer.first, customer.middle, customer.last]"
                                        truncate-limit=20 truncate-symbol="'...'"></h4>
                                        <h4 class="person-name" ng-switch-when="last" indigeweb-truncate truncate-list=" [customer.last, customer.middle, customer.first]"
                                        truncate-limit=20 truncate-symbol="'...'"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tb-col col-md-1">
                            <div class="people-item" ng-if="userPreferences.customerSettings.showEmail && checkBestEmail(customer) && email">
                                <i class="fa fa-envelope-o pull-left title"></i>
                                <span class="pull-right value">{{email}}</span>
                            </div>
                        </div>
                        <div class="tb-col col-md-2">
                            <div class="people-item" ng-if="userPreferences.customerSettings.showAddress && checkAddress(customer)">
                                <i class="fa fa-map-marker pull-left title"></i>
                                <span class="pull-right value" ng-if="customer.details[0].addresses[0].city && customer.details[0].addresses[0].state">{{customer.details[0].addresses[0].city+', '+customer.details[0].addresses[0].state}}</span>
                                <span class="pull-right value" ng-if="customer.details[0].addresses[0].address && !customer.details[0].addresses[0].city">{{customer.details[0].addresses[0].address}}</span>
                            </div>
                        </div>
                        <div class="tb-col col-md-1">
                            <div class="people-item" ng-if="customer.details[0].phones[0].number">
                                <i class="fa fa-mobile pull-left title"></i>
                                <span class="pull-right value">{{customer.details[0].phones[0].number}}</span>
                            </div>
                        </div>
                        <div class="tb-col col-md-2">
                            <div class="people-item" ng-if="userPreferences.customerSettings.showSocial && (checkFacebookId(customer) || checkTwitterId(customer) || checkLinkedInId(customer))">
                                <p class="pull-left title">
                                    Social Accounts:
                                </p>
                                <ul class="pull-right social-list value">
                                    <li ng-if="checkFacebookId(customer)">
                                        <i class="fa fa-facebook-square"></i>
                                    </li>
                                    <li ng-if="checkTwitterId(customer)">
                                        <i class="fa fa-twitter-square"></i>
                                    </li>
                                    <li ng-if="checkLinkedInId(customer)">
                                        <i class="fa fa-linkedin-square"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="tb-col col-md-2">
                            <div class="people-item" ng-if="userPreferences.customerSettings.showCustomerSince && customer.created.date">
                                <p class="pull-left title">Created:</p>
                                <span class="pull-right value">{{customer.created.date | timeAgoFilter}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="renderedCustomers.length < 0" class="empty">
            <h1 class="center"><span class="fa fa-users"></span></h1>
            <h3 class="center">No Contacts Yet</h3>
            <h5 class="center">Add contacts for them to appear here.</h5>
        </div>
    </div>

    <div class="rightpanel rightpanel-website">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#rp-settings" data-toggle="tab">Settings</a>
            </li>
        </ul>

        <!-- Tab panes -->

        <div class="tab-content">
            <div class="tab-pane pane-settings active" id="rp-settings">

                <div class="form-group mb20">
                    <button class="btn btn-warning btn-block import-contacts" data-toggle="modal" data-target="#import-contacts-modal"><i class="fa fa-cloud-upload"></i> Import Contacts</button>
                </div>


                <div class="form-group hidden">
                    <a href="#" class="btn btn-success btn-block"><i class="fa fa-cloud-download"></i> Export Contacts</a>
                </div>

                <div class="form-group hidden">
                    <a href="#" class="btn btn-primary btn-block"><i class="fa fa-files-o"></i> Fix Duplicates</a>
                </div>

                <div class="btn-group pull-right hidden" style="margin-right:8px;">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        Import
                        <span class="caret" />
                    </button>

                    <ul class="dropdown-menu " role="menu">
                        <li class="btn-import-facebook"><a href="#">Import Facebook friends</a>
                        </li>
                        <li class="btn-import-gmail hidden"><a href="#">Import Gmail contacts</a>
                        </li>
                        <li class="btn-import-linkedin hidden"><a href="#">Import LinkedIn connections</a>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label>Default View</label>
                    <div class="btn-group">
                        <button type="button" ng-click="setDefaultView('true')" class="btn btn-default"
                        ng-class="{'active': gridViewDisplay
                                                                                === 'true'}">
                            <span class="fa fa-th"></span> Grid
                        </button>
                        <button type="button" ng-click="setDefaultView('false')" class="btn btn-default"
                        ng-class="{'active': gridViewDisplay === 'false'}">
                            <span class="fa fa-list"></span> List
                        </button>
                    </div>
                </div>
                <h5 class="sidebartitle mb20">Display Settings</h5>
                <div class="form-group row">
                    <label class="col-xs-12 control-label">Contacts List Display</label>
                    <div class="col-xs-12">
                        <select class=" form-control chosen-select sort-display" ng-model='changeDisplayFormat'
                        data-placeholder="Sort Contacts" name="one">
                            <option value="1">first, last</option>
                            <option value="2">last, first</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-xs-12 control-label">Contacts List Ordering</label>
                    <div class="col-xs-12">
                        <select class=" form-control chosen-select sort-ordering" ng-model="sortOrderSettings"
                        data-placeholder="Sort Contacts" name="two">
                            <option value="1">A to Z</option>
                            <option value="2">Z to A</option>
                            <option value="3">Date Added</option>
                            -->
                        </select>
                    </div>
                </div>

                <div class="form-group">

                    <label class="col-xs-12 control-label">Show / Hide Attributes</label>

                    <div class="col-xs-12 ckbox ckbox-success">
                        <input type="checkbox" id="contact-cat" ng-checked="userPreferences.customerSettings.showContactLabel"
                        ng-model="toggleCategory">
                        <label for="contact-cat">Category</label>
                    </div>
                    <div class="col-xs-12 ckbox ckbox-success">
                        <input type="checkbox" id="email_id" ng-checked="userPreferences.customerSettings.showEmail"
                        ng-model="toggleEmail">
                        <label for="email_id">Email</label>
                    </div>
                    <div class="col-xs-12 ckbox ckbox-success">
                        <input type="checkbox" id="social_id" ng-checked="scope.userPreferences.customerSettings.showSocial"
                        ng-model="toggleSocial">
                        <label for="social_id">Social</label>
                    </div>
                    <div class="col-xs-12 ckbox ckbox-success">
                        <input type="checkbox" id="address_id" ng-checked="userPreferences.customerSettings.showAddress"
                        ng-model="toggleAddress">
                        <label for="address_id">Address</label>
                    </div>
                    <div class="col-xs-12 ckbox ckbox-success">
                        <input type="checkbox" id="customer_since_id" ng-checked="userPreferences.customerSettings.showCustomerSince"
                        ng-model="toggleCustomerSince">
                        <label for="customer_since_id">Created</label>
                    </div>
                </div>
            </div>
            <!-- tab-pane -->
        </div>
    </div>
</div>

<div class="modal fade" id="fix-duplicates-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Fix Duplicate Contacts</h4>
            </div>
            <div class="modal-body">
                <div class="duplicates-list">
                    <p>Select from the list of similar contacts to merge</p>
                    <ul>
                        <li><span class="name">John Doe</span>  <span class="similar">2 Similar</span>
                        </li>
                        <li><span class="name">John Doe</span>  <span class="similar">2 Similar</span>
                        </li>
                        <li><span class="name">John Doe</span>  <span class="similar">2 Similar</span>
                        </li>
                        <li><span class="name">John Doe</span>  <span class="similar">2 Similar</span>
                        </li>
                        <li><span class="name">John Doe</span>  <span class="similar">2 Similar</span>
                        </li>
                    </ul>
                </div>
                <div class="row merge-contact">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div class="modal fade" id="import-contacts-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Import Contacts</h4>
            </div>
            <div class="modal-body">

                <div class="row choose-import" data-import-section="choose">
                    <p class="center"><b>Choose one of the import options from below:</b>
                    </p>
                    <div class="clearfix mb30"></div>
                    <ul>
                        <!-- <li>
                            <button type="button" class="btn fb-color btn-lg btn-import-facebook" data-import-source="facebook"
                            ng-click="importFacebookFriends()"><span class="fa fa-facebook"></span>
                            </button>
                            <div class="clearfix mb5"></div>
                            Facebook
                        </li> -->
                        <li>
                            <button type="button" class="btn linkedin-color btn-lg btn-import-linkedin" data-import-source="linkedin"
                            ng-click="importLinkedInConnections()"><span class="fa fa-linkedin"></span>
                            </button>
                            <div class="clearfix mb5"></div>
                            LinkedIn
                        </li>
                        <li>
                            <button type="button" class="btn google-color btn-lg btn-import-gmail" data-import-source="googleplus"
                            ng-click="importGmailContacts()"><span class="fa fa-google"></span>
                            </button>
                            <div class="clearfix mb5"></div>
                            Gmail
                        </li>
                    </ul>
                    <div class="clearfix mb30"></div>
                </div>

                <div class="row import-success hidden" data-import-section="success">
                    <span class="fa fa-check"></span>
                    <div class="clearfix mb15"></div>
                    <h3> Successfully Imported Contacts </h3>
                    <div class="clearfix mb15"></div>
                    <button class="btn btn-primary btn-lg">View Imported Contacts</button>
                    <button class="btn btn-primary btn-lg">Fix Duplicate Contacts</button>
                    <div class="clearfix mb30"></div>

                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

</div>
