<toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
<div class="indi-assistant">

    <div class="pageheader row">
        <div class="col-xs-7">
            <h2><i class="fa fa-magic"></i> Support</h2>
        </div>
    </div>

    <!-- <div class="initial-screen" ng-if="!initialWelcome" ng-style="styleIndiWelcome()" indigeweb-resize>
        <div class="mb40"></div>
        <div>
            <div class="col-xs-7">
                <div class="bubble pull-right">
                    <h2>Hi, I’m Indi!</h2>

                    <h4>Thank You for Signing Up.</h4>
                    <p>I’m here to assist you with setting up your business and answering any questions you may have.
                        <br>
                        <br> Press the Get Started button below and I can have you ready to go in no time!</p>

                    <button class="btn btn-primary btn-lg btn-block" ng-click="clearWelcome()">GET STARTED <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            <div class="col-xs-5">
                <img style="margin-left: 40px;" src="https://s3-us-west-2.amazonaws.com/indigenous-admin/indi-full.png" alt="">
            </div>
        </div>
    </div> -->

    <div class="header-menu-row">
        <div class="btn-group col-xs-12 template-btns">
            <button type="button" class="btn btn-default btn-lg col-xs-6 btn-view-pages" ng-class="{'active': activeTab === 'getting-started'}" ng-click="showToaster = false; activeTab = 'getting-started'">
                <i class="fa fa-file-text-o"></i>
                <span class="hidden-xs">Getting Started
                </span>
            </button>
            <button type="button" class="btn btn-default btn-lg col-xs-6 btn-view-posts" ng-class="{'active': activeTab === 'help-topics'}" ng-click="showToaster = false; activeTab = 'help-topics';">
                <i class="fa fa-newspaper-o"></i>
                <span class="hidden-xs">Help Topics</span>
            </button>
        </div>
    </div>

    <div class="contentpanel" ng-switch="activeTab" ng-style="styleIndi()" indigeweb-resize>
            <div class="getting-started-section" ng-switch-when="getting-started">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="avatar col-sm-1 col-sm-offset-2 col-xs-12">
                            <h1 style="font-size:65px"><i class="fa fa-magic"></i></h1>
                            <div class="visible-xs clearfix mb20"></div>
                        </div>
                        <div class="content col-sm-7 col-xs-12">
                            <h3>Getting the Most Out of Indigenous</h3>
                            <h4>Complete the tasks below to set up your account and take full advantage of the platform</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="panel panel-default widget-messaging">
                    <div class="profile panel-body">
                        <ul class="task-list">
                            <li class="complete">
                                <h1 class="pull-left"><i class="fa fa-check-circle-o"></i></h1>
                                <small class="pull-right done">COMPLETE</small>
                                <h3 class="pull-left">Sign Up For Indigenous</h3>
                                <div class="clearfix mb5"></div>
                                <div class="task-desc">
                                    <p>
                                        <b>You completed the most difficult task of starting to take control of your business.</b>
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li ng-click="startTask('account/edit', 'basic-info')" ng-class="{complete: userPreferences.tasks.basic_info }">
                                <h1 class="pull-left"><i class="fa" ng-class="{'fa-check-circle-o' : userPreferences.tasks.basic_info , 'fa-circle-o' : !userPreferences.tasks.basic_info }"></i></h1>
                                <small class="pull-right done" ng-if="userPreferences.tasks.basic_info">COMPLETE</small>
                                <h3 class="pull-left">Basic Account Information</h3>
                                <div class="clearfix mb5"></div>
                                <div class="task-desc">
                                    <p>
                                        <b>Enter the basic information about your business like your address and logo.</b>
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li ng-click="startTask('website', 'select-theme')" ng-class="{complete: userPreferences.tasks.select_theme }">
                                <h1 class="pull-left"><i class="fa" ng-class="{'fa-check-circle-o' : userPreferences.tasks.select_theme , 'fa-circle-o' : !userPreferences.tasks.select_theme }"></i></h1>
                                <small class="pull-right done" ng-if="userPreferences.tasks.select_theme">COMPLETE</small>
                                <h3 class="pull-left">Select A Theme</h3>
                                <div class="clearfix mb5"></div>
                                <div class="task-desc">
                                    <p>
                                        <b>Select a theme for your front facing website where your customers can visit.</b>
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li ng-click="startTask('account', 'connect-social')">
                                <h1 class="pull-left"><i class="fa fa-circle-o"></i></h1>
                                <small class="pull-right"></small>
                                <h3 class="pull-left">Connect Social Accounts</h3>
                                <div class="clearfix mb5"></div>
                                <div class="task-desc">
                                    <p>
                                        <b>Connect your social account so you can import contacts and create marketing campaigns.</b>
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li ng-click="startTask('customer', 'create-contact')">
                                <h1 class="pull-left"><i class="fa fa-circle-o"></i></h1>
                                <small class="pull-right"></small>
                                <h3 class="pull-left">Import / Create Contacts</h3>
                                <div class="clearfix mb5"></div>
                                <div class="task-desc">
                                    <p>
                                        <b>Import your contact from your various accounts or create them.</b>
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li ng-click="startTask('marketing', 'create-campaign')">
                                <h1 class="pull-left"><i class="fa fa-circle-o"></i></h1>
                                <small class="pull-right"></small>
                                <h3 class="pull-left">Create First Campaign</h3>
                                <div class="clearfix mb5"></div>
                                <div class="task-desc">
                                    <p>
                                        <b>Create your first campaign to start getting vistors.</b>
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li ng-click="startTask('commerce', 'add-product')">
                                <h1 class="pull-left"><i class="fa fa-circle-o"></i></h1>
                                <small class="pull-right"></small>
                                <h3 class="pull-left">Import / Create Products</h3>
                                <div class="clearfix mb5"></div>
                                <div class="task-desc">
                                    <p>
                                        <b>Import or create new products to start selling and creating revenue.</b>
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li ng-click="startTask('wesbite', 'add-post')">
                                <h1 class="pull-left"><i class="fa fa-circle-o"></i></h1>
                                <small class="pull-right"></small>
                                <h3 class="pull-left">Create First Blog Post</h3>
                                <div class="clearfix mb5"></div>
                                <div class="task-desc">
                                    <p>
                                        <b>Keep everyone up to date and informed with a regular blog.</b>
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <h1 class="pull-left"><i class="fa fa-circle-o"></i></h1>
                                <small class="pull-right"></small>
                                <h3 class="pull-left">Discover the Dashboard</h3>
                                <div class="clearfix mb5"></div>
                                <div class="task-desc">
                                    <p>
                                        <b>Now evetything is set up, its time to start trakcing.</b>
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="help-topics-section" ng-switch-when="help-topics">
                <div class="row">
                <div class="col-xs-12 panel-group" id="accordion">
                        <div class="panel pane-default" ng-repeat="topic in topics">
                            <span ng-init="topic[$index] = false" />
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-target="#collapse{{$index}}" ng-click="topic[$index] = !topic[$index]" style="background-color: #5BC0DE; color: white;" class="collapsed">
                                        <span ng-hide="topic[$index]" class="glyphicon glyphicon-plus-sign">{{flag}}</span>
                                        <span ng-show="topic[$index]" class="glyphicon glyphicon-minus-sign">{{flag}}</span> {{topic.title}}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse{{$index}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {{topic.text}}
                                </div>
                            </div>
                        </div>
                </div>
                </div>
            </div>
    </div>

    <div class="rightpanel rightpanel-website">
    </div>

    <div id="step-1" class="single-step carousel-step">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-wrap="false" data-interval="0">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div>
                        <img src="https://s3-us-west-2.amazonaws.com/indigenous-admin/onboard.jpg" alt="" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="carousel-caption">
                        <h4>Welcome to Indigenous</h4>
                        <p>My name is <b>Indi</b> and I’m here to assist you with setting up your business and answering any questions you may have. So here is how everything works...</p>
                    </div>
                    <div class="carousel-ctrls">
                        <!-- Controls -->
                        <a class="btn btn-block btn-lg btn-primary pull-right" href="#carousel-example-generic" role="button" data-slide="next">
                            Next <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <img src="https://s3-us-west-2.amazonaws.com/indigenous-admin/business-ina-box.jpg" alt="" />
                    <div class="carousel-caption">
                        <h4>Together at Last</h4>
                        <p>No more logging into multiple online services to run your business. Indigenous will provide all things needed for your business in one place.</p>
                    </div>
                    <div class="carousel-ctrls">
                        <!-- Controls -->
                        <a class="btn btn-block btn-lg btn-primary pull-right" href="#carousel-example-generic" role="button" data-slide="next">
                            Next <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <img src="https://s3-us-west-2.amazonaws.com/indigenous-admin/monitoring.jpg" alt="" />
                    <div class="carousel-caption">
                        <h4>Track and Analyze Everything</h4>
                        <p>We track everything from the click and scroll your customers make on your site. Combining you sales data with customer habits creates actionable intelligence based on real data.</p>
                        <!--                  <a class="btn btn-success btn-block" href="#" data-powertour-action="stop">
                                    GET STARTED
                                </a> -->
                    </div>
                    <div class="carousel-ctrls">
                        <!-- Controls -->
                        <a class="btn btn-success btn-lg btn-block" href="#" data-powertour-action="stop" ng-click="clearWelcome()">
                            GET STARTED <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!--         <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol> -->

        </div>
    </div>
</div>
