<div class="website" ng-class="{true: 'editing', false: ''}[isEditing == true]">
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
    <div class="pageheader row website-controls" ng-class="{true: 'editing', false: ''}[isEditing == true]">
        <div class="col-xs-7 pages-editing">
            <a class="btn btn-success pull-left" type="button" href="/admin#/website" style="margin-left: 10px;">
                <span class="fa fa-chevron-left"></span> <span class="hidden-xs">Back</span>
            </a>
            <h2 class="pull-left" style="margin-right: 15px;" ng-show="isEditing"><i class="fa fa-desktop"></i><div class="hidden-xs div-header"> Editing {{currentPage.title}}</div></h2>
            <h2 class="pull-left hidden-xs" style="margin-right: 15px;" ng-show="!isEditing"><i class="fa fa-desktop"></i><div class="hidden-xs div-header"> Website</div></h2>
            <div class="btn-group pull-left" dropdown is-open="status.isopen">
                <button type="button" class="btn btn-orange dropdown-toggle" ng-disabled="disabled" ng-show="!isEditing">
                    <div class="hidden-xs div-header">
                        {{currentPage.title}}</div>
                    <span class="caret"></span>
                </button>

            </div>
        </div>
        <div class="col-xs-5">

            <a class="btn btn-success pull-right btn-edit-page" type="button" ng-click="editPage()" ng-show="!isEditing">
                <i class="fa fa fa-edit"></i>
                <span class="hidden-xs">Edit</span>
            </a>

            <a class="btn btn-success pull-right btn-save-page" type="button" ng-click="savePage()" ng-show="isEditing" ng-disabled="!iframeLoaded">

                <span>
                     <span class="hidden-xs" ng-if="!saveLoading"> Save </span>
                     <span class="hidden-xs" ng-if="saveLoading"> Saving </span>
                     <i class="fa fa-spinner fa-spin" ng-if="saveLoading"></i>
                 </span>
            </a>
            <a ng-confirm-click class="btn btn-warning pull-right btn-cancel-page" type="button" style="margin-right:5px" confirmed-click="cancelPage()" ng-show="isEditing" ng-disabled="!iframeLoaded">
                <i class="fa fa fa-times"></i>
                <span class="hidden-xs">Cancel</span>
            </a>

            <a class="btn btn-success pull-right media-modal hidden" on-insert-mediacb="insertMedia" user='user' data-main='true'>
                <i class="fa fa fa-image"></i>
                <span class="hidden-xs">Media</span>
            </a>

            <div class="clearfix"></div>
        </div>
    </div>

    <img ng-show="isMobile" src="https://s3-us-west-2.amazonaws.com/indigenous-admin/iphone-background.png">
    <div block-ui="editBlockUI">
    <iframe id="iframe-website" name="iframe-website" src="" ng-style="styleWebsite()" indigeweb-resize></iframe>
    </div>
    <div class="rightpanel rightpanel-website">
        <tabset>
            <!-- <tab>
                <tab-heading>
                    <i class="fa fa-paint-brush" tooltip-placement="bottom" tooltip="Theme"></i>
                </tab-heading>
                <div class="rightpanelinner">
                    <h5 class="sidebartitle">Current Theme</h5>
                    <hr/>
                    <div id="current-theme">
                        <p>{{currentTheme.name}}</p>
                        <div class="row">
                            <div class="col-xs-6">
                                <img ng-src="{{currentTheme.previewUrl}}" class="theme-img" />
                            </div>
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#change-theme-modal">Change</button>
                            </div>
                        </div>

                        <div class="mb30"></div>
                        <div class="form-group">
                            <label for="colorpicker">Color Primary:</label>
                            <spectrum-colorpicker format="'hex'" options="spectrum.options" ng-model="website.settings.primary_color"
                            class="pull-right" ng-change="updateThemeSettings()"></spectrum-colorpicker>
                        </div>
                        <div class="form-group">
                            <label for="colorpicker">Color Secondary:</label>
                            <spectrum-colorpicker format="'hex'" options="spectrum.options" ng-model="website.settings.secondaryColor"
                            class="pull-right" ng-change="updateThemeSettings()"></spectrum-colorpicker>
                        </div>
                        <div class="form-group">
                            <label for="colorpicker">Highlight Primary:</label>
                            <spectrum-colorpicker format="'hex'" options="spectrum.options" ng-model="website.settings.primaryHighlight"
                            class="pull-right" ng-change="updateThemeSettings()"></spectrum-colorpicker>
                        </div>
                        <div class="form-group">
                            <label for="colorpicker">Text Color Primary:</label>
                            <spectrum-colorpicker format="'hex'" options="spectrum.options" ng-model="website.settings.primaryTextColor"
                            class="pull-right" ng-change="updateThemeSettings()"></spectrum-colorpicker>
                        </div>
                        <div class="form-group">
                            <label for="colorpicker">Font Family Primary:</label>
                            <jd-fontselect on-open="editPage()" stack="primaryFontStack" on-change="updatePrimaryFont(font)"
                            rawText="{ toggleOpenLabel: 'Mach uff!' }"></jd-fontselect>
                        </div>
                        <div class="form-group">
                            <label for="colorpicker">Font Family Secondary:</label>
                            <jd-fontselect stack="secondaryFontStack" rawText="{ toggleOpenLabel: 'Mach uff!' }"></jd-fontselect>
                        </div>
                    </div>

                    <div class="form-group subdomain">
                        <label for="current-domain" class="tooltips" data-toggle="tooltip" data-placement="bottom"
                        title="" data-original-title="This is the domain that was automatically created when you signed up.">Indigenous Domain</label>
                        <input id="current-domain" class="form-control input-lg" type="text" ng-model="account.subdomain"
                        ng-change="checkIfSubdomainExists()">
                    </div>
                </div>
            </tab> -->
            <tab>
                <tab-heading>
                    Settings
                </tab-heading>
                <div ng-if="!single_post" class="rightpanelinner">
                    <div class="form-group">
                        <label>Title:</label>
                        <input class="form-control input-lg" type="text" ng-model="currentPage.title" ng-change="editPage()">
                    </div>
                    <div class="form-group" ng-hide="currentPage.handle == 'index'">
                        <label>URL:</label>
                        <input class="form-control input-lg" type="text" ng-model="currentPage.handle" ng-change="editPage()">
                    </div>
                    <div class="form-group" ng-hide="currentPage.handle == 'index'">
                        <label>Show:</label>
                        <input bs-switch ng-model="currentPage.visible.visibility" type="checkbox" class="pull-right" ng-change="editPage()">
                    </div>
                    <div class="form-group">
                        <label>Secure:</label>
                        <input bs-switch ng-model="currentPage.secure" type="checkbox" class="pull-right" ng-change="editPage()">
                    </div>

                    <div class="mb20"></div>

                    <div class="well">
                        <p>Danger Zone</p>
                        <button class="btn btn-block btn-danger" confirm-click2 data-placement="top" data-ng-disabled="currentPage.handle==='index'" confirm-click2-confirm="deletePage()"><i class="fa fa-trash"></i> Delete Page</button>
                    </div>
                </div>
                <div ng-if="single_post" class="rightpanelinner">
                    <div class="form-group">
                        <label>Title:</label>
                        <input class="form-control input-lg" type="text" ng-model="post_data.post_title">
                    </div>
                    <div class="form-group">
                        <label>URL:</label>
                        <input class="form-control input-lg" type="text" ng-model="post_data.post_url">
                    </div>

                    <div class="mb20"></div>

                    <div class="well">
                        <p>Danger Zone</p>
                        <button class="btn btn-block btn-danger" confirm-click2 data-placement="top" confirm-click2-confirm="deletePost(post_data)"><i class="fa fa-trash"></i> Delete Post</button>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>

    <!-- Change Theme Modal -->
    <div class="modal fade" id="change-theme-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Change Theme</h4>
                </div>
                <div class="modal-body">
                    <ul class="pagination hidden">
                        <li class="disabled"><a href="#">«</a>
                        </li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
                        </li>
                        <li><a href="#">2</a>
                        </li>
                        <li><a href="#">3</a>
                        </li>
                        <li><a href="#">4</a>
                        </li>
                        <li><a href="#">5</a>
                        </li>
                        <li><a href="#">»</a>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-6 theme" ng-class="{selected: theme.name == currentTheme.name, success: theme.name == selectedTheme.name}" ng-repeat="theme in themes" ng-click="changeSelectedTheme(theme)">
                            <div class="thumbnail" data-themeid="">
                                <div class="check-theme" style="display:none"><i class="fa fa-check-circle"></i>
                                </div>
                                <img ng-src="{{theme.previewUrl}}">
                                <div class="caption">
                                    <h5>{{theme.name}}</h5>
                                    <p>{{theme.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary change-theme" ng-click="changeTheme()" ng-disabled="!selectedTheme">Change Theme <span ng-if="selectedTheme.name"> to {{selectedTheme.name}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /. modal -->

    <!-- Add Component Modal -->
    <div class="modal fade" id="add-component-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add Component</h4>
                    </div>
                    <div class="modal-body">
                        <!--   <div class="form-group">
                            <label for="component-name" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Enter the Name of the component.">Component Name</label>
                            <input id="component-name" class="form-control input-lg" type="text" value="" ng-model="component.title">
                        </div> -->
                        <!-- <div class="form-group">
                            <label for="component-name" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Enter the Name of the component.">Component Type</label>
                            <select id="component-type" class=" form-control chosen-select" data-placeholder="Contact Us" ng-model="component.type">
                                <option value=""></option>
                                <option value="feature-list-Compare" disabled>Feature List Compare</option>
                                <option value="freeform" disabled>Freeform</option>
                                <option value="footer">Footer</option>
                                <option value="link-button-text" disabled>Link Button Text</option>
                                <option value="social-feed" disabled>Social Feed</option>
                                <option value="video">Video</option>
                                <option value="video-text" disabled>Video Text</option>
                            </select>
                        </div> -->
                        <div class="row">

                            <div class="col-xs-12 componentOption" ng-repeat="type in componentTypes| orderBy:'title'" ng-class="{success: type.title === selectedComponent.title}" ng-click="selectComponent(type)" ng-if="type.enabled">
                                <div class="thumbnail">
                                    <div class="check-component" style="display:none"><i class="fa fa-check-circle"></i>
                                    </div>
                                    <div class="component-icon"><img src="{{type.preview}}" width="100%" />
                                    </div>
                                    <div class="caption">
                                        <h5 class="center">{{type.title}}</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-add-component" data-dismiss="modal" ng-click="addComponent()" ng-disabled="!selectedComponent">Add {{selectedComponent.title}}</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Component Settings Modal -->
    <div class="modal" data-backdrop="false" id="component-setting-modal" tabindex="-1" role="dialog" indigeweb-draggable-modal aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-btns">
                        <a aria-hidden="true" class="close" data-dismiss="modal" type="button" style="margin-left: 15px;">×</a>
                        <a aria-hidden="true" class="close" type="button" style="line-height: 24px;" ng-mouseenter="hover = true" ng-mouseleave="hover = false"><i class="fa fa-eye" style="font-size: 20px;"></i></a>
                      </div>
                    <h4 class="modal-title">{{componentEditing.title | htmlToPlaintext}} Settings</h4>
                </div>
                <div class="modal-body" style="padding:0;" ng-class="{hidden: hover}">
                    <tabset>
                        <tab ng-show="componentEditing">
                            <tab-heading>
                                <span>Basic</span>
                            </tab-heading>
                            <div class="righstpanelinner">
                                <div class="form-group" ng-if="componentEditing.type === 'navigation'">
                                    <label>Nav BG Color:</label>
                                    <spectrum-colorpicker format="hex" options="spectrum.options" class="pull-right" ng-model="componentEditing.nav.bg" ng-change="saveComponent()"></spectrum-colorpicker>
                                </div>
                                <div class="form-group">
                                    <label for="colorpicker">Text Color:</label>
                                    <spectrum-colorpicker format="'hex'" options="spectrum.options" class="pull-right" ng-model="componentEditing.txtcolor" ng-change="saveComponent()"></spectrum-colorpicker>
                                </div>
                                <div class="form-group" ng-show="!componentEditing.bg.img.show" ng-if="componentEditing.type != 'navigation' ">
                                    <label for="colorpicker">Background Color:</label>
                                    <spectrum-colorpicker format="'hex'" options="spectrum.options" class="pull-right" ng-model="componentEditing.bg.color" ng-change="saveComponent()"></spectrum-colorpicker>
                                </div>
                                <div class="form-group" ng-if="componentEditing.type != 'navigation'">
                                    <label for="bg_hide">Show Background Image</label>
                                    <input id="bg_hide" bs-switch ng-model="componentEditing.bg.img.show" type="checkbox" class="pull-right" ng-change="saveComponent()">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-horizontal hidden" ng-if="componentEditing.type === 'navigation'">
                                    <label>Logo Settings:</label>
                                    </hr>
                                    <label>Margin:</label>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <div class="col-xs-2">
                                                <label>Top:</label>
                                            </div>
                                            <div class="col-xs-10">
                                                <input type="number" placeholder="10px" ng-model="componentEditing.logo.margin.t" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-2">
                                                <label>Right:</label>
                                            </div>
                                            <div class="col-xs-10">
                                                <input type="number" placeholder="10px" ng-model="componentEditing.logo.margin.r" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                           <div class="col-xs-2">
                                                <label>Bottom:</label>
                                            </div>
                                            <div class="col-xs-10">
                                                <input type="number" placeholder="10px" ng-model="componentEditing.logo.margin.b" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-2">
                                                <label>Left:</label>
                                            </div>
                                            <div class="col-xs-10">
                                                <input type="number" placeholder="10px" ng-model="componentEditing.logo.margin.l" class="form-control">
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="form-group hidden" ng-if="componentEditing.type === 'navigation'">
                                    <label>Padding:</label>
                                    <input type="text" placeholder="10px" ng-model="componentEditing.logo.padding">
                                </div>

                                <div class="clearfix"></div>
                                <div class="form-group" ng-show="componentEditing.bg.img.show" ng-if="componentEditing.bg.img.url">
                                    <label for="bgimg" tooltip-placement="top" tooltip="The bg image of the component">Background Image</label>

                                    <div class="bgimg" id="bgimg">
                                        <i class="fa fa-close" ng-click="componentEditing.bg.img.url=null"></i>
                                        <img ng-src="{{componentEditing.bg.img.url}}" ng-model="componentEditing.bg.img.url" media-modal-show-insert="true" data-toggle="modal" data-target="#media-manager-modal" ng-change="saveComponent()" class="img-thumbnail">
                                    </div>

                                </div>

                                <div class="form-group" ng-show="componentEditing.bg.img.show" ng-if="!componentEditing.bg.img.url">
                                    <input id="abi" ng-model="componentEditing.bg.img.url" media-modal-show-insert="true" type="button" class="pull-right btn btn-primary" ng-model="componentEditing.bg.img.url" data-toggle="modal" data-target="#media-manager-modal" ng-change="saveComponent()" value="Add BG Image">
                                </div>
                                <div class="form-group" ng-show="componentEditing.bg.img.show" ng-if="componentEditing.type != 'navigation'">
                                    <label for="bg_blur">Blur BG</label>
                                    <input id="bg_blur" bs-switch ng-model="componentEditing.bg.img.blur" type="checkbox" class="pull-right" ng-change="saveComponent()">
                                </div>

                                <div class="form-group" ng-if="componentEditing.type != 'navigation'" ng-show="componentEditing.bg.img.show">
                                    <label for="bg_parallax" ng-if="componentEditing.type != 'navigation'">Parallax:</label>
                                    <input id="bg_parallax" bs-switch ng-model="componentEditing.bg.img.parallax" type="checkbox" class="pull-right" ng-change="saveComponent()">
                                </div>
                                <div class="form-group" ng-if="componentEditing.type != 'navigation'" ng-show="componentEditing.bg.img.show">
                                    <label for="bg_overlay">Add Overlay</label>
                                    <input id="bg_overlay" bs-switch ng-model="componentEditing.bg.img.overlay" type="checkbox" class="pull-right" ng-change="saveComponent()">
                                </div>

                                <div class="form-group" ng-if="componentEditing.type == 'masthead'" ng-show="componentEditing.bg.img.show">
                                    <label for="bg_position">BG Position</label>
                                    <select id="bg_position" ng-model="componentEditing.bg.img.position" ng-change="saveComponent()" class="form-control input-lg">
                                        <option value="center">Center</option>
                                        <option value="left">Left</option>
                                        <option value="right">Right</option>
                                    </select>
                                </div>

                                <div class="clearfix mb15"></div>
                            </div>
                        </tab>
                        <tab>
                            <tab-heading>
                                <span>Advanced</span>
                            </tab-heading>
                            <div class="form-group">
                                <label for="colorpicker">Visibility:</label>
                                <input bs-switch ng-model="componentEditing.visibility" type="checkbox" class="pull-right" ng-change="saveComponent()">
                            </div>
                            <div class="form-group" ng-if="componentEditing.type != 'navigation'">
                                <label for="component-title" tooltip-placement="top" tooltip="The anchor of the component">Anchor</label>
                                <input class="form-control input-lg" type="text" ng-model="componentEditing.anchor" ng-change="saveComponent()">
                            </div>
                            <div class="form-group">
                                <label for="component-title" tooltip-placement="top" tooltip="The version of the component">Version</label>
                                <select ng-model="componentEditing.version" ng-change="saveComponent()" ng-options="version for version in componentEditingVersions" class="form-control input-lg mb0">
                                </select>

                            </div>
                            <div class="form-group" ng-if="componentEditing.type == 'image-text'">
                                <label for="colorpicker">Image Style:</label>
                                <select ng-model="componentEditing.imagestyle" ng-change="saveComponent()" class="form-control input-lg">
                                    <option value="">Square</option>
                                    <option value="img-rounded">Rounded Square</option>
                                    <option value="img-thumbnail">Square with Border</option>
                                    <option value="img-circle">Circle</option>
                                </select>
                            </div>
                        </tab>
                        <tab ng-if="componentEditing.type === 'navigation'">
                            <tab-heading>
                                <span>Reorder</span>
                            </tab-heading>
                            <div id="reorderNavBarContainer" class="form-group" onmouseover="$('#component-setting-modal').removeAttr('indigeweb-draggable-modal')" onmouseout="$('#component-setting-modal').attr('indigeweb-draggable-modal', '')">
                                <ul ui-sortable="sortableOptions" class="nav-bar" style="list-style: none;" data-ng-repeat="mainMenu in website.linkLists track by $index" data-ng-if=" mainMenu.handle=='head-menu' ">
                                    <li data-ng-repeat="link in mainMenu.links track by $index">
                                        <div class="head-menu-links" data-label="{{link.label}}">
                                            <div class="container-fluid">
                                                <div class="col-sm-6">
                                                <h4>
                                                     <span ng-show="!edit[$index]">{{link.label}}</span>
                                                     <input ng-show="edit[$index]" type="text" ng-model="link.label">
                                                 </h4>
                                                 </div>
                                                 <div class="col-sm-6">
                                                    <h4>
                                                    <i ng-show="!edit[$index]" class="fa fa-pencil-square-o" ng-click="edit[$index]=true"></i>
                                                    <i ng-show="edit[$index]" class="fa fa-times" ng-click="edit[$index]= false"></i>
                                                    <i class="fa fa-trash-o" ng-click="mainMenu.links.splice($index,1)"></i>
                                                    </h4>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer">
                                <div class="row form-group">
                                    <div class="pull-left switch-navadd col-xs-12 col-sm-6 col-md-4">
                                        <input bs-switch switch-size="large"  ng-model="addNavigationLink" type="checkbox" switch-label="Add Link" ng-change="initializeLinks()">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group pull-left" style="margin-left: 10px;" ng-if="addNavigationLink">
                                        <input ng-model="newLink.linkTitle" style="width:50%" ng-if="addLinkType=='section'" placeholder="Link Title" class="input-lg form-control"
                                        type="text">
                                        <slug from="newLink.linkTitle" to="newLink.linkUrl"></slug>
                                        <input ng-model="newLink.linkUrl" style="width:50%" ng-if="addLinkType=='section'" placeholder="Link Label" class="input-lg form-control"
                                        type="text">
                                        <select ng-if="addLinkType=='page'" ng-model="newLink.linkPage" class="form-control input-lg">
                                                <option ng-repeat="page in allPages track by $index" data-ng-if="page.title && page.handle" value="{{page.handle}}">{{page.title}}</option>
                                        </select>
                                        <div class="input-group-btn dropup">
                                            <button type="button" class="btn btn-default dropdown-toggle input-lg" data-toggle="dropdown"
                                            aria-expanded="false">
                                                <span ng-if="addLinkType=='page'">To Page</span>
                                                <span ng-if="addLinkType=='section'">To Section</span>
                                                <span
                                                class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                <li>
                                                    <a ng-click="setLinkType('page')">Link to page</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                <a ng-click="setLinkType('section')">Link to section</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button type="button" ng-click="addLinkToNav()" class="btn btn-primary pull-right">Add</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <button type="button" class="btn btn-primary pull-right" ng-click="updateLinkList()" data-dismiss="modal">
                                        Save changes
                                    </button>
                                </div>
                            </div>
                        </tab>

                         <tab active="tabs.address" ng-if="componentEditing.type === 'contact-us'">
                            <tab-heading>
                                <span>Add Address</span>
                            </tab-heading>
                            <div class="form-group">
                                <label for="location-address-type">Address type </label>
                                <input id="location-address-type" class="form-control input-lg" type="text" ng-model="componentEditing.location.addressDisplayLabel">
                            </div>
                            <div class="form-group">
                                <label for="location-address">Address </label>
                                <input id="location-address" class="form-control input-lg" type="text" ng-model="componentEditing.location.address">
                            </div>
                            <div class="form-group">
                                <label for="location-address2">Address2 </label>
                                <input id="location-address2" class="form-control input-lg" type="text" ng-model="componentEditing.location.address2">
                            </div>

                            <div class="form-group">
                                <label for="location-city">City </label>
                                <input id="location-city" class="form-control input-lg" type="text" ng-model="componentEditing.location.city">
                                <div class="error"></div>
                            </div>
                            <div class="form-group">
                                <label for="location-state">State </label>
                                <input id="location-state" class="form-control input-lg" type="text" ng-model="componentEditing.location.state">
                                <div class="error"></div>
                            </div>
                            <div class="form-group">
                                <label for="location-zip">Zip Code </label>
                                <input id="location-zip" class="form-control input-lg" type="text" ng-model="componentEditing.location.zip">
                            </div>
                            <div class="form-group">
                                <label for="contact-phone">Phone number </label>
                                <input id="contact-phone" class="form-control input-lg" type="text" ng-model="componentEditing.contact.phone">
                            </div>
                            <div class="form-group">
                                <label for="location-hours">Business Hours </label>
                                <input id="location-hours" class="form-control input-lg" type="textarea" ng-model="componentEditing.hours">
                            </div>

                            <div class="footer">
                                <button type="button" class="btn btn-primary pull-right" ng-click="updateContactUsAddress()">
                                    Save changes
                                </button>
                            </div>
                        </tab>

                        <tab ng-if="componentEditing.type === 'video'">
                          <tab-heading>
                            <span>Video</span>
                          </tab-heading>
                          <div class="form-group">
                            <label for="member-name">Video Type:</label>
                            <select id="member-name" class="form-control input-lg" ng-model="componentEditing.videoType">
                              <option value="youtube">YouTube</option>
                              <option value="vimeo">Vimeo</option>
                              <option value="html5">Html4 Video</option>
                            </select>
                          </div>
                          <div class="form-group" ng-hide="componentEditing.videoType == 'html5'">
                            <label for="member-name">Video URL:</label>
                            <input id="member-name" class="form-control input-lg" type="text" ng-model="componentEditing.video">
                          </div>
                          <div class="form-group" ng-show="componentEditing.videoType == 'html5'">
                            <label for="member-name">Mp4 Url:</label>
                            <input id="member-name" class="form-control input-lg" type="text" ng-model="componentEditing.videoMp4">
                          </div>
                          <div class="form-group" ng-show="componentEditing.videoType == 'html5'">
                            <label for="member-name">Webm Url:</label>
                            <input id="member-name" class="form-control input-lg" type="text" ng-model="componentEditing.videoWebm">
                          </div>
                          <div class="form-group" ng-hide="componentEditing.videoType == 'html5'">
                            <label for="colorpicker">Auto Play:</label>
                            <input bs-switch ng-model="componentEditing.videoAutoPlay" type="checkbox" class="pull-right">
                          </div>
                          <div class="form-group" ng-show="componentEditing.videoType == 'youtube'">
                            <label for="colorpicker">Controls:</label>
                            <input bs-switch ng-model="componentEditing.videoControls" type="checkbox" class="pull-right">
                          </div>
                          <div class="form-group" ng-show="componentEditing.videoType == 'youtube'">
                            <label for="colorpicker">Branding:</label>
                            <input bs-switch ng-model="componentEditing.videoBranding" type="checkbox" class="pull-right">
                          </div>
                          <div class="form-group" ng-hide="componentEditing.videoType == 'html5'">
                            <label for="member-name">Optional Width:</label>
                            <input id="member-name" class="form-control input-lg" type="text" ng-model="componentEditing.videoWidth">
                          </div>
                          <div class="form-group" ng-hide="componentEditing.videoType == 'html5'">
                            <label for="member-name">Optional Height:</label>
                            <input id="member-name" class="form-control input-lg" type="text" ng-model="componentEditing.videoHeight">
                          </div>
                          <div class="form-group" ng-show="componentEditing.videoType == 'html5'">
                            <label for="member-name">Start Video Image Url:</label>
                            <input id="member-name" class="form-control input-lg" type="text" ng-model="componentEditing.videoImage">
                          </div>
                        </tab>


                    </tabset>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->

    <!-- Create Page Modal -->
    <div class="modal fade" id="create-page-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Create Page</h4>
                </div>
                <div class="modal-body">
                    <div id="new_page">
                        <div class="form-group" ng-class="{ 'has-error': titleError}">
                            <label for="page-title" tooltip-placement="bottom" tooltip="Provide the title of the page you want to create">Page Title</label>
                            <input id="page-title" class="form-control input-lg" type="text" ng-model="page.title" ng-change="validateCreatePage(page)">
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': handleError}">
                            <label for="page-url" class="tooltips" tooltip-placement="bottom" tooltip="Modify the url where your page will be reached">Page Url</label>
                            <input id="page-url" class="form-control input-lg" type="text" ng-model="page.handle" ng-change="validateCreatePage(page)">
                        </div>
                        <div class="clearfix mb15"></div>
                        <div class="form-group">
                            <div class="ckbox ckbox-success">
                                <input type="checkbox" id="add-to-menu" ng-model="page.mainmenu" checked>
                                <label for="add-to-menu">Add to Main Menu?</label>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="createPage(page, $event)">Create Page</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div id="model_container"></div>
</div>
