<div class="website" ng-class="{true: 'editing', false: ''}[isEditing == true]">
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
    <div ng-if="showOnboarding">
        <onboarding-popover enabled='showOnboarding' steps='onboardingSteps' step-index='stepIndex' on-finish-callback='finishOnboarding'></onboarding-popover>
    </div>
    <div class="pageheader row website-controls" ng-class="{true: 'editing', false: ''}[isEditing == true]">
        <div class="col-xs-8 pages-editing">
            <a class="btn btn-outline pull-left" type="button" href="/admin#/website" style="margin-left: 10px;">
                <span class="fa fa-chevron-left"></span> <span class="hidden-xs">Back</span>
            </a>
            <h2 class="pull-left" style="margin-right: 15px;" ng-show="isEditing"><i class="fa fa-desktop"></i><div class="hidden-xs div-header"> Editing {{single_post ? post_data.post_title : currentPage.title}}</div></h2>
            <h2 class="pull-left hidden-xs" style="margin-right: 15px;" ng-show="!isEditing"><i class="fa fa-desktop"></i><div class="hidden-xs div-header"> Website</div></h2>
            <div class="btn-group pull-left" dropdown is-open="status.isopen">
                <button type="button" class="btn btn-orange dropdown-toggle" ng-disabled="disabled" ng-show="!isEditing">
                    <div class="hidden-xs div-header">
                        {{currentPage.title}}</div>
                    <span class="caret"></span>
                </button>

            </div>
        </div>
        <div class="col-xs-4">

            <a class="btn btn-outline pull-right btn-edit-page" type="button" ng-click="editPage()" ng-show="!isEditing">
                <i class="fa fa fa-edit"></i>
                <span class="hidden-xs">Edit</span>
            </a>

            <a class="btn btn-outline pull-right btn-save-page" type="button" ng-click="savePage()" ng-show="isEditing" ng-disabled="!iframeLoaded">

                <span>
                     <span class="hidden-xs" ng-if="!saveLoading"> Save </span>
                <span class="hidden-xs" ng-if="saveLoading"> Saving </span>
                <i class="fa fa-spinner fa-spin" ng-if="saveLoading"></i>
                </span>
            </a>
            <a ng-confirm-click class="btn btn-outline pull-right btn-cancel-page" type="button" style="margin-right:5px" confirmed-click="cancelPage()" ng-show="isEditing" ng-disabled="!iframeLoaded">
                <i class="fa fa fa-times"></i>
                <span class="hidden-xs">Cancel</span>
            </a>

            <a class="btn btn-outline pull-right media-modal hidden" on-insert-mediacb="insertMedia" user='user' data-main='true'>
                <i class="fa fa fa-image"></i>
                <span class="hidden-xs">Media</span>
            </a>

            <div class="clearfix"></div>
        </div>
    </div>

    <img ng-show="isMobile" src="https://s3-us-west-2.amazonaws.com/indigenous-admin/iphone-background.png">
    <div block-ui="editBlockUI">
        <iframe id="iframe-website" name="iframe-website" src="" ng-style="styleWebsite()" indigeweb-resize></iframe>
    </div>
    <div class="rightpanel rightpanel-website">
        <tabset>
            <tab>
                <tab-heading>
                    Settings
                </tab-heading>
                <div ng-if="!single_post" class="rightpanelinner">
                    <div class="form-group">
                        <label>Title:</label>
                        <input id="edit-page-title" class="form-control input-lg" type="text" ng-model="currentPage.title" ng-change="editPage()">
                    </div>
                    <div class="form-group" ng-hide="currentPage.handle == 'index'">
                        <label>URL:</label>
                        <input id="edit-page-url" class="form-control input-lg" type="text" ng-model="currentPage.handle" ng-change="editPage()">
                    </div>
                    <div class="form-group" ng-hide="currentPage.handle == 'index'">
                        <label>Show:</label>
                        <input bs-switch ng-model="currentPage.visible.visibility" type="checkbox" class="pull-right" ng-change="editPage()">
                    </div>
                    <div class="form-group">
                        <label>Secure:</label>
                        <input bs-switch ng-model="currentPage.secure" type="checkbox" class="pull-right" ng-change="editPage()">
                    </div>

                    <div class="mb20"></div>

                    <button class="btn btn-block btn-success" data-toggle="modal" data-target="#historical-page-modal"> Historical Pages</button>

                    <div class="mb20"></div>

                    <div class="well">
                        <p>Danger Zone</p>
                        <button class="btn btn-block btn-danger" confirm-click2 data-placement="top" data-ng-disabled="currentPage.handle==='index'" confirm-click2-confirm="deletePage()"><i class="fa fa-trash"></i> Delete Page</button>
                    </div>
                </div>
                <div ng-if="single_post" class="rightpanelinner">
                    <div class="form-group">
                        <label>Title:</label>
                        <input class="form-control input-lg" type="text" ng-model="post_data.post_title">
                    </div>
                    <div class="form-group">
                        <label>URL:</label>
                        <input class="form-control input-lg" type="text" ng-model="post_data.post_url">
                    </div>

                    <div class="mb20"></div>

                    <div class="well">
                        <p>Danger Zone</p>
                        <button class="btn btn-block btn-danger" confirm-click2 data-placement="top" confirm-click2-confirm="deletePost(post_data)"><i class="fa fa-trash"></i> Delete Post</button>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>

    <div data-ng-include data-src="'angular_admin/views/partials/add-component-modal.html'"></div>

    <div data-ng-include data-src="'angular_admin/views/partials/component-settings-modal.html'"></div>

    <div data-ng-include data-src="'angular_admin/views/partials/historical-page-modal.html'"></div>

    <div id="model_container"></div>

</div>
