<div class="website">
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
    <div class="pageheader row website-controls" ng-class="{true: 'editing', false: ''}[isEditing == true]">
        <div class="col-xs-5">
            <h2 class="pull-left" style="margin-right: 15px;" ng-show="isEditing"><i class="fa fa-desktop"></i> Editing {{currentPage.title || 'Home'}}</h2>
            <h2 class="pull-left" style="margin-right: 15px;" ng-show="!isEditing"><i class="fa fa-desktop"></i> Viewing</h2>
            <div class="btn-group pull-left" dropdown is-open="status.isopen">
                <button type="button" class="btn btn-orange dropdown-toggle" ng-disabled="disabled" ng-show="!isEditing">
                    {{currentPage.title || 'Home'}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="page in allPages track by $index"><a href="" ng-click="updatePage(page.handle)">{{page.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-6">

            <a class="btn btn-success pull-right btn-edit-page" type="button" ng-click="editPage()" ng-show="!isEditing">
                <span class="fa fa-edit"></span>
                <span class="hidden-xs">Edit</span>
            </a>

            <a class="btn btn-success pull-right btn-save-page" type="button" ng-click="savePage()" ng-show="isEditing">
                <span class="fa fa-save"></span>
                <span class="hidden-xs">Save</span>
            </a>
            <a ng-confirm-click class="btn btn-warning pull-right btn-cancel-page" type="button"  style="margin-right:10px" confirmed-click = cancelPage() ng-show="isEditing">
                <span class="fa fa-times"></span>
                <span class="hidden-xs">Cancel</span>
            </a>
            <!--<a class="btn btn-success pull-right btn-media-manager" type="button" data-toggle="modal" data-target="#media-manager-modal">-->
            <!--<span class="fa fa-image"></span>-->
            <!--<span class="hidden-xs">Media</span>-->

            <a      class="btn btn-success pull-right media-modal"
                    on-insert-mediacb="insertMedia"
                    user='user'>
                <span class="fa fa-image"></span>
                <span class="hidden-xs"> Media</span>
            </a>
            <!--</a>-->

            <!-- <a class="btn btn-success pull-right btn-create-page" data-toggle="modal" data-target="#create-page-modal"><i class="fa fa-plus"></i>
                <span> Page</span>
            </a>

            <a class="btn btn-success pull-right btn-create-post" data-toggle="modal" data-target="#create-post-modal"><i class="fa fa-plus"></i>
                <span> Post</span>
            </a> -->

            <div class="btn-group pull-right btn-add" ng-show="!isEditing">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-plus"></span>
                    <span class="hidden-xs"> Add</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" data-toggle="modal" data-target="#add-component-modal"> Component</a>
                    </li>
                    <li><a href="#" data-toggle="modal" data-target="#create-page-modal"> Page</a>
                    </li>
                    <li><a href="#" data-toggle="modal" data-target="#create-post-modal"> Post</a>
                    </li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

    <img ng-show="isMobile" src="https://s3-us-west-2.amazonaws.com/indigenous-admin/iphone-background.png">
    <iframe ng-dblclick="doubleClick()" id="iframe-website" name="iframe-website" onload="iframeLoaded()" src="/?editor=true" ng-style="style()" indigeweb-resize></iframe>

    <div class="rightpanel rightpanel-website">
        <tabset>
            <tab>
                <tab-heading>
                    <i class="fa fa-paint-brush" tooltip-placement="bottom" tooltip="Theme"></i>
                </tab-heading>
                <div class="rightpanelinner">
                    <h5 class="sidebartitle">Current Theme</h5>
                    <hr/>
                    <div id="current-theme">
                        <p>{{currentTheme.name}}</p>
                        <div class="row">
                            <div class="col-xs-6">
                                <img ng-src="{{currentTheme.previewUrl}}" class="theme-img" />
                            </div>
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#change-theme-modal">Change</button>
                            </div>
                        </div>

                        <div class="mb30"></div>
                        <div class="form-group">
                            <label for="colorpicker">Color Primary:</label>
                            <spectrum-colorpicker format="'hex'" options="spectrum.options" ng-model="website.settings.primary_color" class="pull-right" ng-change="updateThemeSettings()"></spectrum-colorpicker>
                        </div>
                        <div class="form-group">
                            <label for="colorpicker">Color Secondary:</label>
                            <spectrum-colorpicker format="'hex'" options="spectrum.options" ng-model="website.settings.secondaryColor" class="pull-right" ng-change="updateThemeSettings()"></spectrum-colorpicker>
                        </div>
                        <div class="form-group">
                            <label for="colorpicker">Highlight Primary:</label>
                            <spectrum-colorpicker format="'hex'" options="spectrum.options" ng-model="website.settings.primaryHighlight" class="pull-right" ng-change="updateThemeSettings()"></spectrum-colorpicker>
                        </div>
                        <div class="form-group">
                            <label for="colorpicker">Text Color Primary:</label>
                            <spectrum-colorpicker format="'hex'" options="spectrum.options" ng-model="website.settings.primaryTextColor" class="pull-right" ng-change="updateThemeSettings()"></spectrum-colorpicker>
                        </div>
                        <div class="form-group">
                            <label for="colorpicker">Font Family Primary:</label>
                            <jd-fontselect  on-open="editPage()"  stack="primaryFontStack" on-change="updatePrimaryFont(font)"></jd-fontselect>
                        </div>
                        <div class="form-group">
                            <label for="colorpicker">Font Family Secondary:</label>
                            <jd-fontselect stack="secondaryFontStack"></jd-fontselect>
                        </div>
                    </div>

                    <div class="form-group subdomain">
                        <label for="current-domain" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="This is the domain that was automatically created when you signed up.">Indigenous Domain</label>
                        <input id="current-domain" class="form-control input-lg" type="text" ng-model="account.subdomain" ng-change = "checkIfSubdomainExists()">
                    </div>
                </div>
            </tab>
            <tab>
                <tab-heading>
                    <i class="fa fa-file-text-o" tooltip-placement="bottom" tooltip="Page"></i>
                </tab-heading>
                <div class="rightpanelinner">
                    <h5 class="sidebartitle">Page</h5>
                    <hr/>
                    <div class="form-group">
                        <label>Title:</label>
                        <input class="form-control input-lg" type="text" ng-model="currentPage.title" ng-change="editPage()">
                    </div>
                    <div class="form-group" ng-hide="currentPage.handle == 'index'">
                        <label>URL:</label>
                        <input class="form-control input-lg" type="text" ng-model="currentPage.handle" ng-change="editPage()">
                    </div>
                    <div class="form-group" ng-hide="currentPage.handle == 'index'">
                        <label>Show:</label>
                        <input bs-switch ng-model="currentPage.visible.visibility" type="checkbox" class="pull-right" ng-change="editPage()">
                    </div>

                    <div class="mb20"></div>

                    <div class="well">
                        <p>Danger Zone</p>
                        <button class="btn btn-block btn-danger" confirm-click2 data-placement="top" data-ng-disabled="currentPage.handle==='index'" confirm-click2-confirm="deletePage()"><i class="fa fa-trash"></i> Delete Page</button>
                    </div>
                </div>
            </tab>
            <tab ng-show="componentEditing">
                <tab-heading>
                    <i class="fa fa-puzzle-piece" tooltip-placement="bottom" tooltip="Component"></i>
                </tab-heading>
                <div class="rightpanelinner">
                    <h5>Currently Editing</h5>
                    <div class="thumbnail">
                        <div class="check-component" style="display:none"><i class="fa fa-check-circle"></i></div>
                        <div class="component-icon"><i class="{{componentEditing.icon}}"></i></div>
                        <div class="caption">
                            <h5 class="center">{{componentEditing.title}}</h5>
                        </div>
                    </div>
                    <accordion close-others="true">

                        <accordion-group is-open="status.open">
                            <accordion-heading>
                                Basic <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </accordion-heading>
                            <div class="form-group">
                                <label for="colorpicker">Text Color:</label>
                                <spectrum-colorpicker format="'hex'" options="spectrum.options" class="pull-right" ng-model="componentEditing.txtcolor" ng-change="saveComponent()"></spectrum-colorpicker>
                            </div>
                            <div class="form-group">
                                <label for="colorpicker">Background Color:</label>
                                <spectrum-colorpicker format="'hex'" options="spectrum.options" class="pull-right" ng-model="componentEditing.bg.color" ng-change="saveComponent()"></spectrum-colorpicker>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group" ng-if="componentEditing.bg.img.url">
                                <label for="bgimg" tooltip-placement="top" tooltip="The bg image of the component">Background Image</label>
                                <div class="bgimg" id="bgimg">
                                    <i class="fa fa-close" ng-click="componentEditing.bg.img.url=null"></i>
                                    <img ng-src="{{componentEditing.bg.img.url}}" ng-model="componentEditing.bg.img.url" data-toggle="modal" data-target="#media-manager-modal" ng-change="saveComponent()"  class="img-thumbnail">
                                </div>

                            </div>
                            <div class="form-group" ng-if="!componentEditing.bg.img.url">
                                <input id="abi" ng-model="componentEditing.bg.img.url" type="button" class="pull-right btn btn-primary" ng-model="componentEditing.bg.img.url" data-toggle="modal" data-target="#media-manager-modal" ng-change="saveComponent()" value="Add BG Image">
                            </div>
                            <div class="form-group">
                                <label for="colorpicker">Blur BG</label>
                                <input bs-switch ng-model="componentEditing.bg.img.blur" type="checkbox" class="pull-right" ng-change="saveComponent()">
                            </div>
                            <div class="form-group">
                                <label for="colorpicker">Show BG</label>
                                <input bs-switch ng-model="componentEditing.bg.img.show" type="checkbox" class="pull-right" ng-change="saveComponent()">
                            </div>
                            <div class="form-group">
                                <label for="colorpicker">Parallax:</label>
                                <input bs-switch ng-model="componentEditing.bg.img.parallax" type="checkbox" class="pull-right" ng-change="saveComponent()">
                            </div>
                            <div class="form-group">
                                <label for="colorpicker">Button:</label>
                                <input bs-switch ng-model="componentEditing.btn.visibility" type="checkbox" class="pull-right" ng-change="saveComponent()">
                            </div>
                        </accordion-group>
                        <accordion-group is-open="status2.open">
                            <accordion-heading>
                                Advanced <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status2.open, 'glyphicon-chevron-right': !status2.open}"></i>
                            </accordion-heading>
                            <div class="form-group">
                                <label for="colorpicker">Visibility:</label>
                                <input bs-switch ng-model="componentEditing.visibility" type="checkbox" class="pull-right" ng-change="saveComponent()">
                            </div>
                            <div class="form-group">
                                <label for="component-title" tooltip-placement="top" tooltip="The anchor of the component">Anchor</label>
                                <input class="form-control input-lg" type="text" ng-model="componentEditing.anchor" ng-change="saveComponent()">
                            </div>
                            <div class="form-group">
                                <label for="component-title" tooltip-placement="top" tooltip="The version of the component">Version</label>
                                <select ng-model="componentEditing.version" ng-change="saveComponent()" ng-options="version for version in componentEditingVersions">
                                </select>
                            </div>
                            <div class="well">
                                <p>Danger Zone</p>
                                <!-- <button class="btn btn-block btn-danger" confirm-click2 data-placement="top" confirm-click2-confirm="deleteComponent(componentEditing._id)" data-original-title="" title=""><i class="fa fa-trash"></i> Delete Component</button> -->
                                <button class="btn btn-block btn-danger" confirm-click2 data-placement="top" confirm-click2-confirm="deleteComponent(componentEditing._id)"><i class="fa fa-trash"></i> Delete Component</button>
                            </div>
                        </accordion-group>
                    </accordion>

                    <div class="clearfix mb15"></div>
                </div>
            </tab>
        </tabset>
    </div>

    <!-- Change Theme Modal -->
    <div class="modal fade" id="change-theme-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Change Theme</h4>
                </div>
                <div class="modal-body">
                    <ul class="pagination hidden">
                        <li class="disabled"><a href="#">«</a>
                        </li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
                        </li>
                        <li><a href="#">2</a>
                        </li>
                        <li><a href="#">3</a>
                        </li>
                        <li><a href="#">4</a>
                        </li>
                        <li><a href="#">5</a>
                        </li>
                        <li><a href="#">»</a>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-6 theme" ng-class="{selected: theme.name == currentTheme.name, success: theme.name == selectedTheme.name}" ng-repeat="theme in themes" ng-click="changeSelectedTheme(theme)">
                            <div class="thumbnail" data-themeid="">
                                <div class="check-theme" style="display:none"><i class="fa fa-check-circle"></i>
                                </div>
                                <img ng-src="{{theme.previewUrl}}">
                                <div class="caption">
                                    <h5>{{theme.name}}</h5>
                                    <p>{{theme.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary change-theme" ng-click="changeTheme()" ng-disabled="!selectedTheme">Change Theme <span ng-if="selectedTheme.name"> to {{selectedTheme.name}}</span></button>
                </div>
            </div>
        </div>
    </div>
    <!-- /. modal -->

    <!-- Add Component Modal -->
    <div class="modal fade" id="add-component-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add Component</h4>
                    </div>
                    <div class="modal-body">
                        <!--   <div class="form-group">
                            <label for="component-name" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Enter the Name of the component.">Component Name</label>
                            <input id="component-name" class="form-control input-lg" type="text" value="" ng-model="component.title">
                        </div> -->
                        <!-- <div class="form-group">
                            <label for="component-name" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Enter the Name of the component.">Component Type</label>
                            <select id="component-type" class=" form-control chosen-select" data-placeholder="Contact Us" ng-model="component.type">
                                <option value=""></option>
                                <option value="feature-list-Compare" disabled>Feature List Compare</option>
                                <option value="freeform" disabled>Freeform</option>
                                <option value="footer">Footer</option>
                                <option value="link-button-text" disabled>Link Button Text</option>
                                <option value="social-feed" disabled>Social Feed</option>
                                <option value="video">Video</option>
                                <option value="video-text" disabled>Video Text</option>
                            </select>
                        </div> -->
                        <div class="row">

                            <div class="col-sm-4 col-md-3 componentOption" ng-repeat="type in componentTypes| orderBy:'title'" ng-class="{success: type.title === selectedComponent.title}" ng-click="selectComponent(type)">
                                <div class="thumbnail">
                                    <div class="check-component" style="display:none"><i class="fa fa-check-circle"></i></div>
                                    <div class="component-icon"><i class="{{type.icon}}"></i></div>
                                    <div class="caption">
                                        <h5 class="center">{{type.title}}</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-add-component" data-dismiss="modal" ng-click="addComponent()" ng-disabled="!selectedComponent">Add {{selectedComponent.title}}</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Create Page Modal -->
    <div class="modal fade" id="create-page-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Create Page</h4>
                </div>
                <div class="modal-body">
                    <div id="new_page">
                        <div class="form-group">
                            <label for="page-title" tooltip-placement="bottom" tooltip="Provide the title of the page you want to create">Page Title</label>
                            <input id="page-title" class="form-control input-lg" type="text" ng-model="page.title">
                        </div>
                        <div class="form-group">
                            <label for="page-url" class="tooltips" tooltip-placement="bottom" tooltip="Modify the url where your page will be reached">Page Url</label>
                            <input id="page-url" class="form-control input-lg" type="text" ng-model="page.handle">
                        </div>
                        <div class="clearfix mb15"></div>
                        <div class="form-group">
                            <div class="ckbox ckbox-success">
                                <input type="checkbox" id="add-to-menu" ng-model="page.mainmenu" checked>
                                <label for="add-to-menu">Add to Main Menu?</label>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="createPage(page, $event)" data-dismiss="modal">Create Page</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Edit Component Modal -->
    <div class="modal fade" id="edit-component-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edit Component</h4>
                </div>
                <div class="modal-body">
                    <!-- <div class="form-group">
                            <label for="component-title" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Enter the Name of the component.">Component Name</label>
                            <input id="component-title" class="form-control input-lg" type="text" value="">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="component-name" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Enter the Name of the component.">Component Type</label>
                            <select id="component-edit" class=" form-control chosen-select" data-placeholder="Contact Us">

                            </select>
                        </div> -->
                    <div class="form-group">
                        <label for="colorpicker">Show Component:</label>
                        <input bs-switch ng-model="componentEditing.visibility" type="checkbox" class="pull-right">
                    </div>
                    <div class="form-group">
                        <label for="component-title" tooltip-placement="top" tooltip="The anchor of the component">Anchor</label>
                        <input class="form-control input-lg" type="text" ng-model="componentEditing.anchor">
                    </div>
                    <div class="form-group">
                        <label for="component-title" tooltip-placement="top" tooltip="The version of the component">Version</label>
                        <input class="form-control input-lg" type="text" ng-model="componentEditing.version">
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="colorpicker">Text Color:</label>
                            <spectrum-colorpicker format="'hex'" options="{showPalette: true, clickoutFiresChange: true, showInitial: true, showInput: true, showButtons: false }" class="pull-right" ng-model="componentEditing.txtcolor"></spectrum-colorpicker>
                        </div>
                        <div class="form-group">
                            <label for="colorpicker">Background Color:</label>
                            <spectrum-colorpicker format="'hex'" options="{showPalette: true, clickoutFiresChange: true, showInitial: true, showInput: true, showButtons: false , allowEmpty:true,}" class="pull-right" ng-model="componentEditing.bg.color"></spectrum-colorpicker>
                        </div>
                        <div class="form-group">
                            <label for="colorpicker">Show Button:</label>
                            <input bs-switch ng-model="componentEditing.btn.visibility" type="checkbox" class="pull-right">
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label for="bgimg" tooltip-placement="top" tooltip="The bg image of the component">Background Image</label>
                        <input class="form-control input-lg" type="text" ng-model="componentEditing.bg.img.url">
                    </div>
                    <div class="form-group">
                        <label for="colorpicker">Show Background Image as Parallax:</label>
                        <input bs-switch ng-model="componentEditing.bg.img.parallax" type="checkbox" class="pull-right">
                    </div>

                    <div class="input-group spinner">
                        <input type="text" class="form-control" value="42">
                        <div class="input-group-btn-vertical">
                            <button class="btn btn-default"><i class="fa fa-caret-up"></i>
                            </button>
                            <button class="btn btn-default"><i class="fa fa-caret-down"></i>
                            </button>
                        </div>
                    </div>
                    <div class="clearfix mb15"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger pull-left" data-dismiss="modal"  confirm-click2 data-placement="top"  confirm-click2-confirm="deleteComponent(componentEditing._id)">
                        <i class="fa fa-trash-o"></i> Delete
                    </button>
                    <button type="button" class="btn btn-primary btn-edit-component" data-dismiss="modal" ng-click="saveComponent(componentEditing)">Update</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div id="model_container"></div>
</div>
