.ssb-theme-young-soul {

    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #000;

    .ssb-page-section {
        background-color: #e8e7e7;
    }

    .ssb-page-section-layout-header {
        background-color: #9acccb;
    }


    .ssb-navigation {
        a {
            color: #000;
        }
    }

    .ssb-theme-main-header-text {
        font-size: 96px;
    }

    .ssb-theme-heading-text {
        font-size: 16px;
    }

    .ssb-theme-paragraph-text {
        font-size: 12px;
    }

}
