.ssb-theme-default {
    color: #73879C;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    background-color: #FFFFFF;
}

.ssb-theme-default .ssb-section-layout {
    background-color: #FFFFFF;
}

.ssb-theme-default .ssb-navigation a {
    color: #73879C;
}

.ssb-theme-default .ssb-page-section-layout-header {
    background-color: #FFFFFF;
    color: #58585b;
}

.ssb-theme-default .ssb-page-section-layout-header [ssb-text-component] {
    // color: #58585b;
    // font-size: 50%;
    // margin: 34px auto 0;
}

.ssb-theme-default .ssb-page-section-layout-hero {
    background-color: #FFFFFF;
    color: #73879C;
    text-align: center;
}

.ssb-theme-default .ssb-page-section-layout-hero [ssb-text-component] {
    // color: #73879C;
    // font-size: 96px;
}

.ssb-theme-default .ssb-theme-heading-text {
    font-size: 24px;
}

.ssb-theme-default .ssb-theme-paragraph-text {
    font-size: 14px;
}

.ssb-theme-default .ssb-theme-btn, .ssb-theme-default .ssb-theme-btn:hover {
    background-color: #4BB0CB;
    color: #FFFFFF;
    border-color: #4BB0CB;
}

.ssb-theme-default .ssb-theme-btn:hover, .ssb-theme-default .ssb-theme-btn:active, .ssb-theme-default .ssb-theme-btn:focus {
    background-color: #4BB0CB!important;
}

.ssb-theme-default .navbar-toggle .icon-bar {
    // background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {

    .ssb-theme-default .ssb-page-section-layout-header [ssb-text-component] {
        // font-size: 96px;
    }

    .ssb-theme-default .ssb-page-section-layout-hero [ssb-text-component] {
        // font-size: 96px;
    }

    .ssb-theme-default .ssb-theme-heading-text {
        font-size: 16px;
    }

    .ssb-theme-default .ssb-theme-paragraph-text {
        font-size: 12px;
    }

}
