<!--
* COPYRIGHT CMConsulting LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact christopher.mina@gmail.com for approval or questions.
-->

<script type="text/x-handlebars-template" name="admin-main">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-success">
                <div class="panel-heading" style="text-align:center">
                    What do you want to do?
                </div>

                <div class="panel-body">
                    <div class="row">
                        <a href="/contacts">
                        <div class="col-xs-6 col-md-6">
                            <div class="panel panel-info hand panel-account-go">
                                <div class="panel-heading" style="text-align:center">
                                    <strong>View Contacts</strong>
                                </div>

                                <div class="panel-body" style="text-align:center">
                                    <i class="fa fa-users" style="font-size:2.5em;"/>
                                </div>
                            </div>
                        </div>
                        </a>

                        <a href="/website">
                        <div class="col-xs-6 col-md-6">
                            <div class="panel panel-info hand panel-account-go">
                                <div class="panel-heading" style="text-align:center">
                                    <strong>Setup Website</strong>
                                </div>

                                <div class="panel-body" style="text-align:center">
                                    <i class="fa fa-desktop" style="font-size:2.5em;"/>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>


                    <div class="row">
                        <a href="/account">
                        <div class="col-xs-6 col-md-6">
                            <div class="panel panel-info hand panel-account-go">
                                <div class="panel-heading" style="text-align:center">
                                    <strong>Manage Account</strong>
                                </div>

                                <div class="panel-body" style="text-align:center">
                                    <i class="fa fa-gears" style="font-size:2.5em;"/>
                                </div>
                            </div>
                        </div>
                        </a>

                        <div class="col-xs-6 col-md-6">
                            <div class="panel panel-info hand panel-account-go">
                                <div class="panel-heading" style="text-align:center">
                                    <strong>Marketing Campaigns</strong>
                                </div>

                                <div class="panel-body" style="text-align:center">
                                    <i class="fa fa-tachometer" style="font-size:2.5em;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>