<!--
* COPYRIGHT INDIGENOUS.IO, LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
-->

<script type="text/x-handlebars-template" name="dashboard-main">
    <div class="pageheader row">
        <div class="col-xs-6">
            <h2><i class="fa fa-home"></i> Overview</h2>
        </div>
        <div class="col-xs-6 hidden">
            <a class="btn btn-success pull-right" type="button">
                <span class="fa fa-calendar"></span>
                <span class="hidden-xs">Today</span>
            </a>
            <a class="btn btn-success pull-right" type="button" style="margin-right:10px" data-toggle="modal" data-target="#widgetSelection">
                <span class="fa fa-plus"></span>
                <span class="hidden-xs">Add Widget</span>
            </a>
        </div>
        <div class="clear"></div>
    </div>

    <div class="visible-xs">
        <div class="btn-group col-xs-12">
            <button type="button" class="btn btn-info col-xs-6 stats-tasks-btn active">Metrics</button>
            <button type="button" class="btn btn-info col-xs-6 activity-btn">Activity</button>
        </div>
    </div>

    <div class="alert alert-info fade in">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <h4 class="center">Hi Robin, Welcome to your Overview!</h4>
        <p class="center">This is the overview page where you can see everything that&#39;s going on. If you need assitance use any of the three ways below.</p>
        <hr class="mb30"></hr>
        <div class="col-sm-6">
            <h4><i class="fa fa-youtube-play"></i> Watch this 30 second video about the overview page.</h4>
            <img class="onboard-vid" src="/assets/images/video-holder.jpg">
        </div>
        <div class="mb30"></div>
        <div class="col-sm-6">
            <h4><i class="fa fa-compass"></i> Schedule a Demo</h4>
            <p>Schedule a personal demo with one of our customer support representatives who can show you via screen share how to optimize your overview page.</p>
            <button class="btn btn-primary btn-lg">Schedule Now <i class="fa fa-caret-right"></i></button>
            <hr class="mb30"></hr>
            <h4><i class="fa fa-file-text-o"></i> Read the Documentation</h4>
            <p>If you prefer a list of steps to read, then head over to our detailed documentation about all the aspects of the overview page.</p>
            <button class="btn btn-primary btn-lg">View Docs <i class="fa fa-caret-right"></i>
            </button>
        </div>
        <div class="clearfix mb30"></div>
    </div>

    <div class="clearfix"></div>

    <div class="contentpanel">

        <div class="col-sm-6 stats-tasks-section">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-dark panel-stat">
                    <div class="panel-heading">

                        <div class="stat">
                            <div class="row">
                                <div class="col-xs-5">
                                    <img src="../images/is-money.png" alt="">
                                </div>
                                <div class="col-xs-7">
                                    <small class="stat-label">Today&#39;s Earnings</small>
                                    <h1>$655</h1>
                                </div>
                            </div>
                            <!-- row -->

                            <div class="mb15"></div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <small class="stat-label">Last Week</small>
                                    <h4>$32,322</h4>
                                </div>

                                <div class="col-xs-6">
                                    <small class="stat-label">Last Month</small>
                                    <h4>$503,000</h4>
                                </div>

                            </div>
                            <!-- row -->

                        </div>
                        <!-- stat -->

                    </div>
                    <!-- panel-heading -->
                </div>
                <!-- panel -->
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-success panel-stat">
                    <div class="panel-heading">

                        <div class="stat">
                            <div class="row">
                                <div class="col-xs-5">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="col-xs-7">
                                    <small class="stat-label">Visits Today</small>
                                    <h1>900k+</h1>
                                </div>
                            </div>
                            <!-- row -->

                            <div class="mb15"></div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <small class="stat-label">Pages / Visit</small>
                                    <h4>7.80</h4>
                                </div>

                                <div class="col-xs-6">
                                    <small class="stat-label">% New Visits</small>
                                    <h4>76.43%</h4>
                                </div>
                            </div>
                            <!-- row -->
                        </div>
                        <!-- stat -->

                    </div>
                    <!-- panel-heading -->
                </div>
                <!-- panel -->
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-success panel-stat">
                    <div class="panel-heading">

                        <div class="stat">
                            <div class="row">
                                <div class="col-xs-5">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="col-xs-7">
                                    <small class="stat-label">Visits Today</small>
                                    <h1>900k+</h1>
                                </div>
                            </div>
                            <!-- row -->

                            <div class="mb15"></div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <small class="stat-label">Pages / Visit</small>
                                    <h4>7.80</h4>
                                </div>

                                <div class="col-xs-6">
                                    <small class="stat-label">% New Visits</small>
                                    <h4>76.43%</h4>
                                </div>
                            </div>
                            <!-- row -->
                        </div>
                        <!-- stat -->

                    </div>
                    <!-- panel-heading -->
                </div>
                <!-- panel -->
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body add-widget" data-toggle="modal" data-target="#widgetSelection">
                        <div class="center">
                            <i class="fa fa-plus fa-4x "></i>
                        </div>
                        <h4 class="center">Add Widget</h4>
                    </div>
                    <!-- panel-heading -->
                </div>
                <!-- panel -->
            </div>
            <div class="clearfix"></div>
            <div class="panel panel-success">
                <div class="panel-heading padding5">
                    <div id="line-chart" style="height: 248px; position: relative;">
                        <svg height="248" version="1.1" width="388" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.65625px;">
                            <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc>
                            <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                            <text x="35.5" y="208.984375" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;">
                                <tspan dy="4.1640625" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
                            </text>
                            <text x="35.5" y="162.98828125" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;">
                                <tspan dy="4.16015625" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">17.5</tspan>
                            </text>
                            <text x="35.5" y="116.9921875" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;">
                                <tspan dy="4.15625" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">35</tspan>
                            </text>
                            <text x="35.5" y="70.99609375" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;">
                                <tspan dy="4.16015625" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">52.5</tspan>
                            </text>
                            <text x="35.5" y="25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;">
                                <tspan dy="4.1640625" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">70</tspan>
                            </text>
                            <text x="363" y="221.484375" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5" transform="matrix(1,0,0,1,0,7.0078)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;">
                                <tspan dy="4.1640625" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan>
                            </text>
                            <text x="310.52396166134184" y="221.484375" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5" transform="matrix(1,0,0,1,0,7.0078)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;">
                                <tspan dy="4.1640625" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011</tspan>
                            </text>
                            <text x="258.0479233226837" y="221.484375" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5" transform="matrix(1,0,0,1,0,7.0078)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;">
                                <tspan dy="4.1640625" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2010</tspan>
                            </text>
                            <text x="205.57188498402556" y="221.484375" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5" transform="matrix(1,0,0,1,0,7.0078)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;">
                                <tspan dy="4.1640625" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2009</tspan>
                            </text>
                            <text x="152.9520766773163" y="221.484375" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5" transform="matrix(1,0,0,1,0,7.0078)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;">
                                <tspan dy="4.1640625" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2008</tspan>
                            </text>
                            <text x="100.47603833865816" y="221.484375" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5" transform="matrix(1,0,0,1,0,7.0078)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;">
                                <tspan dy="4.1640625" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2007</tspan>
                            </text>
                            <text x="48" y="221.484375" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" font-size="12px" font-family="sans-serif" font-weight="normal" fill-opacity="0.5" transform="matrix(1,0,0,1,0,7.0078)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;">
                                <tspan dy="4.1640625" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2006</tspan>
                            </text>
                            <path fill="none" stroke="#fdd2a4" d="M48,208.984375L100.47603833865816,143.27566964285714L152.9520766773163,130.13392857142856L205.57188498402556,156.41741071428572L258.0479233226837,116.9921875L310.52396166134184,77.56696428571428L363,64.4252232142857" stroke-width="2px" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <path fill="none" stroke="#ffffff" d="M48,77.56696428571428L100.47603833865816,51.28348214285714L152.9520766773163,90.70870535714285L205.57188498402556,103.85044642857142L258.0479233226837,77.56696428571428L310.52396166134184,51.28348214285714L363,38.141741071428555" stroke-width="2px" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <circle cx="48" cy="208.984375" r="4" fill="#fdd2a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="100.47603833865816" cy="143.27566964285714" r="4" fill="#fdd2a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="152.9520766773163" cy="130.13392857142856" r="4" fill="#fdd2a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="205.57188498402556" cy="156.41741071428572" r="4" fill="#fdd2a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="258.0479233226837" cy="116.9921875" r="4" fill="#fdd2a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="310.52396166134184" cy="77.56696428571428" r="4" fill="#fdd2a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="363" cy="64.4252232142857" r="4" fill="#fdd2a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="48" cy="77.56696428571428" r="4" fill="#ffffff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="100.47603833865816" cy="51.28348214285714" r="4" fill="#ffffff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="152.9520766773163" cy="90.70870535714285" r="4" fill="#ffffff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="205.57188498402556" cy="103.85044642857142" r="4" fill="#ffffff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="258.0479233226837" cy="77.56696428571428" r="4" fill="#ffffff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="310.52396166134184" cy="51.28348214285714" r="4" fill="#ffffff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="363" cy="38.141741071428555" r="4" fill="#ffffff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        </svg>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="tinystat pull-left">
                        <div id="sparkline" class="chart mt5">
                            <span class="text-muted">Average Sales</span>
                        </div>
                        <div class="datainfo">
                            <h4>$630,201</h4>
                        </div>
                    </div>
                    <!-- tinystat -->
                    <div class="tinystat pull-right">
                        <div id="sparkline2" class="chart mt5">
                            <span class="text-muted">Total Sales</span>
                        </div>
                        <div class="datainfo">
                            <h4>$139,201</h4>
                        </div>
                    </div>
                    <!-- tinystat -->
                </div>
            </div>
        </div>
        <div class="col-sm-6 activity-section hidden-xs">
            <div class="smart-timeline">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-btns">
                            <select class="form-control chosen-select input-lg ">
                                <option value="">All Activity</option>
                                <option value="">Filter Activity</option>
                                <option value="">My Activity</option>
                                <option value="">Orders</option>
                                <option value="">FB Like</option>
                                <option value="">Tweets</option>
                                <option value="">Page View</option>
                            </select>
                        </div>
                        <!-- panel-btns -->
                        <h3 class="panel-title">Activity</h3>
                    </div>
                    <ul class="smart-timeline-list">
                        <li>
                            <div class="smart-timeline-icon">
                                <img src="../images/theme-1/woman-1.jpg" width="32" height="32">
                            </div>
                            <div class="smart-timeline-time">
                                <small>just now</small>
                            </div>
                            <div class="smart-timeline-content">
                                <p>
                                    <a href="javascript:void(0);">
                                        <span class="label label-default">Email</span>from Sarah K.
                                    </a>
                                </p>
                                <p>
                                    Promotion email based on Robin&#39;s birthday.
                                </p>
                                <p>
                                    <a href="javascript:void(0);" class="btn btn-xs btn-green"><i class="fa fa-file"></i> Read the Email</a>
                                </p>



                            </div>
                        </li>
                        <li>
                            <div class="smart-timeline-icon">
                                <img src="../images/theme-1/woman-1.jpg" width="32" height="32">
                            </div>
                            <div class="smart-timeline-time">
                                <small>just now</small>
                            </div>
                            <div class="smart-timeline-content">
                                <p>
                                    <a href="javascript:void(0);">
                                        <span class="label label-default">Order from</span>from Sarah K.
                                    </a>
                                </p>
                                <p>
                                    Order #4231 3 items $141.54 PAID
                                </p>
                                <p>
                                    <a href="view_order.html" class="btn btn-xs btn-green"><i class="fa fa-file"></i> View the Order</a>
                                </p>



                            </div>
                        </li>
                        <li>
                            <div class="smart-timeline-icon">
                                <img src="../images/photos/loggeduser.png" width="32" height="32">
                            </div>
                            <div class="smart-timeline-time">
                                <small>12 Mar, 2013</small>
                            </div>
                            <div class="smart-timeline-content">
                                <p>
                                    <span class="label label-default">Tweet</span>by Robin Burgandy.
                                </p>
                                <p>
                                    I Love
                                    <strong>Yoga One</strong>!
                                </p>
                                <a href="javascript:void(0);" class="btn btn-xs btn-green"><i class="fa fa-reply"></i> Reply to Tweet</a>
                            </div>
                        </li>
                        <li>
                            <div class="smart-timeline-icon">
                                <img src="../images/theme-1/woman-1.jpg" width="32" height="32">
                            </div>
                            <div class="smart-timeline-time">
                                <small>1 min ago</small>
                            </div>
                            <div class="smart-timeline-content">
                                <p>
                                    <span class="label label-default">Call</span>from Sarah K.
                                </p>

                                <p>
                                    Successful Thank you call and get feedback on Customer Service.
                                </p>
                                <p>
                                    <a href="javascript:void(0);" class="btn btn-xs btn-green"><i class="fa fa-phone-square"></i> Listen to the Call</a>
                                </p>

                            </div>
                        </li>
                        <li>
                            <div class="smart-timeline-icon">
                                <img src="../images/photos/user-1.jpg" width="32" height="32">
                            </div>
                            <div class="smart-timeline-time">
                                <small>5 hrs ago</small>
                            </div>
                            <div class="smart-timeline-content">
                                <p>
                                    <span class="label label-default">Biometric Reading</span>for Henry Holmes</strong>
                                </p>
                                <p>
                                    Pulse Oximeter Reading “94% SpO2”
                                </p>

                                <br>
                            </div>
                        </li>
                        <li>
                            <div class="smart-timeline-icon">
                                <img src="../images/theme-1/woman-1.jpg" width="32" height="32">
                            </div>
                            <div class="smart-timeline-time">
                                <small>yesterday</small>
                            </div>
                            <div class="smart-timeline-content">
                                <p>
                                    <a href="javascript:void(0);">
                                        <span class="label label-default">Update</span>phone number
                                    </a>
                                </p>
                                <p>
                                    <span class="strike">619-568-4989</span>
                                    </br>
                                    619-574-5849
                                </p>
                            </div>
                        </li>
                        <li class="text-center">
                            <a href="javascript:void(0)" class="btn btn-sm btn-default"><i class="fa fa-arrow-down text-muted"></i> LOAD MORE</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="widgetSelection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Select a Widget</h4>
                </div>
                <div class="modal-body">
                    <p class="mb20">Choose a widget below to add it to the overview page. After is added you will be able to customize it</p>
                    <ul id="pickWidgets">
                        <li><i class="fa fa-twitter fa-3x"></i>
                            <p>Twitter</p>
                        </li>
                        <li><i class="fa fa-facebook fa-3x"></i>
                            <p>Facebook</p>
                        </li>
                        <li><i class="fa fa-google-plus fa-3x"></i>
                            <p>Google Plus</p>
                        </li>
                        <li><i class="fa fa-money fa-3x"></i>
                            <p>Revenue</p>
                        </li>
                        <li><i class="fa fa-shopping-cart fa-3x"></i>
                            <p>Orders</p>
                        </li>
                        <li><i class="fa fa-users fa-3x"></i>
                            <p>Contacts</p>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Add Widget</button>
                </div>
            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- modal -->
</script>