<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
-->

<script type="text/x-handlebars-template" name="social-dashboard-main">
    <div id="social_dashboard">
        <div id='social_dashboard_rightbar' class='sidebar sidebar-nav'>
            <h2 class="header accordion"><span class="icon-cog"></span> Settings <span class="arrow closed"></span></h2>
            <div class="section">
                <form id="dashboard-options" action=".">

                    {{#with dashboard}}
                    <input class="ds-title" type="text" placeholder="Title" value="{{title}}" />
                    <textarea class="ds-description" placeholder="Description">{{description}}</textarea>
                    {{/with}}

                    <label for="source">Facebook Page:</label>
                    <select class="ds-fb-source">
                        {{#each facebookPages}}
                        <option value="{{_id}}" {{#if selected}}selected{{/if}}>{{name}}</option>
                        {{/each}}
                    </select>

                    <button class="btn btn-danger dashboard-delete">Delete dashboard</button>
                </form>
            </div>

            <h2 class="header accordion"><b class="icon-th"></b> Facebook <span class="arrow closed"></span></h2>
            <ul class="section nav nav-list">
                <li><a href="#" class="module" data-type="chart" data-name="FB_overview">Overview</a></li>
                <li><a href="#" class="module" data-type="chart" data-name="FB_likesPerDay">Likes per day</a></li>
                <li><a href="#" class="module" data-type="chart" data-name="FB_postTimeline">All post activity</a></li>
                <li><a href="#" class="module" data-type="chart" data-name="FB_postInteractionsPerDay">Post interactions / day</a></li>
                <li><a href="#" class="module" data-type="chart" data-name="FB_reachPerDay">Daily reach</a></li>
                <li><a href="#" class="module" data-type="chart" data-name="FB_topTenPosts" data-width="2">Top 10 posts</a></li>
                <li><a href="#" class="module" data-type="chart" data-name="FB_engagedDemographics">Engaged users by age/gender</a></li>
                <li><a href="#" class="module" data-type="chart" data-name="FB_topFans" data-width="2">Top 5 fans</a></li>
            </ul>

            <div class="test alert alert-info">
                <input id="use-test-data" type="checkbox" {{#if testData}}checked="checked"{{/if}} />
                <label for="use-test-data">Enable test mode</label>
            </div>
        </div>
    </div>
</script>