<!--
* COPYRIGHT CMConsulting LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact christopher.mina@gmail.com for approval or questions.
-->

<script type="text/x-handlebars-template" name="fetching-data-progress-bar">
    {{> fetching-data-progress-bar-partial}}
</script>

<script type="text/x-handlebars-template" name="fetching-data-progress-bar-partial" partial="true">
    <div class="progress progress-striped active">
        <div class="bar" style="width:100%">
            {{#if label}}
                {{label}}
            {{else}}
                Gathering Information...
            {{/if}}
        </div>
    </div>
</script>