.dohy-dashboard-demo{
    .analytic-tile-container {

        .btn-o {
            border: 1px solid white;
            color: #f3f3f3;
            font-size: 1.4em;
            text-transform: uppercase;
            width: 100%;
        }

        .analytic-details{
            .analytic-details-table{
                width:100%;
                .header-row{
                    th{
                        text-align: center;
                        color: #d3d3d3;
                        font-weight: normal;
                    }
                    background: rgba(0, 0, 0, 0.5);
                    height: 40px; 
                    text-transform: uppercase;
                }
                .content-row{
                    height: 40px;
                    td{
                        color: #f3f3f3;
                    }
                    td:first-child{
                        color: #00ced1;
                    }

                }
            }
        }

    }
    .dashboard-logo{
        @media screen and (min-width: 768px) {
            max-width: inherit;
            max-height: inherit;
        }
    }

    .inbox-widget-container{
        border-radius: 8px;
        .tabbable{
            min-height: 250px;
            margin-right: -35px;
            background: #fff!important;
            ul.nav.nav-tabs{

                li{                    
                    border-bottom: 1px solid #eeeeee;
                    a{
                        margin: 0 !important;
                        border :none !important;
                        color: #48b1cc;
                        i{
                            font-size: 17px;
                        }
                    }
                }
                li.active{
                    a{
                        background: #48b1cc !important;
                        color: #fff !important;
                    }
                }

                
            } 

            ul.message-container-top{
                list-style: none;                
                padding: 0;
                margin-bottom: 0;
                li{
                    padding: 20px;
                    border: 1px solid #eeeeee;
                    border-top: 0;
                }
            }

            .message-container-left{
                               
                .message-user{ 
                    float: left;
                    margin-right: 10px;
                    img{
                        max-width: 50px;
                        border-radius: 30%;
                        margin:0;
                    }    
                }
                .message-title{
                    font-size: 16px;
                    color: #2C3030;
                }
                .message-date{                    
                    float: right;
                    color: #48b1cc;
                }
                .btn.btn-message{
                    border-radius: 0;
                    height: 50px;
                }
            }

            .message-container{
                margin-left: -15px;
                margin-top: -15px; 
                padding: 0;
            } 

            .active-message{
                background: rgba(230,230,250, 0.3);
            }

            .message-container-right{
                margin-left: 0px;
                margin-top: -14px;
                min-height: 300px;
                .message-user{ 
                    float: left;
                    margin-right: 10px;
                    img{
                        max-width: 60px;
                        border-radius: 30%;
                        margin:0;
                    }    
                }
                .message-date{
                    color: #48b1cc;
                }
                ul.message-container-top{                    
                    li{
                        border-left: none;
                        border-right: none;
                    }    
                }
            }  
        }
        .message-footer{
            min-height:50px;
            background: rgba(0, 0, 0, 0.75);
            margin-bottom: 40px;
            .footer-text{
                line-height: 50px;
            }
            .black-border-right{
                border-right: solid 1px gray;
            }
        }
    }
}    