/* DOHY */

.dohy-dashboard-container {

    @import "grid.less";

    background-color: black;
    background-image: url('http://s3.amazonaws.com/indigenous-digital-assets/account_6/dohy-bg-mountain-1_1449539273222.jpg');
    background-repeat: no-repeat;
    // background-size: cover;
    background-size: 100% auto;

    #page-title, .container-fullw {
        border: none;
    }

    #page-title .mainTitle, #page-title .mainDescription {
        color: white;
        text-align: center;
    }
}

.workstream-container {
    position: relative;
}

.workstream-tile-container {
    margin: 0 1em;

    .workstream-panel-circle {
        // float: left;
        // width: 50%;
        // padding: .5em;
        // vertical-align: top;

        @media screen and (min-width: 768px) {
            // width: 25%;
        }

        @media screen and (min-width: 1024px) {
            // width: 20%;
            // max-width: 230px;
            // padding: .85em;
        }
    }

    .workstream-block-list {
        text-align: left;
    }

    .tooltip {
        min-width: 10em;
    }

    &.workstream-state-unlocked {

        .workstream-panel-circle {
            background: gray;
        }

    }

    a.workstream-block-complete{
        color: #1a5200;
        pointer-events: none;
    }

}

.workstream-detail-panel {
    background: #fff;
    width: 100%;
    // position: absolute;
    // top: auto;
    // left: 0;
}

.dashboard-video {
    .container {
        max-width: 100%;
        padding: 15px;
    }
}
.dashboard-logo {
    max-width: 100px;
}
.dashboard-logo-edit {
    text-align: center;
    font-size: 10px;
    color: white;
}

.analytic-tile-container {
    .left-title{
        font-size: 15px;
        color: white;
    }
    .right-value{
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    .btn-o{
        border: 1px solid white;
        color: white;
        font-size: 14px;
        min-width: 80%;
    }
    .title-container{
        margin-top:10%;
        margin-bottom:10%;
    }

}

.indi-circle {
    background-color: transparent;
    width: 100%;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 50% 50%;
    overflow: hidden;

    .indi-circle-title {
        position: absolute;
        bottom: 0;
        height: 50%;
        height: calc(~'50% - .5em');
        padding: 1em .5em;
        color: #50b0c9;
        font-weight: bold;
        background: #ffffff;
        width: 100%;
        text-align: center;
        box-shadow: 0px -9px 10px -6px rgba(0, 0, 0, .3);
    }

    .indi-circle-img {
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, .3);
        border-radius: 50% 50%;
    }

    .panel-body {
        cursor: initial;
        position: absolute;
        width: 100%;
        height: auto;
    }

    @media screen and (min-width: 768px) {
        // width: 200px;
        // height: 200px;
    }

    @media screen and (min-width: 1024px) {
        // width: 250px;
        // height: 250px;
    }
}

.indi-rounded {
    display: inline-block;
    max-width: 100%;
    height: auto;
    line-height: 1.42857143;
    background-color: #fff;
    border: 4px solid rgba(0,0,0,0.4);
    border-radius: 10px;

    .indi-rounded-title {
        position: absolute;
        height: 20%;
        left: 10px;
        right: 10px;
        padding: .5em .5em;
        font-weight: bold;
        background: #ffffff;
        width: 90%;
        font-size: 20px;
        text-align: center;
        box-shadow: 0px -9px 10px -6px rgba(0, 0, 0, .3);
    }
    .analytic-details {
        position: absolute;
        width: 100%;
        height: 80%;
        bottom: 0;
        background-color: rgba(0,0,0,0.75);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .indi-rounded-img {
        display: inline-block;
        max-width: 100%;
        height: auto;
        padding: 4px;
        line-height: 1.42857143;

        border: none;
        border-radius: 10px;
    }

    .panel-body {
        cursor: initial;
        position: absolute;
        width: 100%;
        height: auto;
    }

    @media screen and (min-width: 768px) {
        // width: 200px;
        // height: 200px;
    }

    @media screen and (min-width: 1024px) {
        // width: 250px;
        // height: 250px;
    }
}
.workstream-video-thumbnail{
    .workstream-poster-container{
        width: 70%;
        .workstream-poster-image-container{
            position: relative;
            span{
                color: red;
                position: absolute;
                bottom: 0;
                top: 0;
                right: 0;
                left: 0;
                margin: auto;
                width: 5px;
                height: 5px;
            }
            .workstream-poster-image{
                width: 100%;
            }
        }
            
    }
}
