.dohy-dashboard-demo{
    .analytic-tile-container {

        .btn-o {
            border: 1px solid white;
            color: #f3f3f3;
            font-size: 13px;
            text-transform: uppercase;
            width: 100%;
        }
        .demo-analytic-widget{
            min-height: 340px;
        }
        .analytic-details{
            height: 85%;
            .analytic-details-table{
                width:100%;
                .header-row{
                    th{
                        text-align: left;
                        color: #d3d3d3;
                        font-weight: normal;
                        padding-left: 15px;
                    }
                    background: rgba(0, 0, 0, 0.5);
                    height: 40px;
                    text-transform: uppercase;
                }
                .content-row{
                    height: 30px;
                    td{
                        color: #f3f3f3;
                        padding-left: 15px;
                        text-align: left;
                    }
                    td:first-child{
                        a{
                            color: #00ced1 !important;
                        }

                    }

                }
                .loading-ui-row{
                    h2{
                        color: white;
                        padding-top: 20%;
                    }
                }
            }
        }

    }
    .dashboard-logo{
        @media screen and (min-width: 768px) {
            max-width: inherit;
            max-height: inherit;
        }
    }
}
