.dohy-dashboard-demo{
    .analytic-tile-container {

        .btn-o {
            border: 1px solid white;
            color: #f3f3f3;
            font-size: 1.4em;
            text-transform: uppercase;
            width: 100%;
        }

    }
}    