/* DOHY */

@boxShadow: 0px 0px 0px 5px rgba(0,0,0,.1);
@headerFontFamily: 'Raleway', sans-serif;

.dohy-dashboard-container {

    @import "grid.less";
    @import "grayscale.less";

    #loading-bar {
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
        // background: red;

        .bar {
            position: absolute;
            bottom: calc(~'50% - .75em');
            top: auto;
        }
    }

    .dohy-dashboard-inner {
        background-color: black;
        background-image: url('http://s3.amazonaws.com/indigenous-digital-assets/account_6/dohy-bg-mountain-1_1449539273222.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        // min-height: 1000px;
        // min-height: calc(~'100vh - 70px');
        min-height: 100vh;
        margin: 0 -15px;
        background-attachment: fixed;
        .indi-help-text{
            color: #f3f3f3;
            padding: 20px;
            span{
                display:block;
                a{
                    color: #5bc0de;
                    text-decoration: underline;
                }
            }
        }
    }

    #page-title, .container-fullw {
        border: none;
    }

    #page-title .mainTitle, #page-title .mainDescription {
        color: white;
        text-align: center;
        font-family: @headerFontFamily;
        font-weight: bold;
    }

    .is-expanded .workstream-panel-img {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(0%);
        opacity: 1;
    }
}

.workstream-container {
    position: relative;
}

.workstream-tile-container {
    margin: 0;// 1em;

    .workstream-panel-circle {

        &:hover .workstream-panel-img {
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
            -webkit-filter: grayscale(0%);
            opacity: 1;
        }

        @media screen and (min-width: 768px) {
            // width: 25%;
        }

        @media screen and (min-width: 1024px) {
            // width: 20%;
            // max-width: 230px;
            // padding: .85em;
        }
    }

    .workstream-block-list {
        text-align: left;
    }

    .tooltip {
        min-width: 10em;
    }

    &.workstream-state-unlocked {

        .workstream-panel-circle {
            background: #5bc0de;
        }

    }

    &.workstream-state-completed {

        .workstream-panel-circle {
            background: green;
        }

    }

    .workstream-block-link {
        color: #5bc0de;
        font-weight: bold;
    }

}

.workstream-progress-bar {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 80%;
    background: blue;
    height: 8px;
    transform: translate(-50%, -45%);
    border-radius: 5em;
    box-shadow: 0 0 0px 4px rgba(0,0,0,.5);
}

.workstream-detail-panel {
    background: #f3f3f3;
    width: 100%;
    margin-top: 10px;

    .workstream-title {
        font-weight: bold;
        color: #3b3b3b;
    }
}

.dashboard-video {
    .container {
        max-width: 100%;
        padding: 15px;
    }
}

.dashboard-logo {
    // box-shadow: @boxShadow;
    max-width: 100px;
    max-height: 200px;
    background-color: transparent;
    width: 75%;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
    // overflow: hidden;

    .indi-circle-img {
        background: #f3f3f3;
        // opacity: .5!important;
    }

    img {
        width: 100%;
    }
}

.dashboard-logo-edit {
    text-align: center;
    font-size: 10px;
    color: #f3f3f3;
}

.analytic-tile-container {
    .left-title{
        color: #f3f3f3;
    }
    .right-value{
        font-size: 20px;
        font-weight: bold;
        color: #f3f3f3;
    }
    .btn-o{
        border: 1px solid white;
        color: #f3f3f3;
        font-size: 14px;
        min-width: 80%;
    }
    .title-container{
        margin-top:8%;
        margin-bottom:8%;
    }

}

.indi-circle {
    background-color: transparent;
    width: 75%;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 50% 50%;
    overflow: hidden;
    box-shadow: @boxShadow;
    will-change: transform;

    .indi-circle-title {
        position: absolute;
        bottom: 0;
        height: 50%;
        height: calc(~'50% - .5em');
        padding: .5em .75em;
        color: #50b0c9;
        font-family: @headerFontFamily;
        font-weight: bold;
        font-size: 12px;
        background: #f3f3f3;
        width: 100%;
        text-align: center;
        box-shadow: 0px -9px 10px -6px rgba(0, 0, 0, .3);
        margin-bottom: 0;
        line-height: 1.25em;

        & > div {
            // position: relative;
            // top: 50%;
            // transform: translateY(-50%);
        }

        @media screen and (min-width: 450px) {
            font-size: 1.25em;
        }

        @media screen and (min-width: 667px) {
            font-size: 1em;
        }

        @media screen and (min-width: 800px) {
            font-size: 1.25em;
            padding: 1em;
        }
    }

    .indi-circle-img {
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, .3);
        border-radius: 50% 50%;
        opacity: .8;

        &:hover {
            opacity: 1;
        }
    }

    .panel-body {
        cursor: initial;
        position: absolute;
        width: 100%;
        height: auto;
    }

    @media screen and (min-width: 768px) {
        // width: 200px;
        // height: 200px;
    }

    @media screen and (min-width: 1024px) {
        // width: 250px;
        // height: 250px;
    }
}

.indi-rounded {    
    max-width: 85%;
    height: auto;
    line-height: 1.42857143;
    background-color: #f3f3f3;
    border: 4px solid rgba(0,0,0,0.4);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;

    .indi-rounded-title {
        position: absolute;
        height: 20%;
        left: 10px;
        right: 10px;
        padding: .5em .5em;
        font-weight: bold;
        background: #f3f3f3;
        width: 90%;
        font-size: 20px;
        text-align: center;
        box-shadow: 0px -9px 10px -6px rgba(0, 0, 0, .3);
    }
    .analytic-details {
        position: absolute;
        width: 100%;
        height: 80%;
        bottom: 0;
        background-color: rgba(0,0,0,0.75);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .indi-rounded-img {
        display: inline-block;
        max-width: 100%;
        height: auto;
        padding: 4px;
        line-height: 1.42857143;
        border: none;
        border-radius: 10px;
    }

    .panel-body {
        cursor: initial;
        position: absolute;
        width: 100%;
        height: auto;
    }

    @media screen and (min-width: 768px) {
        // width: 200px;
        // height: 200px;
    }

    @media screen and (min-width: 1024px) {
        // width: 250px;
        // height: 250px;
    }
}
.workstream-video-thumbnail{
    .workstream-poster-container{
        width: 100%;
        .workstream-poster-image-container{
            position: relative;
            .fa{
                color: #1f1f1f;
                position: absolute;
                top: 0px;
                opacity: .81;
                right: 0;
                left: 0;
                margin: auto;
                bottom: 0;
                height: 18px;
                width: 53px;
                line-height: 18px;
                .icon-inner{
                    background: white;
                    height: 30px;
                    margin-top: -23px;
                    z-index: -1;
                    width: 30px;
                    opacity: 1;
                    margin-left: 12px;
                }
            }
            .workstream-poster-image{
                width: 100%;
            }
            &:hover{
                .fa{
                    color: #cc181e;
                    opacity: 1;
                }
            }
        }

    }
}
