/* DOHY */


dashboard-workstream-tile-component {

    &.state-unlocked {
        box-shadow: 1px 1px 1px 0px #5bc0de;
    }

    .workstream-block-list {
        text-align: left;
    }

}



.dashboard-video {
    .container {
        max-width: 100%;
        padding: 15px;
    }
}
