// html {
//     box-sizing: border-box;
// }

.basic__img,
.expand__clos,
.image--basic,
.image--expand,
.image--large,
.image-grid,
.image__cell {
    *, *:before, *:after {
        box-sizing: inherit;
    }
}

// [class^="col-"],
// [class*=" col-"] {
//     *, *:before, *:after {
//         box-sizing: border-box;
//     }
// }

.image-grid {
    width: 100%;
    max-width: 1310px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 5px 0;
    min-height: 270px;
}

.image__cell {
    float: left;
    position: relative;
    padding: 0;//0 1em 3em 0;
    margin-bottom: 2em;
}

.image--basic {
    // padding: 0 5px;
}

.basic__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.image__cell.is-collapsed .image--basic {
    cursor: pointer;
}

.image__cell.is-expanded .image--expand {
    max-height: 1000px;
    margin-bottom: 10px;
}

.image--expand {
    position: relative;
    left: -5px;
    padding: 0 5px;
    box-sizing: content-box;
    overflow: hidden;
    background: #f3f3f3;
    max-height: 0;
    // transition: max-height .3s ease-in-out, margin-bottom .1s .2s;

    [class^="col-"],
    [class*=" col-"] {
        box-sizing: border-box!important;
    }
}

.image__cell.is-collapsed .arrow--up {
    height: 0; //10px;
    width: 100%;
}

.image__cell.is-expanded .arrow--up {
    border-bottom: 15px solid #f3f3f3;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    height: 0;
    width: 0;
    margin: 2px auto 0;

    // position: absolute;
    // bottom: 0;
    // width: 10px;
    // height: 10px;
    // z-index: 1;
    // left: 50%;
    // transform: translateX(-50%);
}


.image__cell.is-expanded .workstream-panel-circle-container{
  &:after{
    top: auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #f3f3f3;
    border-width: 15px;
    left: 50%;
    margin: -20px 0 0 -15px;
  }
}

.expand__close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3em;
    color: #454545;
    line-height: 50px;
    text-decoration: none;
    cursor: pointer;

    @media screen and (min-width: 400px) {
        top: 10px;
        right: 20px;
        font-size: 50px;
    }
}

.expand__close:before {
    content: '×';
}

.expand__close:hover {
    color: #000;
}

.image--large {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 40px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media only screen and (max-width: 400px) {

  .image__cell {
      width: 100%!important;
      padding: 0;
  }

  .image--expand {
    width: 100%!important;
  }

}

@media only screen and (min-width: 401px) and (max-width: 550px) {

  .image__cell {
      width: 80%!important;
      float: none!important;
      padding: 1em;
      margin: 0 auto;

  }

  .image__cell:nth-of-type(2n+2) .image--expand {
      clear:left;
  }

  .image__cell:nth-of-type(2n+3) {
      clear:left;
  }

  .image--expand {
    width: 140%!important;
    margin-left: -20%;
    .workstream-poster-image{
        width: 80% !important;
      }
  }

}

@media only screen and (min-width: 551px) and (max-width: 960px) {

  .image__cell {
      width: 50%;
      float: left;
  }

  .image__cell:nth-of-type(2n+2) .image--expand {
      margin-left: -100%;
  }

  .image__cell:nth-of-type(2n+3) {
      clear:left;
  }

  .image--expand {
      width: 200%;
  }

}

@media only screen and (min-width: 961px) {
  .image__cell {
      width: 25%;
  }

  .image__cell:nth-of-type(4n+2) .image--expand {
    margin-left: -100%;
  }

  .image__cell:nth-of-type(4n+3) .image--expand {
    margin-left: -200%;
  }

  .image__cell:nth-of-type(4n+4) .image--expand {
    margin-left: -300%;
  }

  .image__cell:nth-of-type(4n+5) .image--expand {
    // margin-left: -400%;
    clear: left;
  }

  // .image__cell:nth-of-type(5n+6) {
  //   clear: left;
  // }

  .image--expand {
    width: 400%;
  }

}
