<div class="ssb-topbar-inner">

    <div class="pull-left">

        <div
            class="ssb-nav-back"
            ng-click="vm.backToEmailList();">
            <i
                class="fa fa-arrow-left"
                tooltip-placement="bottom"
                tooltip-append-to-body="true"
                tooltip="Back">
            </i>
            <!-- <span>Back</span> -->
        </div>

    </div>

    <div id='ssb-froala-scrollable-container'></div>

    <div class="pull-right text-right">

        <email-action-buttons
            ng-if="vm.uiState.openBlogPanel.id !== 'edit'"
            class="ssb-control-bar"
            save-action="vm.saveEmail()"
            cancel-action="vm.cancelPendingEdits()"
            state="vm.state"
            ui-state="vm.uiState"
            revert-action='vm.revertPage(versionId)'
            create-campaign-action="vm.uiState.createCampaign(vm.state.email)"
            send-email-action="vm.uiState.openSimpleModal('send-test-email-modal')">
        </email-action-buttons>

    </div>

</div>
