<div class="workstream-tile-container image--basic" ng-class="{ 'workstream-state-unlocked': vm.workstream.unlocked, 'workstream-state-completed': vm.workstream.completed }">

    <div class="workstream-panel-circle-container">
        <div
        class="indi-circle workstream-panel-circle panel panel-white text-center margin-bottom-0 cursor-pointer"
        ng-click="vm.workstreamClick()">

        <img class="indi-circle-img grayscale workstream-panel-img" src="http://s3.amazonaws.com/indigenous-digital-assets/account_6/dohy-send-email-2.png" alt="{{vm.workstream.name}}" />

        <div id="loading-bar"><div class="bar" ng-style="{ 'width': vm.completePercentageStyle }"><div class="peg"></div></div></div>

        <h3 class="workstream-title indi-circle-title">
            <div>{{vm.workstream.name}}</div>
        </h3>

        </div>
    </div>


    <div id="{{vm.workstream._id}}" class="workstream-detail-panel image--expand panel-body">

        <div class="col-md-4 padding-20">
            <div class="workstream-video-thumbnail" ng-if="vm.workstream.unlocked" ng-init="vm.getVideoConfigObject(vm.workstream)">
                <div class="workstream-poster-container cursor-pointer" ng-click="vm.playWorkstreamVideo()">
                   <div class="workstream-poster-image-container">
                        <i class="fa fa-youtube-play fa-4x">
                            <div class="icon-inner">
                            </div>
                        </i>
                        <img class="workstream-poster-image" src="{{vm.videoConfig.videoPosterImage}}">
                   </div>

                </div>
            </div>
        </div>

        <div class="col-md-8 padding-20">
            <h3 class="workstream-title">{{vm.workstream.name}}</h3>

            <p class="worksteam-description text-small">
                {{vm.workstream.description || 'This workstream needs a description.'}}
            </p>

            <ol class="workstream-block-list list-unstyled" ng-if="vm.workstream.unlocked">
                <li class="workstream-block-list-item" ng-repeat="block in vm.uiState.openWorkstream.blocks">
                    <a ng-if="block.complete"
                        href="javascript:void(0)"
                        class="workstream-block-link checkbox clip-check check-primary checkbox-inline workstream-block-complete"
                        tooltip-placement="right"
                        tooltip-html-unsafe="{{block.helpText}}">

                        {{block.name}}

                        <i class="fa fa-check-circle"></i>

                    </a>

                    <a ng-if = "!block.alias && !block.complete"
                        href="{{block.link}}"
                        class="workstream-block-link checkbox clip-check check-primary checkbox-inline"
                        tooltip-placement="right"
                        tooltip-html-unsafe="{{block.helpText}}">

                        {{block.name}}

                        <i class="fa fa-long-arrow-right"></i>

                    </a>

                    <a ng-if="block.alias && !block.complete"
                        href="javascript:void(0)"
                        class="workstream-block-link checkbox clip-check check-primary checkbox-inline"
                        tooltip-placement="right"
                        ng-click="vm.callAliasMethod(block.alias)"
                        tooltip-html-unsafe="{{block.helpText}}">

                        {{block.name}}

                        <i class="fa fa-long-arrow-right"></i>

                    </a>

                </li>
            </ol>

            <div class="workstream-percent-complete" ng-if="vm.workstream.unlocked">
                {{vm.uiState.openWorkstream.completeRatio}}
            </div>
        </div>

        <div ng-click="vm.workstreamClick()" class="expand__close"></div>

    </div>

</div>
