@font-face {
    font-family: "Berlin";
    src: url("/fonts/berlin/Berlin-Normal.otf");
}
@font-face {
    font-family: "Berlin";
    src: url("/fonts/berlin/Berlin-Bold.otf");
    font-weight: bold;
}