.ssb-sidebar {
	overflow: auto;
	overflow-x: hidden;
	// background-color: #5bc0de;
	display: none;
	height: 200px;

	@media (min-width: 768px) {
    	// float: left;
    	position: fixed;
    	width: 25%;
		height: 100%;
    }


}

.ssb-sidebar.ssb-sidebar-show {
	display: block;
}
