.ssb-sidebar {

    background: @ssb-chrome-medium-blue-gray-bg-color;
    z-index: 4;


    img {
      max-width: 100%;
    }

    .list-unstyled {
      margin-bottom: 0;
    }

    .tooltip {
        z-index: 99999;
    }

    .spacing-mr, .spacing-ml {
        margin: 0;
    }

    .partition-light-primary, .partition-dark-primary {

        [class^="col-"],
        [class*=" col-"] {
          padding: 0;
        }

        .lead {
            font-size: 13px;
            margin-bottom: 32px;
        }

    }

    .head-menu-links {
        a.nav-link-label{
            word-break: break-word;
            padding-right: 30% !important;
        }
        .container-fluid {
          & > div > div {
            padding: 0 1em 0;
          }
        }
    }
    #reorderNavBarContainer {
        .setting-nav-sub-menu {
            .panel-heading .panel-title a{
                  padding-right: 34% !important;
            }
        }
    }
    @media (min-width: 768px) {
        display: block;
        height: 200px;
        clear: both;
        position: fixed;
        // width: 25%;
        // height: ~"calc(100% - 140px)";
        height: 100%;
        top: 125px;
        // width: 25%;
        // min-width: 325px;
    }

    .form-group {
        clear: both;
        float: left;
        width: 100%;
    }

    .form-group > label {
        //position: absolute;
        //top: 50%;
        //left: 0;
        //transform: translate(0,-50%);
    }

}

.ssb-sidebar-heading {
	position: relative;
	color: white;
    background: @indigenous-blue;
    padding: 1em;
    text-align: center;

    h4, .ti-arrow-left {
    	color: white;
    }

    h4 {
    	margin: .75em auto;
        font-weight: bold;
    }

    .ti-arrow-left, .ti-arrow-right {
        position: absolute;
	    top: 50%;
	    left: .5em;
    	cursor: pointer;
    	transform: translateY(-50%);
    }

    .ti-arrow-right {
        left: auto;
        right: .5em;
    }

}

.ssb-sidebar-position-0 {
    // left: 0;
}

.ssb-sidebar-position-1 {
    // left: -100%;
}

.ssb-sidebar-section-open {
    background: #fff;
}

.ssb-sidebar-sub-heading {
    position: relative;
    padding: .85em .5em;
    border-top: 1px solid #E7EAEA;
    // border-bottom: 1px solid #E7EAEA;
    margin: 0;

    .ssb-sidebar-item-icon {
        right: .5em;
    }

    .form-inline.editable-text{
       input.editable-input{
           max-width: 150px;
       }
   }
}

.ssb-sidebar-sub-heading-separator {
    background: @ssb-sidebar-heading-bg-color;
    color: @ssb-sidebar-heading-text-color;
    text-transform: uppercase;
    border-width: 1px 0;
    border-color: @ssb-sidebar-heading-border-color;
    border-style: solid;
    width: calc(~"100% + 30px");
    margin: 0 0 10px -15px;
    padding: 10px 10px;
    font-size: 12px;
    font-weight: 500;
}

// .ssb-sidebar-settings-heading {
//     text-decoration: underline;
//     font-family: Helvetica, Arial, sans-serif;
//     margin: 1em 0;
// }

.ssb-sidebar-page-sections-list {
    // height: 400px;
    // overflow: auto;
    // overflow-x: hidden;
}

.ssb-page-section-settings-item > .panel-group {
    margin-bottom: 0;
}

.ssb-page-section-settings-item {
    position: relative;
}

.site-editor-group-pages {
    .active-page a {
        color: @indigenous-blue !important;
        font-weight: 600;
    }
}

.ssb-sidebar-move-handle {
    // position: absolute;
    // top: 1em;
    // right: 1em;
    // z-index: 1;
    // cursor: move;
}

.ssb-sidebar-item-icon {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1;
    cursor: pointer;
}

.ssb-sidebar-item-icon-offset-1 {
    right: 3em;
}

.ssb-sidebar-item-icon-offset-2 {
    right: 5em;
}

.ssb-sidebar-item-icon-offset-3 {
    right: 7em;
}
.ssb-sidebar-sortable-item .hidden-faded {
    opacity:0.4;
}

.ssb-settings-list {

    background: white;
    margin: 0;
    padding: 0 0 1.5em;

    li {
        padding: 1em 1em 0;
    }
}

.ssb-sidebar-sortable-item {

    .panel-title {
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        border-bottom: 1px solid #eee;
    }

    .panel-heading {
        padding: 0;
        background-image: none;
        height: auto;
        min-height: 0;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        border-radius: 0;
        background-clip: padding-box;
    }

    .panel-heading .panel-title a {
        background: #fff;
        text-transform: capitalize;
        color: #5b5b60;
        display: block;
        font-size: 13px;
        line-height: 20px;
        padding: 10px;
        position: relative;

        .ssb-sidebar-component-open {
            color: orange;
            font-weight: 600;
        }
    }

    &.ssb-sidebar-section-open > .panel-heading .panel-title a {
        color: @indigenous-blue;
        font-weight: 600;
    }

}

.ssb-sidebar-section-components-list > li:first-child .ssb-sidebar-sortable-item:first-of-type .panel-title:first-of-type {
  border-bottom: 0 none;
}

.ssb-sidebar-sortable-item-component {
    border: 1px solid #ddd!important;
    border-width: 1px 1px 0 1px!important;
}

.sortable-chosen .panel-heading .panel-title a {
    background: #ddd;
    color: #fff;
}

.ssb-sidebar-component-list {
    .panel-body {
        cursor: pointer;
    }
}

.btn-ssb-remove-component {
    width: auto;
    margin: 1em auto;
}

.ssb-sidebar-inner {

    @media (min-width: 768px) {
        height: 100%;
        height: 100vh; //fixes safari issue
        // transform: translate3d(0,0,0);
        // backface-visibility: hidden;
    }

    .editor-group {
        position: absolute;
        top: 118px;
        width: 100%;

        @media (min-width: 768px) {
            float: left;
            // width: ~"calc(100% - 70px)"; //70px for ssb-sidebar-icons width
            width: 580px;
            max-width: 800px;
            height: ~"calc(100vh - 125px)";
            overflow: auto;
            position: relative;
            top: auto;
            box-shadow: 0px -1px 3px 1px rgba(0, 0, 0, .5);
            // min-width: 510px;
        }

        .ssb-sidebar-sub-heading {
            border: none;
        }

        .tabs-left .tab-content {
            border: none;
        }

        .tabbable {
            background-color: transparent;
        }

        .tabs-left > .nav-tabs > li > a {
            padding-left: 1em;
        }

        .tabs-left > .nav-tabs > li.active > a {
            font-weight: bold;
            border: none;
            box-shadow: none;
        }

        tab-heading {
            text-transform: capitalize;
        }

        @media (max-width: 768px) {
            &.tab-content {
                box-shadow: 0px 10px 10px 0px rgba(0,0,0,.5);
            }

            .ssb-sidebar-tabbable-inner .tabbable {
                margin: 0 -15px;
            }

            .ssb-sidebar-tabbable-inner .nav-tabs {
                margin-left: -5px;
                font-size: .85em;
            }

            .ssb-sidebar-tabbable-inner .tab-pane {
                padding: 0;
            }
        }



    }

    .site-editor-group-blog.tab-content > .active {
        padding: 0;
    }

    .site-editor-group-add {
        .nav-tabs {
            margin-left: -5px;
        }
        .fa {
            width: 20px;
            text-align: center;
        }
    }

    .site-editor-group-add .ssb-sidebar-sub-heading {
        // padding-left: 18px;
    }

    @media (max-width: 768px) {
        &.tab-pane {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .editable-error.help-block{
        white-space: normal;
        max-width: 300px;
    }
}

.ssb-sidebar-panel-inner-container {
    margin-top: -15px;
}

.ssb-sidebar-panel-header {
    box-shadow: 0 5px 5px -1px rgba(0,0,0,.25);
    margin: 0 -15px 10px;

    @media (min-width: 768px) {
        box-shadow: none;
    }

    .ssb-sidebar-sub-heading {
        font-weight: bold;
        padding-left: 20px;

        @media (min-width: 768px) {
            padding-top: 23px;
        }
    }
}

.ssb-sidebar-icons {
    position: absolute;
    top: 60px;
    height: auto;
    width: 100%;

    @media (max-width: 768px) {
        background: transparent;
    }

    @media (min-width: 768px) {
        position: static;
        float: left;
        background: @ssb-chrome-medium-blue-gray-bg-color;
        height: 100%;
        width: auto;
    }

    .nav {

        background: @ssb-chrome-medium-blue-gray-bg-color;
        max-width: 300px;

        @media (max-width: 768px) {
            position: relative;
            z-index: 0;
            border-bottom: 0 none;
            width: 100%;
            text-align: center;
            max-width: 100%;
        }
    }

    .nav-tab {
        display: inline-block;
        max-width: 70px;
        margin: 0;
        cursor: pointer;
        text-align: center!important;
        background: @ssb-chrome-medium-blue-gray-bg-color;
        padding: 1em 0;
        width: 19%;
        float: none;

        @media (min-width: 768px) {
            display: block;
            padding: 1em;
            width: auto;
            float: left;
        }

        &:hover {
            color: #48b1cc;
        }
    }

    .nav-tab a {
        border: none;
        margin: 0;
        box-shadow: none;
        font-weight: bold;
    }

    .nav-tab-is-active {
        background: white;
        // border-bottom: 5px solid #48b1cc;


        @media (min-width: 768px) {
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: -5px;
                background: white;
                height: 100%;
                width: 10px;
                z-index: 1;
            }
        }

    }

}

.ssb-sidebar-add-section {

    position: relative;

    &:hover {
        .ssb-sidebar-add-section-btn {
            display: block;
        }
    }

    .ssb-sidebar-add-section-img {

        background: lightGray;

    }

    &.ssb-sidebar-layout-version .ssb-sidebar-add-section-img a > span {
        background-size: 110% auto;
        height: 115px;
        background-position: center;
        border-radius: 5px;
        border: 1px solid #e7e7e7;
        display: block;
        background-repeat: no-repeat;
    }

    .fa-info  {
        color: #48b1cc;
        position: absolute;
        top: 1em;
        right: 1em;
    }

    .ssb-sidebar-add-section-btn {
        display: none;
        position: absolute;
        bottom: 1em;
        left: 50%;
        transform: translateX(-50%);
    }

    .tooltip h4 {
        color: white;
        font-weight: bold;
    }

}

.ssb-sidebar-section-panel {
    position: fixed;
    top: 145px;
    right: 35px;
    background: transparent;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
    border-radius: 14px; //5px;
    font-size: 12px;
    max-height: ~"calc(100% - 182px)";
    // overflow: auto;
    // overflow-x: hidden;
    width: 350px;
    // width: 360px;
    border: 10px solid rgba(255,255,255,.75);
    min-height: 160px;
    z-index: 1;

    // right: 35px;
    // background: white;
    // box-shadow: 4px 4px 11px 1px rgba(0, 0, 0, 0.4);
    // border-radius: 5px;
    // font-size: 12px;
    // max-height: ~"calc(100% - 182px)";
    // overflow: auto;
    // overflow-x: hidden;
    // width: 300px;

    // max-height: 600px;

    @media (max-width: 767px) {
        top: 130px;
        bottom: 0;
        width: 90%;
        left: 5%;
        right: 5%;
        display: table;
    }

    &.draggable > .ssb-sidebar-sub-heading {
        cursor: move;
        border-radius: 5px 5px 0px 0px;
        // border: 0 none;
        text-transform: capitalize;
        background: @indigenous-gray-blue;
        color: white;
        border-top: 0 none;
        font-weight: 600;

        i {
            cursor: pointer;
            font-size: 14px;
            line-height: 1;
            height: 100%;
            position: relative;
            top: -2px;
            margin: 0 .25em 0 .25em;
        }

    }

    &.draggable > .close-panel {
        top: -1px;
        right: 1em;
        cursor: pointer;
        font-size: 16px;
        color: white;
        line-height: 3.15em;
    }

    .close {
        position: absolute;
        top: 1.45em;
        right: 1em;
        cursor: pointer;
        color: white;
        font-size: 1.2em;
    }
    .ui-select-match-close{
        position: static;
    }

    .panel-group {
        margin-bottom: 0;
    }

    .row:not(:first-of-type) {
        // border-top: 1px solid #ddd;
    }

    .ssb-sidebar-item-section-actions {
        background: @indigenous-gray-blue;
        color: white;
        padding-left: 0;
        padding-right: 0;
    }

    .ssb-sidebar-item-section-actions .ssb-sidebar-item-icon {
        position: static;
        display: inline-block;
        padding: 1em;
        font-size: 14px!important;
        font-weight: 600;
    }
    // .loadingNavigation{
    //     min-height: 200px;
    //     margin: 20px;
    // }
    .product-ui-select{
        margin-bottom: 100px;
        ul.dropdown-menu {
            max-height: 100px;
        }
    }

    label {
        color: @ssb-sidebar-heading-text-color;
    }

}
.ssb-sidebar-section-panel-btn.btn-link {
    width: 100%;
    padding: .5em 0;
    text-align: left;
    color: #454545;

    &:hover {
        text-decoration: none;
        color: #2d2d2d;
    }

    i {
        padding-right: .25em;
    }
}

.ssb-sidebar-section-panel-btn.btn-primary {
    width: 100%;
    padding: 1em;
    text-align: center;
    margin: .5em auto;
    display: block;
    text-transform: capitalize;
}

.close-panel {
    position: absolute;
    top: 18px;
    right: 1em;
    cursor: pointer;
    padding: 1em;
    margin: -1em;

    @media (min-width: 768px) {
        top: 25px;
    }
}

.ssb-sidebar-section-panel-scrollable {
    overflow: auto;
    overflow-x: hidden;
    max-height: calc(~"100vh - 250px");
    border-radius: 0px 0px 5px 5px;
    .ui-select-match-text > small {
        width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
    }

    @media screen and (max-width: 767px) {
        max-height: calc(~"100vh - 320px");
    }

}

.ssb-sidebar-section-panel-loading-background {
    position: absolute;
    height: 90px;
    width: 100%;
    background: @indigenous-gray-blue;
    color: white;
    z-index: -1;
    border-radius: 0 0 5px 5px;
}

.ssb-sidebar-section-panel-component-panel {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1;
    overflow: hidden;
    min-height: 100%;
    color: @form-label-main-text-color;
}

.ssb-sidebar-section-panel-component-panel.ng-enter{
    min-height: 128px;
}

.ssb-sidebar-section-panel-component-panel .ssb-wide-input .bootstrap-touchspin {
    width: 50%;
    float: right;
}


.ssb-section-content-list-item {
    margin: 0 .5em 1em 0;
}

.ssb-section-content-list-item-on {
    border: 6px solid @indigenous-blue;
}

.ssb-btn-theme-color-bg{
    background-color:#e8e7e7;
}

.accordion.component-form-style{
   .ssb-spectrum-color-picker {
        .sp-replacer {
            width: 3em;
            height: 3em;
            margin: 1px 0 0.5em 0;
        }
    }
}


.ssb-sidebar-text-input-default {

    float: right;

    input {
        display: inline-block;
        width: 75px;
        text-align: right;
    }

}

.sp-container {
    @media (max-width: 768px) and (min-height: 376px) {
        padding-bottom: 0;
        top: auto!important;
        bottom: 0;
        left: 50%!important;
        width: 224px;
        transform: translateX(-50%)
    }
}
.ssb-side-bar-icon-content{
    display:inline-flex;
}
