.ssb-section-layout {
    position: relative;
    overflow: hidden;

    .bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
        width: 100%;
        height: 100%;

        background-attachment: inherit;
        background-color: initial;
        background-size: cover;
        background-origin: initial;
        background-clip: initial;
        background-position: 50% 0px;
        background-repeat: no-repeat;
    }

    .bg-video {
        width: 100%;
        height: 56.25vw;
        // max-height: 100vh;
        // max-width: 177.78vh;
        margin: 0 auto;
        pointer-events: none;
    }

    .blur-image {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }

    .parallax {

    }

    .ssb-component {
        z-index: 1;
    }

    .ssb-element {
        span {
            // display: inline-block;
        }
    }

    .fr-view img {
        max-width: 100%;
    }

}

.ssb-page-section-video-form {
    .row {
        margin: 0 !important;
    }
    [class*="col-"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.ssb-page-section-layout-overflow-visible {
    overflow: visible;
}

.ssb-page-section-layout-legacy-undernav {
    overflow: visible;
    opacity: 1;
}

.ssb-page-section-layout-video-bg {
    @media screen and (min-width: 767px) {
        height: 56.25vw;
    }
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container-absolute {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.flex-container-absolute-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (min-width: 767px) {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.flex-item {
    display: flex;
    min-height: 0;
    min-width: 0;
    align-self: center;
    // flex-shrink: 0;
    // flex-grow: 0;
    // width: auto;
    // height: auto;


    *:not([ssb-text-component]) {
        flex: none;
        min-height: 0;
        min-width: 0;
    }

}

.ssb-text-settings.ssb-element-text {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

@import "ssb-sections/ssb-header.less";
@import "ssb-sections/ssb-hero.less";
@import "ssb-sections/ssb-image-gallery.less";
@import "ssb-sections/ssb-footer.less";
