.ssb-sidebar-section-panel{
    rzslider{
        margin: 25px 0 10px 0;
    }

    rzslider .rz-pointer {
        width: 20px;
        height: 20px;
    }

    rzslider .rz-bar-wrapper {
        padding-top:10px;
    }

    rzslider .rz-pointer:after{
        top: 7px;
        left: 7px;
        width: 6px;
        height: 6px;
    }
}

