.ssb-site-builder-container {
	height: 100%;
	height: calc(~"100vh - 65px");
    overflow: auto;
}

.ssb-site-builder {
	margin: 0 -15px 0 -15px;
	padding: 0;
	height: 100%;
	width: 100%;
	display: block;

	.ssb-main {
		@media screen and (min-width: 768px) {
			// float: left;
		    height: 100%;
		    width: 70%;
		    position: relative;
		    top: 0;
		    left: 30%;
		}
	}

}