.ssb-site-template-grid {

}

.ssb-site-template-grid-item {
    display: inline-block;
    text-align: center;
    padding: 1em;

    h1 {
        display: inline-block;
        margin: .5em 0 0;
    }
}

.ssb-site-template-img-container {
    cursor: pointer;
}

.ssb-site-template-img {

}
