.ssb-site-template-grid {

}

.ssb-site-template-grid-item {
    padding: 1em;

    &:not(:hover) img {
        opacity: 0.8;
    }

    &:hover .ssb-site-template-description {
        display: block;
    }

    h1 {
        display: inline-block;
        margin: .25em 0 0;
    }
}

.ssb-site-template-grid-item-inner {
    position: relative;   
    text-align: center;
    padding: 0 0 1em;
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    transition: opacity .4s ease-in-out;
}

.ssb-site-template-img-container {
    position: relative;
    cursor: pointer;
    max-height: 258px;
    overflow: hidden;

    @media screen and (min-width: 1653px) {
        max-height: 400px;
    }

}

.ssb-site-template-img {

}

.ssb-site-template-description {
    display: none;
    pointer-events: none;
    position: absolute;
    width: calc(~"100% - 4em");
    background: rgba(255, 255, 255, 1);
    color: #48b1cc;
    text-align: left;
    padding: 1em 1em .5em 1em;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    left: 50%;
    font-family: Helvetica Neue;
}
.site-templates-container{
    min-height:400px;
}