<div class="component" data-ng-show="component" data-class="masthead" data-id="{{component._id}}">
    <div class="component-body">
        <div class="masthead {{component.bg.img.parallax?'parallax':''}}" parallax-background parallax-ratio="0.4" style='background: url("{{component.bg.img.url}}") no-repeat fixed; background: {{component.bg.color}}'>
            <div class="row">
                <div class="col-xs-12">
                    <div class="home-text">
                        <h1 class="masthead-title">
                            <div class="editable" data-class="title">
                                <span ng-bind-html="component.title"/>
                            </div>
                        </h1>
                        <div class="masthead-subtitle">
                            <div class="editable" data-class="subtitle">
                                <span ng-bind-html="component.subtitle"/>
                            </div>
                        </div>


                        <div class="col-xs-12">
                            <button class="btn btn-success btn-block center" href="{{component.btn.url}}">
                                <div class="{{component.btn.icon}}"></div>
                                <div data-class="btn-text" class="editable btn-text">
                                    {{component.btn.text}}
                                </div>
                            </button>
                        </div>

                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
