<div ng-class="component.type+'-v'+component.version">
    <div  class="col-xs-12" ng-if="vm.blog.posts.length>0" >
        <h3 ng-attr-style="{{vm.titleStyle()}}">
            <div elem ng-model="vm.component.title"></div>
        </h3>
        <div class="col-lg-12"  ng-repeat="post in vm.blog.posts| orderBy:vm.sortBlogPosts:true |limitTo:5:1 track by $index">
            <a href="#" ng-attr-style="{{vm.descriptionStyle()}}">{{post.display_title || post.post_title}} </a>
        </div>
    </div>
</div>
