ul {
	list-style: none;
}

a {
	-webkit-transition: color 0.4s ease-out, background 0.7s ease-in;
	transition: color 0.4s ease-out, background 0.7s ease-in;
}

body.theme-main {
	font-family: Open Sans, Source Sans Pro, Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 1.6;
}

.newsletter a, footer a {
	color: #fff;
}

.color-1 {
	background: #5db8d0;
	color: #ffffff;
}

.color-8 {
	background: #252525;
	color: white;
}

.homeh4 {
	font-family: Capita;
	font-weight: 900;
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	font-size: 28px;
	margin: 20px 0 0 0;
}

.centerh4 {
	margin: 10px 0;
}

.homep {
	color: white;
	font-size: 18px;
	font-weight: 300;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	margin-top: 15px;
}

.navbar-white {
	background-color: #ffffff;
	color: #5db8d0;
	border-radius: 0;
	border-bottom: 3px solid #5db8d0 !important;
}

.navbar {
	margin-bottom: 0px;
	min-height: 90px;
}

.navbar .nav>li>a {
	float: none;
	padding: 10px 15px 10px;
	color: #777;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
}

.navbar .nav {
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0 30px 0 0;
	font-weight: bold;
}

.navbar .nav>li {
	float: left;
}
.facebook {
	margin-top: 24px!important;
}

ul .executive .exec-circle {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	line-height: 1.2;
	overflow: hidden;
}

ul .executive.lg,
ul .executive.lg .exec-circle {
  width: 160px;
  height: 160px;
}
ul .executive.sm,
ul .executive.sm .exec-circle {
  width: 120px;
  height: 120px;
}
ul .executive {
  position: absolute;
  left: 50%;
  top: 260px;
  margin-left: -82px;
  border: 0 solid #9bcbea;
  cursor: pointer;
  opacity: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition-property: opacity,left,top,margin;
  -moz-transition-property: opacity,left,top,margin;
  -o-transition-property: opacity,left,top,margin;
  transition-property: opacity,left,top,margin;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
ul .executive .exec-circle {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  line-height: 1.2;
  overflow: hidden;
}
ul .executive .exec-circle .exec-info {
  position: absolute;
  background: #9bcbea;
  color: #fff;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
  padding: 60px 15px;
  opacity: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 181px;
  height: 181px;
  overflow: hidden;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
}
ul #center-circle {
  opacity: 1;
  display: none;
  z-index: 999;
  left: 553px;
  top: 293px;
  margin-left: 0;
}
.dispersed ul #circle-1,
.dispersed ul #circle-2,
.dispersed ul #circle-3,
.dispersed ul #circle-4 {
  opacity: 1;
  z-index: 10;
}
#line,
#line_1,
#line_2,
#line_3 {
  width: 100px;
  height: 2px;
  border: dotted thin rgba(255, 255, 255, 0.5);
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.dispersed #center-circle {
	left: 585px;
	top: 293px;
	margin: 0;
}

.newsletter {
	background: rgba(0, 0, 0, 0.5);
	padding: 0px!important;
	margin: 0px!important;
}

.inner-page {
	padding-top: 30px;
	padding-bottom: 50px;
	max-width: 1100px;
	margin: 0 auto;
}

.newsletter input {
	width: 100%;
	text-indent: 10px;
}

.btn-orange {
  background: #efa022!important;
  border-bottom: 5px solid #e4730c!important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-orange:hover {
  background-color: #efa022!important;
   border-bottom: 5px solid #efa022!important;
  color: #ffffff;
}

.newsletter .btn, .newsletter input {
	height: 50px;
	margin: 0;
	padding: 0;
	border: 0;
}

.lead {
	margin-bottom: 27px;
	font-size: 19.549999999999997px;
	font-weight: 200;
	line-height: 1.4;
	color: #ffffff;
}

#home {
	margin-top: 0;
	padding: 0;
	background: url(/assets/images/indimain/home-top.jpg) center center no-repeat;
	height: 600px;
	background-size: cover;
	min-width: 100%;
	margin-bottom: -130px;
	display: block;
	overflow: hidden;
}

#feature_three {
	background: url(/assets/images/indimain/bottom-bg.png) center center no-repeat;
	height: 400px;
	background-size: cover;
	min-width: 100%;
	padding: 50px 0;
}

.feat-icon-1 {
  background: url(/assets/images/indimain/center-icon-sprite.png) -178px 14px no-repeat;
  width: 95px;
  height: 75px;
  display: block;
  float: left;
  padding: 10px 35px;
  position: relative;
}
.feat-icon-2 {
  background: url(/assets/images/indimain/center-icon-sprite.png) no-repeat;
  width: 55px;
  height: 75px;
  display: block;
  float: left;
  padding: 10px 35px;
  position: relative;
}
.feat-icon-3 {
  background: url(/assets/images/indimain/center-icon-sprite.png) -78px 0px no-repeat;
  width: 95px;
  height: 75px;
  display: block;
  float: left;
  padding: 10px 35px;
  position: relative;
}
#feature_three h4 {
  font-family: Capita;
  color: #444444;
  font-weight: bold;
  margin-bottom: 2px;
}
#feature_three p {
  color: #999999;
}

.social {
  padding: 0;
}
.social li {
  background-image: url(/assets/images/indimain/social-sprite.png);
  width: 26px;
  height: 26px;
  display: inline-block;
  margin-left: 10px;
}
.social li a {
  width: 26px;
  height: 26px;
  display: block;
}

.copyright {
	margin-top: 10px;
}
.twit {
  background-position: -33px 0;
}
.plus {
  background-position: -65px 0;
}
.in {
  background-position: -98px 0;
}
.insta {
  background-position: -131px 0;
}
.pin {
  background-position: -162px 0;
}

footer .inner-page {
	padding-top: 20px;
	padding-bottom: 20px;
}

img {
 display: block; 
 height: auto; 
 max-width: 100%; 
}

.entry .btn-orange {
  padding: 10px 40px;
}

p.et_pt_blogmeta {
  border-bottom: none!important;
  border-top: none!important;
  text-transform: none!important;
  color: #9E9E9E;
  font-family: Georgia,serif;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 11px;
  padding: 8px 5px 7px 4px;
}

h2.et_pt_title {
padding-bottom: 0px!important;
}

#content-area {background: linear-gradient(to left, #e7e7e7 50%, #ffffff 50%);}

#sidebar {margin-top: 150px;padding: 20px;}
#main-area {
  word-wrap: break-word;
  background: #ffffff;
  -webkit-box-shadow: 8px 0px 7px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    8px 0px 7px 0px rgba(50, 50, 50, 0.15);
  box-shadow:         8px 0px 7px 0px rgba(50, 50, 50, 0.15);
  padding: 0 20px 20px;
}
.container {padding: 0;margin: 0;}
.alignleft {float: left;padding: 5px}
div.et_pt_thumb span.overlay {
  background: none!important;
}

.fb-like {
  padding: 14px 20px 0 0;
}

.feature-block {
  background: #4bb0cb url(/assets/images/indimain/feature-blocks.png) right no-repeat;
}

.feature-block h3 {
  color: #16778b;
  font-style: italic;
}

.image-right {
  float: right;
}

.image-right img, .image-left img {
  margin: 25px 0 0 25px;
}

.component-container {
  padding: 0;
  margin: 0;
  width: 100%;
}

div[data-class='image-text'] h3 {
  font-weight: bold;
}

div[data-class='text'] {
  font-size: 14px;
}

div[data-class='image-text'] p {
  color: #999999;
  font-size: 14px;
}
p[data-class='caption'] {
  padding-top: 15px;
}

div[data-class='position'] span{
  color: #5db8d0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px!important;
  line-height: 0px;
  margin-bottom: 25px;
  position: relative;
  display: block;
}
.pusher {
  height: 30px;
  width: 100%;
}

.gallery-image {
  padding: 0;
  max-height:300px;
  height: 100%;
}

.gallery-image img {
  // width: 100%;
  height: 100%;
}

.copyright {
  padding-left: 50px;
}

.image-gallery {
  width:100%;
  height: 300px;
  width: 100%;
  border: 0;
}

.footer-after{
  background: #292929;
  padding: 20px 20px 10px 20px;
  font-size: 12px;
}

.footer-after p{
  color: #fff;
  margin: 0;
}

.footer-after a{
  color: #FFF;
}

.footer-after a:hover{
  color: #7f8c8d;
  text-decoration: none;
}

.footer-logo {
  margin: -40px 70px 0 0;
}

#assets {
  border-bottom: 3px solid #5db8d0 !important;
  border-top: 3px solid #5db8d0 !important;
}

.pad0 {
  padding: 0;
}

blockquote {
  margin: 20px 0;
  border-left: 5px solid #fabc35;
}