ul {
	list-style: none;
}

a {
	-webkit-transition: color 0.4s ease-out, background 0.7s ease-in;
	transition: color 0.4s ease-out, background 0.7s ease-in;
}

body.theme-main {
	font-family: Open Sans, Source Sans Pro, Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 1.6;
}

img.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.primary {
  background: #4bb0cb;
      h3 {
        color: #73caec!important;
      }
      h2 {
        color: #fff!important;
        margin-top:0;
      }
      p {
        color: #fff!important;
      }
}

#body {
  overflow: hidden;
}

.component-header {
  display: none;
}

.newsletter a, footer a {
	color: #fff;
}

.color-1 {
	background: #5db8d0;
	color: #ffffff;
}

.color-8 {
	background: #252525;
	color: white;
}

.homeh4 {
	font-family: Capita;
	font-weight: 900;
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	font-size: 28px;
	margin: 20px 0 0 0;
}

.centerh4 {
	margin: 10px 0;
}

.homep {
	color: white;
	font-size: 18px;
	font-weight: 300;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	margin-top: 15px;
}

.navbar-white {
	background-color: #ffffff;
	color: #5db8d0;
	border-radius: 0;
	border-bottom: 3px solid #5db8d0 !important;
  padding: 0 30px;
}

.navbar-default {
  border-bottom: 3px solid #5db8d0 !important;
}

.navbar {
	margin-bottom: 0px;
	min-height: 90px;
}

.navbar-brand {
  height: 80px;
  max-width: 300px;
}

.navbar-toggle {
  margin-top: 20px;
}

.navbar .nav>li>a {
	float: none;
	padding: 10px 15px 10px;
	color: #777;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
}

.navbar .nav {
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0 30px 0 0;
	font-weight: bold;
}

.navbar .nav>li {
	float: left;
}

ul.nav {
  margin-top: 20px!important;
}
.facebook {
	margin-top: 24px!important;
}

ul .executive .exec-circle {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	line-height: 1.2;
	overflow: hidden;
}

ul .executive.lg,
ul .executive.lg .exec-circle {
  width: 160px;
  height: 160px;
}
ul .executive.sm,
ul .executive.sm .exec-circle {
  width: 120px;
  height: 120px;
}
ul .executive {
  position: absolute;
  left: 50%;
  top: 260px;
  margin-left: -82px;
  border: 0 solid #9bcbea;
  cursor: pointer;
  opacity: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition-property: opacity,left,top,margin;
  -moz-transition-property: opacity,left,top,margin;
  -o-transition-property: opacity,left,top,margin;
  transition-property: opacity,left,top,margin;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
ul .executive .exec-circle {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  line-height: 1.2;
  overflow: hidden;
}
ul .executive .exec-circle .exec-info {
  position: absolute;
  background: #9bcbea;
  color: #fff;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
  padding: 60px 15px;
  opacity: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 181px;
  height: 181px;
  overflow: hidden;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
}
ul #center-circle {
  opacity: 1;
  display: none;
  z-index: 999;
  left: 553px;
  top: 293px;
  margin-left: 0;
}
.dispersed ul #circle-1,
.dispersed ul #circle-2,
.dispersed ul #circle-3,
.dispersed ul #circle-4 {
  opacity: 1;
  z-index: 10;
}
#line,
#line_1,
#line_2,
#line_3 {
  width: 100px;
  height: 2px;
  border: dotted thin rgba(255, 255, 255, 0.5);
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.dispersed #center-circle {
	left: 585px;
	top: 293px;
	margin: 0;
}

.newsletter {
	background: #4bafca;
	padding: 0px!important;
	margin: 0px!important;
}

.newsletter h3 {
  color: white;
  padding: 0 0 20px 10px;
  font-weight: 600;
  font-family: Capita;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  font-size: 28px;
}

.inner-page {
	padding-top: 30px;
	padding-bottom: 50px;
	max-width: 1100px;
	margin: 0 auto;
}

.newsletter input {
	width: 100%;
	text-indent: 10px;
}

.btn-orange {
  background: #efa022!important;
  border-bottom: 5px solid #e4730c!important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-orange:hover {
  background-color: #efa022!important;
   border-bottom: 5px solid #efa022!important;
  color: #ffffff;
}

.btn-outline {
  background: none;
  border: 2px solid #fff!important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.btn-outline:hover {
  background-color: #16778b!important;
  border: 2px solid #fff!important;
  color: #ffffff;
}

.newsletter .btn, .newsletter input {
	height: 50px;
	margin: 0;
	padding: 0;
	border: 0;
}

.lead {
	margin-bottom: 27px;
	font-size: 19.549999999999997px;
	font-weight: 200;
	line-height: 1.4;
	color: #ffffff;
  font-size: 16px;
}

#home {
	margin-top: 0;
	padding: 0 50px;
	// background: url(/assets/images/indimain/home-top.jpg) 50% 0 no-repeat fixed;
	height: 460px;
  transition:none;
}

#home h1 {
  color: white;
}

#home p {
  color: white;
}

#home .btn {
  width: 200px;
height: 50px;
margin-top: 30px;
}

#feature_three {
  background: #4bafca;
	background-size: cover;
	min-width: 100%;
	padding: 50px;
  text-align: center;
}

#feature_three .col-xs-4 {
  text-align: center;
}

.feat-icon-1 {
  background: url(/assets/images/indimain/center-icon-sprite.png) 0 0 no-repeat;
  width: 95px;
  height: 75px;
  display: block;
  padding: 10px 35px;
  position: relative;
  margin: 0 auto;
}
.feat-icon-2 {
  background: url(/assets/images/indimain/center-icon-sprite.png) -100px 0 no-repeat;
  width: 55px;
  height: 75px;
  display: block;
  padding: 10px 35px;
  margin: 0 auto;
  position: relative;
}
.feat-icon-3 {
  background: url(/assets/images/indimain/center-icon-sprite.png) -170px 0px no-repeat;
  width: 95px;
  height: 75px;
  display: block;
  margin: 0 auto;
  padding: 10px 35px;
  position: relative;
}
#feature_three h4 {
  font-family: Capita;
  color: #fff;
  font-weight: bold;
  margin-bottom: 2px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  font-size: 24px;
}
#feature_three p {
  color: #c7ecf6;
}

.social {
  padding: 0;
}
.social li {
  background-image: url(/assets/images/indimain/social-sprite.png);
  width: 26px;
  height: 26px;
  display: inline-block;
  margin-left: 10px;
}
.social li a {
  width: 26px;
  height: 26px;
  display: block;
}

.copyright {
	margin-top: 10px;
  text-align: left;
}
.twit {
  background-position: -33px 0;
}
.plus {
  background-position: -65px 0;
}
.in {
  background-position: -98px 0;
}
.insta {
  background-position: -131px 0;
}
.pin {
  background-position: -162px 0;
}

footer .inner-page {
	padding-top: 20px;
	padding-bottom: 20px;
}

img {
 display: block; 
 height: auto; 
 max-width: 100%; 
}

.entry .btn-orange {
  padding: 10px 40px;
}

p.blog-meta {
  border-bottom: none!important;
  border-top: none!important;
  text-transform: none!important;
  color: #9E9E9E;
  font-family: Georgia,serif;
  font-size: 12px;
  font-style: italic;
  padding: 0 5px 7px 4px;
  margin: 0;
}

h2.blog-title {
padding-bottom: 0px!important;
}

#content-area {background: linear-gradient(to left, #f7f7f7 50%, #ffffff 50%);}

#sidebar {margin-top: 10px;padding: 20px;}
#main-area {
  word-wrap: break-word;
  background: #ffffff;
  -webkit-box-shadow: 3px 0px 7px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    3px 0px 7px 0px rgba(50, 50, 50, 0.15);
  box-shadow:         3px 0px 7px 0px rgba(50, 50, 50, 0.15);
  padding: 30px;
}
.container {padding: 0;margin: 0 auto;}
.alignleft {float: left;padding: 5px}
div.blog-thumb span.overlay {
  background: none!important;
}

.fb-like {
  padding: 14px 20px 0 15px;
}

.feature-block {
  padding: 0 20px;
}

.feature-block h3 {
  color: #16778b;
  font-style: italic;
  font-size: 36px;
  margin-bottom: 30px;
}

.feature-block .inner-page {
  padding: 80px 0;
}

.feature-blocks .inner-page {
  padding: 80px 0;
      h3 {
        color: white;
        text-shadow: 1px 1px 1px black;
      }
      ul {
        color: white;
        text-align: center;
        text-shadow: 1px 1px 1px black;
      }
}

.image-right {
  float: right;
}

.image-right img, .image-left img {
  margin: 25px 0 0 25px;
}

.home-text {
  padding: 30px;
  background: rgba(0,0,0,0.3);
  margin-top: 150px;
}


.component-container {
  padding: 0;
  margin: 0;
  width: 100%;
}

div[data-class='image-text'] h3 {
  font-weight: bold;
}

div[data-class='text'] {
  font-size: 14px;
}

div[data-class='image-text'] p {
  color: #999999;
  font-size: 14px;
}
p[data-class='caption'] {
  padding-top: 15px;
}

div[data-class='position'] span{
  color: #5db8d0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px!important;
  line-height: 20px;
  margin-bottom: 25px;
  position: relative;
  display: block;
}
.pusher {
  height: 30px;
  width: 100%;
}

.gallery-image {
  padding: 0;
  max-height:300px;
  height: 100%;
}

.gallery-image img {
  // width: 100%;
  height: 100%;
}

.copyright {
  padding-left: 50px;
}

.image-gallery {
  width:100%;
  height: 300px;
  width: 100%;
  border: 0;
}

.footer-after{
  background: #292929;
  padding: 20px 20px 10px 20px;
  font-size: 12px;
}

.footer-after p{
  color: #fff;
  margin: 0;
}

.footer-after a{
  color: #FFF;
}

.footer-after a:hover{
  color: #7f8c8d;
  text-decoration: none;
}

.footer-logo {
  margin: -50px 5px 0 0;
}

#assets {
  border-bottom: 3px solid #5db8d0 !important;
  border-top: 3px solid #5db8d0 !important;
}

.pad0 {
  padding: 0;
}

blockquote {
  margin: 20px 0;
  border-left: 5px solid #fabc35;
}

.profilepic .thumbnail {
  display: block;
  filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
}

#single-post {
  padding: 30px 0;
}

.entry-content p:nth-child(2)::first-letter, .entry-excerpt p:nth-child(1)::first-letter{
  font-size: 200%;  color: #FFFFFF;
  background: #47b1cc;
  border-radius: 5px;
  padding: 15px 30px 10px;
  margin: 0px 5px 0px -10px;
  float: left;
  font-family: 'Times New Roman';
}

.goback {
  background: #d0ecf6;
  padding: 38px;
  height: 100px;
  -webkit-box-shadow: 8px 0px 7px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 8px 0px 7px 0px rgba(50, 50, 50, 0.15);
  box-shadow: 8px 0px 7px 0px rgba(50, 50, 50, 0.15);
}

.goback span {
  color: black;
  cursor: pointer;
}

.goback:hover {
  background: #7caaba;
}

.goback:hover span {
  color: white!important;
}

.goback p {
  text-align: left
}

div[data-class="single-post"] #main-area.col-sm-9 {
  width: 77%;
}

div {
  // transition: all 0.5s ease;
}

.single-blog {
  padding: 0 0 25px 0;
}

.searchbar input{
  text-indent: 10px;
}

.searchbar input[type="text"] {
    position: relative; 
}

#sidebar .fa {
  background: #47b1cc;
  border-radius: 40px;
  padding: 10px;
  color: #fff;
  font-size: 20px;
}

.tags {
  width: 100%;
}

.tag-cloud li {
  display: inline;
}

.entry-excerpt {
  margin-bottom: 30px;
}



.tag-cloud li:nth-child(1) {font-weight: bold}
.tag-cloud li:nth-child(2) {font-size: 2em;}
.tag-cloud li:nth-child(3) {}
.tag-cloud li:nth-child(4) {font-size: 3em;}
.tag-cloud li:nth-child(5) {}

input { font-family: 'FontAwesome'!important; } /* This is for the placeholder */

.searchbar:before {
    font-family: 'FontAwesome';
    position: absolute;
    top: 23px;
    content: "\f002";
    right: -100px;
}

.post_tags {
  padding: 0;
  margin-bottom: 20px;
}

.post_tags li {
  display: inline-block;
  background: #47b1cc;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}

.post_tags li a {
  color: #ffffff;
}

.left-inner-addon {
    position: relative;
    color: #d1d1d1;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 17px 13px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.feature-single {
  transition: none!important
}

.fadeIn {
  transition: opacity .5s ease-out;
}

.image-text {
  padding: 0 20px;
  display: inline-block;
}

.meet-team {
  padding: 30px 20px;
}

.powered-by{
    text-align: right;
}

.products {
  padding: 15px;
}

#cart-checkout-modal {
  .modal-footer {
    margin-top: 0;
  }
  .modal-body {
  padding: 0 10px;
  }
}

.gray-bg {
  border-left: 1px solid #efefef;
}

.order-summary {
  padding: 1px 15px;
  min-height: 376px;
  h4 {
    margin: 30px 0;
    font-weight: bold;
    text-decoration: underline;
  }
  ul {
    padding-left: 0;
  }

  li {
    padding: 5px 0;
    border-bottom: 1px solid #f2f2f2;
  }

  .product-name {
    font-weight: bold;
    color: #606060;
  }

  .product-price {
    color: #aaaaaa;
  }

  .scrollbox {
      max-height: 100px!important;
      content: "";
      background: -webkit-linear-gradient(top, #f9f9f9, #f9f9f9 30%, rgba(255, 255, 255, 0));
      background: -moz-linear-gradient(top, #f9f9f9, #f9f9f9 30%, rgba(255, 255, 255, 0));
      background: linear-gradient(to bottom, #f9f9f9, #f9f9f9 30%, rgba(255, 255, 255, 0));
      ul {
        max-height: 100px!important;
        overflow-y: auto;
      }
  }

}

.order-line-items {
    padding: 0;
    .line-item-header {
      .price {
        line-height: 35px;
        margin-bottom: 0;
        text-align: center;
      }
    }
    .close {
      position: absolute;
      right: 0;
      margin: 0 10px 0 0;
    }
    ul {
      padding-left: 0;
      li {
        padding:20px;
        border-bottom: 1px solid #f3f3f3;
        position: relative;
      }
    }

}

.card-details {
  padding: 20px;
}

.footer-cart-checkout {
  padding: 15px;
  position: relative;
  display: block;
}

.thank-you {
    padding: 20px;

    .social-connected {
      li {
        display: inline-block;
        i {
          width: 50px;
          height: 50px;
          display: block;
          position: relative;
          text-align: center;
          line-height: 51px;
          border-radius: 35px;
          color: white;
          font-size: 30px;
        }
      }
      margin: 0 auto;
      display: block;
      width: 157px;
      padding: 0;
    }

    .btn-orange {
      margin: 0 auto;
      display: block;
      width: 200px;
    }
    h3 {
      text-align: center;
      margin: 30px 0;
    }
}

.parallax-block{transition:none;position:fixed;top:0;left:0;overflow:hidden;z-index:-1;max-width:none!important;max-height:none!important;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:1000px;-moz-perspective:1000px;-ms-perspective:1000px;-o-perspective:1000px;perspective:1000px;}.parallax-image{position:absolute;top:0;left:0;max-width:none!important;max-height:none!important;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:1000px;-moz-perspective:1000px;-ms-perspective:1000px;-o-perspective:1000px;perspective:1000px;}

//small devices
@media (max-width: @screen-xs-max) { 

  .navbar .nav {
    padding-bottom: 30px;
  }

  .navbar .nav > li {
   float: none; 
  }

  .navbar-default {
    padding: 0 20px;
  }

  .navbar-brand {
    max-width: 240px;
  }

  #main-area .btn-orange {
    width: 100%;
  }

  .copyright, .powered-by{
    text-align: center;
    padding: 0;
  }

  .footer-logo {
    margin: -80px -9px 0 0;
  }

  #content-area {
    background: #f7f7f7;
  }

  #sidebar {
    padding: 50px 20px;
  }

  .billing-shipping .tab-content {
    max-height: 100%;
  }

 }