<div class="row">
    <div id="card-container"></div>
    <div class="clearfix"></div>
    <div class="well">
        <form action="#" data-card data-width="500" data-card-container="#card-container" data-values="cardValues" data-options="cardOptions" data-messages="cardMessages">
            <div class="form-group">
                <input class="form-control input-md" placeholder="Card number" type="text" name="CardNumber" card-number data-ng-model="cardInfo.number" />
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Full name" type="text" name="CardName" card-name data-ng-model="cardInfo.name" />
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="MM / YYYY" type="text" name="CardExpiry" card-expiry data-ng-model="cardInfo.expiry" />
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="CVC" type="text" name="CardCvc" card-cvc data-ng-model="cardInfo.cvc" />
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Coupon Code (Optional)" type="text" name="Coupon" />
            </div>
            <!--<div>-->
            <!--<input type="button" value="Change card" data-ng-click="changeCard()" />-->
            <!--</div>-->
            <!--<div>-->
            <!--<input type="button" value="Clear" data-ng-click="clear()" />-->
            <!--</div>-->
        </form>
    </div>
</div>
