<script type="text/ng-template" id="campaign-contacts-list-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.closeModalFn()">&times;</button>
        <h4 class="modal-title">Contact List</h4>
    </div>

    <div class="modal-body bg-white no-padding" style="max-height:500px;overflow:auto">
        <div st-table="vm.state.recipients" st-safe-src="vm.state.recipients">
            <div class="container-fluid padding-top-0 padding-bottom-0">
                <div class="panel panel-transparent row margin-bottom-0">
                    <div class="panel-body no-padding">
                        <table class="table table-hover bg-white margin-bottom-0" ng-class="{'grid': vm.uiState.tableView == 'grid', 'bg-white': vm.uiState.tableView == 'list'}" ng-show="vm.state.recipients">
                            <thead ng-class="{'bg-white': vm.uiState.tableView == 'grid'}">
                                <tr>
                                    <th class="center" ng-class="{'column-width': vm.uiState.tableView == 'grid'}">Photo</th>
                                    <th  ng-class="{'column-width': vm.uiState.tableView == 'grid'}">Name</th>

                                    <th  ng-class="{'column-width': vm.uiState.tableView == 'grid'}">Tags</th>
                                    <th  ng-class="{'column-width': vm.uiState.tableView == 'grid'}">Email</th>
                                    <th  ng-class="{'column-width': vm.uiState.tableView == 'grid'}">Address</th>
                                    <th  ng-class="{'column-width': vm.uiState.tableView == 'grid'}">Phone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="contact in vm.state.recipients track by $index">
                                    <td class="center" >
                                        <img ng-src="{{ contact.photo }}" id="contact_photo_{{contact._id}}" err-src="" err-contact="contact" class="img-thumbnail screenshot" alt="image">
                                    </td>
                                    <td><strong>First Name: </strong> <span ng-if="contact.first || contact.last" ng-text-truncate="contact.first + ' ' + contact.last || ''" ng-tt-chars-threshold="15" ng-tt-no-toggling></span><span ng-if="!contact.first && !contact.last">--</span></td>
                                    <td><strong>Tags: </strong>{{vm.contactTagsFn(contact) || '--'}}</td>
                                    <td class="hidden-xs"><strong>Email: </strong> <span ng-if="contact.details[0].emails[0].email"><span ng-text-truncate="contact.details[0].emails[0].email" ng-tt-chars-threshold="15" ng-tt-no-toggling></span></a>
                                        </span><span ng-if="!contact.details[0].emails[0].email">--</span></td>
                                    <td><strong>Address: </strong>
                                        <span ng-if="contact.details[0].addresses[0].city && contact.details[0].addresses[0].state" ng-text-truncate="contact.details[0].addresses[0].city+', '+contact.details[0].addresses[0].state" ng-tt-chars-threshold="15" ng-tt-no-toggling></span>
                                        <span ng-if="contact.details[0].addresses[0].address && !contact.details[0].addresses[0].city">{{contact.details[0].addresses[0].address}}</span>
                                        <span ng-if="!contact.details[0].addresses[0]">--</span>
                                    </td>
                                    <td ng-class="{'center': tableView != 'grid'}"><strong>Phone: </strong> {{contact.details[0].phones[0].number || '--'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info btn-wide btn-o" ng-click="vm.closeModalFn()">
            Done
        </button>
    </div>
</script>
