<script type="text/ng-template" id="campaign-duplicate-modal">
    <!-- Duplicate Campaign Modal -->
    <div class="modal-header">
        <button type="button" class="close" ng-click="$parent.closeModal()">&times;</button>
        <h4 class="modal-title">Create Duplicate Campaign</h4>
    </div>
    <div class="modal-body no-padding" style="max-height:500px;">
        <tabset>
            <tab>
                <tab-heading>
                    Settings
                </tab-heading>
                <div>
                    <div class="mb10"></div>
                    <div class="form-group">
                        <label>Name:</label>
                        <input id="new-campaign-title" class="form-control input-lg" type="text" ng-model="newCampaign.name">
                    </div>
                    <div class="clearfix margin-bottom-"></div>
                </div>
            </tab>
        </tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info btn-wide btn-o" ng-disabled="!newCampaign.name" ng-click="createDuplicateCampaign(newCampaign)">
            Create
        </button>
    </div>
</script>
