<div id="componentloader">
    <ul class="component-sortable margin-bottom-0">
        <li ng-repeat="value in components" class="fragment show-settings {{value.type}}" style="position:relative;">
            <circular passed-options="circleOptions" passed-index="{{$index}}" passed-component="value" style="z-index:999999" class="circular"> </circular>
            <div ng-include=" '../components/component-switch.html' "></div>
            <div ng-class="{'zee-blur': !value.visibility}"></div>
        </li>
        <li ng-if="!components.length">
            <div class="well empty-page">
                <h1 class="center">This Page is Empty.</h1>
                <h4 class="center">Add some components and start editing!</h4>
            </div>
            <div class="clearfix mb15"></div>
        </li>
    </ul>
</div>
