<script type="text/ng-template" id="media-modal">
    <div id="media-manager-modal">
        <div class="modal-header">
            <button type="button" class="close" ng-click="closeModal()" aria-hidden="true">&times;</button>
            <h4 class="modal-title">
                <span class="fa fa-image"></span> Media Manager
            </h4>
        </div>
        <div class="modal-body bg-white" stop-event="touchend">
            <div class="row filemanager {{showType}}" ng-if="uploader.queue.length <= 0 && !editingImage">
                <ul class="filemanager-options">
                    <li class="checked">
                        <div class="checkbox clip-check check-primary ckbox ckbox-default">
                            <input type="checkbox" id="selectall" ng-model="selectModel.select_all" ng-change="m.selectTriggerFn(selectModel.select_all)" />
                            <label for="selectall">Select All</label>
                        </div>
                    </li>
                    <li class="hidden">
                        <a href="" class="itemopt" ng-disabled="!selectModel.select_all"><i class="fa fa-envelope-o"></i><span class="hidden-xs">Email</span></a>
                    </li>
                    <li class="hidden">
                        <a href="" class="itemopt" ng-disabled="!selectModel.select_all"><i class="fa fa-download"></i> <span class="hidden-xs">Download</span></a>
                    </li>
                    <li class="hidden">
                        <a href="" class="itemopt" ng-disabled="!selectModel.select_all"><i class="fa fa-pencil"></i> <span class="hidden-xs">Edit</span></a>
                    </li>
                    <li>
                        <a href="" class="itemopt" ng-disabled="!selectModel.select_all" ng-click="m.deleteAsset()"><i class="fa fa-trash-o"></i> <span class="hidden-xs">Delete</span></a>
                    </li>
                    <li class="filter-type" style="font-size: 11px;line-height: 45px;">
                        Show:
                        <a href="" data-active="all" ng-click="insertMediaType !== undefined || m.filterAssets('all', true)" ng-class="{'disabled': insertMediaType !== undefined}">
                                All
                            </a>
                        <a href="" data-active="document" ng-click="insertMediaType !== undefined && insertMediaType !== 'document' || m.filterAssets('document', true)" ng-class="{'disabled': insertMediaType !== undefined && insertMediaType !== 'document'}">
                                Documents
                            </a>
                        <a href="" data-active="audio" ng-click="insertMediaType !== undefined && insertMediaType !== 'audio' || m.filterAssets('audio', true)" ng-class="{'disabled': insertMediaType !== undefined && insertMediaType !== 'audio'}">
                                Audio
                            </a>
                        <a href="" data-active="image" ng-click="insertMediaType !== undefined && insertMediaType !== 'image' || m.filterAssets('image', true)" ng-class="{'disabled': insertMediaType !== undefined && insertMediaType !== 'image'}">
                                Images
                            </a>
                        <a href="" data-active="video" ng-click="insertMediaType !== undefined && insertMediaType !== 'video' || m.filterAssets('video', true)" ng-class="{'disabled': insertMediaType !== undefined && insertMediaType !== 'video'}">
                                Videos
                        </a>
                        <a href="" data-active="font" ng-click="insertMediaType !== undefined && insertMediaType !== 'fonts' || m.filterAssets('fonts', true)" ng-class="{'disabled': insertMediaType !== undefined && insertMediaType !== 'fonts'}">
                                Fonts
                            </a>
                        <a href="" data-active="shared" ng-click="insertMediaType !== undefined && insertMediaType !== 'shared' || m.filterAssets('shared', true)" ng-class="{'disabled': insertMediaType !== undefined && insertMediaType !== 'shared'}">
                             Shared
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>

                <div class="media margin-top-0" id="assets" ng-style="{'max-height':bodyHeight}">
                    <div class="col-xs-12 col-sm-4 form-group search-media" ng-if="!loadingAssets">
                        <span class="input-icon">
                            <input type="text" placeholder="Search by file name" class="form-control" ng-model="pagingParams.search" ng-model-options="{ debounce: 1000 }"/>
                            <i class="ti-search"></i>
                        </span>
                    </div>
                    <div class="col-xs-12 col-sm-4 form-group paging-limit-container" ng-if="!loadingAssets">
                        <span class="margin-right-5">Display: </span>
                        <label class="radio-inline"><input type="radio" ng-model="paging.recordPerPage" value="6" name="optpaging" ng-change="refreshPaging(paging.recordPerPage)"><span>6</span></label>
                        <label class="radio-inline"><input type="radio" ng-model="paging.recordPerPage" name="optpaging" value="18" ng-change="refreshPaging(paging.recordPerPage)"><span>18</span></label>
                        <label class="radio-inline"><input type="radio" ng-model="paging.recordPerPage" name="optpaging" value="60" ng-change="refreshPaging(paging.recordPerPage)"><span>60</span></label>
                    </div>
                    <div class="col-xs-12 col-sm-4 form-group paging-media" ng-if="assetsCount">
                        <nav ng-if="numberOfPages() && pages.length >= 2">
                            <ul class="pagination">
                                <li ng-repeat="page in pages" ng-class="{active: page == pagingParams.curPage}">
                                    <a ng-click="selectPage(page)" class="ng-binding">{{page}}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="clearfix"></div>
                    <div ng-repeat="asset in assets" class="col-xs-12 col-sm-4" ng-show="assets.length">
                        <div class="thmb checked">
                            <div class="checkbox clip-check check-primary ckbox ckbox-default" style="display: block;z-index:1;">
                                <input type="checkbox" id="{{asset._id}}" name="{{asset._id}}" ng-model="asset.checked" ng-click="m.singleSelect(asset)">
                                <label for="{{asset._id}}"></label>
                            </div>
                            <div class="btn-group fm-group" style="display: block;z-index:1;">
                                <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown"><span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu fm-menu" role="menu" ng-if="asset.isShared !== true || (asset.isShared==true && account.isOrgAdmin == true) ">
                                    <li class="hidden">
                                        <a href="#"><i class="fa fa-share"></i> Share</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="#"><i class="fa fa-envelope-o"></i> Email</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="#" ng-click="m.editImage(asset)"><i class="fa fa-pencil"></i> Edit</a>
                                    </li>
                                    <li>
                                        <label class="replace-media-upload" ng-click="replaceAssetFn(true, asset)">
                                            <i class="fa fa-exchange"></i> Replace
                                            <input type="file" class="hidden" nv-file-select="" uploader="uploader" ng-click="resetUploader()">
                                        </label>
                                    </li>
                                    <li>
                                        <a clipboard text="'https:' + asset.url" on-copied="successCopy()"><i class="fa fa-link"></i> Copy Link</a>
                                    </li>
                                    <li>
                                        <a href="{{asset.url}}" target="_blank" download><i class="fa fa-download"></i> Download</a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="m.deleteAsset(asset)"><i class="fa fa-trash-o"></i> Delete</a>
                                    </li>
                                    <li >
                                        <a href="" ng-click="m.addRemoveAssetFromCache(asset)"><i class="fa fa-database"></i> {{asset.isCached==false? "Cache ":"Don't Cache"}}</a>
                                    </li>
                                    <li ng-if="account.isOrgAdmin == true" >
                                        <a href="" ng-click="m.shareUnshare(asset)"><i class="fa fa fa-share-alt"></i> {{asset.isShared==true? "UnShare ":"Share"}}</a>
                                    </li>
                                </ul>
                                <ul class="dropdown-menu fm-menu" role="menu" ng-if="(asset.isShared == true && account.isOrgAdmin !== true)"> 
                                    <li>
                                        <a clipboard text="'https:' + asset.url" on-copied="successCopy()"><i class="fa fa-link"></i> Copy Link</a>
                                    </li>
                                    <li>
                                        <a href="{{asset.url}}" target="_blank" download><i class="fa fa-download"></i> Download</a>
                                    </li> 
                                </ul>
                            </div>
                            <div class="thmb-prev">
                                <div ng-switch="getFileType(asset.mimeType, asset)">
                                    <span ng-switch-when="pdf" class="fa fa-file-pdf-o" style="font-size: 96px;"></span>
                                    <span ng-switch-when="octet-stream" class="fa fa-file-text-o" style="font-size: 96px;"></span>
                                    <span ng-switch-when="audio" class="fa fa-file-audio-o" style="font-size: 96px;"></span>
                                    <span ng-switch-when="video" class="fa fa-file-video-o" style="font-size: 96px;"></span>
                                    <span ng-switch-when="fonts" class="fa fa-font" style="font-size: 96px;"></span>                                    
                                    <img ng-if="asset.url" ng-switch-when="image" img-lazy-load="{{ asset.url }}?v{{cachebuster}}" alt="">
                                    <span ng-switch-default class="fa fa-file-o" style="font-size: 96px;"></span>
                                </div>
                            </div>
                            <h5 class="fm-title" ng-if="asset.isShared !== true || (asset.isShared==true && account.isOrgAdmin == true) ">
                                <a editable-text='asset.filename' e-required e-placeholder='Enter name' onaftersave='m.onAssetUpdateCallback(asset)' onbeforesave="validateAsset($data)"><span class="text-adjust-span">{{asset.filename}}{{asset.isCached==false?' (Uncached)':''}}</span></a>
                            </h5>
                            <h5  class="fm-title" ng-if="(asset.isShared == true && account.isOrgAdmin !== true)">
                                <a  class="ng-scope editable editable-click" ><span class="text-adjust-span">{{asset.filename}}{{asset.isCached==false?' (Uncached)':''}}</span></a>
                            </h5>
                            <small class="text-muted">{{asset.created.date | timeAgoFilter}}</small>
                        </div>
                    </div>
                    <div id="warning-box" ng-hide="assets.length || loadingAssets" ng-if="showType != 'all'"> No {{showType}} uploaded.</div>
                    <div id="warning-box" ng-hide="assets.length || loadingAssets" ng-if="showType == 'all'"> No media uploaded.</div>
                </div>
            </div>
            <div class="editimage" ng-show="editingImage" style="height:{{bodyHeight}};">
                <div class="col-xs-6 imgedit-wrap">
                    <img ng-src="{{singleAsset.url}}" class="img-responsive img-thumbnail" id="targetEditImage">
                    <!-- <img ng-src="{{singleAsset.url}}" id="originalSource" class="hidden"> -->
                    <canvas id="targetCanvas"></canvas>
                </div>
                <div class="col-xs-6">
                    Image Editing Buttons
                </div>
            </div>
            <div class="row padding-15" ng-if="uploader.queue.length" ng-hide="uploadComplete">
                <div class="clearfix mb15"></div>
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <span ng-text-truncate="item.file.name" ng-tt-chars-threshold="50" ng-tt-no-toggling class="word-wrap pull-left"></span>
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>
                                    <span ng-switch on="(item.file.size == 1024*1024) || (item.file.size > 1024*1024)">
                                            <span ng-switch-when="true">{{item.file.size / 1024 / 1024 | number:2}} MB</span>
                                    <span ng-switch-default>{{item.file.size / 1024 | number:2}} KB</span>
                                    </span>
                                </td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    <span ng-show="item.isUploading"><i class="fa fa-spinner fa-spin"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()" ng-disabled="item.isUploading"><span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                    <div style="color: #FFA500;" ng-if="maxLengthExceed" class="center" >Only {{maximumUploadItems}} items can be uploaded at a time!</div>
            </div>

            <div class="clearfix"></div>
            <div class="media-paging-overlay center" ng-if="pageLoading">
                <h1>loading...</h1>
            </div>
        </div>

        <div class="modal-footer" ng-class="{upload: uploader.queue.length > 0}" stop-event="touchend">
            <div class="row" ng-if="editingImage">
                <button class="btn btn-primary" ng-click="m.goback()"> <i class="fa fa-chevron-left"></i> Back</button>
                <button class="btn btn-primary"><i class="fa fa-history"></i> Restore</button>
                <button class="btn btn-primary"><i class="fa fa-save"></i> Save Image</button>
            </div>
            <div class="row" ng-if="!editingImage">
                <div class="col-md-offset-7 col-md-5">
                    <label for="upload_image" class="btn btn-primary " ng-click="replaceAssetFn(false, null)" ng-hide="mediaModal.replace && uploader.queue.length > 0">
                        <span ng-if="uploader.queue.length <= 0" ng-show="!isMobile">From Computer</span>
                        <span ng-if="uploader.queue.length <= 0" ng-show="isMobile">From Mobile</span>
                        <span ng-if="uploader.queue.length > 0" ng-show="!mediaModal.replace">Select Another File</span>
                        <input type="file" id="upload_image" class="hidden" nv-file-select="" uploader="uploader" ng-click="resetUploader()" multiple>
                    </label>
                    <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length" ng-if="uploader.queue.length > 1">
                        <span class="glyphicon glyphicon-upload"></span> Upload all
                    </button>
                    <button type="button" ng-show="showInsert && singleSelected && !uploader.queue.length" class="btn btn-primary insert-image" ng-click="m.onInsertMedia()">Insert Images
                    </button>
                    <button type="button" ng-if="showDone && assets.length" class="btn btn-primary insert-image" ng-click="m.onCallbackOnMediaClose()">Done
                    </button>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
    <style>
    #media-manager-modal * {
        -ms-user-select: none;
        /* IE 10+ */
        
        -moz-user-select: none;
        /* Gecko (Firefox) */
        
        -webkit-user-select: none;
        /* Webkit (Safari, Chrome) */
        
        user-select: none;
        /* CSS3 (little to no support) */
    }
    </style>
</script>
