<script type="text/ng-template" id="new-customer-modal">

    <div class="modal-header">
        <button type="button" class="close" ng-click="closeModal()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h3 class="modal-title">New Customer</h3>
    </div>
    <div class="modal-body contact-modal bg-white" stop-event="touchend">
        <form action="#" name="form" role="form" id="form">
            <div class="form-group">
                <label class="">Organization</label>
                <select id="input-orgId" class="form-control" ng-options="org as org.name for org in $parent.organizations track by org._id" ng-model="$parent.orgId">
                </select>
            </div>
            <div class="form-group">
                <label class="">Subdomain</label>
                <input id="input-subdomain" class="form-control" ng-model="$parent.subdomain" placeholder="subdomain" type="text">
            </div>
            <div class="form-group">
                <label for="oem">OEM Account</label>
                <span tooltip-placement="top" tooltip="OEM Account"><i class="fa fa-info-circle" /></span>
                <div class="input-group pull-right">
                    <switch id="oem" ng-model="$parent.oem" class="pull-right"></switch>
                </div>
            </div>
            <div class="form-group">
                <label class="">Username</label>
                <input name="futureuser" id="input-username" class="form-control" ng-model="$parent.username" placeholder="Email Address" type="text" autocomplete="false" >
            </div>
            <div class="form-group">
                <label class="">Password</label>
                <input name="futureuserpassword" id="input-password" class="form-control" ng-model="$parent.password" placeholder="Password" type="password" autocomplete="false">
            </div>
        </form>
    </div>
    <div class="clearfix"></div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="(!$parent.orgId && !$parent.orgId._id )|| !$parent.subdomain || !$parent.username || !$parent.password" ng-click="addCustomer()">Add Customer</button>
    </div>

</script>
