<script type="text/ng-template" id="post-settings-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeModal()">&times;</button>
        <h4 class="modal-title">Post Settings</h4>
    </div>
    <div class="modal-body no-padding" style="max-height:500px; margin:10px">
        <div class="form-group">
                        <label>Title:</label>
                        <input class="form-control input-lg" type="text" ng-model="post_data.post_title">
                    </div>
                    <div class="form-group">
                        <label>URL:</label>
                        <input class="form-control input-lg" type="text" ng-model="post_data.post_url">
                    </div>
                    <div class="mb20"></div>
                    <div class="well">
                        <p>Danger Zone</p>
                        <button class="btn btn-block btn-danger" ng-click="deletePost(post_data)"><i class="fa fa-trash"></i> Delete Post</button>
                    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info btn-wide btn-o" ng-click="closeModal()">
            Done
        </button>
    </div>
</script>
