<script type="text/ng-template" id="ssb-new-page-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.closeModal()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h3 class="modal-title"><span ng-if="!templateDetails">Select Template</span></h3>
    </div>
    <div class="modal-body pages-modal ssb-pages-modal bg-white no-padding pages-padding-top" stop-event="touchend">
        <div>
            <div ng-repeat="template in vm.state.templates">
                <div class="single-type margin-bottom-15" ng-click="vm.createPage(template)">
                    <div class="ssb-pages-modal-preview-image col-sm-5 col-xs-12">
                        <img class="img-responsive" src="{{template.previewUrl}}" alt="" />
                    </div>
                    <div class="ssb-pages-modal-text col-sm-6 col-xs-12">
                        <h4>{{template.name}}</h4>
                        <p>{{template.description}}</p>
                    </div>
                    <div class="ssb-page-modal-right-arrow col-sm-1 xs-hidden">
                        <h1>
                            <span class="fa fa-chevron-right"></span>
                        </h1>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</script>
