<div class="row live-visitor">
    <div class="col-sm-12">
        <div class="panel panel-white margin-top-15 dashboard-live-widget-container analytics-live-widget-container" id="liveTrafficData"
            ng-class="{'load1 csspinner': loading}">
            <div class="panel-heading border-light live-overview-container">
                <h4 class="panel-title text-primary">
                    <strong>Live</strong> Visitors Details </h4>
            </div>
            <div class="panel-body" style="position: relative">
                <div class="live-visitor-details" ng-if="liveVisitorDetails.length">
                    <!-- Live visitor details- -->
                    <div class="col-sm-6 visitor-left-pane">
                        <table>
                            <thead>
                                <tr>
                                    <th style="min-width:30%">User ID</th>
                                    <th>Account</th>
                                    <th style="width: 135px;">Last Seen</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-class="{'active-visitor-detail': selectedVisitorIndex === $index}"
                                    ng-repeat="visitorDetail in liveVisitorDetails track by $index"
                                    ng-click="setActiveVisitorIndex($index)" class="cursor-pointer" >
                                    <td >{{visitorDetail.email||visitorDetail.fingerprint}}</td>
                                    <td >{{visitorDetail.subdomain}}</td>
                                    <td  >{{convertUtcToLocal(visitorDetail.server_time)}}</td>
                                </tr>
                            </tbody> 
                         </table> 
                    </div>
                    <div class="col-sm-6 visitor-right-pane">
                       <div class="row main-info"> 
                           <div class="col-xs-2 image-outer">
                                <img src="/admin/assets/images/default-user.png"  class="ng-isolate-scope logo">
                            </div>
                            <div class="col-xs-10">
                                <p><strong>Name: </strong> 
                                    <span ng-if="activeVisitorDetail.contactId">
                                        <a href="javascript:void(0)" ng-click="goToContactDetails(activeVisitorDetail.contactId)">
                                        {{activeVisitorDetail.name || 'No Contact Name'}}
                                        </a>
                                    </span>
                                    <span ng-if="!activeVisitorDetail.contactId">
                                        {{activeVisitorDetail.name}}
                                    </span>
                                </p>
                                <p><strong>Email: </strong> {{activeVisitorDetail.email}}</p>
                                <p><strong>ID: </strong> {{activeVisitorDetail.fingerprint}}</p>
                            </div>
                        </div>
                        <div class="row"> 
                            <ul class="adv-info">
                                <li>
                                    <div class="col-xs-5">
                                        <strong>IP Address</strong>
                                    </div>
                                    <div class="col-xs-7">{{activeVisitorDetail.ip_address}}</div>
                                </li>
                                <li>
                                    <div class="col-xs-5">
                                        <strong>Continent</strong>
                                    </div>
                                    <div class="col-xs-7">{{activeVisitorDetail.maxmind.continent}}</div>
                                </li>
                                <li>
                                    <div class="col-xs-5">
                                        <strong>Country</strong>
                                    </div>
                                    <div class="col-xs-7">{{activeVisitorDetail.maxmind.country}}</div>
                                </li>
                                <li>
                                    <div class="col-xs-5">
                                        <strong>State</strong>
                                    </div>
                                    <div class="col-xs-7">{{activeVisitorDetail.maxmind.province}}</div>
                                </li>
                                <li>
                                    <div class="col-xs-5">
                                        <strong>City</strong>
                                    </div>
                                    <div class="col-xs-7">{{activeVisitorDetail.maxmind.city}}</div>
                                </li>
                                <li>
                                    <div class="col-xs-5">
                                        <strong>Postal Code</strong>
                                    </div>
                                    <div class="col-xs-7">{{activeVisitorDetail.maxmind.postal_code}}</div>
                                </li>
                                <li>
                                    <div class="col-xs-5">
                                        <strong>Browser</strong>
                                    </div>
                                    <div class="col-xs-7">{{activeVisitorDetail.user_agent.browser.name}} {{activeVisitorDetail.user_agent.browser.version}}</div>
                                </li>
                                <li>
                                    <div class="col-xs-5">
                                        <strong>OS Details</strong>
                                    </div>
                                    <div class="col-xs-7">{{activeVisitorDetail.user_agent.os.name}} {{activeVisitorDetail.user_agent.os.version}}</div>
                                </li>
                            </ul>
                        </div> 
                        <div class="row full-info">
                            <div class="col-xs-4" style="font-size:16px;font-weight:bold;">
                                {{activeVisitorDetail.resultInMinutes}}
                                <br> {{activeVisitorDetail.pageEvents.length}} Page events
                            </div>
                            <ul class="page-events col-xs-8">
                                <li ng-repeat="pageEvent in activeVisitorDetail.pageEvents">
                                    <div ng-switch on="pageEvent.activityType">
                                        <div ng-switch-when="CONTACT_FORM">
                                            <p>
                                                <span style="padding-left:10px;">{{pageEvent.pageTime | date:'h:mm a'}}</span>
                                                <ul class="form-values">
                                                    <li>
                                                        <strong style="overflow: hidden;">Submitted :</strong>
                                                        <span style="width:80%;">Form was submitted with the data</span>
                                                    </li>
                                                    <li ng-repeat="(k,v) in pageEvent.extraFields">
                                                        <b>{{k | formatText}}</b>: {{v}}
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>
                                        <div ng-switch-when="PAGE_VIEW">
                                            <p>
                                                <span style="padding-left:10px;">{{pageEvent.pageTime | date:'h:mm a'}}</span>
                                                <ul class="form-values">
                                                    <li >
                                                        <strong style="overflow: hidden;display:inline-block;">Visited:</strong>
                                                        <span style="width:80%;" class="text-adjust inline-block" tooltip-append-to-body="true"
                                                            tooltip-placement="top" tooltip="{{pageEvent.pageRequested}}">{{pageEvent.pageRequested}}</span>
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h3 ng-if="!liveVisitorDetails.length" class="center margin-top-30">No details found</h3>
            </div>
        </div>
    </div>
</div>