<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">INVENTORY</h1>
            <span ng-if="vm.state.inventory" class="mainDescription">There {{vm.state.totalInventory > 1 ? 'are' : 'is'}} currently {{vm.state.totalInventory | number : fractionSize}} product<span ng-if="vm.state.totalInventory > 1">s</span>. <span ng-if="vm.showFilteredRecords()"> ({{vm.state.totalFilteredInventory || 0}} in filtered view)</span></span>
        </div>
    </div>
</section>


<div class="inventory inventory-container" ng-init="tableView='list'">
	<div st-table="vm.displayedProducts" st-safe-src="vm.state.inventory" >
	    <div class="container-fluid container-fullw bg-white padding-top-0 padding-bottom-0 margin-bottom-15">
	        <div class="row">
	            <div class="col-sm-12">
	                <div class="panel panel-transparent row margin-bottom-0">
	                    <div class="panel-body">
	                        <form role="form" class="ng-pristine ng-valid row">
	                            <div class="hidden-xs">
	                                <div class="col-xs-12 col-sm-6 padding-left-0">
	                                    <div class="form-group">
	                                        <div class="col-xs-8 col-sm-4 padding-right-0">
	                                            <span class="input-icon">
			                                        <input type="text" ng-model="vm.uiState.globalSearch" ng-model-options="{ debounce: 800 }" placeholder="Search by name, vendor, sku..." id="form-field-14" class="form-control">
			                                        <i class="ti-search"></i>
	                                    		</span>
	                                        </div>
	                                        <div class="col-xs-4 col-sm-3 padding-left-5 padding-right-5">
	                                            <button type="button" class="btn btn-o btn-info btn-wide btn-scroll btn-scroll-top ti-filter ng-click-active pull-left" ng-click="vm.showFilter()">
	                                                <span>Filter</span>
	                                            </button>
	                                        </div>
	                                        <div class="col-xs-12 col-sm-4 padding-left-50 padding-right-0 pull-left">
                                                <ui-select ng-model="vm.bulkActionChoice.action" on-select="vm.bulkActionSelectFn()" theme="bootstrap" ng-disabled='!vm.uiState.inVentoryWatchList.length'>
                                                    <ui-select-match placeholder="Actions">
                                                        <small ng-bind-html="$select.selected.label"></small>
                                                    </ui-select-match>
                                                    <ui-select-choices repeat="action in vm.bulkActionChoices |  orderBy:'label' | filter: $select.search">
                                                        <small ng-bind-html="action.label | highlight: $select.search"></small>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
	                                    </div>
	                                </div>
	                                <div class="visible-xs margin-bottom-15 clearfix"></div>
	                                <div class="form-group col-xs-12 col-sm-6 row margin-bottom-0 padding-right-30 pull-right">
	                                    <div class="col-xs-6 col-sm-6 center">
	                                        <button type="button" class="btn btn-o btn-wide btn-info btn-scroll btn-scroll-top ti ti-import ng-click-active hidden" ng-click="openImportModal()">
	                                            <span>Import</span>
	                                        </button>
	                                    </div>
	                                    <div class="col-xs-6 col-sm-6 center">
	                                        <button type="button" class="btn btn-o btn-wide btn-info btn-scroll btn-scroll-top ti ti-export ng-click-active hidden">
	                                            <span>Export</span>
	                                        </button>
	                                        <div class="form-group">
	                                            <div class="btn-group tableView">
	                                                <button class="btn btn-info" ng-class="{'active': tableView == 'list'}" href="" ng-click="tableView = 'list'" tooltip-placement="top" tooltip="List"> <span class="fa fa-th-list"></span> </button>
	                                                <button class="btn btn-info" ng-class="{'active': tableView == 'grid'}" href="" ng-click="tableView = 'grid'" tooltip-placement="top" tooltip="Grid"> <span class="fa fa-th"></span> </button>
	                                            </div>
	                                        </div>
	                                    </div>
	    	                                </div>
	                            </div>
	                            <div class="visible-xs">
	                                <div class="col-xs-12">
	                                    <div class="form-group">
	                                        <div class="col-xs-7">
	                                            <span class="input-icon">
	                                        <input type="text" st-search placeholder="Search by list, vendor, sku..." id="form-field-14" class="form-control">
	                                        <i class="ti-search"></i>
	                                    </span>
	                                        </div>
	                                        <div class="col-xs-5">
	                                            <button type="button" class="btn btn-o btn-info btn-wide btn-scroll btn-scroll-top ti-filter ng-click-active pull-right" ng-click="vm.showFilter()">
	                                                <span>Filter</span>
	                                            </button>
	                                        </div>
	                                    </div>
	                                </div>

	                                <div class="form-group col-xs-12 padding-top-10">
	                                    <div class="col-xs-6">
	                                        <div class="form-group">
	                                            <div class="btn-group pull-left">
	                                                <button class="btn btn-info" ng-class="{'active': tableView == 'list'}" href="" ng-click="tableView = 'list'" tooltip-placement="top" tooltip="List"> <span class="fa fa-th-list"></span> </button>
	                                                <button class="btn btn-info" ng-class="{'active': tableView == 'grid'}" href="" ng-click="tableView = 'grid'" tooltip-placement="top" tooltip="Grid"> <span class="fa fa-th"></span> </button>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-xs-6">
	                                        <button type="button" class="btn btn-o btn-wide btn-info btn-scroll btn-scroll-top ti ti-plus ng-click-active pull-right" ng-click="openProductModal()">
	                                            <span>New</span>
	                                        </button>
	                                    </div>
	                                </div>
	                            </div>
	                        </form>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <table class="table table-hover table-striped" ng-class="{'grid': tableView == 'grid', 'bg-white table-list-view': tableView == 'list'}" ng-if="!vm.uiState.loading">
	        <thead ng-class="{'bg-white': tableView == 'grid'}">
	            <tr>
	                <th class="hidden-xs"></th>
	                <th class="name-col sort" style="white-space: nowrap;" ng-class="{'st-sort-ascent': vm.uiState.sortData.details['name'].direction === 1, 'st-sort-descent': vm.uiState.sortData.details['name'].direction === -1}" ng-click="vm.sortInventory('OITM_ItemName', 'name')">Product</th>
	                <th class="vendor-col sort" style="white-space: nowrap;" ng-class="{'st-sort-ascent': vm.uiState.sortData.details['vendor'].direction === 1, 'st-sort-descent': vm.uiState.sortData.details['vendor'].direction === -1}" ng-click="vm.sortInventory('OMRC_FirmName', 'vendor')">Vendor</th>
	                <th class="hidden-xs desc-col">Description</th>
	                <th class="hidden-xs hidden-sm dim-col">Dimension (LxWxH)</th>
	                <th class="hidden-xs hidden-sm weight-col">Weight</th>
                    <th class="hidden-xs hidden-sm price-col" style="white-space: nowrap;">List Price</th>
	                <th class="qty-col sort" style="white-space: nowrap;" ng-class="{'st-sort-ascent': vm.uiState.sortData.details['totalQuantity'].direction === 1, 'st-sort-descent': vm.uiState.sortData.details['totalQuantity'].direction === -1}" ng-click="vm.sortInventory('In_Stock', 'totalQuantity')"><span class="hidden-xs">Qty </span>On Hand</th>
	            </tr>
	            <tr ng-if="vm.uiState.showFilter">
	            	<th class="hidden-xs"></th>
	                <th class="prod-col">
	                    <input ng-model="vm.uiState.fieldSearch.OITM_ItemName" ng-model-options="{ debounce: 800 }" placeholder="Product" class="form-control" type="search" size="9" />
	                </th>
	                <th class="vendor-col">
	                    <input ng-model="vm.uiState.fieldSearch.OMRC_FirmName" ng-model-options="{ debounce: 800 }" placeholder="Vendor" class="form-control" type="search" size="9" />
	                </th>
	                <th class="desc-col hidden-xs"></th>
	                <th class="dim-col hidden-xs hidden-sm"></th>
	                <th class="weight-col hidden-xs hidden-sm"></th>
                    <th class="price-col hidden-xs hidden-sm"></th>
	                <th class="qty-col">
	                    <select ng-model="vm.uiState.fieldSearch.In_Stock" class="form-control" ng-options="options.value as options.label for options in vm.quantitySearchOptions" ng-change="updateSettings()">
                            <option value=""></option>
                        </select>
	                </th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr ng-repeat="product in vm.displayedProducts" class="product-item" ng-click="vm.viewSingleInventory(product)" ng-class='{"inventory-watch-row": vm.checkIfSelected(product, vm.state.userOrgConfig.watchList)}'>
	            	<td class="hidden-xs"><i class="fa fa-2x" ng-click='vm.productSelectClickFn($event, product)' ng-class='{"fa-check-circle": vm.checkIfSelected(product, vm.uiState.inVentoryWatchList), "fa-circle-o": !vm.checkIfSelected(product, vm.uiState.inVentoryWatchList)}'></i></td>
	                <td><strong>Product: </strong><div class="name-block-container"><span ng-text-truncate="product.OITM_ItemName" ng-tt-chars-threshold="25" ng-tt-no-toggling></span></div></td>
	                <td class="vendorColumn" style="white-space: nowrap;"><strong>Vendor: </strong><span ng-text-truncate="product.OMRC_FirmName" ng-tt-chars-threshold="25" ng-tt-no-toggling></span></td>
	                <td class="hidden-xs"><strong>Description: </strong><span ng-text-truncate="product.OITM_U_dscription" tooltip="{{product.OITM_U_dscription}}" ng-tt-chars-threshold="25" ng-tt-no-toggling></span></td>
	                <td class="dimColumn hidden-xs hidden-sm"><strong>Dimension: </strong>{{vm.getDimentions(product)}}</td>
	                <td class="weightColumn hidden-xs hidden-sm" style="white-space: nowrap;"><strong>Weight: </strong>{{vm.getWeight(product)}}</td>
                    <td class="priceColumn hidden-xs hidden-sm" style="white-space: nowrap;"><strong>List Price: </strong>{{vm.getPrice(product) | currency : '$'}}</td>
                    <td class="qtyColumn" style="white-space: nowrap;"><strong>Qty: </strong>
	                <span ng-if="product.In_Stock <= 0">
                        <a href='#' ng-click='vm.cancel($event);' onclick='Intercom("showNewMessage","")'>Click to Inquire</a>
                    </span>
                    <span ng-if="product.In_Stock > 0">
                        {{ product.In_Stock }}
                    </span>
	                </td>
	            </tr>
	        </tbody>
	        <tfoot>
	            <tr>
	            	<td colspan="10" class="center" ng-if="vm.state.totalInventory">
		                <div class="pagination pagination-centered hidden" ng-show="vm.state.inventory.length > vm.uiState.curPage">
	                        <button type="button" class="btn btn-primary" ng-disabled="vm.uiState.curPage == 0" ng-click="vm.previousPage()">
	                            <span class="fa fa-arrow-left"></span>
	                            <span class="hidden-xs">PREV</span>
	                        </button>

	                        <span>Page {{vm.uiState.curPage + 1}} of {{ vm.numberOfPages() }}</span>
	                        <button type="button" class="btn btn-primary" ng-disabled="vm.uiState.curPage >= vm.numberOfPages() - 1" ng-click="vm.nextPage()">
	                            <span class="hidden-xs">Next</span>
	                            <span class="fa fa-arrow-right"></span>
	                        </button>
	                    </div>

	                    <nav ng-if="vm.numberOfPages() && vm.pages.length >= 2">
	                    	<ul class="pagination">
	                    		<li ng-repeat="page in vm.pages" ng-class="{active: page == vm.uiState.curPage}">
	                    			<a ng-click="vm.selectPage(page)" class="ng-binding">{{page}}</a>
	                    		</li>
	                    	</ul>
	                    </nav>
	                </td>
	                <td ng-if="!vm.state.totalInventory" colspan="6" class="center height-100">
	            		<h4>There are currently no products</h4>
	            	</td>
	            </tr>
	        </tfoot>
	    </table>
	    <div class="load1 csspinner height-400" ng-show="vm.uiState.loading"></div>
	</div>
	<div class="inventory-paging-overlay center" ng-if="vm.uiState.pageLoading">
		<h1>loading...</h1>
	</div>
</div>


