<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">INVENTORY</h1>
            <span ng-if="vm.state.inventory" class="mainDescription">There {{vm.state.totalInventory > 1 ? 'are' : 'is'}} currently {{vm.state.totalInventory | number : 0}} product<span ng-if="vm.state.totalInventory > 1">s</span>. <span ng-if="vm.showFilteredRecords()"> ({{vm.state.totalFilteredInventory || 0}} in filtered view)</span></span>
        </div>
    </div>
</section>


<div class="inventory inventory-container securematics-list-container" ng-init="tableView='list'">
	<div st-table="vm.displayedProducts" st-safe-src="vm.state.inventory" >
	    <div class="container-fluid container-fullw bg-white padding-top-0 padding-bottom-0 margin-bottom-15">
	        <div class="row">
	            <div class="col-sm-12">
	                <div class="panel panel-transparent row margin-bottom-0">
	                    <div class="panel-body">
	                        <form role="form" class="ng-pristine ng-valid row">
	                            <div>
	                                <div class="col-xs-12 col-sm-12 padding-left-0">
	                                    <div class="form-group">
	                                        <div class="col-xs-12 col-sm-5 padding-right-0">
	                                            <span class="input-icon">
			                                        <input type="text" ng-model="vm.uiState.globalSearch" ng-model-options="{ debounce: 800 }" placeholder="Search by name, vendor, sku..." id="form-field-14" class="form-control">
			                                        <i class="ti-search"></i>
	                                    		</span>
	                                        </div>
	                                        <div class="visible-xs margin-bottom-15 clearfix"></div>
	                                        <div class="col-xs-8 col-sm-3 padding-left-50 padding-right-0 pull-left">
                                                <!--ui-select ng-model="vm.bulkActionChoice.action" on-select="vm.bulkActionSelectFn()" theme="bootstrap" ng-disabled='!vm.uiState.inVentoryWatchList.length'>
                                                    <ui-select-match placeholder="Actions">
                                                        <small ng-bind-html="$select.selected.label"></small>
                                                    </ui-select-match>
                                                    <ui-select-choices repeat="action in vm.bulkActionChoices |  orderBy:'label' | filter: $select.search">
                                                        <small ng-bind-html="action.label | highlight: $select.search"></small>
                                                    </ui-select-choices>
                                                </ui-select-->
                                                <div class="btn-group action-btn-con" ng-hide='!vm.uiState.inVentoryWatchList.length' ng-if="vm.uiState.userPermissions.dashboard">
                                                    <button type="button" class="action-btn libtn btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Action
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" ng-repeat= "action in vm.bulkActionChoices |  orderBy:'label'" ng-click="vm.setBulkActionChoiceFn(action.label)">{{action.label}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btn-group tableView">
                                                <button class="btn btn-info" ng-class="{'active': tableView == 'list'}" href="" ng-click="tableView = 'list'" tooltip-placement="top" tooltip="List"> <span class="fa fa-th-list"></span> </button>
                                                <button class="btn btn-info" ng-class="{'active': tableView == 'grid'}" href="" ng-click="tableView = 'grid'" tooltip-placement="top" tooltip="Grid"> <span class="fa fa-th"></span> </button>
                                            </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </form>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <table class="table table-hover table-striped select-placeholder" ng-class="{'grid': tableView == 'grid', 'bg-white table-list-view': tableView == 'list'}" ng-if="!vm.uiState.loading" fixed-header-table>
	        <thead ng-class="{'bg-white': tableView == 'grid'}" sticky offset="65" sticky-class="sticky-header-class">
	            <tr class="inventory-header-row">
	                <th class="select-col hidden-xs" ng-if="vm.uiState.userPermissions.dashboard"></th>
	                <th class="name-col sort" style="white-space: nowrap;" ng-class="{'st-sort-ascent': vm.uiState.sortData.details['name'].direction === 1, 'st-sort-descent': vm.uiState.sortData.details['name'].direction === -1}" ng-click="vm.sortInventory('_itemName', 'name')">Product</th>
	                <th class="vendor-col sort" style="white-space: nowrap;" ng-class="{'st-sort-ascent': vm.uiState.sortData.details['vendor'].direction === 1, 'st-sort-descent': vm.uiState.sortData.details['vendor'].direction === -1}" ng-click="vm.sortInventory('_shortVendorName', 'vendor')">Vendor</th>
	                <th class="hidden-xs desc-col">Description</th>
	                <th class="hidden-xs hidden-sm dim-col">Box Dim (LxWxH)</th>
	                <th class="hidden-xs hidden-sm weight-col">Weight</th>
                    <th class="hidden-xs hidden-sm price-col" style="white-space: nowrap;">List Price</th>
	                <th class="qty-col sort" style="white-space: nowrap;" ng-class="{'st-sort-ascent': vm.uiState.sortData.details['available'].direction === 1, 'st-sort-descent': vm.uiState.sortData.details['available'].direction === -1}" ng-click="vm.sortInventory('Available', 'available')"><span class="hidden-xs">Qty </span>Avail</th>
	            </tr>
	            <tr class="inventory-header-row">
	            	<th class="hidden-xs select-col" ng-if="vm.uiState.userPermissions.dashboard"></th>
	                <th class="name-col">
	                    <input ng-model="vm.uiState.fieldSearch.OITM_ItemName" ng-model-options="{ debounce: 800 }" placeholder="Product" class="form-control" type="search"/>
	                </th>
	                <th class="vendor-col">
	                    <input ng-model="vm.uiState.fieldSearch._shortVendorName" ng-model-options="{ debounce: 800 }" placeholder="Vendor" class="form-control" type="search"/>
	                </th>
	                <th class="desc-col hidden-xs"></th>
	                <th class="dim-col hidden-xs hidden-sm"></th>
	                <th class="weight-col hidden-xs hidden-sm"></th>
                    <th class="price-col hidden-xs hidden-sm"></th>
	                <th class="qty-col">
	                    <select ng-model="vm.uiState.fieldSearch.Available" class="form-control" ng-options="options.value as options.label for options in vm.quantitySearchOptions" ng-change="updateSettings()" required>
                            <option value="" disabled selected class="placeholder">Qty Avail</option>
                        </select>
	                </th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr ng-repeat="product in vm.displayedProducts" class="product-item" ng-click="vm.viewSingleInventory(product)" ng-class='{"inventory-watch-row": vm.checkIfSelected(product, vm.state.userOrgConfig.watchList)}'>
	            	<td class="hidden-xs select-col" ng-if="vm.uiState.userPermissions.dashboard">
                        <div ng-click="vm.preventClick($event);" class="checkbox clip-check check-success checkbox-inline">
                            <input type="checkbox" id="modal-select-{{$index}}" ng-checked="vm.checkIfSelected(product, vm.uiState.inVentoryWatchList)" ng-click='vm.productSelectClickFn($event, product)'>
                            <label for="modal-select-{{$index}}">

                            </label>
                        </div>
                    </td>
	                <td class="name-col"><strong>Product: </strong><div class="name-block-container"><div class="text-adjust-outerTable">{{product.OITM_ItemName}}</div></div></td>
	                <td class="vendor-col" style="white-space: nowrap;"><strong>Vendor: </strong><div class="text-capitalize text-adjust-outerTable">{{product._shortVendorName}}</div></td>
	                <td class="hidden-xs desc-col"><strong>Description: </strong><div tooltip="{{product.OITM_U_dscription}}" class="text-adjust-outerTable">{{product.OITM_U_dscription}}</div></td>
	                <td class="hidden-xs hidden-sm dim-col"><strong>Box Dim: </strong>{{vm.getDimentions(product)}}</td>
	                <td class="weight-col hidden-xs hidden-sm" style="white-space: nowrap;"><strong>Weight: </strong>{{vm.getWeight(product)}}</td>
                    <td class="price-col hidden-xs hidden-sm" style="white-space: nowrap;"><strong>List Price: </strong>{{vm.getPrice(product) | currency : '$'}}</td>
                    <td class="qtyColumn qty-col" style="white-space: nowrap;"><strong>Qty: </strong>
	                <span ng-if="product.Available <= 0">
                        <a href='#' ng-click='vm.cancel($event);' onclick='Intercom("showNewMessage","")'>Click to Inquire</a>
                    </span>
                    <span ng-if="product.Available > 0">
                        {{ product.Available }}
                    </span>
	                </td>
	            </tr>
	        </tbody>
	        <tfoot>
	            <tr>
	            	<td colspan="10" class="center" ng-if="vm.state.totalInventory">
	                    <nav ng-if="vm.numberOfPages() && vm.pages.length >= 2">
	                    	<ul class="pagination">
	                    		<li ng-repeat="page in vm.pages" ng-class="{active: page == vm.uiState.curPage}">
	                    			<a ng-click="vm.selectPage(page)" class="ng-binding">{{page}}</a>
	                    		</li>
	                    	</ul>
	                    </nav>
	                </td>
	                <td ng-if="!vm.state.totalInventory" colspan="6" class="center height-100">
	            		<h4>There are currently no products</h4>
	            	</td>
	            </tr>
	        </tfoot>
	    </table>
	    <div class="load1 csspinner height-400" ng-show="vm.uiState.loading"></div>
	</div>
	<div class="inventory-paging-overlay center" ng-if="vm.uiState.pageLoading">
		<h1>loading...</h1>
	</div>
</div>


