<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->

<div ng-show="component">
    <div  class="masthead {{component.bg.img.parallax?'parallax':''}}" parallax-background parallax-ratio="0.4" style='background: url("{{component.bg.img.url}}") no-repeat fixed; background: {{component.bg.color}}'>
        <div class="row black-overlay">
            <div class="col-xs-12 col-sm-12">
                <div class="home-text">
                    <h2 class="masthead-title">
                        <div class="editable" data-class="title" ng-bind-html="component.title">
                        </div>
                    </h2>
                    <div class="masthead-subtitle">
                        <div class="editable" data-class="subtitle" ng-bind-html="component.subtitle">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <button class="btn btn-success btn-block center" href="{{component.btn.url}}">
                            <div class="{{component.btn.icon}}"></div>
                            <div data-class="btn-text" class="editable btn-text" ng-bind-html="component.btn.text">
                            </div>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>