  /********** Features list v2 **********/

  .feature-list-v2 {

          .feature-list-title {
            text-align: center;
          }

          .feature-list-subtitle {
            margin-bottom: 30px;
          }

          .feature-icon {
            text-align: center;
            margin: 0 auto;
            display: block;
            font-size: 3em;
          }

          .feature-subtitle {
            text-align: center;
          }
          .feature-title {
              margin-bottom: 13px;
              text-align: center;
              font-size: 26px;
              opacity: .95;
              padding-bottom: 4px;
              font-weight: bold;
          }
          .feature-btn {
              text-align: center;
              margin: 15px auto;
              display: block;
              max-width: 200px;
          }
  }
