<toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
<div class="commerce">
	<div class="pageheader row">
		<div class="col-xs-3">
			<button ng-click="$back()" class="btn btn-success pull-left" type="button">
				<span class="fa fa-chevron-left"></span> <span class="hidden-xs">Back</span>
			</button>
		</div>
		<div class="col-xs-6">
			<h2 class="center hidden-xs">
				Monthly Recurring Revenue
			</h2>
			<h2 class="center visible-xs">
				MRR
			</h2>
		</div>
		<div class="col-xs-3">
			<!-- <a class="btn btn-success pull-right" type="button"
				data-toggle="modal" data-target="#commerce-add-product"> <span
				class="fa fa-plus"></span> <span class="hidden-xs">Add</span>
			</a> -->
		</div>
		<div class="clear"></div>
	</div>

	<div class="contentpanel" ng-style="styleCommerce()" indigeweb-resize>
		<div class="single-metric-top">
			<div class="panel">
				<h1 ng-show="thisMonth != null" ng-class="{'decrease': thisMonth < 0, 'increase': thisMonth > 0 }">{{thisMonth | formatCurrency}}</h1>
				<h1 ng-show="thisMonth == null">$ --</h1>
				<highchart ng-show="totalRevenueConfig" config="totalRevenueConfig"></highchart>
				<div class="row">
					<div class="col-sm-3 col-xs-12 top-four">
						<div class="metric center">Previous 30 Days</div>
						<div class="title center" ng-class="{'decrease': thisMonth < 0, 'increase': thisMonth > 0 }">{{thisMonth | formatCurrency}}</div>
					</div>
					<div class="col-sm-3 col-xs-12 top-four">
					<div class="metric center">Previous 60 Days</div>
						<div class="title center" ng-class="{'decrease': lastSixty < 0, 'increase': lastSixty > 0 }">{{lastSixty | formatCurrency}}</div>
					</div>
					<div class="col-sm-3 col-xs-12 top-four">
					<div class="metric center">Previous 3 Months</div>
						<div class="title center" ng-class="{'decrease': previousNinety < 0, 'increase': previousNinety > 0 }">{{previousNinety | formatCurrency}}</div>
					</div>
					<div class="col-sm-3 col-xs-12 top-four">
						<div class="metric center">Past Year</div>
						<div class="title center" ng-class="{'decrease': previousYear < 0, 'increase': previousYear > 0 }">{{previousYear | formatCurrency}}</div>
					</div>
				</div>
			</div>
			<div class="clearfix mb15"></div>
			<div class="panel">
				<div class="row">
					<div class="col-sm-2 col-xs-6 top-six">
						<div class="metric center">30 Day Growth</div>
						<div class="title center" ng-class="{'decrease': thirtyDayGrowth < 0, 'increase': thirtyDayGrowth > 0 }"><i ng-class="{'fa fa-chevron-down': thirtyDayGrowth < 0, 'fa fa-chevron-up': thirtyDayGrowth > 0 }"></i> {{thirtyDayGrowth}}%</div>
					</div>
					<div class="col-sm-2 col-xs-6 top-six">
						<div class="metric center">60 Day Growth</div>
						<div class="title center" ng-class="{'decrease': sixtyDayGrowth < 0, 'increase': sixtyDayGrowth > 0 }"><i ng-class="{'fa fa-chevron-down': sixtyDayGrowth < 0, 'fa fa-chevron-up': sixtyDayGrowth > 0 }"></i> {{sixtyDayGrowth}}%</div>
					</div>
					<div class="col-sm-2 col-xs-6 top-six">
						<div class="metric center">3 Month Growth</div>
						<div class="title center" ng-class="{'decrease': thirtyDayGrowth < 0, 'increase': thirtyDayGrowth > 0 }"><i ng-class="{'fa fa-chevron-down': thirtyDayGrowth < 0, 'fa fa-chevron-up': thirtyDayGrowth > 0 }"></i> {{thirtyDayGrowth}}%</div>
					</div>
					<div class="col-sm-2 col-xs-6 top-six">
						<div class="metric center">6 Month Growth</div>
						<div class="title center" ng-class="{'decrease': thirtyDayGrowth < 0, 'increase': thirtyDayGrowth > 0 }"><i ng-class="{'fa fa-chevron-down': thirtyDayGrowth < 0, 'fa fa-chevron-up': thirtyDayGrowth > 0 }"></i> {{thirtyDayGrowth}}%</div>
					</div>
					<div class="col-sm-2 col-xs-6 top-six">
						<div class="metric center">9 Month Growth</div>
						<div class="title center" ng-class="{'decrease': thirtyDayGrowth < 0, 'increase': thirtyDayGrowth > 0 }"><i ng-class="{'fa fa-chevron-down': thirtyDayGrowth < 0, 'fa fa-chevron-up': thirtyDayGrowth > 0 }"></i> {{thirtyDayGrowth}}%</div>
					</div>
					<div class="col-sm-2 col-xs-6 top-six">
						<div class="metric center">Yearly Growth</div>
						<div class="title center" ng-class="{'decrease': thirtyDayGrowth < 0, 'increase': thirtyDayGrowth > 0 }"><i ng-class="{'fa fa-chevron-down': thirtyDayGrowth < 0, 'fa fa-chevron-up': thirtyDayGrowth > 0 }"></i> {{thirtyDayGrowth}}%</div>
					</div>
				</div>
			</div>
			<div class="table-responsive">
                <table class="table table-dark mb30">
                    <thead>
                      <tr>
                        <th>Plan</th>
                        <th>Customers</th>
                        <th>Net Revenue</th>
                        <th>Graph</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="plan in planRevenue">
                        <td>{{plan['data.object.subscription.plan.name'] || 'Other'}}</td>
                        <td>{{plan.customers}}</td>
                        <td>{{(plan.result / 100) | formatCurrency}}</td>
                        <td>@mdo</td>
                      </tr>
                    </tbody>
                </table>
            </div>
		</div>
	</div>

	<div class="rightpanel rightpanel-commerce">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#rp-page" data-toggle="tab" id="rp-page-tab">Commerce Settings</a></li>
            </ul>

            <!-- Tab panes -->

            <div class="tab-content">

            </div>

    </div><!-- rightpanel -->
</div>