<script type="text/javascript">
    !function(a,b){a("Keen","https://d26b395fwzu5fz.cloudfront.net/3.1.0/keen.min.js",b)}(function(a,b,c){var d,e,f;c["_"+a]={},c[a]=function(b){c["_"+a].clients=c["_"+a].clients||{},c["_"+a].clients[b.projectId]=this,this._config=b},c[a].ready=function(b){c["_"+a].ready=c["_"+a].ready||[],c["_"+a].ready.push(b)},d=["addEvent","setGlobalProperties","trackExternalLink","on"];for(var g=0;g<d.length;g++){var h=d[g],i=function(a){return function(){return this["_"+a]=this["_"+a]||[],this["_"+a].push(arguments),this}};c[a].prototype[h]=i(h)}e=document.createElement("script"),e.async=!0,e.src=b,f=document.getElementsByTagName("script")[0],f.parentNode.insertBefore(e,f)},this);
</script>
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
<div class="commerce">
	<div class="pageheader row">
		<div class="col-xs-3">
			<button ng-click="$back()" class="btn btn-success pull-left" type="button">
				<span class="fa fa-chevron-left"></span> <span class="hidden-xs">Back</span>
			</button>
		</div>
		<div class="col-xs-6">
			<h2 class="center">
				Net Revenue
			</h2>
		</div>
		<div class="col-xs-3">
			<!-- <a class="btn btn-success pull-right" type="button"
				data-toggle="modal" data-target="#commerce-add-product"> <span
				class="fa fa-plus"></span> <span class="hidden-xs">Add</span>
			</a> -->
		</div>
		<div class="clear"></div>
	</div>

	<div class="contentpanel" ng-style="styleCommerce()" indigeweb-resize>
		<div class="single-metric-top">
				<div class="panel">
					<h1 ng-show="thisMonth != null" ng-class="{'decrease': thisMonth < 0, 'increase': thisMonth > 0 }">{{thisMonth | formatCurrency}}</h1>
					<h1 ng-show="thisMonth == null">$ --</h1>
					<highchart config="totalRevenueConfig"></highchart>
					<div class="row">
						<div class="col-xs-3 top-four">
							<div class="metric center">Previous 30 Days</div>
							<div class="title center" ng-class="{'decrease': thisMonth < 0, 'increase': thisMonth > 0 }">{{thisMonth | formatCurrency}}</div>
						</div>
						<div class="col-xs-3 top-four">
						<div class="metric center">Previous 60 Days</div>
							<div class="title center" ng-class="{'decrease': lastSixty < 0, 'increase': lastSixty > 0 }">{{lastSixty | formatCurrency}}</div>
						</div>
						<div class="col-xs-3 top-four">
						<div class="metric center">Previous 3 Months</div>
							<div class="title center" ng-class="{'decrease': previousNinety < 0, 'increase': previousNinety > 0 }">{{previousNinety | formatCurrency}}</div>
						</div>
						<div class="col-xs-3 top-four">
							<div class="metric center">Past Year</div>
							<div class="title center" ng-class="{'decrease': previousYear < 0, 'increase': previousYear > 0 }">{{previousYear | formatCurrency}}</div>
						</div>
					</div>
				</div>
				<div class="clearfix mb30"></div>
				<div class="row panel">
					<div class="col-xs-2 top-six">
						<div class="metric center">30 Day Growth</div>
						<div class="title center" ng-class="{'decrease': thirtyDayGrowth < 0, 'increase': thirtyDayGrowth > 0 }"><i ng-class="{'fa fa-chevron-down': thirtyDayGrowth < 0, 'fa fa-chevron-up': thirtyDayGrowth > 0 }"></i> {{thirtyDayGrowth}}%</div>
					</div>
					<div class="col-xs-2 top-six">
						<div class="metric center">60 Day Growth</div>
						<div class="title center" ng-class="{'decrease': sixtyDayGrowth < 0, 'increase': sixtyDayGrowth > 0 }"><i ng-class="{'fa fa-chevron-down': sixtyDayGrowth < 0, 'fa fa-chevron-up': sixtyDayGrowth > 0 }"></i> {{sixtyDayGrowth}}%</div>
					</div>
					<div class="col-xs-2 top-six">
						<div class="metric center">3 Month Growth</div>
						<div class="title center" ng-class="{'decrease': ninetyDayGrowth < 0, 'increase': ninetyDayGrowth > 0 }"><i ng-class="{'fa fa-chevron-down': ninetyDayGrowth < 0, 'fa fa-chevron-up': ninetyDayGrowth > 0 }"></i> {{ninetyDayGrowth}}%</div>
					</div>
					<div class="col-xs-2 top-six">
						<div class="metric center">6 Month Growth</div>
						<div class="title center" ng-class="{'decrease': thirtyDayGrowth < 0, 'increase': thirtyDayGrowth > 0 }"><i ng-class="{'fa fa-chevron-down': thirtyDayGrowth < 0, 'fa fa-chevron-up': thirtyDayGrowth > 0 }"></i> {{thirtyDayGrowth}}%</div>
					</div>
					<div class="col-xs-2 top-six">
						<div class="metric center">9 Month Growth</div>
						<div class="title center" ng-class="{'decrease': thirtyDayGrowth < 0, 'increase': thirtyDayGrowth > 0 }"><i ng-class="{'fa fa-chevron-down': thirtyDayGrowth < 0, 'fa fa-chevron-up': thirtyDayGrowth > 0 }"></i> {{thirtyDayGrowth}}%</div>
					</div>
					<div class="col-xs-2 top-six">
						<div class="metric center">Yearly Growth</div>
						<div class="title center" ng-class="{'decrease': yearlyGrowth < 0, 'increase': yearlyGrowth > 0 }"><i ng-class="{'fa fa-chevron-down': yearlyGrowth < 0, 'fa fa-chevron-up': yearlyGrowth > 0 }"></i> {{yearlyGrowth}}%</div>
					</div>
				</div>


			<div class="table-responsive">
                <table class="table table-dark mb30">
                    <thead>
                      <tr>
                        <th>Plan</th>
                        <th>Customers</th>
                        <th>Current MRR</th>
                        <th>Graph</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="plan in planRevenue">
                        <td>{{plan['data.object.subscription.plan.name'] || 'Other'}}</td>
                        <td>{{plan.customers}}</td>
                        <td>{{(plan.result / 100) | formatCurrency}}</td>
                        <td>@mdo</td>
                      </tr>
                    </tbody>
                </table>
            </div>
		</div>
	</div>

	<div class="rightpanel rightpanel-commerce">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#rp-page" data-toggle="tab" id="rp-page-tab">Commerce Settings</a></li>
            </ul>

            <!-- Tab panes -->

            <div class="tab-content">

            </div>

    </div><!-- rightpanel -->
</div>