<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Indigenous.io</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!--STYLES-->
  <link rel="stylesheet" href="/linker/styles/config.less">
  <link rel="stylesheet" href="/linker/styles/config.css">
  <link rel="stylesheet" href="/linker/vendor/bootstrap/css/bootstrap-theme.css">
  <link rel="stylesheet" href="/linker/vendor/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/linker/vendor/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/linker/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/linker/vendor/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/linker/vendor/font-awesome/css/font-awesome.min.css">
  <!--STYLES END-->
</head>
<body>
  <!--[if lt IE 7]>
  <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  <!--TEMPLATES-->
  
  <!--TEMPLATES END-->

  <!--SCRIPTS-->
  <script src="/linker/vendor/jquery/jquery.js"></script>
  <script src="/linker/vendor/handlebars/handlebars.js"></script>
  <script src="/linker/vendor/ember/ember.js"></script>
  <script src="/linker/vendor/ember-data-shim/ember-data.js"></script>
  <script src="/linker/vendor/ember-addons.bs_for_ember/bs-core.min.js"></script>
  <script src="/linker/vendor/ember-addons.bs_for_ember/bs-buttons.min.js"></script>
  <script src="/linker/vendor/redactor/redactor.min.js"></script>
  <script src="/linker/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/linker/app.js"></script>
  <script src="/linker/initialize.js"></script>
  <script src="/linker/templates.js"></script>
  <script src="/linker/views/application.js"></script>
  <script src="/linker/routes/index.js"></script>
  <script src="/linker/models/media.js"></script>
  <script src="/linker/models/sections.js"></script>
  <script src="/linker/vendor/bootstrap/js/bootstrap.js"></script>
  <script src="/linker/vendor/ember-addons.bs_for_ember/dist/js/bs-button.min.js"></script>
  <!--SCRIPTS END-->
</body>
</html>