<div class="leftpanel">
    <div class="logopanel">
        <h1>Yoga One</h1>
    </div>
    <!-- logopanel -->

    <div class="leftpanelinner">

        <div>
            <div class="media userlogged hidden">
                <img alt="" src="../images/photos/loggeduser.png" class="media-object">
                <div class="media-body">
                    <h4>Ron Burgandy</h4>
                </div>
            </div>
        </div>

        <ul class="nav nav-pills nav-stacked nav-bracket">
            <li class="dash-li"><a href="index.html"><i class="fa fa-home"></i> <span> Overview</span></a></li>
            <li class="contacts-li">
                <a href="contacts.html"><i class="fa fa-users"></i> <span> Customers</span></a>
            </li>
            <li class="website-li">
                <a href="edit_website.html"><i class="fa fa-desktop"></i> <span> Website</span></a>
            </li>
            <li class="commerce-li">
                <a href="products.html"><i class="fa fa-shopping-cart"></i> <span> Commerce</span></a>
            </li>
            <li class="marketing-li nav-parent">
                <a href="campaigns.html"><i class="fa fa-bullhorn"></i> <span> Marketing</span></a>
                <ul class="children">
                    <li><a class="campaigns" href="campaigns.html"><i class="fa fa-caret-right"></i> Campaigns</a></li>
                    <li><a class="social.html" href="social.html"><i class="fa fa-caret-right"></i> Social</a></li>
                    <li><a class="online.html" href="online.html"><i class="fa fa-caret-right"></i> Online</a></li>
                    <li class="hidden"><a class="print.html" href="print.html"><i class="fa fa-caret-right"></i> Print</a></li>
                </ul>
            </li>
            <li class="support-li hidden">
                <a href="support.html"><i class="fa fa-umbrella"></i> <span> Support</span></a>
            </li>
        </ul>

            <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                <li class="profile-li hidden"><a href="profile.html"><i class="fa fa-user"></i> <span>Profile</span></a>
                </li>
                <li class="account-settings-li"><a href="account_settings.html"><i class="fa fa-cog"></i> <span>Account Settings</span></a>
                </li>
                <li><a href="signout.html"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a>
                </li>
            </ul>

    </div>
    <!-- leftpanelinner -->
</div>
<!-- leftpanel -->
