<div class="rightpanel rightpanel-website">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#rp-theme" data-toggle="tab" id="rp-domain-theme">Settings</a></li>
        <li><a href="#" data-toggle="tab"></a></li>
    </ul>

    <!-- Tab panes -->

    <div class="tab-content">
        <div class="form-group row">
                <label class="col-xs-12 control-label">Default Activity</label>
                <div class="col-xs-12">
                    <select class=" form-control chosen-select" data-placeholder="Sort Contacts">
                            <option value="">All Activity</option>
                            <option value="">Filter Activity</option>
                            <option value="">My Activity</option>
                            <option value="">Orders</option>
                            <option value="">FB Like</option>
                            <option value="">Tweets</option>
                            <option value="">Page View</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <button class="btn btn-block btn-primary">Manage Widgets</button>
                </div>
            </div>
    </div>
    <!-- leftpanel -->
</div>
</div>
