<div class="rightpanel rightpanel-website">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#rp-theme" data-toggle="tab" id="rp-domain-theme">Theme</a>
        </li>
        <li><a href="#rp-domain" data-toggle="tab" id="rp-domain-tab">Domain</a>
        </li>
    </ul>

    <!-- Tab panes -->

    <div class="tab-content">
        <div class="tab-pane pane-settings active" id="rp-theme">
            <div class="leftpanelinner">
                <div id="current-theme">
                    <h4>Current Theme</h4>
                    <div class="row">
                        <div class="col-xs-6">
                            <img class="theme-img" src="../images/theme-preview.jpg">
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-primary btn-block">Edit</button>
                            <button type="button" class="btn btn-default btn-block">Change</button>
                        </div>
                    </div>
                    <div class="mb20"></div>
                    <div id="nestable">
                        <h4>Theme Sections</h4>
                        <ol class="dd-list">
                            <li class="dd-item dd3-item" data-id="13" data-section="myCarousel">
                                <div class="dd-handle dd3-handle"><i class="fa fa-arrows"></i>
                                </div>
                                <div class="dd3-content">Home Slider</div>
                                <div class="dd3-actions">
                                    <i class="fa fa-trash-o tooltips" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                                </div>
                            </li>
                            <li class="dd-item dd3-item" data-id="14" data-section="services">
                                <div class="dd-handle dd3-handle"><i class="fa fa-arrows"></i>
                                </div>
                                <div class="dd3-content">Services</div>
                                <div class="dd3-actions">
                                    <i class="fa fa-trash-o tooltips" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                                </div>
                            </li>
                            <li class="dd-item dd3-item" data-id="15" data-section="action-call">
                                <div class="dd-handle dd3-handle"><i class="fa fa-arrows"></i>
                                </div>
                                <div class="dd3-content">Call to Action</div>
                                <div class="dd3-actions">
                                    <i class="fa fa-trash-o tooltips" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                                </div>
                            </li>
                            <li class="dd-item dd3-item" data-id="19" data-section="recent-projects">
                                <div class="dd-handle dd3-handle"><i class="fa fa-arrows"></i>
                                </div>
                                <div class="dd3-content">Projects</div>
                                <div class="dd3-actions">
                                    <i class="fa fa-trash-o tooltips" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                                </div>
                            </li>
                            <li class="dd-item dd3-item" data-id="19" data-section="clients">
                                <div class="dd-handle dd3-handle"><i class="fa fa-arrows"></i>
                                </div>
                                <div class="dd3-content">Clients</div>
                                <div class="dd3-actions">
                                    <i class="fa fa-trash-o tooltips" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                                </div>
                            </li>
                            <li class="dd-item dd3-item" data-id="19" data-section="footer">
                                <div class="dd-handle dd3-handle"><i class="fa fa-arrows"></i>
                                </div>
                                <div class="dd3-content">Footer</div>
                                <div class="dd3-actions">
                                    <i class="fa fa-trash-o tooltips" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                                </div>
                            </li>
                        </ol>
                        <div class="mb10"></div>
                        <div class="add_section"><i class="fa fa-plus"></i>
                            <span>&nbsp; Add Section</span>
                        </div>
                    </div>

                </div>
                <!-- leftpanelinner -->
            </div>
            <!-- leftpanel -->
        </div>
        <div class="tab-pane pane-settings" id="rp-domain">
            <div class="leftpanelinner">

                <div class="form-group">
                    <label for="current-domain" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="This is the domain that was automatically created when you signed up.">Indigenous Domain</label>
                    <input id="current-domain" class="form-control input-lg" type="text" value="ronflutes@INDIGENOUS SOFTWARE, INC.">
                </div>
                <div class="form-group">
                    <label for="current-domain" class="tooltips col-xs-7" data-toggle="tooltip" data-placement="bottom" title="You can turn on your custom domain.">Custom Domain</label>
                    <div class="col-xs-5 control-label">
                        <div class="toggle toggle-success"></div>
                    </div>
                </div>
                <div class="mb15"></div>
                <label for="current-domain">Custom Domain Name</label>
                <input id="current-domain" class="form-control input-lg" type="text" value="ronflutes.com">
            </div>
        </div>
        <!-- leftpanelinner -->
    </div>
    <!-- leftpanel -->
</div>
</div>
