<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">CUSTOMERS</h1>
            <span ng-if="vm.state.customers" class="mainDescription">There {{vm.state.totalCustomers > 1 ? 'are' : 'is'}} currently {{vm.state.totalCustomers | number : 0}} customer<span ng-if="vm.state.totalCustomers > 1">s</span>. <span ng-if="vm.showFilteredRecords()"> ({{vm.state.totalFilteredCustomers || 0}} in filtered view)</span></span>
        </div>
    </div>
</section>


<div class="securematics-customers-list securematics-list-container server-side-pagination-container" ng-init="tableView='list'">
	<div st-table="vm.displayedCustomers" st-safe-src="vm.state.customers">
	    <div class="container-fluid container-fullw bg-white padding-top-0 padding-bottom-0 margin-bottom-15">
	        <div class="row">
	            <div class="col-sm-12">
	                <div class="panel panel-transparent row margin-bottom-0">
	                    <div class="panel-body">
	                        <form role="form" class="ng-pristine ng-valid row">
	                            <div>
	                                <div class="col-xs-12 col-sm-12 padding-left-0">
	                                    <div class="form-group">
	                                        <div class="col-xs-8 col-sm-6 col-md-6 padding-right-0">
	                                            <span class="input-icon">
                                                    <input type="text" ng-model="vm.uiState.globalSearch" ng-model-options="{ debounce: 800 }" placeholder="Search by card code, card name..." id="form-field-14" class="form-control">
                                                    <i class="ti-search"></i>
                                                </span>
	                                        </div>
	                                        <div class="btn-group pull-right">
		                                        <button class="btn btn-info" ng-class="{'active': tableView == 'list'}" href="" ng-click="tableView = 'list'" tooltip-placement="top" tooltip="List"> <span class="fa fa-th-list"></span> </button>
		                                        <button class="btn btn-info" ng-class="{'active': tableView == 'grid'}" href="" ng-click="tableView = 'grid'" tooltip-placement="top" tooltip="Grid"> <span class="fa fa-th"></span> </button>
                                    		</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </form>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <table class="table table-hover table-striped" ng-class="{'grid': tableView == 'grid', 'bg-white table-list-view': tableView == 'list'}" ng-if="!vm.uiState.loading" fixed-header-table>
	        <thead ng-class="{'bg-white': tableView == 'grid'}" sticky offset="65" sticky-class="sticky-header-class">
	            <tr>
	                <th class="code-col sort" style="white-space: nowrap;" ng-class="{'st-sort-ascent': vm.uiState.sortData.details['OCRD_CardCode'].direction === 1, 'st-sort-descent': vm.uiState.sortData.details['OCRD_CardCode'].direction === -1}" ng-click="vm.sortCustomers('OCRD_CardCode', 'OCRD_CardCode')">Id</th>
	                <th class="name-col sort" style="white-space: nowrap;" ng-class="{'st-sort-ascent': vm.uiState.sortData.details['OCRD_CardName'].direction === 1, 'st-sort-descent': vm.uiState.sortData.details['OCRD_CardName'].direction === -1}" ng-click="vm.sortCustomers('_cardName', 'OCRD_CardName')">Name</th>
	                <th class="hidden-xs address-col" style="white-space: nowrap;">Address</th>
	                <th class="city-col sort" style="white-space: nowrap;" ng-class="{'st-sort-ascent': vm.uiState.sortData.details['OCRD_City'].direction === 1, 'st-sort-descent': vm.uiState.sortData.details['OCRD_City'].direction === -1}" ng-click="vm.sortCustomers('_city', 'OCRD_City')">City</th>
	                <th class="state-col sort" style="white-space: nowrap;" ng-class="{'st-sort-ascent': vm.uiState.sortData.details['OCRD_State1'].direction === 1, 'st-sort-descent': vm.uiState.sortData.details['OCRD_State1'].direction === -1}" ng-click="vm.sortCustomers('_state', 'OCRD_State1')">State</th>
	                <th class="hidden-xs zip-col sort" style="white-space: nowrap;" ng-class="{'st-sort-ascent': vm.uiState.sortData.details['OCRD_ZipCode'].direction === 1, 'st-sort-descent': vm.uiState.sortData.details['OCRD_ZipCode'].direction === -1}" ng-click="vm.sortCustomers('_zip', 'OCRD_ZipCode')">ZipCode</th>
	            </tr>
	            <tr>
	                <th class="code-col">
	                    <input ng-model="vm.uiState.fieldSearch.OCRD_CardCode" placeholder="Id" ng-model-options="{ debounce: 800 }" class="form-control" type="search" />
	                </th>
	                <th class="name-col">
	                    <input ng-model="vm.uiState.fieldSearch.OCRD_CardName" placeholder="Name" ng-model-options="{ debounce: 800 }" class="form-control" type="search" />
	                </th>
	                <th class="hidden-xs address-col"></th>
	                <th class="city-col"></th>
	                <th class="state-col"></th>
	                <th class="hidden-xs zip-col"></th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr ng-repeat="customer in vm.displayedCustomers" class="product-item" ng-click="vm.viewCustomerLedger(customer)">
	                <td class="code-col"><strong>Id: </strong>{{customer.OCRD_CardCode}}</td>
	                <td class="name-col"><strong>Name: </strong><div class="name-block-container"><span class="list-name"></span><span class="text-adjust-table" title="{{customer.OCRD_CardName}}">{{customer.OCRD_CardName}}</span></div></td>
	                <td class="hidden-xs address-col"><strong>Address: </strong><div class="name-block-container"><span class="list-name"></span><span class="text-adjust-table" title="{{customer.OCRD_Address}}">{{customer.OCRD_Address}}</span></div></td>
	                <td class="city-col"><strong>City: </strong>{{customer.OCRD_City}}</td>
	                <td class="state-col"><strong>State: </strong>{{customer.OCRD_State1}}</td>
	                <td class="hidden-xs zip-col"><strong>ZipCode: </strong>{{customer.OCRD_ZipCode}}</td>
	            </tr>
	        </tbody>
	        <tfoot>
	            <tr>
	            	<td colspan="10" class="center" ng-if="vm.state.totalCustomers">
	                	<nav ng-if="vm.numberOfPages() && vm.pages.length >= 2">
	                    	<ul class="pagination">
	                    		<li ng-repeat="page in vm.pages" ng-class="{active: page == vm.uiState.curPage}">
	                    			<a ng-click="vm.selectPage(page)" class="ng-binding">{{page}}</a>
	                    		</li>
	                    	</ul>
	                    </nav>
	                </td>    
	                <td ng-if="!vm.state.totalCustomers" colspan="6" class="center height-100">
	            		<h4>There are currently no customers</h4>
	            	</td>
	            </tr>
	        </tfoot>
	    </table>
	    <div class="load1 csspinner height-400" ng-show="vm.uiState.loading"></div>
	</div>
	<div class="custom-paging-overlay center" ng-if="vm.uiState.pageLoading">
		<h1>loading...</h1>
	</div>
</div>


