<div class="view">
    <div class="container">
        <header>
            <h3>Login</h3>
        </header>
        <br />
        <div class="row">
            <form class="form-horizontal" role="form" name="loginForm" novalidate>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="credential.email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="credential.password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-default" ng-click="loginUser()">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


