<footer class="page color-8">
  <div class="inner-page row">
    <div class="col-md-6 social">
      <a href="#contact"><i class="fa fa-twitter"></i></a>
      <a href="#contact"><i class="fa fa-github-square"></i></a> 
      <a href="#contact"><i class="fa fa-facebook-square"></i></a>
      <a href="#contact"><i class="fa fa-google-plus-square"></i></a>
    </div>
    <div class="col-md-6 text-right copyright editable">
      &copy; 2014 <a href="#" title="twitter bootstrap themes">indigenous.io</a> | all rights reserved | <a href="#top" title="Got to top" class="scroll">To top <i class="fa fa-caret-up"></i></a>
    </div>
  </div>
</footer>