<div class="contacts server-side-pagination-container" ng-controller="ContactsCtrl">
    <indig-onboarding min-requirements="minRequirements"></indig-onboarding>
    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle" translate="sidebar.nav.contacts.MAIN"></h1>
                <span ng-if="contacts" class="mainDescription"><widget-header-label count="{{totalItemCount}}" item="contact"></widget-header-label>. <span ng-if="showFilteredRecords()">({{contactsCount || 0 | number : 0}} in filtered view)</span></span>
                <span ng-if="!contacts" class="mainDescription">
                Loading contacts...
                </span>
            </div>
        </div>
    </section>
    <div st-table="displayedContacts" st-safe-src="contacts">
        <div class="container-fluid container-fullw bg-white padding-top-0 padding-bottom-0">
            <div class="col-sm-12">
                <div class="panel panel-transparent row margin-bottom-0 btn-area-res">
                    <div class="panel-body padding-left-0 padding-right-0">
                        <div class="mob-row">
                            <div class="fix-btn-1 padding-0">
                                    <span class="input-icon">
                                        <input type="text" ng-model="pagingParams.globalSearch" ng-model-options="{ debounce: 800 }" placeholder="Search " id="form-field-14" class="form-control">
                                        <i class="ti-search"></i>
                                    </span>
                            </div>
                            <div class="fix-btn padding-0 mob-sub-right">
                                <button type="button" class="libtn btn btn-o btn-info btn-wide btn-scroll btn-scroll-top ti-filter ng-click-active " ng-click="showFilter()">
                                    <span>Filter</span>
                                </button>
                            </div>
                        </div>
                        <div class="mob-row">
                            <div class="mob-sub-row row-1">
                                <div class="fix-btn padding-0 ">
                                    <button type="button" class="libtn btn btn-danger ti-import" ng-click="openModal('import-contact-modal', 'importContactModalCtrl','md')">
                                        <span>Import</span>
                                    </button>
                                </div>
                                <div class="fix-btn padding-0 btn-2">
                                    <button type="button" class="libtn btn export_btn ti-export" ng-class="{'export_btn_select':(selectedContactsFn()).length}" ng-click="exportContactsFn()">
                                               <span class="desktop-text" ng-bind-html='exportText'></span>
                                               <span class="mobile-text">Export</span>
                                   </button>
                                </div>
                            </div>
                            <div class="mob-sub-row padding-0 text-right  text-right " style="display: inline-block;float: right;">
                                <div class="fix-btn grp padding-0 " >
                                    <div class="btn-group ">
                                        <button class="btn btn-info" ng-class="{'active': tableView == 'list'}" href="" ng-click="tableView = 'list'" tooltip-placement="top" tooltip="List"> <span class="fa fa-th-list"></span> </button>
                                        <button class="btn btn-info right-round" ng-class="{'active': tableView == 'grid'}" href="" ng-click="tableView = 'grid'" tooltip-placement="top" tooltip="Grid"> <span class="fa fa-th"></span> </button>
                                    </div>
                                </div>
                                <div class="fix-btn padding-0" ng-hide="(selectedContactsFn()).length">
                                    <button type="button" class="libtn btn btn-warning ti ti-plus addnew" ng-click="openSimpleModal('new-contact-modal')">
                                        <span class="desktop-text">New Contact</span>
                                        <span class="mobile-text">New</span>
                                    </button>
                                </div>
                                <div class="fix-btn padding-0" ng-hide="!(selectedContactsFn()).length">
                                    <!-- ui-select ng-model="bulkActionChoice.action" on-select="bulkActionSelectFn()" theme="bootstrap" ng-disabled='!(selectedContactsFn()).length'>
                                        <ui-select-match placeholder="Actions">
                                            <small ng-bind-html="$select.selected.label"></small>
                                        </ui-select-match>
                                        <ui-select-choices repeat="action in bulkActionChoices |  orderBy:'label' | filter: $select.search">
                                            <small ng-bind-html="action.label | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select-->
                                    <div class="btn-group">
                                          <button type="button" class="action-btn libtn btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Action
                                          </button>
                                          <div class="dropdown-menu">
                                            <a class="dropdown-item" ng-repeat= "action in bulkActionChoices |  orderBy:'label'" ng-click="setBulkActionChoiceFn(action.label)">{{action.label}}</a>
                                          </div>
                                        </div>
                                </div>
                             </div>
                        </div>
                        <div class="form-group  hidden">
                            <button type="button" class="btn btn-o btn-info btn-wide btn-scroll btn-scroll-top ti-import" ng-click="openModal('contact-templates')">
                                <span>Templates</span>
                            </button>
                        </div>
                        <div class="button-group  hidden">
                                        <span class="dropdown" dropdown on-toggle="toggled(open)">
                                            <p class="margin-bottom-0">
                                                <button type="button" class="btn btn-wide btn-info btn-o dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                        Columns <span class="caret"></span>
                                                </button>
                                            </p>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <span class="small">
                                                        <input type="checkbox" ng-model="column.photo" ng-click="preventClick($event)" /> Photo</span>
                                                </li>
                                                <li>
                                                    <span class="small">
                                                        <input type="checkbox" ng-model="column.name" ng-click="preventClick($event)" /> Name</span>
                                                </li>
                                                <li>
                                                    <span class="small">
                                                        <input type="checkbox" ng-model="column.category" ng-click="preventClick($event)" /> Category</span>
                                                </li>
                                                <li>
                                                    <span class="small">
                                                        <input type="checkbox" ng-model="column.email" ng-click="preventClick($event)" /> Email</span>
                                                </li>
                                                <li>
                                                    <span class="small">
                                                        <input type="checkbox" ng-model="column.address" ng-click="preventClick($event)" /> Address</span>
                                                </li>
                                                <li>
                                                    <span class="small">
                                                        <input type="checkbox" ng-model="column.unsubscribed" ng-click="preventClick($event)" /> Unsubscribed</span>
                                                </li>
                                                <li>
                                                    <span class="small">
                                                        <input type="checkbox" ng-model="column.created" ng-click="preventClick($event)" /> Created</span>
                                                </li>
                                                <li>
                                                    <span class="small">
                                                        <input type="checkbox" ng-model="column.modified" ng-click="preventClick($event)" /> Modified</span>
                                                </li>
                                            </ul>
                                        </span>
                                    </div>
                    </div>
                    <!--panel  ends here-->
                </div>
            </div>
        </div>
        <div class="container-fluid container-fullw padding-top-0 padding-bottom-0 padding-left-15 padding-right-15">
            <div class="panel panel-transparent row margin-bottom-0">
                <div class="panel-body contact-panel-body padding-top-0">
                    <table class="table table-striped table-hover bg-white margin-bottom-0" ng-class="{'grid': tableView == 'grid', 'bg-white table-list-view': tableView == 'list'}" ng-show="displayedContacts" fixed-header-table>
                        <thead ng-class="{'bg-white': tableView == 'grid'}" sticky offset="65" sticky-class="sticky-header-class">
                            <tr>
                                <th ng-class="{'column-width': tableView == 'grid'}" ng-click='selectAllClickFn($event)' ng-show='displayedContacts.length'><i class="fa fa-2x" ng-class='{"fa-check-circle": selectAllChecked, "fa-circle-o": !selectAllChecked}'></i></th>
                                <th class="hidden-xs hidden-sm hidden-md sort" ng-class="{'column-width': tableView == 'grid', 'st-sort-ascent': sortData.details['_id'].direction === 1, 'st-sort-descent': sortData.details['_id'].direction === -1}" ng-click="sortContacts('_id', '_id')">ID</th>
                                <th ng-show="column.name" style="margin-top: 1px;" ng-class="{'column-width': tableView == 'grid'}">Photo</th>
                                <th class="sort" ng-show="column.name" ng-class="{'column-width': tableView == 'grid', 'st-sort-ascent': sortData.details['_first'].direction === 1, 'st-sort-descent': sortData.details['_first'].direction === -1}" ng-click="sortContacts('_first', '_first')">First</th>
                                <th class="sort" ng-class="{'column-width': tableView == 'grid', 'st-sort-ascent': sortData.details['_last'].direction === 1, 'st-sort-descent': sortData.details['_last'].direction === -1}" ng-click="sortContacts('_last', '_last')">Last</th>
                                <th ng-show="column.tags" ng-class="{'column-width': tableView == 'grid', 'tag-width': tableView == 'list'}" class="tags-col">Tags</th>
                                <th ng-show="column.email" class="hidden-xs sort" ng-class="{'column-width': tableView == 'grid', 'st-sort-ascent': sortData.details['email'].direction === 1, 'st-sort-descent': sortData.details['email'].direction === -1}" ng-click="sortContacts('details.emails.email', 'email')">Email</th>
                                <th class="hidden-xs" ng-show="column.address" ng-class="{'column-width': tableView == 'grid'}">Address</th>
                                <th class="hidden-xs hidden-sm hidden-md" ng-show="column.phone" ng-class="{'column-width': tableView == 'grid'}">Phone</th>
                                <th class="hidden-xs sort" ng-show="column.unsubscribed" ng-class="{'column-width': tableView == 'grid', 'st-sort-ascent': sortData.details['unsubscribed'].direction === 1, 'st-sort-descent': sortData.details['unsubscribed'].direction === -1}" ng-click="sortContacts('unsubscribed', 'unsubscribed')" style="white-space: nowrap;">Unsub</th>
                                <th class="hidden-xs sort" ng-show="column.created" ng-class="{'column-width': tableView == 'grid', 'st-sort-ascent': sortData.details['created'].direction === 1, 'st-sort-descent': sortData.details['created'].direction === -1}" ng-click="sortContacts('created.date', 'created')" style="white-space: nowrap;">Created</th>
                                <!-- <th class="hidden-xs" st-sort="getters.modified" ng-show="column.modified">Modified</th> -->
                            </tr>
                            <tr ng-if="pagingParams.showFilter" class="filter-row-header sticky-filter-header">
                                <th ng-if="displayedContacts.length" class="column-width" ng-show="column.name">

                                </th>
                                <th class="column-width hidden-xs hidden-sm hidden-md " ng-show="column.name">
                                    <input ng-model="pagingParams.fieldSearch._id" placeholder="ID" class="form-control" type="search" ng-model-options="{ debounce: 800 }" />
                                </th>
                                <th class="column-width" ng-show="column.photo">
                                    <input placeholder="Select Photo" class="form-control hidden" type="search" id="searchPicture" ng-model="filterContact.photo.selected.value" />
                                    <ui-select class="hidden" ng-model="filterContact.photo.selected" on-select="triggerInput('#searchPicture')" theme="bootstrap">
                                        <ui-select-match placeholder="Select Photo">
                                            <small ng-bind-html="$select.selected.name"></small>
                                            <span class="fa fa-times text-danger" ng-click="clearFilter($event, '#searchPicture', 'photo')"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="option in contactPhotoOptions">
                                            <!-- <span class="fa" ng-class="{'fa-facebook': type.type == 'fb'}"></span> -->
                                            <small ng-bind-html="option.name | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </th>
                                <th class="column-width" ng-show="column.name">
                                    <input ng-model="pagingParams.fieldSearch.first" placeholder="First" class="form-control" type="search" ng-model-options="{ debounce: 800 }"/>
                                </th>
                                <th class="column-width" ng-show="column.name">
                                    <input ng-model="pagingParams.fieldSearch.last" placeholder="Last" class="form-control" type="search" ng-model-options="{ debounce: 800 }"/>
                                </th>
                                <th class="column-width hidden-xs tags_search" ng-show="column.tags">

                                    <ui-select ng-model="pagingParams.fieldSearch.tags" on-select="triggerInput('#searchType')" theme="bootstrap">
                                        <ui-select-match placeholder="Select Type">
                                            <small ng-bind-html="$select.selected.label"></small>
                                            <span class="fa fa-times text-danger" ng-click=" clearSearchFilter($event, '#searchType', 'tags')"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="tag.data as tag in contactTags |  orderBy:'label' | filter: $select.search">
                                            <small ng-bind-html="tag.label | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </th>
                                <th class="column-width hidden-xs" ng-show="column.email">
                                    <input ng-model="pagingParams.fieldSearch.email" placeholder="Email" class="form-control" type="search" ng-model-options="{ debounce: 800 }"/>
                                </th>
                                <!-- Need to add custom filter -->
                                <th class="column-width hidden-xs" ng-show="column.address">
                                    <input st-search="address" placeholder="Address" class="form-control hidden" type="search" />
                                </th>
                                <th class="column-width hidden-xs hidden-sm hidden-md" ng-show="column.phone">
                                    <input st-search="phone" placeholder="Phone" class="form-control hidden" type="search" />
                                </th>
                                <th class="hidden-xs" ng-show="column.unsubscribed">
                                </th>
                                <th class="hidden-xs" ng-show="column.created">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="contact in displayedContacts" ng-click="viewSingle(contact)">
                            <td ng-show='displayedContacts.length'><i class="fa fa-2x" ng-click='contactSelectClickFn($event, contact)' ng-class='{"fa-check-circle": contact.isSelected, "fa-circle-o": !contact.isSelected}'></i></td>
                            <td ng-show="column.name" class="hidden-xs hidden-sm hidden-md"><strong>ID: </strong>{{contact._id}}</td>
                            <td ng-show="column.photo && tableView == 'list'">
                                <img ng-src="{{ contact.photo }}" id="contact_photo_{{contact._id}}" err-src="/admin/assets/images/default-user.png" is-contact="contact" err-contact="contact" class="img-thumbnail screenshot" alt="image">
                            </td>
                            <td ng-show="column.name" class="text-adjust-col"><strong>First: </strong> <span class="text-adjust-inner-content">{{contact.first}}</span><span ng-if="!contact.first">--</span></td>
                            <td ng-show="column.name" class="text-adjust-col"><strong>Last: </strong> <span class="text-adjust-inner-content">{{contact.last}}</span><span ng-if="!contact.last">--</span></td>
                            <td ng-show="column.tags" class="text-adjust-col tags-col"><strong>Tags: </strong>
                                <span class="text-adjust-inner-content">{{contactTagsFn(contact)||'--'}}</span></td>
                            <td ng-show="column.email" class="hidden-xs text-adjust-col email-col"><strong>Email: </strong> <span ng-if="contact.bestEmail"><a href="mailto:{{contact.bestEmail}}"><span class="text-adjust-inner-content  contact-email-address" tooltip-placement="top" tooltip="{{contact.bestEmail}}">{{contact.bestEmail}}</span></a>
                                    </span><span ng-if="!contact.bestEmail">--</span></td>
                            <td ng-show="column.address" class="hidden-xs text-adjust-col address-col" style="white-space:nowrap;"><strong>Address: </strong>
                                <span ng-if="contact.details[0].addresses[0]" tooltip-placement="top" tooltip="{{contact.bestAddress}}" class="text-adjust-inner-content">{{contact.bestAddress}}</span>
                                <span ng-if="!contact.details[0].addresses[0]">--</span>
                            </td>
                            <td ng-show="column.phone" class="hidden-xs hidden-sm hidden-md"><strong>Phone: </strong> <a href="tel:{{contact.details[0].phones[0].number || '--'}}">{{contact.details[0].phones[0].number || '--'}}</a></td>
                            <td ng-show="column.unsubscribed" class="hidden-xs"><strong>Unsub: </strong> <span ng-if="contact.unsubscribed" style="white-space: nowrap;">{{contact.unsubscribed}}</span><span ng-if="!contact.unsubscribed">--</span></td>
                            <td ng-show="column.created" class="hidden-xs" style="white-space: nowrap;"><strong>Created: </strong> {{contact.created.date | date:'MMM d yy' || '--'}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="text-center" colspan="10">
                                    <nav ng-if="numberOfPages() && pages.length >= 2">
                                        <ul class="pagination">
                                            <li ng-repeat="page in pages" ng-class="{active: page == pagingParams.curPage}">
                                                <a ng-click="selectPage(page)" class="ng-binding">{{page}}</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="load1 csspinner height-400" ng-show="!contacts"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="custom-paging-overlay center" ng-if="pageLoading">
        <h1>loading...</h1>
    </div>
</div>
<div data-ng-include=" 'assets/views/partials/new-contact-modal.html' "></div>
<div data-ng-include=" 'assets/views/partials/import-contact-modal.html' "></div>
<div data-ng-include=" 'assets/views/partials/tags-bulk-action-modal.html' "></div>
