<div class="customers" ng-controller="CustomersCtrl">
    <indig-onboarding min-requirements="minRequirements"></indig-onboarding>
    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle" translate="sidebar.nav.customers.MAIN"></h1>
                <span ng-if="customers" class="mainDescription">There are currently {{customers.length}} customers.</span>
            </div>
            <div ncy-breadcrumb></div>
        </div>
    </section>
    <div st-table="displayedCustomers" st-sort-table st-safe-src="customers">
        <div class="container-fluid container-fullw bg-white padding-top-0 padding-bottom-0">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-transparent row margin-bottom-0">
                        <div class="panel-body">
                            <form role="form" class="ng-pristine ng-valid row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-xs-8 col-md-9 padding-left-0">
                                            <span class="input-icon">
                                        <input type="text" st-search placeholder="Search by name, email, phone..." id="form-field-14" class="form-control">
                                        <i class="ti-search"></i>
                                    </span>
                                        </div>
                                        <div class="col-xs-4 col-md-3 padding-right-0">
                                            <button type="button" class="btn btn-o btn-info btn-wide btn-scroll btn-scroll-top ti-filter ng-click-active pull-right" ng-click="filterCustomers()">
                                                <span>Filter</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="visible-xs clearfix margin-bottom-15"></div>
                                <div class="col-sm-6">
                                    <div class="form-group margin-bottom-0 pull-right">
                                        <button type="button" class="btn btn-warning btn-wide btn-scroll btn-scroll-top ti ti-plus" ng-click="openSimpleModal('new-customer-modal')">
                                            <span>New Customer</span>
                                        </button>
                                    </div>
                                    <div class="form-group margin-bottom-0 margin-right-5 pull-right">
                                        <button type="button" class="btn btn-o btn-info btn-wide btn-scroll btn-scroll-top ti-import" ng-click="openModal('import-customer-modal', 'ImportCustomerModalCtrl', 'lg')">
                                            <span>Import</span>
                                        </button>
                                    </div>
                                    <div class="form-group margin-bottom-0 margin-right-5 pull-right hidden">
                                        <button type="button" class="btn btn-o btn-info btn-wide btn-scroll btn-scroll-top ti-import" ng-click="openModal('customer-templates')">
                                            <span>Templates</span>
                                        </button>
                                    </div>
                                    <div class="button-group pull-right margin-right-5 hidden">
                                        <span class="dropdown" dropdown on-toggle="toggled(open)">
                                        <p class="margin-bottom-0">
                                        <button type="button" class="btn btn-wide btn-info btn-o dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                            Columns <span class="caret"></span>
                                        </button>
                                        </p>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <span class="small">
                                                <input type="checkbox" ng-model="column.photo" ng-click="preventClick($event)" /> Photo</span>
                                            </li>
                                            <li>
                                                <span class="small">
                                                <input type="checkbox" ng-model="column.name" ng-click="preventClick($event)" /> Name</span>
                                            </li>
                                            <li>
                                                <span class="small">
                                                <input type="checkbox" ng-model="column.category" ng-click="preventClick($event)" /> Category</span>
                                            </li>
                                            <li>
                                                <span class="small">
                                                <input type="checkbox" ng-model="column.email" ng-click="preventClick($event)" /> Email</span>
                                            </li>
                                            <li>
                                                <span class="small">
                                                <input type="checkbox" ng-model="column.address" ng-click="preventClick($event)" /> Address</span>
                                            </li>
                                            <li>
                                                <span class="small">
                                                <input type="checkbox" ng-model="column.social" ng-click="preventClick($event)" /> Social</span>
                                            </li>
                                            <li>
                                                <span class="small">
                                                <input type="checkbox" ng-model="column.created" ng-click="preventClick($event)" /> Created</span>
                                            </li>
                                            <li>
                                                <span class="small">
                                                <input type="checkbox" ng-model="column.modified" ng-click="preventClick($event)" /> Modified</span>
                                            </li>
                                        </ul>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <div class="btn-group tableView">
                                            <button class="btn btn-info" ng-class="{'active': tableView == 'list'}" href="" ng-click="tableView = 'list'" tooltip-placement="top" tooltip="List"> <span class="fa fa-th-list"></span> </button>
                                            <button class="btn btn-info" ng-class="{'active': tableView == 'grid'}" href="" ng-click="tableView = 'grid'" tooltip-placement="top" tooltip="Grid"> <span class="fa fa-th"></span> </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid container-fullw padding-top-0 padding-bottom-0">
            <div class="panel panel-transparent row margin-bottom-0">
                <div class="panel-body">
                    <table class="table table-hover bg-white" ng-class="{'grid': tableView == 'grid', 'bg-white': tableView == 'list'}" ng-show="displayedCustomers">
                        <thead ng-class="{'bg-white': tableView == 'grid'}">
                            <tr>
                                <th class="center" st-sort="photo" ng-show="column.photo" ng-class="{'column-width': tableView == 'grid'}">Photo</th>
                                <th st-sort="first" ng-show="column.name" ng-class="{'column-width': tableView == 'grid'}">First Name</th>
                                <th st-sort="last" ng-show="column.name" ng-class="{'column-width': tableView == 'grid'}">Last Name</th>
                                <th st-sort="getters.tags" ng-show="column.tags" ng-class="{'column-width': tableView == 'grid'}">Tags</th>
                                <th st-sort="bestEmail" ng-show="column.email" ng-class="{'column-width': tableView == 'grid'}">Email</th>
                                <th class="hidden-xs" st-sort="getters.address" ng-show="column.address" ng-class="{'column-width': tableView == 'grid'}">Address</th>
                                <th class="hidden-xs center" st-sort="getters.phone" ng-show="column.phone" ng-class="{'column-width': tableView == 'grid'}">Phone</th>
                                <th class="hidden-xs" st-sort="getters.social" ng-show="column.social" ng-class="{'column-width': tableView == 'grid'}">Social</th>
                                <th class="hidden-xs" st-sort-default="{{order}}" st-sort="getters.created" ng-show="column.created" ng-class="{'column-width': tableView == 'grid'}">Created</th>
                                <!-- <th class="hidden-xs" st-sort="getters.modified" ng-show="column.modified">Modified</th> -->
                            </tr>
                            <tr ng-if="showFilter">
                                <th class="column-width" ng-show="column.photo">
                                    <input st-search="{{'hasPhoto'}}" placeholder="Select Photo" class="form-control hidden" type="search" id="searchPicture" ng-model="filterCustomer.photo.selected.value" />
                                    <ui-select ng-model="filterCustomer.photo.selected" on-select="triggerInput('#searchPicture')" theme="bootstrap">
                                        <ui-select-match placeholder="Select Photo">
                                            <small ng-bind-html="$select.selected.name"></small>
                                            <span class="fa fa-times text-danger" ng-click="clearFilter($event, '#searchPicture', 'photo')"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="option in customerPhotoOptions">
                                            <!-- <span class="fa" ng-class="{'fa-facebook': type.type == 'fb'}"></span> -->
                                            <small ng-bind-html="option.name | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </th>
                                <th class="column-width" ng-show="column.name">
                                    <input st-search="{{first}}" placeholder="First Name" class="form-control" type="search" />
                                </th>
                                <th class="column-width" ng-show="column.name">
                                    <input st-search="{{last}}" placeholder="Last Name" class="form-control" type="search" />
                                </th>
                                <th class="column-width" ng-show="column.tags">
                                    <input st-search="type" placeholder="Type" class="form-control hidden" type="search" id="searchType" ng-model="filterCustomer.type.selected.data" />
                                    <ui-select ng-model="filterCustomer.type.selected" on-select="triggerInput('#searchType')" theme="bootstrap">
                                        <ui-select-match placeholder="Select Type">
                                            <small ng-bind-html="$select.selected.label"></small>
                                            <span class="fa fa-times text-danger" ng-click="clearFilter($event, '#searchType', 'type')"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="tag in customerTags">
                                            <small ng-bind-html="tag.label | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </th>
                                <th class="column-width" ng-show="column.email">
                                    <input st-search="email" placeholder="Email" class="form-control" type="search" />
                                </th>
                                <th class="column-width" ng-show="column.address">
                                    <input st-search="{{details[0].addresses[0].city + details[0].addresses[0].state}}" placeholder="Address" class="form-control" type="search" />
                                </th>
                                <th class="column-width" ng-show="column.phone">
                                    <input st-search="{{details[0].phones[0].number}}" placeholder="Phone" class="form-control" type="search" />
                                </th>
                                <th ng-show="column.social">
                                </th>
                                <th ng-show="column.created">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="customer in displayedCustomers" ng-click="viewSingle(customer)">
                                <td class="center" ng-show="column.photo">
                                    <img ng-src="{{ customer.photo }}" id="customer_photo_{{customer._id}}" err-src="" err-contact="customer" class="img-thumbnail screenshot" alt="image">
                                </td>
                                <td ng-show="column.name"><strong>First Name: </strong> <span ng-text-truncate="customer.first" ng-tt-chars-threshold="15" ng-tt-no-toggling></span><span ng-if="!customer.first">--</span></td>
                                <td ng-show="column.name"><strong>Last Name: </strong> <span ng-text-truncate="customer.last" ng-tt-chars-threshold="15" ng-tt-no-toggling></span><span ng-if="!customer.last">--</span></td>
                                <td ng-show="column.tags"><strong>Tags: </strong>{{contactTags(customer) || '--'}}</td>
                                <td ng-show="column.email" class="hidden-xs"><strong>Email: </strong> <span ng-if="customer.bestEmail"><a href="mailto:{{customer.bestEmail}}"><span ng-text-truncate="customer.bestEmail" ng-tt-chars-threshold="15" ng-tt-no-toggling></span></a>
                                    </span><span ng-if="!customer.bestEmail">--</span></td>
                                <td ng-show="column.address" class="hidden-xs"><strong>Address: </strong>
                                    <span ng-if="customer.details[0].addresses[0].city && customer.details[0].addresses[0].state" ng-text-truncate="customer.details[0].addresses[0].city+', '+customer.details[0].addresses[0].state" ng-tt-chars-threshold="15" ng-tt-no-toggling></span>
                                    <span ng-if="customer.details[0].addresses[0].address && !customer.details[0].addresses[0].city">{{customer.details[0].addresses[0].address}}</span>
                                    <span ng-if="!customer.details[0].addresses[0]">--</span>
                                </td>
                                <td ng-show="column.phone" class="hidden-xs" ng-class="{'center': tableView != 'grid'}"><strong>Phone: </strong> {{customer.details[0].phones[0].number || '--'}}</td>
                                <td ng-show="column.social" class="hidden-xs"><strong>Social: </strong>
                                    <ul class="social">
                                        <li ng-if="customer.hasFacebookId"><i class="fa fa-facebook-square"></i>
                                        </li>
                                        <li ng-if="customer.hasTwitterId"><i class="fa fa-twitter-square"></i>
                                        </li>
                                        <li ng-if="customer.hasLinkedInId"><a ng-href="{{customer.linkedInUrl}}" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                                        </li>
                                        <li ng-if="customer.hasGoogleId"><i class="fa fa-google-plus-square"></i>
                                        </li>
                                    </ul>
                                </td>
                                <td ng-show="column.created" class="hidden-xs"><strong>Created: </strong> {{customer.created.date | date:'MMM d yy' || '--'}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="text-center" st-pagination="" st-displayed-pages="showPages" st-items-by-page="itemPerPage" colspan="9">
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="load1 csspinner height-400" ng-show="!customers"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-ng-include=" 'assets/views/partials/new-customer-modal.html' "></div>
<div data-ng-include=" 'assets/views/partials/import-customer-modal.html' "></div>
