<div class="customer-detail" ng-controller="CustomerDetailCtrl">
    <indig-navprompt class="indig-navprompt" my-state="{{$state.$current.name}}" reset-dirty="resetDirty()" check-if-dirty="checkIfDirty()" save-page="contactSaveFn()" save-page-check="!pageSaving"></indig-navprompt>
    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle">{{ dataloaded ?  ( data.subdomain || 'No Customer Name')  : 'Loading..'}}
               </h1>
                <span class="mainDescription">{{displayCustomerTags()}}</span>
            </div>
        </div>
    </section>
    <div class="col-xs-12">
        <button type="button" class="btn btn-primary btn-o pull-right btn btn-primary btn-o margin-top-5 margin-bottom-5" ng-click="backToCustomers()">
            Back to Customers
        </button>
    </div>
    <div class="container-fluid container-fullw margin-top-20">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <tabset class="tabbable">
                        <tab heading="Overview" select="resizeMap()">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="user-left">
                                        <div class="center">
                                            <h4>{{customer.customDomain}}</h4>
                                            <div class="user-image">
                                                <img ng-src="{{ customer.business.logo }}" err-src="/admin/assets/images/default-user.png" alt="" class="thumbnail img-circle">
                                            </div>

                                        </div>
                                        <div class="map margin-bottom-15">
                                            <span class="text-bold">Location</span>
                                            <hr class="margin-top-5">
                                            <map zoom="10" center="{{location.lat}}, {{location.lon}}" disable-default-u-i="true" scale-control="false" pan-control="false" zoom-control="false" class="height-155" ng-if="!loadingMap && location.lat" scrollwheel="false">
                                                <marker position="{{location.lat}}, {{location.lon}}"></marker>
                                            </map>
                                            <div class="load1 csspinner height-155" ng-if="loadingMap"></div>
                                            <div class="height-155" ng-if="!loadingMap && !location.lat">
                                                <h4 class="center text-bold no-location">No Location</h4></div>
                                        </div>
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th colspan="3">Account Details</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Account Status:</td>
                                                    <td>{{customer.accountIsActive}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Signup Date:</td>
                                                    <td>{{customer.billing.signupDate | date:'M/d/yy'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Trial Days Remaining</td>
                                                    <td ng-if="customer.billing.plan == 'NO_PLAN_ARGUMENT'">{{customer.trialDaysRemaining}}  <a ng-click="openSimpleModal('edit-trial-days-modal')"><i class="fa fa-pencil"></i></a></td>
                                                    <td ng-if="customer.billing.plan != 'NO_PLAN_ARGUMENT'">NA</td>
                                                </tr>
                                                <tr ng-if="customer.billing.cancellationDate">
                                                    <td>Cancellation Date:</td>
                                                    <td>{{customer.billing.cancellationDate | date:'M/d/yy'}}<span ng-if="customer.billing.cancellationReason"> ({{customer.billing.cancellationReason}})</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Account Locked</td>
                                                    <td>{{customer.locked_sub}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Gross Revenue</td>
                                                    <td>{{(customer.chargeDetails.totalCharges) | currency:"$" }}</td>
                                                </tr>

                                                <tr>
                                                    <td>Subdomain:</td>
                                                    <td>
                                                        <div>
                                                            <a href="{{subdomainURL}}" target="_blank">{{customer.subdomain}}</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>Custom Domain:</td>
                                                    <td>
                                                        <span>
                                                            <a href="http://{{customer.customDomain}}" target="_blank">{{customer.customDomain}}</a>
                                                        </span>
                                                        <div class="pull-right">
                                                            <a ng-click="getNameServers(customer.customDomain)"><i class="fa fa-binoculars" tooltip="Show name server details"></i></a>
                                                            <a ng-click="openSimpleModal('add-domain-modal')" tooltip="Edit domain name"><i class="fa fa-pencil"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr ng-if="nameservers" ng-show="showNameServer">
                                                    <td colspan="2"><div ng-repeat="ns in nameservers"><span class="text-bold">{{ns}}</span><br></div></td>
                                                </tr>
                                                <tr>
                                                    <td>Website :</td>
                                                    <td>
                                                        <div>
                                                            <a href="http://{{contact.details[0].websites[0].website}}">{{contact.details[0].websites[0].website}}</a>
                                                            <br>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Company:</td>
                                                    <td>
                                                        <div>
                                                            {{contact.details[0].company}}
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td>
                                                        <div>
                                                            {{customer.business.emails[0].email}}
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Template Account:</td>
                                                    <td>
                                                        <div ng-show="customer">
                                                            <switch ng-model="customer.isTemplateAccount" ng-change="updateCustomerTemplateAccount(customer.isTemplateAccount)" class="pull-right margin-bottom-10"></switch>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>OEM Account:</td>
                                                    <td>
                                                        <div ng-show="customer">
                                                            <switch ng-model="customer.oem" ng-change="updateCustomerOEMAccount(customer.oem)" class="pull-right margin-bottom-10"></switch>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Insight Emails Enabled:</td>
                                                    <td>
                                                        <div ng-show="customer">
                                                            <switch ng-model="customer.email_preferences.receiveInsights" ng-change="updateCustomerReceiveInsights(customer.email_preferences.receiveInsights)" class="pull-right margin-bottom-10"></switch>
                                                        </div>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th colspan="3">Website Information</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Enable Custom Scripts:</td>
                                                    <td>
                                                        <div ng-show="customer">
                                                            <switch ng-model="customer.showhide.userScripts" ng-change="updateCustomerUserScripts(customer.showhide.userScripts)" class="pull-right margin-bottom-10"></switch>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Enable HTML Mode:</td>
                                                    <td>
                                                        <div ng-show="customer">
                                                            <switch ng-model="customer.showhide.editHTML" ng-change="updateCustomerHTML(customer.showhide.editHTML)" class="pull-right margin-bottom-10"></switch>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Enable Custom Css:</td>
                                                    <td>
                                                        <div ng-show="customer">
                                                            <switch ng-model="customer.showhide.customCss" ng-change="updateCustomCssEnabled(customer.showhide.customCss)" class="pull-right margin-bottom-10"></switch>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th colspan="3">Primary User Information</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td>
                                                        <a href="mailto:{{primaryUser.email}}">{{primaryUser.email}}</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Name:</td>
                                                    <td>
                                                        {{primaryUser.first}} {{primaryUser.last}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>ID:</td>
                                                    <td>
                                                        {{primaryUser._id}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">
                                                        <button type="button" class="btn btn-warning btn-wide btn-scroll btn-scroll-top ti ti-plus" ng-click="generateInsightReport()">
                                                            <span>Generate Insight Report</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">
                                                        <button type="button" class="btn btn-warning btn-wide btn-scroll btn-scroll-top ti ti-plus" ng-click="openCancelAccountModal()">
                                                            <span>Cancel Account Subscription</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr ng-if="customer.billing.plan != 'EVERGREEN'">
                                                    <td colspan="3">
                                                        <button type="button" class="btn btn-warning btn-wide btn-scroll btn-scroll-top ti ti-plus" ng-click="makeEvergreen()">
                                                            <span>Convert to Evergreen</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="panel-body panel-white space20 ">
                                        <div class="panel-heading border-light">
                                            <h4 class="panel-title">Account <span class="text-bold">Users</span></h4>
                                            <div st-table="displayedUsers" st-safe-src="customer.users" st-filtered-collection>
                                                <table class="table table-primary margin-bottom-0">
                                                    <thead>
                                                    <tr class="ng-scope">
                                                        <th>ID</th>
                                                        <th>Name</th>
                                                        <th>Username</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-if="!displayedUsers || displayedUsers.length <= 0">
                                                        <td colspan="4">
                                                            <h4 class="text-center margin-top-30 margin-bottom-30">No Users</h4>
                                                        </td>
                                                    </tr>
                                                    <tr ng-repeat="user in displayedUsers">
                                                        <td>
                                                            {{user._id}}
                                                        </td>
                                                        <td>{{user.first}} {{user.last}}</td>
                                                        <td>{{user.username}}</td>
                                                        <td class="table-action">
                                                            <input ng-disabled="saveUser" type="checkbox" id="exclude_{{$index}}" ng-model="user.excludeFromCustomerView" ng-change="excludeUserFromCustomerView(user._id, user.excludeFromCustomerView, user)" class="margin-right-5 pull-left" style="margin-top: 2px;">
                                                            <a ng-click="openEditUserModal(user._id)"><i class="fa fa-pencil"></i></a>
                                                            <a ng-click="removeUserFromAccount(user._id)" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                                        </td>
                                                    </tr>
                                                    
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <td class="text-center" st-custom-pagination="" st-displayed-pages="showPages" st-items-by-page="itemPerPage" colspan="8">
                                                        </td>
                                                    </tr>
                                                    <tr style="height:50px;">
                                                        <td colspan="4">
                                                            <div class="form-group margin-bottom-0 pull-right">
                                                                <button type="button" class="btn btn-warning btn-wide btn-scroll btn-scroll-top ti ti-plus" ng-click="openSimpleModal('new-user-modal')">
                                                                    <span>Add New User</span>
                                                                </button>
                                                            </div>
                                                            <div class="form-group margin-bottom-0 margin-right-5 pull-right hidden">
                                                                <button type="button" class="btn btn-o btn-info btn-wide btn-scroll btn-scroll-top ti-plus" ng-click="openModal('import-contact-modal', 'importContactModalCtrl','md')">
                                                                    <span>Add Existing User</span>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body panel-white space20 ">
                                        <div class="panel-heading border-light">
                                            <h4 class="panel-title">Account <span class="text-bold">Invoices</span></h4>
                                            <table class="table table-primary margin-bottom-0">
                                                <thead>
                                                <tr class="ng-scope">
                                                    <th>From / To</th>
                                                    <th>Amount</th>
                                                    <th>Attempts</th>
                                                    <th>Paid</th>
                                                    <th>Date</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-if="!customer.invoices || customer.invoices.length <= 0">
                                                    <td colspan="6">
                                                        <h4 class="text-center margin-top-30 margin-bottom-30">No Invoices</h4>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="invoice in customer.invoices">
                                                    <td>{{_moment(invoice, invoice.lines.data[0].period.start)}} - {{_moment(invoice, invoice.lines.data[0].period.start, {addNum: 30, addType: 'days'})}}</td>
                                                    <td>{{invoice.total / 100 | currency:'$'}}</td>
                                                    <td>{{invoice.attempt_count}}</td>
                                                    <td>{{invoice.paid}}</td>
                                                    <td>{{invoice.date | date: 'M/d/yy'}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="panel panel-white space20 " id="notes">
                                        <div class="panel-heading border-light">
                                            <h4 class="panel-title">Customer <span class="text-bold">Notes</span></h4>
                                            <ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
                                        </div>
                                        <div class="panel-wrapper" collapse="notes" ng-init="notes=false">
                                            <div class="panel-body no-padding">
                                                <ul class="notes panel-scroll" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
                                                    <li ng-repeat="note in customerNotes">
                                                        <div class="col-xs-2">
                                                            <img src="{{note.user_profile_photo ? note.user_profile_photo : '/admin/assets/images/default-user.png'}}" class="img-circle pull-left" width="32">
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <span class="text-small block text-light">{{note.user.first}} {{note.user.last}} <span class="pull-right">{{note.date | date:'dd MMM yy'}}</span></span>
                                                            <span class="user-notes" ng-bind-html="note.note"></span>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="panel-footer border-light">
                                                <label for="newNote"> New Note</label>
                                                <textarea id="newNote" class="form-control margin-bottom-15 autosize area-animated msd-elastic: \n;" ng-model="newNote.text"></textarea>
                                                <button type="button" ng-disabled="!(newNote.text)" class="btn btn-info btn-block btn-o btn-wide btn-scroll btn-scroll-top ti-plus" ng-click="addNote(newNote.text)">
                                                    <span>Add</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-white space20 hidden">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">Recent Tweets</h4>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="ltwt">
                                                <li class="ltwt_tweet">
                                                    <p class="ltwt_tweet_text">
                                                        <a href class="text-info">
                                                        @Shakespeare
                                                    </a> Some are born great, some achieve greatness, and some have greatness thrust upon them.
                                                    </p>
                                                    <span class="block text-light"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Analytics" select="resizeAnalytics()">
                            <div data-ng-include=" 'assets/views/partials/single-customer-analytics.html' "></div>
                        </tab>
                        <tab ng-if="customer.isTemplateAccount" heading="Template Image">
                            <div>
                                <div class="col-xs-12">
                                    <button class="btn btn-info btn-o pull-right" ng-click="saveTemplateAccount()">Save</button>
                                    <button class="btn btn-info btn-o pull-right margin-right-10" ng-click="refreshTemplateImage()">Re-Scrap</button>
                                </div>
                                <div class="clearfix"></div>
                                <fieldset>
                                    <legend>
                                        Template Image
                                    </legend>
                                    <div class="form-group center">
                                        <div class="customer-template-image-container">
                                            <div class="customer-template-image thumbnail margin-bottom-5">
                                                
                                                   <img ng-src="{{ customer.templateImageUrl }}" err-src="/admin/assets/images/default-page.jpg">
                                            </div>
                                            <div class="template-image-buttons-edit">
                                                <span class="btn btn-primary" ng-click="openMediaModal()"><i class="fa fa-pencil"></i></span>
                                                <span class="btn btn-danger" ng-click="removeTemplateImage()"><i class="fa fa-times"></i> </span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-ng-include=" 'assets/views/partials/edit-trial-days-modal.html' "></div>
<div data-ng-include=" 'assets/views/partials/new-user-modal.html' "></div>
<div data-ng-include=" 'assets/views/partials/edit-password-modal.html' "></div>
<div data-ng-include=" 'assets/views/partials/add-domain-modal.html' "></div>
<div data-ng-include=" 'assets/views/partials/cancel-account-modal.html' "></div>
