<div class="customer-detail" ng-controller="CustomerDetailCtrl">
    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle">{{ data.fullName || 'No Customer Name'}} </h1>
                <span class="mainDescription">{{displayCustomerTags()}}</span>
            </div>
            <div ncy-breadcrumb></div>
        </div>
    </section>
    <div class="col-xs-12" ng-if="redirectToOrder">
        <button type="button" class="btn btn-primary btn-o pull-right btn btn-primary btn-o margin-top-5 margin-bottom-5" ng-click="backToOrder()">
            Back to Order
        </button>
    </div>
    <div class="container-fluid container-fullw">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <tabset class="tabbable">
                        <tab heading="Overview" select="resizeMap()">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="user-left">
                                        <div class="center">
                                            <h4>{{customer.first}} {{customer.last}}</h4>
                                            <div class="user-image">
                                                <img ng-src="{{ customer.photo }}" err-src="/admin/assets/images/default-user.png" alt="" class="thumbnail img-circle">
                                            </div>
                                            <div class="social-icons block" ng-if="checkTwitterId(customer) || checkFacebookId(customer) || checkGoogleId(customer) || checkLinkedInId(customer)">
                                                <ul>
                                                    <li data-placement="top" data-original-title="Twitter" class="social-twitter tooltips" ng-if="checkTwitterId(customer)">
                                                        <a href="#" target="_blank">
                                                        Twitter
                                                    </a>
                                                    </li>
                                                    <li data-placement="top" data-original-title="Facebook" class="social-facebook tooltips" ng-if="checkFacebookId(customer)">
                                                        <a href="#" target="_blank">
                                                        Facebook
                                                    </a>
                                                    </li>
                                                    <li data-placement="top" data-original-title="Google" class="social-google tooltips" ng-if="checkGoogleId(customer)">
                                                        <a href="#" target="_blank">
                                                        Google+
                                                    </a>
                                                    </li>
                                                    <li data-placement="top" data-original-title="LinkedIn" class="social-linkedin tooltips" ng-if="checkLinkedInId(customer)">
                                                        <a href="{{customer.linkedInUrl}}" target="_blank">
                                                        LinkedIn
                                                    </a>
                                                    </li>
                                                    </li>
                                                </ul>
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="map margin-bottom-15">
                                            <span class="text-bold">Location</span>
                                            <hr class="margin-top-5">
                                            <map zoom="10" center="{{location.lat}}, {{location.lon}}" disable-default-u-i="true" scale-control="false" pan-control="false" zoom-control="false" class="height-155" ng-if="!loadingMap && location.lat" scrollwheel="false">
                                                <marker position="{{location.lat}}, {{location.lon}}"></marker>
                                            </map>
                                            <div class="load1 csspinner height-155" ng-if="loadingMap"></div>
                                            <div class="height-155" ng-if="!loadingMap && !location.lat">
                                                <h4 class="center text-bold no-location">No Location</h4></div>
                                        </div>
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th colspan="3">General information</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>ID:</td>
                                                    <td>{{customer._id}}</td>
                                                </tr>
                                                <tr>
                                                    <td>tags:</td>
                                                    <td>{{myCustomerTags}}</td>
                                                </tr>
                                                <tr>
                                                    <td>gender:</td>
                                                    <td>{{customer.gender}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th colspan="3">Contact Information</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>email:</td>
                                                    <td>
                                                        <div ng-repeat="email in customer.details[0].emails track by $index">
                                                            <a href="mailto:{{email.email}}">{{email.email}}</a>
                                                            <br>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>phone:</td>
                                                    <td>
                                                        <div ng-repeat="phone in customer.details[0].phones  track by $index">
                                                            <a ng-if="phone.number" href="tel:{{phone.number}}">{{phone.number}}</a>
                                                            <span ng-if="phone.extension && !phone.number"> N/A </span>
                                                            <span ng-if="phone.extension"> x{{phone.extension}}</span>
                                                            <br>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>address(es):</td>
                                                    <td>
                                                        <div ng-repeat="address in customer.details[0].addresses track by $index">
                                                            <a href>
                                                                <span ng-if="address.address">{{address.address}}<br></span>
                                                                <span ng-if="address.address2">{{address.address2}}<br></span>
                                                                {{address.city}} {{address.state}} {{address.country}} {{address.zip}}</a>
                                                            <br/><br ng-if="($index+1 < customer.details[0].addresses.length)"/>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>website:</td>
                                                    <td>
                                                        <div>
                                                            <a href="http://{{customer.details[0].websites[0].website}}">{{customer.details[0].websites[0].website}}</a>
                                                            <br>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>company name:</td>
                                                    <td>
                                                        <div>
                                                            {{customer.details[0].company}}
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-condensed hidden">
                                            <thead>
                                                <tr>
                                                    <th colspan="3">Interactions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Page Views</td>
                                                    <td>18</td>
                                                </tr>
                                                <tr>
                                                    <td>Last Page View</td>
                                                    <td><a href="">/hello-there</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Avg. Time on Site</td>
                                                    <td>1:21</td>
                                                </tr>
                                                <tr>
                                                    <td>Last Logged In</td>
                                                    <td>56 min</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="btn-group btn-group-justified margin-top-10">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-danger btn-o btn-wide btn-scroll btn-scroll-top ti-trash" ng-click="deleteCustomerFn(customer)">
                                                    <span>Delete Customer</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="panel panel-white" id="notes">
                                        <div class="panel-heading border-light">
                                            <h4 class="panel-title">Customer <span class="text-bold">Notes</span></h4>
                                            <ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
                                        </div>
                                        <div class="panel-wrapper" collapse="notes" ng-init="notes=false">
                                            <div class="panel-body no-padding">
                                                <ul class="notes panel-scroll" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
                                                    <li ng-repeat="note in customer.notes">
                                                        <div class="col-xs-2">
                                                            <img src="{{note.user.profilePhotos[0] ? note.user.profilePhotos[0] : '/admin/assets/images/default-user.png'}}" class="img-circle pull-left" width="32">
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <span class="text-small block text-light">{{note.user.first}} {{note.user.last}} <span class="pull-right">{{note.date | date:'dd MMM yy'}}</span></span>
                                                            <span>{{note.note}}</span>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="panel-footer border-light">
                                                <label for="newNote"> New Note</label>
                                                <textarea id="newNote" class="form-control margin-bottom-15 autosize area-animated msd-elastic: \n;" ng-model="newNote.text"></textarea>
                                                <button type="button" ng-disabled="!(newNote.text)" class="btn btn-info btn-block btn-o btn-wide btn-scroll btn-scroll-top ti-plus" ng-click="addNote(newNote.text)">
                                                    <span>Add</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <customer-activity single-customer="true" current-page="1" num-per-page="10"></customer-activity>
                                    <div class="panel panel-white space20 hidden">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">Recent Tweets</h4>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="ltwt">
                                                <li class="ltwt_tweet">
                                                    <p class="ltwt_tweet_text">
                                                        <a href class="text-info">
                                                        @Shakespeare
                                                    </a> Some are born great, some achieve greatness, and some have greatness thrust upon them.
                                                    </p>
                                                    <span class="block text-light"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Edit Customer" active="editActive">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-o pull-right" ng-click="customerSaveFn()" ng-disabled="saveLoading || (form.$invalid && !form.$pristine )"><span ng-class="{'fa fa-spin fa-spinner': saveLoading}"></span> Save</button>
                            </div>
                            <div class="clearfix"></div>
                            <form action="#" name="form" role="form" id="form">
                                <fieldset>
                                    <legend>
                                        Account Info
                                    </legend>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div>
                                                <label class="control-label">
                                                    Email Address
                                                </label>
                                                <div class="form-group" ng-if="!customer.details[0].emails">
                                                    <span class="input-icon input-icon-right">
                                                        <input type="email" placeholder="email address" class="form-control" name="email" ng-model="customer.details[0].emails[$index].email" ng-blur="updateCustomer()">
                                                        <i ng-if="showAddEmail(email)" ng-click="customerAddEmailFn()" class="ti-plus"></i>
                                                        <i ng-if="!showAddEmail(email)" ng-click="removeEmail($index)" class="ti-minus"></i>
                                                    </span>
                                                </div>
                                                <div class="form-group" ng-class="{ 'has-error' : form.email_{{$index}}.$invalid && !form.email_{{$index}}.$pristine }" ng-repeat="email in customer.details[0].emails  track by $index">
                                                    <span class="input-icon input-icon-right">
                                                        <input type="email"  ng-pattern="formValidations.email" placeholder="email address" class="form-control" name="email_{{$index}}" ng-model="customer.details[0].emails[$index].email" ng-blur="updateCustomer()">
                                                        <p ng-show="form.email_{{$index}}.$invalid && !form.email_{{$index}}.$pristine" class="help-block">Enter a valid email.</p>
                                                        <i ng-if="showAddEmail(email)" ng-click="customerAddEmailFn()" class="ti-plus"></i>
                                                        <i ng-if="!showAddEmail(email)" ng-click="removeEmail($index)" class="ti-minus"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div ng-repeat="phone in customer.details[0].phones  track by $index">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group" ng-class="{ 'has-error' : form.phone_{{$index}}.$invalid && !form.phone_{{$index}}.$pristine}">
                                                            <label class="control-label">
                                                                Phone Number
                                                            </label>
                                                           <input type="text" placeholder="phone number" class="form-control" ng-pattern="formValidations.phone" name="phone_{{$index}}" ng-model="customer.details[0].phones[$index].number" ng-blur="updateCustomer()">
                                                           <p ng-show="form.phone_{{$index}}.$invalid && !form.phone_{{$index}}.$pristine" class="help-block">Enter a valid phone number.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group" ng-class="{ 'has-error' : form.extension_{{$index}}.$invalid && !form.extension_{{$index}}.$pristine}">
                                                            <label class="control-label">
                                                                Extension
                                                            </label>
                                                            <input type="text" placeholder="phone extension" class="form-control" ng-pattern="formValidations.extension" name="extension_{{$index}}" ng-model="customer.details[0].phones[$index].extension" ng-blur="updateCustomer()">
                                                            <p ng-show="form.extension_{{$index}}.$invalid && !form.extension_{{$index}}.$pristine" class="help-block">Enter a valid extension.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div ng-if="showAddPhone(phone)" class="btn btn-wide btn-o btn-primary pull-right" ng-click="addCustomerContactFn()">Add another phone</div>
                                                    <div ng-if="!showAddPhone(phone)" class="btn btn-wide btn-o btn-warning pull-right" ng-click="removePhone($index)">Remove phone</div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div>
                                                <label class="control-label">
                                                    Website URL
                                                </label>
                                                <div class="form-group">
                                                    <span class="input-icon input-icon-right">
                                                        <input type="text" placeholder="Website URL" class="form-control" name="website" ng-model="customer.details[0].websites[0].website" ng-blur="updateCustomer()">
                                                    </span>
                                                </div>
                                            </div>
                                            <div>
                                                <label class="control-label">
                                                    Company Name
                                                </label>
                                                <div class="form-group">
                                                    <span class="input-icon input-icon-right">
                                                        <input type="text" placeholder="Company name" class="form-control" name="company" ng-model="customer.details[0].company" ng-blur="updateCustomer()">
                                                    </span>
                                                </div>
                                            </div>
                                            <div ng-repeat="address in customer.details[0].addresses  track by $index">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group" ng-class="{'has-error':errorMapData}">
                                                            <label class="control-label">
                                                                Address Line 1
                                                            </label>
                                                            <input class="form-control" placeholder="address line 1" type="text" name="addressline1" ng-model="address.address">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group" ng-class="{'has-error':errorMapData}">
                                                            <label class="control-label">
                                                                Address Line 2
                                                            </label>
                                                            <input class="form-control" placeholder="address line 2" type="text" name="addressline2" ng-model="address.address2">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group" ng-class="{'has-error':errorMapData}">
                                                            <label class="control-label">
                                                                City
                                                            </label>
                                                            <input class="form-control" placeholder="enter your city" type="text" name="city" ng-model="address.city">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group" ng-class="{'has-error':errorMapData}">
                                                            <label class="control-label">
                                                                State
                                                            </label>
                                                            <input class="form-control" placeholder="enter your state" type="text" name="state" ng-model="address.state">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group" ng-class="{'has-error':errorMapData}">
                                                            <label class="control-label">
                                                                Country
                                                            </label>
                                                            <input class="form-control" placeholder="enter your country" type="text" name="country" ng-model="address.country">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group" ng-class="{'has-error':errorMapData}">
                                                            <label class="control-label">
                                                                Zip Code
                                                            </label>
                                                            <input class="form-control" placeholder="enter your zip code" type="text" name="zip" ng-model="address.zip">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div ng-if="showAddAddress(address)" class="btn btn-wide btn-o btn-primary pull-right" ng-click="customerAddAddressFn()">Add another address</div>
                                                    <div ng-if="!showAddAddress(address)" class="btn btn-wide btn-o btn-warning pull-right" ng-click="removeAddress($index)">Remove address</div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset>
                                                <legend>
                                                    Image Upload
                                                </legend>
                                                <div class="form-group center">
                                                    <div flow-init flow-object="obj.flow">
                                                        <div class="user-image">
                                                            <div class="thumbnail margin-bottom-5">
                                                                <img ng-src="{{ customer.photo }}" err-src="/admin/assets/images/default-user.png">
                                                            </div>
                                                        </div>
                                                        <div class="user-image-buttons-edit">
                                                            <span class="btn btn-primary" ng-click="openMediaModal()"><i class="fa fa-pencil"></i></span>
                                                            <span class="btn btn-danger" ng-click="removePhoto()"><i class="fa fa-times"></i> </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <div class="form-group">
                                                <label class="">Contact Name</label>
                                                <input id="input-fullname" class="form-control" ng-model="data.fullName" placeholder="full name" type="text" ng-change="setFullName()">
                                                <small>
                                                    <strong>first:</strong>
                                                    <code>
                                                        <span id="hint-first">{{customer.first}}</span>
                                                    </code>
                                                    <strong>middle:</strong>
                                                    <code>
                                                        <span id="hint-middle">{{customer.middle}}</span>
                                                    </code>
                                                    <strong>last:</strong>
                                                    <code>
                                                        <span id="hint-last">{{customer.last}}</span>
                                                    </code>
                                                </small>
                                                <span class="links cl-effect-1">
                                            <a href="" ng-click="showSplitName = true" ng-show="!showSplitName">Modify</a>
                                            </span>
                                                <span class="links cl-effect-1">
                                                <a href="" ng-click="showSplitName = false" ng-show="showSplitName">Cancel</a>
                                            </span>
                                            </div>
                                            <div class="form-group" ng-show="showSplitName">
                                                <label class="">First Name</label>
                                                <input id="input-first" class="form-control" ng-model="customer.first" placeholder="first name" type="text" ng-change="updateFullName()">
                                            </div>
                                            <div class="form-group" ng-show="showSplitName">
                                                <label class="">Middle Name</label>
                                                <input id="input-middle" class="form-control" ng-model="customer.middle" placeholder="middle name" type="text" ng-change="updateFullName()">
                                            </div>
                                            <div class="form-group" ng-show="showSplitName">
                                                <label class="">Last Name</label>
                                                <input id="input-last" class="form-control" ng-model="customer.last" placeholder="last name" type="text" ng-change="updateFullName()">
                                            </div>
                                            <div class="form-group">
                                                <label class="block">
                                                    Gender
                                                </label>
                                                <div class="clip-radio radio-primary">
                                                    <input type="radio" ng-checked="customer.gender.toLowerCase() == 'female'" id="us-female" name="gender" value="female" ng-model="customer.gender">
                                                    <label for="us-female">
                                                        Female
                                                    </label>
                                                    <input type="radio" ng-checked="customer.gender.toLowerCase() == 'male'" id="us-male" name="gender" value="male" ng-model="customer.gender">
                                                    <label for="us-male">
                                                        Male
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group customer-tags">
                                                <label class="block">
                                                    Tags
                                                </label>
                                                <ui-select multiple ng-model="customer.tags" theme="bootstrap" ng-disabled="disabled">
                                                    <ui-select-match placeholder="Select tags...">{{$item.label}}</ui-select-match>
                                                    <ui-select-choices repeat="tag in customerTags | filter:$select.search">
                                                        {{tag.label}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="hidden">
                                    <legend>
                                        Additional Info
                                    </legend>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Twitter
                                                </label>
                                                <span class="input-icon">
                                                <input class="form-control" type="text" placeholder="Twitter" name="twitter" ng-model="userInfo.twitter">
                                                <i class="fa fa-twitter"></i> </span>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Facebook
                                                </label>
                                                <span class="input-icon">
                                                <input class="form-control" type="text" placeholder="Facebook" name="facebook" ng-model="userInfo.facebook">
                                                <i class="fa fa-facebook"></i> </span>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Google Plus
                                                </label>
                                                <span class="input-icon">
                                                <input class="form-control" type="text" placeholder="Google Plus" name="google" ng-model="userInfo.google">
                                                <i class="fa fa-google-plus"></i> </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Github
                                                </label>
                                                <span class="input-icon">
                                                <input class="form-control" type="text" placeholder="Github" name="github" ng-model="userInfo.github">
                                                <i class="fa fa-github"></i> </span>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Linkedin
                                                </label>
                                                <span class="input-icon">
                                                <input class="form-control" type="text" placeholder="Linkedin" name="linkedin" ng-model="userInfo.linkedin">
                                                <i class="fa fa-linkedin"></i> </span>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Skype
                                                </label>
                                                <span class="input-icon">
                                                <input class="form-control" type="text" placeholder="Skype" name="skype" ng-model="userInfo.skype">
                                                <i class="fa fa-skype"></i> </span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </tab>
                        <tab ng-if="orders">
                            <tab-heading>
                                Orders <span class="badge">{{orders.length}}</span>
                            </tab-heading>
                            <div st-table="displayedOrders" st-safe-src="orders">
                                <div class="panel panel-transparent row margin-bottom-0">
                                    <div class="panel-body">
                                        <table class="table table-hover bg-white margin-bottom-0" ng-class="{'grid': tableView == 'grid', 'bg-white': tableView != 'grid'}" ng-show="orders">
                                            <thead>
                                                <tr>
                                                    <th class="center column-width" st-sort="status">Status</th>
                                                    <th class="hidden-xs center column-width" st-sort="getters.line_items">Items</th>
                                                    <th class="hidden-xs center column-width" st-sort="total">Total</th>
                                                    <th class="hidden-xs column-width" st-sort="getters.created">Created</th>
                                                    <th class="hidden-xs column-width" st-sort="getters.modified">Modified</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="order in displayedOrders" ng-click="viewSingle(order)">
                                                    <td class="center"><strong>Status: </strong>
                                                        <span class="fa-stack">
                                                            <span class="fa fa-circle-thin fa-stack-2x"
                                        ng-class="{'text-warning': order.status == orderConstant.order_status.PENDING_PAYMENT,
                                                      'text-muted': order.status == orderConstant.order_status.ON_HOLD,
                                                      'text-blue': order.status == orderConstant.order_status.PROCESSING,
                                                      'text-green': order.status == orderConstant.order_status.COMPLETED,
                                                      'text-purple': order.status == orderConstant.order_status.REFUNDED,
                                                      'text-orange': order.status == orderConstant.order_status.FAILED,
                                                      'text-red': order.status == orderConstant.order_status.CANCELLED,
                                                      }">
                                        </span>
                                        <span class="fa fa-stack-1x" tooltip-placement="top" tooltip="{{formatOrderStatus(order.status)}} "
                                           ng-class="{'fa-ellipsis-h text-warning': order.status == orderConstant.order_status.PENDING_PAYMENT,
                                                      'fa-minus text-muted': order.status == orderConstant.order_status.ON_HOLD,
                                                      'fa-clock-o text-blue': order.status == orderConstant.order_status.PROCESSING,
                                                      'fa-check text-green': order.status == orderConstant.order_status.COMPLETED,
                                                      'fa-exchange text-purple': order.status == orderConstant.order_status.REFUNDED,
                                                      'fa-exclamation text-orange': order.status == orderConstant.order_status.FAILED,
                                                      'fa-times text-red': order.status == orderConstant.order_status.CANCELLED,
                                                      }">
                                        </span>
                                                        </span>
                                                    </td>
                                                    <td class="hidden-xs center"><strong>Items: </strong>{{order.line_items.length}}</td>
                                                    <td class="hidden-xs center"><strong>Total: </strong> {{order.total | currency}}</td>
                                                    <td class="hidden-xs"><strong>Created: </strong> {{order.created.date | date:'MMM d yy'}}</td>
                                                    <td class="hidden-xs"><strong>Modified: </strong>{{order.modified.date | date:'MMM d yy'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="load1 csspinner height-400" ng-show="!displayedOrders"></div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
