<div ng-controller="DashboardCtrl">
    <indig-onboarding min-requirements="minRequirements"></indig-onboarding>
    <!-- start: DASHBOARD TITLE -->
    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="mainTitle" translate="dashboard.WELCOME" translate-values="{ appName: app.name }"></h1>
                <span class="mainDescription">Overview &amp; Activity</span>
            </div>
            <div class="col-sm-5">
            </div>
        </div>
    </section>
    <!-- end: DASHBOARD TITLE -->
    <!-- start: FEATURED BOX LINKS -->
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-white no-radius text-center margin-bottom-0 cursor-pointer" ui-sref="app.customers">
                    <div class="panel-body" ng-class="{'bg-light-grey': hover1}" ng-mouseenter="hover1 = true" ng-mouseleave="hover1 = false">
                        <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-user fa-stack-1x fa-inverse"></i> </span>
                        <h3 class="StepTitle">Customers</h3>
                        <p class="text-small">
                            Import or Create Customers Manually
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-white no-radius text-center margin-bottom-0 cursor-pointer" ui-sref="app.marketing.socialfeed">
                    <div class="panel-body" ng-class="{'bg-light-grey': hover2}" ng-mouseenter="hover2 = true" ng-mouseleave="hover2 = false">
                        <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i> </span>
                        <h3 class="StepTitle">Social Feed</h3>
                        <p class="text-small">
                            View and Post to Social Networks
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-white no-radius text-center margin-bottom-0 cursor-pointer" ui-sref="app.website.pages">
                    <div class="panel-body" ng-class="{'bg-light-grey': hover3}" ng-mouseenter="hover3 = true" ng-mouseleave="hover3 = false">
                        <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-laptop fa-stack-1x fa-inverse"></i> </span>
                        <h3 class="StepTitle">Pages</h3>
                        <p class="text-small">
                            Pages for Your Site
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-white no-radius text-center margin-bottom-0 cursor-pointer" ui-sref="app.commerce.orders">
                    <div class="panel-body" ng-class="{'bg-light-grey': hover4}" ng-mouseenter="hover4 = true" ng-mouseleave="hover4 = false">
                        <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> </span>
                        <h3 class="StepTitle">Orders</h3>
                        <p class="text-small">
                            Track Products Sold
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-fullw">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="row">
                    <div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="panel panel-white no-radius height-200" ng-class="{'load1 csspinner': !analyticsCustomers}">
                                <div class="panel-body padding-20 text-center" ng-if="analyticsCustomers">
                                    <div class="space10">
                                        <h5 class="text-dark no-margin">Customers this Month</h5>
                                        <h2 class="no-margin">{{customersThisMonth.length}}</h2>
                                        <a ng-href="/admin/#/customers"><span class="badge badge-success margin-top-10" ng-class="{'badge-danger': customersThisMonth.length == 0, 'badge-success': customersThisMonth.length > 0}">{{getCustomerLeads()}} Leads</span></a>
                                    </div>
                                    <div class="sparkline space10">
                                        <span jq-sparkline ng-model="analyticsCustomers" type="line" width="80%" height="47px" line-color="#8e8e93" highlight-line-color="#c2c2c5" highlight-spot-color="#CE4641" max-spot-color="#5CB85C" min-spot-color="#D9534F" spot-radius="4" fill-color="transparent" resize="true"></span>
                                    </div>
                                    <span><i class="fa fa-clock-o"></i> Last Customer {{lastCustomerDate() | timeAgoFilter}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="panel panel-white no-radius height-200" ng-class="{'load1 csspinner': !analyticsOrders}">
                                <div class="panel-body padding-20 text-center" ng-if="analyticsOrders">
                                    <div class="space10">
                                        <h5 class="text-dark no-margin">Orders this Month</h5>
                                        <h2 class="no-margin">{{ordersThisMonth.length}}</h2>
                                        <a ng-href="/admin/#/commerce/orders"><span class="badge margin-top-10" ng-class="{'badge-danger': ordersThisMonth.length == 0, 'badge-success': ordersThisMonth.length > 0}">{{getCompletedOrders()}} Complete</span></a>
                                    </div>
                                    <div class="sparkline space10">
                                        <span jq-sparkline ng-model="analyticsOrders" type="line" width="80%" height="47px" line-color="#8e8e93" highlight-line-color="#c2c2c5" highlight-spot-color="#CE4641" max-spot-color="#5CB85C" min-spot-color="#D9534F" spot-radius="4" fill-color="transparent" resize="true"></span>
                                    </div>
                                    <span><i class="fa fa-clock-o"></i> Last Order <span ng-if="lastOrderDate()">{{lastOrderDate() | timeAgoFilter}}</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="panel panel-white no-radius height-200" ng-class="{'load1 csspinner': !analyticsVisitors}">
                                <div class="panel-body padding-20 text-center" ng-if="analyticsVisitors">
                                    <div class="space10">
                                        <h5 class="text-dark no-margin">Visitors this Month</h5>
                                        <h2 class="no-margin">{{visitorsThisMonth}}</h2>
                                        <a ng-href="/admin/#/website/site-analytics"><span class="badge margin-top-10" ng-class="{'badge-danger': visitorsThisMonth.length == 0, 'badge-success': visitorsThisMonth.length > 0}">{{totalNewVisitors}} New Visitors</span></a>
                                    </div>
                                    <div class="sparkline space10">
                                        <span jq-sparkline ng-model="analyticsVisitors" type="line" width="80%" height="47px" line-color="#8e8e93" highlight-line-color="#c2c2c5" highlight-spot-color="#CE4641" max-spot-color="#5CB85C" min-spot-color="#D9534F" spot-radius="4" fill-color="transparent" resize="true"></span>
                                    </div>
                                    <span><i class="fa fa-clock-o"></i> Last Visitor {{lastVisitorDate | timeAgoFilter}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="panel panel-white no-radius height-200" ng-class="{'load1 csspinner': !analyticsRevenue}">
                                <div class="panel-body padding-20 text-center" ng-if="analyticsRevenue">
                                    <div class="space10">
                                        <h5 class="text-dark no-margin">Net Revenue this Month</h5>
                                        <h2 class="no-margin">{{revenueThisMonth | currency}}</h2>
                                        <a ng-href="/admin/#/commerce/orders"><span class="badge margin-top-10" ng-class="{'badge-danger': revenueThisMonth.length == 0, 'badge-success': revenueThisMonth.length > 0}">{{charges}} Charges</span></a>
                                    </div>
                                    <div class="sparkline space10" ng-if="analyticsRevenue">
                                        <span jq-sparkline ng-model="analyticsRevenue" type="line" width="80%" height="47px" line-color="#8e8e93" highlight-line-color="#c2c2c5" highlight-spot-color="#CE4641" max-spot-color="#5CB85C" min-spot-color="#D9534F" spot-radius="4" fill-color="transparent" resize="true"></span>
                                    </div>
                                    <span><i class="fa fa-clock-o"></i> Last Charge <span ng-if="lastChargeDate">{{lastChargeDate | timeAgoFilter}}</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-white no-radius">
                    <div class="panel-heading border-bottom">
                        <h4 class="panel-title">Activities</h4>
                        <div class="panel-tools">
                            <button type="button" class="btn btn-primary btn-o margin-top-neg-5" ng-click="openModal('addActivityModal')">
                                Add Activity
                            </button>
                        </div>
                    </div>
                    <div class="panel-body no-padding">
                        <div class="panel-scroll height-370" id="chatBox" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
                            <div ng-if="!activities.length">
                                <div class="panel panel-transparent">
                                    <div class="panel-body">
                                        <h4 class="center"><span class="fa fa-comment fa-2x"></span> <br><br> No Activity Availiable</h4>
                                    </div>
                                </div>
                            </div>
                            <ul class="timeline-xs padding-left-15 padding-right-15">
                                <li class="timeline-item success" ng-if="activity.activityType !== 'PAGE_VIEW'" ng-repeat="activity in activities | orderBy:'-start' | offset:  curPage * pageSize | limitTo: pageSize">
                                    <div class="margin-left-15">
                                        <div class="text-muted text-small">
                                            {{activity.start | date:'MMM d, y h:mm:ss a'}} {{getActivityName(activity.activityType)}}
                                        </div>
                                        <p>
                                            <div ng-switch on="activity.activityType">
                                                <div ng-switch-when="EMAIL">
                                                    {{activity.detail}}
                                                </div>
                                                <div ng-switch-when="CONTACT_CREATED">
                                                    <p class="cl-effect-13">
                                                        <a href="/admin/#/customers/{{activity.customer._id}}"><span ng-if="activity.customer.first">{{activity.customer.first.toString()+' '+activity.customer.last.toString()}}</span>
                                                    <span ng-if="!activity.customer.first">{{activity.customer.details[0].emails[0].email}}</span></a> Was added.
                                                    </p>
                                                    <!-- <a href="javascript:void(0);" class="btn btn-xs btn-green"><i class="fa fa-reply"></i> Send Welcome Email</a> -->
                                                </div>
                                                <div ng-switch-when="ACCOUNT_CREATED">
                                                    <p>
                                                        <span class="label label-default">ACCOUNT CREATED</span> {{activity.detail}}
                                                    </p>
                                                </div>
                                                <div ng-switch-when="SUBSCRIBE">
                                                    <p>
                                                        <span class="label label-success">SUBSCRIBE</span> for
                                                        <span ng-if="!activity.customer">[deleted]</span>
                                                        <span ng-if="activity.customer.first">{{activity.customer.first.toString()+' '+activity.customer.last.toString()}}</span>
                                                        <span ng-if="!activity.customer.first">{{activity.customer.details[0].emails[0].email}}</span> subscribed to <a href="">{{activity.extraFields.plan_name}}</a> for ${{activity.extraFields.amount}}.
                                                    </p>
                                                </div>
                                                <div ng-switch-when="TRIAL_CONVERSION">
                                                    <p>
                                                        <span class="label label-success">Trial Conversion</span>
                                                        <span ng-if="!activity.customer">[deleted]</span>
                                                        <span ng-if="activity.customer.first">{{activity.customer.first.toString()+' '+activity.customer.last.toString()}}</span>
                                                        <span ng-if="!activity.customer.first">{{activity.customer.details[0].emails[0].email}}</span> subscribed to <a href="">{{activity.extraFields.plan_name}}</a> for ${{activity.extraFields.amount}}.
                                                    </p>
                                                </div>
                                                <div ng-switch-when="SUBSCRIBE_CANCEL">
                                                    <p>
                                                        <span class="label label-danger">SUBSCRIPTION CANCELED</span> for
                                                        <span ng-if="!activity.customer">[deleted]</span>
                                                        <span ng-if="activity.customer.first">{{activity.customer.first.toString()+' '+activity.customer.last.toString()}}</span>
                                                        <span ng-if="!activity.customer.first">{{activity.customer.details[0].emails[0].email}}</span>.
                                                    </p>
                                                </div>
                                                <div ng-switch-when="PAGE_VIEW">
                                                    <p>
                                                        <span class="label label-default">PAGE VIEW</span>
                                                    </p>
                                                    <p ng-if="activity.customer && activity.customer.first">
                                                        {{activity.customer.first.toString()+' '+activity.customer.last.toString()}} viewed {{activity.attributes.page}} for {{activity.attributes.timespent}}.</p>
                                                    <p ng-if="activity.customer && !activity.customer.first && activity.customer.details[0].emails[0]">
                                                        {{activity.customer.details[0].emails[0].email}} viewed {{activity.attributes.page}} for {{activity.attributes.timespent}}.</p>
                                                    <p ng-if="activity.customer && !activity.customer.first && !activity.customer.details[0].emails[0]">
                                                        Unknown viewed {{activity.attributes.page}} for {{activity.attributes.timespent}}.</p>
                                                    <!-- <a href="javascript:void(0);" class="btn btn-xs btn-green"><i class="fa fa-reply"></i> Send Welcome Email</a> -->
                                                </div>
                                                <div ng-switch-when="CONTACT_FORM">
                                                    <p>
                                                        <span class="label label-default">CONTACT FORM</span> was submitted with the data:
                                                        <ul class="form-values">
                                                            <li ng-repeat="(k,v) in activity.extraFields">
                                                                <b>{{k}}</b>: {{v}}
                                                            </li>
                                                        </ul>
                                                    </p>
                                                </div>
                                                <div ng-switch-when="FORM_SUBMISSION">
                                                    <p>
                                                        <span class="label label-info">FORM SUBMITTED</span> for
                                                        <span ng-if="!activity.customer">[deleted]</span>
                                                        <span ng-if="activity.customer.first">{{activity.customer.first.toString()+' '+activity.customer.last.toString()}}</span>
                                                        <span ng-if="!activity.customer.first">{{activity.customer.details[0].emails[0].email}}</span>.
                                                    </p>
                                                    <!-- <a href="javascript:void(0);" class="btn btn-xs btn-green"><i class="fa fa-file"></i> Read the Email</a> -->
                                                </div>
                                                <div ng-switch-when="EMAIL_DELIVERED">
                                                    <p>
                                                        <span class="label label-info">EMAIL DELIVERED</span> to
                                                        <span ng-if="!activity.customer">[deleted]</span>
                                                        <span ng-if="activity.customer.first">{{activity.customer.first.toString()+' '+activity.customer.last.toString()}}</span>
                                                        <span ng-if="!activity.customer.first">{{activity.customer.details[0].emails[0].email}}</span>.
                                                    </p>
                                                    <!-- <a href="javascript:void(0);" class="btn btn-xs btn-green"><i class="fa fa-file"></i> Read the Email</a> -->
                                                </div>
                                                <div ng-switch-when="EMAIL_OPENED">
                                                    <p>
                                                        <span class="label label-info">EMAIL OPENED</span> for
                                                        <span ng-if="!activity.customer">[deleted]</span>
                                                        <span ng-if="activity.customer.first">{{activity.customer.first.toString()+' '+activity.customer.last.toString()}}</span>
                                                        <span ng-if="!activity.customer.first">{{activity.customer.details[0].emails[0].email}}</span>.
                                                    </p>
                                                    <!-- <a href="javascript:void(0);" class="btn btn-xs btn-green"><i class="fa fa-file"></i> Read the Email</a> -->
                                                </div>
                                                <div ng-switch-when="EMAIL_CLICKED">
                                                    <p>
                                                        <span class="label label-info">EMAIL CLICKED</span> for
                                                        <span ng-if="!activity.customer">[deleted]</span>
                                                        <span ng-if="activity.customer.first">{{activity.customer.first.toString()+' '+activity.customer.last.toString()}}</span>
                                                        <span ng-if="!activity.customer.first">{{activity.customer.details[0].emails[0].email}}</span>.
                                                    </p>
                                                    <!-- <a href="javascript:void(0);" class="btn btn-xs btn-green"><i class="fa fa-file"></i> Read the Email</a> -->
                                                </div>
                                                <div ng-switch-when="EMAIL_UNSUB">
                                                    <p>
                                                        <span class="label label-info">EMAIL UNSUBSCRIBE</span> for
                                                        <span ng-if="!activity.customer">[deleted]</span>
                                                        <span ng-if="activity.customer.first">{{activity.customer.first.toString()+' '+activity.customer.last.toString()}}</span>
                                                        <span ng-if="!activity.customer.first">{{activity.customer.details[0].emails[0].email}}</span>.
                                                    </p>
                                                    <!-- <a href="javascript:void(0);" class="btn btn-xs btn-green"><i class="fa fa-file"></i> Read the Email</a> -->
                                                </div>
                                                <div ng-switch-when="SUBSCRIPTION_PAID">
                                                    <p>
                                                        <span class="label label-info">SUBSCRIPTION PAID</span> for
                                                        <span ng-if="!activity.customer">[deleted]</span>
                                                        <span ng-if="activity.customer.first">{{activity.customer.first.toString()+' '+activity.customer.last.toString()}}</span>
                                                        <span ng-if="!activity.customer.first">{{activity.customer.details[0].emails[0].email}}</span>.
                                                    </p>
                                                    <!-- <a href="javascript:void(0);" class="btn btn-xs btn-green"><i class="fa fa-file"></i> Read the Email</a> -->
                                                </div>
                                                <div ng-switch-when="OTHER">
                                                    <p>
                                                        <span class="label label-default">OTHER</span> {{activity.detail}}
                                                    </p>
                                                </div>
                                                <div ng-switch-default>
                                                    <p>
                                                        <span class="label label-default">{{activity.activityType}}</span> {{activity.detail}}
                                                    </p>
                                                </div>
                                            </div>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="addActivityModal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeModal()">&times;</button>
        <h4 class="modal-title">Add Activity</h4>
    </div>
    <div class="modal-body bg-white" style="max-height:500px;">
        <form role="form">
            <div class="form-group" id="activity_type">
                <label for="exampleInputEmail1">Type</label>
                <autocomplete ng-model="selectedActivityType" data="activityTypes" on-select="updateActivityTypeFn"></autocomplete>
                <span class="error help-block" />
            </div>
            <div class="form-group" id="customer">
                <label for="customerLookup">Customer Name</label>
                <autocomplete ng-model="customer" data="customerNames" on-select="updateCustomerNameFn"></autocomplete>
                <span class="error help-block" />
            </div>
            <div class="form-group">
                <label>Detail</label>
                <textarea class="form-control" ng-model="newActivity.detail" style="resize:vertical"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addActivityFn()">Add</button>
    </div>
</script>
