<div class="page-detail" ng-controller="EditorCtrl">
    <!-- start: PAGE TITLE -->
    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-8">
                <h1 ng-if="isSinglePost && !isTopic" class="mainTitle">{{ blog.post.post_title || 'Single Post' | htmlToPlaintext}}</h1>
                <h1 ng-if="!isSinglePost && !isTopic" class="mainTitle">{{ page.title || 'Title'}}</h1>
                <h1 ng-if="isTopic" class="mainTitle">{{ topic.title || 'Title'}}</h1>
                <span ng-if="isTopic" class="mainDescription">Listed under the {{topic.category}} category.</span>
                <span ng-if="isSinglePost && blog.post.post_tags" class="mainDescription">There are currently {{blog.post.post_tags.length}} tags.</span>
                <span ng-if="!isSinglePost && page.components" class="mainDescription">There are currently {{page.components.length}} components.</span>
                <span ng-if="templateActive" class="mainDescription">There are currently {{page.config.components.length}} components.</span>
            </div>
            <div ncy-breadcrumb></div>
        </div>
    </section>
    <!-- end: PAGE TITLE -->
    <div sticky offset="65" sticky-class="editor-toolbar-wrap">
        <div id="page-actions" class="container-fluid container-fullw bg-white padding-top-0 padding-bottom-0">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-transparent row margin-bottom-0">
                        <div class="panel-body">
                            <div>
                                <div class="col-sm-2 col-xs-6 center">
                                    <button type="button" ng-disabled="!ckeditorLoaded || pageNotFound" ng-click="openSettingsModal()" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-settings btn-o">
                                        <span>Settings</span>
                                    </button>
                                    <div class="hidden-lg margin-bottom-10"></div>
                                </div>
                                <div ng-if="!isEmail" class="col-sm-2 col-xs-6 center">
                                    <div ng-if="!isSinglePost && !isTopic">
                                        <a ng-disabled="!ckeditorLoaded || pageNotFound" type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-eye btn-o" ng-click="getUrl(page.handle, false)" target="_blank">
                                            <span>View</span>
                                        </a>
                                    </div>
                                    <div ng-if="isSinglePost">
                                        <a ng-disabled="!ckeditorLoaded || pageNotFound" type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-eye btn-o" ng-click="getUrl(originalPost.post_url, true)" target="_blank">
                                            <span>View</span>
                                        </a>
                                    </div>
                                     <div ng-if="isTopic">
                                        <a ng-disabled="!ckeditorLoaded" type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-eye btn-o" ng-click="viewTopic(topic._id)" target="_blank">
                                            <span>View</span>
                                        </a>
                                    </div>
                                    <div class="hidden-lg margin-bottom-10"></div>
                                </div>
                                <div class="col-sm-2 col-xs-6 center">
                                    <button type="button" ng-disabled="!ckeditorLoaded || pageNotFound" ng-click="openDuplicateModal()" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-layout-media-overlay-alt btn-o">
                                        <span>Duplicate</span>
                                    </button>
                                    <div class="hidden-lg margin-bottom-10"></div>
                                </div>
                                <div class="col-sm-2 col-xs-6 center">
                                    <button type="button" ng-disabled="!ckeditorLoaded || pageNotFound" ng-click="clickImageButton(activeEditor, false)" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-layout-media-overlay-alt btn-o">
                                        <span>Media</span>
                                    </button>
                                    <div class="hidden-lg margin-bottom-10"></div>
                                </div>
                                <div class="col-sm-2 col-xs-6 center">
                                    <button type="button" ng-disabled="saveLoading || !ckeditorLoaded  || pageNotFound" ng-click="savePage()" class="btn btn-primary btn-wide btn-scroll btn-scroll-top btn-o ti-save">
                                        <span ng-if="saveLoading">
                                            <span class="fa fa-spinner fa-spin"></span>
                                        </span>
                                        <span>
                                            <div ng-if="!saveLoading">
                                            Save
                                            </div>
                                        </span>
                                    </button>
                                    <div class="hidden-lg margin-bottom-10"></div>
                                </div>
                                <div ng-if="isEmail" class="col-sm-2 col-xs-6 center">
                                    <button class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-layout-media-overlay-alt btn-o" ng-click="openSimpleModal('send-test-email-modal')">
                                        <span>Send</span>
                                    </button>
                                    <div class="hidden-lg margin-bottom-10"></div>
                                </div>
                                <div class="col-sm-2 col-xs-6 center">
                                    <button type="button" ng-disabled="!ckeditorLoaded" ng-click="cancelPage()" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-close btn-o">
                                        <span>Close</span>
                                    </button>
                                    <div class="hidden-lg margin-bottom-10"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editor-toolbar" class="" perfect-scrollbar suppress-scroll-y="true"></div>
    </div>
    <div class="clearfix"></div>
    <div ng-hide="!ckeditorLoaded">
        <div data-ng-include data-src=" 'assets/views/partials/component-loader.html' "></div>
    </div>
    <div class="loading-editor" ct-fullheight="window" data-ct-fullheight-exclusion="header" ng-hide="ckeditorLoaded || pageNotFound">
        <div class="col-xs-12">
            <h1 class="center"><span class="fa fa-spinner fa-spin"></span><br> Loading Editor...</h1>
        </div>
    </div>
    <div data-ng-include data-src=" 'assets/views/partials/add-component-modal.html' " ></div>
    <div data-ng-include data-src=" 'assets/views/partials/component-settings-modal.html' " ></div>
    <div data-ng-include data-src=" 'assets/views/partials/topic-settings-modal.html' " ></div>
    <div data-ng-include data-src=" 'assets/views/partials/social-links-modal.html' " ></div>
    <div data-ng-include data-src=" 'assets/views/partials/page-settings-modal.html' " ></div>
    <div data-ng-include data-src=" 'assets/views/partials/post-settings-modal.html' " ></div>
    <div data-ng-include data-src=" 'assets/views/partials/template-settings-modal.html' " ></div>
    <div data-ng-include data-src=" 'assets/views/partials/page-duplicate-modal.html' " ></div>
    <div data-ng-include data-src=" 'assets/views/partials/post-duplicate-modal.html' " ></div>
    <div data-ng-include data-src=" 'assets/views/partials/email-duplicate-modal.html' " ></div>
    <div data-ng-include data-src=" 'assets/views/partials/email-settings-modal.html' " ></div>
    <div data-ng-include data-src=" 'assets/views/partials/send-test-email-modal.html' "></div>
</div>
