<!-- start: PAGE TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.support.HELPTOPICS"></h1>
            <span class="mainDescription">Browse through the help topics to find out the answer you require</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: CONTENT -->
<div ng-controller="HelpTopicsCtrl">
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 margin-bottom-15">
                <label>Search</label>
                <input type="search" class="form-control input-lg" placeholder="Enter your topic, question, or keyword" ng-model="searchTextValue"/>
            </div>
        </div>
    </div>
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="col-sm-6">
                    <div class="margin-bottom-30" ng-repeat="catPane in panesByCat" ng-hide="(catPane|filter:searchTextValue).length == 0" ng-if="catPane[$index].category != 'Marketing' && catPane[$index].category != 'Website'">
                        <h5 class="over-title margin-bottom-5 text-bold"><span class="text-bold">{{catPane[0].category}}</span></h5>
                        <hr class="margin-top-0">
                        <ul class="unstyled-list padding-left-0">
                            <li ng-repeat="pane in catPane | filter:searchTextValue" class="margin-bottom-5"><a href="">{{pane.header}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="margin-bottom-30" ng-repeat="catPane in panesByCat" ng-hide="(catPane|filter:searchTextValue).length == 0" ng-if="catPane[$index].category == 'Marketing' || catPane[$index].category == 'Website'">
                        <h5 class="over-title margin-bottom-5 text-bold"><span class="text-bold">{{catPane[0].category}}</span></h5>
                        <hr class="margin-top-0">
                        <ul class="unstyled-list padding-left-0">
                            <li ng-repeat="pane in catPane | filter:searchTextValue" class="margin-bottom-5"><a href="">{{pane.header}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: CONTENT -->
