<div ng-controller="IntegrationsCtrl">
    <!-- start: PAGE TITLE -->
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle" translate="sidebar.nav.account.INTEGRATIONS">{{ mainTitle }}</h1>
                <span class="mainDescription">View and Manage all your social networks</span>
            </div>
            <div ncy-breadcrumb></div>
        </div>
    </section>
    <!-- end: PAGE TITLE -->
    <!-- start: YOUR CONTENT HERE -->
    <div class="container-fluid container-fullw bg-white">
        <div class="panel panel-transparent margin-bottom-0">
            <div class="panel-body no-padding">
                <div class="social-icons">
                    <ul>
                        <li class="social-twitter" tooltip="Twitter" tooltip-placement="top">
                            <a target="_blank" href="#">
                                            Twitter
                                        </a>
                        </li>
                        <li class="social-facebook" tooltip="Facebook" tooltip-placement="top">
                            <a target="_blank" href="#">
                                            Facebook
                                        </a>
                        </li>
                        <li class="social-google" tooltip="Google" tooltip-placement="top">
                            <a target="_blank" href="#">
                                            Google+
                                        </a>
                        </li>
                        <li class="social-linkedin" tooltip="LinkedIn" tooltip-placement="top">
                            <a target="_blank" href="#">
                                            LinkedIn
                                        </a>
                        </li>
                        <li class="social-youtube" tooltip="YouTube" tooltip-placement="top">
                            <a target="_blank" href="#">
                                            YouTube
                                        </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="sa in socialAccounts| filter: socialFilter">
            <div class="thumbnail">
                <img src="https://s3-us-west-2.amazonaws.com/indigenous-admin/fb-lofo.jpg" alt="..." ng-show="sa.type==credentialTypes.FACEBOOK">
                <img src="https://s3-us-west-2.amazonaws.com/indigenous-admin/google%2B-logo.jpg" alt="..." ng-show="sa.type==credentialTypes.GOOGLE">
                <img src="https://s3-us-west-2.amazonaws.com/indigenous-admin/linkedin-logo.jpg" alt="..." ng-show="sa.type==credentialTypes.LINKEDIN">
                <img src="https://s3-us-west-2.amazonaws.com/indigenous-admin/twit-logo.jpg" alt="..." ng-show="sa.type==credentialTypes.TWITTER">
                <img src="https://s3-us-west-2.amazonaws.com/indigenous-admin/stripe-logo.jpg" alt="..." ng-show="sa.type==credentialTypes.STRIPE">
                <div class="caption">
                    <h3 ng-show="sa.type==credentialTypes.FACEBOOK">Facebook</h3>
                    <h3 ng-show="sa.type==credentialTypes.GOOGLE">Google +</h3>
                    <h3 ng-show="sa.type==credentialTypes.LINKEDIN">Linkedin</h3>
                    <h3 ng-show="sa.type==credentialTypes.TWITTER">Twitter</h3>
                    <h3 ng-show="sa.type==credentialTypes.STRIPE">Stripe</h3>
                    <div class="connected">
                        <span>You are logged in as:</span>
                        <div class="clearfix margin-bottom-5"></div>
                        <img ng-src="{{sa.image}}" class="img-circle" />
                        <span>{{sa.username}}</span>
                    </div>
                    <div class="btn-group btn-group-justified margin-top-5">
                        <div class="btn-group">
                            <button class="btn btn-danger btn-block btn-o btn-disconnect-{{sa.id}}" role="button" confirm-click2-confirm="deleteSocialFn(sa.id)" confirm-click2 confirm-click2-placement="top" confirm-click2-btn-ok-label="'Disconnect'">
                                <span class="fa fa-trash-o"></span>Disconnect</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: YOUR CONTENT HERE -->
</div>
