<div ng-controller="OrdersCtrl" class="orders">
    <!-- start: PAGE TITLE -->
    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle" translate="sidebar.nav.commerce.ORDERS"></h1>
                <span ng-if="orders" class="mainDescription">There are currently {{orders.length}} orders.</span>
            </div>
            <div ncy-breadcrumb></div>
        </div>
    </section>
    <!-- end: PAGE TITLE -->
    <!-- start: YOUR CONTENT HERE -->
    <div st-table="displayedOrders" st-safe-src="orders">
        <div class="container-fluid container-fullw bg-white padding-top-0 padding-bottom-0">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-transparent row margin-bottom-0">
                        <div class="panel-body">
                            <form role="form" class="ng-pristine ng-valid row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <div class="col-xs-9 padding-left-0">
                                            <span class="input-icon">
                                        <input type="text" st-search placeholder="Search by customers, items, total..." id="form-field-14" class="form-control">
                                        <i class="ti-search"></i>
                                    </span>
                                        </div>
                                        <div class="col-xs-3">
                                            <button type="button" class="btn btn-o btn-info btn-wide btn-scroll btn-scroll-top ti-filter ng-click-active pull-right" ng-click="showFilter = !showFilter">
                                                <span>Filter</span>
                                            </button>
                                            <button type="button" class="hidden btn btn-o btn-info btn-wide btn-scroll btn-scroll-top ti-times ng-click-active pull-right" ng-click="clearFilters()">
                                                <span>Clear Fliter</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group margin-bottom-0 pull-right">
                                        <button type="button" class="btn btn-o btn-info btn-wide btn-scroll btn-scroll-top ti ti-plus ng-click-active" ng-click="newOrder()">
                                            <span>New Order</span>
                                        </button>
                                    </div>
                                    <div class="button-group pull-right margin-right-5 hidden">
                                        <span class="dropdown" dropdown on-toggle="toggled(open)">
                                        <p class="margin-bottom-0">
                                        <button type="button" class="btn btn-wide btn-info btn-o dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                            Columns <span class="caret"></span>
                                        </button>
                                        </p>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <span class="small">
                                                <input type="checkbox" ng-model="column.photo" ng-click="preventClick($event)" /> Photo</span>
                                            </li>
                                            <li>
                                                <span class="small">
                                                <input type="checkbox" ng-model="column.name" ng-click="preventClick($event)" /> Name</span>
                                            </li>
                                            <li>
                                                <span class="small">
                                                <input type="checkbox" ng-model="column.category" ng-click="preventClick($event)" /> Category</span>
                                            </li>
                                            <li>
                                                <span class="small">
                                                <input type="checkbox" ng-model="column.email" ng-click="preventClick($event)" /> Email</span>
                                            </li>
                                            <li>
                                                <span class="small">
                                                <input type="checkbox" ng-model="column.address" ng-click="preventClick($event)" /> Address</span>
                                            </li>
                                            <li>
                                                <span class="small">
                                                <input type="checkbox" ng-model="column.social" ng-click="preventClick($event)" /> Social</span>
                                            </li>
                                            <li>
                                                <span class="small">
                                                <input type="checkbox" ng-model="column.created" ng-click="preventClick($event)" /> Created</span>
                                            </li>
                                            <li>
                                                <span class="small">
                                                <input type="checkbox" ng-model="column.modified" ng-click="preventClick($event)" /> Modified</span>
                                            </li>
                                        </ul>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <div class="btn-group tableView">
                                            <button class="btn btn-info" ng-class="{'active': tableView == 'list'}" href="" ng-click="tableView = 'list'" tooltip-placement="top" tooltip="List"> <span class="fa fa-th-list"></span> </button>
                                            <button class="btn btn-info" ng-class="{'active': tableView == 'grid'}" href="" ng-click="tableView = 'grid'" tooltip-placement="top" tooltip="Grid"> <span class="fa fa-th"></span> </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid container-fullw padding-top-0 padding-bottom-0">
            <div class="panel panel-transparent row margin-bottom-0">
                <div class="panel-body">
                    <table class="table table-hover bg-white margin-bottom-0" ng-class="{'grid': tableView == 'grid', 'bg-white': tableView == 'list'}" ng-show="orders">
                        <thead ng-class="{'bg-white': tableView == 'grid'}">
                            <tr>
                                <th class="center column-width" st-sort="status">Status</th>
                                <th class="column-width" st-sort="getters.customerName">Customer</th>
                                <th class="hidden-xs center column-width" st-sort="getters.line_items">Items</th>
                                <th class="hidden-xs center column-width" st-sort="total">Total</th>
                                <th class="hidden-xs column-width" st-sort="getters.created" st-sort-default="reverse">Created</th>
                                <th class="hidden-xs column-width" st-sort="getters.modified">Modified</th>
                            </tr>
                            <tr ng-if="showFilter">
                                <th>
                                    <input st-search="status" placeholder="Status" class="form-control hidden" type="search" id="searchStatus" ng-model="filterorder.selected.name" />
                                    <ui-select ng-model="filterorder.selected" on-select="triggerInput('#searchStatus')" theme="bootstrap">
                                        <ui-select-match placeholder="Select Status">
                                            <!-- <span class="fa" ng-class="{'fa-facebook': $select.selected.type == 'fb'}"></span> -->
                                            <small ng-bind-html="$select.selected.name"></small>
                                            <button class="clear" ng-click="clear($event)">X</button>
                                        </ui-select-match>
                                        <ui-select-null-choice>No Status</ui-select-null-choice>
                                        <ui-select-choices repeat="status in orderStatusOptions">
                                            <!-- <span class="fa" ng-class="{'fa-facebook': type.type == 'fb'}"></span> -->
                                            <small ng-bind-html="status.name | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </th>
                                <th>
                                    <input st-search="{{order.customer._full}}" placeholder="Customer" class="form-control" type="search" />
                                </th>
                                <th>
                                    <input st-search="line_items_total" ng-model="line_items" id="order_line_items" class="form-control hidden" type="search" />
                                    <input type="text" value="0" placeholder="Total" ng-model="line_items" name="line_items" touchspin data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down" ng-change="triggerInput('#order_line_items')">
                                </th>
                                <th>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input st-search="total" placeholder="Total" class="form-control" type="search" />
                                    </div>
                                </th>
                                <th>
                                    <!-- <input st-search="created" placeholder="Created" class="form-control" type="search" ng-model="createdDate" />
                                    <input date-range-picker class="form-control date-picker" type="text" ng-model="createdDate" options="{opens: 'left'}"/> -->
                                </th>
                                <th>
                                    <!-- <input st-search="modified" placeholder="Modified" class="form-control" type="search" /> -->
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="order in displayedOrders" ng-click="viewSingle(order)">
                                <td class="center"><strong>Status: </strong>
                                    <span class="fa-stack">
                                        <span class="fa fa-circle-thin fa-stack-2x"
                                        ng-class="{'text-warning': order.status == 'pending',
                                                      'text-muted': order.status == 'on-hold',
                                                      'text-blue': order.status == 'processing',
                                                      'text-green': order.status == 'completed',
                                                      'text-purple': order.status == 'refunded',
                                                      'text-orange': order.status == 'failed',
                                                      'text-red': order.status == 'cancelled',
                                                      }">
                                        </span>
                                        <span class="fa fa-stack-1x" tooltip-placement="top" tooltip="{{order.status | titleCase}} "
                                           ng-class="{'fa-ellipsis-h text-warning': order.status == 'pending',
                                                      'fa-minus text-muted': order.status == 'on-hold',
                                                      'fa-clock-o text-blue': order.status == 'processing',
                                                      'fa-check text-green': order.status == 'completed',
                                                      'fa-exchange text-purple': order.status == 'refunded',
                                                      'fa-exclamation text-orange': order.status == 'failed',
                                                      'fa-times text-red': order.status == 'cancelled',
                                                      }">
                                        </span>
                                    </span>
                                </td>
                                <td>
                                    <img src="{{ status.customer.photo ? status.customer.photo : '/admin/assets/images/default-user.png' }}" class="img-thumbnail screenshot" alt="image"> {{order.customer.first}} {{order.customer.last}}
                                </td>
                                <td class="hidden-xs center"><strong>Items: </strong>{{order.line_items.length}}</td>
                                <td class="hidden-xs center"><strong>Total: </strong> {{order.total | currency}}</td>
                                <td class="hidden-xs"><strong>Created: </strong> {{order.created.date | date:'MMM d yy'}}</td>
                                <td class="hidden-xs"><strong>Modified: </strong>{{order.modified.date | date:'MMM d yy'}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td class="text-center" st-pagination="" st-displayed-pages="showPages" st-items-by-page="itemPerPage" colspan="6">
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <div class="load1 csspinner height-400" ng-show="!showOrders"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: YOUR CONTENT HERE -->
</div>
<!-- start: NEW ORDER MODAL -->
<script type="text/ng-template" id="new-order-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeModal()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h3 class="modal-title">New Order</h3>
    </div>
    <div class="modal-body bg-white">
        <div class="form-group typeahead">
            <label for="form-field-select-1">
                Customer
            </label>
            <input type="text" ng-model="newOrder.selectedCustomer" typeahead="customer as customer for customer in customers | filter:$viewValue" typeahead-template-url="customTemplate.html" typeahead-input-formatter="formatInput($model)" placeholder="Customer" class="form-control">
        </div>
        <div class="form-group">
            <label for="orderStatus">
                Order Status
            </label>
            <ui-select ng-model="newOrder.selectedStatus" theme="bootstrap">
                <ui-select-match placeholder="Select Status">
                    <small ng-bind-html="$select.selected.name"></small>
                </ui-select-match>
                <ui-select-null-choice>No Status</ui-select-null-choice>
                <ui-select-choices repeat="status in orderStatusOptions">
                    <small ng-bind-html="status.name | highlight: $select.search"></small>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-o" ng-click="createOrder(newOrder)" ng-disabled="!newOrder.selectedStatus.value && !newOrder.selectedCustomer._id">Add Order</button>
    </div>
</script>
<script type="text/ng-template" id="customTemplate.html">
    <a>
        <img ng-src="{{match.model.photo ? match.model.photo : '/admin/assets/images/default-user.png'}}" width="35">
        <span bind-html-unsafe="match.model.first+' '+match.model.last | typeaheadHighlight:query"></span>
    </a>
</script>
<!-- end:  NEW PAGE MODAL -->
