<div ng-controller="ProductsCtrl" class="products">
    <indig-onboarding min-requirements="minRequirements"></indig-onboarding>
    <div ng-if="noPaymentAccount" class="no-stripe" ct-fullheight="window" data-ct-fullheight-exclusion="header, #page-title, footer">
        <div class="text-center no-stripe-wrap">
            <h1><span class="fa fa-cc-stripe fa fa-2x"></span>&nbsp;<span class="fa fa-cc-paypal fa fa-2x"></span></h1>
            <h4>Please integrate your stripe / paypal account before managing your products.</h4>
            <button class="btn btn-primary btn-o btn-wide btn-lg margin-top-10" ng-click="socailRedirect('Stripe')">Connect Stripe</button>
            <button class="btn btn-primary btn-o btn-wide btn-lg margin-top-10" ng-click="socailRedirect('Paypal')">Connect Paypal</button>
        </div>
    </div>
    <style>
        .main-content > div.container {
            padding-left: 0;
            padding-right: 0;
        }
    </style>
    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle" translate="sidebar.nav.commerce.PRODUCTS"></h1>
                <span class="mainDescription" ng-if="products.length"><widget-header-label count="{{products.length}}" item="product"></widget-header-label>. <span ng-if="showFilteredRecords()"> ({{filteredCollection.length || 0 | number : 0}} in filtered view)</span></span>
                <span class="mainDescription" ng-if="!products">Loading products..</span>
            </div>
        </div>
    </section>
    <div class="products-inner" ng-class="{'blurred':noPaymentAccount}">
        <div st-table="displayedProducts" st-safe-src="products" st-set-filter='productTableFilter' st-filtered-collection>
            <div class="container-fluid container-fullw bg-white padding-top-0 padding-bottom-0">
                <div class="col-sm-12">
                    <div class="panel panel-transparent row margin-bottom-0 btn-area-res">
                        <div class="panel-body padding-left-0 padding-right-0">
                            <div class="mob-row">
                                <div class="fix-btn-1 padding-0">
                                        <span class="input-icon">
                                            <input type="text" st-search placeholder="Search by title, handle, date..." id="form-field-14" class="form-control">
                                            <i class="ti-search"></i>
                                        </span>
                                </div>
                                <div class="fix-btn padding-0 mob-sub-right">
                                    <button type="button" class="libtn btn btn-o btn-info btn-wide btn-scroll btn-scroll-top ti-filter ng-click-active " ng-click="showFilter = !showFilter">
                                            <span>Filter</span>
                                    </button>
                                </div>
                            </div>
                            <div class="mob-row">
                                <div class="mob-sub-row padding-0 text-right   text-right " style="display: inline-block;float: right;">
                                    <div class="fix-btn grp padding-0 " >
                                        <div class="btn-group ">
                                            <button class="btn btn-info" ng-class="{'active': tableView == 'list'}" href="" ng-click="tableView = 'list'" tooltip-placement="top" tooltip="List">
                                                <span class="fa fa-th-list"></span>
                                            </button>
                                            <button class="btn btn-info right-round" ng-class="{'active': tableView == 'grid'}" href="" ng-click="tableView = 'grid'" tooltip-placement="top" tooltip="Grid">
                                                <span class="fa fa-th"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="fix-btn padding-0" >
                                        <button type="button" class="libtn btn btn-warning ti ti-plus addnew" ng-click="openProductModal()">
                                            <span >New</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover bg-white margin-bottom-0" ng-class="{'grid': tableView == 'grid', 'bg-white table-list-view': tableView == 'list'}" fixed-header-table>
                <thead ng-class="{'bg-white': tableView == 'grid'}" sticky offset="65" sticky-class="sticky-header-class">
                    <tr>
                        <th class="center" ng-hide='tableView == "grid"'>Image</th>
                        <th class="hidden-xs" st-sort="status">Status</th>
                        <th st-sort="name">Name</th>
                        <th st-sort="type">Type</th>
                        <th class="hidden-xs" st-sort-default="{{defaultSortorder}}" st-sort="modified.date">Modified</th>
                    </tr>
                    <tr ng-if="showFilter" class="products-filter-header">
                        <th>
                            <input st-search="hasImage" placeholder="Image" class="form-control hidden" type="search" id="searchImage" ng-model="filterProduct.image.selected.data" />
                            <ui-select ng-model="filterProduct.image.selected" on-select="triggerInput('#searchImage')" theme="bootstrap">
                                <ui-select-match placeholder="Select Image">
                                    <small ng-bind-html="$select.selected.label"></small>
                                    <span class="fa fa-times text-danger" ng-click="clearFilter($event, '#searchImage', 'image')" ng-show='$select.selected.label'></span>
                                </ui-select-match>
                                <ui-select-choices repeat="status in productImageTypes">
                                    <small ng-bind-html="status.label | highlight: $select.search"></small>
                                </ui-select-choices>
                            </ui-select>
                        </th>
                        <th class="hidden-xs">
                            <input st-search="status" placeholder="Status" class="form-control hidden" type="search" id="searchStatus" ng-model="filterProduct.status.selected.data" />
                            <ui-select ng-model="filterProduct.status.selected" on-select="triggerInput('#searchStatus', true)" theme="bootstrap">
                                <ui-select-match placeholder="Select Status">
                                    <small ng-bind-html="$select.selected.label"></small>
                                    <span class="fa fa-times text-danger" ng-click="clearFilter($event, '#searchStatus', 'status')" ng-show='$select.selected.label'></span>
                                </ui-select-match>
                                <ui-select-choices repeat="status in productStatusTypes | filter: $select.search">
                                    <small ng-bind-html="status.label | highlight: $select.search"></small>
                                </ui-select-choices>
                            </ui-select>
                        </th>
                        <th>
                            <input st-search="name" placeholder="Name" class="form-control" type="search" />
                        </th>
                        <th>
                            <input st-search="type" placeholder="Type" class="form-control hidden" type="search" id="searchType" ng-model="filterProduct.type.selected.data" />
                            <ui-select ng-model="filterProduct.type.selected" on-select="triggerInput('#searchType')" theme="bootstrap">
                                <ui-select-match placeholder="Select Type">
                                    <small ng-bind-html="$select.selected.label"></small>
                                    <span class="fa fa-times text-danger" ng-click="clearFilter($event, '#searchType', 'type')" ng-show='$select.selected.label'></span>
                                </ui-select-match>
                                <ui-select-choices repeat="status in productTypeOptions | filter: $select.search">
                                    <small ng-bind-html="status.label | highlight: $select.search"></small>
                                </ui-select-choices>
                            </ui-select>
                        </th>
                        <th class="hidden-xs">
                            <input st-search="tags" placeholder="Tags" class="form-control" type="search" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in displayedProducts" class="product-item" ng-click="viewSingleProduct(product)">
                        <td class="center product-img">
                            <img ng-if="product.is_image" ng-src="{{ product.icon }}" err-src="/images/default-media.png" class="img-circle img-thumbnail" alt="image" style="width:38px;height:38px">
                            <h3 ng-if="!product.icon && !product.is_image"><span class="fa fa-cube"></span></h3>
                            <h3 ng-if="!product.is_image && product.icon"><span class="fa {{product.icon}}"></span></h3>
                        </td>
                        <td class="hidden-xs"><strong>Status: </strong>{{formatStatus(product.status)}}</td>
                        <td class="text-adjust-col"><strong>Name: </strong><span class="text-adjust-inner-content">{{product.name}}</span></td>
                        <td><strong>Type: </strong>{{product.type}}</td>
                        <td class="hidden-xs"><strong>Modified: </strong>{{product.modified.date | date:'MMM d yy'}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-center" st-custom-pagination="" st-displayed-pages="showPages" st-items-by-page="itemPerPage" colspan="6">
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div class="load1 csspinner height-400" ng-show="!showProducts && !noPaymentAccount"></div>
        </div>
    </div>
</div>
<div data-ng-include=" 'assets/views/partials/import-product-modal.html' "></div>
<div data-ng-include=" 'assets/views/partials/new-product-modal.html' "></div>
