<div ng-controller="ProductsDetailCtrl" class="product-detail">
    <!-- start: PAGE TITLE -->
    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle">{{product.name}}</h1>
                <span class="mainDescription">{{product.description}}</span>
            </div>
            <div ncy-breadcrumb></div>
        </div>
    </section>
    <!-- end: PAGE TITLE -->
    <!-- start: YOUR CONTENT HERE -->
    <div class="container-fluid container-fullw bg-white ng-scope  padding-top-0 padding-bottom-0">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-transparent row margin-bottom-0">
                    <div class="panel-body">
                        <div class="col-sm-8 col-sm-offset-4">
                            <!-- <button type="button" class="btn btn-o btn-info btn-wide btn-scroll btn-scroll-top ti ti-receipt ng-click-active pull-right">
                                <span>Duplicate</span>
                            </button> -->
                            <button type="button" ng-click="saveProductFn()" class="btn btn-o btn-info btn-wide btn-scroll btn-scroll-top ti ti-credit-card ng-click-active pull-right margin-right-5">
                                <span>Save</span>
                            </button>
                            <!-- <a ladda="ldloading.expand_right" class="btn btn-wide btn-primary" data-style="expand-right" ng-click="clickBtn('expand-right')">
                                expand-right
                            </a> -->
                            <div class="margin-bottom-15 visible-xs"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-fullw ng-scope">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="over-title margin-bottom-15">Product <span class="text-bold">Details</span></h5>
                <div class="row">
                    <div class="col-sm-4">
                        <div ng-show="!product.is_image">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <p class="product-img" style="font-size: 75px;text-align:center;  padding: 40px 0;">
                                        <a id="convert" data-iconset="fontawesome" data-icon="fa-cube" role="iconpicker"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div ng-show="product.is_image">
                            <div class="image">
                                <div class="thumbnail">
                                    <img ng-src="{{ product.icon }}" err-src="assets/images/default-user.png" alt="">
                                </div>
                            </div>
                            <div class="row hidden">
                                <div class="col-xs-3"><img src="assets/images/lion-565818_640.jpg" class="img-thumbnail img-responsive margin-bottom-15" alt="A generic image with a white border around it, making it resemble a photograph taken with an old instant camera"></div>
                                <div class="col-xs-3"><img src="assets/images/lion-565818_640.jpg" class="img-thumbnail img-responsive margin-bottom-15" alt="A generic image with a white border around it, making it resemble a photograph taken with an old instant camera"></div>
                                <div class="col-xs-3"><img src="assets/images/lion-565818_640.jpg" class="img-thumbnail img-responsive margin-bottom-15" alt="A generic image with a white border around it, making it resemble a photograph taken with an old instant camera"></div>
                                <div class="col-xs-3"><img src="assets/images/lion-565818_640.jpg" class="img-thumbnail img-responsive margin-bottom-15" alt="A generic image with a white border around it, making it resemble a photograph taken with an old instant camera"></div>
                            </div>
                        </div>
                        <div>
                            <label>Icon or Image</label>
                            <switch ng-model="product.is_image" type="checkbox" switch-label="Image"></switch>
                            <a ng-show="product.is_image" class="btn btn-success media-modal pull-right" media-modal-show-insert="true" on-insert-mediacb="insertMedia" user='user' insert-media-type='"image"'> <span class="fa fa-image"></span> <span class="hidden-xs">Change Image</span>
                            </a>
                        </div>
                    </div>
                    <div ng-class="{'col-sm-8': showVariations, 'col-sm-4 padding-right-0': !showVariations}">
                        <div class="panel panel-transparent  margin-bottom-0">
                            <div class="panel-body padding-top-0">
                                <form role="form" class="ng-pristine ng-valid">
                                    <div class="form-group" ng-class="{'has-error': productNameError}">
                                        <label>
                                            Name
                                        </label>
                                        <input type="text" placeholder="Name" ng-model="product.name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="form-field-select-1">
                                            Description
                                        </label>
                                        <textarea class="form-control autosize area-animated msd-elastic: \n; ng-pristine ng-valid ng-touched" ng-model="product.description" style="overflow: hidden; word-wrap: break-word; resize: vertical; height: 110px;" placeholder="Description"></textarea>
                                    </div>
                                    <div ng-if="!showVariations">
                                        <div class="form-group">
                                            <label for="form-field-select-1">
                                                Status
                                            </label>
                                            <select ng-model="product.status" class="form-control" ng-options="status.value as status.name for status in productStatusOptions">
                                                <option value="">-- choose status --</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="form-field-select-1">
                                                Type
                                            </label>
                                            <select ng-model="product.type" class="form-control" ng-options="type.value as type.name for type in productTypeOptions">
                                                <option value="">-- choose type --</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="form-field-select-1">
                                                Tags
                                            </label>
                                            <tags-input ng-model="product_tags"></tags-input>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-if="!showVariations">
                        <div class="panel panel-transparent  margin-bottom-0">
                            <div class="panel-body padding-top-0">
                                <form role="form" class="ng-pristine ng-valid">
                                    <div class="form-group">
                                        <label>
                                            SKU
                                        </label>
                                        <input type="text" placeholder="SKU" ng-model="product.sku" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Regular Price
                                        </label>
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input type="text" class="form-control" ng-model="product.regular_price">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Sale Price
                                        </label>
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input type="text" class="form-control" ng-model="product.sales_price">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Cost
                                        </label>
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input type="text" class="form-control" ng-model="product.cost">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Taxable
                                        </label>
                                        <div class="input-group">
                                            <switch ng-model="product.taxable" type="checkbox" switch-label="Taxable"></switch>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-include=" 'assets/views/partials/variations.html' "></div>
    <div data-ng-include=" 'assets/views/partials/attributes.html' "></div>
    <div class="container-fluid container-fullw">
        <div class="row">
            <div data-ng-include=" 'assets/views/partials/external-link.html' "></div>
            <div data-ng-include=" 'assets/views/partials/subscription.html' "></div>
            <div data-ng-include=" 'assets/views/partials/digital.html' "></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div id="model_container"></div>
