<!-- start: PAGE TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15 margin-bottom-15">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.account.PROFILEBUSINESS">{{ mainTitle }}</h1>
            <span class="mainDescription">Manage your business profile</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<tabset class="tabbable">
    <!-- start: TAB OVERVIEW -->
    <tab heading="Profile">
        <div class="row">
            <div class="col-md-4">
                <div class="user-left">
                    <div class="center">
                        <h4>{{account.business.name}}</h4>
                        <div>
                            <div class="user-image">
                                <div class="thumbnail">
                                    <img ng-src="{{account.business.logo}}" err-src="assets/images/default-user.png" alt="">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="social-icons hidden">
                            <ul>
                                <li data-placement="top" data-original-title="Twitter" class="social-twitter tooltips">
                                    <a href="#" target="_blank"> Twitter </a>
                                </li>
                                <li data-placement="top" data-original-title="Facebook" class="social-facebook tooltips">
                                    <a href="#" target="_blank"> Facebook </a>
                                </li>
                                <li data-placement="top" data-original-title="Google" class="social-google tooltips">
                                    <a href="#" target="_blank"> Google+ </a>
                                </li>
                                <li data-placement="top" data-original-title="LinkedIn" class="social-linkedin tooltips">
                                    <a href="#" target="_blank"> LinkedIn </a>
                                </li>
                                <li data-placement="top" data-original-title="Github" class="social-github tooltips">
                                    <a href="#" target="_blank"> Github </a>
                                </li>
                            </ul>
                            <hr>
                        </div>
                    </div>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th colspan="3">Contact Information</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>email:</td>
                                <td>
                                    <a href>
                                                    {{user.email}}
                                                </a></td>
                            </tr>
                            <tr>
                                <td>phone:</td>
                                <td>{{user.phone}}</td>
                            </tr>
                            <tr>
                                <td>address</td>
                                <td>
                                    <a href>
                                                    {{user.skype}}
                                                </a></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th colspan="3">Additional information</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Description</td>
                                <td>{{account.business.description}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-white" id="businessHours">
                    <div class="panel-heading border-light">
                        <h4 class="panel-title text-primary">Business Hours</h4>
                        <paneltool class="panel-tools" tool-collapse="tool-collapse"></paneltool>
                    </div>
                    <div collapse="businessHours" ng-init="businessHours=false" class="panel-wrapper">
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <!-- end: TAB OVERVIEW -->
    <!-- start: TAB EDIT ACCOUNT -->
    <tab heading="Edit Account" active="editActive">
        <div class="col-xs-12">
            <button class="btn btn-info btn-o pull-right" ng-click="profileSaveFn()">Save</button>
        </div>
        <form action="#" role="form" id="form">
            <fieldset>
                <legend>
                    Account Info
                </legend>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <label class="control-label">
                                Email Address
                            </label>
                            <div class="form-group" ng-repeat="email in account.business.emails">
                                <span class="input-icon input-icon-right">
                                    <input type="email" placeholder="email address" class="form-control" name="email" ng-model="account.business.emails[$index].email">
                                    <i ng-if="showAddEmail(email)" ng-click="accountAddEmailFn()" class="ti-plus"></i>
                                    <i ng-if="!showAddEmail(email)" ng-click="removeEmail($index)" class="ti-minus"></i>
                                </span>
                            </div>
                        </div>
                        <div>
                            <label class="control-label">
                                Phone Number
                            </label>
                            <div class="form-group" ng-repeat="phone in account.business.phones">
                                <span class="input-icon input-icon-right">
                                    <input type="text" placeholder="phone pumber" class="form-control" name="phone" ng-model="account.business.phones[$index].number">
                                    <i ng-if="showAddPhone(phone)" ng-click="accountAddPhoneFn()" class="ti-plus"></i>
                                    <i ng-if="!showAddPhone(phone)" ng-click="removePhone($index)" class="ti-minus"></i>
                                </span>
                            </div>
                        </div>
                        <div ng-repeat="address in account.business.addresses">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Address Line 1
                                        </label>
                                        <input class="form-control" placeholder="address line 1" type="text" name="addressline1" ng-model="address.address">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Address Line 2
                                        </label>
                                        <input class="form-control" placeholder="address line 2" type="text" name="addressline2" ng-model="address.address2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">
                                            City
                                        </label>
                                        <input class="form-control" placeholder="enter your city" type="text" name="city" ng-model="address.city">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label">
                                            State
                                        </label>
                                        <input class="form-control" placeholder="enter your state" type="text" name="state" ng-model="address.state">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Country
                                        </label>
                                        <input class="form-control" placeholder="enter your country" type="text" name="country" ng-model="address.country">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Zip Code
                                        </label>
                                        <input class="form-control" placeholder="enter your zip code" type="text" name="zip" ng-model="address.zip">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div ng-if="showAddAddress(address)" class="btn btn-wide btn-o btn-primary pull-right" ng-click="accountAddAddressFn()">Add more address</div>
                                <div ng-if="!showAddAddress(address)" class="btn btn-wide btn-o btn-warning pull-right" ng-click="removeAddress($index)">Remove address</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <legend>
                                Logo Upload
                            </legend>
                            <div class="form-group center">
                                <div>
                                    <div class="user-image">
                                        <div class="thumbnail margin-bottom-5">
                                            <img src="{{ account.business.logo }}" err-src="/admin/assets/images/default-user.png">
                                        </div>
                                    </div>
                                    <div class="user-image-buttons-edit">
                                        <span class="btn btn-primary media-modal" media-modal-show-insert="true" on-insert-mediacb="insertPhoto" user='user' flow-btn><i class="fa fa-pencil"></i></span>
                                        <span class="btn btn-danger" ng-click="removePhoto()"><i class="fa fa-times"></i> </span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <label class="control-label">
                                Business Name
                            </label>
                            <input type="text" placeholder="Business Name" class="form-control" name="businessname" ng-model="account.business.name">
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Description
                            </label>
                            <textarea placeholder="Description" class="form-control" name="businessdescription" ng-model="account.business.description"></textarea>
                        </div>
                    </div>
                </div>
                </div>
            </fieldset>
            <fieldset class="hidden">
                <legend>
                    Additional Info
                </legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                Twitter
                            </label>
                            <span class="input-icon">
                                                <input class="form-control" type="text" placeholder="Twitter" name="twitter" ng-model="user.twitter">
                                                <i class="fa fa-twitter"></i> </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Facebook
                            </label>
                            <span class="input-icon">
                                                <input class="form-control" type="text" placeholder="Facebook" name="facebook" ng-model="user.facebook">
                                                <i class="fa fa-facebook"></i> </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Google Plus
                            </label>
                            <span class="input-icon">
                                                <input class="form-control" type="text" placeholder="Google Plus" name="google" ng-model="user.google">
                                                <i class="fa fa-google-plus"></i> </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                Github
                            </label>
                            <span class="input-icon">
                                                <input class="form-control" type="text" placeholder="Github" name="github" ng-model="user.github">
                                                <i class="fa fa-github"></i> </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Linkedin
                            </label>
                            <span class="input-icon">
                                                <input class="form-control" type="text" placeholder="Linkedin" name="linkedin" ng-model="user.linkedin">
                                                <i class="fa fa-linkedin"></i> </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Skype
                            </label>
                            <span class="input-icon">
                                                <input class="form-control" type="text" placeholder="Skype" name="skype" ng-model="user.skype">
                                                <i class="fa fa-skype"></i> </span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </tab>
    <!-- end: TAB EDIT ACCOUNT -->
</tabset>
<div id="model_container"></div>
<!-- end: YOUR CONTENT HERE -->
