<!-- start: PAGE TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15 margin-bottom-15">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.account.PROFILE">{{ mainTitle }}</h1>
            <span class="mainDescription">Manage your personal profile</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<tabset class="tabbable">
    <!-- start: TAB OVERVIEW -->
    <tab heading="Profile">
        <div class="row">
            <div class="col-md-4">
                <div class="user-left">
                    <div class="center">
                        <h4>{{currentUser.first}} {{currentUser.middle}} {{currentUser.last}}</h4>
                        <div>
                            <div class="user-image">
                                <div class="thumbnail">
                                    <img ng-src="{{currentUser.profilePhotos[0]}}" err-src="assets/images/default-user.png" alt="">
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th colspan="3">General information</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>gender:</td>
                                <td>{{currentUser.gender}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th colspan="3">Contact Information</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>email:</td>
                                <td>
                                    <div>
                                        <a href="mailto:{{currentUser.email}}">
                                            {{currentUser.email}}
                                        </a>
                                        <br>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>phone:</td>
                                <td>
                                    <span>{{currentUser.phone}}<br></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-condensed hidden">
                        <thead>
                            <tr>
                                <th colspan="3">Additional information</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Description</td>
                                <td>{{account.business.description}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-white space20">
                    <div class="panel-heading">
                        <h4 class="panel-title">Activities</h4>
                    </div>
                    <div class="panel-body">
                         No activity.
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <!-- end: TAB OVERVIEW -->
    <!-- start: TAB EDIT ACCOUNT -->
    <tab heading="Edit Account" active="editActive">
        <div class="col-xs-12">
            <button class="btn btn-info btn-o pull-right" ng-click="profileSaveFn()">Save</button>
        </div>
        <div class="clearfix"></div>
        <form action="#" role="form" id="form">
            <fieldset>
                <legend>
                    Account Info
                </legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                First Name
                            </label>
                            <input type="text" placeholder="First Name" class="form-control" name="firstname" ng-model="currentUser.first">
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Middle Name
                            </label>
                            <input type="text" placeholder="Middle Name" class="form-control" name="middlename" ng-model="currentUser.middle">
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Last Name
                            </label>
                            <input type="text" placeholder="Last Name" class="form-control" name="lastname" ng-model="currentUser.last">
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Email Address
                            </label>
                            <input type="email" placeholder="Email Address" class="form-control" name="emailaddress" ng-model="currentUser.email">
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Phone Number
                            </label>
                            <input type="text" placeholder="Phone Number" class="form-control" name="phonenumber" ng-model="currentUser.phone">
                        </div>                        
                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <legend>
                                Image Upload
                            </legend>
                            <div class="form-group center">
                                <div>
                                    <div class="user-image">
                                        <div class="thumbnail margin-bottom-5">
                                            <img ng-src="{{ currentUser.profilePhotos[0] }}" err-src="/admin/assets/images/default-user.png">
                                        </div>
                                    </div>
                                    <div class="user-image-buttons-edit">
                                        <span class="btn btn-primary media-modal" media-modal-show-insert="true" on-insert-mediacb="insertPhoto" user='user' flow-btn><i class="fa fa-pencil"></i></span>
                                        <span class="btn btn-danger" ng-click="removePhoto()"><i class="fa fa-times"></i> </span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <div class="form-group">
                            <label class="block">
                                Gender
                            </label>
                            <div class="clip-radio radio-primary">
                                <input type="radio" id="us-female" name="gender" value="female" ng-model="currentUser.gender">
                                <label for="us-female">
                                    Female
                                </label>
                                <input type="radio" id="us-male" name="gender" value="male" ng-model="currentUser.gender">
                                <label for="us-male">
                                    Male
                                </label>
                            </div>
                        </div>
                        
                    </div>
                </div>
                </div>
            </fieldset>
        </form>
    </tab>
    <!-- end: TAB EDIT ACCOUNT -->
</tabset>
<div id="model_container"></div>
<!-- end: YOUR CONTENT HERE -->
