<div ng-if="post.type == 'fb'">
    <div class="panel panel-white facebook">
        <div class="panel-heading border-light">
            <i class="fa fa-facebook pull-left"></i>
            <span class="pull-right"><span class="fa fa-clock-o"></span> {{post.date | timeAgoFilter}}</span>
        </div>
        <!-- panel-heading -->
        <div class="panel-body">
            <div class="panel-profile">
                <div class="media">
                    <a ui-sref="account" class="pull-left">
                        <img alt="" ng-src="{{post.from.profile_pic}}" class="media-object img-circle">
                    </a>
                    <div class="media-body">
                        <h4 class="text-primary" slide-toggle="#slide-{{$index}}">{{post.from.name}} <small>shared a {{post.postType}}</small></h4>
                        <small class="text-muted">{{formatDate(post.date)}}</small>
                    </div>
                </div>
                <!-- media -->
            </div>
            <div class="media margin-top-0">
                <a ng-href="{{post.link}}">
                    <img alt="" ng-if="post.picture" ng-src="{{post.picture}}" class="media-object center padding-10">
                </a>
                <div id="slide-{{$index}}" class="media-body pre slideable">
                    <p class="center" style="max-width: 210px" ng-bind-html="post.message | linky"></p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="panel-footer border-light">
            <div class="timeline-btns">
                <div class="pull-left">
                    <a href="" tooltip-placement="top" tooltip-html-unsafe="Like" ng-click="actionLike({aPost: post})" class="padding-5 text-muted"><i class="fa fa-thumbs-up"></i> {{post.likes.length || 0}}</a>
                    <!--<a href="" tooltip-placement="top" tooltip-html-unsafe="Like" ng-click="showLikeModal(post)" class="padding-5 text-muted"><i class="fa fa-thumbs-up"></i> {{post.likes.length || 0}}</a>-->
                    <a href="" tooltip-placement="top" tooltip-html-unsafe="Comment" ng-click="actionComment({aPost: post})" class="padding-5 text-muted"><i class="fa fa-comment"></i> {{post.comments.length || 0}}</a>
                    <!--<a href="" tooltip-placement="top" tooltip-html-unsafe="Comment" ng-click="showCommentModal(post)" class="padding-5 text-muted"><i class="fa fa-comment"></i> {{post.comments.length || 0}}</a>-->
                    <a ng-show='post.link' ng-href="{{post.link}}" tooltip-placement="top" tooltip-html-unsafe="External Link" target="_blank" class="padding-5 text-muted"><i class="fa fa-link"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>