<div ng-controller="WebsiteSettingsCtrl" class="website-settings">
    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle" translate="sidebar.nav.website.SETTINGS"></h1>
                <span class="mainDescription">Adjust all settings for the website section</span>
            </div>
            <div ncy-breadcrumb></div>
        </div>
    </section>
    <div st-table="displayedPages" st-safe-src="pages">
        <div class="container-fluid container-fullw bg-white padding-top-0 padding-bottom-0">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-transparent row margin-bottom-0">
                        <div class="panel-body">
                            <div class="pull-right">
                                <button ng-click="saveWebsiteSettings()" class="btn btn-o btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <tabset class="tabbable margin-top-15">
        <tab heading="Basic">
            <form>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" ng-model="website.title" />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea type="text" class="form-control" ng-model="website.seo.description"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Keywords</label>
                        <tags-input ng-model="keywords"></tags-input>
                    </div>
                    <div class="form-group">
                        <label>Footer Link</label>
                        <span id="helpBlock" class="help-block">Remove the Indigenous Logo from the footer component.</span>
                        <label class="radio-inline">
                            <input type="radio" name="footerLink" id="footerLink1" value="true" ng-model="website.settings.footerlink"> Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="footerLink" id="footerLink2" value="false" ng-model="website.settings.footerlink"> No
                        </label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Favicon</label>
                        <div>
                            <span class="help-block">A favicon (pronounced “fave-icon”) is a small, iconic image that represents your website. Favicons are most often found in the address bar of your web browser, but they can also be used in lists of bookmarks in web browsers and feed aggregators.</span>
                            <div class="favicon-image">
                                <p class="pagetitle" ng-text-truncate="website.title" ng-tt-chars-threshold="12" ng-tt-no-toggling></p>
                                <p class="pageurl"><span ng-if="!account.domain">http://{{account.subdomain}}.indigenous.io</span><span ng-if="account.domain">http://{{account.domain}}</span></p>
                                <img class="top-favicon" src="{{ website.settings.favicon }}" err-src="https://s3.amazonaws.com/indigenous-account-websites/acct_6/favicon.ico">
                                <img class="bottom-favicon" src="{{ website.settings.favicon }}" err-src="https://s3.amazonaws.com/indigenous-account-websites/acct_6/favicon.ico">
                            </div>
                            <div class="user-image-buttons-edit">
                                <span class="btn btn-primary media-modal" media-modal-show-insert="true" on-insert-mediacb="insertFavicon" user='user' flow-btn><i class="fa fa-pencil"></i> Edit</span>
                                <span class="btn btn-danger" ng-if="website.settings.favicon" ng-click="removeFavicon()"><i class="fa fa-times"></i> Delete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="clearfix"></div>
        </tab>
        <tab heading="Domain">
            <form>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Subdomain</label>
                        <input type="text" class="form-control" ng-model="account.subdomain" />
                    </div>
                    <div class="form-group">
                        <label>Custom Domain</label>
                        <input type="text" class="form-control" ng-model="account.domain" />
                    </div>
                </div>
            </form>
            <div class="clearfix"></div>
        </tab>
    </tabset>
</div>
<div id="model_container"></div>