<div class="inner-page row">
      <ul class="features list-inline">
        <li>
          <div class="editable">
            <img src="img/feat_sm_1.png" alt="Lock Icon" />
          </div>
          <h3 class="editable"> The Real Deal</h3>
          <p class="editable">Fusce pellentesque, odio ornare elementum ferme,  ipsum facilisis est, eu pellentesque tellus eros sit amet erat. Vestibulum id.</p>
        </li>
        <li>
          <div class="editable">
            <img src="img/feat_sm_2.png" alt="Chat Icon" />
          </div>
          <h3 class="editable"> The Real Deal</h3>
          <p class="editable">Fusce pellentesque, odio ornare elementum ferme,  ipsum facilisis est, eu pellentesque tellus eros sit amet erat. Vestibulum id.</p>
        </li>
        <li>
          <div class="editable">
            <img src="img/feat_sm_2.png" alt="Chat Icon" />
          </div>
          <h3 class="editable"> The Real Deal</h3>
          <p class="editable">
            <strong>Fusce pellentesque, odio ornare elementum ferme,  ipsum facilisis est, eu pellentesque tellus eros sit amet erat. Vestibulum id.</p>
        </li>
      </ul>
    </div>

  </div> <!-- /#features -->