<div class="component portfolio portfolio-v1" data-class="portfolio" data-id="">
    <div class="component-body">
        <div class="container">
            <div class="row">

                <h3 class="portfolio-title">
                    <div class="editable" data-class="title">
                        Portfolio
                    </div>
                </h3>

                <div class="portfolio-subtitle">
                    <div class="editable" data-class="subtitle">
                        This is my portfolio
                    </div>
                </div>

                <ul class="portfolio-items col-xs-8 col-xs-offset-2">
                    <li class="col-sm-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>Thumbnail Headline</h4>
                                <p>short thumbnail description</p>
                                <p>
                                    <a href="" rel="tooltip" title="Zoom"><span class="fa fa-eye"></span></a>
                                    <a href="" rel="tooltip" title="Zoom"><span class="fa fa-link"></span></a>
                                    <a href="" rel="tooltip" title="Zoom"><span class="fa fa-share"></span></a>
                                </p>
                            </div>
                            <img src="../../img/portfolio-item.jpg">
                        </div>
                    </li>
                    <li class="col-sm-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>Thumbnail Headline</h4>
                                <p>short thumbnail description</p>
                                <p>
                                    <a href="" rel="tooltip" title="Zoom"><span class="fa fa-eye"></span></a>
                                    <a href="" rel="tooltip" title="Zoom"><span class="fa fa-link"></span></a>
                                    <a href="" rel="tooltip" title="Zoom"><span class="fa fa-share"></span></a>
                                </p>
                            </div>
                            <img src="../../img/portfolio-item.jpg">
                        </div>
                    </li>
                    <li class="col-sm-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>Thumbnail Headline</h4>
                                <p>short thumbnail description</p>
                                <p>
                                    <a href="" rel="tooltip" title="Zoom"><span class="fa fa-eye"></span></a>
                                    <a href="" rel="tooltip" title="Zoom"><span class="fa fa-link"></span></a>
                                    <a href="" rel="tooltip" title="Zoom"><span class="fa fa-share"></span></a>
                                </p>
                            </div>
                            <img src="../../img/portfolio-item.jpg">
                        </div>
                    </li>
                    <li class="col-sm-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>Thumbnail Headline</h4>
                                <p>short thumbnail description</p>
                                <p>
                                    <a href="" rel="tooltip" title="Zoom"><span class="fa fa-eye"></span></a>
                                    <a href="" rel="tooltip" title="Zoom"><span class="fa fa-link"></span></a>
                                    <a href="" rel="tooltip" title="Zoom"><span class="fa fa-share"></span></a>
                                </p>
                            </div>
                            <img src="../../img/portfolio-item.jpg">
                        </div>
                    </li>
                    <li class="col-sm-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>Thumbnail Headline</h4>
                                <p>short thumbnail description</p>
                                <p>
                                    <a href="" rel="tooltip" title="Zoom"><span class="fa fa-eye"></span></a>
                                    <a href="" rel="tooltip" title="Zoom"><span class="fa fa-link"></span></a>
                                    <a href="" rel="tooltip" title="Zoom"><span class="fa fa-share"></span></a>
                                </p>
                            </div>
                            <img src="../../img/portfolio-item.jpg">
                        </div>
                    </li>
                    <li class="col-sm-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>Thumbnail Headline</h4>
                                <p>short thumbnail description</p>
                                <p>
                                    <a href="" rel="tooltip" title="Zoom"><span class="fa fa-eye"></span></a>
                                    <a href="" rel="tooltip" title="Zoom"><span class="fa fa-link"></span></a>
                                    <a href="" rel="tooltip" title="Zoom"><span class="fa fa-share"></span></a>
                                </p>
                            </div>
                            <img src="../../img/portfolio-item.jpg">
                        </div>
                    </li>
                </ul>


            </div>
        </div>
    </div>
</div>