//-
    * COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
    *
    * All use or reproduction of any or all of this content must be approved.
    * Please contact info@indigenous.io for approval or questions.

doctype html
html(lang='en', data-ng-app='clipApp')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='description', content='{{app.description}}')
    meta(name='keywords', content='app, responsive, angular, bootstrap, dashboard, admin')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='HandheldFriendly', content='true')
    meta(name='apple-touch-fullscreen', content='yes')
    link(rel="shortcut icon", href='https://s3.amazonaws.com/indigenous-account-websites/acct_6/favicon.ico')
    title(data-ng-bind='pageTitle()') Indigenous.IO
    // Google fonts
    link(href='//fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic', rel='stylesheet', type='text/css')
    // Bootstrap
    link(rel='stylesheet', href='../js/libs/bootstrap/dist/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='../js/libs/font-awesome/css/font-awesome.min.css')
    // Themify Icons
    link(rel='stylesheet', href='../js/libs/themify-icons/themify-icons.css')
    // Loading Bar
    link(rel='stylesheet', href='../js/libs/angular-loading-bar/build/loading-bar.min.css')
    // Animate Css
    link(rel='stylesheet', href='../js/libs/animate.css/animate.min.css')
    // Clip-Two CSS
    link(rel='stylesheet', href='assets/css/styles.css')
    link(rel='stylesheet', href='assets/css/frontend-admin.css')
    link(rel='stylesheet', href='assets/css/plugins.css')
    // Clip-Two Theme
    link(rel='stylesheet', data-ng-href='assets/css/themes/{{ app.layout.theme }}.css')
    // Social Links
    link(rel='stylesheet', href='/js/libs/bootstrap-social/bootstrap-social.css')
    link(rel='stylesheet', href='../js/libs_misc/ng-joyride/ng-joyride.css')
    link(rel='stylesheet', href='../js/libs/allmighty-autocomplete/style/autocomplete.css')
    // EDITOR
    link(rel='stylesheet', href='/js/libs/slick-carousel/slick/slick.css')
  body(ng-controller='AppCtrl')
    #app(ui-view='', ng-class="{'app-mobile' : app.isMobile, 'app-navbar-fixed' : app.layout.isNavbarFixed, 'app-sidebar-fixed' : app.layout.isSidebarFixed, 'app-sidebar-closed':app.layout.isSidebarClosed, 'app-footer-fixed':app.layout.isFooterFixed}")

    block body_scripts
            include admin_body_scripts

    include _serverprops
