script(src="/js/libs/requirejs/require.js")

script(type='text/javascript') Aloha = {}; Aloha.settings = { sidebar: { disabled: true }, contentHandler: { insertHtml: [ 'word', 'generic', 'oembed', 'sanitize', 'video' ] }, toolbar: { tabs: [{ label: 'Video', showOn: {scope: 'Aloha.Block.VideoBlock'}, components: [ [ 'video-url', 'remove-video' ] ] } ]}, plugins: { videoblock: { 'width': '800px', 'height': '600px', 'embedUrl': 'https://youtube.com/embed/' } } };

script(src='js/libs/aloha-editor/src/lib/aloha.js', data-aloha-plugins=' common/ui, common/format, common/table, common/list, common/link, common/highlighteditables, common/block, common/undo, common/image, common/contenthandler, common/paste, common/characterpicker, common/commands, common/align, common/abbr, extra/videoblock',)

link(href='js/libs/aloha-editor/src/css/aloha.css', rel='stylesheet', type='text/css')