div.aloha-ui.btn-toolbar(role='toolbar')
  div.btn-group
    button.aloha-action-B.btn.btn-default(type='button', title='Bold')
      b B
    button.aloha-action-I.btn.btn-default(type='button', title='Italic')
      i I
    button.aloha-action-unformat.btn.btn-default(type='button', title='Remove formatting')
      span.glyphicon.glyphicon-remove
  div.btn-group
    button.aloha-action-OL.btn.btn-default(type='button', title='Ordered List')
      span.glyphicon.glyphicon-list
    button.aloha-action-UL.btn.btn-default.active(type='button', title='Unordered List')
      span.glyphicon.glyphicon-list
  //
    div class="btn-group">
                            <button type="button" class="aloha-action-undo btn btn-default" title="Undo"><span class="glyphicon glyphicon-step-backward"></span></button>
                            <button type="button" class="aloha-action-redo btn btn-default" title="Redo"><span class="glyphicon glyphicon-step-forward"></span></button>
                        </div
  div.btn-group
    button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
      | Paragraph
      span.caret
    ul.dropdown-menu.funky(role='menu', style='background-color: rgb(146, 204, 143);')
      li
        a.aloha-action-H2(href='#') Heading 2
      li
        a.aloha-action-H3(href='#') Heading 3
      li
        a.aloha-action-H4(href='#') Heading 4
      li
        a.aloha-action-P(href='#') Paragraph
      li
        a.aloha-action-PRE(href='#') Preformatted
  div.btn-group
    button.aloha-action-A.btn.btn-default(type='button', data-activeon='a', title='Create Link')
      span.glyphicon.glyphicon-link


script(src="/js/libs/requirejs/require.js")


script(src="js/vendor/aloha-editor/js/aloha.min.js")
script(src="js/vendor/aloha-editor/js/aloha-ui.js")

link(href='js/vendor/aloha-editor/css/aloha.css', rel='stylesheet', type='text/css')
