//-
    * COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
    *
    * All use or reproduction of any or all of this content must be approved.
    * Please contact info@INDIGENOUS SOFTWARE, INC. for approval or questions.

#headerbar.headerbar
    .header-left
        a.menutoggle.pull-left
            i.fa.fa-bars

    .header-center
        //
            h2
                i.fa.fa-users
                span(id="header-title" style="padding-left:8px;") Support

    .header-right
        #header-actions

        a.menutoggle-right
            i.fa.fa-cog
