.masthead.container#header
    div.navbar.navbar-default(role="navigation")
        div.container-fluid
            div.navbar-header
                button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                a.navbar-brand(href="#") #{title}
            div.navbar-collapse.collapse
                ul.nav.navbar-nav

                p.navbar-text.navbar-right
                    if isLoggedIn
                        |Signed in as &nbsp;
                        a(href="/myaccount") #{user.username}
                        |&nbsp;
                        a(href="/logout" title="Sign out")
                            i.glyphicon.glyphicon-log-out
                    else
                        |You're not signed in &nbsp;
                        a(href="/login" title="sign in")
                            i.glyphicon.glyphicon-log-in

    .clearfix

    h5 Professionalize your passion
