//-
    * COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
    *
    * All use or reproduction of any or all of this content must be approved.
    * Please contact info@indigenous.io for approval or questions.

#headerbar.headerbar
    .header-left
        img(src="https://s3-us-west-2.amazonaws.com/indigenous-admin/logo.png", alt="", style="width: 50px;margin: 7px 0 0 10px;")

    .header-right

        a.menutoggle-right.toggle-menu.menu-right.push-body
            i.fa.fa-cogs
