doctype html
html
    head
        block head
            //- override this to include a different head section (e.g. requirehead.jade)
            block headattributes
                include standardhead
            title=title
            link(rel='stylesheet', href='/css/site.css')
    body
        #wrap
            #header-background
                include _header
            .container
                if errorMsg
                    p.bg-danger(id="error-msg" style="padding:15px;"): b #{errorMsg}
                else
                    p.bg-danger.hidden(id="error-msg" style="padding:15px;")

                if infoMsg
                   p.bg-info(id="info-msg" style="padding:15px"): b #{infoMsg}
                else
                    p.bg-info.hidden(id="info-msg" style="padding:15px"): b #{infoMsg}

                #container-alert.hidden
                #main-viewport
                    block content
                        //- Anything here gets overwritten by sub views that extend "block content"
                //- some common modals
                #common-modal.modal.fade.hide
                //- common progress modal
                #common-progress.modal.fade.hide
                    #common-progress-title.modal-header Progress...
                    .modal-body
                        .progress.progress-striped.active
                            .bar(style="width:100%") Processing...
                    #common-progress-label.modal-footer

            //required for sticky footer
            #push

        include _footer

