//-
    * COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
    *
    * All use or reproduction of any or all of this content must be approved.
    * Please contact info@indigenous.io for approval or questions.

doctype html
//if lt IE 7
    html(class="no-js ie6 oldie", lang="en")
//if IE 7
    html(class="no-js ie7 oldie", lang="en")
//if IE 8
    html(class="no-js ie8 oldie", lang="en")
// [if gt IE 8] <!
html(class="no-js", lang="en")
    // <![endif]
    head
        block head
            //- override this to include a different head section (e.g. requirehead.jade)
            block headattributes
                include standardhead
            title=title

            // Bootstrap
            link(rel='stylesheet', href='../js/libs/bootstrap/dist/css/bootstrap.min.css')
            // Font Awesome
            link(rel='stylesheet', href='../js/libs/font-awesome/css/font-awesome.min.css')
            // Clip-Two CSS
            link(rel='stylesheet', href='admin/assets/css/styles.min.css')
            link(rel='stylesheet', href='admin/assets/css/plugins.min.css')
            // Clip-Two Theme
            link(rel='stylesheet', data-ng-href='admin/assets/css/themes/theme-6.css')
            link(rel='stylesheet', href='css/styles.min.css')

    body
        block content

    include _serverprops

