//-
    * COPYRIGHT CMConsulting LLC 2014
    *
    * All use or reproduction of any or all of this content must be approved.
    * Please contact christopher.mina@gmail.com for approval or questions.

extends _layout

//- override headAttributes block of _layout.jade, with the require, instead of standard
block headattributes
    include requirehead
