//-
    * COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
    *
    * All use or reproduction of any or all of this content must be approved.
    * Please contact info@indigenous.io for approval or questions.

if(serverProps)
    script.
        window.indigenous = window.indigenous || {};
        window.indigenous.precache = window.indigenous.precache || {};
        window.indigenous.precache.siteData = window.indigenous.precache.siteData || {};
        window.indigenous.precache.siteData.posts = !{serverProps.posts};
        window.indigenous.precache.siteData.pages = !{serverProps.pages};

    script.
        #{setServerProps(serverProps)}
