//- <!-- Vendor Libraries -->
//- link(rel="stylesheet", href="/js/libs/font-awesome/css/font-awesome.min.css")
//- link(rel="stylesheet", href="/js/libs/bootstrap/dist/css/bootstrap.min.css")
//- link(rel="stylesheet", href="/js/libs/bootstrap-social/bootstrap-social.css")
//- link(rel="stylesheet", href="/js/libs/blueimp-gallery/css/blueimp-gallery.min.css")
//- link(rel='stylesheet', href='/js/libs/jqcloud2/dist/jqcloud.min.css')

//- link(rel='stylesheet', href='/js/libs/angular-wizard/dist/angular-wizard.min.css')
//- link(rel='stylesheet', href='/js/libs/animate.css/animate.min.css')
//- link(rel='stylesheet', href='/js/libs/slick-carousel/slick/slick.css')
//- link(rel='stylesheet', href='/js/libs/slick-carousel/slick/slick-theme.css')
//- link(rel="stylesheet", href='../js/libs/perfect-scrollbar/css/perfect-scrollbar.min.css')
//- link(rel="stylesheet", href='../js/libs/froala-wysiwyg-editor/css/froala_style.min.css')

//- <!-- Vendor Styles -->
link(rel='stylesheet', href='/css/vendor.css')

//- <!-- Frontend Styles -->
link(rel='stylesheet', href='http://cdn-js.test.indigenous.io/css/styles.css')

style(type="text/css").

    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }

style(type="text/css").

    .intercom-launcher-button {
        opacity: 0!important;
        pointer-events: none!important;
    }
