<!--[if lt IE 9]>
script(src="../js/libs/es5-shim/es5-shim.js")
script(src="../js/libs/json3/lib/json3.min.js")
<![endif]-->

script(src="https://js.stripe.com/v2/?tmp")
script(src="../js/indigenous.js")
script(src="../js/ng-indigenous.js")


if includeEditor
    include _aloha_editor