<!--[if lt IE 9]>
script(src="../js/libs/es5-shim/es5-shim.js")
script(src="../js/libs/json3/lib/json3.min.js")
<![endif]-->

script(src="../js/libs/jquery/dist/jquery.js")
script(src="../js/libs/bootstrap/dist/js/bootstrap.js")
script(src="../js/libs/blueimp-gallery/js/jquery.blueimp-gallery.min.js")
script(src="../js/libs/angular/angular.js")
script(src="../js/scripts/config.js")
script(src="../js/libs/json3/lib/json3.js")
script(src="../js/libs/underscore/underscore.js")
script(src="../js/libs/angular-resource/angular-resource.js")
script(src="../js/libs/angular-cookies/angular-cookies.js")
script(src="../js/libs/angular-sanitize/angular-sanitize.js")
script(src="../js/libs/angular-animate/angular-animate.js")
script(src="../js/libs/angular-touch/angular-touch.js")
script(src="../js/libs/angular-route/angular-route.js")
script(src="../js/libs/angular-ui-router/release/angular-ui-router.js")
script(src="../js/libs/jquery-waypoints/waypoints.js")
script(src="../js/libs/angular-parallax/scripts/angular-parallax.js")
script(src="../js/libs/moment/moment.js")
script(src="../js/libs/angular-moment/angular-moment.js")
script(src="../js/libs/angular-scroll/angular-scroll.js")
script(src="../js/libs/angular-wizard/dist/angular-wizard.js")
script(src="../js/libs/isotope/jquery.isotope.js")
script(src="../js/libs/angular-isotope/dist/angular-isotope.js")
script(src="../js/libs/angular-timer/dist/angular-timer.js")
script(src="scripts/app.js")
script(src="scripts/directives/dmStyle.js")
script(src="scripts/directives/ngEnter.js")
script(src="scripts/directives/convertHtml.js")
script(src="scripts/services/accountService.js")
script(src="scripts/services/websiteService.js")
script(src="scripts/services/themeService.js")
script(src="scripts/services/pagesService.js")
script(src="scripts/services/postsService.js")
script(src="scripts/filters/CreateUrlFilter.js")
script(src="scripts/filters/generateURLforLinks.js")
script(src="scripts/filters/getByProperty.js")
script(src="scripts/controllers/mainCtrl.js")
script(src="scripts/controllers/blogCtrl.js")
script(src="scripts/controllers/layoutCtrl.js")
script(src="../js/scripts/utils.js")


if includeEditor
    include _aloha_editor