//- PLEASE ENSURE CHANGES TO THIS FILE ARE ALSO PUT INTO index_body_scripts_minimized

<!--[if lt IE 9]>
script(src="../js/libs/es5-shim/es5-shim.js")
script(src="../js/libs/json3/lib/json3.min.js")
<![endif]-->

script(src="/scripts/sticky-state/dist/stickystate.min.js")

//- START AUTOINCLUDE SECTION
script(src="../js/libs/jquery/dist/jquery.js")
script(src="../js/libs/jquery-ui/jquery-ui.min.js")
script(src="../js/libs/bootstrap/dist/js/bootstrap.js")
script(src="../js/libs/angular/angular.js")
script(src="../js/scripts/config.js")
script(src="../js/libs/json3/lib/json3.js")
script(src="../js/libs/underscore/underscore.js")
script(src="../js/libs/angular-resource/angular-resource.js")
script(src="../js/libs/angular-cookie/angular-cookie.js")
script(src="../js/libs/angular-sanitize/angular-sanitize.js")
script(src="../js/libs/angular-animate/angular-animate.js")
script(src="../js/libs/angular-touch/angular-touch.js")
script(src="../js/libs/angular-route/angular-route.js")
script(src="../js/libs/angular-ui-router/release/angular-ui-router.js")
script(src="../js/libs/blueimp-gallery/js/jquery.blueimp-gallery.min.js")
script(src="../js/libs/moment/moment.js")
script(src="../js/libs/angular-moment/angular-moment.js")

script(src="../js/libs/angular-scroll/angular-scroll.js")
script(src="../js/libs/angular-timer/dist/angular-timer.js")
script(src="../js/libs/angular-ui/build/angular-ui.min.js")
script(src="../js/libs_misc/videogular/videogular.js")
script(src="../js/libs/videogular-controls/controls.js")
script(src="../js/libs/videogular-overlay-play/overlay-play.js")
script(src="../js/libs/videogular-buffering/buffering.js")
script(src="../js/libs/videogular-poster/poster.js")
script(src="../js/libs/skeuocard/lib/js/jquery.card.js")
script(src="../js/libs/fingerprintjs2/dist/fingerprint2.min.js")
script(src="../js/libs/angular-bootstrap/ui-bootstrap-tpls.min.js")
script(src="../js/libs_misc/jstimezonedetect/jstz.min.js")
script(src='../js/libs/purl/purl.js')
script(src='../js/libs/ua-parser-js/dist/ua-parser.min.js')
script(src='../js/libs_misc/uuid.js')
// Utils
script(src='../js/utils/namespaces.js')
script(src="../js/scripts/utils.js")
script(src="../js/libs/jqcloud2/dist/jqcloud.min.js")
script(src="../js/libs/angular-jqcloud/angular-jqcloud.js")
script(src="../js/libs/angularjs-socialshare/dist/angular-socialshare.js")
script(src="../js/libs/slick-carousel/slick/slick.js")
script(src="../js/libs/angular-slick/dist/slick.min.js")
script(src="../js/libs/js-video-url-parser/dist/jsVideoUrlParser.min.js")
script(src="../js/libs/angular-truncate/src/truncate.js")
script(src="../js/libs/ngmap/build/scripts/ng-map.min.js")
script(src="../js/libs/angular-mask/dist/ngMask.min.js")
script(src="../js/libs/angular-masonry/angular-masonry.js")
script(src="../js/libs/masonry/dist/masonry.pkgd.min.js")
script(src="../js/libs/imagesloaded/imagesloaded.pkgd.min.js")
script(src='../js/libs/angular-slugify/angular-slugify.js')
script(src='../js/libs/angular-local-storage/dist/angular-local-storage.min.js')
script(src="../js/libs/js-marker-clusterer/src/markerclusterer.js")
script(src="../js/libs/sticky-js/jquery.sticky.js")
//- Editor JS
script(src='../js/libs/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js')
script(src='../js/libs_misc/intl-tel-input/build/js/intlTelInput.min.js')



//- SSB
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-data-styles/ssb-data-styles.component.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-text/ssb-text.component.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-text/ssb-text.controller.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-image/ssb-image.component.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-image/ssb-image.controller.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-form-builder/ssb-form-builder.component.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-form-builder/ssb-form-builder.controller.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-form-donate/ssb-form-donate.component.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-form-donate/ssb-form-donate.controller.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-blog-post/ssb-blog-post.service.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-blog-post/ssb-blog-post-list/ssb-blog-post-list.component.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-blog-post/ssb-blog-post-list/ssb-blog-post-list.controller.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-blog-post/ssb-blog-post-card/ssb-blog-post-card.component.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-blog-post/ssb-blog-post-card/ssb-blog-post-card.controller.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-blog-post/ssb-blog-post-detail/ssb-blog-post-detail.component.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-blog-post/ssb-blog-post-detail/ssb-blog-post-detail.controller.js")

script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-recent-post/ssb-recent-post.controller.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-recent-post/ssb-recent-post.component.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-recent-tag/ssb-recent-tag.controller.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-recent-tag/ssb-recent-tag.component.js")

script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-recent-category/ssb-recent-category.controller.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-recent-category/ssb-recent-category.component.js")

script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-location-finder/ssb-location-finder.component.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-location-finder/ssb-location-finder.controller.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-page-section/ssb-page-section.component.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-page-section/ssb-page-section.controller.js")

script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-page-section/ssb-page-section-template.component.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-page-section/ssb-page-section-template.controller.js")

script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-text-settings/ssb-text-settings.component.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-text-settings/ssb-text-settings.controller.js")

script(src="../admin/assets/js/ssb-site-builder/ssb-component-loader/ssb-component-loader.component.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-component-loader/ssb-component-loader.controller.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-rss-feed/ssb-rss-feed.service.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-rss-feed/ssb-rss-feed.component.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-rss-feed/ssb-rss-feed.controller.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-components/ssb-filters/ssb-post-filter.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-component-loader/ssb-navigation-css-loader.component.js")
script(src="../admin/assets/js/ssb-site-builder/ssb-component-loader/ssb-navigation-component-loader.component.js")
//- END AUTOINCLUDE SECTION

script(src="scripts/app.js")
script(src="scripts/constants.js")
script(src="scripts/directives/dmStyle.js")
script(src="scripts/directives/ngEnter.js")
script(src="scripts/directives/convertHtml.js")
script(src="scripts/directives/skeuocard.js")
script(src="scripts/directives/perfect-scrollbar.js")
script(src="scripts/directives/ind-slider.js")
script(src='scripts/directives/err-src.js')
script(src='scripts/directives/modal-touch-inputs.js')
script(src='scripts/directives/ssb-fixed.js')
script(src='scripts/directives/ind-international-tel-number.js')

// COMPONENTS
script(src="scripts/directives/editor.js")

script(src="scripts/directives/components/blog.js")
script(src="scripts/directives/components/blog-teaser.js")
script(src="scripts/directives/components/coming-soon.js")
script(src="scripts/directives/components/contact-us.js")
script(src="scripts/directives/components/feature-block.js")
script(src="scripts/directives/components/feature-list.js")
script(src="scripts/directives/components/footer.js")
script(src="scripts/directives/components/image-text.js")
script(src="scripts/directives/components/image-gallery.js")
script(src="scripts/directives/components/masthead.js")
script(src="scripts/directives/components/meet-team.js")
script(src="scripts/directives/components/navigation.js")
script(src="scripts/directives/components/products.js")
script(src="scripts/directives/components/payment-form.js")
script(src="scripts/directives/components/pricing-tables.js")
script(src="scripts/directives/components/simple-form.js")
script(src="scripts/directives/components/single-post.js")
script(src="scripts/directives/components/social-link.js")
script(src="scripts/directives/components/text-only.js")
script(src="scripts/directives/components/testimonials.js")
script(src="scripts/directives/components/thumbnail-slider.js")
script(src="scripts/directives/components/top-bar.js")
script(src="scripts/directives/components/video.js")
script(src="scripts/directives/components/video-gallery.js")
script(src="scripts/directives/components/activate-account.js")

script(src="scripts/services/accountService.js")
script(src="scripts/services/analyticsService.js")
script(src="scripts/services/websiteService.js")
script(src="scripts/services/campaignService.js")
script(src="scripts/services/previewPagesService.js")
script(src="scripts/services/embeddedSiteDataService.js")
script(src="scripts/services/postsService.js")
script(src="scripts/services/postService.js")
script(src="scripts/services/paymentService.js")
script(src="scripts/services/productService.js")
script(src="scripts/services/userService.js")
script(src="scripts/services/contactService.js")
script(src="scripts/services/pageService.js")
script(src="scripts/services/orderService.js")
script(src="scripts/services/geocodeService.js")
script(src="scripts/services/common.js")
script(src="scripts/services/cartService.js")
script(src="scripts/services/activateAccountService.js")

script(src="scripts/filters/generateURLforLinks.js")
script(src="scripts/filters/generateURLforProduct.js")
script(src="scripts/filters/trustHtml.js")
script(src="scripts/filters/urlFilter.js")

script(src="scripts/controllers/mainCtrl.js")
script(src="scripts/controllers/cacheCtrl.js")
script(src="scripts/controllers/previewCtrl.js")
script(src="scripts/controllers/notFoundCtrl.js")
script(src="scripts/directives/angularparallax.js")
script(src="scripts/directives/last.js")
script(src="scripts/directives/carousel.js")
script(src="scripts/directives/indi-accordion.js")

script(src="scripts/filters/offset.js")
script(src="scripts/filters/reverse.js")
script(src="scripts/services/ssbPageSectionService.js")

| !{userScripts}
| !{externalScripts}
