//-
    * COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
    *
    * All use or reproduction of any or all of this content must be approved.
    * Please contact info@indigenous.io for approval or questions.

include standardhead

script(data-main="/js/main.js", src="/js/libs/requirejs/require-min.js")