<div class="button-group">
    <div class="inline-block" tooltip-placement="bottom" tooltip="Save">
        <button ng-disabled="!vm.state.pendingEmailChanges" class="btn btn-primary btn-o" ng-click="vm.save()">
            <span ng-if="!vm.state.saveLoading || vm.state.publishLoading" class="fa fa-save"></span>
            <span class="sr-only">Save</span>
            <span ng-if="vm.state.saveLoading"><i class="fa fa-spinner fa-spin"></i></span>
        </button>
    </div>
    <div class="inline-block" tooltip-placement="bottom" tooltip="Create Campaign">
        <button class="btn btn-primary btn-o" ng-click="vm.createCampaign()">
            <span class="fa fa-bullhorn"></span>
            <span class="sr-only">Create Campaign</span>
        </button>
    </div>
    <div class="inline-block" tooltip-placement="bottom" tooltip="Send Email">
        <button class="btn btn-primary btn-o" ng-click="vm.sendEmail()">
            <span class="fa fa-paper-plane"></span>
            <span class="sr-only">Send Email</span>
        </button>
    </div>
    <div class="inline-block" tooltip-placement="bottom" tooltip="Back to Emails">
        <button class="btn btn-primary btn-o" ng-click="vm.backToEmails()">
            <span class="fa fa-arrow-left"></span>
            <span class="sr-only">Back to Emails</span>
        </button>
    </div>
</div>
