<div id="section_8">
  <div class="inner-page">
    <h2 class="page-headline editable">Available Fall 2014</h2>
    <p>Integer vulputate mi sit amet rutrum vehicula. Donec vulputate, arcu semper pellentesque. 
  Subscribe below and be the first one to know when we launch.</p>
  </div>
</div>