  <!-- Assets page -->
  <div id="assets" class="page">

    <!-- Feature Two -->
    <div id="feature_two" class="row inner-page color-3">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <h3>Easy accounting</h3>
        <p class="lead editable">Zombie ipsum
          <abbr title="HyperText Markup Language" class="initialism editable">HTML</abbr>reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeirtis.</p>
        <p class="editable">The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro..</p>
      </div>
    </div>  <!-- /vectors -->

    <!-- Feature Three -->
    <div id="feature_three" class="row inner-page color-1">
      <div class="col-md-6">
        <img class="figurette" src="img/feature_four.png" alt="Zombie ipsum" />
      </div>
      <div class="col-md-6">
        <h3 class="editable">We make it work for you</h3>
        <p class="lead editable">Vivamus viverra nisi sit amet diam ornare pretium. Integer vulputate mi sit amet rutrum vehicula. Donec vulputate, arcu semper pellentesque egestas, nisl neque posuere lorem, id rutrum libero arcu accumsan risus. Donec erat metus, ornare a lacinia ac, ornare eu risus. Curabitur non arcu aliquam, accumsan turpis in, laoreet magna. Phasellus quis mauris scelerisque, pretium sapien quis, rutrum elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras viverra, augue nec pulvinar pellentesque, enim eros sodales nulla, quis mattis diam eros non arcu.</p>
      </div>
    </div>