<!-- Clients -->
<div id="section_6">
    <div class="row">
        {{#each media in controller}}
            <div class="col-lg-3 col-sm-6 photo">
                <a href="#" class="thumbnail">
                    <img {{bind-attr src='media.url'}} class="img-responsive">
                </a>
                <div class="caption">
                    <h3>Camera</h3>
                    <span>{{media.caption}}</span>
                </div>
            </div>
        {{/each}}
    </div>
</div>

</div> <!-- /#assets -->