<div id="home" class="page color-1">
  <div class="row inner-page">
    <div class="col-md-8 col-md-push-4 lazy-container">
      <img class="lazy" alt="Looks great on every device" src="img/pixel.png" data-original="img/home.png" />
    </div>
    <div class="col-md-4 col-md-pull-7 top_content">
      <h2 class=" editable">Introducing Indigenous</h2>
      <p class="editable">Indigenous is a fully integrated business management platform for independent service professionals and small businesses</p>
      <br />
      {{#bs-button type="primary" class="btn-centered editable"}}Learn more <i class="fa fa-arrow-circle-o-down"></i>{{/bs-button}}
    </div>
  </div>
</div>