// indi-login-modal.less

indi-login-modal {

}

.indi-iframe-login {
    display: none;
    width: 100%;
    border: none;
    // height: calc(~"90vh");
    height: 0;
    max-height: 90vh;
    -webkit-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
}

.indi-iframe-login.visible {
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
    display: block;
    height: auto;
    min-height: 310px
}

.indi-login-modal-loading {
    height: 100%;
    width: 100%;
    min-height: 310px;
    // max-height: calc(~"90vh - 20px");
    max-height: 90vh;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.is-indi-modal {

    height: auto;

    body {
        height: auto;
        background: #fff;
    }

    .main-login {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
    }

    .logo, .box-login, fieldset, .row {
        padding: 0!important;
        margin: 0!important;
        border: 0 none;
        border-radius: 0;
    }

    fieldset {
        margin-top: 15px!important;
    }

    .social {
        margin: 0 0 15px -5px!important;
        padding: 0!important;
    }

    .logo img {
        max-height: 90px!important;
        max-width: 100%!important;
    }

    .error {
        font-size: 12px;
        margin: -.5em 0 -2em;
        height: 1em;
    }

    .box-login legend, .social, fieldset > p, .new-account, .copyright, a[href="/forgotpassword"] {
        display: none;
    }

}
