<div class="analytic-tile-container image--basic">

    <div class="indi-rounded panel panel-white text-center cursor-pointer">

        <img class="indi-rounded-img" src="http://s3.amazonaws.com/indigenous-digital-assets/account_6/dohy-circle-configure-business-profile_1449548586772.png" alt="{{vm.analytic}}" />

        <h3 class="analytic-title indi-rounded-title">{{::vm.uiDetails.widgetTitle}}</h3>

        <div class="analytic-details">

            <div ng-repeat="analytic in ::vm.uiDetails.data" class="col-xs-12 title-container">

                <div class="analytic-data-label">
                    <span class="pull-left">{{analytic.analyticDataLabel}}</span>
                </div>

                <div class="analytic-data-value">
                    <span>{{analytic.analyticDataValue()}}</span>
                </div>

            </div>

            <div class="analytic-button-container center margin-top-10">
                <button class="center btn btn-primary btn-lg btn-wide btn-o ng-scope"></i>{{::vm.uiDetails.buttonTitle}}</button>
            </div>

        </div>

    </div>
</div>
