<section ng-init="vm.state.editSection=false"
    ng-if="(vm.uiState.showSectionPanel && vm.state.email.components[vm.uiState.activeComponentIndex])"
    class="ssb-sidebar-section-panel draggable fade-in"
    ind-draggable>

    <h4 class="ssb-sidebar-sub-heading draggable-handle">
    <span
            onhide="vm.state.editSection=false"
            id="edit_section_name"
            ng-if="vm.state.editSection"
            editable-text="vm.state.page.sections[vm.uiState.activeSectionIndex].name">

            {{vm.state.page.sections[vm.uiState.activeSectionIndex].name || vm.state.page.sections[vm.uiState.activeSectionIndex].title}}

        </span>

        <div>
            <i ng-if="vm.uiState.navigation.sectionPanel.navigationHistory.length > 1" class="fa fa-arrow-left" ng-click="vm.uiState.navigation.sectionPanel.back();"></i>
            <!-- Heading for Component and text elements -->
            <span ng-if="!vm.state.editSection && vm.uiState.openSidebarSectionPanel.id">
                {{vm.uiState.openSidebarSectionPanel.name | cleanType}}
            </span>
            <!-- Heading for Sections -->
            <span ng-if="!vm.state.editSection && !vm.uiState.openSidebarSectionPanel.id">
                Section
            </span>
        </div>
    </h4>

    <div class="close-panel fa fa-close" ng-click="vm.closeSectionPanel()"></div>

    <!-- Loading background -->
    <div class="ssb-sidebar-section-panel-loading-background">
        <div class="center"><br><span class="fa fa-spinner fa-spin"></span><br>Loading menu...</div>
    </div>

    <!-- Scrollable menu container -->
    <div class="ssb-sidebar-section-panel-scrollable">

        <!-- Section Settings Home -->
        <ssb-sidebar-settings-panel
            ng-if="!vm.uiState.openSidebarSectionPanel.id"
            settings-template="assets/js/indi-email-builder/email-components/shared/sidebar.settings.html"
            component="vm.state.email.components[vm.uiState.activeComponentIndex]"
            state="vm.state"
            ui-state="vm.uiState">
        </ssb-sidebar-settings-panel>

        <!-- Section Settings Design -->
        <ssb-sidebar-settings-panel
            class="ssb-sidebar-section-panel-component-panel container-fluid"
            ng-if="'design' === vm.uiState.openSidebarSectionPanel.id"
            settings-template="assets/js/indi-email-builder/email-components/shared/sidebar.settings.design.html"
            component="vm.state.email.components[vm.uiState.activeComponentIndex]"
            state="vm.state"
            ui-state="vm.uiState">
        </ssb-sidebar-settings-panel>


    </div>
</section>
