<!--
* COPYRIGHT INDIGENOUS.IO, LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
-->


<script type="text/x-handlebars-template" name="edit-website">
    <div class="pageheader row">
        <div class="col-xs-8">
            <h2><i class="fa fa-desktop"></i> Editing
                <span id="current-url"><i class="fa fa-edit"></i></span></h2>
        </div>
        <div class="col-xs-4">

                <a class="btn btn-success pull-right btn-save-page" type="button">
                    <span class="fa fa-save"></span>
                    <span class="hidden-xs">Save</span>
                </a>
                <a class="btn btn-warning pull-right btn-cancel-page" type="button" style="margin-right:10px">
                    <span class="fa fa-times"></span>
                    <span class="hidden-xs">Cancel</span>
                </a>

        </div>
        <div class="clear"></div>
    </div>

    <iframe id="iframe-website" src="{{page}}?editor=true" style="width:100%; height:100%; min-height:800px; border:solid 1px; #ccc;"/>
</script>

<script type="text/x-handlebars-template" name="setup-website">
    <div class="pageheader row">
        <div class="col-xs-9">
            <h2><i class="fa fa-desktop"></i> ronflutes.indigenous.io <i id="current-url" class="fa fa-edit"></i></h2>
        </div>
        <div class="col-xs-3">
            <a id="launch-success" class="btn btn-success pull-right hidden" type="button">
                <span class="fa fa-save"></span>
                <span class="hidden-xs">Save</span>
            </a>
            <a class="btn btn-warning pull-right hidden" type="button" style="margin-right:10px">
                <span class="fa fa-eye"></span>
                <span class="hidden-xs">Preview</span>
            </a>
        </div>
        <div class="clear"></div>
    </div>

    <div class="alert alert-info fade in alert-website">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <h4 class="center">Hi Robin, Welcome to your Website!</h4>
        <p class="center">Okay, it&#39;s time to build your website. If you need assitance use any of the three ways below.</p>
        <hr class="mb30"></hr>
        <div class="col-sm-6">
            <h4><i class="fa fa-youtube-play"></i> Watch this 30 second video building your website.</h4>
            <img class="onboard-vid" src="/assets/images/video-holder.jpg">
        </div>
        <div class="mb30"></div>
        <div class="col-sm-6">
            <h4><i class="fa fa-compass"></i> Schedule a Demo</h4>
            <p>Schedule a personal demo with one of our customer support representatives who can show you via screen share how to build your website.</p>
            <button class="btn btn-primary btn-lg">Schedule Now <i class="fa fa-caret-right"></i>
            </button>
            <hr class="mb30"></hr>
            <h4><i class="fa fa-file-text-o"></i> Read the Documentation</h4>
            <p>If you prefer a list of steps to read, then head over to our detailed documentation about all the aspects of building your website.</p>
            <button class="btn btn-primary btn-lg">View Docs <i class="fa fa-caret-right"></i>
            </button>
        </div>
        <div class="clearfix mb30"></div>
    </div>

    <div class="contentpanel">
        <div id="website_welcome" class="panel">
            <h2 class="center">Launch Your First Site</h2>
            <div class="clearfix col-xs-12">
                <hr></hr>
            </div>
            <div id="palette_chooser">
                <h4>Image Based Color Palette</h4>
                <p class="mb20">Choose a picture that best represents you and your business and a selection of color will be selected to create a color pallette. </p>
                <section id="drag-drop" class="drag-drop" style="display: block;">
                    <input type="file" name="file" id="file"/>
                    <div id="drop-zone" class="drop-zone col-sm-6 col-xs-12">
                        <div class="drop-zone-label default-label">Drag or Click to upload image</div>
                        <div class="drop-zone-label dragging-label">Drop it here!</div>
                    </div>
                    <div id="dragged-images" class="dragged-images col-sm-6 col-xs-12"></div>
                </section>
            </div>
            <div class="clear col-xs-12">
                <hr></hr>
            </div>
            <div id="themes_preview" class="col-xs-12">
                <h4>Themes</h4>
                <p>Choose one of the themes below to use as your website. If you don&#39;t see one you like, click the all themes button to see the full library of customizable themes.</p>
                <ul>
                    <li>
                        <img src="/assets/images/theme-previews/theme-1.png" class="img-circle">Theme #1</li>
                    <li>
                        <img src="/assets/images/theme-previews/theme-2.png" class="img-circle">Theme #2</li>
                    <li>
                        <img src="/assets/images/theme-previews/theme-3.png" class="img-circle">Theme #3</li>
                    <li>
                        <img src="/assets/images/theme-previews/theme-4.png" class="img-circle">Theme #4</li>
                    <li>
                        <img src="/assets/images/theme-previews/theme-5.png" class="img-circle">Theme #5</li>
                </ul>
                <div class="clearfix mb20 col-xs-12"></div>
                <button class="btn btn-success pull-right">View All Themes</button>
            </div>
            <div class="clearfix mb20"></div>
            <button class="btn btn-lg btn-warning btn-block btn-disabled launch-btn"><i class="fa fa-rocket"></i> Launch</button>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" name="color-thief-output-template">
  <div class="function get-color">
    <h3 class="function-title">Dominant Color</h3>
    <div class="swatches">
      <div class="swatch" style="background-color: rgb({{color.[0]}}, {{color.[1]}}, {{color.[2]}})"></div>
    </div>
  </div>
  <div class="clearfix mb15"></div>
  <div class="function get-palette">
    <h3 class="function-title">Palette</h3>
    <div class="function-output">
      <div class="swatches">
        {{#each palette}}
          <div class="swatch" style="background-color: rgb({{[0]}}, {{[1]}}, {{[2]}})"></div>
        {{/each}}
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars-template" name="image-section-template">
  {{#images}}
  <div class="image-section {{class}}">
    <div class="image-wrap">
      <button class="run-functions-button">
        <span class="no-touch-label">Click</span>
        <span class="touch-label">Tap</span>
      </button>
      <img class="target-image" src="{{file}}" />
    </div>
    <div class="color-thief-output"></div>
  </div>
  {{/images}}
</script>

<script type="text/x-handlebars-template" name="sidebar-edit-website">
  <div class="rightpanel rightpanel-website">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#rp-theme" data-toggle="tab" id="rp-domain-theme">Theme</a>
        </li>
        <li><a href="#rp-domain" data-toggle="tab" id="rp-domain-tab">Domain</a>
        </li>
    </ul>

    <!-- Tab panes -->

    <div class="tab-content">
        <div class="tab-pane pane-settings active" id="rp-theme">
            <div class="leftpanelinner">
                <div id="color-palette-sidebar"></div>
                <div class="mb15 clearfix"></div>
                <a href="#" class="btn btn-primary btn-block btn-change-palette">Change Palette</a>
                <div class="mb15"></div>
                <div id="current-theme">
                    <h4>Current Theme</h4>
                    <div class="row">
                        <div class="col-xs-6">
                            <img class="theme-img" src="../images/theme-preview.jpg">
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-primary btn-block">Edit</button>
                            <button type="button" class="btn btn-default btn-block">Change</button>
                        </div>
                    </div>
                    <div class="mb20"></div>
                    <div id="nestable">
                        <h4>Theme Sections</h4>
                        <ol class="dd-list">
                            <li class="dd-item dd3-item" data-id="13" data-section="myCarousel">
                                <div class="dd-handle dd3-handle"><i class="fa fa-arrows"></i>
                                </div>
                                <div class="dd3-content">Home Slider</div>
                                <div class="dd3-actions">
                                    <i class="fa fa-trash-o tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"></i>
                                </div>
                            </li>
                            <li class="dd-item dd3-item" data-id="14" data-section="services">
                                <div class="dd-handle dd3-handle"><i class="fa fa-arrows"></i>
                                </div>
                                <div class="dd3-content">Services</div>
                                <div class="dd3-actions">
                                    <i class="fa fa-trash-o tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"></i>
                                </div>
                            </li>
                            <li class="dd-item dd3-item" data-id="15" data-section="action-call">
                                <div class="dd-handle dd3-handle"><i class="fa fa-arrows"></i>
                                </div>
                                <div class="dd3-content">Call to Action</div>
                                <div class="dd3-actions">
                                    <i class="fa fa-trash-o tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"></i>
                                </div>
                            </li>
                            <li class="dd-item dd3-item" data-id="19" data-section="recent-projects">
                                <div class="dd-handle dd3-handle"><i class="fa fa-arrows"></i>
                                </div>
                                <div class="dd3-content">Projects</div>
                                <div class="dd3-actions">
                                    <i class="fa fa-trash-o tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"></i>
                                </div>
                            </li>
                            <li class="dd-item dd3-item" data-id="19" data-section="clients">
                                <div class="dd-handle dd3-handle"><i class="fa fa-arrows"></i>
                                </div>
                                <div class="dd3-content">Clients</div>
                                <div class="dd3-actions">
                                    <i class="fa fa-trash-o tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"></i>
                                </div>
                            </li>
                            <li class="dd-item dd3-item" data-id="19" data-section="footer">
                                <div class="dd-handle dd3-handle"><i class="fa fa-arrows"></i>
                                </div>
                                <div class="dd3-content">Footer</div>
                                <div class="dd3-actions">
                                    <i class="fa fa-trash-o tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"></i>
                                </div>
                            </li>
                        </ol>
                        <div class="mb10"></div>
                        <div class="add_section"><i class="fa fa-plus"></i>
                            <span>&nbsp; Add Section</span>
                        </div>
                    </div>

                </div>
                <!-- leftpanelinner -->
            </div>
            <!-- leftpanel -->
        </div>
        <div class="tab-pane pane-settings" id="rp-domain">
            <div class="leftpanelinner">

                <div class="form-group">
                    <label for="current-domain" class="tooltips" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="This is the domain that was automatically created when you signed up.">Indigenous Domain</label>
                    <input id="current-domain" class="form-control input-lg" type="text" value="ronflutes@indigenous.io">
                </div>
                <div class="form-group">
                    <label for="current-domain" class="tooltips col-xs-7" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="You can turn on your custom domain.">Custom Domain</label>
                    <div class="col-xs-5 control-label">
                        <div class="toggle toggle-success" style="height: 20px; width: 50px;"><div class="toggle-slide active"><div class="toggle-inner" style="width: 80px; margin-left: 0px;"><div class="toggle-on active" style="height: 20px; width: 40px; text-align: center; text-indent: -10px; line-height: 20px;">ON</div><div class="toggle-blob" style="height: 20px; width: 20px; margin-left: -10px;"></div><div class="toggle-off" style="height: 20px; width: 40px; margin-left: -10px; text-align: center; text-indent: 10px; line-height: 20px;">OFF</div></div></div></div>
                    </div>
                </div>
                <div class="mb15"></div>
                <label for="current-domain">Custom Domain Name</label>
                <input id="current-domain" class="form-control input-lg" type="text" value="ronflutes.com">
            </div>
        </div>
        <!-- leftpanelinner -->
    </div>
    <!-- leftpanel -->
</div>>
</script>