@desktop:   ~"only screen and (min-width: 960px)";
@mobiles:    ~"only screen and (max-width: 959px)";
[ssb-text-component] {
    position:relative;
    z-index: 3!important;
    .edit-wrap.ssb-edit-wrap.ssb-element{
    	min-width: 200px;
    }
}

section.ssb-page-section-layout-1-col-grid{
     @media @desktop {
         .inner-page {
            padding: 0px !important;
         }
         .col-xs-15,.col-sm-15, .col-md-15,.col-lg-15, {
              padding-right: 0px;
              padding-left: 0px;
          }
        .ssb-text-settings.ssb-element-text {
            background-size: cover;
            height: 100%
        }
        div.ssb-text-only div.col-xs-12{
            padding-right: 0px;
            padding-left: 0px;
        }
        div.slider-overlay-bg{
           z-index: 2 !important;
        }
        div.element-wrap{
            overflow: hidden;
            background-size: cover;
        }
    }


    @media @mobiles {
        .container.inner-page.ng-scope  {
            padding: 0px !important;
         }
        .ssb-text-settings.ssb-element-text {
            background-size: cover;
            height: 100%
        }
        div.ssb-text-only div.col-xs-12{
            padding-right: 0px;
            padding-left: 0px;
             div.slider-overlay-bg{
                width: 100%;
                margin-left: 5px;
                margin-right: 5px;
            }
        }
        div.slider-overlay-bg{
           z-index: 2 !important;
        }
        div.element-wrap{
            overflow: hidden;
            background-size: cover;
        }
    }
}
