[ssb-blog-post-detail-component] {

    position: relative;
    max-width: 700px;
    margin-left: auto!important;
    margin-right: auto!important;
    line-height: 1.5;

    & > section[itemprop="articleBody"] {
        margin-top: 30px;
        font-family: Georgia, Cambria, "Times New Roman", Times, serif;
        letter-spacing: .01rem;
        font-weight: 400;
        font-style: normal;
        font-size: 21px;
        line-height: 1.58;
        letter-spacing: -.003em;
    }

    h1, .ssb-blog-byline, [itemprop="articleBody"], .post_tags {
        padding-left: 15px;
        padding-right: 15px;
    }

    #lessbuttons_holder {

        margin: 10px 15px 0;

        .lessbuttons_com_button,
        .lessbuttons_com_otherbutton,
        .lessbuttons_com_buttons_more {
            height: 30px;
            text-align: center;
        }

        .lessbuttons_com_buttons_more {
            width: 30px;
            line-height: 33px;
        }

        .lessbuttons_com_holder {
            width: auto;
            height: auto;
        }

        .lessbuttons_com_socimg,
        .lessbuttons_com_othersocimg,
        .lessbuttons_com_arrow {
            background: none;
            height: 25px;
            line-height: 30px;
            width: 30px;
            position: relative;
            display: inline-block;
            margin: 0;
        }
    }

}
