/* Specifying the name for animation keyframes and keyframes themselves */
@keyframes customticker {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}


/* Formatting the full-width ticker wrapper background and font color */
#tickerwrap {
  width: 100%;
  overflow: hidden;
}


/* Formatting the ticker content background, font color, padding and exit state */
#ticker {
   white-space: nowrap;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: customticker;
  animation-name: customticker;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}


.generate-ticker-speed-classes(50);

.generate-ticker-speed-classes(@n, @i: 1) when (@i =< @n) {
  .ticker-speed-@{i} {
    -webkit-animation-duration: @i * 1s;
  	animation-duration: @i * 1s!important;
  }
  .generate-ticker-speed-classes(@n, (@i + 1));
}