.ssb-page-section-layout-header-v6{
    .navigation-v4{
        #header .navbar.navbar-default {
            border: none!important;
        }
        .nav-logo{
            div.tooltip.bottom{
              margin-top: -30px;
            }
        }
        .navbar {
            border: none!important;
            background: none;
            box-shadow: none;
            .navigation-logo.edit-wrap {
                div.editable, .fr-element {
                    min-height: 100px;
                }
            }
            .navbar-header {
                float: none !important;
                min-height: 150px;
                .navbar-toggle {
                    margin-top: 50px;

                    @media screen and (max-width: 767px) {
                        position: absolute;
                        right: 0;
                    }

                }
            }
            .navbar-brand {
                margin: 0 auto!important;
                height: auto;
                padding: 0;
                color: inherit;
                &:hover{
                    color: inherit;
                }
            }
            ul.navbar-nav {
                width: 100%;
                display: inline-block;
                padding: 0;
                list-style: none;
                margin-left: 0px;
                margin: 0 auto;
                text-align: center;
                margin-top: 0!important;
                li {
                    float: none;
                    text-align: center;
                    display: inline-block;
                    border-bottom: 4px solid rgba(0, 0, 0, 0);
                    .fa {
                        line-height: 36px;
                    }
                }
                li > a {
                    height: 48px;
                    font-family: 'Lato', sans-serif;
                    font-size: 12px;
                    text-shadow: none;
                    line-height: 35px;
                }
            }
            .container-fluid {
                padding: 0 0 0 0;
            }
            .navbar-brand {
                float: none;
                display: block;
                margin: 5px auto;
                max-width: 500px;
                text-align: center;
                img:not(.fr-dii) {
                    margin: 0 auto;
                    display: block;
                }
            }
            @media (max-width: 625px) {
                .navbar-brand img {
                    max-width: 250px;
                }
            }
            @media (max-width: 796px) {
                .navbar-header {
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
        }
        @media (min-width: 1600px) {
            .container {
              width: 90%;
            }
        }
    }
}
.ssb-page-section-layout-header-v7{
    .navigation-v1{
        .navbar-collapse{
            float: left;
        }
        .navbar-header{
            float: right;
        }
    }
}

.ssb-page-section-layout-header-v8{
    .navigation-v2{
        .navbar-header{
            display:none !important;
        }
    }
}

.ssb-page-section-layout-header-v9{
    .navigation-v2{
        .navbar-header{
            display:none !important;
        }
    }
}


.ssb-page-section-layout-header-v10{
    .navigation-v2{
        .navbar-header{
            display:none !important;
        }
    }
    .ssb-component.ssb-navigation{
        padding: 5px !important;
        padding-bottom: 0 !important;
        float: right;
        width:50%;
    }
    .ssb-component.ssb-social-link{
        padding: 5px !important;
        padding-bottom: 0 !important;
        float: left;
        width:50%;
    }

}

.ssb-page-section-layout-header-v11{
    .navigation-v2{
        .navbar-header{
            display:none !important;
        }
    }
    .ssb-component.ssb-navigation{
        padding: 5px !important;
        padding-bottom: 0 !important;
        float: left;
        width:50%;
    }
    .ssb-component.ssb-social-link{
        padding: 5px !important;
        padding-bottom: 0!important;
        float: right;
        width:50%;
    }
}

.ssb-page-section-layout-header-v12{
    .navigation-v2{
        .navbar-header{
            display:none !important;
        }
    }
    .ssb-component.ssb-ssb-text{
        font-size: 48px !important;
        width: 100% !important;
    }
    .ssb-component.ssb-navigation{
        padding: 5px !important;
        padding-bottom: 0 !important;
        float: left;
        width:50%;
    }
    .ssb-component.ssb-social-link{
        padding: 5px !important;
        padding-bottom: 0!important;
        float: right;
        width:50%;
    }
}


.ssb-page-section-layout-header-v13{
    .navigation-v2{
        .navbar-header{
            display:none !important;
        }
    }
    .ssb-component.ssb-ssb-text{
        font-size: 48px !important;
        width: 100% !important;
    }
    .ssb-component.ssb-navigation{
        padding: 5px !important;
        padding-bottom: 0 !important;
    }
}

.ssb-page-section-layout-header-v14{
    .navigation-v2{
        .navbar-header{
            display:none !important;
        }
    }
    .ssb-component.ssb-ssb-text{
        font-size: 48px !important;
        width: 100% !important;
    }
    .ssb-component.ssb-navigation{
        padding: 5px !important;
        padding-bottom: 0 !important;
    }
}

.ssb-page-section-layout-header-v15{
    .navigation-v2{
        .navbar-header{
            display:none !important;
        }
    }
    .ssb-component.ssb-ssb-text{
        font-size: 48px !important;
        float: left;
        width:50% !important;
    }
    .ssb-component.ssb-navigation{
        padding: 5px !important;
        padding-bottom: 0 !important;
        float: right;
        width:50% !important;
    }
}

.ssb-page-section-layout-header-v16{
    .navigation-v2{
        .navbar-header{
            display:none !important;
        }
    }
    .ssb-component.ssb-ssb-text{
        font-size: 48px !important;
        float: right;
        width:50% !important;
    }
    .ssb-component.ssb-navigation{
        padding: 5px !important;
        padding-bottom: 0 !important;
        float: left;
        width:50% !important;
    }
}
