// ssb-location-finder.less

[ssb-location-finder-component] {

    .search-item {
        margin: 15px 0;
    }

    input[type="text"],
    select {
        padding: 1em;
        color: black;
        border: 1px solid #333;
    }

    input[type="text"] {
        width: 100%;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #FFFFFF;
        background-image: none;
        border-radius: 0 0 0 0 !important;
    }

}

.ssb-location-finder-form {
    max-width: 600px;
    margin-bottom: 15px;
    z-index: 1;
    position: relative;

    // @media screen and (min-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
    // }

}

.ssb-location-finder-map {
    margin-bottom: 15px;
}

.ssb-location-finder-search-results {
    max-width: 600px;
    z-index: 1;
    position: relative;
}

.ssb-map-canvas {
  max-width: 100%;
  height: 600px;
  padding: 0px;
}

.ssb-map-canvas img {
  /* Prevent streetview buddy from getting squished by img max-width: 100% */
  max-width: none;
}

.ssb-infowindow-content ul {
  list-style: none;
  padding: 0;
}

.ssb-infowindow-content ul li {
  padding-bottom: 3px;
}
