/********** Rss Feed **********/

.rss-feed-component {
    .feed-list-loading{
        min-height: 100px;
        padding-top: 25px;
        text-align: center;
        .feed-list-wait-message{
            font-size: 20px;
        }
    }

    .feed-list-empty{
        min-height: 100px;
        padding-top: 25px;
        text-align: center;
        .feed-list-empty-message{
            font-size: 20px;
        }
    }
    ul.ssb-rss-feed-list{
        list-style: none;
        padding-left:20px;
        padding-right:20px;
        .rss-feed-title,.rss-feed-description{
            a.btn-link{
                color: inherit;
            }
        }
        .ssb-theme-btn.btn-link {
            &:focus {
                background-color: transparent !important;
            }

            &:hover:before {
                background-color: transparent!important;
            }

            &:hover {
                background-color: transparent!important;
            }
        }
    }
}
.ssb-page-section-layout-3-col-v3{
    @media screen and (max-width: 767px) {
        [ssb-rss-feed-component]{
            width: 100%;
            &:not(:nth-last-child(2)){
                .inner-page{
                    padding-bottom: 0 !important;
                }
            }
        }
    }    
}

.ssb-page-section-layout-2-col-v2{
    @media screen and (max-width: 767px) {
        [ssb-rss-feed-component]{
            width: 100%;
            &:not(:nth-last-child(2)){                
                .inner-page{
                    padding-bottom: 0 !important;
                }
            }
        }
    }
}
