.ssb-blog-featured-slider {

    .slick-slide {
        position: relative;
        height: 309px;
    }

    .slick-slider {
        margin: 0;
    }

    .ssb-blog-byline,
    .ssb-blog-post-body,
    .ssb-theme-btn {
        display: none;
    }

    .ssb-media .img-responsive {
        position: absolute;
        width: 100%;
        top: 0;
    }

    .ssb-media-body {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .slick-dots{
        z-index: 1;
        bottom: 50px !important;
        margin: 0 !important;
        li button:before{
            opacity: 0.6;
            color: #FFF;
            border: 4px solid #000;
            border-radius: 50%;
            font-size: 8px;
            line-height: 10px;
            width: 15px;
            height: 15px;
        }
        li.slick-active button:before{
            color: #00FFFF;
        }
    }
}

.ssb-blog-post-list {
    article {
        padding-top: 50px;

        .ssb-media-left {
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                z-index: 100;
                transform: translateY(-50%);
            }
        }

    }
}

[class*='col-'] .ssb-section-type-simple-form:first-of-type {
    height: 350px;
}
