/*
 * OVERRIDES FOR LEGACY COMPONENT STYLES
 */
.ssb-main {

    .video-block .videogular-container {
        max-width: 100%!important;
        width: 100%!important;
    }

    .simple-form-v1 .inner-page {
        padding: 0 0 30px!important;
    }

    .simple-form-v1 .simple-form-title {
        padding-left: 0!important;
    }

    .simple-form-v1 .simple-form-subtitle {
        margin-left: 0!important;
    }

    .feature-list-v3 .features-wrap,
    .feature-list-v3 .feature-single {
        margin: 0 !important;
    }

    // [*-component]

}
