[ssb-blog-post-list-component] {
    .slick-dots{
        z-index: 1;
        bottom: 50px !important;
        margin: 0 !important;
        li button:before{
            opacity: 0.6;
            color: #FFF;
            border: 4px solid #000;
            border-radius: 50%;
            font-size: 8px;
            line-height: 10px;
            width: 15px;
            height: 15px;
        }
        li.slick-active button:before{
            color: #00FFFF;
        }
    }
}
