/********** Form Builder **********/

.form-builder-component {
    padding: 0px!important;
    margin: 0px!important;
    
    .form-title {
        padding-left: 10px;
        position: relative;
    }
    .form-subtitle {
        margin: 0 10px;
        position: relative;
    }
    
    .btn-editable {
        padding-top: 15px !important;
        -moz-user-select: text;
    }
    .thank-you {
        padding: 0;
        margin-bottom: -70px;
    }
    h3 {
        color: white;
        padding: 0 0 0 10px;
        font-weight: 600;
        font-family: Capita;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        margin-top: 10px;
    }
    p {
        padding: 0 0 0 10px;

    }
    input {
        width: 100%;
        text-indent: 10px;
        padding-left: 20px;
    }
    .inner-page {
        padding: 15px 0 30px;
        max-width: 1100px;
        margin: 0 auto;
    }
    .btn.btn-form,
    input {
        height: 50px;
        margin: 0;
        padding: 0;
        border: 0;
        border: 1px solid #eeeeee;
        .fa {
            padding: 0 0 0 10px;
        }
    }
    .btn {
        &:focus {
            color: white;
        }
    }
    .left-inner-addon {
        position: relative;
        color: #d1d1d1;
    }
    .left-inner-addon input {
        padding-left: 30px;
    }
    .left-inner-addon i {
        position: absolute;
        padding: 17px 13px;
        pointer-events: none;
    }
    .right-inner-addon {
        position: relative;
    }
    .right-inner-addon input {
        padding-right: 30px;
    }
    .right-inner-addon i {
        position: absolute;
        right: 0px;
        padding: 10px 12px;
        pointer-events: none;
    }
    .has-success {
        .form-control {
            border-color: #2ecc71;
        }
        .glyphicon {
            color: #2ecc71;
        }
    }
    .has-error {
        .form-control {
            border-color: #e74c3c;
        }
        .glyphicon {
            color: #e74c3c;
        }
        .help-block {
            color: #e74c3c;
        }
    }
    .has-feedback .form-control-feedback {
        position: absolute;
        top: 8px;
        right: 8px;
    }    
    
}


.form-builder-layout{
    .add-layout-btn{
        display: none;
        position: absolute;
        margin-top:-40%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    margin: 10px;
    .form-layout-1{

        width: 50%;
        margin: auto;
       
        label{
            display:block;
        }
        button{
            float:right;
            width:50%;
        }

        &:hover {
            cursor: pointer;
            .add-layout-btn{
                display: block;            
            }
        }

        
    }
    .form-layout-2{   
        width: 50%;
        margin: auto;    
        button{
            float:right;
            margin-right: 15px;
            width:50%;
        }
         &:hover {
            cursor: pointer;
            .add-layout-btn{
                display: block;            
            }
        }
    }
    .form-layout-3{       
        button{
            float:right;
            margin-right: 15px;
            width:33%;
        }
         &:hover {
            cursor: pointer;
            .add-layout-btn{
                display: block; 
                    margin-top: 10%;          
            }
        }
    }
    .form-layout-4{  
        width: 50%;
        margin: auto;     
        button{
            float:right;
            width:50%;
        }
         &:hover {
            cursor: pointer;
            .add-layout-btn{
                display: block;            
            }
        }
    }
}

.form-builder.panel.panel-default{
    margin-left: -15px;
    margin-right: -15px;
}

@media(max-width:767px) {        
    .form-builder-layout{ 
    	.form-layout-1,  .form-layout-2,  .form-layout-3,  .form-layout-4{
    		width: 100%;
        	button{            	
            	width:100% !important;
    		}
    	}
    }
}