[ssb-form-donate-component] {

    color: #444444;

    .modal {

    }

    .modal-header, .modal-footer {
        border-color: #eeeeee;
    }

    .donate-step hr {
        padding: 15px 0;
        width: calc(~"100% + 30px");
        margin-left: -15px;
    }

    .donate-step {
        min-height: 200px;
    }

    .donate-step-header {
        // text-align: center;
        color: #444444;
        font-size: 18px;
    }

    .billing-shipping .donate-flex-container {
        .flex-container;
        justify-content: flex-start;
        flex-flow: row wrap;
    }

    .billing-shipping .donate-amount-btn {
        flex: 1 0 15%;
        margin: 0 15px 15px 0;
    }

    .billing-shipping .donate-amount-btn:nth-child(5n+5) {
        margin-right: 0;
    }

    .billing-shipping .donate-other-amount {
        display: inline-block;
        flex: 0 0 125px;
    }

    .billing-shipping .input-fields {
        justify-content: flex-start;
        flex-flow: row wrap;
    }

    .billing-shipping .form-group {
        flex: 1 0 50%;
        padding: 0 15px 0 0;
    }

    .billing-shipping .form-group:nth-child(2n+2) {
        padding-right: 0;
    }

    .thank-you {

    }

    .payment {

    }

}
