[ssb-text-component] {
    position:relative;
    z-index: 3!important;
    .edit-wrap.ssb-edit-wrap.ssb-element{
    	min-width: 200px;
    }
}
section.ssb-page-section-layout-1-col-grid{
    div.ssb-text-only:not(:nth-of-type(3)):not(:nth-last-child(2)) div.col-xs-12{
        padding-right: 0px;
        padding-left: 0px;
    }
    div.ssb-text-only:nth-of-type(3) div.col-xs-12{
        padding-right: 0px;
    }
    div.ssb-text-only:nth-last-child(2) div.col-xs-12{
        padding-left: 0px;
    }
}
