/********** Rss Feed **********/

.rss-feed-component {
    .feed-list-loading{
        min-height: 300px;
    }
    ul.ssb-rss-feed-list{
        list-style: none;
        padding-left:20px;
        padding-right:20px;
        .rss-feed-title,.rss-feed-description{
            a.btn-link{
                color: inherit;
            }
        }
    }
}


