@media screen and (min-width: 768px) {
    .ssb-page-section.ssb-wrap-left-fixed-left-nav, .ssb-page-layout-row.ssb-wrap-left-fixed-left-nav{
        position: fixed;
        z-index: 10;
        max-width: 360px;
        min-width: 250px;
        word-break: break-all;
        .ssb-section-section{
            height: 100vh;
            overflow: auto;
        }
        [navigation-component]{
            width: 100% !important;
            float:none !important;
            .navbar-collapse{
                float:none !important;
            }
            ul.navbar-nav{
                float: none !important;
                text-align: center !important;
                width: 100% !important;
                li{
                    float: none !important;
                    display: block !important;
                }
            }
        }
        [social-link-component]{
            width: 100% !important;
            float:none !important;
        }


        .ssb-page-section-layout-header [ssb-text-component] {
            width: 100%;
            margin: 0 auto;
        }
    }
    .ssb-wrap-fixed-right-nav{
        margin-left:250px;
    }
    .ssb-wrap-left-fixed-left-nav {
     .navbar .nav li a {
      display: inline-block;
      }
      ul.nav-sub-menu{
             position: relative ;
       }
    }

   .ssb-page-section.ssb-wrap-left-fixed-left-nav {
      .ssb-section-section{
          overflow: auto !important;
      }
   }
}
