[class*="ssb-theme-"] {

    .ssb-page-section-layout-contact-us-v3 {
        .contact-title{
            z-index: 2;
        }
        .ssb-contact-us-social{            
            @media screen and (min-width: 768px) {
			    top: -290px;
	            width: auto;
	            margin-left: calc(~"50% + 5px");
                position: relative;
  			}
            @media screen and (max-width: 767px) {
                padding-top: 50px;
            }

            &.flex-container-relative-column{
                position: relative;
                z-index: 3;
                float: left;
                width: 100%;
                left: 0;
                bottom: 0;
                top: 0;
            }
            [social-link-component]{
                z-index: 2 !important; 
                overflow: hidden; 
            }
        }
    }
}
