.ssb-text-column-layout{
	&.ssb-text-column-2 {
		[text-only-component]{
			width:50%;
			float: left;
		}
	}
	&.ssb-text-column-3 {
		[text-only-component]{
			width:33.33%;
			float: left;
		}
	}
	&.ssb-text-column-4 {
		[text-only-component]{
			width:25%;
			float: left;
		}
	}
	&.ssb-text-column-5 {
		[text-only-component]{
			width:20%;
			float: left;
		}
	}
	&.ssb-text-column-6 {
		[text-only-component]{
			width:16.66%;
			float: left;
		}
	}
}