.ssb-page-section-media-form-builder{
	@media screen and (max-width: 767px) {
        [text-only-component]{
       		width: 100%;
        }
        [ssb-form-builder-component]{
       		width: 100%;
        }
    }
}

.ssb-page-section-media-simple-form{
	@media screen and (max-width: 767px) {
        [text-only-component]{
       		width: 100%;
        }
        [simple-form-component]{
       		width: 100%;
        }
    }
}