[class*="ssb-theme-"] {
    .ssb-page-section-layout-hero {
        .ssb-theme-btn {
            line-height: 1em;
            vertical-align: middle;
            padding: 1em;
        }
    }

    .ssb-page-section-layout-hero {

        // height: 200px;
        // width: auto;
        // margin: 0 auto;

        .ssb-theme-btn * {
            display: inline-block;
            line-height: 1.2;
        }
    }
}
