[class*="ssb-theme-"] {

    .ssb-page-section-layout-contact-us-v3 {
        .ssb-contact-us-social{

            z-index:2;
            @media screen and (min-width: 768px) {
			    top: -20%;
	            width: auto;
	            left: calc(~"50% + 5px");
  			}
        }
        
    }
}
