.ssb-text-column-layout{
	.ssb-col-hide{
		display: none !important;
	}
	.ssb-text-last-column-full-width{
		clear: both;
	}
	.col-xs-15,
	.col-sm-15,
	.col-md-15,
	.col-lg-15 {
	    position: relative;
	    min-height: 1px;
	    padding-right: 10px;
	    padding-left: 10px;
	}

	.col-xs-15 {
	    width: 100%;
	    float: left;
	}
	@media (min-width: 768px) {
	.col-sm-15 {
	        width: 20%;
	        float: left;
	    }
	}
	@media (min-width: 992px) {
	    .col-md-15 {
	        width: 20%;
	        float: left;
	    }
	}
	@media (min-width: 1200px) {
	    .col-lg-15 {
	        width: 20%;
	        float: left;
	    }
	}



	.generate-column-spacing-classes(500);

	.generate-column-spacing-classes(@n, @i: 10) when (@i =< @n) {
	  .ssb-component-layout-columns-spacing-left-@{i} {
	    padding-left: (1px * @i/2) !important;
	  }
	  .ssb-component-layout-columns-spacing-right-@{i} {
	    padding-right: (1px * @i/2) !important;
	  }
	  .ssb-component-layout-columns-spacing-@{i} {
	    padding-right: (1px * @i/2) !important;
	    padding-left: (1px * @i/2) !important;
	  }
	  .generate-column-spacing-classes(@n, (@i + 10));
	}
}