[class*="ssb-theme-"] {

    .ssb-section-section.ssb-section-type-products {
        [products-component]{
            z-index: 5 !important;
            .component-wrap{
            	position: inherit;
            	button, a{
            		position: relative;
            		z-index: 2;
            	}
            }
        }
        
    }
}