[class*="ssb-theme-"] {

    .ssb-section-section.ssb-section-type-products {
        [products-component]{
            z-index: 5 !important;
            .component-wrap{
            	position: inherit;
            	.products-v1{
            		.products{
            			position: relative;
            			z-index: 2;
            		}
            	}
            }
        }
        
    }
}