[class*="ssb-theme-"] {
    .ssb-page-section-layout-hero {
        .ssb-theme-btn {
            line-height: 1em;
            vertical-align: middle;
            padding: 1em;
        }
    }

    /*
     * Common for all versions
    */

    .ssb-page-section-layout-hero {

        .ssb-media-query-small-only({
            padding: 0 0 2em 0!important;
        });

        .ssb-theme-btn * {
            display: inline-block;
            line-height: 1.2;
        }
    }

    .ssb-page-section-layout-hero [ssb-text-component] {
        width: 100%;
        // height: 150px;
        text-align: center;
        font-size: 96px;
    }

    .ssb-page-section-layout-hero [ssb-text-component] p {
        font-size: initial;
        line-height: initial;
    }

    .ssb-page-section-layout-hero [ssb-text-component] {
        width: 100%;
        position: static;
        transform: none;
        margin: 0;

        .ssb-media-query-small-only({
            .element-wrap {
                width: 80%;
                margin: 0 auto;
            }
        });

        .ssb-media-query-medium({
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 75%;
        });
    }

    .ssb-page-section-layout-hero [ssb-image-component] {

        .ssb-media-query-small-only({
            padding: 0 0 2em 0!important;
        });

    }

    /*
     * layout-hero-v5
    */

    .ssb-page-section-layout-hero-v5{
        [social-link-component] {
            width: 100%;
            position: static;
            transform: none;
            margin: 0;

            .ssb-media-query-small-only({
                .element-wrap {
                    width: 80%;
                    margin: 0 auto;
                }
            });

            .ssb-media-query-medium({
                position: absolute;
                bottom: 125px;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 75%;
            });
        }
    }

    /*
     * layout-hero-v6
    */

    .ssb-page-section-layout-hero-v6{
        [ssb-text-component]{
            background: rgba(0, 0, 0, .5);
            border: 1px #000 solid;
            border-radius: 4px;
        }
    }

    /*
     * layout-hero-v7
    */

    .ssb-page-section-layout-hero-v7{
        [ssb-text-component].ssb-component-index-2 {
            width: 100%;
            position: static;
            transform: none;
            margin: 0;

            .ssb-media-query-small-only({
                .element-wrap {
                    width: 80%;
                    margin: 0 auto;
                }
            });

            .ssb-media-query-medium({
                position: absolute;
                bottom: 125px;
                top: inherit;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 75%;
            });
        }
    }

}
