.ssb-text-column-layout{



	.ssb-component{
		z-index: 2!important;
		.ssb-edit-wrap .ssb-element-text{
			.fr-element.fr-view{
				min-height: 20px;
			}
			
		}
	}

	.ssb-col-hide{
		display: none !important;
	}
	.ssb-clear-left{
		clear: left;
	}
	.ssb-text-last-column-full-width{
		clear: both;
	}
	.col-xs-15,
	.col-sm-15,
	.col-md-15,
	.col-lg-15 {
	    position: relative;
	    min-height: 1px;
	    padding-right: 10px;
	    padding-left: 10px;
	}

	.col-xs-15 {
	    width: 100%;
	    float: left;
	}
	@media (min-width: 768px) {
	.col-sm-15 {
	        width: 20%;
	        float: left;
	    }
	}
	@media (min-width: 992px) {
	    .col-md-15 {
	        width: 20%;
	        float: left;
	    }
	}
	@media (min-width: 1200px) {
	    .col-lg-15 {
	        width: 20%;
	        float: left;
	    }
	}



	.generate-column-spacing-classes(500);

	.generate-column-spacing-classes(@n, @i: 10) when (@i =< @n) {
	  .ssb-component-layout-columns-spacing-last-column-@{i} {
	  	.component-wrap{
	  		margin-right: -(1px * @i/2);
		    padding-left: (1px * @i/2);
		    padding-right: (1px * @i/2);
	  	}
	    
	  }
	  .ssb-component-layout-columns-spacing-first-column-@{i} {
	    .component-wrap{
	  		margin-right: 0;
		    padding-left: (1px * @i/2);
		    padding-right: (1px * @i/2);
		    margin-left: -(1px * @i/2);
	  	}
	  }
	  .ssb-component-layout-columns-spacing-@{i} {
	    .component-wrap{
	  		margin-right: -(1px * @i/4);
		    padding-left: (1px * @i/2);
		    padding-right: (1px * @i/2);
		    margin-LEFT: -(1px * @i/4);
	  	}
	  }
	  .generate-column-spacing-classes(@n, (@i + 10));
	}

	.generate-row-spacing-classes(500);

	.generate-row-spacing-classes(@n, @i: 10) when (@i =< @n) {
	  
		.ssb-component-layout-rows-spacing-@{i} {
			@media (min-width: 768px) {
				.component-wrap{
					margin-top: (1px * @i);
				}
			}
		}
		.ssb-component-layout-rows-mobile-spacing-@{i} {
			@media (max-width: 767px) {
				.component-wrap{
					margin-top: (1px * @i);
				}
			}
		}
	  .generate-row-spacing-classes(@n, (@i + 10));
	}
}
.ssb-text-column-layout.ssb-page-section-layout-1-col-grid,
section.ssb-page-section-layout-1-col-grid{
    .col-xs-15,
	.col-sm-15,
	.col-md-15,
	.col-lg-15 {
	    position: relative;
	    min-height: 1px;
	    padding-right: 0px;
	    padding-left: 0px;
	}
    .abs_overlay, .admin_grid_view{
        width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
    }
	.v-dispaly-center-align{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	.v-dispaly-top-align{
		display: flex; 
		align-items: flex-start;
		justify-content: center;
		height: 100%;
	}
	.v-dispaly-bottom-align{
		display: flex; 
		align-items: flex-end;
		justify-content: center;
		height: 100%;
	}		
    [class*="ssb-component-layout-columns-spacing-1"],
    [class*="ssb-component-layout-columns-spacing-2"],
    [class*="ssb-component-layout-columns-spacing-3"],
    [class*="ssb-component-layout-columns-spacing-4"],
    [class*="ssb-component-layout-columns-spacing-5"],
    [class*="ssb-component-layout-columns-spacing-6"],
    [class*="ssb-component-layout-columns-spacing-7"],
    [class*="ssb-component-layout-columns-spacing-8"],
    [class*="ssb-component-layout-columns-spacing-9"]{
        .component-wrap {
            margin-right:0px!important;
            margin-left:0px!important;
        }
    }
    [class*="ssb-component-layout-columns-spacing-first-column"] .component-wrap {
        padding-left:0px!important;
    }
}
