[class*="ssb-theme-"] {

    /*
     * layout-gallery-common
     */

    [image-gallery-component] { //support legacy w/ image-galleries not contained by .ssb-page-section-image-gallery
        .component-wrap {
            position: static !important; //needed for the lightbox effect
        }
    }


    .ssb-page-section-image-gallery.no-component-vertical-space{
        [image-gallery-component]{
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }

    .ssb-page-section-image-gallery {
        [image-gallery-component] {
            z-index: 2!important;
            position: relative;
            .component-wrap {
                position: static; //needed for the lightbox effect
            }
            .slick-slide{
                padding: 0 !important;
                outline: 0 !important;
            }
            .slider-main{
                margin:0 !important;
            }

            .editing.image-wrap {
                &:hover {
                    margin-top: 4px!important;
                }
            }
            .slider-nav-thumbnails{
                bottom: 0;
                .slick-slide{
                    img{
                        height:150px;
                        width: 150px;
                        margin: 0 auto;
                    }
                }
            }
            .single-image{
                background: transparent;
            }
            .btn-add-image{
                clear:both;
                margin:20px;
            }
        }
    }


    /*
     * layout-gallery-v2
     */
    .ssb-page-section-layout-gallery-v2 {
        [image-gallery-component]
        {
            padding: 50px 0 !important;
            .image-gallery-title, .image-title{
                display:none;
            }

            .editing.image-wrap {
                &:hover {
                    .image-gallery,.image-overlay{
                        min-height: 246px!important;
                    }
                }
            }
            .image-gallery,.image-overlay{
                min-height: 250px!important;
            }
        }
        div.image-overlay{
            overflow: hidden;
            max-width: 100%;
            &.mouse-off{
                display: block;
            }
            &.mouse-on {
                display: none
            }
            div.header{
                display: flex; 
                align-items: flex-end;
                justify-content: center;
                font-weight: bold;
                height: 50%;
                text-decoration: none;
                min-height: 125px;
            }
            div.desc{
                display: flex; 
                align-items: flex-start;
                justify-content: center;
                height: 50%;
                text-decoration: none;
                min-height: 125px;
            }
        }
        div.image-gallery:hover div.image-overlay.mouse-on{
            display: block;
        }
        div.image-gallery:hover div.image-overlay.mouse-off{
            display: none;
        }
    }

    /*
     * layout-gallery-v3
     */
    .ssb-page-section-layout-gallery-v3 {
        [image-gallery-component]
        {
            padding: 50px 0 !important;
            .image-gallery-title{
                display:none;
            }

            @media screen and (min-width: 768px) and (max-width: 991px) {
               .image-gallery-images:not(:first-child):nth-child(2n+1){
                    .image-wrap{
                        clear:left;
                    }
                }
            }

            @media screen and (min-width: 992px) {
                .image-gallery-images:not(:first-child):nth-child(3n+1){
                    .image-wrap{
                        clear:left;
                    }
                }
            }

            .editing.image-wrap {
                &:hover {
                    .image-gallery{
                        min-height: 246px!important;
                    }
                }
            }
            .image-gallery,.image-overlay{
                min-height: 250px!important;
            }
            div.image-overlay{
                overflow: hidden;
                max-width: 100%;
                &.mouse-off{
                    display: block;
                }
                &.mouse-on {
                    display: none
                }
                div.header{
                    display: flex; 
                    align-items: flex-end;
                    justify-content: center;
                    font-weight: bold;
                    height: 50%;
                    text-decoration: none;
                    min-height: 125px!important;
                }
                div.desc{
                    display: flex; 
                    align-items: flex-start;
                    justify-content: center;
                    height: 50%;
                    text-decoration: none;
                    min-height: 125px!important;
                }
            }
            div.image-gallery:hover div.image-overlay.mouse-on{
                display: block;
            }
            div.image-gallery:hover div.image-overlay.mouse-off{
                display: none;
            }
        }
    }

    /*
     * layout-gallery-v4
     */
    .ssb-page-section-layout-gallery-v4 {
        [image-gallery-component]
        {
            padding: 50px 0 !important;
            .image-gallery-title, .image-title{
                display:none;
            }
            .single-image{
                border: 0 !important;
            }
            div.image-gallery,div.image-overlay{
                border-radius: 50%!important;
                min-height: 350px;
                width: 350px !important;
                height: 350px;
                float: none !important;
            }
            div.image-overlay{
                overflow: hidden;
                max-width: 100%;
                &.mouse-off{
                    display: block;
                }
                &.mouse-on {
                    display: none
                }
                div.header{
                    display: flex; 
                    align-items: flex-end;
                    justify-content: center;
                    font-weight: bold;
                    height: 50%;
                    text-decoration: none;
                }
                div.desc{
                    display: flex; 
                    align-items: flex-start;
                    justify-content: center;
                    height: 50%;
                    text-decoration: none;
                }
            }
            div.image-gallery:hover div.image-overlay.mouse-on{
                display: block;
            }
            div.image-gallery:hover div.image-overlay.mouse-off{
                display: none;
            }
            .editing.image-wrap {
                &:hover {
                    .image-gallery{
                        min-height: 346px!important;
                        width: 350px !important;
                        height: 346px;
                    }
                }
            }
        }
    }


    /*
     * layout-gallery-v5
     */
    .ssb-page-section-layout-gallery-v5 {
        [image-gallery-component]
        {
            padding: 50px 0 !important;
            .image-gallery-title, .image-title{
                display:none;
            }
            div.image-gallery,div.image-overlay{
                min-height: 280px!important;
            }
            div.image-overlay{
                overflow: hidden;
                max-width: 100%;
                &.mouse-off{
                    display: block;
                }
                &.mouse-on {
                    display: none
                }
                div.header{
                    display: flex; 
                    align-items: flex-end;
                    justify-content: center;
                    font-weight: bold;
                    height: 50%;
                    text-decoration: none;
                    min-height: 140px
                }
                div.desc{
                    display: flex; 
                    align-items: flex-start;
                    justify-content: center;
                    height: 50%;
                    text-decoration: none;
                    min-height: 140px
                }
            }
            div.image-gallery:hover div.image-overlay.mouse-on{
                display: block;
            }
            div.image-gallery:hover div.image-overlay.mouse-off{
                display: none;
            }
            .editing.image-wrap {
                &:hover {
                    .image-gallery{
                        min-height: 276px!important;
                    }
                }
            }
            .image-desc{
                margin: 10px 0 20px 0;
                .ssb-element p {
                    padding:20px;
                }
            }
        }
    }

    /*
     * layout-gallery-v6
     */
    .ssb-page-section-layout-gallery-v6 {

        [image-gallery-component]
        {
            padding: 50px 0 !important;
            .image-gallery-title, .image-title{
                display:none;
            }

            .editing.image-wrap {
                &:hover {
                    .image-gallery{
                        min-height: 246px!important;
                    }
                }
            }
            .image-wrap{
                float:none !important;
                text-align: center;
                margin: 0 auto;
            }
            .image-gallery,div.image-overlay{
                min-height: 250px!important;
            }
            div.image-gallery:hover div.image-overlay.mouse-on{
                display: block;
            }
            div.image-gallery:hover div.image-overlay.mouse-off{
                display: none;
            }
            div.image-overlay{
                overflow: hidden;
                max-width: 100%;
                &.mouse-off{
                    display: block;
                }
                &.mouse-on {
                    display: none
                }
                div.header{
                    display: flex; 
                    align-items: flex-end;
                    justify-content: center;
                    font-weight: bold;
                    height: 50%;
                    text-decoration: none;
                    min-height: 125px
                }
                div.desc{
                    display: flex; 
                    align-items: flex-start;
                    justify-content: center;
                    height: 50%;
                    text-decoration: none;
                    min-height: 125px
                }
            }
        }
    }

    /*
     * layout-gallery-v7
     */
    .ssb-page-section-layout-gallery-v7 {
        [image-gallery-component]
        {
            padding: 50px 0 !important;
            .image-gallery-title{
                display:none;
            }

            .editing.image-wrap {
                &:hover {
                    .image-gallery{
                        min-height: 246px!important;
                    }
                }
            }
            .image-wrap{
                float:none !important;
                text-align: center;
                margin: 0 auto;
            }
            .image-gallery,.image-overlay{
                min-height: 250px!important;
            }
            div.image-overlay{
                overflow: hidden;
                max-width: 100%;
                &.mouse-off{
                    display: block;
                }
                &.mouse-on {
                    display: none
                }
                div.header{
                    display: flex; 
                    align-items: flex-end;
                    justify-content: center;
                    font-weight: bold;
                    height: 50%;
                    text-decoration: none;
                    min-height: 125px
                }
                div.desc{
                    display: flex; 
                    align-items: flex-start;
                    justify-content: center;
                    height: 50%;
                    text-decoration: none;
                    min-height: 125px
                }
            }
            div.image-gallery:hover div.image-overlay.mouse-on{
                display: block;
            }
            div.image-gallery:hover div.image-overlay.mouse-off{
                display: none;
            }
        }
    }

    /*
     * layout-gallery-v8
     */
    .ssb-page-section-layout-gallery-v8 {
        [image-gallery-component]
        {
            padding: 50px 0 !important;
            .image-gallery-title, .image-title{
                display:none;
            }
            .single-image{
                border: 0 !important;
            }
            div.image-gallery,div.image-overlay{
                border-radius: 50%!important;
                min-height: 350px;
                width: 350px !important;
                height: 350px;
                float: none !important;
            }
            div.image-overlay{
                overflow: hidden;
                max-width: 100%;
                &.mouse-off{
                    display: block;
                }
                &.mouse-on {
                    display: none
                }
                div.header{
                    display: flex; 
                    align-items: flex-end;
                    justify-content: center;
                    font-weight: bold;
                    height: 50%;
                    text-decoration: none;
                }
                div.desc{
                    display: flex; 
                    align-items: flex-start;
                    justify-content: center;
                    height: 50%;
                    text-decoration: none;
                }
            }
            div.image-gallery:hover div.image-overlay.mouse-on{
                display: block;
            }
            div.image-gallery:hover div.image-overlay.mouse-off{
                display: none;
            }
            .editing.image-wrap {
                &:hover {
                    .image-gallery{
                        min-height: 346px!important;
                        width: 350px !important;
                        height: 346px;
                    }
                }
            }
            .image-wrap{
                float:none !important;
                text-align: center;
                margin: 0 auto;
            }
        }
    }

    /*
     * layout-gallery-v9
     */
    .ssb-page-section-layout-gallery-v9 {
        [image-gallery-component]
        {
            padding: 50px 0 !important;
            .image-gallery-title, .image-title{
                display:none;
            }
            .ssb-media-query-medium({

                .image-wrap{
                    width:16.66%;
                }

                .editing.image-wrap {
                    &:hover {
                        .image-gallery{
                            min-height: 146px!important;
                        }
                    }
                }
                .image-gallery,div.image-overlay{
                    min-height: 150px!important;
                }
                div.image-overlay{
                    overflow: hidden;
                    max-width: 100%;
                    &.mouse-off{
                        display: block;
                    }
                    &.mouse-on {
                        display: none
                    }
                    div.header{
                        display: flex; 
                        align-items: flex-end;
                        justify-content: center;
                        font-weight: bold;
                        height: 50%;
                        text-decoration: none;
                        min-height: 75px;
                    }
                    div.desc{
                        display: flex; 
                        align-items: flex-start;
                        justify-content: center;
                        height: 50%;
                        text-decoration: none;
                        min-height: 75px;
                    }
                }
                div.image-gallery:hover div.image-overlay.mouse-on{
                    display: block;
                }
                div.image-gallery:hover div.image-overlay.mouse-off{
                    display: none;
                }
                .img-container .img-row:nth-child(8n), .img-container .img-row:first-child{
                    .image-wrap{
                        width:50%;
                        .image-gallery, div.image-overlay{
                            min-height: 330px!important;
                        }
                        &:hover {
                            .image-gallery{
                                min-height: 326px!important;
                            }
                        }
                        div.image-overlay{
                            overflow: hidden;
                            max-width: 100%;
                            &.mouse-off{
                                display: block;
                            }
                            &.mouse-on {
                                display: none
                            }
                            div.header{ 
                                min-height: 165px;
                            }
                            div.desc{ 
                                min-height: 165px;
                            }
                        }
                        div.image-gallery:hover div.image-overlay.mouse-on{
                            display: block;
                        }
                        div.image-gallery:hover div.image-overlay.mouse-off{
                            display: none;
                        }
                    }
                }
            })
        }
    }
    /*
     * layout-gallery-v10
     */
    .ssb-page-section-layout-gallery-v10 {
        [image-gallery-component]
        {
            padding: 50px 0 !important;
            .img-container{
                position: relative;
            }

            .image-gallery-title, .image-title{
                display:none;
            }

            .slider-nav-thumbnails{
                bottom: 0;
                padding-top: 15px;
            }

            .slick-dots{
                z-index: 1;
                bottom: 50px !important;
                margin: 0 !important;
                li button:before{
                    opacity: 0.4;
                    color: #FFF;
                    // border: 4px solid #666;
                    // border-radius: 50%;
                    font-size: 8px;
                    line-height: 10px;
                    width: 16px;
                    height: 16px;
                }
                li.slick-active button:before{
                    color: #000;
                }

                .ssb-media-query-medium({
                    display:none !important;
                })
            }

            .slick-slider{
                margin-bottom: 0 !important;
            }

            .image-wrap{
                .image-gallery{
                    min-height: 396px !important;
                }
                &:hover {
                    .image-gallery{
                        min-height: 396px !important;
                    }
                }
            }
        }
    }

    /*
     * layout-gallery-v11
     */
    .ssb-page-section-layout-gallery-v11 {
        [image-gallery-component]
        {
            padding: 0 !important;
            .img-container{
                position: relative;
            }
            .image-gallery-title, .image-title{
                display:none;
            }

            .slider-nav-thumbnails{
                bottom: 200px;
                margin-bottom: -180px;
            }
            .slick-slide-right{
                .slick-track{
                    float:right;
                }
            }
            .slick-dots{
                z-index: 1;
                bottom: 50px !important;
                margin: 0 !important;
                li button:before{
                    opacity: 0.4;
                    color: #FFF;
                    // border: 4px solid #666;
                    // border-radius: 50%;
                    font-size: 8px;
                    line-height: 10px;
                    width: 16px;
                    height: 16px;
                }
                li.slick-active button:before{
                    color: #000;
                }

                .ssb-media-query-medium({
                    display:none !important;
                })
            }

            .image-wrap{
                .image-gallery{
                    min-height: 396px !important;
                }
                &:hover {
                    .image-gallery{
                        min-height: 396px !important;
                    }
                }
            }
        }
    }

    /*
     * layout-gallery-v12
     */
    .ssb-page-section-layout-gallery-v12 {
        [image-gallery-component]
        {
            padding: 50px 0 !important;
            .img-container{
                position: relative;
            }
            .image-gallery-title, .image-title{
                display:none;
            }

            .slider-nav-thumbnails{
                bottom: 170px;
                margin-bottom: -150px;
            }
            .slick-slide-right{
                .slick-track{
                    float:right;
                }
            }
            .slick-dots{
                z-index: 1;
                bottom: 50px !important;
                margin: 0 !important;
                li button:before{
                    opacity: 0.4;
                    color: #FFF;
                    // border: 4px solid #666;
                    // border-radius: 50%;
                    font-size: 8px;
                    line-height: 10px;
                    width: 16px;
                    height: 16px;
                }
                li.slick-active button:before{
                    color: #000;
                }

                .ssb-media-query-medium({
                    display:none !important;
                })
            }
            .image-wrap{
                .image-gallery{
                    min-height: 396px !important;
                }
                &:hover {
                    .image-gallery{
                        min-height: 396px !important;
                    }
                }
            }
        }
    }


    /*
     * layout-gallery-v13
     */
    .ssb-page-section-layout-gallery-v13 {
        [image-gallery-component]
        {
            padding: 0 !important;
            .img-container{
                position: relative;
            }
            .image-gallery-title, .image-title{
                display:none;
            }

            .slider-nav-thumbnails{
                display:none !important;
            }
            .slick-dots{
                z-index: 1;
                bottom: 50px !important;
                margin: 0 !important;
                li button:before{
                    opacity: 0.4;
                    color: #FFF;
                    // border: 4px solid #666;
                    // border-radius: 50%;
                    font-size: 8px;
                    line-height: 10px;
                    width: 16px;
                    height: 16px;
                }
                li.slick-active button:before{
                    color: #000;
                }
            }

            .image-wrap{
                .image-gallery{
                    min-height: 396px !important;
                }
                &:hover {
                    .image-gallery{
                        min-height: 396px !important;
                    }
                }
            }
        }
    }

    /*
     * layout-gallery-v14
     */
    .ssb-page-section-layout-gallery-v14 {
        [image-gallery-component]
        {
            padding: 50px 0 !important;
            .img-container{
                position: relative;
            }
            .image-gallery-title, .image-title{
                display:none;
            }

            .slider-nav-thumbnails{
                display:none !important;
            }
            .slick-dots{
                z-index: 1;
                bottom: 50px !important;
                margin: 0 !important;
                li button:before{
                    opacity: 0.4;
                    color: #FFF;
                    // border: 4px solid #666;
                    // border-radius: 50%;
                    font-size: 8px;
                    line-height: 10px;
                    width: 16px;
                    height: 16px;
                }
                li.slick-active button:before{
                    color: #000;
                }
            }
            .image-wrap{
                .image-gallery{
                    min-height: 396px !important;
                }
                &:hover {
                    .image-gallery{
                        min-height: 396px !important;
                    }
                }
            }
        }
    }
}
