/* ---------------------------------------------------------------------- */


/*  Labels and Badges
/* ---------------------------------------------------------------------- */

.badge {
    background-color: @primary;
}

.badge-success {
    background-color: #5CB85C;
}

.badge-success[href]:hover,
.badge-success[href]:focus {
    background-color: #449D44;
}

.badge-warning {
    background-color: #F0AD4E;
}

.badge-warning[href]:hover,
.badge-warning[href]:focus {
    background-color: #EC971F;
}

.badge-info {
    background-color: #5BC0DE;
}

.badge-info[href]:hover,
.badge-info[href]:focus {
    background-color: #31B0D5;
}

.badge-danger {
    background-color: #D9534F;
}

.badge-danger[href]:hover,
.badge-danger[href]:focus {
    background-color: #C9302C;
}

.badge-new {
    background-color: #007AFF;
    border-radius: 12px 12px 12px 12px !important;
    font-size: 11px !important;
    font-weight: 300;
    height: 18px;
    padding: 3px 6px;
    text-align: center;
    text-shadow: none !important;
    vertical-align: middle;
}

.label-default {
    background-color: @primary;
}

.label {
    font-size: 85% !important;
    padding: 0.4em 0.6em !important;
}

.label-inverse,
.badge-inverse {
    background-color: #555555;
}

.two-letter-label {
    height: 35px;
    width: 35px;
    border-radius: 30px;
    line-height: 35px;
    font-weight: bold;
    color: white;
    margin-right: 3px;
    margin-bottom: 3px;
    text-transform: uppercase;
}

.turquoise { background: #1abc9c; }
.emerland { background: #2ecc71; }
.peterriver { background: #3498db; }
.amethyst { background: #9b59b6; }
.wetasphalt { background: #34495e; }
.greensea { background: #16a085; }
.nephritis { background: #27ae60; }
.belizehole { background: #2980b9; }
.wisteria { background: #8e44ad; }
.midnightblue { background: #2c3e50; }
.sunflower { background: #f1c40f; }
.carrot { background: #e67e22; }
.alizarin { background: #e74c3c; }
.clouds { background: #ecf0f1; color: #999; }
.concrete { background: #95a5a6; }
.orange { background: #f39c12; }
.pumpkin { background: #d35400; }
.pomegranate { background: #c0392b; }
.silver { background: #bdc3c7; }
.asbestos { background: #7f8c8d; }
