.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
    color: #fff!important;
    background: #47b1cc;
    border: 1px solid #357ebd;
    border-radius: 4px;
    height: 25px;
    padding: 0 5px;
    line-height: 25px;
    font-size: 14px;
    .close.ui-select-match-close {
	    margin-left: 0px;
	    margin-top: 5px;
	}
}