<div class="rss-feed-{{vm.component._id}} rss-feed-component">
    <div class="col-xs-12 component-body">
        <div class="inner-page-1">
            <div data-edit class="row">
            	<div class="form-title ssb-theme-heading-text">
                    <div elem ng-model="vm.component.heading"></div>
                </div>
                <div class="row-fluid margin-top-10">
                	<div class="feed-list-loading" ng-if="!vm.loading">
                		<span class="center">Loading....</span>
                	</div>
		            <ul class="ssb-rss-feed-list" ng-if="vm.loading">		                
		                <li ng-repeat="feed in vm.feeds | filter:filterText">                  
		                    <p class="rss-feed-title" ng-attr-style="{{vm.titleStyle()}}"><a class="btn-link ssb-theme-btn padding-top-0" href="{{feed.link}}" ng-bind-html="feed.title"></a></p>
		                    <p class="rss-feed-description" ng-attr-style="{{vm.descriptionStyle()}}"><a class="btn-link ssb-theme-btn padding-top-0" href="{{feed.link}}" ng-bind-html="feed.contentSnippet"></a></p>
		                    <hr ng-if="vm.component.settings.horizontalRule"> 
		                </li>
		            </ul>            
        		</div>
            </div>
        </div>
    </div>
</div>