<!--
* COPYRIGHT CMConsulting LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact christopher.mina@gmail.com for approval or questions.
*
-->

<div>
    <label class="editable" data-class="label">
        {{#if label}}
            {{label}}
        {{else}}
            Sample Label
        {{/if}}
    </label>

    <div class="editable" data-class="description">
        {{#if description}}
            {{description}}
        {{else}}
            Enter multiline description here
        {{/if}}
    </div>

    <h4>Edit details here</h4>
    <form class="form">

    </form>
</div>
