<!--
* COPYRIGHT CMConsulting LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact christopher.mina@gmail.com for approval or questions.
*
-->

<div>
    <div class="component-header">
        <div class="editable" data-class="label">This is my freeform label</div>
        <div class="editable" data-class="description">I like to add a bit of description to my freeform pages, before the freeform starts </div>
    </div>

    <hr/>
    <div class="component-body">
        <div class="editable" data-class="value">
            This is where my freeform value really goes
        </div>
    </div>
</div>