.indi-email-campaign {

    .campaign-recipient-tabs{
        .nav-tabs>li.active a, .nav-tabs>li.active a:focus, .nav-tabs>li.active a:hover {
            background-color: #f5f5f5;
        }

        .nav-tabs>li a {
            padding: 10px 5px;
        }
    }

    .campaign-top-tab-bar{
        .border-bottom-0{
            border-bottom: 0;
        }
    }
    
    .margin-right-mobile{
    	@media screen and (max-width: 400px) {
       		margin-right: 5px;
    	}
    }
    .campaign-email-settings-container{
        .required{
            color: red;
            margin-left: -10px;
        }
    }
    .campaign-btn-wide{
        max-width: 100px;
        margin-bottom: 5px;
        @media screen and (max-width: 940px) {
            span{
                display: none;
            }
        }
    }
}
