<div class="timeline-element col-md-12" ng-repeat="video in videos | orderBy:videoSort">
    <div class="timeline-image"
         tooltip="Day {{(video.scheduledDay) +', '+(getScheduledTime(video) | date:'hh:mm a')}}"
         tooltip-placement="right"
         ng-click="$parent.$parent.$parent.showTimelineItemModal(video,$index,videos.length)">
        <span class="glyphicon glyphicon-envelope"></span>
    </div>
    <div class="playlist-video">
        <h4 class="video-title"><a ng-href="{{getLink(video, $index)}}"><span tooltip="{{video.videoTitle}}"
                                                                              tooltip-placement="bottom"
                                                                              class="single-line-text">{{($index+1)+'. '+video.videoTitle}}</span></a>
        </h4>

        <div class="preview-image-container">
            <img ng-src="{{video.videoPreviewUrl}}" class="preview-image"/>
            <button class="btn btn-square-sm remove-video" ng-click="removeVideo(video)"><span
                    class="glyphicon glyphicon-remove"></span>
            </button>
            <div class="duration">{{formatDuration(video.media$group.yt$duration.seconds)}}</div>
        </div>
    </div>
</div>
<div class="timeline-element timeline-element-no-border col-md-12">
    <div class="timeline-image ng-scope"><span class="glyphicon glyphicon-envelope" ng-click="$parent.showAddCourseModal()"></span></div>
    <div class="playlist-video drag-drop-target">
        <h4 class="video-title"><span class="glyphicon glyphicon-move"></span>Drag & Drop here</a>
        </h4>
    </div>
</div>
