<div class="timeline-element col-md-12" ng-repeat="video in videos | orderBy:videoSort">
    <div class="timeline-image"
         tooltip="Day {{(video.scheduledDay) +', '+(getScheduledTime(video) | date:'hh:mm a')}}"
         tooltip-placement="right"
         ng-click="$parent.$parent.$parent.showTimelineItemModal(video)"><span
            class="glyphicon glyphicon-envelope"></span></div>
    <div class="playlist-video">
        <button class="btn btn-square-sm" ng-click="removeVideo(video)"><span
                    class="glyphicon glyphicon-remove"></span>
            </button>
        <h4 class="video-title"><a ng-href="{{getLink(video, $index)}}"><span tooltip="{{video.videoTitle}}" tooltip-placement="bottom" class="single-line-text">{{($index+1)+'. '+video.videoTitle}}</span></a>
        </h4>
        <div class="preview-image-container">
            <img ng-src="{{video.videoPreviewUrl}}" class="preview-image"/>
            <div class="duration">{{formatDuration(video.media$group.yt$duration.seconds)}}</div>
        </div>
    </div>

    <!--<div class="duration">{{formatDuration(video.media$group.yt$duration.seconds)}}</div>-->
    <!--<div class="rating">-->
    <!--<div class="like" style="width: {{100 * (video.gd$rating.average / 5)}}%;"></div>-->
    <!--</div>-->
</div>
