<onboarding-popover enabled='showOnboarding' steps='onboardingSteps' step-index='stepIndex' onFinishCallback='finishOnboarding'></onboarding-popover>
<div class="pageheader row">
  <div class="col-xs-7">
    <h2><i class="fa fa-bullhorn"></i> Marketing</h2>
  </div>
  <div class="col-xs-5">
    <a class="btn btn-success pull-right btn-add-course" type="button" ng-click="!courseBlocked && showAddCourseModal()">
      <span class="fa fa-plus"></span>
      <span class="hidden-xs">Add Campaign</span>
    </a>
  </div>
</div>

<div id="pipeshiftDiv" class="contentpanel" ng-style="styleMarketing()" indigeweb-resize>
  <div class="col-md-12 pscontainer video-container">
    <div class="playlist-editor">

      <div class="col-sm-5 videos-search-col">
        <div class=" panel panel-default">
          <div class="panel-heading">
            <div class="dropdown col-sm-4">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" tooltip="Media Source">
                <h3 class="panel-title">
                  <span class="fa" ng-class="{'fa-youtube-square': searchType==1, 'fa-vimeo-square': searchType==2, 'fa-dropbox': searchType==3, 'fa-envelope': searchType==4}"></span> {{searchLabels[searchType]}}
                  <span class="caret"></span>
                </h3>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a ng-click="searchType=1">
                    <span class="fa fa-youtube-square"></span> Youtube</a>
                </li>
                <li class="disabled">
                  <a>
                    <span class="fa fa-vimeo-square"></span> Vimeo</a>
                </li>
                <li class="disabled">
                  <a>
                    <span class="fa fa-dropbox"></span> Dropbox</a>
                </li>
                <li class="">
                  <a ng-click="searchType=4">
                    <span class="fa fa-envelope"></span> Email</a>
                </li>
              </ul>
            </div>
            <div class="panel-btns col-sm-8">
              <form class="search-form" ng-submit="findVideo(query)">
                <div class="fullwidth-input-wrapper">
                  <input ng-model="query" type="text" placeholder="Search" class="input">
                </div>
                <button class="btn btn-search btn-primary btn-square" type="submit">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </form>
            </div>
          </div>

          <div class="panel-body" ng-style="styleMarketing()" resize ng-show="searchType==1">
            <div class="videos-search-wrap">
              <div when-ui-scrolled="loadMore()" class="col-md-12 video-list">
                <div ng-include src="'/pipeshift/views/video/videos.html'"></div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="panel-body" ng-style="styleMarketing()" resize ng-show="searchType==4">
            <div class="videos-search-wrap">
              <div when-ui-scrolled="loadMore()" class="col-md-12 video-list">
                <div ng-include src="'/pipeshift/views/video/email.html'"></div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-7 playlist-col">
        <div class=" panel panel-default">
          <div class="panel-heading">
            <div class="col-sm-10">
              <h4 for="course-selection" class="col-xs-6 col-md-4 course-panel-title">Campaign{{courses.length>1?'s':''}}
                <span class="badge">{{courses.length}}</span>
              </h4>
              <input disabled class="playlist-selector" placeholder="Add Campaign" ng-if="courses.length==0" />
              <select id="course-selection" ng-model="ui.selectedCourseId" class="playlist-selector col-xs-6 col-md-8" ng-change="courseSelected()" ng-if="courses.length>0" ng-disabled="courseBlocked" ng-options="course._id as course.title for course in courses | orderBy:'title'">
              </select>

            </div>
            <div class="panel-btns col-sm-2">
              <span class="fa fa-edit" tooltip="Edit Selected Campaign" tooltip-placement="left" ng-click="!courseBlocked && showCourseInfoModal(course)" ng-show="ui.selectedCourseId"></span>
            </div>
          </div>

          <div class="panel-body" ng-style="styleMarketing()" resize ng-show="ui.selectedCourseId">
            <div ng-show="searchType==1" class="playlist timeline" video-drop from="videos" ng-disabled="courseBlocked" to="course.videos" videos="course.videos" remove-video="showRemoveVideoModal" add-video="addVideo" video-sort="dayTimeSort" no-video-modal='showAddCourseModal'>
            </div>

            <div ng-show="searchType==4">
              <div class="timeline-element col-md-12" ng-repeat="email in course.emails">
                <div class="col-md-6 video" video-draggable index="0">
                  <a class="video clearfix">
                    <h4 class="video-title">
                      <span class="glyphicon glyphicon-move"></span>
                      <span tooltip="Default Email" tooltip-placement="bottom" class="single-line-text">{{email.title}}</span>
                    </h4>
                    <span class="fa fa-envelope"></span>
                    <button class="btn btn-square-sm remove-video" ng-click="removeEmail(email)"><span
                      class="glyphicon glyphicon-remove"></span>
                    </button>
                  </a>
                </div>
              </div>
              <div class="timeline-element timeline-element-no-border col-md-12">
                <div class="timeline-image ng-scope"><span class="glyphicon glyphicon-envelope" ng-click="showAddCourseModal()"></span></div>
                <div class="playlist-video drag-drop-target">
                  <h4 class="video-title"><span class="glyphicon glyphicon-move"></span>Drag & Drop here</a>
                  </h4>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="rightpanel">
  <div class="rightpanel rightpanel-marketing">
    <ul class="nav nav-tabs nav-justified">
      <li class="active"><a href="#" data-toggle="tab">Settings</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane pane-settings active" id="rp-settings">
        <h4>No Settings Avaliable</h4>
      </div>
    </div>
  </div>
</div>

<div ng-include="'/pipeshift/views/directives/videoPreview.html'" class="hidden"></div>
<div ng-include="'/pipeshift/views/directives/emailPreview.html'" class="hidden"></div>
<div ng-include="'/pipeshift/views/directives/coursePreview.html'" class="hidden"></div>
<div ng-include="'/pipeshift/views/directives/courseEmailPreview.html'" class="hidden"></div>
