<div class="pageheader row">
    <div class="col-xs-7">
        <h2><i class="fa fa-bullhorn"></i> Marketing</h2>
    </div>
    <div class="col-xs-5">
        <a class="btn btn-success pull-right btn-add-course" type="button" ng-click="!courseBlocked && showAddCourseModal()">
            <span class="fa fa-plus"></span>
            <span class="hidden-xs">Add Campaign</span>
        </a>
    </div>
</div>

{{}}

<div id="pipeshiftDiv" class="contentpanel" resize-directive ng-style="styleMarketing">
    <div class="col-md-12 pscontainer video-container">
        <div class="playlist-editor">

            <div class="col-sm-5 videos-search-col">
                <div class=" panel panel-default">
                    <div class="panel-heading">
                        <div class="dropdown col-sm-4">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" tooltip="Media Source">
                              <h3 class="panel-title"><span
                                        class="fa fa-youtube-square"></span> Youtube <span class="caret"></span> 
                            </h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                  <li><a href="#"><span
                                        class="fa fa-youtube-square"></span> Youtube</a></li>
                                  <li class="disabled"><a href="#"><span
                                        class="fa fa-vimeo-square"></span> Vimeo</a></li>
                                   <li class="disabled"><a href="#"><span
                                        class="fa fa-dropbox"></span> Dropbox</a></li>
                                </ul>
                        </div>
                        <div class="panel-btns col-sm-8">
                        <form class="search-form" ng-submit="findVideo(query)">
                                <div class="fullwidth-input-wrapper">
                                    <input ng-model="query" type="text" placeholder="Search" class="input">
                                </div>
                                <button class="btn btn-search btn-primary btn-square" type="submit"><span
                                        class="glyphicon glyphicon-search"></span>
                                </button>
                            </form>
                      </div>
                    </div>

                    <div class="panel-body">
                        <div class="videos-search-wrap">
                            <div when-ui-scrolled="loadMore()" class="col-md-12 video-list" ng-style="styleMarketing()" resize>
                                <div ng-include src="'/pipeshift/views/video/videos.html'"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 playlist-col">
                    <div class=" panel panel-default">
                        <div class="panel-heading">
                            <div class="col-sm-8">
                            <h4 for="course-selection" class="col-xs-4 course-panel-title">Campaign{{courses.length>1?'s':''}} <span class="badge">{{courses.length}}</span> </h4>
                            <input disabled class="playlist-selector" placeholder="Add Campaign" ng-if="courses.length==0"/>
                            <select id="course-selection" ng-model="ui.selectedCourseId" class="playlist-selector col-xs-8"
                                        ng-change="courseSelected()" ng-if="courses.length>0" ng-disabled="courseBlocked"
                                        ng-options="course._id as course.title for course in courses | orderBy:'title'">
                                </select>

                            </div>
                            <div class="panel-btns col-sm-4">
                                <span class="fa fa-edit" tooltip="Edit Selected Campaign" tooltip-placement="left" ng-click="!courseBlocked && showCourseInfoModal(course)"></span>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="playlist timeline" video-drop from="videos" ng-disabled="courseBlocked" to="course.videos" videos="course.videos" remove-video="showRemoveVideoModal" add-video="addVideo" video-sort="dayTimeSort" ng-style="styleMarketing()" resize>
                            </div>
                        </div>
                    </div>
            </div>

        </div>
    </div>
</div>