<article>

    <h1>
        {{vm.post.post_title}}
    </h1>

    <img class="img-responsive" ng-src="{{vm.post.featured_image}}" alt="{{(vm.post.post_excerpt) ? vm.post.post_excerpt : ''}}"/>

    <section>
        {{vm.post.post_content}}
    </section>

    <ul class="post_tags" data-ng-if="vm.post.post_tags">
        <li data-ng-repeat="tag in vm.post.post_tags track by $index">
            <a href="">{{tag.text ? tag.text:tag}}</a>
        </li>
    </ul>

<!--
{
    "_id" : "528cab68-0968-4743-b142-4d14c02fc1cf",
    "accountId" : 1,
    "websiteId" : "e4fcdc01-d678-4c35-9133-3870f6f809b4",
    "pageId" : "7ee19a4b-bf99-4685-ba20-173275f9751e",
    "post_author" : "test",
    "post_title" : "test-post",
    "post_content" : null,
    "post_excerpt" : "excerpt text",
    "post_status" : "DRAFT",
    "created_date" : "2016-05-24T22:20:55.090Z",
    "publish_date" : "05/24/2016",
    "post_category" : null,
    "post_tags" : [],
    "comment_status" : null,
    "comment_count" : null,
    "post_url" : "test-post",
    "created" : {
        "date" : "2016-05-24T22:20:55.185Z"
    },
    "modified" : {
        "date" : ISODate("2016-05-24T22:22:01.027Z")
    },
    "featured_image" : "//s3.amazonaws.com/indigenous-digital-assets/account_1/100in100_mountains_1459323244395.jpg"
}
-->


    <script type="application/ld+json"></script>


</article>
