<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->
<div ng-show="component">

    <div id="{{component.anchor}}"
    class="feature-blocks {{component.bgimg.parallax?'parallax':''}}"
    data-image="{{component.bgimg.url}}"
    data-width="{{component.bgimg.width}}"
    data-height="{{component.bgimg.height}}"
    data-image-class="{{component.bgimg.blur?'blur':''}}">
    <div class="inner-page">
        <h1 class="feature-block-title">
            <div class="editable" data-class="title">
                {{component.title}}
            </div>
        </h1>

        <h3 ng-show="component.subtitle" class="feature-block-subtitle">
            <div class="editable" data-class="subtitle">
                {{component.subtitle}}
            </div>
        </h3>

        <div ng-show="component.text" class="lead center" data-class="feature-description">
            <div class="editable" data-class="text">
                {{component.text}}
            </div>
        </div>
    </div>
</div>

</div>