<!-- start: SEARCH FORM -->
<div class="search-form hidden">
	<a class="s-open" href="#">
		<i class="ti-search"></i>
	</a>
	<form class="navbar-form" role="search">
		<a class="s-remove" href="#" ng-toggle-class="search-open" target=".navbar-form">
			<i class="ti-close"></i>
		</a>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="{{ 'sidebar.search.PLACEHOLDER' | translate }}">
			<button class="btn search-button" type="submit">
				<i class="ti-search"></i>
			</button>
		</div>
	</form>
</div>


<!-- end: SEARCH FORM -->
<!-- start: MAIN NAVIGATION MENU -->
<ul class="main-navigation-menu">
	<li ui-sref-active="active" ng-if="userPermissions.dashboard">
		<a ui-sref="app.dohy">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-home"></i>
                <!--span ng-if="showDashboardNotificationIcon" class="fa fa-exclamation-circle dashboard-update-icon"></span-->
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.dashboard.MAIN"> Dashboard</span>
				</div>
			</div>
		</a>
	</li>
    <li ng-class="{'active open':$state.includes('app.inventory') || $state.includes('app.singleInventory')}" ng-if="userPermissions.inventory">
        <a ui-sref="app.inventory">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-package"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Inventory </span><i class="icon-desktop"></i>
                </div>
            </div>
        </a>
    </li>

    <li ng-class="{'active open':$state.includes('app.managequotes') || $state.includes('app.quotesnotifications') || $state.includes('app.viewquotes')}" ng-if="userPermissions.quotes">
        <a ui-sref="app.managequotes">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-file""></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.quotes.MAIN"> Quotes </span>
                </div>
            </div>
        </a>
    </li>
    <li ng-class="{'active open':$state.includes('app.purchaseorders')}" ng-if="userPermissions.purchaseorders">
        <a ui-sref="app.purchaseorders">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-shopping-cart"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Submit PO </span><i class="icon-desktop"></i>
                </div>
            </div>
        </a>
    </li>
    <li ng-class="{'active open':$state.includes('app.rmas')}" ng-if="userPermissions.rmas">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-reload"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.rmas.MAIN"> RMAs </span>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ui-sref-active="active" ng-class="{'active': $state.includes('app.rmas')}">
                <a ui-sref="app.rmas">
                    <span class="title" translate="sidebar.nav.rmas.SUBMIT"> Submit RMA </span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-class="{'active open':$state.includes('app.customers') || $state.includes('app.ledgerDetails') || $state.includes('app.invoiceDetails')}" ng-if="userPermissions.ledger">
        <a ui-sref="{{orgCardAndPermissions.userPermissions.ledgerState}}">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-receipt"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Ledger </span><i class="icon-desktop"></i>
                </div>
            </div>
        </a>
    </li>
    <li ng-class="{'active open':$state.includes('app.renewals')}" class="hidden">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-loop"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Renewals </span><i class="icon-desktop"></i>
                </div>
            </div>
        </a>
    </li>

    <li ng-class="{'active open':$state.includes('app.promotions') || $state.includes('app.promotionDetails')}" ng-if="userPermissions.promotions">
        <a ui-sref="app.promotions">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-medall"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.promotions.MAIN"> Promotions </span>
                </div>
            </div>
        </a>
    </li>

	<li ng-class="{'active open':$state.includes('app.marketing')}" class="hidden">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-announcement"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.website.MAIN"> Marketing </span><i class="icon-desktop"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu hidden" >
            <li ui-sref-active="active" ng-if="account.showhide.ssbSiteBuilder">
                <a ui-sref="app.website.ssbSiteBuilder.pages">
                    <span class="title"> Website </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.website.analytics">
                    <span class="title" translate="sidebar.nav.website.ANALYTICS"> Analytics </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.contacts">
                    <span class="title" translate="sidebar.nav.contacts.MAIN"> Contacts </span>
                </a>
            </li>
            <li ui-sref-active="active" class="hidden">
                <a ui-sref="app.website.campaigns">
                    <span class="title" translate="sidebar.nav.website.ANALYTICS"> Campaigns </span>
                </a>
            </li>
		</ul>
	</li>
	<li class="hidden" ng-class="{'active open':$state.includes('app.support')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-info-alt"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.support.MAIN"> Support </span><i class="icon-desktop"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.support.helptopics">
					<span class="title" translate="sidebar.nav.support.HELPTOPICS"> Help Topics </span>
				</a>
			</li>
			<li ui-sref-active="active" ng-if="account._id == 6">
				<a ui-sref="app.support.managetopics">
					<span class="title" translate="sidebar.nav.support.MANAGETOPICS"> Manage Topics</span>
				</a>
			</li>
		</ul>
	</li>
    <li ng-class="{'active open':$state.includes('app.broadcastmessage') || $state.includes('app.singlebroadcastmessage')}" ng-if="userPermissions.isAdminUser">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-panel"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.customers.MAIN"> Platform </span>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ui-sref-active="active" ng-class="{'active': $state.includes('app.singlebroadcastmessage' || $state.includes('app.singlebroadcastmessage'))}">
                <a ui-sref="app.broadcastmessage">
                    <span class="title" translate="sidebar.nav.customers.BROADCAST"> Broadcast Message </span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<div class="wrapper ng-scope" ng-if="account.billing.plan==='NO_PLAN_ARGUMENT'" class="hidden">
    <!--accountConstant.plan_types.TRIAL-->
    <a class="button-o" href="#/account/billing" style="text-overflow: initial!important;">
        <i class="ti-alarm-clock" ng-if="!app.layout.isSidebarClosed"></i>
        <span>{{::account.trialDaysRemaining}} </span>
        <span translate="sidebar.heading.TRIAL_REMAINING" ng-if="!app.layout.isSidebarClosed"></span>
    </a>
</div>
<!-- end: MAIN NAVIGATION MENU -->
<!-- start: DOCUMENTATION BUTTON -->
<!-- <div class="wrapper">
	<a ui-sref="app.documentation" class="button-o">
		<i class="ti-help"></i>
		<span translate="sidebar.heading.DOCUMENTATION">Documentation</span>
	</a>
</div> -->
<!-- end: DOCUMENTATION BUTTON -->
