<script type="text/ng-template" id="new-purchase-order-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h3 class="modal-title">New Purchase Order</h3>
    </div>
    <div class="modal-body bg-white" stop-event="touchend">
        <form role="form" class="ng-pristine ng-valid">
            <div class="form-group">
                <label>
                    Title
                </label>
                <input type="text" placeholder="Title" class="form-control" ng-model="newPurchaseOrder.title">
            </div>
            <div class="form-group">
                <label>
                    Text
                </label>
                <textarea placeholder="Text" class="form-control" ng-model="newPurchaseOrder.text"></textarea>
            </div>
            <div class="form-group">
                <label>
                    Attachment
                </label>
                <input ng-model='newPurchaseOrder.attachment' type="file" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled='saveLoading' ng-click="createPurchaseOrder(newPurchaseOrder)">Submit</button>
    </div>
</script>
