<script type="text/ng-template" id="new-purchase-order-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.closeModal()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h3 class="modal-title">New Purchase Order</h3>
    </div>
    <div class="modal-body bg-white new-purchase-order-modal" stop-event="touchend">
        <form name="form" role="form" id="form" ng-hide="vm.uiState.loadingNewPoModal">
            <div class="form-group" >
                <label>
                    Title
                </label>
                <input type="text" placeholder="Title" class="form-control" ng-model="vm.state.newPurchaseOrder.title">
            </div>
            <div class="form-group">
                <label>
                    Text
                    <span class="required">*</span>
                </label>
                <textarea required placeholder="Text" class="form-control" ng-model="vm.state.newPurchaseOrder.text"></textarea>
            </div>
            <div class="form-group">
                <label class="">VAR
                    <span class="required">*</span></label>
                    <ui-select ng-if="vm.state.customers.length >= 200"
                        ng-model="vm.state.newPurchaseOrder.cardCode"
                        theme="bootstrap"
                        on-select="vm.selectCardCode($select.selected)"
                        ng-disabled="vm.state.orgCardAndPermissions.cardCodes.length <= 1 && vm.state.orgCardAndPermissions.isVendor"
                        >
                        <ui-select-match
                            placeholder="VAR Name">
                            {{$select.selected.OCRD_CardName}}
                        </ui-select-match>
                        <ui-select-choices  all-choices="vm.state.customers" repeat="customer.OCRD_CardCode as customer in $select.pageOptions.customers | propsFilter: {OCRD_CardName: $select.search}" refresh-delay="0">
                            <div ng-bind-html="customer.OCRD_CardName | highlight: $select.search"></div>
                          </small>
                        </ui-select-choices>

                    </ui-select>

                    <ui-select ng-if="vm.state.customers.length < 200 && vm.state.customers.length > 1"
                        ng-model="vm.state.newPurchaseOrder.cardCode"
                        theme="bootstrap"
                        on-select="vm.selectCardCode($select.selected)"
                        ng-disabled="vm.state.orgCardAndPermissions.cardCodes.length <= 1 && vm.state.orgCardAndPermissions.isVendor"
                        >
                        <ui-select-match
                            placeholder="VAR Name">
                            {{$select.selected.OCRD_CardName}}
                        </ui-select-match>
                        <ui-select-choices repeat="customer.OCRD_CardCode as customer in vm.state.customers | propsFilter: {OCRD_CardName: $select.search}" refresh-delay="0">
                            <div ng-bind-html="customer.OCRD_CardName | highlight: $select.search"></div>
                          </small>
                        </ui-select-choices>

                    </ui-select>
                    <label class="block form-control" ng-if="vm.state.customers.length <= 1">
                        {{vm.state.newPurchaseOrder.companyName}}
                    </label>
            </div>
            <div class="form-group" >
                <label>
                    Submitter Email
                </label>
                <span class="required">*</span></label>
                <input required placeholder="Submitter Email" ng-pattern="vm.formValidations.email" class="form-control" type="email" ng-model="vm.state.newPurchaseOrder.submitterEmail">
            </div>

            <div class="form-group">
                <label class="block">
                    Attachment
                    <span class="required">*</span>
                </label>
                        <label for="upload_image" class="btn btn-primary">
                            <span>Choose File</span>
                            <input type="file"
                                   id="upload_image"
                                   class="hidden"
                                   file-model='vm.state.newPurchaseOrder.attachment'
                                   accept=".pdf, .xlsx, .xls">
                        </label>
                        <span class="file-name">{{vm.state.newPurchaseOrder.attachment.name}}</span>
            </div>
            
        </form>
        <div class="modal-body-loading center" ng-if="vm.uiState.loadingNewPoModal">
            <h3>Loading customers.....</h3>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled='form.$invalid || vm.checkIfInValid(vm.state.newPurchaseOrder) || vm.uiState.saveLoading || !vm.state.newPurchaseOrder.cardCode' ng-click="vm.createPurchaseOrder(vm.state.newPurchaseOrder, form)">Submit</button>
    </div>
</script>
