<div ng-controller="SettingsCtrl" class="sitesettings">
    <div class="modal-header">
        <h3 class="modal-title"><i class="ti-settings"></i> {{viewTitle}}</h3>
    </div>
    <div class="modal-body bg-white no-padding" stop-event="touchend">
        <div ng-show="settingsView == 'all'" class="padding-10 padding-top-20">
            
            <div class="col-sm-3">
                <div class="panel panel-transparent margin-bottom-0">
                    <div class="panel-heading padding-bottom-0 padding-top-0" style="min-height: inherit">
                        <div class="panel-title text-azure text-large">
                            <i class="ti-panel"></i> Account
                        </div>
                        <hr class="margin-top-5 margin-bottom-5">
                    </div>
                    <div class="panel-body padding-top-0 padding-bottom-0">
                        <ul class="list-unstyled cl-effect-1" style="line-height:25px">
                            <li>
                                <a class="text-dark" ng-click="navigateTo('app.account.users', $event)">Users</a>
                            </li>
                            <li>
                                <a class="text-dark" ng-click="navigateTo('app.broadcastmessage', $event)">Broadcast Messages</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="cancel($event)">Close</button>
        </div>
    </div>
</div>
