<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
html
  head
      meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
      meta(property='og:title', content='*|MC:SUBJECT|*')
      title *|MC:SUBJECT|*
      style(type='text/css').
        #outlook a{padding:0;}
        body{width:100% !important;} .ReadMsgBody{width:100%;} .ExternalClass{width:100%;}
        body{-webkit-text-size-adjust:none;}
        body{margin:0; padding:0;}
        img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
        table td{border-collapse:collapse;}
        .center{text-align: center!important;margin:0 auto;}
        #backgroundTable{height:100% !important; margin:0; padding:0; width:100% !important;}
        body, #backgroundTable{
         background-color:#FAFAFA;
        }
        #templateContainer{
         border: 1px solid #DDDDDD;
        }
        h1, .h1{
         color:#202020;
        display:block;
         font-family:Arial;
         font-size:34px;
         font-weight:bold;
         line-height:100%;
        margin-top:0;
        margin-right:0;
        margin-bottom:10px;
        margin-left:0;
         text-align:left;
        }
        h2, .h2{
         color:#202020;
        display:block;
         font-family:Arial;
         font-size:30px;
         font-weight:bold;
         line-height:100%;
        margin-top:0;
        margin-right:0;
        margin-bottom:10px;
        margin-left:0;
         text-align:left;
        }
        h3, .h3{
         color:#202020;
        display:block;
         font-family:Arial;
         font-size:26px;
         font-weight:bold;
         line-height:100%;
        margin-top:0;
        margin-right:0;
        margin-bottom:10px;
        margin-left:0;
         text-align:left;
        }
        h4, .h4{
         color:#202020;
        display:block;
         font-family:Arial;
         font-size:22px;
         font-weight:bold;
         line-height:100%;
        margin-top:0;
        margin-right:0;
        margin-bottom:10px;
        margin-left:0;
         text-align:left;
        }
        .btn {
        color: white!important;
        background: #336699;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none!important;
        margin: 15px auto;
        max-width: 150px;
        display: block;
        text-align: center;
        }
        #templateHeader{
         background-color:#FFFFFF;
         border-bottom:0;
        }
        .headerContent{
         color:#202020;
         font-family:Arial;
         font-size:34px;
         font-weight:bold;
         line-height:100%;
         padding:15px;
         text-align:center;
         vertical-align:middle;
         background-color:#cfecf5;
         border:1px solid #bbe3f0;
        }
        .headerContent a:link, .headerContent a:visited, /* Yahoo! Mail Override */ .headerContent a .yshortcuts /* Yahoo! Mail Override */{
         color:#336699;
         font-weight:normal;
         text-decoration:underline;
        }
        #headerImage{
        height:auto;
        max-width:600px !important;
        }
        #templateContainer, .bodyContent{
         background-color:#FFFFFF;
        }
        .bodyContent div{
         color:#505050;
         font-family:Arial;
         font-size:14px;
         line-height:150%;
         text-align:left;
        }
        .bodyContent div a:link, .bodyContent div a:visited, /* Yahoo! Mail Override */ .bodyContent div a .yshortcuts /* Yahoo! Mail Override */{
         color:#336699;
         font-weight:normal;
         text-decoration:underline;
        }
        .templateButton{
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
         background-color:#336699;
         border:0;
        border-collapse:separate !important;
        border-radius:3px;
        }
        .templateButton, .templateButton a:link, .templateButton a:visited, /* Yahoo! Mail Override */ .templateButton a .yshortcuts /* Yahoo! Mail Override */{
         color:#FFFFFF;
         font-family:Arial;
         font-size:15px;
         font-weight:bold;
         letter-spacing:-.5px;
         line-height:100%;
        text-align:center;
        text-decoration:none;
        }
        .bodyContent img{
        display:inline;
        height:auto;
        }
        #templateFooter{
         background-color:#FFFFFF;
         border-top:0;
        }
        .footerContent div{
         color:#707070;
         font-family:Arial;
         font-size:12px;
         line-height:125%;
         text-align:center;
        }
        .footerContent div a:link, .footerContent div a:visited, /* Yahoo! Mail Override */ .footerContent div a .yshortcuts /* Yahoo! Mail Override */{
         color:#336699;
         font-weight:normal;
         text-decoration:underline;
        }
        .footerContent img{
        display:inline;
        }
        #utility{
         background-color:#FFFFFF;
         border:0;
        }
        #utility div{
         text-align:center;
        }
        #monkeyRewards img{
        max-width:190px;
        }
        .date {
        color: #4bafca;
        text-shadow: 1px 1px 1px #ffffff;
        }

  body(leftmargin='0', marginwidth='0', topmargin='0', marginheight='0', offset='0')
    center
      table#backgroundTable(border='0', cellpadding='0', cellspacing='0', height='100%', width='100%')
        tr
          td(align='center', valign='top', style='padding:20px 0;')
            table#templateContainer(border='0', cellpadding='0', cellspacing='0', width='600', padding='15px')
              tr
                td(align='center', valign='top')
                  table#templateHeader(border='0', cellpadding='0', cellspacing='0', width='600')
                    tr
                      td.headerContent
                        img#logo(src=logourl, style='max-width:200px;float:left;max-height: 60px;')
                        h3.h3.date(style='float:right') *|SENDDATE|*

              tr
                td(align='center', valign='top')
                  table#templateBody(border='0', cellpadding='0', cellspacing='0', width='600')
                    tr
                      td(valign='top')
                        table(border='0', cellpadding='20', cellspacing='0', width='100%')
                          tr
                            td.bodyContent(valign='top')
                              div(mc:edit='std_content00')
                                div#title !{title}
                                br
                                div#content !{text}