doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
head
  title
    | &#x9;
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    | &#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    | &#x9;
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Prevents iOS from auto detecting and styling phone numbers. Remember to link tel numbers and style yourself.
    meta(name='format-detection', content='telephone=no')
    | &#x9;
    style(type='text/css').
      body {
      width: 100%;
      /* Prevent auto resizing of font size */
      -webkit-text-size-adjust: 100% !important;
      -ms-text-size-adjust: 100% !important;
      margin: 0;
      padding: 0;
      }
      img {
      border: 0;
      outline: none;
      -ms-interpolation-mode: bicubic;
      }
      a img {
      border: 0;
      }
      /* Forces Outlook to display email at 100% width */
      .ExternalClass {
      width: 100%;
      }
      /* Corrects line-height issues on Outlook */
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
      line-height: 100%;
      }
      /* Removes unwanted gap with left/right aligned tables */
      table, td {
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
      border-collapse: collapse;
      }
      /* Mobile Responsive Styles */
      /* Using attribute selectors due to media queries issues with Yahoo! Mail */
      @media only screen and (max-width: 480px) {
      table[class=device-width], td[class=device-width], img[class=device-width] {
      width: 320px !important;
      height: auto !important;
      }
      table[class=inner-width], td[class=inner-width], img[class=inner-width] {
      width: 240px !important;
      height: auto !important;
      }
      table[class=medium-width], td[class=medium-width], img[class=medium-width] {
      width: 280px !important;
      height: auto !important;
      }
      td[class=hero-1] {
      width: 320px !important;
      height: auto !important;
      background-image: url(img/hero-bg-1.jpg) !important;
      background-position: center !important;
      background-size: cover !important;
      padding-top: 60px !important;
      padding-bottom: 60px !important;
      }
      td[class=hero-2] {
      width: 320px !important;
      height: auto !important;
      background-image: url(img/hero-bg-2.jpg) !important;
      background-position: center !important;
      background-size: cover !important;
      padding-top: 60px !important;
      padding-bottom: 60px !important;
      }
      td[class=hero-3] {
      width: 320px !important;
      height: auto !important;
      padding-top: 60px !important;
      padding-bottom: 60px !important;
      }
      td[class=hero-feature] {
      padding-bottom: 30px !important;
      }
      td[class=stack] {
      display: block !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      }
      td[class=small-push] {
      padding-top: 30px !important;
      }
      td[class=wrapper] {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      }
      td[class=logo] {
      width: 320px !important;
      height: auto !important;
      text-align: center !important;
      padding-bottom: 20px !important;
      }
      td[class=logo] img {
      display: inline !important;
      }
      td[class=center] {
      width: 240px !important;
      height: auto !important;
      text-align: center !important;
      }
      td[class=head] {
      display: table-header-group !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      }
      td[class=foot] {
      display: table-footer-group !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      }
      }
  body(style='width: 100%; -webkit-text-size-adjust: 100% !important; -ms-text-size-adjust: 100% !important; margin: 0; padding: 0;')
    // /\/\/\/\/\/\/\/\/ START Inbox Preview Text /\/\/\/\/\/\/\/\/
    div(style='width: 0px; height: 0px; overflow: hidden; position: absolute; min-height: 0px; line-height: 0px; font-size: 0px; color: #ffffff;')
      | This is where the inbox preview text goes
    // /\/\/\/\/\/\/\/\/ END Inbox Preview Text /\/\/\/\/\/\/\/\/
    table(width='100%', align='center', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
      tr
        td
          table(width='100%', align='center', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
            tr
              //
                For dark background, switch to this <td>:
                <td align="center" width="100%" style="background-color: #292c34;">
              td(align='center', width='100%', style='background-color: #eaeaea;')
                table.device-width(align='center', width='680', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                  tr
                    td.wrapper(width='640', style='padding-left: 20px; padding-right: 20px; padding-top: 45px; padding-bottom: 45px;')
                      // /\/\/\/\/\/\/\/\/ START Header B /\/\/\/\/\/\/\/\/
                      table.device-width(width='640', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                        tr
                          td.device-width(width='640', style='padding-top: 30px; padding-bottom: 30px; background-color: #ffffff;')
                            table.device-width(width='640', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                              tr
                                td.stack(style='padding-left: 40px;')
                                  table.device-width(width='280', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                                    tr
                                      td.logo(width='280', style='text-align: left;')
                                        // Logo link back to your website
                                        a(href='#')
                                          // Remember to add styles to all <img> in order to style alt text
                                          img(alt='Oceanic', src='img/oceanic-logo-light.jpg', width='194', height='50', style='display: block; border: 0 none; outline: none; color: #292c34; font-size: 30px;')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                td.stack(style='padding-right: 40px;')
                                  table.device-width(width='280', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                                    tr
                                      // Height and line-height of this table cell should match the height of your logo image
                                      td.center(width='280', height='50', valign='middle', style='text-align: right;')
                                        div
                                          //if mso
                                            v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='#', style='height: 30px; v-text-anchor: middle; width: 100px;', arcsize='14%', strokecolor='#30b37a', fillcolor='#ffffff')
                                              w:anchorlock
                                                center(style="color: #30b37a; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold;") Get It Now
                                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                          a(href='#', style="background-color: #ffffff; border: 1px solid #30b37a; border-radius: 4px; color: #30b37a; display: inline-block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold; line-height: 30px; text-align: center; text-decoration: none; width: 100px; -webkit-text-size-adjust: none; mso-hide: all;") Get It Now
                      // /\/\/\/\/\/\/\/\/ END Header B /\/\/\/\/\/\/\/\/
                      // /\/\/\/\/\/\/\/\/ START Hero C /\/\/\/\/\/\/\/\/
                      table.device-width(width='640', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                        tr
                          td.hero-3(valign='middle', style='background-color: #292c34; padding-right: 40px; padding-left: 40px;', width='640', height='380')
                            table.inner-width(width='560', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                              tr
                                td.foot
                                  table.inner-width(width='280', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                                    tr
                                      // Hero headline goes here. Manually add <br /> to insert line breaks to fine tune.
                                      td.inner-width(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 35px; line-height: 47px; letter-spacing: -1px; color: #ffffff; text-align: left;")
                                        | Oceanic Email,
                                        br
                                        | Beautiful and
                                        br
                                        | Fully Modular
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  &#x9;&#x9;
                                    tr
                                      // Hero button
                                      td.inner-width(style='padding-top: 25px; text-align: left;')
                                        div
                                          //if mso
                                            v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='#', style='height: 44px; v-text-anchor: middle; width: 172px;', arcsize='12%', strokecolor='#30b37a', fillcolor='#30b37a')
                                              w:anchorlock
                                                center(style="color: #ffffff; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: bold;") Get It Now
                                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                          a(href='#', style="background-color: #30b37a; border: 1px solid #30b37a; border-radius: 5px; color: #ffffff; display: inline-block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: bold; line-height: 44px; text-align: center; text-decoration: none; width: 172px; -webkit-text-size-adjust: none; mso-hide: all;") Get It Now
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  &#x9;&#x9;&#x9;
                                td.head
                                  table.inner-width(width='280', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                                    tr
                                      // Right side hero feature
                                      td.hero-feature
                                        a(href='#')
                                          img.inner-width(src='img/hero-feature-1.jpg', alt='', width='280', height='200', style='display: block; border: 0 none; outline: none;')
                      // /\/\/\/\/\/\/\/\/ END Hero C /\/\/\/\/\/\/\/\/
                      // /\/\/\/\/\/\/\/\/ START Color Accent Bar /\/\/\/\/\/\/\/\/
                      table.device-width(width='640', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                        tr
                          td(width='640', height='4', style='background-color: #ff4200; font-size: 1px; line-height: 4px; mso-line-height-rule: exactly;') &nbsp;
                      // /\/\/\/\/\/\/\/\/ END Color Accent Bar /\/\/\/\/\/\/\/\/
                      // /\/\/\/\/\/\/\/\/ START Body Content A /\/\/\/\/\/\/\/\/
                      table.device-width(width='640', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                        tr
                          td.inner-width(width='560', style='background-color: #ffffff; padding-right: 40px; padding-left: 40px; padding-top: 60px; padding-bottom: 60px;')
                            table.inner-width(width='560', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                              tr
                                td(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; line-height: 26px; color: #707582; text-align: left;")
                                  div(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 25px; line-height: 36px; color: #292c34;") Fully responsive for mobile devices
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  div(style='font-size: 12px; line-height: 18px; mso-line-height-rule:exactly;') &nbsp;
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Oceanic is built with mobile in mind. This template responds and shifts to a single column for optimized mobile view. Considering as much as 70% of users are checking email on-the-go, your emails will be ready with Oceanic.
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            table.inner-width(width='560', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                              tr
                                td.stack(valign='top')
                                  table.inner-width(width='265', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                                    tr
                                      td(style='padding-top: 50px; text-align: center;')
                                        img(src='img/content-feature-1.jpg', alt='', width='120', height='120', style='display: inline-block;')
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    tr
                                      td(style="padding-top: 25px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; line-height: 26px; color: #707582; text-align: center;")
                                        div(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 17px; line-height: 28px; font-weight: bold; color: #292c34;") Fully Modular
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        div(style='font-size: 12px; line-height: 12px; mso-line-height-rule:exactly;') &nbsp;
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Oceanic is built on a modular structure where you can add or remove modules to fit your needs.
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                td.stack(valign='top', style='padding-left: 30px;')
                                  table.inner-width(width='265', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                                    tr
                                      td(style='padding-top: 50px; text-align: center;')
                                        img(src='img/content-feature-2.jpg', alt='', width='120', height='120', style='display: inline-block;')
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    tr
                                      td(style="padding-top: 25px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; line-height: 26px; color: #707582; text-align: center;")
                                        div(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 17px; line-height: 28px; font-weight: bold; color: #292c34;") Beautifully Crafted
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        div(style='font-size: 12px; line-height: 12px; mso-line-height-rule:exactly;') &nbsp;
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Battled tested in Litmus, Oceanic renders perfectly on all major email clients, even Outlook.
                      // /\/\/\/\/\/\/\/\/ END Body Content A /\/\/\/\/\/\/\/\/
                      // /\/\/\/\/\/\/\/\/ START Secondary Content A /\/\/\/\/\/\/\/\/
                      table.device-width(width='640', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                        tr
                          td.device-width(width='640', style='background-color: #f5f5f5;')
                            table.device-width(width='640', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                              tr
                                td.stack(valign='top')
                                  table.device-width(width='320', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                                    tr
                                      td
                                        img(src='img/content-feature-6.jpg', alt='', width='320', height='288', style='display: block;')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                td.stack(valign='middle')
                                  table.device-width(width='320', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                                    tr
                                      td(style='padding-left: 40px; padding-right: 40px; padding-top: 50px; padding-bottom: 50px;')
                                        table.inner-width(width='240', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                                          tr
                                            td(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; line-height: 26px; color: #707582; text-align: left;")
                                              div(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 21px; line-height: 32px; color: #292c34;") Fully Responsive
                                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                              div(style='font-size: 12px; line-height: 18px; mso-line-height-rule:exactly;') &nbsp;
                                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Built with mobile in mind&mdash;this template shifts to a single column for optimized mobile view.
                                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                              div(style='font-size: 12px; line-height: 18px; mso-line-height-rule:exactly;') &nbsp;
                                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                              div
                                                //if mso
                                                  v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='#', style='height: 30px; v-text-anchor: middle; width: 100px;', arcsize='14%', strokecolor='#30b37a', fillcolor='#f5f5f5')
                                                    w:anchorlock
                                                      center(style="color: #30b37a; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold;") Get It Now
                                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                                a(href='#', style="background-color: #f5f5f5; border: 1px solid #30b37a; border-radius: 4px; color: #30b37a; display: inline-block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold; line-height: 30px; text-align: center; text-decoration: none; width: 100px; -webkit-text-size-adjust: none; mso-hide: all;") Get It Now
                      // /\/\/\/\/\/\/\/\/ END Secondary Content A /\/\/\/\/\/\/\/\/
                      // /\/\/\/\/\/\/\/\/ START Secondary Content B /\/\/\/\/\/\/\/\/
                      table.device-width(width='640', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                        tr
                          td.device-width(width='640', style='background-color: #f5f5f5;')
                            table.device-width(width='640', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                              tr
                                td.foot(valign='middle')
                                  table.device-width(width='320', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                                    tr
                                      td(style='padding-left: 40px; padding-right: 40px; padding-top: 50px; padding-bottom: 50px;')
                                        table.inner-width(width='240', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                                          tr
                                            td(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; line-height: 26px; color: #707582; text-align: left;")
                                              div(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 21px; line-height: 32px; color: #292c34;") Modular Design
                                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                              div(style='font-size: 12px; line-height: 18px; mso-line-height-rule:exactly;') &nbsp;
                                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Oceanic is built on a modular structure where you can add or remove modules to fit your needs.
                                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                              div(style='font-size: 12px; line-height: 18px; mso-line-height-rule:exactly;') &nbsp;
                                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                              div
                                                //if mso
                                                  v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='#', style='height: 30px; v-text-anchor: middle; width: 100px;', arcsize='14%', strokecolor='#30b37a', fillcolor='#f5f5f5')
                                                    w:anchorlock
                                                      center(style="color: #30b37a; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold;") Get It Now
                                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                                a(href='#', style="background-color: #f5f5f5; border: 1px solid #30b37a; border-radius: 4px; color: #30b37a; display: inline-block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold; line-height: 30px; text-align: center; text-decoration: none; width: 100px; -webkit-text-size-adjust: none; mso-hide: all;") Get It Now
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                td.head(valign='top')
                                  table.device-width(width='320', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                                    tr
                                      td
                                        img(src='img/content-feature-7.jpg', alt='', width='320', height='288', style='display: block;')
                      // /\/\/\/\/\/\/\/\/ END Secondary Content B /\/\/\/\/\/\/\/\/
                      // /\/\/\/\/\/\/\/\/ START Call to Action A /\/\/\/\/\/\/\/\/
                      table.device-width(width='640', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                        tr
                          td.inner-width(width='560', style='background-color: #ffffff; padding-left: 40px; padding-right: 40px; padding-top: 60px; padding-bottom: 60px;')
                            table.inner-width(width='560', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                              tr
                                td(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; line-height: 26px; color: #707582; text-align: center;")
                                  div(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 21px; font-weight: bold; line-height: 32px; color: #292c34;") Built with love and care. Battle tested in Litmus.
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  div(style='font-size: 12px; line-height: 30px; mso-line-height-rule:exactly;') &nbsp;
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  div
                                    //if mso
                                      v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='#', style='height: 44px; v-text-anchor: middle; width: 174px;', arcsize='12%', strokecolor='#30b37a', fillcolor='#30b37a')
                                        w:anchorlock
                                          center(style="color: #ffffff; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: bold;") Get It Now
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    a(href='#', style="background-color: #30b37a; border: 1px solid #30b37a; border-radius: 5px; color: #ffffff; display: inline-block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: bold; line-height: 44px; text-align: center; text-decoration: none; width: 174px; -webkit-text-size-adjust: none; mso-hide: all;") Get It Now
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  div(style='font-size: 12px; line-height: 30px; mso-line-height-rule:exactly;') &nbsp;
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Perfect rendering in all major web and software email clients.
                      // /\/\/\/\/\/\/\/\/ END Call to Action A /\/\/\/\/\/\/\/\/
                      // /\/\/\/\/\/\/\/\/ START Footer D /\/\/\/\/\/\/\/\/
                      table.device-width(width='640', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                        tr
                          td.inner-width(width='560', style='background-color: #292c34; padding-left: 40px; padding-right: 40px; padding-top: 20px; padding-bottom: 60px;')
                            table.inner-width(width='560', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                              tr
                                td.foot
                                  table.inner-width(width='280', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                                    tr
                                      td.center(style='padding-top: 40px; text-align: left;')
                                        a(href='#')
                                          img(src='img/oceanic-logo-dark.jpg', alt='Oceanic', width='134', style='border: 0 none; outline: none;')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                td.head
                                  table.inner-width(width='280', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                                    tr
                                      td.center(style='padding-top: 40px; text-align: right;')
                                        a(href='#')
                                          img(src='img/facebook-icon-dark@2x.jpg', alt='Facebook', width='34', height='34', style='border: 0 none; outline: none;')
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&nbsp;
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        a(href='#')
                                          img(src='img/twitter-icon-dark@2x.jpg', alt='Twitter', width='34', height='34', style='border: 0 none; outline: none;')
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&nbsp;
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        a(href='#')
                                          img(src='img/gplus-icon-dark@2x.jpg', alt='Google+', width='34', height='34', style='border: 0 none; outline: none;')
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&nbsp;
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        a(href='#')
                                          img(src='img/pinterest-icon-dark@2x.jpg', alt='Pinterest', width='34', height='34', style='border: 0 none; outline: none;')
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&nbsp;
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                        a(href='#')
                                          img(src='img/instagram-icon-dark@2x.jpg', alt='Instagram', width='34', height='34', style='border: 0 none; outline: none;')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            table.inner-width(width='560', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse;')
                              tr
                                td.center(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 23px; color: #707582; padding-top: 15px; text-align: left;")
                                  | &copy; 2014 Oceanic Template by Templity. 
                                  a(href='#', style='text-decoration: underline; color: #707582;') Unsubscribe
                      // /\/\/\/\/\/\/\/\/ END Footer D /\/\/\/\/\/\/\/\/
