//-
    * COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
    *
    * All use or reproduction of any or all of this content must be approved.
    * Please contact info@INDIGENOUS SOFTWARE, INC. for approval or questions.

h3 Password Reset
p
    | You have requested a Password Reset Link. Please click the link below to reset your password. If that does not work,
    | please copy and paste this url into your web-browser's URL bar: {RESET_PASSWORD_URL}
p
    a(href="{RESET_PASSWORD_URL}")
        button(type="button", style="padding:15px; cursor:pointer;") Click Here to reset your password
p
    | Thank you!
    <br/>
    | Your friends at Indigenous
p
    | -----
    <br/>
    | If you did not request this change, please
    <br/>
    | contact support immediately at
    <br/>
    a(href="mailto:{SUPPORT_EMAIL}") {SUPPORT_EMAIL}
