<section id="page-title" class="padding-top-15 padding-bottom-15 securematics-promotions-section" >
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">PROMOTIONS</h1>
            <span ng-if="vm.state.promotions.length" class="mainDescription">There {{vm.state.promotions.length > 1 ? 'are' : 'is'}}  currently {{vm.state.promotions.length | number : 0}} promotion<span ng-if="vm.state.promotions.length > 1">s</span>. <span ng-if="vm.showFilteredRecords()"> ({{filteredCollection.length || 0}} in filtered view)</span></span>
            <span class="mainDescription" ng-if="vm.state.promotions && !vm.state.promotions.length">There are currently no promotions</span>
        </div>
    </div>
</section>


<div class="securematics-promotions-list securematics-list-container" ng-init="tableView='list'">
	<div st-table="vm.displayedPromotions" st-safe-src="vm.state.promotions" st-filtered-collection>
	    <div class="container-fluid container-fullw bg-white padding-top-0 padding-bottom-0 margin-bottom-15">
	        <div class="row">
	            <div class="col-sm-12">
	                <div class="panel panel-transparent row margin-bottom-0">
	                    <div class="panel-body">
	                        <form role="form" class="ng-pristine ng-valid row">
	                            <div>
	                                <div class="col-xs-12 col-sm-12 padding-left-0">
	                                    <div class="form-group">
	                                        <div class="col-xs-4 col-sm-5 padding-right-0">
	                                            <span class="input-icon">
                                                    <input type="text" st-search ng-model="vm.uiState.globalSearch" placeholder="Search by name, vendor..." id="form-field-14" class="form-control">
                                                    <i class="ti-search"></i>
                                                </span>
	                                        </div>
	                                        <div class="col-xs-4 col-sm-4 padding-right-0">
	                                        	<div class="btn-group pull-right ">
			                                        <button class="btn btn-info" ng-class="{'active': tableView == 'list'}" href="" ng-click="tableView = 'list'" tooltip-placement="top" tooltip="List"> <span class="fa fa-th-list"></span> </button>
			                                        <button class="btn btn-info" ng-class="{'active': tableView == 'grid'}" href="" ng-click="tableView = 'grid'" tooltip-placement="top" tooltip="Grid"> <span class="fa fa-th"></span> </button>
                                    			</div>
	                                        </div>

                                    		<div ng-if="$parent.userPermissions.permissions.promotion.create" class="col-xs-4 col-sm-3 padding-0">
		                                        <button type="button" class="btn btn-o btn-info btn-scroll btn-scroll-top ti ti-plus ng-click-active pull-right btn-wide" ng-click="vm.addNewPromotion()">
		                                            <span>New</span>
		                                        </button>
	                                    	</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </form>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <table class="table table-hover table-striped" ng-class="{'grid': tableView == 'grid', 'bg-white table-list-view': tableView == 'list'}" ng-if="!vm.uiState.loading" fixed-header-table>
	        <thead ng-class="{'bg-white': tableView == 'grid'}" sticky offset="65" sticky-class="sticky-header-class">
	            <tr>
	                <th class="col-title" st-sort="title" style="white-space: nowrap;">Name</th>
	                <th class="col-vendor" st-sort="vendor" style="white-space: nowrap;">Vendor</th>
	                <th class="col-promo-code" style="white-space: nowrap;">Promo Code</th>
	                <th class="hidden-xs col-products" style="white-space: nowrap;">Products</th>
	                <th class="hidden-xs col-start-date" st-sort="startDate" style="white-space: nowrap;">Start Date</th>
	                <th class="hidden-xs col-exp-date" st-sort="expirationDate" style="white-space: nowrap;">Expiration Date</th>
	                <th class="col-shipment" st-sort="vm.getters.shipmentCount" style="white-space: nowrap;">Shipments</th>
	            </tr>
	            <tr>
	                <th class="col-title">
	                    <input st-search="title" ng-model="vm.uiState.fieldSearch.title" placeholder="Name" class="form-control" type="search" />
	                </th>
	                <th class="col-vendor">
	                    <input st-search="vendor" ng-model="vm.uiState.fieldSearch.vendor" placeholder="Vendor" class="form-control" type="search" />
	                </th>

	                <th class="col-promo-code">

	                </th>
	                <th class="col-products hidden-xs">

	                </th>
	                <th class="col-start-date hidden-xs">

	                </th>
	                <th class="col-exp-date hidden-xs">

	                </th>
	                <th class="col-shipment">

	                </th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr ng-repeat="promotion in vm.displayedPromotions" class="product-item" ng-click="vm.viewPromotionDetails(promotion)">
	                <td class="col-title"><strong>Name: </strong>{{promotion.title}}</td>
	                <td class="col-vendor"><strong>Vendor: </strong><div class="name-block-container"><span class="list-name"></span><span class="text-adjust-table text-capitalize">{{promotion.vendor}}</span></div></td>
	                <td class="col-promo-code"><strong>Promo Code: </strong>{{promotion.promoCode}}</td>
	                <td class="hidden-xs col-products"><strong>Products: </strong><div class="name-block-container"><span class="list-name"></span><span class="text-adjust-table" tooltip="{{vm.getProductsName(promotion.products)}}">{{vm.getProductsName(promotion.products)}}</span></div></td>
	                <td class="hidden-xs col-start-date"><strong>Start Date: </strong>{{vm.parseValueToDate(promotion.startDate) | date:'M/d/yyyy'}}</td>
	                <td class="hidden-xs col-exp-date"><strong>Start Date: </strong>{{vm.parseValueToDate(promotion.expirationDate) | date:'M/d/yyyy'}}</td>
	                <td class="col-shipment"><strong>Shipments: </strong>{{promotion.shipmentCount || 0}}</td>
	            </tr>
	        </tbody>
	        <tfoot>
	            <tr>
	                <td ng-if="vm.state.promotions.length" class="text-center" st-custom-pagination="" st-displayed-pages="vm.pagingConstant.displayedPages" st-items-by-page="vm.pagingConstant.numberOfRowsPerPage || 50" colspan="10">
	                </td>
	                <td ng-if="!vm.state.promotions.length" colspan="10" class="center height-100">
	            		<h4>There are currently no promotions</h4>
	            	</td>
	            </tr>
	        </tfoot>
	    </table>
	    <div class="load1 csspinner height-400" ng-show="vm.uiState.loading"></div>
	</div>
</div>


<div ng-if="$parent.userPermissions.permissions.promotion.create" data-ng-include=" 'assets/var/demo/js/promotions/modals/new-promotion-modal.html' "></div>
