.fr-insert-helper {
  display: none;
}
.fr-image-size-layer .fr-image-group .fr-input-line {
   width: calc(50% - 2em) !important;
}
.fr-image-upload-layer{
    min-height: 200px;
    padding-top: 75px !important;
}
a.fr-command[data-param1='PRE'] {
    background: inherit !important;
}
.fr-toolbar .fr-command.fr-btn, .fr-popup .fr-command.fr-btn{
    width: inherit;
    height: inherit;
}
.fr-view img.fr-dib.fr-fir{
	    margin-right: 0 !important;
}
.fr-view img.fr-dib.fr-fil{
	    margin-left: 0 !important;
}
.fr-view table tr td{
	color: initial;
}