.fr-insert-helper {
  display: none;
}
.fr-image-size-layer .fr-image-group .fr-input-line {
   width: calc(50% - 2em) !important;
}
.fr-image-upload-layer, .fr-video-upload-layer{
    min-height: 200px;
    padding-top: 75px !important;
}
a.fr-command[data-param1='PRE'] {
    background: inherit !important;
}
.fr-toolbar .fr-command.fr-btn, .fr-popup .fr-command.fr-btn{
    width: inherit;
    height: inherit;
}
.fr-view img.fr-dib.fr-fir{
	    margin-right: 0 !important;
}
.fr-view img.fr-dib.fr-fil{
	    margin-left: 0 !important;
}

.fr-popup .fr-input-line input+label, .fr-popup .fr-input-line textarea+label{
  background: transparent;
}
.fr-command.ssb-editor-style-line-height-normal,
.fr-command.ssb-editor-style-line-height-small-1,
.fr-command.ssb-editor-style-line-height-small-2 ,
.fr-command.ssb-editor-style-line-height-1,
.fr-command.ssb-editor-style-line-height-2 ,
.fr-command.ssb-editor-style-line-height-3,
.fr-command.ssb-editor-style-line-height-4,
.fr-command.ssb-editor-style-line-height-5 {
    line-height: 200% !important;
}
.fr-popup .fr-buttons .fr-dropdown-menu{
  z-index: 4;
}

.fr-image-size-layer.fr-layer .fr-input-line label, .fr-image-by-url-layer.fr-layer .fr-input-line label,
.fr-image-alt-layer.fr-layer .fr-input-line label{
  display: none;
}

.fr-image-size-layer.fr-layer .fr-input-line .fr-not-empty + label, .fr-image-by-url-layer.fr-layer .fr-input-line .fr-not-empty + label,
.fr-image-alt-layer.fr-layer .fr-input-line .fr-not-empty + label,{
  display: block !important;
}

.fr-video-upload-layer.fr-layer.fr-active{
  background: #243948 !important;
}

.fr-video-size-layer.fr-layer.fr-active .fr-video-group .fr-input-line{
  width: calc(50% - 2em) !important;
}

.fr-video-embed-layer.fr-layer.fr-active .fr-input-line textarea.fr-not-empty + label{
  display: none;
}
span.fontWeight_200, span.fontWeight_200 a.btn {
    font-weight: 200 !important;
}
span.fontWeight_400 , span.fontWeight_400 a.btn{
    font-weight: 400 !important;
}
span.fontWeight_700, span.fontWeight_700 a.btn{
    font-weight: 700 !important;
}
.fr-link-attr.fr-error{
  color: #a94442 !important;
}
.add_color a.btn{
    color: inherit !important;
}
