/**
 * COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
 *
 * All use or reproduction of any or all of this content must be approved.
 * Please contact info@indigenous.io for approval or questions.
 */

if (process.env.NEW_RELIC_APP_NAME == null) { 
	process.env['NEW_RELIC_APP_NAME'] = 'indigeweb';
}

if (process.env.NEW_RELIC_LICENSE_KEY == null) {
	process.env['NEW_RELIC_LICENSE_KEY'] = '551d29298ad4ed258082a4d6f74ff386d43a1fa5';
}

if (process.env.NEW_RELIC_LOG_LEVEL == null) {
	process.env['NEW_RELIC_LOG_LEVEL'] = 'info';
}
if (process.env.NEW_RELIC_NO_CONFIG_FILE == null) {
	process.env['NEW_RELIC_NO_CONFIG_FILE'] = "true";
}

var newrelic = require('newrelic');
