<!--
* COPYRIGHT INDIGENOUS.IO, LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->

  <div class="footer-after section">
      <div class="row">
          <p class="col-md-9 copyright">Copyright © 2014.  All Rights reserved.</p>
          <p class="col-md-3 powered-by"><a href="#" rel="nofollow">Powered by  Indigenous</a>
          <img class="footer-logo" src="assets/images/footer-logo.png">
          </p>
      </div>
  </div>