<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->

<div>
{{#with component}}
        <div class="component-body">
            <div class="blog-teaser">
                <h3 class="title">
                    <div class="editable" data-class="title">
                        {{{title}}}
                    </div>
                </h3>
                {{#each posts}}
                    {{this}}
                {{/each}}
            </div>
        </div>
{{/with}}
</div>
