<!--
* COPYRIGHT INDIGENOUS.IO, LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->

<div class="feature-block">
    {{#with component}}
    <div class="inner-page">
        <div class="editable" data-class="label">
            <h3 class="center centerh4">{{{label}}}</h3>
        </div>
        <div class="editable" data-class="description">
            <p class="lead center">{{{description}}}</p>
        </div>
    </div>

    {{!-- <div class="component-body">
        <div class="editable" data-class="value">
            {{{value}}}
        </div>
    </div> --}}
    {{/with}}
</div>