<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@INDIGENOUS SOFTWARE, INC. for approval or questions.
*
-->

<div>
    {{#with component}}
    <div class="component-header hidden">
        <div>
            {{{label}}}
        </div>

        <div>
            {{{description}}}
        </div>
    </div>

    <div class="component-body">
        <div>
            {{{value}}}
        </div>
    </div>
    {{/with}}
</div>