extends snippets/_layout

block content
    #body
        if reset
            form(role="form" action="/forgotpassword/reset/#{token}" method="post")
                h3 Reset password

                p Please reset your password before continuing

                hr

                div.form-group
                    label Password
                    input.form-control(type="password" name="password", placeholder="Password")

                div.form-group
                    label Re-enter password
                    input.form-control(type="password" name="password2", placeholder="Password")

                div.btn-toolbar
                    button.btn.btn-primary(type="submit", value="Login" role="button") Reset Password
                    a.btn.btn-primary(href="/login", role="button") Back to login

        else
            form(role="form", action="/forgotpassword" method="post")
                h3 Uh oh!  Did you forget something?

                p Enter the username or email you used when you signed up, and we will
                        | send you an email with a link to reset your password.

                hr

                div.form-group
                    label Username or email
                    input.form-control(type="text", name="username", placeholder="username/email")

                div.btn-toolbar
                    button.btn.btn-primary(type="submit", value="Login" role="button") Recover Password
                    a.btn.btn-primary(href="/login", role="button") Back to login
