extends snippets/_layout

block content
	section
		.signinpanel
			img(src="https://s3.amazonaws.com/indigenous-account-websites/acct_6/logo.png", style="margin: 25px auto;width: 270px;display: block;")
			.panel.panel-default.widget-messaging.choose-account-selection
					.panel-heading
						h3.panel-title.center Choose An Account
					.panel-body
						ul
							each val in accounts
								a(href="/reauth/#{val}")
									li(ng-repeat='accountinavaliableAccounts')
										span=val
										i.fa.fa-chevron-right.pull-right
			img(src="https://s3.amazonaws.com/indigenous-digital-assets/account_6/brought-by.png" style="width: 220px;margin: 0 auto;display: block;")
