//-
    * COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
    *
    * All use or reproduction of any or all of this content must be approved.
    * Please contact info@indigenous.io for approval or questions.
extends snippets/index_layout
block content
    div(id="body", class="content", back-animation, style="height: {{contentHeight}}px;")
        div(ng-view, class="page")
