extends snippets/_layout

block content
    #preloader
           #status
            img(src='/assets/icons/loader.gif')
    section
        .signinpanel
            if account
                if account.company.logo
                    img(src="#{account.company.logo}" style="max-width:300px; max-height:100px")
                else
                    span #{account.company.name}
            else
                span.logo

            form(role="form", action="/login" method="post")
                h4.nomargin Sign In
                p.mt5.mb20 Login to access your account&period;
                input.form-control.uname(type='text', name='username', placeholder='Username')
                input.form-control.pword(type='password', name='password', placeholder='Password')
                a(href='/forgotpassword')
                    small Forgot Your Password&quest;
                button.btn.btn-success.btn-block(type="submit", value="Login") Sign In

                div.checkbox
                    label
                        input(type="checkbox" name="rememberme" id="rememberme")
                        | Remember me on this computer

                strong
                    | Not a member&quest;
                    a(href='/signup')  Sign Up
        script.
          $(window).load(function() {
              $('#status').delay(350).fadeOut();
              $('#preloader').delay(500).fadeOut(function(){
                $('body').delay(350).css({'overflow':'visible'});
              });
            });
