extends snippets/_layout

block content
    #preloader
           #status
            img(src='/assets/icons/loader.gif')
    section
        .signinpanel
            if account
                if account.company.logo
                    img(src="#{account.company.logo}" style="max-width:300px; max-height:100px")
                else
                    span #{account.company.name}
            else
                span.logo

            form(role="form", action="/login" method="post")
                h4.nomargin Sign In
                p.mt5.mb20 Login to access your account&period;

                .row.social
                    a.btn.btn-large.btn-default(href="/login/facebook")
                        i.fa.fa-facebook

                    a.btn.btn-large.btn-default(href="/login/twitter")
                        i.fa.fa-twitter

                    a.btn.btn-large.btn-default(href="/login/google")
                        i.fa.fa-google-plus

                    a.btn.btn-large.btn-default(href="/login/linkedin")
                        i.fa.fa-linkedin

                .input-group
                  span.input-group-addon
                    i.fa.fa-user
                  input.form-control.uname.input-lg(type='text', name='username', placeholder='Username')

                .input-group
                  span.input-group-addon
                    i.fa.fa-lock
                  input.form-control.pword.input-lg(type='password', name='password', placeholder='Password')

                a(href='/forgotpassword')
                    small Forgot Your Password&quest;
                button.btn.btn-success.btn-block.btn-lg(type="submit", value="Login") Sign In

                div.checkbox
                    label
                        input(type="checkbox" name="rememberme" id="rememberme")
                        | Remember me on this computer

                unless account
                    strong
                        | Not a member&quest;
                        a(href='/signup')  Sign Up
        script.
          $(window).load(function() {
              $('#status').delay(350).fadeOut();
              $('#preloader').delay(500).fadeOut(function(){
                $('body').delay(350).css({'overflow':'visible'});
              });
            });
