//-
    * COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
    *
    * All use or reproduction of any or all of this content must be approved.
    * Please contact info@indigenous.io for approval or questions.

extends snippets/_layout

block content
    .row
      .main-login.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-4
        .logo.margin-top-30
          if account
                if account.business.logo
                    img(src="#{account.business.logo}" style="max-width:300px; max-height:100px; margin: 15px auto; display: block;")
                else
                    h1.center.company-title #{account.company.name}

        // start: LOGIN BOX
        .box-login.margin-top-30
          h5.nomargin Redirecting
            p.margin-top-5.margin-bottom-20(id="redirectMsg")
            div(id="timerSec", class="center")
            p(id="redirectDesc") Indigenous is asking for permission to view your contacts and post to this social network on your behalf. We will never post anything without your explicit permission.

          // start: COPYRIGHT
          .copyright
            | &#169;
            span.current-year
            span.text-bold.text-uppercase  Indigenous Software, Inc
            | .
            span  All rights reserved
          // end: COPYRIGHT
        // end: LOGIN BOX

    script.
        var next = decodeURIComponent('//#{next}');
        var socialNetwork = decodeURIComponent('#{socialNetwork}');
        //console.log('next: ' + next);
        console.log('socialNetwork: ' + socialNetwork);
        if (socialNetwork != 'undefined')
            document.getElementById('redirectMsg').innerHTML = "You are about to be redirected to "+ socialNetwork +" for authentication";
        else
            document.getElementById('redirectMsg').innerHTML = "You're about to be redirected in ";
        if (socialNetwork == 'stripe')
            document.getElementById('redirectDesc').innerHTML = "Indigenous is asking for permission to use Stripe on your behalf.  This will allow you to use the Indigenous platform to bill your users and collect payments.  This does NOT give Indigenous the permission to charge you for anything and Indigenous will never charge anyone without your explicit permission.";
        var secLeft = 4;
        var intervalFn = function() {
        	secLeft -= 1;
        	document.getElementById('timerSec').innerHTML = '<strong>' + secLeft + ' Sec</strong>';
        	if (secLeft <= 0) {
        		clearInterval(interval);
        		window.location = next;
        	} 
        };
        var interval = setInterval(intervalFn, 1000);
