extends snippets/_requirelayout
block content
    #body
        h3 Create an account

        form(role="form", action="/signup" method="post")
            if errorMsg
                p.bg-danger(style="padding:15px;"): b #{errorMsg}

            div.form-group
                label Username
                input.form-control(type="text", name="username", placeholder="Username")

            div.form-group
                label Password
                input.form-control(type="password" name="password", placeholder="Password")

            div.form-group
                label Re-enter password
                input.form-control(type="password" name="password2", placeholder="Password")

            div.btn-toolbar
                button.btn.btn-primary(type="submit", value="Create Account" role="button") Create Account
                a.btn.btn-default(href="/login", role="button") Sign in

