<article itemscope="" itemtype="http://schema.org/BlogPosting">
    <div ng-if="!vm.post" class="ssb-in-context-info margin-top-20 padding-30">
        <span class="fa fa-info-circle"> No published posts were found.</span>
    </div>



    <div ng-if="vm.post" class="ssb-media">

        <div ng-if="vm.post.featured_image && vm.compactView" class="ssb-media-left blog-post-image-container" ng-attr-style="background-image: url('{{vm.post.featured_image}}');" >
        </div>

        <div ng-if="vm.post.featured_image && !vm.compactView" class="ssb-media-left">
            <a href="{{vm.post.featured_image}}" data-gallery>
                <img itemprop="thumbnailUrl" class="img-responsive blog-post-image" ng-src="{{vm.getFeaturedImageUrl(vm.post.featured_image)}}" alt="{{(vm.post.post_excerpt) ? vm.post.post_excerpt : ''}}"/>
            </a>
        </div>

        <div class="ssb-media-body">

            <div ng-if="vm.compactView" class="ssb-blog-byline">
                <time datetime="{{vm.post.publish_date || vm.post.created.date | date: 'YYYY-MM-DDTHH:mm:ss:Z'}}" itemprop="datePublished">
                    {{vm.getPublishedDate(vm.post.publish_date) || vm.post.created.date | date: 'MMM dd, yyyy'}}
                </time>
            </div>

            <div ng-if="vm.compactView" class="padding-top-10 padding-bottom-5">
                <h3 class="media-heading" itemprop="name headline">               
                    <strong ng-if="vm.compactView" ng-attr-style="{{vm.titleStyle()}}" >
                        {{vm.post.display_title || vm.post.post_title}}
                    </strong>
                </h3>
            </div>

            <h1 class="media-heading" itemprop="name headline"  >
                <a ng-if="!vm.compactView" ng-class="{'ssb-theme-btn' : vm.post.display_title || vm.post.post_title}" class="btn btn-link" href="/blog/{{vm.post.post_url}}" target="_self" ng-attr-style="{{vm.titleStyle()}}">
                    {{vm.post.display_title || vm.post.post_title}}
                </a>
            </h1>

            <div ng-if="!vm.compactView" class="ssb-blog-byline">
                <i class="fa fa-calendar"></i>
                <time datetime="{{vm.post.publish_date || vm.post.created.date | date: 'YYYY-MM-DDTHH:mm:ss:Z'}}" itemprop="datePublished">
                    {{vm.post.publish_date || vm.post.created.date | date: 'MM/dd/yyyy'}}
                </time>
                <i class="fa fa-user margin-left-10"></i>
                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                    <span itemprop="name">
                        <a ng-if="vm.post.post_author" ng-class="{'ssb-theme-btn' : vm.post.post_author}" class="btn btn-link padding-top-0" href="/author/{{vm.encodeUrlText(vm.post.post_author)}}" target="_self" itemprop="url" rel="author">{{vm.post.post_author}}</a>
                    </span>
                </span>
            </div>

            <section class="ssb-blog-post-body" itemprop="articleBody">
                <p ng-bind-html="vm.post.post_excerpt | unsafe" ng-attr-style="{{vm.descriptionStyle()}}"></p>
                <a ng-if="!vm.compactView" class="btn btn-link ssb-theme-btn" href="/blog/{{vm.post.post_url}}" target="_self">READ MORE  <i class="fa fa-long-arrow-right"></i></a>
                <div data-ng-if="vm.post.post_tags && !vm.compactView && vm.filteredPostView && vm.post.post_tags.length">
                    <h5 class="ssb-tag-heading">TAGS</h5>
                    <ul class="ssb-post_tags padding-left-0" >
                        <li ng-repeat="tag in vm.post.post_tags track by $index">
                            <a href="/tag/{{tag.text ? vm.encodeUrlText(tag.text): vm.encodeUrlText(tag)}}" class="btn ssb-theme-btn" target="_self" itemprop="url" rel="tag">{{tag.text ? tag.text: tag}}</a>
                        </li>
                    </ul> 
                </div>
               
            </section>
        </div>
    </div>

</article>

