<div class="form-builder-{{vm.component._id}} form-builder-component">
	<div class="col-xs-12 component-body">
		<div class="inner-page-1">
			<div  data-edit class="row">
				<div class="component-content"
        ng-attr-style="{{vm.formStyle(vm.component.formSettings)}}" ng-class="{'default-font-size': vm.component.formSettings.formTextSize}">
					<div class="form-title ssb-theme-heading-text">
                        <div elem ng-model="vm.component.maintitle"></div>
                    </div>
                    <div class="form-subtitle">
                        <div elem ng-model="vm.component.subtitle"></div>
                    </div>
					<div class="clearfix mb15"></div>
                    <form name="formBuilder" ng-submit="vm.createUser(formBuilder)">
						<div class="form-builder-layout" ng-switch="vm.component.layout">
							<div ng-switch-when="1" class="form-layout-1 input-fields {{vm.nthRow}}" ng-class="{'input-field-spacing': vm.component.formSettings.spacing.pr}"  ng-attr-style="{{vm.inputContainerStyle(vm.component.formSettings)}}">
								<div ng-attr-style="{{vm.fieldStyle(vm.component.formSettings)}}" class="form-group {{vm.fieldClass()}} input-field-container" ng-if="val.visible" ng-repeat="val in vm.component.contactInfo" ng-class="{ 'has-error' : (formBuilder.{{val.name}}.$invalid || formBuilder.{{val.name}}.$error.$required) && !formBuilder.{{val.name}}.$pristine }">
                                    <span ng-if="!val.optional" class="required">*</span>
                                    <label class="control-label">{{val.label || val.type}}</label>
                                    <input ng-if="val.name !== 'message'" type="text" class="form-control" ng-model="vm.formBuilder[val.name]" ng-attr-style="{{vm.inputStyle(vm.component.formSettings)}}" name="{{val.name}}" ng-required='!val.optional' ng-pattern="vm.addPattern(val)" ind-international-tel-number form="formBuilder" ng-change="vm.formFiedlsCHange(val)">
                                    <span class="help-block" ng-if="vm.checkDuplicateEmail(val)">Email already exists.</span>
                                    <textarea ng-if="val.name === 'message'" class="form-control input-lg" name="message" rows="5" ng-model="vm.formBuilder[val.name]" ng-attr-style="{{vm.inputStyle(vm.component.formSettings)}}" name="{{val.name}}" ng-required='!val.optional' ng-pattern="vm.addPattern(val)"></textarea>
                                </div>
                                <div class="form-group {{vm.fieldClass()}} input-field-container req-opt-in-container" ng-if="vm.component.optInRequired"  ng-class="{ 'has-error' : (formBuilder._optin.$invalid || formBuilder._optin.$error.$required) && !formBuilder._optin.$pristine }">
									<div class="form-checkbox-field">
										<input class="optin-checkbox" type="checkbox" ng-model="vm.formBuilder['_optin']"   name="_optin" ng-required='true' ng-change="vm.formFiedlsCHange('_optin')">
									</div>
									<div class="form-checkbox-label">
                                        <span class="required req-opt-in">*</span>
										<div class="label-padding" elem ng-model="vm.component.optInText"></div>
									</div>
								</div>
                                <div class="clearfix mb15 visible-xs"></div>

                                <div class="col-sm-12 form-builder-submit-btn-container">

									<button ng-if="!vm.isEditing" ng-attr-style="{{vm.buttonStyle(vm.component.btn)}}" ng-class="{'ssb-theme-btn form-submit-button': vm.component.submitBtn}" type="submit" class="btn btn-form btn-block pull-right" ng-disabled="formBuilder.$invalid">
                                        <span elem ng-model="vm.component.submitBtn"></span>
                                    </button>
                                    <div ng-if="vm.isEditing" ng-attr-style="{{vm.buttonStyle(vm.component.btn)}}" ng-class="{'ssb-theme-btn form-submit-button': vm.component.submitBtn}" class="btn btn-form btn-block pull-right editable-btn-form">
                                        <span class-name="btn-form-text" elem ng-model="vm.component.submitBtn"></span>
                                    </div>
                                </div>
							</div>
                            <div ng-switch-when="2" class="form-layout-2 input-fields {{vm.nthRow}}" ng-class="{'input-field-spacing': vm.component.formSettings.spacing.pr}" ng-attr-style="{{vm.inputContainerStyle(vm.component.formSettings)}}">
                                <div ng-attr-style="{{vm.fieldStyle(vm.component.formSettings)}}" class="form-group {{vm.fieldClass()}} input-field-container" ng-if="val.visible" ng-repeat="val in vm.component.contactInfo" ng-class="{ 'has-error' : (formBuilder.{{val.name}}.$invalid || formBuilder.{{val.name}}.$error.$required) && !formBuilder.{{val.name}}.$pristine }">
									<span ng-if="!val.optional" class="required">*</span>
                                    <label class="col-sm-2 control-label">{{val.label || val.type}}</label>
                                    <div class="col-sm-10">
                                      <input type="text" ng-if="val.name !== 'message'" class="form-control" ng-model="vm.formBuilder[val.name]" ng-attr-style="{{vm.inputStyle(vm.component.formSettings)}}" name="{{val.name}}" ng-required='!val.optional' ng-pattern="vm.addPattern(val)" ind-international-tel-number form="formBuilder" ng-change="vm.formFiedlsCHange(val)">
                                      <span class="help-block" ng-if="vm.checkDuplicateEmail(val)">Email already exists.</span>
                                      <textarea ng-if="val.name === 'message'" class="form-control input-lg" name="message" rows="5" ng-model="vm.formBuilder[val.name]" ng-attr-style="{{vm.inputStyle(vm.component.formSettings)}}" name="{{val.name}}" ng-required='!val.optional' ng-pattern="vm.addPattern(val)"></textarea>
                                    </div>
                                </div>
                                <div class="form-group {{vm.fieldClass()}} input-field-container  req-opt-in-container" ng-if="vm.component.optInRequired"  ng-class="{ 'has-error' : (formBuilder._optin.$invalid || formBuilder._optin.$error.$required) && !formBuilder._optin.$pristine }">
									<span class="required req-opt-in">*</span>
									<div class="form-checkbox-field">
										<input class="optin-checkbox" type="checkbox" ng-model="vm.formBuilder['_optin']"   name="_optin" ng-required='true' ng-change="vm.formFiedlsCHange('_optin')">
									</div>
									<div class="form-checkbox-label">
										<div elem ng-model="vm.component.optInText"></div>
									</div>
								</div>
								<div class="clearfix mb15 visible-xs"></div>
                                <div class="col-sm-12 form-builder-submit-btn-container">

									<button ng-if="!vm.isEditing" ng-attr-style="{{vm.buttonStyle(vm.component.btn)}}" ng-class="{'ssb-theme-btn form-submit-button': vm.component.submitBtn}" type="submit" class="btn btn-form btn-block pull-right" ng-disabled="formBuilder.$invalid">
                                        <span elem ng-model="vm.component.submitBtn"></span>
                                    </button>
                                    <div ng-if="vm.isEditing" ng-attr-style="{{vm.buttonStyle(vm.component.btn)}}" ng-class="{'ssb-theme-btn form-submit-button': vm.component.submitBtn}" class="btn btn-form btn-block pull-right editable-btn-form">
                                        <span class-name="btn-form-text" elem ng-model="vm.component.submitBtn"></span>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="3" class="form-layout-3 col-sm-12 input-fields {{vm.nthRow}}" ng-class="{'input-field-spacing': vm.component.formSettings.spacing.pr}" ng-attr-style="{{vm.inputContainerStyle(vm.component.formSettings)}}">
                                <div class="col-sm-6 input-field-container">
                                    <div ng-attr-style="{{vm.fieldStyle(vm.component.formSettings)}}" class="form-group {{vm.fieldClass()}}" ng-if="val.visible && val.name !== 'message'" ng-repeat="val in vm.component.contactInfo" ng-class="{ 'has-error' : (formBuilder.{{val.name}}.$invalid || formBuilder.{{val.name}}.$error.$required) && !formBuilder.{{val.name}}.$pristine }">
                                    <span ng-if="!val.optional" class="required">*</span>
                                      <input ng-attr-placeholder="{{val.label || val.type}}" type="text" class="form-control" ng-model="vm.formBuilder[val.name]" ng-attr-style="{{vm.inputStyle(vm.component.formSettings)}}" name="{{val.name}}" ng-required='!val.optional' ng-pattern="vm.addPattern(val)" ind-international-tel-number form="formBuilder" ng-change="vm.formFiedlsCHange(val)">
                                    </div>
                                </div>
                                <div class="col-sm-6 input-field-container">
                                    <div ng-attr-style="{{vm.fieldStyle(vm.component.formSettings)}}" class="form-group {{vm.fieldClass()}}" ng-if="val.visible && val.name === 'message'" ng-repeat="val in vm.component.contactInfo" ng-class="{ 'has-error' : (formBuilder.{{val.name}}.$invalid || formBuilder.{{val.name}}.$error.$required) && !formBuilder.{{val.name}}.$pristine }">
                                    <span ng-if="!val.optional" class="required">*</span>
                                      <textarea ng-attr-placeholder="{{val.label || val.type}}" class="form-control input-lg" name="message" rows="5" ng-model="vm.formBuilder[val.name]" ng-attr-style="{{vm.inputStyle(vm.component.formSettings)}}" name="{{val.name}}" ng-required='!val.optional' ng-pattern="vm.addPattern(val)"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12 input-field-container  req-opt-in-container">
                                    <div class="form-group {{vm.fieldClass()}} input-field-container" ng-if="vm.component.optInRequired"  ng-class="{ 'has-error' : (formBuilder._optin.$invalid || formBuilder._optin.$error.$required) && !formBuilder._optin.$pristine }">
    									<span class="required req-opt-in">*</span>
    									<div class="form-checkbox-field">
    										<input class="optin-checkbox" type="checkbox" ng-model="vm.formBuilder['_optin']" name="_optin" ng-required='true' ng-change="vm.formFiedlsCHange('_optin')">
    									</div>
    									<div class="form-checkbox-label">
    										<div elem ng-model="vm.component.optInText">
    										</div>
    									</div>
    								</div>
                                </div>
								<div class="clearfix mb15 visible-xs"></div>
                                <div class="col-sm-12 form-builder-submit-btn-container">

                                    <button ng-if="!vm.isEditing" ng-attr-style="{{vm.buttonStyle(vm.component.btn)}}" ng-class="{'ssb-theme-btn form-submit-button': vm.component.submitBtn}" type="submit" class="btn btn-form btn-block pull-right" ng-disabled="formBuilder.$invalid">
                                        <span elem ng-model="vm.component.submitBtn"></span>
                                    </button>
                                    <div ng-if="vm.isEditing" ng-attr-style="{{vm.buttonStyle(vm.component.btn)}}" ng-class="{'ssb-theme-btn form-submit-button': vm.component.submitBtn}" class="btn btn-form btn-block pull-right editable-btn-form">
										<span class-name="btn-form-text" elem ng-model="vm.component.submitBtn"></span>
                                    </div>
								</div>
							</div>
                            <div ng-switch-when="4" class="form-layout-4 input-fields {{vm.nthRow}}" ng-class="{'input-field-spacing': vm.component.formSettings.spacing.pr}" ng-attr-style="{{vm.inputContainerStyle(vm.component.formSettings)}}">
                                <div ng-attr-style="{{vm.fieldStyle(vm.component.formSettings)}}" class="form-group {{vm.fieldClass()}} input-field-container" ng-if="val.visible" ng-repeat="val in vm.component.contactInfo" ng-class="{ 'has-error' : (formBuilder.{{val.name}}.$invalid || formBuilder.{{val.name}}.$error.$required) && !formBuilder.{{val.name}}.$pristine }">
                                    <span ng-if="!val.optional" class="required">*</span>
                                    <input ng-if="val.name !== 'message'" ng-attr-placeholder="{{val.label || val.type}}" type="text" class="form-control" ng-model="vm.formBuilder[val.name]" ng-attr-style="{{vm.inputStyle(vm.component.formSettings)}}" name="{{val.name}}" ng-required='!val.optional' ng-pattern="vm.addPattern(val)" ind-international-tel-number form="formBuilder" ng-change="vm.formFiedlsCHange(val)">

                                    <span class="help-block" ng-if="vm.checkDuplicateEmail(val)">Email already exists.</span>
                                    <textarea ng-if="val.name === 'message'" ng-attr-placeholder="{{val.label || val.type}}" class="form-control input-lg" name="message" rows="5" ng-model="vm.formBuilder[val.name]" ng-attr-style="{{vm.inputStyle(vm.component.formSettings)}}" name="{{val.name}}" ng-required='!val.optional' ng-pattern="vm.addPattern(val)"></textarea>
                                </div>
                                <div class="form-group {{vm.fieldClass()}} input-field-container  req-opt-in-container" ng-if="vm.component.optInRequired"  ng-class="{ 'has-error' : (formBuilder._optin.$invalid || formBuilder._optin.$error.$required) && !formBuilder._optin.$pristine }">
                                        <span class="required req-opt-in">*</span>
                                        <div class="form-checkbox-field">
                                            <input class="optin-checkbox" type="checkbox" ng-model="vm.formBuilder['_optin']" name="_optin" ng-required='true' ng-change="vm.formFiedlsCHange('_optin')">
                                        </div>
                                        <div class="form-checkbox-label">
                                            <div elem ng-model="vm.component.optInText">
                                            </div>
                                        </div>
                                    </div>

                                <div class="clearfix mb15 visible-xs"></div>
                                <div class="col-sm-12 form-builder-submit-btn-container">

                                    <button ng-if="!vm.isEditing" ng-attr-style="{{vm.buttonStyle(vm.component.btn)}}" ng-class="{'ssb-theme-btn form-submit-button': vm.component.submitBtn}" type="submit" class="btn btn-form btn-block pull-right" ng-disabled="formBuilder.$invalid">
                                        <span elem ng-model="vm.component.submitBtn"></span>
                                    </button>
                                    <div ng-if="vm.isEditing" ng-attr-style="{{vm.buttonStyle(vm.component.btn)}}" ng-class="{'ssb-theme-btn form-submit-button': vm.component.submitBtn}" class="btn btn-form btn-block pull-right editable-btn-form">
                                        <span class-name="btn-form-text" elem ng-model="vm.component.submitBtn"></span>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-default class="form-layout-custom input-fields {{vm.nthRow}}" ng-class="{'input-field-spacing': vm.component.formSettings.spacing.pr}" ng-attr-style="{{vm.inputContainerStyle(vm.component.formSettings)}}">
                                <div ng-attr-style="{{vm.fieldStyle(vm.component.formSettings)}}" class="form-group {{vm.fieldClass()}} input-field-container"  ng-repeat="val in vm.component.contactInfo | filter:{visible:true}" ng-class="{ 'has-error' : (formBuilder.{{val.name}}.$invalid || formBuilder.{{val.name}}.$error.$required) && !formBuilder.{{val.name}}.$pristine, 'message_right':val.name === 'message' && ($index+1)%vm.component.formSettings.fieldsPerRow===0 }">
                                    <span ng-if="!val.optional" class="required">*</span>
                                    <input ng-if="val.name !== 'message'" type="text" class="form-control" ng-model="vm.formBuilder[val.name]" ng-attr-style="{{vm.inputStyle(vm.component.formSettings)}}" name="{{val.name}}" ng-required='!val.optional' ng-pattern="vm.addPattern(val)" ind-international-tel-number form="formBuilder" ng-change="vm.formFiedlsCHange(val)"  ng-attr-placeholder="{{val.label || val.type}}">
                                    <span class="help-block" ng-if="vm.checkDuplicateEmail(val)">Email already exists. </span>
                                    <textarea ng-if="val.name === 'message'" class="form-control input-lg" name="message" rows="5" ng-model="vm.formBuilder[val.name]" ng-attr-style="{{vm.inputStyle(vm.component.formSettings)}}" name="{{val.name}}" ng-required='!val.optional' ng-pattern="vm.addPattern(val)" ng-attr-placeholder="{{val.label || val.type}}"></textarea>
                                </div>
                                <div class="form-group  input-field-container col-sm-12  req-opt-in-container" ng-if="vm.component.optInRequired"  ng-class="{ 'has-error' : (formBuilder._optin.$invalid || formBuilder._optin.$error.$required) && !formBuilder._optin.$pristine }">

									<div class="form-checkbox-field">
                                        <span class="required req-opt-in">*</span>
										<input class="optin-checkbox" type="checkbox" ng-model="vm.formBuilder['_optin']" name="_optin" ng-required='true' ng-change="vm.formFiedlsCHange('_optin')">
									</div>
									<div class="form-checkbox-label">
										<div elem ng-model="vm.component.optInText">
										</div>
									</div>
								</div>
                                <div class="clearfix mb15 visible-xs"></div>

                                <div class="col-sm-12 form-builder-submit-btn-container">
                                    <button ng-if="!vm.isEditing" ng-attr-style="{{vm.buttonStyle(vm.component.btn)}}" ng-class="{'ssb-theme-btn form-submit-button': vm.component.submitBtn}" type="submit" class="btn btn-form btn-block pull-right" ng-disabled="formBuilder.$invalid || setinvalid">
                                        <span elem ng-model="vm.component.submitBtn"></span>
                                    </button>
                                    <div ng-if="vm.isEditing" ng-attr-style="{{vm.buttonStyle(vm.component.btn)}}" ng-class="{'ssb-theme-btn form-submit-button': vm.component.submitBtn}" class="btn btn-form btn-block pull-right editable-btn-form">
                                        <span class-name="btn-form-text" elem ng-model="vm.component.submitBtn"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix mb15"></div>
                        <div ng-show="vm.formSuccess" ng-if="vm.component.formSettings.successMessage">
                            <div class="row thank-you">
                                <h3 class="center mb20" ng-bind-html="vm.component.formSettings.successMessage"></h3>
                            </div>
                        </div>
                         <div ng-show="vm.formError">
                            <div class="row thank-you">
                                <h3 class="center mb20" ng-bind-html="vm.component.formSettings.errorMessage || 'Error while Submitting!'"></h3>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <style>
        .form-builder-{{vm.component._id}} .form-builder-title {
        color: {
            {
                vm.component.txtcolor || 'white'
            }
        };
        }
        .form-builder-{{vm.component._id}} .component-content.default-font-size * {
            font-size: {{vm.component.formSettings.formTextSize}}px !important;
        }
        .form-builder-{{vm.component._id}} .component-content.default-font-size .form-builder-layout label {
            word-break: break-all !important;
        }
        .form-builder-{{vm.component._id}} .component-content.default-font-size .editable-title {
            font-size: 14px !important;
        }

        .form-builder-{{vm.component._id}} .input-field-spacing.input-fields.nth-row2 div.input-field-container:nth-child(2n) {
            padding-left: {{vm.component.formSettings.spacing.pr/2}}px !important;
        }

        .form-builder-{{vm.component._id}} .input-field-spacing.input-fields.nth-row2 div.input-field-container:nth-child(2n+1) {
            padding-right: {{vm.component.formSettings.spacing.pr/2}}px !important;
            clear: left;
        }

        .form-builder-{{vm.component._id}} .input-field-spacing.input-fields.nth-row3 div.input-field-container:nth-child(3n) {
            padding-left: {{vm.component.formSettings.spacing.pr/2}}px !important;
        }

        .form-builder-{{vm.component._id}} .input-field-spacing.input-fields.nth-row3 div.input-field-container:nth-child(3n+1) {
            padding-right: {{vm.component.formSettings.spacing.pr/2}}px !important;
        }

        .form-builder-{{vm.component._id}} .input-field-spacing.input-fields.nth-row3 div.input-field-container:not(:nth-child(3n)), .form-builder-{{vm.component._id}} .input-field-spacing.input-fields.nth-row3 div.input-field-container:not(:nth-child(3n+1)) {
            padding-left: {{vm.component.formSettings.spacing.pr/2}}px !important;
            padding-right: {{vm.component.formSettings.spacing.pr/2}}px !important;
        }

        .form-builder-{{vm.component._id}} .input-field-spacing.input-fields.nth-row4 div.input-field-container:nth-child(4n) {
            padding-left: {{vm.component.formSettings.spacing.pr/2}}px !important;
        }

        .form-builder-{{vm.component._id}} .input-field-spacing.input-fields.nth-row4 div.input-field-container:nth-child(4n+1) {
            padding-right: {{vm.component.formSettings.spacing.pr/2}}px !important;
        }

        .form-builder-{{vm.component._id}} .input-field-spacing.input-fields.nth-row4 div.input-field-container:not(:nth-child(4n)), .form-builder-{{vm.component._id}} .input-field-spacing.input-fields.nth-row4 div.input-field-container:not(:nth-child(4n+1)) {
            padding-left: {{vm.component.formSettings.spacing.pr/2}}px !important;
            padding-right: {{vm.component.formSettings.spacing.pr/2}}px !important;
        }

        .form-builder-{{vm.component._id}} .input-field-spacing.input-fields.nth-row5 div.input-field-container:nth-child(5n) {
            padding-left: {{vm.component.formSettings.spacing.pr/2}}px !important;
        }

        .form-builder-{{vm.component._id}} .input-field-spacing.input-fields.nth-row5 div.input-field-container:nth-child(5n+1) {
            padding-right: {{vm.component.formSettings.spacing.pr/2}}px !important;
        }

        .form-builder-{{vm.component._id}} .input-field-spacing.input-fields.nth-row5 div.input-field-container:not(:nth-child(5n)), .form-builder-{{vm.component._id}} .input-field-spacing.input-fields.nth-row5 div.input-field-container:not(:nth-child(5n+1)) {
            padding-left: {{vm.component.formSettings.spacing.pr/2}}px !important;
            padding-right: {{vm.component.formSettings.spacing.pr/2}}px !important;
        }
        .form-builder-{{vm.component._id}} .btn-simple-form:hover, .btn-simple-form:active, .btn-simple-form:active:focus, .btn-simple-form:active:hover
        {
            color: {{vm.component.btn.color}}!important
        }
        .form-builder-{{vm.component._id}} ::-webkit-input-placeholder {
            color: {{vm.component.formSettings.inputTextColor}};
        }
        .form-builder-{{vm.component._id}} :-moz-placeholder {
            color: {{vm.component.formSettings.inputTextColor}};
        }
        .form-builder-{{vm.component._id}} ::-moz-placeholder {
            color: {{vm.component.formSettings.inputTextColor}};
        }
        .form-builder-{{vm.component._id}} :-ms-input-placeholder {
            color: {{vm.component.formSettings.inputTextColor}};
        }
        .form-builder-{{vm.component._id}} .element-wrap {
            font-family: {{vm.component.formSettings.formFontFamily}}!important;
        }
    </style>
</div>
