<div class="form-builder-{{vm.component._id}}">
        <div class="col-xs-12 component-body" ng-class="{'default-font-size': vm.component.formSettings.formTextSize}" style="{{formStyle(vm.component.formSettings)}}">
            <div>
                <div class="inner-page row">
                    <div class="form-title ssb-theme-heading-text">
                        <div elem ng-model="vm.component.maintitle"></div>
                    </div>
                    <div class="form-subtitle">
                        <div elem ng-model="vm.component.subtitle"></div>
                    </div>
                    <div class="clearfix mb15"></div>
                    <form name="formBuilder" ng-submit="createUser(formBuilder)">
                    
                        <div class="form-builder-layout" ng-switch="vm.component.layout">
                            <div ng-switch-when="1" class="form-layout-1" style="{{vm.inputStyle(vm.component.formSettings)}}">
                                <div style="{{vm.fieldStyle(vm.component.formSettings)}}" class="form-group col-sm-12" ng-if="val.visible" ng-repeat="val in vm.component.contactInfo">
                                    <label class="control-label">{{val.label}}</label>
                                    <input type="text" class="form-control" ng-model="vm.formBuilder[val.type]">
                                </div>

                                <div style="{{vm.fieldStyle(vm.component.formSettings)}}" class="form-group col-sm-12">
                                  <label class="control-label">Message</label>
                                  <textarea class="form-control input-lg" name="message" rows="5" ng-model='user.message'></textarea>  
                                </div>

                                <div class="clearfix mb15 visible-xs"></div>
                                <div class="col-sm-12">                        
                                    <button style="{{vm.buttonStyle(vm.component.btn)}}" ng-class="{'ssb-theme-btn': vm.component.submitBtn}" type="submit" ng-style="{'background': component.btn.bgcolor, 'color':component.btn.color, 'border-color': component.btn.bgcolor}" class="btn btn-form btn-default pull-right btn-block" ng-disabled="formBuilder.$invalid">
                                        <span elem ng-model="vm.component.submitBtn"></span>
                                    </button>                           
                                </div>

                                
                            </div>
                            <div ng-switch-when="2" class="form-layout-2" style="{{vm.inputStyle(vm.component.formSettings)}}">
                                <div style="{{vm.fieldStyle(vm.component.formSettings)}}" class="form-group col-sm-12" ng-if="val.visible" ng-repeat="val in vm.component.contactInfo">
                                    <label class="col-sm-2 control-label">{{val.label}}</label>                                    
                                    <div class="col-sm-10">
                                      <input type="text" class="form-control" ng-model="vm.formBuilder[val.type]">
                                    </div>
                                </div>

                                <div style="{{vm.fieldStyle(vm.component.formSettings)}}" class="form-group col-sm-12">
                                    <label class="col-sm-2 control-label">Message</label>
                                    <div class="col-sm-10">
                                     <textarea class="form-control input-lg" name="message" rows="5" ng-model='user.message'></textarea>  
                                    </div>
                                </div>
                                <div class="clearfix mb15 visible-xs"></div>
                                <div class="col-sm-12">                        
                                    <button style="{{vm.buttonStyle(vm.component.btn)}}" ng-class="{'ssb-theme-btn': vm.component.submitBtn}" type="submit" ng-style="{'background': component.btn.bgcolor, 'color':component.btn.color, 'border-color': component.btn.bgcolor}" class="btn btn-form btn-default pull-right btn-block" ng-disabled="formBuilder.$invalid">
                                        <span elem ng-model="vm.component.submitBtn"></span>
                                    </button>                           
                                </div>
                            </div>
                            <div ng-switch-when="3" class="form-layout-3" style="{{vm.inputStyle(vm.component.formSettings)}}">
                                <div class="col-sm-6">
                                    <div style="{{vm.fieldStyle(vm.component.formSettings)}}" class="form-group" ng-if="val.visible" ng-repeat="val in vm.component.contactInfo">    
                                      <input placeholder="{{val.label}}" type="text" class="form-control" ng-model="vm.formBuilder[val.type]">
                                    </div>
                                </div>  
                                <div class="col-sm-6">
                                    <div style="{{vm.fieldStyle(vm.component.formSettings)}}" class="form-group">               
                                        <textarea placeholder="Message" class="form-control input-lg" name="message" rows="5" ng-model='user.message'></textarea> 
                                    </div>
                                </div>

                                <div class="clearfix mb15 visible-xs"></div>
                                <div class="col-sm-12">                        
                                    <button style="{{vm.buttonStyle(vm.component.btn)}}" ng-class="{'ssb-theme-btn': vm.component.submitBtn}" type="submit" ng-style="{'background': component.btn.bgcolor, 'color':component.btn.color, 'border-color': component.btn.bgcolor}" class="btn btn-form btn-default pull-right btn-block" ng-disabled="formBuilder.$invalid">
                                        <span elem ng-model="vm.component.submitBtn"></span>
                                    </button>                            
                                </div>
                                
                            </div>
                            <div ng-switch-when="4" class="form-layout-4" style="{{vm.inputStyle(vm.component.formSettings)}}">
                                <div style="{{vm.fieldStyle(vm.component.formSettings)}}" class="form-group col-sm-12" ng-if="val.visible" ng-repeat="val in vm.component.contactInfo">
                                    <input placeholder="{{val.label}}" type="text" class="form-control" ng-model="vm.formBuilder[val.type]">
                                </div>

                                <div style="{{vm.fieldStyle(vm.component.formSettings)}}" class="form-group col-sm-12">
                                  <textarea placeholder="Message" class="form-control input-lg" name="message" rows="5" ng-model='user.message'></textarea>  
                                </div>
                                <div class="clearfix mb15 visible-xs"></div>
                                <div class="col-sm-12">                        
                                    <button style="{{vm.buttonStyle(vm.component.btn)}}" ng-class="{'ssb-theme-btn': vm.component.submitBtn}" type="submit" ng-style="{'background': component.btn.bgcolor, 'color':component.btn.color, 'border-color': component.btn.bgcolor}" class="btn btn-form btn-default pull-right btn-block" ng-disabled="formBuilder.$invalid">
                                        <span elem ng-model="vm.component.submitBtn"></span>
                                    </button>                           
                                </div>
                            </div>
                            <div ng-switch-default class="form-layout-1" style="{{vm.inputStyle(vm.component.formSettings)}}">
                                <div style="{{vm.fieldStyle(vm.component.formSettings)}}" class="form-group col-sm-12" ng-if="val.visible" ng-repeat="val in vm.component.contactInfo">
                                    <label class="control-label">{{val.label}}</label>
                                    <input type="text" class="form-control" ng-model="vm.formBuilder[val.type]">
                                </div>

                                <div style="{{vm.fieldStyle(vm.component.formSettings)}}" class="form-group col-sm-12">
                                  <label class="control-label">Message</label>
                                  <textarea class="form-control input-lg" name="message" rows="5" ng-model='user.message'></textarea>  
                                </div>
                                <div class="clearfix mb15 visible-xs"></div>
                                <div class="col-sm-12">                        
                                    <button style="{{vm.buttonStyle(vm.component.btn)}}" ng-class="{'ssb-theme-btn': vm.component.submitBtn}" type="submit" ng-style="{'background': component.btn.bgcolor, 'color':component.btn.color, 'border-color': component.btn.bgcolor}" class="btn btn-form btn-default pull-right btn-block" ng-disabled="formBuilder.$invalid">
                                        <span elem ng-model="vm.component.submitBtn"></span>
                                    </button>                            
                                </div>
                            </div>
                        </div>                        
                        
                        <div class="clearfix mb15"></div>
                        <div ng-show="formSuccess">
                            <div class="row thank-you animated" ng-class="{fadeOut: !formSuccess, tada: formSuccess}">
                                <h3 class="center mb20" ng-bind-html="vm.component.formSettings.successMessage || 'Thank You for Submitting!'"></h3>
                            </div>
                        </div>
                         <div ng-show="formError">
                            <div class="row thank-you animated" ng-class="{fadeOut: !formError, tada: formError}">
                                <h3 class="center mb20" ng-bind-html="vm.component.formSettings.errorMessage || 'Error while Submitting!'"></h3>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>