<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->

<div class="page">

    <div ng-show="component" id="{{ component.anchor}}"
         class="row inner-page feature-list">
        <div class="row">
            <div class="editable title col-sm-12">
                <h5>{{component['title']}}</h5>
            </div>
            <div class="container">

                <div class="col-sm-3 feature-single-{{$index}}" ng-repeat="feature in component.features"
                     style="opacity:1">

                    <div class="editable" ng-if="feature['feature-icon']">
                        <a href="{{feature['feature-button-url']}}">
                            <span class="{{feature['feature-icon']}}"></span>
                        </a>
                    </div>

                    <div class="editable" ng-if="!feature['feature-icon']">
                                  <span class="feature-case" data-class="feature-image">
                                      <img src="{{feature['feature-image']}}"
                                           onmouseover="{{feature.src + '=' + feature['feature-image-hover']}}"
                                           onmouseout="this.src='{{feature.feature-image}}'">
                                  </span>
                    </div>

                    <div class="editable" data-class="features.item.title">
                        <h4>{{feature['feature-title']}}</h4>
                    </div>
                    <div class="editable feature-p" data-class="features.item.paragraph">
                        <p>{{feature['feature-text']}}</p>
                    </div>
                    <button class="btn btn-success btn-block center" href="{{feature.btn.url}}">
                        <div data-class="btn-text" class="editable">
                            {{feature.btn.text}}
                        </div>
                    </button>
                </div>
                <div class="pusher visible-xs"></div>
            </div>
        </div>
    </div>

</div>
