<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->
<div ng-show="component" id="{{component.anchor}}" class="component feature-list-v1" data-id="{{component._id}}" background-image="url('{{component.bg.img.url}}')">
    <div class="row inner-page">
        <div class="row">
            <h1 class="feature-list-title">
                <div class="editable" data-class="title">
                    <h1><span ng-bind-html="component.title"/></h1>
                </div>
            </h1>
            <div class="feature-list-subtitle col-xs-8 col-xs-offset-2">
                <div class="editable" data-class="subtitle">
                    <span ng-bind-html="component.subtitle"/>
                </div>
            </div>
            <div class="clearfix mb15"></div>

            <div data-ng-repeat="feature in component.features track by $index">
                <div class="col-sm-6 feature">
                    <div class="feature-single feature-single-{{$index}}" style="opacity:0">
                        <span class="feature-icon {{feature.feature-icon}}"></span>

                        <h3 class="feature-title">
                            <div class="editable" data-class="feature-title">
                                {{feature['feature-title']}}
                            </div>
                        </h3>
                        <div class="feature-subtitle">
                            <div class="editable" data-class="feature-subtitle">
                                <span ng-bind-html="feature['feature-subtitle']" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

