<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->
<div ng-show="component">
    <div class="component-body">
        <div class="inner-page meet-team">
            <div class="editable" data-class="title">
                <h3>{{component.title}}</h3>
            </div>
            <div class="mb30"></div>
            <div ng-repeat="teamMember in component.teamMembers track by $index">
            <div data-ng-if="!teamMember['become-member']" >
                <div class="col-xs-3 editable profilepic" data-class="profilepic" style="opacity: 0;">
                    <ul class="profile-social">
                        <li>
                            <a ng-href="{{teamMember.social.linkedin}}" target="_blank">
                                <span class="fa fa-linkedin"></span>
                            </a>
                        </li>

                    </ul>
                    <img src="{{teamMember.profilepic}}" class="thumbnail img-circle"/>
                </div>
                <div class="col-xs-9">
                    <div class="editable" data-class="name">
                        <h4>{{teamMember.name}}</h4>
                    </div>
                    <div class="editable" data-class="position">
                        <span>{{teamMember.position}}</span>
                    </div>
                    <div class="editable" data-class="bio">
                        <p>{{teamMember.bio}}</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="become-member " data-ng-if="teamMember['become-member']">
                  <div class="col-xs-3 editable profilepic" data-class="profilepic" style="opacity: 0;">
                        <img src="{{teamMember.profilepic}}" class="thumbnail img-circle"/>
                  </div>
                  <div class="col-xs-9">
                      <div class="editable" data-class="name">
                          <h4>{{teamMember.name}}</h4>
                      </div>
                      <div class="editable" data-class="position">
                          <span>{{teamMember.position}}</span>
                      </div>
                      <div class="editable" data-class="bio">
                          <p>{{teamMember.bio}}</p>
                      </div>
                  </div>
                  <div class="clearfix"></div>

              </div>
        </div>
    </div>
</div>
</div>