.account {
	overflow: hidden;
	background: #e4e7ea;

	.billing-section {
		.panel-body {
			min-height: 275px;
		}
	}

	.template-btns {
		margin-bottom: 0;
	}

	.integrations-section {
		.thumbnail {
			max-height: 400px;
			height: 100%;

			.img-circle {
				position: relative;
				top: 0;
				right: 0;
				padding: 0;
				margin: 0;
				width: 50px;
				transform: translate(0, 0);
			}

			img {
				width: 100%;
				margin-top: 20px;
				height: auto;
			}

			h3 {
				margin-top: 5px;
			}

			.caption p {
				height: 70px;
			}

			.img-wrap {
				height: 200px;
				position: relative;
				border: 1px solid #e7e7e7;
				overflow: hidden;
			}
			.connected {
				height: 70px;
				margin-bottom: 10px;
			}
		}
	}

	.modal-body {
		h3:first-child {
			margin-top: 0;
		}
	}

	.paid {
		width: 330px;
		position: fixed;
		opacity: .05;
		margin: 0 18%;
	}

	.total {
		font-size: 60px;
		span {
			font-size: 22px;
		}
	}

	.profile {
		.social-list p {
			line-height: 50px;
			margin-bottom: 0;
		}
	}

	#billSummaryModal {
		.summary {
			h4 {
				margin: 0;
			}
		}
	}
}

.panel-selected .panel-heading {
	background-color: #27ae60;
	.panel-title {
		color: white;
	}
}

.plan-selected {
	border: 3px solid #27ae60;
	border-radius: 7px;
}

.selected-plan {
	color: #27ae60;
	text-align:center;
	margin: 5px 0;
}