.billing-section {
	.panel-body {
		min-height: 275px;
	}
}

.integrations-section {
	.thumbnail {
		max-height: 400px;
		height: 100%;
		img {
			max-height: 200px;
			border: 1px solid #e7e7e7;
			width: 100%;
		}

		h3 {
			margin-top: 5px;
		}

		.caption p {
			height: 60px;
		}
	}
}