#leftnav {
    position: fixed;
    .nav-bracket > li.active > a {
        background-color: #eee;
        color: rgb(51, 51, 51);
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
#headerbar {
    left: 0px;
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    height: 0;
    border: 0 !important;
}

.leftpanel-show {
    #headerbar {
        left: 187px;
    }
    .contentpanel, .header-menu-row {
        margin-left: 190px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}

body.leftpanel-collapsed {
    #headerbar {
        left: 52px;
    }
}
body.leftpanel-collapsed.rightmenu-open {
    #headerbar {
        right: 240px;
    }
    .contentpanel, .header-menu-row {
        margin-right: 240px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}
#main-viewport {
    padding: 52px 0 0 0;
    overflow: auto;
}
#ngProgress-container {
    height: 2px;
}
.jdfs-main {
    width: 200px;
    height: 50px;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: #fbfbfb;
}
.jdfs-window {
    background: #bcbcbc;
    width: 200px;
    top: 100%;
    left: 0;
    z-index: 3000;
    position: absolute;
    padding: .5em;
}
.glyphicon-remove-icon{
  color: #c7254e;
  padding-bottom:10px;
}

.form-container{
  padding: 30px;
}
.form-container .row{
  float:left;
}
