#leftnav {
    -webkit-box-shadow: 2px 0px 3px -2px rgba(0,0,0,0.6);
    position: fixed;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
    .nav-bracket > li.active > a {
        background-color: #50c7e8;
        color: rgb(51, 51, 51);
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

#editor-toolbar {
    position: fixed;
    top: 0;
    z-index: 99999;
    display: block;
    width: 100%;
    height: 60px;
}

#headerbar {
    left: 0px;
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    height: 0;
    border: 0 !important;
}

.leftpanel-show {
    #headerbar {
        left: 187px;
    }
    .contentpanel, .header-menu-row {
        margin-left: 190px;
        // -webkit-transition: all 0.3s ease;
        // -moz-transition: all 0.3s ease;
        // transition: all 0.3s ease;
    }
}

@media (max-width: 768px) {
     /* First tour, first step */
     .powertour-step {
        width: 100%!important;
        left: 0!important;
        bottom: 0!important;
        position: fixed!important;
        height: 187px!important;
        top: auto!important;
     }

}

body.leftpanel-collapsed {
    #headerbar {
        left: 52px;
    }
}
body.leftpanel-collapsed.rightmenu-open {
    #headerbar {
        right: 240px;
    }
    .contentpanel{
        margin-right: 240px;
        // -webkit-transition: all 0.3s ease;
        // -moz-transition: all 0.3s ease;
        // transition: all 0.3s ease;
    }
}

.powertour-highlight {
    position: relative;
}

span[class*=" connectordot-"] {
    background-color: #f8be2b!important;
}


#main-viewport {
    padding: 52px 0 0 0;
    overflow: auto;
}
#ngProgress-container {
    height: 2px;
}
.jdfs-main {
    width: 230px;
    height: 50px;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: #fbfbfb;
}
.jdfs-window {
    background: #bcbcbc;
    width: 200px;
    top: 100%;
    left: 0;
    z-index: 3000;
    position: absolute;
    padding: .5em;
}
.glyphicon-remove-icon{
  color: #c7254e;
  padding-bottom:10px;
}

.form-container{
  padding: 30px;
}
.form-container .row{
  float:left;
}