.commerce-item {

  cursor: pointer;
  background: #fcfcfc;
  padding: 15px 5px;
  font-size: 13px;
  border-radius: 3px;
  .box-shadow(0 3px 0 rgba(12, 12, 12, 0.03));
  margin-bottom: 20px;

  span.icon {
    margin: 0 auto;
    width: 75px;
    display: block;
  }

  span.icon i {
    background-color: #54C8E8;
    height: 75px;
    line-height: 75px;
    font-size: 29px;
    color: white;
    width: 75px;
    text-align: center;
    border-radius: 40px;
    border: 1px solid gray;
  }


  @media (max-width: @screen-xs-max) {
    margin-bottom: 4px;
    padding-bottom: 0px;

    .thumbnail {
      padding: 0px;
    }


    .media-object {
      border-radius: 3px;
      width: 50px;
      height: 50px;
      display:inline;
      float:left;
      margin-right:15px;
      margin-bottom: 0px;
    }

    .important-star {
      top:23px;
      margin-right:20px;

      .fa.fa-star-o,
      .fa.fa-star {
        font-size:25px;
      }
    }
  }

  @media (min-width: @screen-sm-min) {
    .media-object {
      border-radius: 3px;
      margin: 10px auto;
      width: 110px;
      height: 110px;
    }
  }

  .fa {
    margin-right: 5px;
  }

  .important-star {
    position: absolute;
    right: 0;
    margin: 0px 13px;
    font-size: 22px;
    z-index: 99999;

    .fa-star-o {
      cursor: pointer;
      &:hover {
        color: #f1c40f;
      }
    }

    .fa-star {
      cursor: pointer;
      color: #f1c40f;
    }
  }

  &:hover {
    background: #f3f3f3;
    .box-shadow(0 3px 0 rgba(51, 51, 51, 0.2));
  }
}

.product-performance {
  min-height: 160px;
  background: white;
  padding: 10px;
  -webkit-box-shadow: 0 3px 5px 0 #d8dbde;
  box-shadow: 0 3px 5px 0 #d8dbde;
  border: 1px solid #e4e7ea;
}

.product-gallery .panel-heading {
  padding: 40px 0;
}

.product-details {
  h4 {
    margin-top: 0!important;
  }

  h3 {
    margin-top: 0!important;
  }

  .panel-heading h4 {
    color: white;
    text-align: center;
  }
}

.product-img {
  font-size: 75px!important;
  color: #ffffff!important;
  text-align: center;
  padding: 20px 0;
}

.categories {
  padding: 10px;
}

.product-sections ul {
  padding-left: 0;
}

.attribute {
  padding: 15px;
  background: #f5f5f5;
  border-radius: 5px;
  box-shadow: inset 1px 1px 6px rgba(0,0,0,0.2);
}

.remaining-product-images {
  .sml-img {
    background: #d0d0d0;
    height: 85px;
    width: 85px;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 45px;
    line-height: 85px;
    float: left;
    margin: 5px;
  }
}

.all-subscriptions {
  .fa-check {
    font-size: 18px;
    color: #2ecc71;
  }
}

.rightpanel-commerce {

  .leftpanelinner {
    margin-top: 0;
  }

}