#contacts-main-container {
  #contacts-list-container {
    margin-top: 10px;
  }

  #contacts-current-letter {
    background-color: #f0f0f0;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .contact-thumbnail {

    padding-left: 4px;
    padding-right: 4px;

    .inner {
      cursor: pointer;

      // .fadeBackgroundHover(0.2s);
      &:hover {
        background-color: @panel-info-heading-bg;
      }
    }

    .btn-add-contact {
      position: absolute;
      top: 60px;
      left: 10px;
    }

    .contact-thumbnail-details {
      font-size: small;
      margin-top: 10px;
    }


    .contact-thumbnail-actions {
      font-size: 25px;
      position: absolute;
      bottom: 25px;
      right: 40px;
    }

    .contacts-photo-container {

        img {
          border: 1px solid #CCCCCC;
          max-height:80px;
        }

        @media (max-width: @screen-xs-max) {
          img {
            height: 40px;
            position: absolute;
            right: 5px;
            bottom: 5px;
          }
        }

        @media (min-width: @screen-sm-min) {
          img {
            position: absolute;
            right: 10px;
            top: 10px;
          }

          img.standard {
            height: 80px;
          }
        }
    }

    @media (max-width: @screen-xs-max) {

      &:first-child {
        margin-top: 20px;
      }

      .inner {
        width: 100%;
        border-bottom: 1px solid #CCCCCC;
        min-height: 40px;
        margin-bottom: 5px;
      }
    }

    @media (min-width: @screen-sm-min) {
      .inner {
        border: 1px solid #CCCCCC;
        height: 150px;
        margin-bottom: 15px;
        padding: 8px;
      }
    }
  }
}


#contact-details-container {

  color: #676767;
  position:relative;


  #contact-name {
    font-size:1.2em;
    font-weight:bold;
  }

  #btn-back-to-contacts {
    i {
      font-weight:bold;
      font-size:2.0em;
      margin-right:15px;
    }
  }

  #btn-edit-contact-primary {
    margin-left: 10px;
    margin-top: -3px;
  }

  #btn-edit-contact-mobile {
    margin-top: 10px;
  }

  #contact-type {
    margin-left: 30px;
  }

  .contact-photo-container {
    margin-top:20px;

    img {
      height: 110px;
    }
  }

  #contact-summary {
    position:absolute;
    top:70px;
    left:180px;
  }

  #contact-information {
    margin-top: 30px;

    hr {
      margin-top:5px;
    }

    .icon-main.fa {
      font-weight: bold;
      font-size: 2em;
      padding-top:5px;
    }

    .icon-social.fa {
      margin-left:8px;
    }

    #address-row,#email-row {
      margin-top:25px;
    }

    .edit-address-container {
      margin-bottom:15px;

      &:last-child {
        margin-bottom:0px;
      }
    }
  }
}


#contact-edit-container {

  #btn-back-to-contact {
    i {
      font-weight:bold;
      font-size:2.0em;
      margin-right:15px;
      margin-top:-6px;
    }
  }

  .icon-main.fa {
    font-weight: bold;
    font-size: 1.4em;
    padding-top:5px;
    margin-top:15px;
  }


  #address-row,#email-row {
    margin-top:25px;
  }


  .edit-email-container {
    margin-top:15px;
  }


  #contact-photo-container {
    img {
      &:hover {
        opacity: 0.8;
      }
    }
  }


  .btn.btn-default-shipping, .btn.btn-default-billing {
    .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);

    i.fa {
      visibility: hidden;
    }
  }

  .btn.btn-default-shipping.default, .btn.btn-default-billing.default {
    .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);

    i.fa {
      visibility: visible;
    }
  }
}

.empty {
  width: 200px;
  margin: 0 auto;
  text-align: center;

  .fa {
    font-size: 74px;
    color: #bebebe;
    text-shadow: 1px 1px 1px white;
    padding: 15px;
    text-align: center;
  }
}

.fb-color {
  background: rgb(59, 89, 152);
  &:hover {
    background: rgb(70, 108, 187);
  }
}

.linkedin-color {
    background: rgb(0, 123, 182);
    &:hover {
      background: rgb(3, 147, 216);
    }
}

.google-color {
    background: rgb(221, 75, 57);
    &:hover {
      background: rgb(248, 83, 63);
    }
}

.import-success {
  text-align: center;
  .fa-check {
    font-size: 64px;
    text-align: center;
    color:#1CAF9A;
  }
}

#import-contacts-modal {
  .btn {
    margin-left: 10px;
    min-width: 115px;
    color: white;
    &:first-child {
      margin-left: 0;
    }
    .fa {
      font-size: 30px;
      background: none!important;
    }
    .modal-body {
      min-height: 250px;
      height: 100%;
    }
  }
}