.contacts {
  background: #e7e7e7;
}
#contacts-main-container {
  #contacts-list-container {
    margin-top: 10px;
  }

  #contacts-current-letter {
    background-color: #f0f0f0;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .contact-thumbnail {

    padding-left: 4px;
    padding-right: 4px;

    .inner {
      cursor: pointer;

      // .fadeBackgroundHover(0.2s);
      &:hover {
        background-color: @panel-info-heading-bg;
      }
    }

    .btn-add-contact {
      position: absolute;
      top: 60px;
      left: 10px;
    }

    .contact-thumbnail-details {
      font-size: small;
      margin-top: 10px;
    }


    .contact-thumbnail-actions {
      font-size: 25px;
      position: absolute;
      bottom: 25px;
      right: 40px;
    }

    .contacts-photo-container {

        img {
          border: 1px solid #CCCCCC;
          max-height:80px;
        }

        @media (max-width: @screen-xs-max) {
          img {
            height: 40px;
            position: absolute;
            right: 5px;
            bottom: 5px;
          }
        }

        @media (min-width: @screen-sm-min) {
          img {
            position: absolute;
            right: 10px;
            top: 10px;
          }

          img.standard {
            height: 80px;
          }
        }
    }

    @media (max-width: @screen-xs-max) {

      &:first-child {
        margin-top: 20px;
      }

      .inner {
        width: 100%;
        border-bottom: 1px solid #CCCCCC;
        min-height: 40px;
        margin-bottom: 5px;
      }
    }

    @media (min-width: @screen-sm-min) {
      .inner {
        border: 1px solid #CCCCCC;
        height: 150px;
        margin-bottom: 15px;
        padding: 8px;
      }
    }
  }
}


#contact-details-container {

  color: #676767;
  position:relative;


  #contact-name {
    font-size:1.2em;
    font-weight:bold;
  }

  #btn-back-to-contacts {
    i {
      font-weight:bold;
      font-size:2.0em;
      margin-right:15px;
    }
  }

  #btn-edit-contact-primary {
    margin-left: 10px;
    margin-top: -3px;
  }

  #btn-edit-contact-mobile {
    margin-top: 10px;
  }

  #contact-type {
    margin-left: 30px;
  }

  .contact-photo-container {
    margin-top:20px;

    img {
      height: 110px;
    }
  }

  #contact-summary {
    position:absolute;
    top:70px;
    left:180px;
  }

  #contact-information {
    margin-top: 30px;

    hr {
      margin-top:5px;
    }

    .icon-main.fa {
      font-weight: bold;
      font-size: 2em;
      padding-top:5px;
    }

    .icon-social.fa {
      margin-left:8px;
    }

    #address-row,#email-row {
      margin-top:25px;
    }

    .edit-address-container {
      margin-bottom:15px;

      &:last-child {
        margin-bottom:0px;
      }
    }
  }
  .important-star {
    position: absolute;
    right: 0;
    margin: 0px 13px;
    font-size: 22px;

    .fa-star-o {
      cursor: pointer;
      &:hover {
        color: #f1c40f;
      }
    }

    .fa-star {
      cursor: pointer;
      color: #f1c40f;
    }
  }
  .media-object{
    max-height: 250px; max-width: 250px;
  }
}


#contact-edit-container {
  .input-lg {
    height: 48px;
  }
  #btn-back-to-contact {
    i {
      font-weight:bold;
      font-size:2.0em;
      margin-right:15px;
      margin-top:-6px;
    }
  }

  .icon-main.fa {
    font-weight: bold;
    font-size: 1.4em;
    padding-top:5px;
    margin-top:15px;
  }


  #address-row,#email-row {
    margin-top:25px;
  }


  .edit-email-container {
    margin-top:15px;
  }


  #contact-photo-container {
    img {
      &:hover {
        opacity: 0.8;
      }
    }
  }


  .btn.btn-default-shipping, .btn.btn-default-billing {
    .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);

    i.fa {
      visibility: hidden;
    }
  }

  .btn.btn-default-shipping.default, .btn.btn-default-billing.default {
    .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);

    i.fa {
      visibility: visible;
    }
  }
  .input-address-field {
    padding-top:0px;
    padding-bottom:0px;
  }
}

.import-success {
  text-align: center;
  .fa-check {
    font-size: 64px;
    text-align: center;
    color:#1CAF9A;
  }
}

#fix-duplicates-modal .modal-body {
  padding: 0;
}

.duplicates-list {
  p {padding: 15px;}
  ul {
    padding: 15px;
    li {
      border-radius: 3px;
      background: #fcfcfc;
      min-height: 50px;
      line-height: 50px;
      text-indent: 30px;
      border-bottom: 1px solid #e4e7ea;

      .name {
        width: 20%;
        float: left;
      }

      .similar {
        width:20%;
        float: left;
      }
      &:hover {
        background: #1adff1;
      }
    }
  }
}

#import-contacts-modal {
  .btn {
    margin-left: 10px;
    min-width: 65px;
    color: white;
    &:first-child {
      margin-left: 0;
    }
    .fa {
      font-size: 30px;
      background: none!important;
    }
    .modal-body {
      min-height: 250px;
      height: 100%;
    }
  }
}

.people-list {
  margin-top: 140px;
}

.filter-bar {
  margin-right: 16px;
  z-index: 999;
  background: #fff;
  border: 1px solid #d3d7db;
  position: fixed;
  right: 0;
  left: 52px;
  top: 113px;
  .panel-body {
    padding: 20px 10px;
  }
}

.slide {
    -webkit-transition: -webkit-transform.5s ease-in-out; -moz-transition: -moz-transform.5s ease-in-out; -o-transition: -o-transform.5s ease-in-out;
    transition: transform.5s ease-in-out;
}
.slide--reset {
    -webkit-transform: translateY(0); -ms-transform: translateY(0);
    transform: translateY(0);
}
.slide--up {
    -webkit-transform: translateY(-100% ); -ms-transform: translateY(-100% );
    transform: translateY(-100% );
}

.header--fixed {
  position: fixed;
  z-index: 10;
  right: 16px;
  left: 242px;
  top: 63px;
}

.rightmenu-open .header--fixed {

}

.leftpanel-collapsed .header--fixed {
  left: 75px;
}

#btn-new-device {
  margin-right: 40px;
}

.btn-edit-photo {
  text-decoration: none;
}


@media(max-width:1024px) {
    .leftpanel-collapsed .header--fixed {
      left: 0px;
    }
}

.rightmenu-open .filter-bar {
  margin-right: 274px;
}


/***** Infinite Scroll Effects *****/

.people-item {
  opacity: 0;
   @media (max-width: @screen-xs-max) {
      min-height: 100px!important;
    }
}


.people-item.shown {
  opacity: 1;
}

/* Effect 3: Scale up */
.people-item.animate {
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  -webkit-animation: scaleUp 0.65s ease-in-out forwards;
  animation: scaleUp 0.65s ease-in-out forwards;
}

@-webkit-keyframes scaleUp {
  0% { }
  100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes scaleUp {
  0% { }
  100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}
.tb-col {
    display: table-cell;
    float: none;
    text-align: center;
    vertical-align: middle;
    img.thumbnail {

    }
    .vcenter {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        float: none;
    }
    .media {
        padding: 0;
    }
    .people-item:hover {
    background: none;
    box-shadow: none;
    }
    .people-item {
        box-shadow: none;
        height: auto;
        margin: 0;
        min-height: 0;
        padding: 0;
        opacity: 1;
        .media-object {
            border-radius: 3px;
            height: auto;
            margin: 10px auto;
            width: 70px;
        }.media {
          border-left: 1px solid #e6e6e6;
          border-right: 1px solid #e6e6e6;
          }
    }
    .pull-left{
    width: 100%;
    color: #c2c2c2;  
    }
    .pull-right.social-list > li {
        display: inline-block;
        float: none;
        width: auto;    
    }
    .pull-right{
    float: none !important;
    }
}
.tb-row {
    display: table;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
}
.tb-main.table {
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}
.container-fluid.tb-row {
    table-layout: fixed;
    word-wrap: break-word;
}


.choose-import {
  text-align: center;
  ul {
    li {
      display: inline-block;
      margin-right: 15px;
    }
  }
}
.blur-map {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
