.panel-stat {
    background: none;
    .panel-heading {
        padding: 15px;
        border-radius: 3px;
    }
    .stat {
        color: #fff;
        img {
            text-align: center;
        }
    }
    i {
        font-size: 30px;
        border: 1px solid #fff;
        padding: 15px;
        border-radius: 50px;
        opacity: 0.5;
    }
    .stat-label {
        text-transform: uppercase;
        font-size: 11px;
        opacity: 0.75;
        display: block;
        line-height: normal;
        margin-bottom: 2px;
    }
    h1 {
        margin: 0;
        line-height: 36px;
        font-family:'Helvetica Neue', sans-serif;
        font-size: 38px;
    }
    h4 {
        margin: 0;
        font-family:'Helvetica Neue', sans-serif;
    }
}
.sublabel {
    display: block;
    font-size: 12px;
    margin-bottom: 2px;
}
.dashboard-datatable {
    .dataTables_filter {
        float: left;
    }
}

.dashboard-modules {
    padding: 0;
    .fa {
        font-size: 40px;
        margin: 6px;
        }
    li {
        height: 80px;
        width: 44%;
        float: left;
        margin: 5px;
        background: gray;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        font-size: 11px;
        text-align: center;
        border: 1px solid #444444;
        p {
            line-height: 12px;
        }
    }
}


.smart-timeline .chosen-select {
    float: right;
    width: 170px;
    margin: -14px -14px 0 0;
}