.dashboard {
    background: #e7e7e7;
    .btn-clearblack {
        background: rgba(0, 0, 0, 0.1);
    }
    .template-btns .btn:last-child {
        margin-left: 0;
    }
    .panel-btns a {
        opacity: 0.7;
        font-size: 24px;
        color: white;
        &:hover {
            opacity: 1;
        }
    }
    .chart-wrapper {
        background: #fff;
        border: 1px solid #e2e2e2;
        border-radius: 3px;
        margin-bottom: 10px;
    }
    .chart-wrapper .chart-title {
        border-bottom: 1px solid #d7d7d7;
        color: #555;
        font-size: 15px;
        font-weight: 500;
        padding: 8px 10px 5px;
    }
    .chart-wrapper .chart-stage {
        padding: 5px 10px;
    }
    .chart-wrapper .chart-stage.table {
        padding: 0px;
    }
    .chart-wrapper .chart-notes {
        background: #fbfbfb;
        border-top: 1px solid #e2e2e2;
        color: #808080;
        font-size: 12px;
        padding: 8px 10px 5px;
    }
    .keen-metric {
        a {
            color: inherit;
            &:hover {
                text-decoration: none;
            }
        }
        margin: 10px auto;
        padding: 15px;
        &.increase {
            background-color: #44d1ac;
            border-bottom: 4px solid #3ebc9b;
            .keen-metric-title {
                color: #1e876b;
            }
        }
        &.decrease {
            background-color: #e74c3c;
            border-bottom: 4px solid #c0392b;
            .keen-metric-title {
                color: #ac382d;
            }
        }
        .keen-metric-title {
            text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
            font-weight: 400;
            font-size: 21px;
        }
        .keen-metric-value {
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
            font-size: 45px;
        }
        .keen-metric-change-value {
            font-size: 20px;
            margin-top: 25px;
            text-align: left;
            line-height: 3px;
            span {
                font-size: 14px;
            }
        }
        .nullPercent {
            line-height: 17px;
        }
        .btn-view-details {
            display: none;
        }
    }
}
.single-metric-top {
    h1 {
        padding: 15px;
        font-size: 55px;
        margin: 0;
        text-align: center;
    }
}
.top-four {
    padding: 20px;
    color: #444;
    background: #f4f8fb;
    border-right: 1px solid #cfdde7;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #cfdde7;
    &:first-of-type {
        border-left: none;
    }
    &:last-of-type {
        border-right: none;
    }
    .title {
        text-align: center;
        font-size: 50px;
        line-height: 51px;
        font-weight: bold;
    }
    .metric {
        text-align: center;
        font-size: 14px;
    }
    .percent {
        font-size: 14px;
        vertical-align: text-top;
        line-height: 60px;
    }
}
.top-six {
    padding: 30px;
    .title {
        text-align: center;
        font-size: 30px;
        line-height: 30px;
        font-weight: bold;
    }
    .metric {
        text-align: center;
        font-size: 14px;
    }
}
@media(max-width:767px) {
    .single-metric-top {
        .top-four {
            padding: 15px 20px;
        }
    }
}
.increase {
    color: #2ecc71;
}
.decrease {
    color: #e74c3c;
}

.panel-nopadding {
    .panel-body {
        padding: 0;
    }
}

.modal-nopadding {
    padding: 0;
    .nav-tabs {
        margin-top: 0!important;
    }
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  position: relative;
}
