.dashboard {
    background: #e7e7e7;
    .btn-clearblack {
        background: rgba(0,0,0,0.1);
    }
    .chart-wrapper {
        background: #fff;
        border: 1px solid #e2e2e2;
        border-radius: 3px;
        margin-bottom: 10px;
    }
    .chart-wrapper .chart-title {
        border-bottom: 1px solid #d7d7d7;
        color: #555;
        font-size: 15px;
        font-weight: 500;
        padding: 8px 10px 5px;
    }
    .chart-wrapper .chart-stage {
        padding: 5px 10px;
    }
    .chart-wrapper .chart-notes {
        background: #fbfbfb;
        border-top: 1px solid #e2e2e2;
        color: #808080;
        font-size: 12px;
        padding: 8px 10px 5px;
    }
    .keen-metric {
        margin: 10px auto;
        padding: 15px;
        &.increase {
            background-color: #44d1ac;
            border-bottom: 4px solid #3ebc9b;
            .keen-metric-title {
                color: #1e876b;
            }
        }
        &.decrease {
            background-color: #fc7551;
            border-bottom: 4px solid #e36a49;
            .keen-metric-title {
                color: #b12f0c;
            }
        }
        .keen-metric-title {
            text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
            font-weight: 400;
        }
        .keen-metric-value {
            text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
            font-size: 65px;
        }
        .keen-metric-change-value {
            font-size: 30px;
            margin-top: 18px;
            text-align: left;
            line-height: 0;
            span {
                font-size: 14px;
            }
        }
        .btn-view-details {
            display: none;
        }
    }
}
