
.website {
  .pageheader {
    .btn-group {
      margin-bottom: 0;
    }
  }

  #iframe-website {
    border: none;
    width: 100%;
  }

  .component-icon {
    font-size: 55px;
    text-align: center;
  }

  .componentOption {
    .thumbnail {
      &:hover {
        background: #dddddd;
      }
    }
  }
  #add-component-modal {
    .modal-body {
      height: 300px;
      overflow-y: auto;
    }
  }

  .component-icon {

    i.custom {
      background: url('https://s3-us-west-2.amazonaws.com/indigenous-admin/component-icons-sprite.png') no-repeat;
      margin: 0 auto;
      display: block;
    }

    i.masthead {
      background-position: -87px 22px;
      width: 70px;
      height: 78px;
    }

    i.blog {
      background-position: -28px 22px;
      width: 55px;
      height: 78px;
    }

    i.feature-block {
      background-position: -155px 22px;
      width: 70px;
      height: 78px;
    }

    i.footer {
      background-position: -223px 22px;
      width: 68px;
      height: 78px;
    }

    i.image-slider {
      background-position: -223px 22px;
      width: 68px;
      height: 78px;
    }

    i.image-text {
      background-position: 20px -46px;
      width: 88px;
      height: 58px;
      margin: 10px 0;
    }

    i.logo-list {
      background-position: -212px -49px;
      width: 93px;
      height: 58px;
      margin: 10px 0;
    }

    i.sign-up-form {
      background-position: -69px -46px;
      width: 97px;
      height: 60px;
      margin: 10px 0;
    }

    i.single-post {
      background-position: -165px -48px;
      width: 50px;
      height: 78px;
    }

    i.social-links {
      background-position: -306px -48px;
      width: 60px;
      height: 78px;
    }

  }

}

#nestable-menu {
  z-index: 999;
  width: 100%;
  border-radius: 0;
  margin: 0
}

.screen-type {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: -16px;
  text-align: center;

    li {
      display: inline-block;
      padding: 10px 15px;
      color: #999;
      font-size: 24px;
      cursor: pointer;
      &.active {
        color: #444;
      }
      &.not-active {
        color:#999;
      }
      .fa-mobile {
        font-size: 24px;
      }
    }

}


.add_section {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#theme-editor ul {
  margin-bottom: -2px;
}

.tab-content {
background: #fff!important;
}

#theme-editor .headermenu {
  padding-left: 0;
}

#theme-editor .nav-tabs > li > a {
  padding: 14px 18px;
}

.panel-widget {
  color: #666;
  max-height: 85px;
  overflow: hidden;
}

.panel-widget .panel-heading {
  padding: 20px 20px;
  padding: 10px 0;
}

.panel-widget .panel-body {
  padding: 0px 10px;
}

.panel-widget .panel-heading .fa {
  font-size: 22px;
  color: white
}

.panel-widget p.title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}

.panel-widget p {
  margin-bottom: 0;
}

.carousel-control {
  padding-top:10%;
  width:5%;
}

.editcontentpanel {
  position: relative;
}

.mainpanel.edit-page {
  margin-left: 0;
}

.leftpanel-website .leftpanelinner {
  padding: 5px 15px;
  width: 100%;
  max-width: 241px;
}

.rightpanel-website  {
  .tab-content {
    padding: 10px 15px;
  }
  .rightpanelinner {
    margin-top:0;
    .panel-body {
      padding: 20px 0;
    }
    .panel-heading {
      color: #333;
      background-color: #f5f5f5;
      border-color: #ddd;
    }
  }
  .nav-tabs > li > a {
    padding: 15px 20px 20px 20px!important;
  }
}

.componentActions {
  position: absolute;
  z-index: 99999;
  width: 100%;
  margin-right: 10px;
  span {
    background: rgba(44,62,80,0.8);
    padding: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;;
  }
  .reorder {
    float: left;
    &:hover {
      color: #54C8E8;
    }
  }
  .delete {
    float: right;
    &:hover {
      color: #d9534f;
    }
  }
  .settings {
    float: right;
    &:hover {
      color: #efa022;
    }
  }
}

.fixed {
  position: fixed;
  top:0;
}

.theme-img {
  width: 100px;
  border: 5px solid #e7e7e7;
  height: 76px;
}

.alert-web {
  margin:10px!important;
}

.alert-website {
  margin-bottom: 10px!important
}

.section {
  border: 2px dashed rgba(0,0,0,0);
  position: relative;
}

// .section:hover {
//   border: 2px dashed rgba(0,0,0,0.5);
// }

// .section:hover .edit-section-btns {
//   display: block;
// }

.btn-black-o {
  background: rgba(0,0,0,0.5);
color: white!important;
}

.edit-section-btns {
  display: none;
  position: absolute;
  z-index: 999;
  right: 0;
  top: 0;
}

.dd-item.active .dd3-content {
  background: #54C8E8;
border-color: #4eb1ca;
}

#website_welcome {
  padding: 20px;
}

#palette_chooser ul li {
  display: inline-block;
  width: 19%;
  text-align: center;
}

.function-title {
  margin-top: 0;
}

.tags {
  padding: 0;
  margin-bottom: 0;
}

.tags li {
  display: inline;
}

.c-1,
.c-2,
.c-3 {
  height: 40px;
}

.c-2, .c-3 {
  width: 50%;
  float: left;
}

#themes_preview ul li {
  display: inline-block;
  width: 150px;
  text-align: center;
  margin-right: 10px;
}

#themes_preview ul li img {
  width: 150px;
  height: 150px;
  border: 1px solid #e7e7e7;
}

.swatch {
  width: 60px;
  height: 30px;
  margin: 0 2px 2px 0;
  background: #dddddd;
  float: left;
}
.target-image {
  max-height: 240px;
  margin: 0 auto;
}

.ui-sortable {
  padding: 0
}

input[type='file'] {
  text-indent: -99999px;
  color: transparent;
  background: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
}

#contact-us {
  background: #f7f7f7;
  padding: 15px 20px;
}

#contact-us .title {
  text-align: center;
}

#change-theme-modal .thumbnail:hover {
  background-color: #54C8E8;
  border-color: #4eb1ca;
  cursor: pointer;
}

#change-theme-modal .thumbnail img {
  max-width: 150px;
}

.check-theme {
  position: absolute;
  top: -12px;
  right: -2px;
  z-index: 9999;
  margin: 0 1px 0 0;
  color: green;
  font-size: 29px;
  background: #fff;
  width: 24px;
  height: 26px;
  border-radius: 55px;
  line-height: 10px;
}

.component.dragging {
  overflow: hidden;
  position: absolute;
  z-index: 99999;
  box-shadow: 0 0 12px -1px black;
}

.website-controls {

  #edit-component-modal #bootstrap-switch {
    float: right;
  }

  .btn-add {
    margin-right: 10px;
  }

}

.website-controls.editing  {
  background: #2ecc71;
  h2 {
    color: white!important;
  }
  .btn {
    background: none!important;
    border: 1px solid #fff!important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)!important;
    color: #ffffff!important;
  }
}

.theme {
  .thumbnail {
    border: 3px solid #CFCFCF;
  }
}

.theme.selected {
  .thumbnail {
    border:3px solid #4bb0cb;
  }
}

.theme.success {
  .thumbnail {
    border:3px solid green;
  }
  .check-theme {
    display: block!important;
  }
}