
/* Global Styles */

#nestable-menu {
  z-index: 999;
width: 100%;
border-radius: 0;
margin: 0
}

.screen-type {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: -16px;
  text-align: center;

    li {
      display: inline-block;
      padding: 10px 15px;
      color: #999;
      font-size: 24px;
      cursor: pointer;
      &.active {
        color: #444;
      }
      &.not-active {
        color:#999;
      }
      .fa-mobile {
        font-size: 24px;
      }
    }

}


.add_section {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#theme-editor ul {
  margin-bottom: -2px;
}

.tab-content {
background: #fff!important;
}

#theme-editor .headermenu {
  padding-left: 0;
}

#theme-editor .nav-tabs > li > a {
  padding: 14px 18px;
}

.panel-widget {
  color: #666;
  max-height: 85px;
  overflow: hidden;
}

.theme-1 #top-header {
  height: 100px;
background: rgba(255,255,255,0.9);
}

.panel-widget .panel-heading {
  padding: 20px 20px;
  padding: 10px 0;
}

.panel-widget .panel-body {
  padding: 0px 10px;
}

.panel-widget .panel-heading .fa {
  font-size: 22px;
  color: white
}

.panel-widget p.title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}

.panel-widget p {
  margin-bottom: 0;
}

.theme-1 *{
  outline: 0!important;
}

.carousel-control {
  padding-top:10%;
  width:5%;
}

.theme-1 html, body {
  height:100%;
  font-family: 'open_sansregular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.theme-1 body{
  padding-top: 50px;
  color: #666;
}

.theme-1 a {
  color: #16A085;
}

.theme-1 a:hover, .theme-1 a:focus {
  color: #1ABC9C;
  text-decoration: none;
}

.theme-1 .placeholder { 
  color: #aaa; 
}

.theme-1 .container-int{
  margin-bottom: 50px;
}

.theme-1 #topcontrol{
  background-color: #000;
  padding: 5px 10px;
  font-size: 28px;
  line-height: 20px;
  color: #9B9B9B;
}

.theme-1 h1, .theme-1 h2, .theme-1 h3, .theme-1 .h1, .theme-1 .h2, .theme-1 .h3 {
  font-family: 'open_sanslight';
}

.theme-1 h4, .theme-1 h5, .theme-1 h6, .theme-1 .h4, .theme-1 .h5, .theme-1 .h6{
  font-family: 'open_sansregular';
}

.theme-1 h2.section-title{
  margin: 0px 0 30px 0;
  font-size: 25px;
}

.theme-1 h3.section-title{
  margin: 0px 0 20px 0;
  font-size: 20px;
}

.theme-1 h1.post-title, .theme-1 h2.post-title{
  font-family: 'open_sansbold';
  font-size: 24px;
  margin-top: 0;
}

.theme-1 p {
  margin: 0 0 25px 0;
  line-height: 23px;
}

.theme-1 blockquote {
  padding: 15px 20px;
  border-left: 5px solid #16A085;
  background: #FAFAFA;
}

.theme-1 blockquote p {
  font-size: 15px;
  line-height: 24px;
}

.theme-1 .navbar{
  margin: 0;
  border: none;
  border-bottom: 2px solid #16A085;
  border-radius: 0;
}

.theme-1 .navbar-inverse {
  background-color: #17b3ee;
  border-color: #1b7ca0;
}

.theme-1 .navbar-inverse .navbar-brand{
  font-family: 'pacificoregular';
  font-size: 30px;
  line-height: 40px;
  color: #FFF;
  padding: 0 15px;
  margin: 8px 0 0px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.theme-1 .navbar-inverse .navbar-nav > li > a {
  color: #fff;
  padding: 18px 15px;
  font-family: 'open_sansregular';
  .transition(all 0.4s ease-in-out);
   border-bottom: 5px solid #17b3ee;
   font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  text-transform: uppercase;
}

.theme-1 .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  border-bottom: 5px solid white;
  background: none;
}

.theme-1 .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffffff;
  border-bottom: 5px solid white;
}

.theme-1 .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  border-bottom: 5px solid white;
}

.theme-1 .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  border-bottom: 5px solid white;
}

.theme-1 .navbar-inverse .navbar-toggle {
  border-color: #16A085;
  outline: none;
}

.theme-1 .dropdown-menu{
  background-color: #16A085;
  border: none;
  border-radius: 2px;
  .transition(all 0.4s ease-in-out);
}

.theme-1 .dropdown-menu > li > a{
  color: #fff;
}

.theme-1 .link-gallery-image{
  overflow: hidden;
  display: block;
  position: relative;
  margin-bottom: 30px;
  max-height: 200px;
}

.theme-1 .link-gallery-image img{
  display: block;
  position: relative;
}

.theme-1 .link-gallery-image .overlay-gallery-image{
  // background: rgba(0, 0, 0, 0.71);
  // padding: 25px;
  // position: absolute;
  // z-index: 1;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // color: #E9E9E9;
  // opacity: 0;
  // filter: alpha(opacity=0);
}

.theme-1 .link-gallery-image .overlay-gallery-image h3{
  font-size: 14px;
  font-family: 'open_sansbold';
  margin: 0 0 20px 0;
}

.theme-1 .social-networks li{
  padding: 0;
}

.theme-1 .social-networks li a{
  width: 30px;
  height: 31px;
  display: inline-block;
  overflow: hidden;
}

.theme-1 .social-networks div.icon-social{
  width: 30px;
  text-align: center;
  color: #FFF;
  padding: 8px 0;
  font-size: 14px;
  line-height: 15px;
}

.theme-1 .social-networks div.icon-social.icon-social-facebook.normal{
  background: #3B5998;
}

.theme-1 .social-networks div.icon-social.icon-social-twitter.normal{
  background: #00CEFD;
}

.theme-1 .social-networks div.icon-social.icon-social-google-plus.normal{
  background: #D64136;
}

.theme-1 .social-networks div.icon-social.icon-social-pinterest.normal{
  background: #C32021;
}

.theme-1 .social-networks div.icon-social.icon-social-linkedin.normal{
  background: #0077B5;
}

.theme-1 .social-networks div.icon-social.icon-social-youtube.normal{
  background: #CF3427;
}

.theme-1 .social-networks div.icon-social.hover{
  background: #2c3e50;
}

.theme-1 .latest-tweets{
  margin: 0;
  padding: 0;
  list-style: none;
}

.theme-1 .latest-tweets li{
  margin-bottom: 15px;
}

.theme-1 .latest-tweets i.fa.fa-twitter{
  color: #00CEFD;
  margin: 0 5px 0 0;
}

.theme-1 address i.fa{
  margin: 0 5px 0 0;
}

.theme-1 .clients img{
  padding: 10px 0;
}

.theme-1 p.legal{
  text-align: right;
}

.theme-1 .breadcrumb{
  background: none;
  padding: 0;
}

.theme-1 .breadcrumb > li + li:before {
  content: "\f105";
  font-family: FontAwesome;
}

.theme-1 .panel-default {
  border-color: #EBEBEB;
  border: none;
  border-radius: 0;
  .box-shadow(none);
}

.theme-1 .panel-group .panel {
  border-radius: 0px;
  .box-shadow(none);
}

.theme-1 .panel-title {
  font-size: 14px;
}

.theme-1 .panel-default > .panel-heading {
  color: #666;
  background-color: #F8FAFA;
}

.theme-1 .well{
  padding: 20px;
  background: #FAFAFA;
  border-radius: 0;
  border: none;
  .box-shadow(none);
}

.theme-1 .well.well-lg{
  padding: 24px;
}

.theme-1 .well.well-sm{
  padding: 9px;
}

.theme-1 div.list-posts{
  padding: 0;
}

.theme-1 div.list-posts ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
}

.theme-1 div.list-posts ul li{
  margin: 0;
}

.theme-1 div.list-posts ul li a{
  color: #95A5A6;
  padding: 15px;
  display: block;
  .transition(all 0.4s ease-in-out);
}

.theme-1 div.list-posts ul li a:hover{
  background: #BDC3C7;
  color: white;
}

.theme-1 .nav-pills > li > a {
  border-radius: 0;
}

.theme-1 .nav-pills > li.active > a, .theme-1 .nav-pills > li.active > a:hover, .theme-1 .nav-pills > li.active > a:focus {
  background-color: #169D83;
}

.theme-1 .post{
  border-bottom: 1px solid #EEE;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.theme-1 .img-post{
  margin: 0 0 25px 0;
  display: block;
}

.theme-1 .img-post img{
  border-radius: 5px;
}

.theme-1 .post-meta .fa{
  margin: 0 5px 0 15px;
  color: #16A085;
}

.theme-1 .post-meta .fa.first{
  margin: 0 5px 0 0;
}

/* comments */
.theme-1 .comment-author-icon{
  background: #ECF0F1;
  padding: 18px 20px;
  border-radius: 50px;
  margin: 10px 0 0 0;
  font-size: 20px;
  line-height: 20px;
}

.theme-1 .comment-content{
  width: 85%;
  margin: 0 0 0 3%;
}

/* pagination */

.theme-1 .pagination{
  border-radius: 0;
}

.theme-1 .pagination > li:first-child > a, .theme-1 .pagination > li:first-child > span, .theme-1 .pagination > li:last-child > a, .theme-1 .pagination > li:last-child > span {
  border-radius: 0;
}

.theme-1 .pagination > li > a, .theme-1 .pagination > li > span {
  border: none;
  margin: 0 1px;
  .transition(all 0.4s ease-in-out);
}

.theme-1 .pagination > .active > a, .theme-1 .pagination > .active > span, .theme-1 .pagination > .active > a:hover, .theme-1 .pagination > .active > span:hover, .theme-1 .pagination > .active > a:focus, .theme-1 .pagination > .active > span:focus {
  background-color: #16A085;
}

/* tags */

.theme-1 .tags a{
  background: #1ABC9C;
  padding: 6px 15px;
  margin: 0 0 10px 0;
  display: inline-block;
  color: #FAFAFA;
  font-size: 12px;
  border-radius: 40px;
  .transition(all 0.4s ease-in-out);
}

.theme-1 .tags a:hover{
  background: #16A085;
}

/* Tabs */
.theme-1 .nav-tabs{
  border-bottom: none;
}

.theme-1 .nav-tabs > li > a {
  border-radius: 0;
  border: none;
}

.theme-1 .nav-tabs > li.active > a, .theme-1 .nav-tabs > li.active > a:hover, .theme-1 .nav-tabs > li.active > a:focus {
  cursor: default;
  background-color: #FAFAFA;
  border: none;
}

.theme-1 .nav > li > a:hover, .theme-1 .nav > li > a:focus {
  text-decoration: none;
  background-color: #ECF0F1;
}

.theme-1 .nav-stacked > li + li{
  margin-top: 0;
}

.theme-1 .nav-pills li a{
  padding: 7px;
  border-bottom: 1px solid #EDEDED;
}

.theme-1 .tab-pane {
  margin-top: 1px;
  background: #FAFAFA;
  padding: 15px;
}

.theme-1 .label-default {
  background-color: #1ABC9C;
}

/* Buttons */
.theme-1 .btn{
  border: none;
  border-radius: 2px;
  .transition(all 0.4s ease-in-out);
  outline: none;
}

.theme-1 .btn-lg {
  padding: 10px 35px;
}

.theme-1 .btn-primary {
  color: #FFF;
  background-color: #1ABC9C;
}

.theme-1 .btn-primary:hover, .theme-1 .btn-primary:focus, .theme-1 .btn-primary:active, .theme-1 .btn-primary.active, .theme-1 .open .dropdown-toggle.btn-primary{
  background-color: #16A085;
}

.theme-1 .btn-info{
  background-color: #2C3E50;
}

.theme-1 .btn-info:hover{
  background-color: #95A5A6;
}

.theme-1 .input-group-btn:last-child > .btn {
  padding: 7px 12px;
}

/* Page Sections */
.theme-1 .section,
.theme-1 .section-colored {
  padding: 50px 0;
}

#blog-posts ul {
  list-style-type: none;
}

.theme-1 .date {
  color: #00aeef;
  font-weight: bold;
  padding: 2em 0;
  text-align: left;
}

.theme-1 .post {
  background: #fff;
  padding: 20px;
  text-align: left;
}

.theme-1 .post h4 {
  color: #00aeef;
font-weight: bold;
}

.theme-1 .section-colored {
  background-color: #f7f7f7;
  text-align: center;
  padding: 20px;
}

.theme-1 .blog-dot {
  background: url(/assets/images/temp-theme/blog-dot.png) no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  float: right;
  margin-right: 40px;
}

.theme-1 .feature-block {
  text-align: center;
}

.theme-1 .feature-block h2 {
  font-weight: bold;
}

.theme-1 .block-icon i {
  margin-top: 20px;
}

.theme-1 .section-colored.home{
  background: #423F5C url(/assets/themes/theme-1/section-bg.png) 50% 0 no-repeat;
}

.theme-1 .section-colored.home h2{
  margin: 0;
  color: #fff;
}

.theme-1 .section-header {
  background-color: #ECF0F1;
  padding: 0;
  margin-bottom: 20px;
}

.theme-1 #header {
  z-index: 2;
  position: relative;
}

.theme-1 .sidebar h4{
  margin: 0 0 25px 0;
}

.theme-1 .sidebar .tab-content{
  margin-bottom: 20px;
  background: #FFF!important
}

.theme-1 .form-control{
  border-radius: 0;
  .box-shadow(none);
  resize: none;
  background: #FCFCFC;
  border-color: #E4E4E2;
}

.theme-1 .form-control:focus{
  border-color: #1ABC9C;
  .box-shadow(none);
}

/* Half Page Height Carousel Customization */
.theme-1 .carousel {
  height: 530px;
  background: #34495e;
  margin-top: -205px;
}

.theme-1 .carousel-control.left, .carousel-control.right{
  background: none;
  .transition(all 0.4s ease-in-out);
  filter: none;
}

.theme-1 .carousel-control.left i{
  left: 0;
}

.theme-1 .carousel-control.right i{
  right: 0;
}

.theme-1 .carousel-control.left i, .theme-1 .carousel-control.right i{
  position: absolute;
  top: 245px;
  font-size: 25px;
  background: black;
  line-height: 40px;
  padding: 0 15px;
}

.theme-1 .carousel-indicators li, .theme-1 .carousel-indicators .active {
  width: 8px;
  height: 8px;
  margin: 1px;
}

.theme-1 .carousel-caption {
  top: 160px;
}

.theme-1 .carousel-caption h2{
  font-family: 'open_sanslight';
  font-size: 43px;
  line-height: 50px;
  margin: 10px 0;
}

.theme-1 .carousel-caption .button{
  border: 2px solid white;
  padding: 10px 40px;
  border-radius: 2px;
  color: white;
  font-family: 'open_sansbold';
  margin: 30px 0 0 0;
  display: inline-block;
  .transition(all 0.4s ease-in-out);
}

.theme-1 .carousel-caption .button:hover{
  text-decoration: none;
  background: rgba(255, 255, 255, 0.13);
}

.theme-1 .item,
.theme-1 .active,
.theme-1 .carousel-inner {
  height: 100%;
}

.theme-1 .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.theme-1 .block-icon{
  width: 70px;
  height: 70px;
  border-radius: 40px;
  text-align: center;
  font-size: 30px;
  background: #1ABC9C;
  color: #fff;
  line-height: 70px;
  margin: 0 auto;
}

.theme-1 .block-body h2{
  font-family: 'open_sanslight';
  font-size: 19px;
  text-align: center;
}

.theme-1 .block-body p{
  text-align: center;
  font-size: 13px;
  color: #7F8C8D;
}

.theme-1 .line-subtitle{
  height: 1px;
  width: 70px;
  margin: 17px auto;
  background: #DBDBDB;
}

/* Social Icons Styles */
.theme-1 .list-social-icons {
  margin-bottom: 45px;
}

.theme-1 .tooltip-social a {
  text-decoration: none;
  color: inherit;
}

.theme-1 .facebook-link a:hover {
  color: #3b5998;
}

.theme-1 .linkedin-link a:hover {
  color: #007fb1;
}

.theme-1 .twitter-link a:hover {
  color: #39a9e0;
}

.theme-1 .google-plus-link a:hover {
  color: #d14836;
}

/* Service Page Styles */
.theme-1 .service-icon {
  font-size: 50px;
}

/* 404 Page Styles */
.theme-1 h3.error-404{
  font-size: 250px;
  font-family: 'open_sansbold';
  color: #159C81;
}

.theme-1 img.monster{
  max-width: 125px;
}

/* Pricing Page Styles */
.theme-1 .price {
  font-size: 45px;
}

.theme-1 .price-cents {
  vertical-align: super;
  font-size: 50%;
}

.theme-1 .price-month {
  font-size: 35%;
  font-style: italic;
}

.theme-1 .pricing-table .panel-default > .panel-heading{
  background-color: #16A085;
  color: #FFF;
  border-radius: 0;
  border: none;
}

.theme-1 .pricing-table .panel-default > .panel-body{
  background-color: #1ABC9C;
  color: #FFF;
}

.theme-1 .list-group-item {
  background-color: #FAFAFA;
  border: 1px solid #ECEBEB;
}

/* Footer Styles */
.theme-1 footer {
  background: #34495E;
  padding: 50px 0;
  color: #BDC3C7;
  font-size: 12px;
  line-height: 18px;
}

.theme-1 .footer-brand{
  font-family: 'pacificoregular';
  display: inline-block;
  font-size: 30px;
  line-height: 40px;
  color: #FFF;
  margin-bottom: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.theme-1 .footer-brand:hover{
  color: #fff;
  text-decoration: none;
}

.theme-1 footer p{
  color: #BDC3C7;
  font-size: 12px;
  line-height: 18px;
}

.theme-1 footer h3{
  font-family: 'open_sansbold';
  margin: 20px 0 15px 0;
  color: #FFF;
  font-size: 14px;
}

.theme-1 footer .form-control{
  background: #2C3E50;
  border: none;
  color: #ecf0f1;
  font-size: 12px;
  .transition(all 0.4s ease-in-out);
}

.theme-1 footer .form-control:focus{
  background: #ECF0F1;
  color: #7F8C8D;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.theme-1 footer .input-group-btn .btn{
  height: 34px;
}

.theme-1 .footer-after{
  background: #292929;
  padding: 10px 0 0 0;
  font-size: 12px;
  text-transform: uppercase;
}

.footer-logo {
  float: right;
  margin-top: -55px;
}

.powered-by {
  line-height: 21px!important;
}

.theme-1 #footer {
  bottom: 0;
  width: 100%;
}

.theme-1 .footer-after p{
  color: #fff;
  margin: 0;
}

.theme-1 .footer-after a{
  color: #FFF;
}

.theme-1 .footer-after a:hover{
  color: #7f8c8d;
  text-decoration: none;
}

.theme-1 #top-header h1 {
  margin: 0;
  padding: 15px 0 0 20px;
}

@media (min-width: 1200px){
  .theme-1 .container {
    width: 970px;
  }
}

/* Small devices Tablets  */
@media (max-width: 991px) {
  .theme-1 p.legal{
    text-align: left;
  }
}


/* Extra small devices Phones */
@media (max-width: 767px) {

  .theme-1 .carousel {
    height: 380px;
  }

  .theme-1 .carousel-caption {
    top: 4%;
  }

  .theme-1 .carousel-control.left i, .theme-1 .carousel-control.right i {
    top: 170px;
  }

  .theme-1 .section-colored.home h2 {
    margin-bottom: 30px;
  }

  .theme-1 .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #FFF;
  }

  .theme-1 .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .theme-1 .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #149178;
  }

  .theme-1 h3.error-404{
    font-size: 150px;
  }

  .theme-1 .sidebar{
    margin-top: 30px;
  }

  .theme-1 .comment-content {
    width: 65%;
  }

}

.editcontentpanel {
  position: relative;
}

.mainpanel.edit-page {
  margin-left: 0;
}

.leftpanel-website .leftpanelinner {
  padding: 5px 15px;
  width: 100%;
  max-width: 241px;
}

.rightpanel-website  {
  .tab-content {
    padding: 10px 15px;
  }
  .leftpanelinner {
    margin-top:0;
  }
  .nav-tabs > li > a {
    padding: 15px 20px 20px 20px!important;
  }
}

.componentActions {
  position: absolute;
  z-index: 99999;
  width: 100%;
  margin-right: 10px;
  span {
    background: rgba(44,62,80,0.8);
    padding: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;;
  }
  .reorder {
    float: left;
    &:hover {
      color: #54C8E8;
    }
  }
  .delete {
    float: right;
    &:hover {
      color: #d9534f;
    }
  }
  .settings {
    float: right;
    &:hover {
      color: #efa022;
    }
  }
}

.fixed {
  position: fixed;
  top:0;
}

.theme-img {
  width: 100px;
  border: 5px solid #e7e7e7;
  height: 76px;
}

.alert-web {
  margin:10px!important;
}

.alert-website {
  margin-bottom: 10px!important
}

.section {
  border: 2px dashed rgba(0,0,0,0);
  position: relative;
}

// .section:hover {
//   border: 2px dashed rgba(0,0,0,0.5);
// }

// .section:hover .edit-section-btns {
//   display: block;
// }

.btn-black-o {
  background: rgba(0,0,0,0.5);
color: white!important;
}

.edit-section-btns {
  display: none;
  position: absolute;
  z-index: 999;
  right: 0;
  top: 0;
}

.dd-item.active .dd3-content {
  background: #54C8E8;
border-color: #4eb1ca;
}

#website_welcome {
  padding: 20px;
}

#palette_chooser ul li {
  display: inline-block;
  width: 19%;
  text-align: center;
}

.function-title {
  margin-top: 0;
}

.tags {
  padding: 0;
  margin-bottom: 0;
}

.tags li {
  display: inline;
}

.c-1,
.c-2,
.c-3 {
  height: 40px;
}

.c-2, .c-3 {
  width: 50%;
  float: left;
}

#themes_preview ul li {
  display: inline-block;
  width: 150px;
  text-align: center;
  margin-right: 10px;
}

#themes_preview ul li img {
  width: 150px;
  height: 150px;
  border: 1px solid #e7e7e7;
}

.swatch {
  width: 60px;
  height: 30px;
  margin: 0 2px 2px 0;
  background: #dddddd;
  float: left;
}
.target-image {
  max-height: 240px;
  margin: 0 auto;
}

.ui-sortable {
  padding: 0
}

input[type='file'] {
  text-indent: -99999px;
  color: transparent;
  background: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
}

#contact-us {
  background: #f7f7f7;
  padding: 15px 20px;
}

#contact-us .title {
  text-align: center;
}

#change-theme-modal .thumbnail:hover {
  background-color: #54C8E8;
  border-color: #4eb1ca;
  cursor: pointer;
}

#change-theme-modal .thumbnail img {
  max-width: 150px;
}

.check-theme {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  margin: -15px 1px 0 0;
  color: green;
  font-size: 29px;
  width: 25px;
}

.component.dragging {
  overflow: hidden;
  position: absolute;
  z-index: 99999;
  box-shadow: 0 0 12px -1px black;
}

#edit-component-modal #bootstrap-switch {
  float: right;
}

.btn-create-page {
  margin-right: 10px;
}


