
.website {
  .pageheader {
    .btn-group {
      margin-bottom: 0;
    }
  }

  .nav-tabs {
    background: #eeeeee;
  }

  .modal-content {
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.2);
  }

  .modal-footer {
    margin-top: 0px; 
  }

  .modal-header {
     background: #4bafca;
     .modal-title {
        font-size: 18px;
        color: #ffffff;
     }
     .close {
        margin-top: -3px;
        float: right;
        font-size: 29px;
        font-weight: normal;
        line-height: 1;
        color: #367e91;
        text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
     }
  }

  .jdfs-search-indicator,
  .jdfs-meta,
  .jdfs-footer-con,
  .jdfs-close {
    display: none;
  }

  .btn.media-modal {
    margin-right: 5px;
  }

  #iframe-website {
    border: none;
    width: 100%;
  }

  .component-icon {
    font-size: 55px;
    text-align: center;
  }

  .componentOption {
    .thumbnail {
      min-height: 135px;
      &:hover {
        background: #dddddd;
      }
    }
  }
  #add-component-modal {
    .modal-body {
      height: 300px;
      overflow-y: auto;
    }
    .modal-footer {
      margin-top: 0;
    }
  }

  #change-theme-modal {
    .modal-body {
      max-height: 450px;
      overflow-y: auto;
    }
    .modal-footer {
      margin-top: 0;
    }
    .thumbnail {
      padding: 15px;
      &:hover {
        background-color: #54C8E8;
        border-color: #4eb1ca;
        cursor: pointer;
      }
      img {
        max-width: 100%;
        border: 1px solid #ccc;
      }
    }

  }

  .component-icon {

    i.custom {
      background: url('https://s3-us-west-2.amazonaws.com/indigenous-admin/component-icons-sprite.png') no-repeat;
      margin: 0 auto;
      display: block;
    }

    i.masthead {
      background-position: -87px 22px;
      width: 70px;
      height: 78px;
    }

    i.blog {
      background-position: -28px 22px;
      width: 55px;
      height: 78px;
    }

    i.feature-block {
      background-position: -155px 22px;
      width: 70px;
      height: 78px;
    }

    i.footer {
      background-position: -223px 22px;
      width: 68px;
      height: 78px;
    }

    i.image-slider {
      background-position: -223px 22px;
      width: 68px;
      height: 78px;
    }

    i.image-text {
      background-position: 0px -46px;
      width: 65px;
      height: 58px;
      margin: 10px auto;
    }

    i.logo-list {
      background-position: -212px -49px;
      width: 93px;
      height: 58px;
      margin: 10px 0;
    }

    i.simple-form {
      background-position: -69px -46px;
      width: 97px;
      height: 60px;
      margin: 10px auto;
    }

    i.single-post {
      background-position: -165px -48px;
      width: 50px;
      height: 78px;
    }

    i.social-links {
      background-position: -306px -48px;
      width: 60px;
      height: 78px;
    }

  }

}

#nestable-menu {
  z-index: 999;
  width: 100%;
  border-radius: 0;
  margin: 0
}

.screen-type {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: -16px;
  text-align: center;

    li {
      display: inline-block;
      padding: 10px 15px;
      color: #999;
      font-size: 24px;
      cursor: pointer;
      &.active {
        color: #444;
      }
      &.not-active {
        color:#999;
      }
      .fa-mobile {
        font-size: 24px;
      }
    }

}

#component-setting-modal {
  .modal-body {
    padding: 0;
      .tab-content {
        height: 300px;
        overflow-y: autp;
      }
  }
  ul.nav {
    margin-top: 0!important;
  }
}


.add_section {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#theme-editor ul {
  margin-bottom: -2px;
}

.tab-content {
background: #fff!important;
}

#theme-editor .headermenu {
  padding-left: 0;
}

#theme-editor .nav-tabs > li > a {
  padding: 14px 18px;
}

.panel-widget {
  color: #666;
  max-height: 85px;
  overflow: hidden;
}

.panel-widget .panel-heading {
  padding: 20px 20px;
  padding: 10px 0;
}

.panel-widget .panel-body {
  padding: 0px 10px;
}

.panel-widget .panel-heading .fa {
  font-size: 22px;
  color: white
}

.panel-widget p.title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}

.panel-widget p {
  margin-bottom: 0;
}

.carousel-control {
  padding-top:10%;
  width:5%;
}

.editcontentpanel {
  position: relative;
}

.mainpanel.edit-page {
  margin-left: 0;
}

.leftpanel-website .leftpanelinner {
  padding: 5px 15px;
  width: 100%;
  max-width: 241px;
}

.rightpanel-website  {
  background-color: #fff;
  .tab-content {
    padding: 10px 15px;
  }
  .rightpanelinner {
    margin-top:0;
    .panel-body {
      padding: 20px 0;
    }
    .panel-heading {
      color: #333;
      background-color: #f5f5f5;
      border-color: #ddd;
    }
  }
  .nav-tabs > li > a {
    padding: 15px 20px 20px 20px!important;
  }
}

.componentActions {
  position: absolute;
  /*
    100000 is for
      .add-component
  */
  z-index: 1032;
  width: 100%;
  margin-right: 10px;
  span {
    background: rgba(44,62,80,0.8);
    padding: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;;
  }
  .reorder {
    float: left;
    &:hover {
      color: #54C8E8;
    }
  }
  .delete {
    float: right;
    &:hover {
      color: #d9534f;
    }
  }
  .settings {
    float: right;
    &:hover {
      color: #efa022;
    }
  }
}

.fixed {
  position: fixed;
  top:0;
}

.theme-img {
  width: 100px;
  border: 5px solid #e7e7e7;
  height: 76px;
}

.alert-web {
  margin:10px!important;
}

.alert-website {
  margin-bottom: 10px!important
}

.section {
  border: 2px dashed rgba(0,0,0,0);
  position: relative;
}

// .section:hover {
//   border: 2px dashed rgba(0,0,0,0.5);
// }

// .section:hover .edit-section-btns {
//   display: block;
// }

.btn-black-o {
  background: rgba(0,0,0,0.5);
color: white!important;
}

.edit-section-btns {
  display: none;
  position: absolute;
  z-index: 999;
  right: 0;
  top: 0;
}

.dd-item.active .dd3-content {
  background: #54C8E8;
border-color: #4eb1ca;
}

#website_welcome {
  padding: 20px;
}

#palette_chooser ul li {
  display: inline-block;
  width: 19%;
  text-align: center;
}

.function-title {
  margin-top: 0;
}

.tags {
  padding: 0;
  margin-bottom: 0;
}

.tags li {
  display: inline;
}

.c-1,
.c-2,
.c-3 {
  height: 40px;
}

.c-2, .c-3 {
  width: 50%;
  float: left;
}

#themes_preview ul li {
  display: inline-block;
  width: 150px;
  text-align: center;
  margin-right: 10px;
}

#themes_preview ul li img {
  width: 150px;
  height: 150px;
  border: 1px solid #e7e7e7;
}

.swatch {
  width: 60px;
  height: 30px;
  margin: 0 2px 2px 0;
  background: #dddddd;
  float: left;
}
.target-image {
  max-height: 240px;
  margin: 0 auto;
}

.ui-sortable {
  padding: 0;
  visibility: visible!important;
}

input[type='file'] {
  text-indent: -99999px;
  color: transparent;
  background: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
}

#contact-us {
  background: #f7f7f7;
  padding: 15px 20px;
}

#contact-us .title {
  text-align: center;
}

.check-theme, .check-component {
  position: absolute;
  top: -12px;
  right: -2px;
  z-index: 9999;
  margin: 0 1px 0 0;
  color: green;
  font-size: 29px;
  background: #fff;
  width: 24px;
  height: 26px;
  border-radius: 55px;
  line-height: 10px;
}

.component.dragging {
  overflow: hidden;
  position: absolute;
  z-index: 99999;
  box-shadow: 0 0 12px -1px black;
}

.website-controls {

  #edit-component-modal #bootstrap-switch {
    float: right;
  }

  .btn-add {
    margin-right: 5px;
  }

}

.website-controls.editing  {
  // background: #2ecc71;
  h2 {
    color: white!important;
  }
  .btn {
    background: none!important;
    border: 1px solid #fff!important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)!important;
    color: #ffffff!important;
  }
}

.componentOption {
  .thumbnail {
    border: 3px solid #CFCFCF;
  }
  .caption {
    padding: 5px;
  }

  &.selected {
    .thumbnail {
      border:3px solid #4bb0cb;
    }
  }

  &.success {
    .thumbnail {
      border:3px solid green;
    }
    .check-component {
      display: block!important;
    }
  }

}


.theme {
  .thumbnail {
    border: 3px solid #CFCFCF;
  }

  &.selected {
    .thumbnail {
      border:3px solid #4bb0cb;
    }
  }

  &.success {
    .thumbnail {
      border:3px solid green;
    }
    .check-theme {
      display: block!important;
    }
  }

}

.ribbon-wrapper-green {
  width: 123px;
  height: 128px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: 7px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -6px;
  top: 32px;
  width: 165px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bfdc7a), to(#8ebf45));
  background-image: -webkit-linear-gradient(top, #bfdc7a, #8ebf45);
  background-image: -moz-linear-gradient(top, #bfdc7a, #8ebf45);
  background-image: -ms-linear-gradient(top, #bfdc7a, #8ebf45);
  background-image: -o-linear-gradient(top, #bfdc7a, #8ebf45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}