
@font-face {
    font-family: 'Capita Light';
    src: url('../fonts/Capita-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}