.fadeBackgroundHover(@duration) {
  -webkit-transition: background @duration linear;
  -moz-transition: background @duration linear;
  -ms-transition: background @duration linear;
  -o-transition: background @duration linear;
  transition: background @duration linear;
}