
.transform-origin(@args...){
  -webkit-transform-origin: @args;
  -moz-transform-origin: @args;
  -ms-transform-origin: @args;
  -o-transform-origin: @args;
  transform-origin: @args;
}

path {
  fill: transparent;
}

//

.x-axis,
.y-axis {
  text {
    font-size: 12px;
    fill: #777;
    .grid1 & { font-size: 11px; }
  }
  .domain {
    stroke: #aaa;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }
}

.x-axis {
  .tick {
    stroke: #ccc;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }
}

.y-axis {
  .tick, .domain {
    fill: transparent;
    display: none;
  }
}

.graph-title {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 15px;
  line-height: 15px;
  padding: 6px 10px;
  background: #f3f3f5;
  font-size: 15px;
  color: #aaacb5;
  font-weight: 400;
  text-transform: uppercase;
}

.graph-likes,
.graph-post-interactions {

  path {
    fill: none;
    stroke-width: 1px;
    stroke: #44f;
  }

  path.unlikes {
    stroke: #f44;
  }

  .tick-x line,
  .tick-y line {
    stroke-width: 1px;
    stroke: rgba(0,0,0,0.02);
  }
  .tick-y line {
    stroke-width: 2px;
    stroke-dasharray: 5, 5;
  }
  .tick-x line {
    shape-rendering: crispEdges;
  }

  .domain {
    display: none;
  }

  .point {
    fill: #99f;
    stroke-width: 1px;
    stroke: #fff;
    .transition(all 0.3s);
    -webkit-transform-origin: 50% 50%; // -moz not working in Firefox
  }

  @likes-color: #99f;
  @unlikes-color: #f99;

  .point.likes {
    fill: @likes-color;
    &:hover {
      fill: #66f;
    }
  }

  .point.unlikes {
    fill: @unlikes-color;
    &:hover {
      fill: #f66;
    }
  }

  .point.max {
    fill: rgb(51, 156, 255);
    stroke-width: 2px;
  }

  .area {
    stroke-width: 0;
    &.likes   { fill: fade(@likes-color, 40%); }
    &.unlikes { fill: fade(@unlikes-color, 40%); }
  }
}

.graph-post-interactions {
  .legend {
    text {
      fill: #444;
      font-size: 12px;
    }
  }
  rect {
    .transition(fill 0.3s);
    &:hover {
      fill: #55f;
    }
  }
  .total {
    stroke-width: 1px;
    stroke: rgba(0,0,255,0.5);
  }
}

.graph-post-timeline {
  circle.post {
    fill: #77f;
    stroke-width: 3px;
    stroke: #55f;
    .transition(all 0.3s);
    .scale(1);
    &:hover {
      fill: #99f;
      stroke: #66f;
      stroke-width: 2px;
    }
    clip: 0 0 10px 10px;
  }
  line.divider {
    stroke: #ccc;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }
  .domain {
    display: none;
  }
}

.graph-overview {
  padding: 40px 20px 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  p {
    font-size: 28px;
    font-weight: 300;
    color: #88e;
    line-height: 1.3;
    b {
      color: #666;
      font-weight: 500;
    }
  }
  sup {
    color: #aaa;
    font-size: 13px;
  }
}

.graph-top-posts {
  width: 100%;
  padding: 10px 20px;
  margin-top: 25px;
  th {
    text-align: left;
    color: #444;
    font-weight: 500;
    vertical-align: bottom;
    line-height: 1.1;
    padding-bottom: 4px;
    border-bottom: 2px solid #eee;
  }
  td {
    color: #55c;
    border-bottom: 1px dashed #eee;
    padding: 2px 0;
  }
  .virality {
    div {
      position: relative;
    }
    .text {
      position: relative;
      z-index: 3;
      color: #444;
      font-size: 12px;
    }
    .meter {
      display: inline-block;
      height: 18px;
      vertical-align: top;
      background: #77e;
      min-width: 5px;
      max-width: 50%;
      z-index: 0;
    }
  }
}

.graph-daily-reach {
  .x-axis {
    path {
      stroke-width: 0;
    }
  }
}

.graph-engaged-age-gender {
  .bar {
    fill: #77f;
  }
  .x-axis {
    .tick, path {
      stroke-width: 0;
    }
    text {
      fill: #444;
    }
  }
  .legend {
    font-size: 12px;
  }
}

.graph-top-fans {
  width: 100%;
  padding: 33px 10px 10px 10px;
  tr {
    height: 44px;
  }
  td {
    border-bottom: 1px solid #ececec;
    &.picture { border-bottom: 0; }
  }
  .picture {
    width: 44px;
    img {
      max-width: 44px;
      max-height: 44px;
    }
  }
  .name {
    padding-left: 20px;
  }
  .gender {
    span { .hide-text(); }
    &::before {
      content: 'U';
      color: #777;
    }
    &.male::before {
      content: 'M';
      color: #77f;
    }
    &.female::before {
      content: 'F';
      color: #f77;
    }
  }
  .likes,
  .comments {
    color: #444;
    span {
      display: inline-block;
      min-width: 40px;
      text-align: right;
    }
  }
}