.indi-assistant {
    .template-btns {
        padding: 0!important;
        margin-bottom: 0;
    }
    .getting-started-section {
        .panel-info {
            h3 {
                margin: 0;
                color: white;
                text-align: left;
            }
            p {
                color: white;
                opacity: 1;
            }
        }
    }
    .bubble {
        position: relative;
        width: 500px;
        height: auto;
        padding: 25px;
        background: #edfafe;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        &:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 15px 0 15px 15px;
            border-color: transparent #edfafe;
            display: block;
            width: 0;
            z-index: 1;
            right: -15px;
            top: 84px;
        }
        h2 {
            margin-top: 0;
        }
    }
    .task-list {
        h1 {
            margin: 0;
        }
        h3 {
            margin: 0 0 0 15px;
            line-height: 38px;
        }
        .done {
            display: none;
        }
        li {
            &:hover {
                .task-desc {
                    display: block!important;
                }
            }
        }
        .task-desc {
            display: none;
        }
        .complete {
            .fa-check-circle-o {
                color: #27ae60;
            }
            h3 {
                text-decoration: line-through;
                color: #27ae60;
            }
            .done {
                line-height: 40px;
                color: #27ae60;
                font-size: 20px;
                font-weight: bold;
                display: block;
            }
        }
    }
}
i.indi-sm {
    background: url('https://s3-us-west-2.amazonaws.com/indigenous-admin/indi-sm-avatar.png');
    display: block;
    height: 35px;
    width: 35px;
    margin-left: -5px;
    bottom: 0;
    float: left;
}
.onboarding-popover-title {
    background: #ed9f22;
    color: white;
}
.onboarding-close-button, .onboarding-close-button:hover, .onboarding-close-button:visited {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
