/* sign in */

.signinpanel {
   max-width: 480px;
   margin: 5% auto 0 auto;
}

.signinpanel .logo {
   padding: 15px;
   margin: 15px auto;
   display: block;
   width: 100%;
   max-width: 300px;
}

.input-group .fa {
   font-size: 24px;
}

.signinpanel .form-control {
   display: block;
}

.signinpanel .input-group {
   margin-bottom: 20px;
}

.fa-input {
  font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.signinpanel .pword {
   background: #fff url(../images/locked.png) no-repeat 95% center; 
}

.signinpanel .btn {
   margin-top: 15px;
}

.signinpanel form {
   background: rgba(255,255,255,0.2);
   border: 1px solid #ccc;
   -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
   -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
   box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   padding: 30px;
   padding-top: 10px;
}

.signinpanel form a {
   color: #666;
}


@media screen and (max-width: 640px) {
   .signinpanel {
         margin: 0 auto;
         padding: 0!important;
      }

      .signinpanel form {
         margin-top: 20px;
         padding: 10px;
      }

}