/* sign in */

.signinpanel {
   max-width: 480px;
   margin: 10% auto 0 auto;
}

.signinpanel .logo {
   padding: 15px;
   margin: 15px auto;
   display: block;
   width: 100%;
   max-width: 300px;
}

.signinpanel .form-control {
   display: block;
   margin-top: 15px;
}

.signinpanel .uname {
   background: #fff url(../images/user.png) no-repeat 95% center; 
}

.signinpanel .pword {
   background: #fff url(../images/locked.png) no-repeat 95% center; 
}

.signinpanel .btn {
   margin-top: 15px;
}

.signinpanel form {
   background: rgba(255,255,255,0.2);
   border: 1px solid #ccc;
   -moz-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
   -webkit-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
   box-shadow: 0 3px 0 rgba(12,12,12,0.03);
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   padding: 30px;
   padding-top: 10px;
}

.signinpanel form a {
   color: #666;
}


@media screen and (max-width: 640px) {
   .signinpanel {
         margin: 0 auto;
         padding: 0!important;
      }

      .signinpanel form {
         margin-top: 20px;
         padding: 10px;
      }

}