.mainpanel {
    margin-left: 75px;
    height: auto;
    .alert {
        margin: 10px 10px 0px;
    }
    .pageheader {
        padding: 15px 0px;
        background: #272727;
        margin-right: 52px;
        position: relative;
        height: 63px;
        z-index: 11;
        h2 {
            font-size: 28px;
            color: #FFFFFF;
            letter-spacing: -0.5px;
            padding-left: 20px;
            margin: 0 15px 0 0;
            line-height: 34px;
            span {
                font-size: 13px;
                text-transform: none;
                color: #999;
                font-style: italic;
                vertical-align: middle;
                letter-spacing: 0;
            }
            span::before {
                content: '/';
                margin: 0 10px 0 5px;
                color: #ccc;
            }
            .div-header
            {
              display: inline;
            }
        }
        .glyphicon {
            font-size: 24px;
            margin-right: 5px;
            padding: 6px 7px;
            border: 2px solid #FFFFFF;
            border-radius: 50px;
        }
        .btn.pull-left {
            margin-right: 10px;
        }
        .fa.fa-pencil {
            padding: 6px 9px;
        }
        .fa.fa-hand-o-up {
            padding: 6px 9px 6px 7px;
        }
        .fa-file-o {
            padding: 6px 10px;
        }
        .fa-user {
            padding: 6px 10px;
        }
        .fa-file-text {
            padding: 6px 10px;
        }
        .fa-map-marker {
            padding: 6px 12px;
        }
        .fa-dollar {
            padding: 6px 12px;
        }
        .fa-clock-o {
            padding: 6px 8px;
        }
        .btn {
            height: 36px;
            margin-top: -2px;
            &:last-child {
                margin-right: 10px;
            }
        }
        .breadcrumb-wrapper {
            position: absolute;
            top: 23px;
            right: 25px;
            .label {
                color: #999;
                text-transform: uppercase;
                font-size: 11px;
                font-weight: normal;
                display: inline-block;
            }
        }
        .pages {
            max-width: 45%;
            button {
                max-width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        .pages-editing {
            max-width: 100%;

            h2 {
                margin-right: 15px;
                max-width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        .breadcrumb {
            background: none;
            display: inline-block;
            padding: 0;
            li {
                font-size: 12px;
            }
            li.active {
                color: #333;
            }
        }
    }
    .contentpanel {
        padding: 20px;
        width: 100% !important;
        float: left;
    }
    .contentpanel::after {
        clear: both;
        display: block;
        content: '';
    }
    form {
        .form-group:last-child {
            margin-bottom: 0;
        }
    }
    .row-pad-5 {
        margin-left: -5px;
        margin-right: -5px;
    }
    .row-pad-5[class*="col-lg"], .row-pad-5[class*="col-md"], .row-pad-5[class*="col-sm"] {
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 10px;
    }
    .subtitle {
        font-size: 13px;
        text-transform: uppercase;
        color: #333;
        font-family: 'LatoBold';
        margin-bottom: 15px;
        margin-top: 0;
    }
    p {
        margin-bottom: 10px;
    }
}

.leftpanel-show .mainpanel {
    .pageheader {
        left: 197px;
    }
    #iframe-website {
        margin-left: 191px;
    }
}

@media(max-width:1024px) {
    .mainpanel .pageheader, .mainpanel .contentpanel {
        padding-left: 75px;
    }
}

@media(max-width:767px) {
    .leftpanel-show {
        .mainpanel {
            .pageheader {
                padding-left: 0px;
            }
        }
    }
    .mainpanel {
        .pageheader {
            padding-left: 75px;
            h2 {
                padding-left: 15px;
                font-size: 20px;
                margin: 0 0 0 0;
            }
        }
    }
    .website-manage {
        .pageheader {            
            h2 {
                font-size: 24px;
            }
        }
    }
}
