.marketing {
    .submit-post-form {
        padding: 0 10px;
    }

    #marketing-add-feed {
        .modal-body {
            padding: 0;
        }

        .fb-admin-pages {
            li {
                height: 50px;
                line-height: 50px;
                text-indent: 10px;
                img {
                    height: 40px;
                    margin: 4px 0;
                }
                .fa-plus-square {
                    line-height: 50px;
                    font-size: 20px;
                    color: #27ae60;
                }
            }
        }
        .left-panel {
            padding-left: 0;
        }
        .integrations {
            list-style-type: none;
            margin:0;
            border-right: 1px solid #cccccc;
            li {
                height: 40px;
                line-height: 30px;
                padding: 5px 15px;
                &:hover {
                    background: #f1f1f1;
                    color:#666666;
                }
                &.active {
                    color:#666666;
                    border-right: 5px solid #faaf40;
                }
                i {
                    &.fa-facebook-square {
                        color: #3b5998;
                    }
                    &.fa-twitter-square {
                        color: #4ec2dc;
                    }
                    &.fa-google-plus-square {
                        color: #dd4b39;
                    }
                    &.fa-linkedin-square {
                        color: #007bb6;
                    }
                }
            }
        }
        .modal-footer {
            margin-top: 0;
        }
    }

    .header-menu-row {
        .label {
            padding: 4px 8px!important;
            box-shadow: none;
        }
    }
    .stream-filter {
        .label {
            padding: 4px 8px!important;
            box-shadow: none;
        }
        .avatar {
            width: 50px;
            float: left;
            margin-right: 10px;
            border-radius: 5px;
        }
        .filter-heading {
            margin:0;
        }
        .filter-text {
            margin:0;
        }
        .glyphicon-chevron-right, .glyphicon-chevron-down {
            margin-top: 13px;
        }
        hr {
            margin: 5px 0!important;
        }
        .feedTypeDetail {
            h4 {
                margin:0;
            }
            p {
                margin:0;
            }
        }
    }
    #campaign-add-email {
        .thumbnail {
            position: relative;
            overflow: hidden;
            &:hover {
                .caption {
                    display: block;
                }
            }
        }
        .caption {
            position: absolute;
            top: 0;
            right: 0;
            background: rgba(66, 139, 202, 0.75);
            width: 100%;
            height: 100%;
            padding: 2%;
            display: none;
            text-align: center;
            color: #fff !important;
            z-index: 2;
        }
    }
    /* Filter */
    
    .toolbar {
        margin-bottom: 25px;
        padding: 0;
        width: 100%;
        overflow: hidden;
        position: relative;
        .filter {
            padding: 0;
            margin: 0 0 15px 0;
            li {
                display: inline;
                background: none;
                padding: 0;
                margin: 0;
                &.rss a{
                    background-color: #FF9800;
                }
                &.flickr a{
                    background-color: #f90784;
                }
                &.delicious a{
                    background-color: #3271CB;
                }
                &.twitter a{
                    background-color: #4ec2dc;
                }
                &.facebook a{
                    background-color: #3b5998;
                }
                &.google a{
                    background-color: #2d2d2d;
                }
                &.youtube a{
                    background-color: #DF1F1C;
                }
                &.pinterest a{
                    background-color: #CB2528;
                }
                &.lastfm a{
                    background-color: #C90E12;
                }
                &.dribbble a{
                    background-color: #F175A8;
                }
                &.vimeo a{
                    background-color: #4EBAFF;
                }
                &.stumbleupon a{
                    background-color: #EB4924;
                }
                &.deviantart a{
                    background-color: #EB4924;
                }
                &.tumblr a{
                    background-color: #365472;
                }
                &.instagram a{
                    background-color: #413A33;
                }
                a {
                    padding: 4px 3px 0 3px;
                    margin: 0 3px 1px 0;
                    display: block;
                    float: left;
                    background: #777;
                    color: #fff;
                    line-height: 45px;
                    height: 50px;
                    font-weight: bold;
                    width: 50px;
                    font-size: 24px;
                    text-align: center;
                    i {
                    	line-height: 40px!important;
                    }
                }
                img {
                    margin: 0;
                    height: 24px;
                }
            }
            .link-all {
                color: #fff;
                line-height: 38px;
                padding: 7px 7px 4px 7px;
                text-shadow: 0 0 1px #555;
                font-weight: bold;
            }
        }
    }
}
.stream {
    li {
        overflow: hidden;
        .panel-body {
            .media {
                a {
                    height: 160px;
                    overflow: hidden;
                    img {
                        margin: 0 auto 15px;
                        max-width: 370px;
                        width: 100%;
                    }
                }
            }
        }
        .post-inner {
            background-color: #FFFFFF;
            line-height: 1.35em;
            -webkit-box-shadow: 0 0px 7px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 0px 7px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0px 7px rgba(0, 0, 0, 0.2);
            height: 200px;
            position: relative;
        }
        .post-content {
            padding: 15px;
            img {
                max-width: 226px;
                height: 130px;
                display: block;
                margin: 0 auto;
                border-radius: 5px;
            }
        }
        .post-bottom-bar {
            height: 40px;
            background: #888;
            padding: 5px;
            display: block;
            width: 100%;
            color: white;
            i {
                font-size: 35px;
            }
            span {
                line-height: 30px;
            }
            /* feeds network specific styles */
            
            &.rss {
                background-color: #FF9800;
            }
            &.flickr {
                background-color: #f90784;
            }
            &.delicious {
                background-color: #3271CB;
            }
            &.twitter {
                background-color: #4ec2dc;
            }
            &.facebook {
                background-color: #3b5998;
            }
            &.google {
                background-color: #2d2d2d;
            }
            &.youtube {
                background-color: #DF1F1C;
            }
            &.pinterest {
                background-color: #CB2528;
            }
            &.lastfm {
                background-color: #C90E12;
            }
            &.dribbble {
                background-color: #F175A8;
            }
            &.vimeo {
                background-color: #4EBAFF;
            }
            &.stumbleupon {
                background-color: #EB4924;
            }
            &.deviantart {
                background-color: #EB4924;
            }
            &.tumblr {
                background-color: #365472;
            }
            &.instagram {
                background-color: #413A33;
            }
        }
    }
}
.marketing-label {
    position: absolute;
    top: 90px;
    min-width: 80px;
    left: -1px;
}
.marketing-icon {
    font-size: 40px;
    text-shadow: 2px 2px 1px white;
    color: #000;
    &.start {
        font-size: 60px;
        color: #2ecc71;
    }
}
.flowchart-demo {
    .window {
        position: relative;
        &.start {
            .deleteWidget {
                display: none!important;
            }
        }
        &:hover {
            .deleteWidget {
                display: block;
            }
        }
    }
    .deleteWidget {
        display: none;
        right: -7px;
        position: absolute;
        top: -10px;
        font-size: 25px;
        background: white;
        border-radius: 65px;
        color: #888888;
        &:hover {
            color: #d9534f;
        }
    }
}
.widgets .window {
    position: relative;
    .deleteWidget {
        display: none;
    }
}
.widgets {
    ul {
        height: 100px;
        li {
            display: inline-block;
            margin-left: 10px;
            width: 90px;
            &:first-child {
                margin-left: 0px;
            }
        }
    }
}
.flowchart-demo .window {
    border: 1px solid #346789;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: center;
    z-index: 20;
    position: absolute;
    background-color: #eeeeef;
    color: black;
    font-family: helvetica;
    padding: 0.5em;
    font-size: 0.9em;
}
.flowchart-demo .window:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #444;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.flowchart-demo .active {
    border: 1px dotted green;
}
.flowchart-demo .hover {
    border: 1px dotted red;
}
#startWidget {
    top: 20em;
    left: 5em;
}
#flowchartWindow2 {
    top: 20em;
    left: 20em;
}
#flowchartWindow3 {
    top: 20em;
    left: 35em;
}
#flowchartWindow4 {
    top: 20em;
    left: 50em;
}
#flowchartWindow5 {
    top: 20em;
    left: 65em;
}
.flowchart-demo ._jsPlumb_connector {
    z-index: 4;
}
.flowchart-demo ._jsPlumb_endpoint, .endpointTargetLabel, .endpointSourceLabel {
    z-index: 21;
    cursor: pointer;
}
.flowchart-demo .aLabel {
    background-color: white;
    padding: 0.4em;
    font: 12px sans-serif;
    color: #444;
    z-index: 21;
    border: 1px dotted gray;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
}
.flowchart-demo .aLabel._jsPlumb_hover {
    background-color: #5C96BC;
    color: white;
    border: 1px solid white;
}
