.thmb-sm {
    padding: 5px;
}

.product-img {
	.img-wrap {
		height: 150px;
		overflow: hidden;
		border-radius: 5px;
	}
	.no-preview {
		background: #e7e7e7;
		color: white;
	}
	.icon {
		background: #e7e7e7;
		color: white;
		text-align: center;
		line-height: 150px;
		font-size: 120px;
	}
}