.schedule {
	.fc-toolbar {
		padding: 10px 10px 0 10px;
	}
	.fc-state-default {
		background: none;
		box-shadow: none;
		height: 2.7em;
		&.fc-state-active {
			background: #eeeeee;
		}
		&:focus {
			outline: none;
		}
	}
}