/* sign up */

.signuppanel {
   margin: 5% auto 0 auto;
   width: 780px;
}

.signuppanel .row {
   margin-left: -5px;
   margin-right: -5px;
}

.signuppanel .logopanel {
   float: none;
   width: auto;
   padding: 0;
   background: none;
}

.signuppanel .col-sm-6,
.signuppanel .col-sm-5,
.signuppanel .col-sm-3,
.signuppanel .col-sm-4 {
   padding-left: 5px;
   padding-right: 5px;
}

.signuppanel .signup-info {
   padding-right: 20px;
}

.signuppanel form {
   background: rgba(255,255,255,0.2);
   border: 1px solid #ccc;
   -moz-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
   -webkit-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
   box-shadow: 0 3px 0 rgba(12,12,12,0.03);
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   padding: 30px;
}

.signup-footer {
   border-top: 1px solid #ddd;
   margin-top: 30px;
   padding-top: 10px;
   font-size: 12px;
}

@media screen and (max-width: 640px) {
   .signinpanel,
      .signuppanel {
         margin: 0 auto;
         padding: 20px;
      }

      .signinpanel form {
         margin-top: 20px;
      }

      .signup-footer {
         margin-bottom: 10px;
      }

      .signuppanel .form-control {
         margin-bottom: 10px;
      }

      .signup-footer .pull-left,
      .signup-footer .pull-right {
         float: none !important;
         text-align: center;
      }
      .signup-footer {
      margin-bottom: 10px;
      }
      .signup-footer .pull-left,
   .signup-footer .pull-right {
      float: none !important;
      text-align: center;
   }
}