.center-pseudo (@text: ' ') {
  content: @text;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -10px;
  display: block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #777;
}
.after-text (@text) {
  &:after { .center-pseudo(@text) }
}
.before-text (@text) {
  &:before { .center-pseudo(@text) }
}

.stretchFill () {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#social_dashboard {

  #social_dashboard_panel {
    .row {
      // padding: 0 20px 20px;
    }
    .grid1,
    .grid2 {
      box-sizing: border-box;
      float: left;
      &:first-child { margin-left: 0; }
    }
    .grid1 {
      width: 48.9%;
      margin-left: 2%;
    }
    .grid2 {
      width: 100%;
      margin-left: 0;
      min-height: 300px;
    }
    .grid-new,
    .grid-placeholder {
      color: #aaa;
      position: relative;
      &::before {
        content: ' ';
        .stretchFill();
        border: 2px dotted #aaa;
      }
      &.dragover {
        background: rgba(255,255,0,0.2);
      }
    }
    .grid-placeholder {
      min-height: 220px;
    }
    .grid-new {
      min-height: 0;
      height: 80px;
      margin-right: 20px;
      .after-text('Drop modules here');
    }
    .module {
      box-shadow: 0 1px 3px rgba(0,0,0,0.07);
      background-color: #fafafa;
      position: relative;
      min-height: 220px;
      &.loading {
        .after-text('Loading...');
      }
      &.highlight:before {
        content: ' ';
        .stretchFill();
        background: rgba(255,255,150,0.3);
      }
      svg {
        display: block;
      }
      .popover-title,
      .popover-content {
        padding: 4px 8px;
        font-size: 13px;
        line-height: 1.3;
        hr { margin: 3px 0; }
        strong { color: #777; }
        .color-index {
          display: inline-block;
          border-left-width: 3px;
          border-left-style: solid;
          padding-left: 4px;
          margin-bottom: 2px;
        }
      }
      .popover-title {
        font-weight: 500;
        color: #777;
      }
      .date-range {
        position: absolute;
        z-index: 90;
        top: 3px;
        right: 28px;
        color: #777;
        font-size: 12px;
        line-height: 20px;
        .icon-calendar {
          opacity: 0.7;
          margin-top: -1px;
        }
        .caret {
          vertical-align: middle;
        }
        opacity: 0;
        .transition(opacity .2s);
      }
      &:hover .date-range {
        opacity: 1;
      }
    }

    .module.no-data {
      .after-text('No data for this time period');
    }

    .text-item {
      .inner {
        padding: 20px;
      }
      &.grid2 {
        min-height: 0px !important;
      }
    }

    .image-item {
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      &.uploading {
        .after-text('Uploading...');
      }
      .drop-area {
        position: absolute;
        top: 20px;
        bottom: 20px;
        right: 20px;
        left: 20px;
        border: 1px dashed #ccc;
        background: #f2f2f2;
        text-align: center;
        &.drag-over {
          background: #ccf;
        }
        .after-text('or drop an image here');
      }
      .picker {
        margin: 20px 0 0 -90px;
        position: absolute;
        top: 20px;
        width: 180px;
        left: 50%;
        display: inline-block;
        overflow: hidden;
        text-align: center;
      }
      .input-file {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 20px;
        opacity: 0;
        filter: alpha(opacity=0);
        z-index: 5;
        cursor: pointer;
      }
    }

    .delete-module {
      position: absolute;
      top: -7px;
      right: -7px;
      background: #ccc;
      color: #fff;
      width: 15px;
      height: 15px;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      cursor: pointer;
      z-index: 900;
      border-radius: 2px;
      &:hover { background: #f77; }
    }

    li {
      list-style: none;
      display: block;
    }
  }

  #social_dashboard_rightbar {
    padding: 0 15px 15px;
    width: 190px;
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    border-right: 1px solid #d3d3d3;
    box-shadow: 1px 0 0 #f7f7f7;
    background: #e7e7e7;
    .header {
      font-size: 14px;
      line-height: 20px;
      #gradient > .vertical(#eee, #ccc);
      width: 190px;
      margin:0 0 0 -15px;
      padding: 6px 15px;
      border-bottom: 1px solid #aaa;
      border-top: 1px solid #fafafa;
      position: relative;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
      .arrow.open,
      .arrow.closed {
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: top;
        border-left: 4px solid #444;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -3px;
      }
      .arrow.open {
        border-top: 4px solid #444;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        margin-top: 0;
      }
    }
    .accordion + .section {
      max-height: 0;
      overflow: hidden;
      .transition(max-height .2s);
      &.open {
        max-height: 800px;
      }
    }
    .section {
      // padding: 10px 0 20px;
      & > :first-child {
        margin-top: 10px;
      }
      & > :last-child {
        margin-bottom: 20px
      }
    }
    .alert {
      margin-top: 8px;
      margin-bottom: 8px;
      input { vertical-align: top; }
      label { display: inline; }
    }
  }
}