.dataTables_length {
    .chosen-container {
        min-width: 75px;
    }
    .chosen-container-single {
        .chosen-single {
            padding-right: 0;
        }
    }
}
.table-action {
    text-align: center;
}
.table-action-hide {
    a {
        opacity: 0;
    }
}
.table-action a, .table-action-hide a {
    display: inline-block;
    margin-right: 5px;
    color: #666;
}
.table-action a:hover, .table-action-hide a:hover {
    color: #333;
}
.table-action a:last-child, .table-action-hide a:last-child {
    margin-right: 0;
}
