.profile-name {
    margin: 0;
    margin-bottom: 10px;
    color: #333;
}
.profile-location, .profile-position {
    font-size: 13px;
    margin-bottom: 3px;
}
.profile-location .fa, .profile-position .fa {
    width: 16px;
    margin-right: 8px;
    text-align: center;
}
.profile-header {
    margin-bottom: 30px;
    text-align: center;
    .btn {
        .fa {
            margin-right: 7px;
        }
    }
}
.profile-social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        border-bottom: 1px solid #ddd;
        padding: 5px 0;
        .fa {
            margin-right: 10px;
            width: 16px;
        }
    }
    li:first-child {
        padding-top: 0;
    }
}
.activity-list {
    padding: 20px 10px;
    .act-media {
        border-bottom: 1px solid #eee;
    }
    .act-thumb {
        width: 28px;
        vertical-align: middle;
    }
    .act-media-body {
        line-height: 16px;
    }
    .media-body {
        p {
            line-height: 21px;
            font-size: 13px;
        }
    }
    .media-title {
        font-family:'LatoBold';
        font-size: 15px;
        margin-bottom: 0;
    }
    .blog-media {
        padding-bottom: 0;
        .media-object {
            width: 120px;
            margin-right: 10px;
            margin-top: 5px;
        }
        .media-title {
            margin: 0;
        }
    }
    .img-single {
        img {
            width: 50%;
        }
    }
}
.uploadphoto-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    li {
        width: 20%;
        float: left;
        a {
            display: block;
            margin-right: 5px;
        }
    }
}
.follower-list {
    padding: 10px;
    .media {
        border-bottom: 1px solid #eee;
    }
    .btn {
        .fa {
            margin-right: 5px;
        }
    }
    .media-object {
        margin-right: 10px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
}
.follower-name {
    color: #333;
    margin: 0;
    font-size: 18px;
    margin-bottom: 5px;
}
.events {
    padding: 10px;
    .subtitle {
        margin-bottom: 20px;
    }
    .media-object {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
}
.events-list {
    list-style: none;
    margin: 0;
    padding: 0;
    .event-body {
        font-size: 13px;
    }
}
.event-body {
    small {
        display: block;
        .fa {
            margin-right: 5px;
            width: 14px;
            text-align: center;
        }
    }
    p {
        margin-top: 10px;
    }
}
.event-title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
    font-family:'LatoBold';
    line-height: normal;
}
#map {
    height: 180px;
    width: 100%;
}
.map-wrap {
    padding: 0;
}
.circle-tile {
    text-align: center;
    margin-bottom: 15px;
}
.circle-tile-heading {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto -40px;
    border: 3px solid #34495e;
    border-radius: 100%;
    color: #999;
    transition: all ease-in-out 0.3s;
    .fa {
        line-height: 55px;
    }
}
.circle-tile-content {
    padding-top: 50px;
}
.circle-tile-number {
    padding: 0 0 5px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
}
.circle-tile-description {
    text-transform: uppercase;
    font-size: 75%;
}
.circle-tile-footer {
    display: block;
    padding: 5px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    transition: all ease-in-out .3s;
}
.circle-tile-footer:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.2);
}
.circle-tile-heading.dark-blue:hover {
    background-color: #2e4154;
    color: white;
}
.circle-tile-heading.green:hover {
    background-color: #138f77;
    color: white;
}
.circle-tile-heading.orange:hover {
    background-color: #da8c10;
    color: white;
}
.circle-tile-heading.blue:hover {
    background-color: #2473a6;
    color: white;
}
.circle-tile-heading.red:hover {
    background-color: #cf4435;
    color: white;
}
.circle-tile-heading.purple:hover {
    background-color: #7f3d9b;
    color: white;
}
.profile {
    background: #fcfcfc;
    padding: 15px 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    -webkit-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
}
.customer-status {
    padding: 10px 10px 0 10px;
}
.customer-bottom {
    padding-top: 20px;
}
.dark-blue {
    border-color: #34495e;
}
.green {
    border-color: #16a085;
}
.blue {
    border-color: #2980b9;
}
.orange {
    border-color: #f39c12;
}
.red {
    border-color: #e74c3c;
}
.purple {
    border-color: #8e44ad;
}
.dark-gray {
    border-color: #7f8c8d;
}
.gray {
    border-color: #95a5a6;
}
.light-gray {
    border-color: #bdc3c7;
}
.yellow {
    border-color: #f1c40f;
}
.text-faded {
    color: rgba(255, 255, 255, 0.7);
}
.temp h2 {
    margin-top: 42px;
}

.smart-timeline {
    position: relative
}
.smart-timeline-list {
    list-style: none;
    margin: 0;
    padding: 0
}
.smart-timeline-list:after {
    content: " ";
    background-color: #eee;
    position: absolute;
    display: block;
    width: 2px;
    top: 0;
    left: 95px;
    bottom: 0;
    z-index: 1
}
.smart-timeline-list li {
    position: relative;
    margin: 0;
    padding: 15px 0
}
.smart-timeline-list > li:hover {
    background-color: #f4f4f4
}
.smart-timeline-hover li:hover {
    background-color: #f9f9f9
}
.smart-timeline-icon {
    background: #3276b1;
    color:#fff;
    border-radius: 50%;
    position: absolute;
    width: 32px;
    height: 32px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    left: 80px;
    top: 10px;
    z-index: 100;
    padding: 2px
}
.smart-timeline-icon > img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-top: -2px;
    margin-left: -2px;
    border: 2px solid #3276b1
}
.smart-timeline-time{float:left;width:70px;text-align:right}
.smart-timeline-time>small{font-style:italic}
.smart-timeline-content{margin-left:123px}
.table-forum thead tr{background:none!important}

.thumb-lg {
    margin: 0 auto;
}

.profile-name {
    text-align: center;
    font-weight: 600;
}

.customer-stats {
    color: #c2c2c2;
}
.customer-stats i{
    min-width: 20px;
}

.customer-stats span{
    color: #444;
}

.social-list .btn {
    margin-top: 8px;
}

.profile .social-list {
    margin-left: 0;
}

.profile .social-list li{
    padding-left: 0;
    border-top: 1px solid #eee;
    padding-top: 10px;
    margin-bottom: 10px;
}

.profile .social-list li>div{
    padding-left: 0;
}

.social-list .li-email {
    display: none;
}

.social-list .li-email.first {
    display: block;
}