.website-manage {
	.screenshot-wrap {
		height: 155px;
		overflow: hidden;
		border: 1px solid #dddddd;
		img {
			width: 260px;
		}
	}
	.template-btns {
		margin-bottom: 0px;
		padding: 0;
	}
	.thumbnail {
		padding: 10px;
		.caption {
			padding: 10px 0 0 0;
		}
	}
}