.templateColumns {
  line-height: 100%;
}

.templateColumnContainer {
  /*display: block;*/
}

.email-component-container {
  min-height: 150px
  padding-bottom: 50px;
}

.ckeditor-button-wrap {
  text-align: center;
}

hr {
  max-width: 600px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


/*
 * editor specific styles
 */
[email-component] .container.inner-page {
  margin-top: 50px;
  padding-bottom: 45px;
}