.email-body .templateColumns {
  line-height: 100%;
}

.email-body .templateColumnContainer {
  /*display: block;*/
}

.email-body .email-component-container {
  min-height: 25px;
  /*padding-bottom: 50px;*/
}

.email-body .ckeditor-button-wrap {
  text-align: center;
}

.email-body .hr {
  max-width: 600px;
  border: 0;
  height: 0;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


/*
 * editor specific styles
 */
/*[email-component] .container.inner-page {
  margin-top: 50px;
  padding-bottom: 45px;
}*/
.circular {
  display: none;
  visibility: none;
}
.fragment:hover .circular {
  display: block;
  visibility: visible;
}