/* ---------------------------------------------------------------------- */
/*  Theme 6
/* ---------------------------------------------------------------------- */
body {
  background: #f7f7f8;
}
@media (max-width: 991px) {
  .app-content {
    background: #f7f7f8;
  }
}
header .navbar-header {
  background: #fff !important;
  border-right-color: rgba(0, 0, 0, 0.2) !important;
  border-bottom-color: rgba(0, 0, 0, 0.2) !important;
}
header .navbar-header .sidebar-toggler,
header .navbar-header .sidebar-mobile-toggler {
  color: #5c798f !important;
}
header .navbar-header .navbar-brand {
  color: #ffffff !important;
}
header .navbar-header .menu-toggler {
  color: #5c798f !important;
}
header .navbar-collapse {
  background: #ffffff !important;
  border-bottom-color: rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) !important;
}
header .navbar-collapse .navbar-right > li > a {
  color: #141719;
}
header .navbar-collapse .navbar-right > li > a i {
  color: #3E4B5C !important;
}
header .navbar-collapse .navbar-right > li > a:hover,
header .navbar-collapse .navbar-right > li > a:focus,
header .navbar-collapse .navbar-right > li > a:active {
  background: #ebebeb !important;
}
header .navbar-collapse .navbar-right > li.open > a {
  background: #ebebeb !important;
}
header .navbar-collapse .navbar-right .dot-badge {
  border-color: #ffffff;
}
@media (max-width: 991px) {
  header .navbar-collapse {
    background: #fff !important;
    box-shadow: none;
  }
  header .navbar-collapse .navbar-right > li > a {
    color: #ffffff;
  }
  header .navbar-collapse .navbar-right > li > a i {
    color: #5c798f !important;
  }
  header .navbar-collapse .navbar-right > li > a:hover,
  header .navbar-collapse .navbar-right > li > a:focus,
  header .navbar-collapse .navbar-right > li > a:active {
    background: #ebebeb !important;
  }
  header .navbar-collapse .navbar-right > li.open > a {
    background: #ebebeb !important;
  }
  header .navbar-collapse .navbar-right .dot-badge {
    border-color: #fff;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  header .navbar-collapse .navbar-right > li {
    border-bottom: 1px solid #2C2F3B !important;
  }
}
@media (max-width: 767px) {
  header .navbar-collapse {
    background: #f2f2f2 !important;
  }
  header .navbar-collapse .close-handle {
    background: #fff;
  }
  header .navbar-collapse .close-handle .arrow-left,
  header .navbar-collapse .close-handle .arrow-right {
    background-color: #5c798f;
  }
  header .navbar-collapse .navbar-right .current-user a i {
    color: #ffffff !important;
    background: rgba(92, 121, 143, 0.3);
  }
}
#sidebar {
  background: #fff !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#sidebar:before {
  border-right-width: 0 !important;
  border-right-style: solid;
  border-right-color: transparent !important;
}
#sidebar nav {
  border-right-width: 0 !important;
  border-right-style: solid;
  border-right-color: transparent !important;
}
#sidebar nav .navbar-title {
  color: #98d3e2;
}
#sidebar nav > ul {
  background: #fff !important;
  border-bottom-color: #fff !important;
  border-top-color: #fff !important;
}
#sidebar nav > ul > li a:active:focus {
  background: #f2f2f2 !important;
}
#sidebar nav > ul > li > a .item-media > i {
  color: #48b1cc !important;
}
#sidebar nav > ul > li > a .item-media .fa-stack .fa-square {
  color: #48b1cc !important;
}
#sidebar nav > ul > li > a .item-inner {
  color: #5c798f !important;
  border-bottom-color: #fff;
}
#sidebar nav > ul > li.hover {
  background: #ffffff !important;
}
.no-touch #sidebar nav > ul > li:hover {
  background: #ffffff !important;
}
#sidebar nav > ul > li.active {
  background: #48b1cc !important;
}
#sidebar nav > ul > li.active:hover {
  background: #48b1cc !important;
}
@media (min-width: 992px) {
  #sidebar nav > ul > li.active:before {
    border-right-color: transparent !important;
  }
  #sidebar nav > ul > li.active:after {
    border-right-color: #f7f7f8 !important;
  }
}
#sidebar nav > ul > li.active > a:active:focus {
  background: #37a7c4 !important;
}
#sidebar nav > ul > li.active > a .item-inner {
  color: #ffffff !important;
}
#sidebar nav > ul > li.active > a .item-media > i {
  color: #ffffff !important;
}
#sidebar nav > ul > li.active > a .item-media .fa-stack .fa-square {
  color: #007aff !important;
}
#sidebar nav > ul > li.active .sub-menu {
  background: #fff;
}
#sidebar nav > ul .sub-menu {
  background: #fff;
}
#sidebar nav > ul .sub-menu > li a {
  color: #48b1cc;
}
#sidebar nav > ul .sub-menu > li.active a {
  font-weight: bold;
}
#sidebar nav ul > li.hover {
  background: #f2f2f2;
}
.no-touch #sidebar nav ul > li:hover {
  background: #f2f2f2;
}
#sidebar nav .button-o {
  border-color: #48b1cc !important;
  color: #48b1cc !important;
}
@media (min-width: 992px) {
  .app-sidebar-closed .app-aside .search-form {
    background: #f0f0f0 !important;
    border-bottom-color: transparent !important;
  }
  .app-sidebar-closed .app-aside .search-form > a {
    color: #48b1cc;
  }
  .app-sidebar-closed .app-aside .navbar-form {
    background: #f0f0f0 !important;
  }
  .app-sidebar-closed .app-aside .navbar-form a {
    color: #48b1cc !important;
  }
  .app-sidebar-closed .app-aside .navbar-form .form-group input {
    background: rgba(255, 255, 255, 0.4);
  }
  .app-sidebar-closed .app-aside .navbar-form .form-group input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #48b1cc;
  }
  .app-sidebar-closed .app-aside .navbar-form .form-group input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #48b1cc;
  }
  .app-sidebar-closed .app-aside .navbar-form .form-group input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #48b1cc;
  }
  .app-sidebar-closed .app-aside .navbar-form .form-group input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #48b1cc;
  }
  .app-sidebar-closed .app-aside > .item-inner {
    background: #70c2d7 !important;
  }
  .app-sidebar-closed .app-aside > .item-inner .title {
    color: #fff !important;
  }
  .app-sidebar-closed .app-aside > .item-inner.active {
    background: #3196b0 !important;
  }
  .app-sidebar-closed .app-aside > .item-inner.active:before {
    border-left: 12px solid transparent;
  }
  .app-sidebar-closed .app-aside > .item-inner.active:after {
    border-left: 12px solid #48b1cc !important;
  }
  .app-sidebar-closed .app-aside > .item-inner:before {
    border-left: 12px solid transparent;
  }
  .app-sidebar-closed .app-aside > .item-inner:after {
    border-left: 12px solid #ffffff !important;
  }
  .app-sidebar-closed .app-aside .form-group {
    background: #f0f0f0 !important;
    border-color: transparent !important;
  }
  .app-sidebar-closed .app-aside .sub-menu {
    background: #fff;
  }
  .app-sidebar-closed .app-aside .sub-menu li a {
    color: #48b1cc !important;
  }
  .app-sidebar-closed .app-aside .sub-menu li.active > a,
  .app-sidebar-closed .app-aside .sub-menu li.open > a {
    background: #fff !important;
  }
}
@media (min-width: 992px) {
  .app-sidebar-closed ul.sub-menu {
    border-right-color: #fff !important;
    border-bottom-color: #fff !important;
  }
}
.navbar-form {
  background: #f0f0f0 !important;
}
.navbar-form .search-button {
  color: #48b1cc;
}
.navbar-form .form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(72, 177, 204, 0.5);
}
.navbar-form .form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(72, 177, 204, 0.5);
}
.navbar-form .form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(72, 177, 204, 0.5);
}
.navbar-form .form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(72, 177, 204, 0.5);
}
.navbar-form .form-control:focus {
  background-color: #ffffff !important;
  border-color: #ffffff;
  transition: all 300ms ease-in 0s;
}
.navbar-form .form-control:focus + .search-button {
  color: #aeacb4;
}
.navbar-form .form-control:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #c2c2c5 !important;
}
.navbar-form .form-control:focus:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #c2c2c5 !important;
}
.navbar-form .form-control:focus::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #c2c2c5 !important;
}
.navbar-form .form-control:focus:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #c2c2c5 !important;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999 !important;
}
#app > footer {
  background: #fff !important;
  border-top-color: rgba(0, 0, 0, 0.2) !important;
  color: #5c798f;
}
