.coming-soon-v1 {
	height: 100%;
	.container.inner-page {
		padding: 0;
		max-width: 100%;
		margin: 0!important;
		width: 100%;
	}
	.logo {
		margin: 0 auto 0;
		display: block;
		max-width: 300px;
		position: relative;
	}
	div[ng-transclude] {
		height: 100%;
	}
	.coming-soon-wrap {
		// background: rgba(255,255,255,0.9);
	}
	.heading {
		margin: 0px 0 10px;
		position: relative;
	}
	.text {
		margin-bottom: 20px;
		text-align: center;
		position: relative;
	}
	.inner-page {
		padding-bottom: 15px;
		padding-top: 0;
	}
	@-webkit-keyframes arrowBounce {
	  0% {
	    -webkit-transform: translateY(-20px);
	    -moz-transform: translateY(-20px);
	    -ms-transform: translateY(-20px);
	    transform: translateY(-20px);
	  }

	  50% {
	    -webkit-transform: translateY(-10px);
	    -moz-transform: translateY(-10px);
	    -ms-transform: translateY(-10px);
	    transform: translateY(-10px);
	  }

	  100% {
	    -webkit-transform: translateY(-20px);
	    -moz-transform: translateY(-20px);
	    -ms-transform: translateY(-20px);
	    transform: translateY(-20px);
	  }
	}
	@-moz-keyframes arrowBounce {
	  0% {
	    -webkit-transform: translateY(-20px);
	    -moz-transform: translateY(-20px);
	    -ms-transform: translateY(-20px);
	    transform: translateY(-20px);
	  }

	  50% {
	    -webkit-transform: translateY(-10px);
	    -moz-transform: translateY(-10px);
	    -ms-transform: translateY(-10px);
	    transform: translateY(-10px);
	  }

	  100% {
	    -webkit-transform: translateY(-20px);
	    -moz-transform: translateY(-20px);
	    -ms-transform: translateY(-20px);
	    transform: translateY(-20px);
	  }
	}
	@-ms-keyframes arrowBounce {
	  0% {
	    -webkit-transform: translateY(-20px);
	    -moz-transform: translateY(-20px);
	    -ms-transform: translateY(-20px);
	    transform: translateY(-20px);
	  }

	  50% {
	    -webkit-transform: translateY(-10px);
	    -moz-transform: translateY(-10px);
	    -ms-transform: translateY(-10px);
	    transform: translateY(-10px);
	  }

	  100% {
	    -webkit-transform: translateY(-20px);
	    -moz-transform: translateY(-20px);
	    -ms-transform: translateY(-20px);
	    transform: translateY(-20px);
	  }
	}
	@keyframes arrowBounce {
	  0% {
	    -webkit-transform: translateY(-20px);
	    -moz-transform: translateY(-20px);
	    -ms-transform: translateY(-20px);
	    transform: translateY(-20px);
	  }

	  50% {
	    -webkit-transform: translateY(-10px);
	    -moz-transform: translateY(-10px);
	    -ms-transform: translateY(-10px);
	    transform: translateY(-10px);
	  }

	  100% {
	    -webkit-transform: translateY(-20px);
	    -moz-transform: translateY(-20px);
	    -ms-transform: translateY(-20px);
	    transform: translateY(-20px);
	  }
	}

	.arrow-down{
		margin-top: 40px;
		width: 100%;
		text-align: center;
		i {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			font-size: 35px;
			padding: 10px;
			color: inherit;
			-webkit-animation: arrowBounce 2.5s infinite;
			-moz-animation: arrowBounce 2.5s infinite;
			-ms-animation: arrowBounce 2.5s infinite;
			animation: arrowBounce 2.5s infinite;
		}
	}
}

div[data-type="coming-soon"] .component-inner {
	background: rgba(255, 255, 255, 0.9);
}