.contact-us-v5{
  .angular-google-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .container {
    width: 50%;
    padding-left: 0;
    padding-right: 0;
  }

  .map-component{
    background-color: #C5E2E2;
    margin:5%;
    color: #000000;
  }

  .map{height: 344px;margin-right: 50px}
}