.contact-us-v1 {

	.contact-us-title {
		text-align: center;
        color: #176134;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
	}
	.contact-us-subtitle {
		color: white;
		text-align: center;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	}

	form {
		max-width: 400px;
		margin: 0 auto;
		margin-top: 30px;

		.btn-primary {
			background: none;
			border: 2px solid #ffffff;
		}

		.form-control {
			border-color: #176134;
		}
	}
}