.contact-us-v3 {

	.title {
		text-align: center;
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 20px;
		font-size: 16px;
	}

	#contact{
		background: #2d2e2e;
	}
	.list-contacts {
		list-style: none;
		padding-left: 0;
		margin: 2em 0;
	}

	.list-contacts li {
		margin-bottom: 10px;
		display: table;
	}

	.list-contacts .fa {
		margin-right: 15px;
		display: table-cell;
		width: 40px;
		font-size: 24px;
	}

	.section-title-border {
      width: 70px;
      height: 3px;
      background: rgba(0,0,0,0.13);
      margin: 0 auto 45px;
      border-radius: 3px;
    }


	/* Small devices (tablets, 768px and up) */
	@media (min-width: 768px) {
		.list-contacts {
			list-style: none;
			padding-left: 0;
			margin-top: 2em;
		}

	}
}