/********** Customer Login **********/
.customer-login-v1 {
    .signinpanel {
       max-width: 480px;
       margin: 5% auto 0 auto;
    }

    .welcome-text {
      text-align: center;
      margin-top: 5px;
    }

    .signinpanel .logo {
       padding: 15px;
       margin: 15px auto;
       display: block;
       width: 100%;
       max-width: 300px;
    }

    .input-group .fa {
       font-size: 24px;
    }

    .signinpanel .form-control {
       display: block;
    }

    .signinpanel .input-group {
       margin-bottom: 20px;
    }

    .fa-input {
      font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .signinpanel .btn {
       margin-top: 15px;
    }

    .signinpanel .form {
       background: rgba(255,255,255,0.2);
       border: 1px solid #ccc;
       .box-shadow(0 0 5px 1px rgba(0, 0, 0, 0.1));
       border-radius: 3px;
       padding: 30px;
       padding-top: 10px;
    }

    .signinpanel .form a {
       color: #666;
    }

    .signinpanel .social {
      text-align: center;
      margin-bottom:20px;

      .btn {
        min-width:75px;
      }
      i.fa {
        font-size:36px;
      }
    }
    @media screen and (max-width: 640px) {
       .signinpanel {
             margin: 0 auto;
             padding: 0!important;
          }

          .signinpanel form {
             margin-top: 20px;
             padding: 10px;
          }

    }
}