.inner-page {
	padding: 50px 0;
	max-width: 1100px;
	margin: 0 auto;
}

.btn-outline {
  background: none;
  border: 2px solid #fff!important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.btn-outline:hover {
  background-color: #16778b!important;
  border: 2px solid #fff!important;
  color: #ffffff;
}