/********** Features list v3 **********/

.feature-list-v3 {
    .feature-list-title {
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    }
    .feature-list-subtitle {
        color: #fff;
        text-align: center;
    }
    .feature-single {
        min-height: 320px;
        margin: 10px;
        padding: 20px;
        color: white;
        transition: none!important;
        img {
            margin-bottom: -196px;
            border: 1px solid #1c7c41;
            width: 100%;
        }
        .feature-icon {
            font-size: 14em;
            position: absolute;
            margin: 15px 0;
            z-index: 1;
            text-align: center;
            width: 85%;
        }
        .feature-title {
            font-size: 30px;
            text-align: center;
            font-weight: bold;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
            margin: 0;
            line-height: 196px;
            text-transform: uppercase;
            z-index: 999;
            position: relative;
            &:hover {
                color: #44af6e;
                text-decoration: underline;
            }
        }
        .feature-subtitle {
            padding-left: 10px;
            border-left: 8px solid white;
            margin-top: 25px;
            font-size: 16px;
            ul {
                padding: 0px;
                margin-top: 30px;
            }
            li {
                list-style-type: none;
                list-style-position: inside;
                line-height: 14px;
                margin-bottom: 15px;
                font-size: 14px;
            }
        }
    }
}
