/********** Feature Block **********/

.feature-block-v1 {
    .feature-block-title {
        text-align: center;
        .fa {
            text-align: center;
            font-size: 85px;
            background: #4bb0cb;
            border: 10px solid #35a2bf;
            width: 215px;
            height: 215px;
            border-radius: 110px;
            line-height: 195px;
            margin: 0 auto;
            display: block;
            text-shadow: none;
            color:white;
        }
    }
    .feature-block-subtitle {
        max-width: 600px;
        margin: 15px auto;
        text-align: center;
        a {
            color: white;
            text-decoration: underline;
        }
    }
    .feature-block-text {
        text-align: center;
    }
    ul {
        color: white;
        text-align: center;
        text-shadow: 1px 1px 1px black;
        list-style-type: circle;
        list-style-position: inside;
    }
}
.feature-block.parallax {
    height: 440px;
    .feature-block-title {
        color: white;
        text-shadow: 1px 1px 1px black;
        max-width: 800px;
        margin: 0 auto;
        padding: 15px;
    }
    .feature-block-subtitle {
        color: white;
        text-shadow: 1px 1px 1px black;
        text-align: center;
    }
}
