.footer-after{
      background: #292929;
      padding: 20px;
      font-size: 12px;
    }

    .footer-after p{
      color: #fff;
      margin: 0;
    }

    .footer-after a{
      color: #FFF;
      float: right;

    }

    .footer-after a:hover{
      color: #7f8c8d;
      text-decoration: none;
    }

    .footer-logo {
      margin: -50px 5px 0 0;
    }