
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eeeeee;
}
.btn-lg {
  font-size: 14px;
}

.goback {
  background: #d0ecf6;
  padding: 38px;
  height: 100px;
  -webkit-box-shadow: 8px 0px 7px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 8px 0px 7px 0px rgba(50, 50, 50, 0.15);
  box-shadow: 8px 0px 7px 0px rgba(50, 50, 50, 0.15);
}

.goback span {
  color: black;
  cursor: pointer;
}

.goback:hover {
  background: #7caaba;
}

.goback:hover span {
  color: white!important;
}

.goback p {
  text-align: left;
}

#body, #main-area, #content-area{
  min-height: 600px;
}

.ng-hide {
    display: none!important;
}

.component-body {
  height: 100%;
}
#body {
  .aloha-editable-highlight {
    outline: none!important;
    border: 0!important
  }
  .aloha-editable {
  outline: none;
  border: 0;
}
.aloha-editable:after {
  opacity: 0;
  background: transparent;
  color: transparent;
  content: '';
  height: 0;
  bottom: -8px;
  left: 0;
  width: 35px;
  padding: 0 7px;
  position: absolute;
  display: block;
}
.aloha-editable-active, .editing .editable:hover {
  outline: none!important;
  border: 2px dashed #efa022;
  transition: all .2s linear;
}
.aloha-editable-active:after{
  content: "Editing";
  background: #efa022;
  color: #ffffff;
  position: relative;
  padding: 0;
  width: 75px;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  line-height: 24px;
  bottom: -24px;
  left: 0;
  -webkit-border-radius:0 0 4px 4px;
  -moz-border-radius:0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  opacity: 1;
  transition: all .2s linear;
  height: 24px;
  z-index: 9999;
}
.aloha-editable-active.writing:after{
  content: "Writing...";
  width: 45px;
}
}

#body.no-outline {
    .aloha-editable-highlight {
      outline: none!important;
    }
    .aloha-editable-active {
      outline: none!important;
    }
}
.fragment {
    display: block;
}

.add-component {
    font-size: 50px;
    height: 40px;
    background: #fff;
    border-radius: 25px;
    position: absolute;
    margin-top: -25px;
    left: 50%;
    z-index: 9998;
    /*
      99999 is for
        .componentActions
    */
    i {
      margin-top: -3px;
    }
    a {
      color: #29b87f;
    }
    &:hover {
      background: #fff;
      pointer-events: auto;
      a {
        color: #219265;
      }
    }
}

body.editing {
  a {
      pointer-events:none;
  }
  .no-component {
    display: block;
    visibility: visible;
  }
  .component-inner {
    padding: 2px;
  }
  .ui-sortable.active {
    .fragment {
      overflow: hidden;
    }
  }
  .fragment {
    border: none;
    &.dragging {
      z-index: 999999!important;
    }
    &:hover {
      .component-inner {
        border: 2px dashed #34495e;
        padding: 0px;
      }
      .componentActions {
        display: block;
        line-height: 39px;
        visibility: visible;
      }
      .add-component {
        display: block;
        visibility: visible;
      }
    }
  }
}



.ui-sortable {
  margin-bottom: 0;
  .dragging {
    height: 60px!important;
  }
  .componentActions {
    h4 {
        display: none;
      }
  }
}

ul.ui-sortable.active {
  .fragment {
    height: 60px!important;
    .componentActions {
      display: block;
      visibility: visible;
      border: 1px solid #ccc;
      background: #fafafa;
      h4 {
        display: block;
      }
    }
  }
}

.componentActions, .add-component, .no-component {
  display: none;
  visibility: hidden;
}

.no-component {
  .add-component {
    display: block;
    visibility: visible;
  }
}

.empty-page {
  max-width: 440px;
  margin: 40px auto;
  padding: 30px 0;
}
@import "components/accordion-v1.less";
@import "components/campaign.less";
@import "components/contact-us-v1.less";
@import "components/contact-us-v2.less";
@import "components/component-wrap.less";
@import "components/default-layout.less";
@import "components/feature-list-v1.less";
@import "components/feature-list-v2.less";
@import "components/feature-list-v3.less";
@import "components/feature-list-v4.less";
@import "components/navbar-v1.less";
@import "components/navbar-v2.less";
@import "components/navbar-v3.less";
@import "components/navbar-v4.less";
@import "components/feature-block-v1.less";
@import "components/gallery-v1.less";
@import "components/meet-team-v1.less";
@import "components/meet-team-v2.less";
@import "components/meet-team-v3.less";
@import "components/meet-team-v4.less";
@import "components/meet-team-v5.less";
@import "components/testimonials-v1.less";
@import "components/testimonials-v2.less";
@import "components/image-text-v1.less";
@import "components/image-text-v2.less";
@import "components/image-text-v3.less";
@import "components/shopping-cart-v1.less";
@import "components/masthead-v1.less";
@import "components/social-v1.less";
@import "components/simple-form-v1.less";
@import "components/simple-form-v2.less";
@import "components/simple-form-v3.less";
@import "components/products-v1.less";
@import "components/portfolio-v1.less";
@import "components/blog-teaser-v1.less";
@import "components/footer-v1.less";
@import "components/single-blog-v1.less";
@import "components/blog-v1.less";
@import "components/pricing-table-v1.less";
@import "components/coming-soon-v1.less";
@import "components/image-gallery-v1.less";
@import "components/image-text-v4.less";
@import "components/information-list-v1.less";
@import "components/header-image-text-v1.less";
@import "components/information-list-v2.less";
@import "components/triangle-text-v1.less";
@import "components/appointment-v1.less";
@import "components/payment-form-v1.less";
@import "components/thumbnail-slider-v1.less";
@import "components/video-v1.less";
@import "components/image-text-v5.less";
@import "components/image-gallery-v2.less";
@import "components/social-link-v1.less";
@import "components/customer-account-v1.less";