/********** Image Text v5 **********/

  .image-text-v5 {

    .image-text-title {
      color: #444;
      text-align: center;
      margin-bottom: 25px;
      font-weight: normal;
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
      display: block;
      position: relative;
    }
   .image-text-subtitle { 
      text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.45); 
      margin-bottom: 5px;    
    }
    .btn {
      margin: 20px auto;
    }
    .image-text-image img {
      margin-right: 25px auto;
      min-width: 250px;
    }
    .image-text-panel
    {
      padding:20px
    }
    .image-text-text {      
      a {
        color: white;
        text-decoration: underline;
      }
    }   
  }

  div[data-class='image-text'] h3 {
    font-weight: bold;
  }

  div[data-class='text'] {
    font-size: 14px;
  }

  div[data-class='image-text'] p {
    font-size: 14px;
  }

  .image-text {
    padding: 0 20px;
    display: inline-block;

    .img-responsive {
      margin: 0 auto;
    }

  }
