/********** Image Text v1 **********/

  .image-text-v1 {

    .image-text-title {
      color: #444;
      text-align: center;
      font-weight: bold;
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
      display: block;
      position: relative;
    }
    .image-text-subtitle {
      text-shadow: 1px 1px 1px rgba(36, 135, 159, 0.8);
      margin-top: 0px;
      font-weight: bold;
    }
    .btn {
      margin: 20px auto;
    }
    .image-text-image img {
      margin-top: 51px;
    }
    .image-text-text{color: black}
    .image-text-text a {
      text-decoration: underline;
      color: white;
    }
  }

  div[data-class='image-text'] h3 {
    font-weight: bold;
  }

  div[data-class='text'] {
    font-size: 14px;
  }

  div[data-class='image-text'] p {
    font-size: 14px;
  }

  .image-text {
    padding: 0 20px;
    display: inline-block;

    .img-responsive {
      margin: 0 auto;
    }

  }