/********** Image Text v3 **********/

  .image-text-v3 {

    .image-text-title {
      color: #444;
      text-align: center;
      margin-bottom: 15px;
      font-weight: normal;
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
      display: block;
      position: relative;
    }
    .image-text-subtitle {
      text-shadow: 1px 1px 1px rgba(36, 135, 159, 0.8);
      margin-top: 0px;
      font-weight: bold;
    }
    .btn {
      margin: 20px auto;
    }
    .image-text-text a {
      color: white;
      text-decoration: underline;
    }
    .section-title-border {
      width: 70px;
      height: 3px;
      background: rgba(0,0,0,0.13);
      margin: 0 auto 45px;
      border-radius: 3px;
    }
  }

  div[data-class='image-text'] h3 {
    font-weight: bold;
  }

  div[data-class='text'] {
    font-size: 14px;
  }

  div[data-class='image-text'] p {
    font-size: 14px;
  }

  .image-text {
    padding: 0 20px;
    display: inline-block;

    .img-responsive {
      margin: 0 auto;
    }

  }
