.image-text-v4 {
    .title {
        text-align: center;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    }
    .subtitle {
        text-shadow: 1px 1px 1px rgba(36, 135, 159, 0.8);
        margin-top: 0px;
        font-weight: bold;
    }
    .para span h4 {
        text-align: center;
    }
    .para span h5 {
        text-align: center;
        color: #FCB100;
    }
    .para span p {
        text-align: left;
    }
}
