.information-list-v2{

   text-align:center;

   background-color:#F7F7F7 ;

  h6{
    color: #FCB100;
    text-align: center;
  }
  .top-buffer {
    margin-top: 80px;
    margin-bottom:20px;
  }


}