/********** MastHead **********/
  .navbar-v2 {
    .masthead {
       .home-text {
        margin-top: 210px!important;
      }
    }
  }

.masthead .btn .fa {
  margin-top: 8px;
}

  .masthead {
    margin-top: 0;
    transition:none;
    padding: 5em 0;
    height: 100%;
    overflow: hidden;
    background-size: cover!important;

      h4  {
        div, i {
          float: left;
          text-indent: 17px;
          line-height: 18px;
        }
      }

      .masthead-title {
        color: white!important;
      }

      .masthead-subtitle {
        max-width: 60%;
        margin: 0 auto;
        font-size: 18px;
      }

      p {
        color: white;
      }

      .btn {
        width: 200px;
        height: 50px;
        margin-top: 30px;
        line-height: 30px;

        .fa {
          float: left;
        }
      }

      .row {
        margin: 0;
      }

      .btn-text {
        font-weight: bold;
        text-shadow: none;
      }

      .home-text {
        padding: 50px 30px;
        text-shadow: 2px 1px 0px rgba(62, 92, 111, .8);
        text-align: center;
        color: white;
      }
  }