/********** MastHead **********/
  .navbar-v2 {
    div[data-type='masthead'] {
       .inner-page {
        margin-top: -210px;
      }
      .home-text {
        margin-top: 130px;
      }
    }
  }

.masthead .btn .fa {
  margin-top: 8px;
}

  .masthead-v1 {
    margin-top: 0;
    transition:none;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-size: cover!important;

      h4  {
        div, i {
          float: left;
          text-indent: 17px;
          line-height: 18px;
        }
      }

      .masthead-subtitle {
        max-width: 70%;
        margin: 0 auto;
      }

      .masthead-title {
        font-size: 32px;
        padding-bottom: 20px;
        h1 {
          font-size: 45px;
        }
      }


      .btn {
        height: 50px;
        margin-top: 30px;

        .fa {
          float: left;
          margin-right: 10px;
          margin-top: 2px;
        }
      }

      .row {
        margin: 0;
      }

      .btn-text {
        font-weight: bold;
        text-shadow: none;
      }

      .home-text {
        padding: 50px 30px;
        text-align: center;
      }
  }

@media (max-width: 625px) {
  .navbar-v2 .masthead-v1 .home-text {
    margin-top: 60px!important;
  }
  .masthead-v1 .masthead-subtitle {
    max-width: 100%;
  }
  .navigation-v2 .navbar ul.navbar-nav li {
    display: block;
  }
}