/********** Meet Team  v2**********/

.meet-team-v2 {
    .title {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    .profile-img {
		width: 250px;
		height: 250px;
		display: block;
		margin: 0 auto;
		border-radius: 5px;
    }

    .teamMember {
    	padding: 20px;
    }
    .social {
      margin: 20px auto;
      font-size: 14px;
      list-style-type: none;
      padding-left: 0;
    }

    .social a {
      font-size: 1.1em;
      padding: 0 0.3em;
      border: 1px solid #fff;
      margin: 0 5px;
      width: 30px;
      height: 30px;
      display: inline-block;
      line-height: 28px;
    }
     
    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) { 
      .team-member-container{
        margin: 0;
      }
    }
}
