/********** Meet Team  v2**********/
.editing .meet-team-v2 .team-member-wrap {
  .team-member {
    border: 4px solid rgba(0, 0, 0, 0);
    position: relative;
  }
  .team-member.edit-mode {
    padding-left: 15px;
    padding-right: 15px;
  }
  .team-member:hover {
    border: 4px dashed rgba(0, 0, 0, 0.4);
  }
  .team-member:hover {
    .add-addtional {
      display: block;
      font-size: 28px;
    }
    .delete-team-member {
      .btn-delete-team-member {
        background: rgba(0, 0, 0, 0.5);
        display: block;
        border: 0;
        color: #ffffff;
        padding: 10px 15px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1050;
      }
    }
  }
  .delete-team-member {
    .btn-delete-team-member {
      display: none;
    }
  }
}
.meet-team-v2 {
    .title {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    .profile-img {
		width: 250px;
		height: 250px;
		display: block;
		margin: 0 auto;
		border-radius: 5px;
    }

    .teamMember {
    	padding: 20px;
    }
    .social {
      margin: 20px auto;
      font-size: 14px;
      list-style-type: none;
      padding-left: 0;
    }

    .social a {
      font-size: 1.1em;
      padding: 0 0.3em;
      border: 1px solid #fff;
      margin: 0 5px;
      width: 30px;
      height: 30px;
      display: inline-block;
      line-height: 28px;
    }
     
    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) { 
      .team-member-container{
        margin: 0;
      }
    }
}
