/********** Meet Team  v2**********/

.meet-team-v2 {
    .title {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    .profile-pic {
		width: 250px;
		height: 250px;
		display: block;
		margin: 0 auto;
		border-radius: 5px;
    }

    .teamMember {
    	padding: 20px;
    }
}
