/********** Navbar **********/
    .navbar-nav {

        li.social a {
          padding: 0!important;
        }
        li a.sign-in {
          background: #fcb351;
          color: #fff!important;
          border-bottom: 4px solid #fa8b28;
          border-radius: 3px;
            &:hover {
              background: #fcb351;
              border-bottom: 4px solid #fcb351;
            }
        }
        .fa-twitter {
          background: none!important;
          padding: 10px 10px 10px;
          margin-left: 20px;
        }

        .fa-facebook {
          background: none!important;
          padding: 10px 10px 10px;
        }
    }

    .navbar-white {
      background-color: #ffffff;
      color: #5db8d0;
      border-radius: 0;
      border-bottom: 3px solid #5db8d0 !important;
      padding: 0 30px;
    }

    .navbar {
      margin-bottom: 0px;
      min-height: 85px;
      -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
      z-index: 999;
    }

    .navbar-brand {
      height: 80px;
      max-width: 300px;
    }

    .navbar-toggle {
      margin-top: 20px;
    }

    .navbar .nav>li>a {
      float: none;
      padding: 10px 25px 10px;
      color: #939597;
      text-decoration: none;
      font-size: 15px;
      text-transform: uppercase;
    }

    .navbar .nav {
      position: relative;
      left: 0;
      display: block;
      float: left;
      margin: 0 30px 0 0;
      font-weight: bold;
    }

    .navbar .nav>li {
      float: left;
    }

    ul.nav {
      margin-top: 25px!important;
    }
.container-fluid {
  padding: 0px ;
}
.navbar-brand{
  padding:12px 20px;
}