/********** Navbar v3 **********/

.navbar-v3 {
  background-color: rgba(54,155,217,0.8);
  border-bottom: 3px solid #18477a !important;
  height: 65px;
  .maintitle {
    float: left;
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    line-height: 60px;
    margin: 0;
    text-indent: 20px;
    text-align: center;

  }
  img {
    height:40px;
    width: 40px;
    border:2px solid #195490;
  }
  .pull-right {
    padding: 10px;
  }

  .btn {
    background: #195490;
    border-bottom: 4px solid #154474;
  }
}