/********** Navbar v3 **********/

.navigation-v3 {
  .nav {
    margin-top: 0px!important;
  }
  .navbar-nav {
    width: 100%;
    text-align: center;
    margin-top: 0;
    > li {
      float: none;
      display: inline-block;
    }
  }
  .navbar {
    min-height: 115px;
    border: none;
    border-radius: 0px;
    li {
      height: 125px;
    }

    .nav > li > a {
      &:hover {
        color: #ffffff;
        background: #265fb3;
        border-bottom: 5px solid #1f4d90;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
      }
      float: none;
      padding: 10px 20px 10px;
      font-size: 15px;
      line-height: 100px;
    }
  }
}