.payment-form-v1 {
	.panel {
		padding: 15px;
		background: none;
		border: none;
		box-shadow: none;
		-webkit-box-shadow: none;

		.wrap {
			margin: 0 auto;
			max-width: 780px;
			border: 1px solid #dddddd;
			box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
		}
		.panel-header {
			padding: 30px;
			background: #f0fafb;
			border-bottom: 1px solid #e4f3f6;
			h1 {
				color: #57b0cf;
			}
			h3 {
				color: #444444;
			}
			.row {
				text-align: center;
			}
		}
		.panel-body {
			padding: 23px;
		}
		.submit-signup {
			margin: 15px auto;
			text-align: center;
		}
		.credit-card-input {
			margin: 0 auto;
		}
	}
}