.pricing-tables-v1 {

     .container {
        padding-top: 40px;
    }

    #details {
        font-family: "Quicksand", sans-serif;
        font-size: 60px;
    }

    .pricing-table-title {
        text-align: center;
    }

    #home-box > h2 {
        font-family: "Quicksand", sans-serif;
        font-weight: 400;
        line-height: 1.1;
        color: #75b1ae;
    }

    .price {
        font-size: 25px;
    }

     .pricing_header {
          background: #FAFAFA;
          box-shadow: 0 0 2px rgba(194, 194, 194, 1);
          h1,
          h3,
          p {
            text-align: center;
            opacity: .95;
            padding-top: 32px;
            padding-bottom: 20px;
            text-shadow: 2px 1px 0px rgba(107, 101, 101, 0.08);
            font-weight: normal;
          }

          h1, h3 {
            color: black;
          }

          h1 {
            font-size: 28px;
            margin-bottom: 0px;
            padding-bottom: 6px;
          }

          h3 {
            font-size: 19px;
            margin-top: 0px;
            padding: 0px;
          }

          p {
            padding-top: 0px;
            max-width: 655px;
            margin: 0 auto;
          }
        }

    .list-group-item:first-child {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .btn {
        font-family: "Quicksand", sans-serif;
        font-weight: 500;
    }

    .off {
        text-decoration: line-through;
        color: rgb(86, 86, 86);
    }

    .space {
        height: 2px;
        background-color: #75b1ae;
    }
}