.pricing-tables-v1 {
     .container {
        padding-top: 40px;
    }

    #details {
        font-family: "Quicksand", sans-serif;
        font-size: 60px;
    }

  #title{
    margin-top: 16px;
  }
    #home-box > h2 {
        font-family: "Quicksand", sans-serif;
        font-weight: 400;
        line-height: 1.1;
        color: #75b1ae;
    }

    .price {
        font-size: 25px;
        float: left;
    }

     .pricing_header {
          background: #FAFAFA;
          box-shadow: 0 0 2px rgba(194, 194, 194, 1);
          h1,
          h3,
          p {
            text-align: center;
            opacity: .95;
            padding-top: 32px;
            padding-bottom: 20px;
            text-shadow: 2px 1px 0px rgba(107, 101, 101, 0.08);
            font-weight: normal;
          }

          h1, h3 {
            color: black;
          }

          h1 {
            font-size: 28px;
            margin-bottom: 0px;
            padding-bottom: 6px;
          }

          h3 {
            font-size: 19px;
            margin-top: 0px;
            padding: 0px;
          }

          p {
            padding-top: 0px;
            max-width: 655px;
            margin: 0 auto;
          }
        }

    // .pricing_header {
    //     background: none repeat scroll 0% 0% rgb(44, 62, 80);
    //     border-radius: 5px 5px 0px 0px;
    //     transition: background 0.4s ease-out 0s;
    // }

    // .pricing_header h2 {
    //     text-align: center;
    //     line-height: 25px;
    //     padding: 15px 0px;
    //     margin: 0px;
    //     font-family: "Quicksand", sans-serif;
    //     font-weight: 400;
    //     color: #75b1ae;
    // }

    .list-group-item:first-child {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .btn {
        font-family: "Quicksand", sans-serif;
        font-weight: 500;
    }

    .off {
        text-decoration: line-through;
        color: rgb(86, 86, 86);
    }

    .space {
        height: 2px;
        background-color: #75b1ae;
    }
}

        // #assessment-body {
        //   background: #FAFAFA;
        //   box-shadow: 0 3px 2px #c2c2c2;

        //     h5, h4 {
        //       display: inline;
        //     }

        //     .fa-check, h5.tit {
        //       color: #26B7F0;
        //       font-weight: bold;
        //     }

        //     h5.sub {
        //       font-family: 'Lato', sans-serif;
        //       font-size: 14px;
        //       opacity: .4;
        //     }

        //     .assessment-wrap {
        //       padding-top: 25px;
        //       max-width: 700px;
        //       margin: 0 auto;

        //       .assessment-content {
        //         max-width: 235px;
        //         margin: 0 auto;
        //         float: none;
        //         padding-left: 50px;
        //       }

        //       .assessment-content {
        //         padding-top: 15px;
        //       }

        //       .assessment-content-text {
        //         text-align: center;
        //         p {
        //           font-weight: bold;
        //           font-size: 13px;
        //           opacity: .6;
        //           padding-top: 4px;
        //         }
        //       }

        //       .assessment-box {
        //         width: 680px;
        //         margin: 0 auto;
        //         border-bottom: 2px solid rgba(0, 0, 0, .05);
        //       }

        //       .total {
        //         text-align: center;
        //         padding: 26px;
        //         margin: 0 auto;
        //         padding-right: 2px;

        //         h5, h4{
        //           font-weight: bold;
        //         }

        //         h5 {
        //           color: #26A7F0;
        //           font-size: 34px;
        //         }

        //         h4 {
        //           opacity: .6;
        //           font-size: 23px;
        //           padding-left: 10px;
        //         }
        //       }
        //     }

        //     .btn-success {
        //       border-bottom: 4px solid #338AE7;
        //       background-color: #3FABE7;
        //       width: 230;
        //       height: 55;
        //       margin-bottom: 40px;
        //     }
        //   }
        // }