/********** Products v1 component **********/

.products-v1 {
    background: #FAFAFA;
    .nav-tabs {
        width: 425px;
        margin: 0 auto;
        li a {
            font-style: italic;
            font-size: 15px;
            font-weight: bold;
            padding: 8px 18px;
        }
        @media (max-width: 550px) {
            li {
                float: none;
            }
        }
    }
    .nav-tabs {
        background: white;
    }
    .nav-tabs > li {
        box-shadow: 0 0 .75px #c2c2c2;
    }
    .nav-tabs li a {
        margin-right: 0px;
        opacity: .4;
        padding: 5px 20px
    }
    .nav-tabs > li.active > a {
        border-bottom: solid 3.5px #299FD6;
        border-radius: 3px;
        opacity: .8;
    }
    .nav-tabs > li.active .arrowsprite {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #299FD6;
        display: block;
        position: absolute;
        bottom: -5;
        left: 38%;
    }
    h3 {
        font-size: 26px;
        opacity: .95;
        padding-top: 32px;
        text-shadow: 2px 1px 0px rgba(107, 101, 101, 0.08);
        font-weight: normal;
        text-align: center;
    }
    .tab-content {
        margin-top: 40px;
        background: none!important;
    }
    .product {
        margin-bottom: 35px;
    }
    .tab-content .col-sm-3 {
        padding-top: 0px;
    }
    .tab-content .product-content h4 {
        font-size: 16px;
        font-weight: bold;
        padding-top: 10px;
        padding-left: 10px;
    }
    .product-img img {
        margin-right: 15px;
        max-height: 225px;
        margin: 0 auto;
    }

    .product-content {
        min-height: 225px;
        border: 1px solid #e4e7ea;
        border-bottom: 4px solid #e4e7ea;
        border-radius: 4px;
        .btn {
            margin-bottom: 15px;
        }
    }
}
