/********** Shopping Cart **********/

    .order-line-items {
        padding: 0;
        .line-item-header {
          .price {
            line-height: 35px;
            margin-bottom: 0;
            text-align: center;
          }
        }
        .close {
          position: absolute;
          right: 0;
          margin: 0 10px 0 0;
        }
        ul {
          padding-left: 0;
          li {
            padding:20px;
            border-bottom: 1px solid #f3f3f3;
            position: relative;
          }
        }

    }

    .card-details {
      padding: 20px;
    }

    .footer-cart-checkout {
      padding: 15px;
      position: relative;
      display: block;
    }

    .thank-you {
        padding: 20px;

        .social-connected {
          li {
            display: inline-block;
            i {
              width: 50px;
              height: 50px;
              display: block;
              position: relative;
              text-align: center;
              line-height: 51px;
              border-radius: 35px;
              color: white;
              font-size: 30px;
            }
          }
          margin: 0 auto;
          display: block;
          width: 157px;
          padding: 0;
        }

        .btn-orange {
          margin: 0 auto;
          display: block;
          width: 200px;
        }
        h3 {
          text-align: center;
          margin: 30px 0;
        }
    }

    .products {
      padding: 15px;
    }

    #cart-checkout-modal {
      .modal-footer {
        margin-top: 0;
      }
      .modal-body {
      padding: 0 10px;
      }
    }

    .order-summary {
      padding: 1px 15px;
      min-height: 376px;
      h4 {
        margin: 30px 0;
        font-weight: bold;
        text-decoration: underline;
      }
      ul {
        padding-left: 0;
      }

      li {
        padding: 5px 0;
        border-bottom: 1px solid #f2f2f2;
      }

      .product-name {
        font-weight: bold;
        color: #606060;
      }

      .product-price {
        color: #aaaaaa;
      }

      .scrollbox {
          max-height: 100px!important;
          content: "";
          background: -webkit-linear-gradient(top, #f9f9f9, #f9f9f9 30%, rgba(255, 255, 255, 0));
          background: -moz-linear-gradient(top, #f9f9f9, #f9f9f9 30%, rgba(255, 255, 255, 0));
          background: linear-gradient(to bottom, #f9f9f9, #f9f9f9 30%, rgba(255, 255, 255, 0));
          ul {
            max-height: 100px!important;
            overflow-y: auto;
          }
      }

    }
