/********** Simple Form v1 **********/

.simple-form-v1 {
    padding: 0px!important;
    margin: 0px!important;
    h3 {
        color: white;
        padding: 0 0 0 10px;
        font-weight: 600;
        font-family: Capita;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        margin-top: 10px;
    }
    p {
        padding: 0 0 0 10px;
    }
    input {
        width: 100%;
        text-indent: 10px;
    }
    .inner-page {
        padding: 15px 0 30px;
        max-width: 1100px;
        margin: 0 auto;
    }
    .btn, input {
        height: 50px;
        margin: 0;
        padding: 0;
        border: 0;
        .fa {
            padding: 0 0 0 10px;
        }
    }
    .left-inner-addon {
        position: relative;
        color: #d1d1d1;
    }
    .left-inner-addon input {
        padding-left: 30px;
    }
    .left-inner-addon i {
        position: absolute;
        padding: 17px 13px;
        pointer-events: none;
    }

    .right-inner-addon {
        position: relative;
    }
    .right-inner-addon input {
        padding-right: 30px;
    }
    .right-inner-addon i {
        position: absolute;
        right: 0px;
        padding: 10px 12px;
        pointer-events: none;
    }
}