/********** Single Blog ***********/

    .single-blog {
      .blog-meta {
        margin-top: 15px;
        margin-bottom: 30px;
      }

      .entry-content {
        img.center {
          margin: 40px auto;
        }
      }

      .blog-thumb {
        max-height: 200px;
        overflow: hidden;
        margin-bottom: 10px;
      }
    }

    p.blog-meta {
      border-bottom: none!important;
      border-top: none!important;
      text-transform: none!important;
      color: #9E9E9E;
      font-family: Georgia,serif;
      font-size: 12px;
      font-style: italic;
      padding: 0 5px 7px 4px;
      margin: 0;
    }

    h2.blog-title {
    padding-bottom: 0px!important;
    }

    #content-area {background: linear-gradient(to left, #f7f7f7 50%, #ffffff 50%);}

    div.blog-thumb span.overlay {
      background: none!important;
    }

/********** Full Blog **********/

  div[data-class="blog"] {
    .single-blog {
      padding: 0 0 25px 0;
    }
  }