/********** Social **********/

  .social {
      ul {
        text-align: center;
        padding-left: 0;
        margin-bottom: 20px;
        padding-top: 20px;
      }
      ul li {
        width: 48px;
        height: 48px;
        display: inline-block;
        border-radius: 5px;
        text-align: center;
        margin: 0 0 0 10px;

        a {
          color: white;
          position: relative;

          span {
            background: none!important;
            line-height: 48px;
          }
        }
      }

      .facebook {background: #395a93;border-bottom: 3px solid #36558b;opacity: .9;}
      .twitter {background: #05b3df;border-bottom: 3px solid #06aad3;opacity: .9;}
      .pinterest {background: rgba(203, 32, 39, 1);border-bottom: 3px solid rgba(160, 32, 39, 0.4);opacity: .9;}
      .google-plus {background: rgba(221, 75, 57, 1);border-bottom: 3px solid rgba(180, 75, 57, 1);opacity: .9;}
      .linkedin {background: rgba(0, 123, 182, 1);border-bottom: 3px solid rgba(0, 123, 182, 1);opacity: .9;}

      .facebook, .twitter, .pinterest, .linkedin, .google-plus {
        &:hover {
          opacity: 1;
        }
      }
  }

  // .social {
  //     padding: 0;
  //   }
  //   .social li {
  //     background-image: url(/assets/images/indimain/social-sprite.png);
  //     width: 26px;
  //     height: 26px;
  //     display: inline-block;
  //     margin-left: 10px;
  //   }
  //   .social li a {
  //     width: 26px;
  //     height: 26px;
  //     display: block;
  //   }
