/********** Testimonials **********/
.testimonials-v1 {
  div[data-class="testimonials"] {
    background: url('../assets/images/indimain/wave-bg.jpg');
    background-size: 15% auto;
  }

  .testimonials {
      height: 100%;
      display: block;
      position: relative;
      min-height: 400px;

      .single-testimonial {
        border-bottom: 1px solid #eee;
        padding-bottom: 25px;
      }

      .last {
        border-bottom: none;
      }

      .title {
        text-align: center;
        margin-bottom: 35px;
      }

      .img img{
        width: 185px;
        height: 185px;
        border-radius: 100px;
        margin: 0 auto;
      }

      .name {
        color: #4bafca;
        position: relative;
        margin-bottom: 0;
        font-weight: bold;
      }

      .site {
        color: #888888;
        font-weight: bold;
        font-size: 14px;
        font-weight: bold;
      }

      .text {
        color: #888888;
        line-height: 18px;
        font-size: 14px;
        margin-top: 20px;
      }
  }
}
