.testimonials-v2 {
  height: 100%;
  display: block;
  position: relative;

  .title {
    text-align: center;
  }

  .carousel {
    display: block;
  }

  .carousel-inner {
    overflow: inherit;
  }

   .carousel-caption {
    position: static;
    z-index: 10;
    width:50%;
    margin:0 auto;
    text-align: center;
    top: 0px;
    text-shadow: none;
  }


  .slick-dots {
    width:inherit;
    bottom: -15px!important;
  }

  .carousel-indicators {
    bottom: 60px;
      li {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 4px;
        text-indent: -999px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        background-color: #d7d7d7;
      }
  }

  .right.carousel-control {
    background: none!important;
  }

}