.testimonials-v2 {
  height: 100%;
  display: block;
  position: relative;
  min-height: 370px;

  .title {
    text-align: center;
  }

  .text .editable {
    color: #848484;
  }
  .name {
    color: #58ACFA;
  }
  .carousel {
    height: 260px;
    display: block;
  }

  .carousel-inner {
    overflow: inherit;
  }

   .carousel-caption {
    position: absolute;
    z-index: 10;
    color: #A4A4A4;
    text-align: center;
    top: 80px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  }

  .carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 1px;
    text-indent: -999px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #d7d7d7;
  }

}