.thumbnail-slider-v1{

  .hideText .text {
    position:relative;
    width: 100%;
    left:0px;
    text-align: center!important;
    color: #3276b1;
    visibility:hidden;
  }

  .hideText:hover .text {
    visibility:visible;
  }

  .carousel-indicators {
    bottom: -25px;
  }

  .carousel-control.right {
    background: none;
  }

  .carousel-inner {
    max-height: 200px;
  }
  div.carousel-control
  {
    cursor:pointer;
  }
}

