/********** Topbar **********/
.top-bar-v1 {
  .navbar {
    min-height: 50px;
  }
  .left-block {
      padding: 0;
      margin: 10px !important;

  }
  .right-block{
    margin: 5px !important;
    .edit-wrap, .editable {
      display: inline-block;
    }
  }
  .hour-block{

    div.navbar-right{
      margin-right: 15px !important;
    }
  }
  .phone-block{

    div.navbar-right{
        margin-left: 15px;
        margin-right: 15px !important;
      }
  }
}