/********** Video **********/

.video-block .btn .fa {
  margin-top: 8px;
}

  .video-block {
    transition:none;
    padding: 5em 0;
    height: 100%;
    overflow: hidden;
    background-size: cover!important;
    max-width: 800px;
    margin: 0 auto;

      .videoblock {
        iframe {
          margin: 0 auto;
          display: block;
        }
      }

      .aloha-video-block {
        margin: 0 auto;
      }

      h4  {
        div, i {
          float: left;
          text-indent: 17px;
          line-height: 18px;
        }
      }

      .video-title {
        text-align: center;
      }

      .video-subtitle {
        max-width: 60%;
        margin: 0 auto;
        text-align: center;
      }


      .btn {
        width: 200px;
        height: 50px;
        margin-top: 30px;
        line-height: 30px;

        .fa {
          float: left;
        }
      }

      .row {
        margin: 0;
      }

      .btn-text {
        font-weight: bold;
        text-shadow: none;
      }
  }