<div class="component image-text-v2" data-class="image-text" data-id="{{component._id}}">
    <div class="component-body" style="background:{{component.bgcolor}};">
        <div class="inner-page">
            <h3 class="image-text-title">
                <div class="editable" data-class="title">
                    {{component.title}}
                </div>
            </h3>

            <div class="col-sm-9 col-xs-12 {{component.imagePosition}}">

                <div class="mb15"></div>
                <div class="image-text-text" style="color:{{component.bgcolor}}">
                    <div class="editable" data-class="text">
                        {{component.text}}
                    </div>
                </div>

                <a class="btn btn-outline btn-lg" href="{{component.btn.url}}"> {{component.btn.text}} <span class="fa fa-arrow-circle-o-right"></span></a>

            </div>
            <div class="clearfix mb10 visible-xs"></div>

            <div class="<!-- @image-text-pull --> col-sm-3 col-xs-12 image-text-image">
                <div class="editable" data-class="url">
                    <img src="{{component.url}}" class="img-responsive img-circle">
                </div>
                <p class="center editable" data-class="caption"></p>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>