<div class="analytic-tile-container image--basic" ng-hide="!vm.uiDetails.header">

    <div class="indi-rounded panel panel-white text-center demo-analytic-widget">

        <img class="indi-rounded-img" src="//s3.amazonaws.com/indigenous-digital-assets/account_6/dohy-circle-configure-business-profile_1449548586772.png" alt="{{vm.uiDetails.widgetTitle}}" />

        <h3 class="analytic-title indi-rounded-title">{{vm.uiDetails.widgetTitle}}</h3>

        <div class="analytic-details">
                <table class="analytic-details-table">
                    <tr class="header-row">
                        <th ng-repeat="obj in vm.uiDetails.header">
                            {{obj.label}}
                        </th>
                    </tr>
                    <tbody>
                        <tr ng-if="!vm.uiDetails.widgetLoaded" class="loading-ui-row">
                            <td colspan="3">
                                <h2>Loading...</h2>
                            </td>
                        </tr>
                        <tr class="content-row" ng-repeat="item in vm.uiDetails.data" ng-if="vm.uiDetails.widgetLoaded">
                            <td>
                                <span ng-if="item.field1 !== undefined" title="{{item.field1}}" class="text-adjust-small-table text-capitalize">{{item.field1}}
                                </span>
                            </td>
                            <td>
                                <a href="{{item.link}}" ng-if="item.field2 !== undefined"><span title="{{item.field2}}" class="text-adjust-small-table">{{item.field2}}</span></a>
                            </td>
                            <td>
                                <span ng-if="item.field3 !== undefined" class="text-adjust-small-table" title="{{item.field3}}">{{item.field3}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            <div class="analytic-button-container center margin-top-10">
                <a ng-href="{{vm.uiDetails.link}}" class="center btn btn-primary btn-lg btn-wide btn-o ng-scope">{{vm.uiDetails.buttonTitle}}</a>
            </div>

        </div>

    </div>
</div>
