<article itemscope="" itemtype="http://schema.org/BlogPosting">

    <div ng-if="vm.post">
        <img ng-if="vm.post.featured_image" itemprop="thumbnailUrl" class="center margin-top-30 img-responsive" ng-src="{{vm.post.featured_image}}" alt="{{(vm.post.post_excerpt) ? vm.post.post_excerpt : ''}}"/>

        <h1 itemprop="name headline">
            {{vm.post.post_title}}
        </h1>

        <div class="ssb-blog-byline margin-10">
            <i class="fa fa-calendar"></i>
            <time datetime="{{vm.post.publish_date || vm.post.created.date | date: 'YYYY-MM-DDTHH:mm:ss:Z'}}" itemprop="datePublished">
                {{vm.post.publish_date || vm.post.created.date | date: 'MM/dd/yyyy'}}
            </time>
            <i class="fa fa-user margin-left-10"></i>
            <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                <span itemprop="name">
                    <a class="btn btn-link ssb-theme-btn padding-top-0" href="/author/{{vm.post.post_author}}" target="_self" itemprop="url" rel="author">{{vm.post.post_author}}</a>
                </span>
            </span>
        </div>

        <section
            itemprop="articleBody"
            class="margin-top-30 margin-bottom-30"
            elem
            ng-model="vm.post.post_content">
        </section>

        <ul class="post_tags" data-ng-if="vm.post.post_tags">
            <li ng-repeat="tag in vm.post.post_tags track by $index">
                <a href="/tag/{{tag.text ? tag.text: tag}}" target="_self" itemprop="url" rel="tag">{{tag.text ? tag.text: tag}}</a>
            </li>
        </ul>
    </div>

</article>
