<div class="button-group">
    <!-- <div class="inline-block" tooltip-placement="bottom" tooltip="History" tooltip-enable='!vm.hideHistoryTT'>
        <div class="dropdown" dropdown on-toggle="vm.historyDropdownFn(open)">
            <button class="btn btn-primary btn-o dropdown-toggle" dropdown-toggle><span class="fa fa-clock-o"></span> <span class="sr-only">History</span></button>
            <ul class="dropdown-menu dropdown-dark" style='background: #1c2b36'>
                <li ng-repeat='v in vm.pageVersions | orderBy : "version" : true' ng-click='vm.revert(v.version)' ng-show='vm.pageVersions.length'>
                    <a>{{v.modified.date | date:'medium'}}</a>
                </li>
                <li ng-hide='vm.pageVersions.length'>
                    <a>Loading ...</a>
                </li>
            </ul>
        </div>
    </div> -->
	<div class="inline-block" tooltip-placement="bottom" tooltip="Cancel">
        <button ng-disabled="!vm.state.pendingPageChanges && !vm.state.pendingWebsiteChanges" class="btn btn-primary btn-o" ng-click="vm.cancel()"><span class="fa fa-eraser"></span> <span class="sr-only">Cancel</span></button>
    </div>
    <div class="inline-block" tooltip-placement="bottom" tooltip="{{(!vm.state.pendingPageChanges && !vm.state.pendingWebsiteChanges) ? 'Save' : 'Save draft'}}">
        <button ng-disabled="!vm.state.pendingPageChanges && !vm.state.pendingWebsiteChanges" class="btn btn-primary btn-o" ng-click="vm.save()">
         <span ng-if="!vm.state.saveLoading || vm.state.publishLoading" class="fa fa-save"></span>
         <span class="sr-only">Save</span>
         <span ng-if="vm.state.saveLoading && !vm.state.publishLoading"><i class="fa fa-spinner fa-spin"></i></span>
         </button>
    </div>
    <div class="inline-block" tooltip-placement="bottom" tooltip="{{(vm.state.page.published.date > vm.state.page.modified.date) ? 'Publish' : 'Publish changes'}}">
        <button class="btn btn-primary btn-o" ng-disabled='vm.state.page.published.date > vm.state.page.modified.date' ng-click="vm.publish()">
          <span  ng-hide="vm.state.publishLoading" ng-class='{"fa-spin": vm.state.page.published.date < vm.state.page.modified.date || !vm.state.page.published.date}' class="fa fa-globe" ng-style="(vm.state.page.published.date < vm.state.page.modified.date || !vm.state.page.published.date) && {'color': '#47B8D9'}"></span>
          <span class="sr-only">Publish</span>
          <span ng-show="vm.state.publishLoading"><i class="fa fa-spinner fa-spin"></i></span>
        </button>
    </div>
    <div class="inline-block"  tooltip-placement="bottom" tooltip="View">
        <a href="/preview/{{vm.state.page._id}}" target="_blank" style="color: inherit;">
            <button class="btn btn-primary btn-o">
                <span class="fa fa-desktop"></span> <span class="sr-only">View</span>
            </button>
        </a>
    </div>
</div>
