<div class="button-group">
	<div class="inline-block" tooltip-placement="bottom" tooltip-html-unsafe="Cancel">
        <button ng-disabled="!vm.state.pendingPageChanges && !vm.state.pendingWebsiteChanges" class="btn btn-primary btn-o" ng-click="vm.cancel()"><span class="ti-eraser"></span> <span class="sr-only">Cancel</span></button>
    </div>
    <div class="inline-block" tooltip-placement="bottom" tooltip-html-unsafe="Save">
        <button ng-disabled="!vm.state.pendingPageChanges && !vm.state.pendingWebsiteChanges" class="btn btn-primary btn-o" ng-click="vm.save()">
        <span ng-class="{'fa fa-spinner fa-spin': vm.state.saveLoading, 'ti-check': !vm.state.saveLoading}"></span>         
         <span class="sr-only">Save</span>         
         </button>
    </div>
    <div class="inline-block"  tooltip-placement="bottom" tooltip-html-unsafe="View">
        <a href="/{{vm.state.page.handle}}" target="_blank" style="color: inherit;">
            <button class="btn btn-primary btn-o">
                <span class="ti-eye"></span> <span class="sr-only">View</span>
            </button>
        </a>
    </div>
</div>
