<div class="button-group">
	<div class="inline-block" tooltip-placement="bottom" tooltip-html-unsafe="Cancel">
        <button ng-disabled="!vm.state.pendingPageChanges && !vm.state.pendingWebsiteChanges" class="btn btn-primary btn-o" ng-click="vm.cancel()"><span class="ti-eraser"></span> <span class="sr-only">Cancel</span></button>
    </div>
    <div class="inline-block" tooltip-placement="bottom" tooltip-html-unsafe="Save">
        <button ng-disabled="!vm.state.pendingPageChanges && !vm.state.pendingWebsiteChanges" class="btn btn-primary btn-o" ng-click="vm.save()">
         <span ng-if="!vm.state.saveLoading" class="ti-check"></span>
         <span class="sr-only">Save</span>
         <span ng-if="vm.state.saveLoading" class="fa fa-spinner fa-spin"></span>
         </button>
    </div>
    <div class="inline-block"  tooltip-placement="bottom" tooltip-html-unsafe="View">
        <button class="btn btn-primary btn-o">
            <a href="/{{vm.state.page.handle}}" target="_blank" style="color: inherit;"><span class="ti-eye"></span> <span class="sr-only">View</span></a>
        </button>
    </div>
</div>
