<script type="text/ng-template" id="new-product-details-modal">

  <div class="products-v2" id="new-product-details-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeProductDetailsModal();">&times;</button>
      </div>
      <div class="modal-body">
  			<div class="col-sm-6 product">
                <div ng-if="selectedProduct.onSaleToday" class="ribbon red"><span>SALE</span></div>
                <div ng-if="selectedProduct.is_image || selectedProduct.icon" class="product-img">
                    <div ng-if="selectedProduct.is_image" class="img-wrap">
                        <div class="product-img" ng-if="isImage(selectedProduct.icon)">
                            <img ng-src="{{::selectedProduct.icon}}" class="img-responsive" err-src="/images/default-media.png"/>
                        </div>
                        <div class="product-img" ng-if="!isImage(selectedProduct.icon)">
                            <img class="img-responsive" src="/images/default-media.png"/>
                        </div>
                    </div>
                    <div ng-if="!selectedProduct.is_image && selectedProduct.icon" class="img-wrap icon">
                        <i ng-style="{'color':component.iconColor}" class="fa {{::selectedProduct.icon}}"></i>
                    </div>
                </div>
                <div ng-if="!selectedProduct.is_image && !selectedProduct.icon" class="no-product-img">
                    <div class="img-wrap no-preview">
                        <h3>No Preview <br> Available</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                
            </div>
            <div  class="col-sm-6 product-details-container">
            	<div class="" ng-style="{'color':component.txtcolor}">
                    <h4 class="modal-widget-title" ng-attr-style="{{titleStyle(component.formSettings)}}">{{selectedProduct.name | characters:50 :true}}</h4>
                    <div class="clearfix"></div>
                    <h4 class="modal-widget-price" ng-attr-style="{{priceStyle(component.formSettings)}}"><span ng-class="{'strikethrough text-small': selectedProduct.onSaleToday}">{{selectedProduct.regular_price | currency}}</span><span ng-if="selectedProduct.onSaleToday">{{selectedProduct.sale_price | currency}}</span></h4>



                </div>
            </div>    
          <div class="clearfix"></div>
      </div>
  </div>

</script>