<h4 class="text-center">Order Summary</h4>
<div class="panel-scroll height-200" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
    <ul style="list-style:none;">
        <li ng-repeat="item in cartDetails track by $index">
            <p class="pull-left text-left product-name">{{item.name}} <span ng-if="item.quantity > 1"> x {{item.quantity}}</span></p>
            <p class="pull-right text-right product-price"><span ng-class="{'strikethrough text-small': item.onSaleToday}">{{item.regular_price * item.quantity | currency}}</span><span ng-if="item.onSaleToday">{{item.sale_price * item.quantity | currency}}</span></p>
            <div class="clearfix"></div>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-xs-6"></div>
    <div class="clearfix mb30"></div>
    <div class="col-xs-offset-6 col-xs-6">
        <p>Subtotal: {{ subTotal | currency }}</p>
        <p>
            <span ng-if="showTax">Tax ({{taxPercent}}%): {{ totalTax | currency }}</span>
            <span ng-if="calculatingTax">Tax : <span class="fa fa-spin fa-spinner"></span></span>
        </p>
    </div>
    <div ng-if="showNotTaxed" class="col-xs-offset-3 col-xs-9">
        <span>* Some items are not taxed</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <h2>Total</h2>
    </div>
    <div class="col-xs-6">
        <h2>{{ total | currency }}</h2>
    </div>
</div>
<div class="mb15"></div>
