<h4 class="text-center">Order Summary</h4>
<div class="panel-scroll">
    <ul style="list-style:none;">
        <li ng-repeat="item in cartDetails track by $index">
            <p class="pull-left text-left product-name">{{item.name}} <span ng-if="item.quantity > 1"> x {{item.quantity}}</span></p>
            <p class="pull-right text-right product-price" style="color:#000;"><span ng-class="{'shopping-cart-strikethrough text-small': item.onSaleToday}">{{item.regular_price * item.quantity | currency}}</span> <span ng-if="item.onSaleToday">{{item.sale_price * item.quantity | currency}}</span></p>
            <div class="clearfix"></div>
        </li>
    </ul>
</div>
<div class="row clearfix mb30" style="margin-right:-1px;">
    <div class="col-xs-12">
        <p class="pull-right">
            Subtotal: {{ subTotal | currency }}
        </p>
    </div>
    <div class="col-xs-12" ng-if="totalDiscount">
        <p class="pull-right">
            Discount: $({{ totalDiscount | number:2 }})
        </p>
    </div>
    <div class="col-xs-12" ng-if="totalShipping">
        <p class="pull-right">
            Shipping: {{ totalShipping | currency }}
        </p>
    </div>
    <div class="col-xs-12" ng-if="showTax">
        <p class="pull-right">
            <span class="line-wrap-text" ng-if="showTax">Tax ({{taxPercent | number: 2}}%): {{ totalTax | currency }}</span>
        </p>
    </div>
    <div ng-if="showNotTaxed" class="col-xs-12">
        <p class="pull-right">
            <span>* Some items are not taxed</span>
        </p>
    </div>
</div>
<div class="row clearfix mb30">
    <div class="col-xs-6 col-sm-4">
        <h3>Total</h3>
    </div>
    <div class="col-xs-6 col-sm-8">
        <h3 class="line-wrap-text pull-right">{{ total | currency }}</h3>
    </div>
</div>
<div class="mb15"></div>
