<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">PURCHASE ORDER DETAILS</h1>
            <span class="mainDescription">{{vm.state.purchaseOrder.title}}</span>
        </div>
    </div>
</section>
<div class="purchase-order-top-buttons container-fluid container-fullw bg-white">
    
    <button type="button" class="btn btn-primary pull-right btn btn-primary btn-o margin-top-5 margin-bottom-5 margin-left-5" ng-click="vm.backToPurchaseOrders()">
        Back to Purchase Orders
    </button>
    
</div>

<div class="clearfix"></div>

<div class="purchase-order-details-container col-xs-12" ng-if="vm.state.purchaseOrder">
    <div class="inner-order-details bg-white col-xs-12">
        <div class="col-sm-5 col-xs-12 purchase-order-details-left-panel">
            <div class="form-group">
                <h4>Title</h4>            
                <div class="description">
                    {{vm.state.purchaseOrder.title}}
                </div>
                <hr>
            </div>
            <div class="form-group">
                <h4>Text</h4>            
                <div class="description">
                    {{vm.state.purchaseOrder.text}}
                </div>
                <hr>
            </div>
            <div class="form-group">
                <a class="btn btn-primary btn-success pull-left btn btn-primary btn-wide margin-top-5 margin-bottom-5 margin-left-5" href="{{vm.state.purchaseOrder.attachment.url}}" target="_blank" download="">
                    Purchase Order <span class="download-pdf fa fa-file-o"></span>
                </a>
            </div>
        
        </div>
        <div class="col-sm-7 col-xs-12 purchase-order-details-right-panel">
            <div class="form-group">
                <h4>Notes</h4>
                <ul class="notes panel-scroll" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
                    <li ng-repeat="note in vm.state.purchaseOrder.notes">
                        <div class="col-xs-2">
                            <img src="{{note.user.profilePhotos[0] ? note.user.profilePhotos[0] : '/admin/assets/images/default-user.png'}}" class="img-circle pull-left" width="32">
                        </div>
                        <div class="col-xs-10">
                            <span class="text-small block text-light">{{note.user.first}} {{note.user.last}} <span class="pull-right">{{note.date | date:'dd MMM yy'}}</span></span>
                            <span class="user-notes" ng-bind-html="note.note"></span>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul> 
                <label><strong>New Note</strong></label>
                <textarea id="newNote" rows="5" class="form-control margin-bottom-15" ng-model="vm.newNote.text"></textarea>
                <button type="button" ng-disabled="!(vm.newNote.text) || vm.uiState.saveLoading" class="btn btn-info btn-block btn-o btn-wide btn-scroll btn-scroll-top ti-plus" ng-click="vm.addNote(vm.newNote.text)">
                    <span>Add</span>
                </button>
            </div>
        </div>
    </div>
    
</div>

<div class="loading-po-details center" ng-if="!vm.state.purchaseOrder">
    <h2>Loading PO.Please wait....</h2>
</div>