<section ng-show="vm.uiState.openBlogPanel.id !== 'blog'" class="ssb-sidebar-panel-inner-container">

    <header class="ssb-sidebar-panel-header margin-bottom-0">

        <h4 class="ssb-sidebar-sub-heading">

            <i
                ng-if="vm.uiState.navigation.blogPanel.navigationHistory.length > 1"
                class="fa fa-arrow-left"
                ng-click="vm.uiState.navigation.blogPanel.back();">
            </i>

            {{vm.uiState.openBlogPanel.name}}
        </h4>

        <div class="close-panel ti-close" ng-click="vm.closeBlogPanel()"></div>

    </header>

    <div class="ssb-sidebar-section-panel-loading-background">
        <div class="center"><br><span class="fa fa-spinner fa-spin"></span><br>Loading menu...</div>
    </div>

    <div class="ssb-sidebar-section-panel-scrollable">

        <div
            ng-if="vm.uiState.openBlogPanel.id === 'manage'"
            class="margin-top-10">

            <button ng-click="vm.uiState.navigation.blogPanel.loadPanel({ name: 'Edit Post', id: 'edit' })" class="btn btn-primary">
                <i class="fa fa-plus display-ib"></i> New Post
            </button>

            <h4 class="ssb-sidebar-sub-heading-separator margin-top-10 padding-left-15">Show Posts</h4>

            <ul class="list-unstyled margin-top-20">
                <li
                    ng-repeat="postFilter in vm.state.blog.postFilters track by $index"
                    ng-class="{ 'active-post-filter': postFilter === vm.uiState.activePostFilter }"
                    class="ssb-page-section-settings-item">
                    <div
                        class="ssb-sidebar-item-icon-left display-ib fa"
                        ng-class="{'fa-folder': postFilter === 'all', 'fa-file': postFilter === 'published', 'fa-file-o': postFilter === 'draft', 'fa-star': postFilter === 'featured' }">
                    </div>
                    <div class="checkbox clip-check check-primary checkbox-inline-right">
                        <input
                            id="filter-split-{{$index}}"
                            type="checkbox"
                            ng-model="vm.uiState.activePostFilter"
                            ng-true-value="'{{postFilter}}'"
                        />
                        <label for="filter-split-{{$index}}">
                            {{postFilter}}
                        </label>
                    </div>
                </li>
            </ul>

            <h4 class="ssb-sidebar-sub-heading text-bold padding-left-0">Posts</h4>

            <ul class="ssb-blog-post-list list-unstyled">
                <li ng-repeat="post in vm.state.blog.posts | filter:vm.filter track by $index" class="ssb-media-default">
                    <section
                        ssb-blog-post-card-component
                        post="post"
                        compact-view="true">
                    </section>
                    <section class="ssb-blog-post-list-item">
                        <div class="ssb-blog-post-toggles">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Post Status">

                                <button
                                    type="button"
                                    class="btn btn-default"
                                    tooltip-placement="top"
                                    tooltip-append-to-body="true"
                                    tooltip-html-unsafe="{{post.post_status}}"
                                    ng-click="vm.togglePublished(post)">

                                    <i ng-if="post.post_status === 'PUBLISHED'" class="fa fa-file"></i>
                                    <i ng-if="post.post_status !== 'PUBLISHED'" class="fa fa-file-o"></i>

                                </button>

                                <button
                                    type="button"
                                    class="btn btn-default"
                                    tooltip-placement="top"
                                    tooltip-append-to-body="true"
                                    tooltip-html-unsafe="Toggle Featured"
                                    ng-click="vm.toggleFeatured(post)">

                                    <i ng-if="post.featured" class="fa fa-star"></i>
                                    <i ng-if="!post.featured" class="fa fa-star-o"></i>

                                </button>

                            </div>
                        </div>
                        <div class="ssb-blog-post-action-buttons">
                            <button class="btn btn-default" ng-click="vm.duplicatePost(post)">
                                <i class="fa fa-copy"></i><span class="sr-only">Duplicate</span>
                            </button>
                            <button class="btn btn-default" ng-click="vm.previewPost(post)">
                                <i class="fa fa-television"></i><span class="sr-only">Preview</span>
                            </button>
                            <button class="btn btn-default" ng-click="vm.deletePost(post)">
                                <i class="fa fa-trash"></i><span class="sr-only">Delete</span>
                            </button>
                            <button class="btn btn-primary" ng-click="vm.editPost(post)">
                                <i class="fa fa-pencil-square-o"></i><span> Edit</span>
                            </button>
                        </div>
                    </section>
                </li>
            </ul>


        </div>

        <div
            ng-if="vm.uiState.openBlogPanel.id === 'edit'"
            class="row">

            <div class="ssb-blog-editor col-md-6">

                <h3 class="ssb-blog-editor-post-title" ng-bind-html="vm.state.post.post_title | unsafe" placeholder="Title"></h3>

                <p class="ssb-blog-editor-post-body" ng-bind-html="vm.state.post.post_content | unsafe" placeholder="Tell your story..."></p>

            </div>

            <div class="ssb-blog-editor-controls col-md-6">

                <span class="text-u">Status:</span>
                <span class="text-u text-indigenous-blue">{{vm.state.post.post_status || 'Unsaved Draft'}}</span>

                <div class="btn-group btn-group-sm block clearfix" role="group" aria-label="Post Status">

                    <button
                        type="button"
                        class="btn btn-default"
                        tooltip-placement="top"
                        tooltip-append-to-body="true"
                        tooltip-html-unsafe="{{vm.state.post.post_status}}"
                        ng-click="vm.togglePublished(vm.state.post)">

                        <i ng-if="vm.state.post.post_status === 'PUBLISHED'" class="fa fa-file"></i>
                        <i ng-if="vm.state.post.post_status !== 'PUBLISHED'" class="fa fa-file-o"></i>

                    </button>

                    <button
                        type="button"
                        class="btn btn-default"
                        tooltip-placement="top"
                        tooltip-append-to-body="true"
                        tooltip-html-unsafe="Toggle Featured"
                        ng-click="vm.toggleFeatured(vm.state.post)">

                        <i ng-if="vm.state.post.featured" class="fa fa-star"></i>
                        <i ng-if="!vm.state.post.featured" class="fa fa-star-o"></i>

                    </button>

                </div>

                <button
                    class="btn btn-default block"
                    ng-click="vm.savePost(vm.state.post)"
                    tooltip-placement="top"
                    tooltip="Save">
                    <i class="fa fa-save"></i><span class="sr-only">Save</span>
                </button>

                <button
                    class="btn btn-default block"
                    ng-click="vm.publishPost(vm.state.post)"
                    tooltip-placement="top"
                    tooltip="Publish">
                    <i class="fa fa-globe"></i><span class="sr-only">Publish</span>
                </button>

                <button
                    class="btn btn-default block"
                    ng-click="vm.previewPost(vm.state.post)"
                    tooltip-placement="top"
                    tooltip="Preview">
                    <i class="fa fa-television"></i><span class="sr-only">Preview</span>
                </button>

                <!-- TODO: Date picker, maps to vm.post.publish_date -->
                <div class="block">Date</div>

                <!-- TODO: Author name, defaults to account first name + last name or business name, maps to vm.post.post_author -->
                <div class="block">Author</div>

                <!-- TODO: Tag picker, maps to vm.state.post.post_tags array -->
                <div class="block">Tags</div>

                <!-- TODO: Featured image upload, maps to vm.state.posts.featured_image -->
                <div class="block">Featured Image</div>

            </div>

        </div>

    </div>

</section>
