<script type="text/ng-template" id="ssb-page-settings-modal">

    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.parentVm.closeModal()">&times;</button>
        <h4 class="row modal-title">
            <div class="col-xs-10 col-sm-4">
                Page Settings
            </div>
        </h4>
    </div>
    <div class="ssb-page-settings-modal modal-body no-padding add-section-modal" stop-event="touchend">

        <section>
            <tabset class="tabbable tabs-left margin-bottom-0" ng-class="{'email-sections' : isEmail}">
                <tab>
                    <tab-heading>
                        Page Info
                    </tab-heading>

                    <div>
                        <div class="mb10"></div>
                        <div class="form-group">
                            <label>Title:</label>
                            <input class="form-control input-lg" type="text" ng-model="vm.page.title">
                        </div>
                        <div class="form-group">
                            <label>Menu Title:</label>
                            <input class="form-control input-lg" type="text" ng-model="vm.page.menuTitle">
                        </div>
                        <div class="form-group" ng-hide="vm.isBlogPage && vm.page.handle === 'blog-post'">
                            <div class="checkbox clip-check check-info checkbox-inline">
                                <input id="checkbox1" type="checkbox" ng-true-value="false" ng-false-value="true" ng-model="vm.page.mainmenu">
                                <label for="checkbox1">
                                    Hide from menu
                                </label>
                            </div>
                        </div>
                        <div class="form-group"  ng-if="!vm.isBlogPage || vm.isBlogCopy">
                            <div class="checkbox clip-check check-info checkbox-inline">
                                <input id="checkbox2" ng-change="vm.setAsHomePage()" type="checkbox" ng-model="vm.page.homePage" checked>
                                <label for="checkbox2">
                                    Set as Homepage
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox clip-check check-info checkbox-inline">
                                <input id="checkbox3" type="checkbox" ng-model="vm.page.hideFromVisitors" checked>
                                <label for="checkbox3">
                                    Hide page from visitors
                                </label>
                            </div>
                        </div>
                    </div>

                </tab>
                <tab>
                    <tab-heading>
                        Permissions
                    </tab-heading>

                    <div class="">
                        <div class="mb10"></div>
                        <div class="form-group">
                            <label>
                                <input type="radio" ng-model="vm.page.restriction" value="no-restrictions"><strong> No restrictions</strong>
                                <p class="margin-top-5">This page is public and open to all</p>
                            </label>
                            <hr/>
                            <label>
                                <input type="radio" ng-model="vm.page.restriction" value="RESTRICTION_ORGWIDE"><strong> Organization Members only</strong>
                                <p class="margin-top-5">Visitors need to be authenticated to an account within this organization in order to see this page</p>
                            </label>
                        </div>
                    </div>

                </tab>
                <tab>
                    <tab-heading>
                        Page SEO
                    </tab-heading>

                    <div>
                        <div class="mb10"></div>
                        <div class="form-group">
                            <label>Title:</label>
                            <input  class="form-control input-lg" type="text" ng-model="vm.page.title">
                        </div>
                        <div class="form-group">
                            <label>Description:</label>
                            <textarea type="text" class="form-control" ng-model="vm.page.seo.description"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Keywords</label>
                            <tags-input min-length="1" ng-model="vm.page.seo.keywords"></tags-input>
                        </div>
                        <div class="form-group" ng-class="{'has-error': vm.inValidPageHandle}">
                            <label>Url:</label>
                            <input ng-disabled="vm.isBlogPage && !vm.isBlogCopy" class="form-control input-lg" type="text" ng-model="vm.page.handle">
                            <span class="help-block" ng-if="vm.inValidPageHandle">{{vm.inValidPageHandle}}</span>
                        </div>
                        <div class="form-group">
                            <label>Canonical Url:</label>
                            <input class="form-control input-lg" type="text" ng-model="vm.page.canonicalUrl">
                        </div>
                        <div class="form-group">
                            <div class="checkbox clip-check check-info checkbox-inline">
                                <input id="checkbox4" type="checkbox" ng-true-value="false" ng-false-value="true" ng-model="vm.page.showinseo">
                                <label for="checkbox4">
                                    Hide from Search Engines
                                </label>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab>
                    <tab-heading>
                        Page Style
                    </tab-heading>

                    <div>
                        <div class="row padding-10" style="min-height:300px">
                            <div class="form-group ssb-spectrum-color-picker-small">
                                <spectrum-colorpicker class="ssb-spectrum-color-picker-text" format="'rgb'" options="vm.spectrum.options" ng-model="vm.page.styles.bodyBackgroundColor"></spectrum-colorpicker>
                                <label for="colorpicker">Body Background Color <span tooltip-placement="right" tooltip="Override the default body/page background color for your Page."><i class="fa fa-info-circle" /></span></label>
                            </div>

                            <div class="form-group ssb-spectrum-color-picker-small">
                                <spectrum-colorpicker class="ssb-spectrum-color-picker-text" format="'rgb'" options="vm.spectrum.options" ng-model="vm.page.styles.headerBackgroundColor"></spectrum-colorpicker>
                                <label for="colorpicker">Header Background Color <span tooltip-placement="right" tooltip="Override the default header background color for your Page."><i class="fa fa-info-circle" /></span></label>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab ng-if='vm.parentVm.state.website.resources.toggles.userScripts && vm.parentVm.state.account.showhide.userScripts'>
                    <tab-heading>
                        Page Scripts
                    </tab-heading>

                    <div>
                        <div class="mb10"></div>
                        <div class='form-group' ng-if='vm.parentVm.state.website.resources.toggles.userScripts'>
                          <label>Scripts</label>
                          <span tooltip-placement="bottom" tooltip="Add script snippets for your page"><i class="fa fa-info-circle" /></span>
                          <textarea class='form-control text-area-control-large' ng-model='vm.parentVm.state.website.resources.userScripts[vm.page.handle === "blog-list" ? "blog": vm.page.handle].original'></textarea>
                        </div>
                    </div>
                </tab>
                <tab ng-if='vm.parentVm.state.website.resources.toggles.customCss && vm.parentVm.state.account.showhide.customCss'>
                    <tab-heading>
                        Page CSS
                    </tab-heading>

                    <div>
                        <div class="mb10"></div>
                        <div class='form-group' ng-if='vm.parentVm.state.website.resources.toggles.customCss'>
                          <label>Custom CSS</label>
                          <span tooltip-placement="bottom" tooltip="Add CSS snippets for your page"><i class="fa fa-info-circle" /></span>
                          <textarea class='form-control text-area-control-large' ng-model='vm.parentVm.state.website.resources.customCss[vm.page.handle].original'></textarea>
                        </div>
                    </div>
                </tab>

            </tabset>
            <div class="clearfix"></div>
        </section>

        <section class="hidden">

        </section>

    </div>
    <div class="clearfix"></div>
    <div ng-class="{'disabled' : vm.loading || vm.saveLoading}" class="modal-footer ssb-footer-page-settings-modal">
        <ul class="list-unstyled page-settings">
            <li ng-if="!vm.isBlogPage || vm.isBlogCopy || vm.isBlogListPage"><a tooltip-placement="bottom" tooltip="Create a duplicate page" href="javascript:void(0)" ng-click="vm.duplicatePage()"><i class="fa fa-copy"></i> Duplicate</a></li>
            <li ng-hide="vm.isBlogPage && vm.page.handle === 'blog-post'"><a tooltip-placement="bottom" tooltip="Hide this page from main menu" ng-click="vm.hideFromMenu()" href="javascript:void(0)"><i class="fa fa-eye"></i> Hide</a></li>
            <li ng-if="!vm.isBlogPage || vm.isBlogCopy"><a tooltip-placement="bottom" tooltip="Delete this page" href="javascript:void(0)" ng-click="vm.deletePage()" ><i class="fa fa-trash"></i> Delete</a></li>
        </ul>
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="vm.parentVm.closeModal()">Close</button>
        </div>
        <div class="pull-right margin-right-5">
            <button ng-disabled="vm.loading || vm.saveLoading || !vm.page.title || !vm.page.handle || vm.inValidPageHandle" class="btn btn-primary" ng-click="vm.saveSettings()">Save <span ng-if="vm.saveLoading"><i class="fa fa-spinner fa-spin"></i></span></button>
        </div>
    </div>
</script>
