<script type="text/ng-template" id="ssb-page-settings-modal">

    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.parentVm.closeModal()">&times;</button>
        <h4 class="row modal-title">
            <div class="col-xs-10 col-sm-4">
                Page Settings
            </div>
        </h4>
    </div>
    <div class="modal-body no-padding add-section-modal">

        <section>
            <tabset class="tabbable tabs-left margin-bottom-0" ng-class="{'email-sections' : isEmail}">
                <tab>
                    <tab-heading>
                        Page Info
                    </tab-heading>

                    <p>TODO 1</p>

                </tab>
                <tab>
                    <tab-heading>
                        Permissions
                    </tab-heading>

                    <p>TODO 2</p>

                </tab>
                <tab>
                    <tab-heading>
                        Page SEO
                    </tab-heading>

                    <p>TODO 3</p>

                </tab>


            </tabset>
            <div class="clearfix"></div>
        </section>

        <section>
            <ul>
                <li>Rename</li>
                <li>Duplicate</li>
                <li>Hide</li>
                <li>Delete</li>
            </ul>
        </section>

    </div>

</script>

<div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides">

        </div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i> Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
</div>
