.print-choices img{
    width: 180px;
}

.print-choices {
	list-style-type: none;
}

.print-choices li {
	width: 220px;
	display: inline-block;
}

.print-choices .img-wrap {
	max-height: 100px;
	overflow: hidden;
	border: 1px solid #e7e7e7;
}

.shipped-img {
	max-width: 150px;
	float: left;
	padding: 10px;
}