<div class="modal-header">
    <h3 class="modal-title">Login</h3>
</div>
<div class="modal-body row">
    <form class="col-md-12 form-horizontal" name="modal.emailForm" novalidate ng-submit="subscribe()">
        <div class="form-group"
             ng-class="{'has-error': (modal.emailForm.email.$invalid && modal.isSubmited)}">
            <label class="control-label col-md-2" for="email">Email:</label>
            <div class="col-md-6">
                <input id="email" class="form-control" name="email" required type="email"
                       ng-model="modal.email">
            </div>

        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Close</button>
    <div class="h-spacer-15"></div>
    <button class="btn btn-send" type="submit" ng-click="submit()">Sign up</button>
    <stripe-pay-button label="Buy"></stripe-pay-button>
</div>