<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->

<div id="content-area">
    <div class="container clearfix row-fluid">
        <div id="main-area" class="col-xs-12">
            <article class="entry clearfix">
                <h1>This is a page {{component.title}}</h1>
            </article> <!-- .entry -->
        </div> <!-- #main-area -->
    </div> <!-- .container -->
    <div class="clearfix row-fluid">
        <div class="goback col-xs-12">
            <p><span><i class="fa fa-arrow-circle-o-left"></i> Go Back</span> </p>
            </span>
            <div class="col-xs-3"></div>
        </div>
    </div> <!-- #content-area -->
</div>