<style>
    /*

    TODO:
        - decide on classnames for all hook-able stuff
        - mirror classnames here and in theme stylesheet(s)
        - add the hook classes to all relevant component markup

    */


    .email-theme-{{vm.website.theme.handle}} {
        color: {{vm.website.themeOverrides.styles.primaryTextColor}};
        font-family: {{vm.website.themeOverrides.defaultFontStack}};
        background-color: {{vm.website.themeOverrides.styles.bodyBackgroundColor}};
    }

    .email-theme-{{vm.website.theme.handle}} .ssb-section-layout {
        background-color: {{vm.website.themeOverrides.styles.bodyBackgroundColor}};
    }

    .email-theme-{{vm.website.theme.handle}} .ssb-navigation a {
        color: {{vm.website.themeOverrides.styles.primaryTextColor}};
    }

    .email-theme-{{vm.website.theme.handle}} .ssb-page-section-layout-header {
        background-color: {{vm.website.themeOverrides.styles.headerBackgroundColor}};
        color: {{vm.website.themeOverrides.styles.headerTextColor}};
    }

    .email-theme-{{vm.website.theme.handle}} .ssb-page-section-layout-header [ssb-text-component] {
        /*color: {{vm.website.themeOverrides.styles.headerTextColor}};*/
        /*font-size: {{vm.website.themeOverrides.styles.headerSize}};*/
    }

    .email-theme-{{vm.website.theme.handle}} .ssb-page-section-layout-hero {
        background-color: {{vm.website.themeOverrides.styles.heroBackgroundColor}};
        color: {{vm.website.themeOverrides.styles.heroTextColor}};
        text-align: center;
    }

    .email-theme-{{vm.website.theme.handle}} .ssb-page-section-layout-hero [ssb-text-component] {
        /*color: {{vm.website.themeOverrides.styles.heroTextColor}};*/
        /*font-size: {{vm.website.themeOverrides.styles.heroSize}};*/
    }

    .email-theme-{{vm.website.theme.handle}} .email-theme-heading-text {
        font-size: {{vm.website.themeOverrides.styles.headingSize}};
    }

    .email-theme-{{vm.website.theme.handle}} .email-theme-paragraph-text {
        font-size: {{vm.website.themeOverrides.styles.paragraphSize}};
    }

    .email-theme-{{vm.website.theme.handle}} .email-theme-btn, .email-theme-{{vm.website.theme.handle}} .email-theme-btn:hover {
        background-color: {{vm.website.themeOverrides.styles.primaryBtnBackgroundColor}};
        color: {{vm.website.themeOverrides.styles.primaryBtnTextColor}};
        border-color: {{vm.website.themeOverrides.styles.primaryBtnBackgroundColor}};
    }

    .email-theme-{{vm.website.theme.handle}} .email-theme-btn:hover, .email-theme-{{vm.website.theme.handle}} .email-theme-btn:active, .email-theme-{{vm.website.theme.handle}} .email-theme-btn:focus {
        background-color: {{vm.website.themeOverrides.styles.primaryBtnBackgroundColor}}!important;
    }

    .email-theme-young-soul .navbar-toggle .icon-bar {
        /*background-color: {{vm.website.themeOverrides.styles.primaryBtnTextColor}};*/
    }

    @media screen and (min-width: 768px) {

        .email-theme-{{vm.website.theme.handle}} .ssb-page-section-layout-header [ssb-text-component] {
            font-size: {{vm.website.themeOverrides.styles.headerSize}};
        }

        .email-theme-{{vm.website.theme.handle}} .ssb-page-section-layout-hero [ssb-text-component] {
            font-size: {{vm.website.themeOverrides.styles.heroSize}};
        }

        .email-theme-{{vm.website.theme.handle}} .email-theme-heading-text {
            font-size: {{vm.website.themeOverrides.styles.headingSize}};
        }

        .email-theme-{{vm.website.theme.handle}} .email-theme-paragraph-text {
            font-size: {{vm.website.themeOverrides.styles.paragraphSize}};
        }

    }

</style>

<div class="indi-email-builder">
    <indig-navprompt class="indig-navprompt" my-state="{{$state.$current.name}}" reset-dirty="vm.resetDirty()" check-if-dirty="vm.checkIfDirty()" save-page="vm.saveEmail()" save-page-check="!vm.pageSaving"></indig-navprompt>
    <!-- start: PAGE TITLE -->
    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle">Email Builder</h1>
                <span class="mainDescription">Fill out details below</span></span>
            </div>
        </div>
    </section>

    <div ng-class="{'load1 csspinner': !vm.dataLoaded}">
        <!-- end: PAGE TITLE -->
        <div class="container-fluid container-fullw bg-white margin-bottom-15 padding-top-15 padding-bottom-15">
            <div class='row'>
                <div class="col-sm-4">
                    <div class='form-group'>
                        <input class='form-control' type='text' placeholder='Untitled Email' />
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class='pull-right'>
                        <button ng-disabled="saveLoading" type="button" class="btn btn-wide btn-o btn-primary" ng-click="vm.openModalFn('add-email-component-modal')">Add Component</button>
                        <button ng-disabled="saveLoading" type="button" class="btn btn-wide btn-o btn-primary">Media</button>
                        <button ng-disabled="saveLoading" type="button" class="btn btn-wide btn-o btn-primary">Save</button>
                        <button ng-disabled="saveLoading" type="button" class="btn btn-wide btn-o btn-primary">Preview</button>
                        <button ng-disabled="saveLoading" type="button" class="btn btn-wide btn-o btn-primary">One-time email</button>
                        <button ng-disabled="saveLoading" type="button" class="btn btn-wide btn-o btn-primary">Create Campaign</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div id="email-froala-scrollable-container"></div>
            <!--<textarea ng-model="email.html" id="email-froala-editor"></textarea>-->

            <div class="email-builder-main custom-fonts email-theme-{{vm.website.theme.name| slugify}}" data-eq-pts="small: 400, medium: 768, large: 1240" ng-hide="!vm.dataLoaded">
                <div class='components'>
                    <ul ng-if="vm.dataLoaded && !vm.email.components.length" class="list-unstyled margin-bottom-0">
                        <li>
                            <div class="well empty-page center">
                                <h1>This Email is Empty.</h1>
                                <h4>Add some components and start editing!</h4>
                                <button class="ssb-empty-page-add-btn btn btn-info margin-top-15" ng-click="vm.openModalFn('email-component-modal')">Add Components</button>
                            </div>
                            <div class="clearfix mb15"></div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<div data-ng-include data-src=" 'assets/views/partials/add-email-component-modal.html' " ></div>