<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.12.0/codemirror.min.css">
<div class="indi-email-builder">
    <indig-navprompt
        class="indig-navprompt"
        my-state="{{$state.$current.name}}"
        reset-dirty="vm.resetDirtyFn()"
        check-if-dirty="vm.checkIfDirtyFn()"
        save-page="vm.uiState.saveEmail()"
        save-page-check="vm.uiState.dataLoaded"
        allow-redirect="vm.uiState.allowRedirect">
    </indig-navprompt>

    <!-- <div class="indi-email-builder-controls" ng-class="{'load1 csspinner': !vm.uiState.dataLoaded}">
        <div class="container-fluid container-fullw bg-white padding-top-0 padding-bottom-0">
            <div class="row">
                <h3 class="margin-bottom-0 margin-top-0 padding-bottom-0 padding-15 padding-right-0">{{vm.state.email.title}}</h3>
                <a href="#email-settings" class="btn btn-link padding-left-15 text-primary" data-toggle="collapse" target="_self">
                    <i class="ti-settings"></i>
                    <span>Edit Settings</span>
                </a>
                <div id="email-settings" class="collapse no-transition bg-white margin-bottom-15 padding-top-0 padding-bottom-15 no-border-bottom clearfix">
                    <form name='emailSettingForm'>
                        <div class="form-group col-xs-12 col-sm-6" ng-class="{ 'has-error' : emailSettingForm.subject.$invalid && !emailSettingForm.subject.$pristine }">
                            <label>Title</label>
                            <input class='form-control' type='text' placeholder='Untitled Email' ng-model='vm.state.email.title' required />
                        </div>
                        <div class="form-group col-xs-12 col-sm-6" ng-class="{ 'has-error' : emailSettingForm.subject.$invalid && !emailSettingForm.subject.$pristine }">
                            <label>Subject</label>
                            <input name="subject" class="form-control" type="text" ng-model="vm.state.email.subject" required>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6" ng-class="{ 'has-error' : emailSettingForm.fromName.$invalid && !emailSettingForm.fromName.$pristine }">
                            <label>From Name</label>
                            <input name="fromName" class="form-control" type="text" ng-model="vm.state.email.fromName" required>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6" ng-class="{ 'has-error' : emailSettingForm.fromEmail.$invalid && !emailSettingForm.fromEmail.$pristine }">
                            <label>From Email</label>
                            <input name="fromEmail" ng-pattern="formValidations.email" class="form-control" type="email" ng-model="vm.state.email.fromEmail" required>
                        </div>
                        <div class="form-group  col-xs-12 col-sm-6 margin-bottom-15" ng-class="{ 'has-error' : emailSettingForm.replyTo.$invalid && !emailSettingForm.replyTo.$pristine }">
                            <label>Reply To</label>
                            <input name="replyTo" class="form-control" type="email" ng-model="vm.state.email.replyTo">
                        </div>
                    </form>
                    <button type="button" ng-disabled="saveLoading" ng-click='vm.deleteFn()' class="btn btn-danger btn-0 margin-left-15 margin-bottom-5">
                        <i class="ti-trash"></i>
                        <span>Delete Email</span>
                    </button>
                </div>
            </div>
        </div> -->

        <div id="ssb-main" class="indi-email-builder-editor-container ssb-main ssb-theme- row">
            <div class="email-builder-main custom-fonts" ng-hide="!vm.uiState.dataLoaded">
                <div class='components' ng-attr-style="background-color: {{vm.state.email.emailBg}}">
                    <table class="device-width email-body" align="center" width="680" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;table-layout: fixed;">
                        <tr ng-if="vm.uiState.dataLoaded && !vm.state.email.components.length">
                            <td>
                                <div class="well empty-page center">
                                    <h1>This Email is Empty.</h1>
                                    <h4>Add some sections and start editing!</h4>
                                    <button class="btn btn-info margin-top-15" ng-click="vm.uiState.openSidebarPanel = 'add'">Add Sections</button>
                                </div>
                                <div class="clearfix mb15"></div>
                            </td>
                        </tr>

                        <tr
                            email-component-loader
                            state="vm.state"
                            ui-state="vm.uiState"
                            id="{{component._id}}"
                            ng-if="vm.state.email.components.length"
                            ng-repeat="component in vm.state.email.components"
                            class="fragment show-settings {{component.type}}"
                            style="position:relative;"
                            component-class="vm.componentClassFn(component, $index)"
                            component-style="vm.componentStyleFn(component, $index)"
                            component="component"
                            website="vm.state.website"
                            account="vm.state.account"
                            component-index="$index"
                            component-count="vm.state.email.components.length">
                        </tr>

                        <tr style="height: 150px"></tr>
                    </table>
                </div>
                <button
                    ng-if="!vm.uiState.showSectionPanel"
                    type="button"
                    ng-disabled="saveLoading"
                    ng-click='vm.changeBackgroundFn()'
                    class="indi-email-bg-btn btn btn-primary">
                    <i class="fa fa-file-picture-o"></i>
                    <span>Change Background</span>
                </button>
            </div>
            <!-- <div
                data-ng-include
                data-src=" 'assets/js/ssb-site-builder/ssb-controls/ssb-sidebar/templates/indi-email-section-panel.component.html' ">
            </div> -->
        </div>
    </div>

    <email-sidebar
        ng-if="vm.state.email"
        class="fade-in-left ssb-sidebar ssb-sidebar-show"
        state="vm.state"
        ui-state="vm.uiState">
    </email-sidebar>

    <email-topbar ng-if="vm.state.email" class="ssb-topbar fade-in-down" state="vm.state" ui-state="vm.uiState"></email-topbar>

</div>


<div data-ng-include data-src=" 'assets/views/partials/add-email-component-modal.html' " ></div>
<div data-ng-include data-src=" 'assets/views/partials/send-test-email-modal.html' "></div>
