<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->

<div data-ng-if="component">
    <div class="component-body">
        <div class="social">
            <ul data-ng-repeat="network in component.networks track by $index">
              <span data-ng-repeat="(key,value) in network">
                <li class="{{key}}"><a ng-href="{{network}}"><span class="fa fa-{{key}}"></span></a></li>
                </span>
            </ul>
        </div>
    </div>
</div>