<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">{{ vm.inventory.name || 'No Product Name'}} </h1>
            <span class="mainDescription">{{vm.inventory.description}}</span>
        </div>
    </div>
</section>
<div class="inventory-top-buttons container-fluid container-fullw bg-white">
    
    <button type="button" class="btn btn-primary btn-o pull-right btn btn-primary btn-o margin-top-5 margin-bottom-5 margin-left-5" ng-click="vm.backToInventory()">
        Back to Inventory
    </button>
    <button type="button" class="btn btn-primary btn-o pull-right btn btn-primary btn-o margin-top-5 margin-bottom-5 btn-wide" ng-click="backToOrder()">
        Edit
    </button>
</div>
<div class="clearfix"></div>
<div class="inventory-details-container">
    <div class="col-sm-5 col-xs-12 inventory-details-left-panel">
        <div class="form-group">
            <h4>Vendor</h4>
            <span class="required">*</span>
            <div class="description">
                {{vm.inventory.vendor}}
            </div>
            <hr>
        </div>
        <div class="form-group">
            <h4>SKU</h4>
            <span class="required">*</span>
            <div class="description">
                {{vm.inventory.sku}}
            </div>
            <hr>
        </div>
        <div class="form-group">
            <h4>Description</h4>
            <span class="required">*</span>
            <div class="description">
                {{vm.inventory.description}}
            </div>
            <hr>
        </div>
        <div class="form-group">
            <h4>Quantity on Hand</h4>
            <span class="required">*</span>
            <div class="description">
                {{vm.inventory.qty}}
            </div>
            <hr>
        </div>
    </div>    
    <div class="col-sm-7 col-xs-12">
       
    </div>
</div>