<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">{{ vm.inventory.name || 'No Product Name'}} </h1>
            <span class="mainDescription">{{vm.inventory.description}}</span>
        </div>
    </div>
</section>
<div class="inventory-top-buttons container-fluid container-fullw bg-white">
    
    <button type="button" class="btn btn-primary btn-o pull-right btn btn-primary btn-o margin-top-5 margin-bottom-5 margin-left-5" ng-click="vm.backToInventory()">
        Back to Inventory
    </button>
    <button type="button" class="btn btn-primary btn-o pull-right btn btn-primary btn-o margin-top-5 margin-bottom-5 btn-wide" ng-click="backToOrder()">
        Edit
    </button>
</div>
<div class="clearfix"></div>