<div>
	<accordion close-others="oneAtATime" class="accordion">
		<accordion-group heading="Site Settings">
			<ul class="list-unstyled center">
					<accordion close-others="oneAtATime" class="accordion">
				        <accordion-group heading="Page 1">
				            <ul class="list-unstyled center">
								<li>
									<a href>Thing1</a>
								</li>
								<li>
									<a href>Thing2</a>
								</li>
								<li>
									<a href>Thing3</a>
								</li>
							</ul>
				        </accordion-group>
				    </accordion>
				</li>
				<li>
					<accordion close-others="oneAtATime" class="accordion">
				        <accordion-group heading="Page 2">
				            <ul class="list-unstyled center">
								<li>
									<a href>Thing1</a>
								</li>
								<li>
									<a href>Thing2</a>
								</li>
								<li>
									<a href>Thing3</a>
								</li>
							</ul>
				        </accordion-group>
				    </accordion>
				</li>
				<li>
					<accordion close-others="oneAtATime" class="accordion">
				        <accordion-group heading="Page 3">
				            <ul class="list-unstyled center">
								<li>
									<a href>Thing1</a>
								</li>
								<li>
									<a href>Thing2</a>
								</li>
								<li>
									<a href>Thing3</a>
								</li>
							</ul>
				        </accordion-group>
				    </accordion>
				</li>
			</ul>
		</accordion-group>
        <accordion-group heading="Page Settings">
            <ul class="list-unstyled center">
				<li>
					<a href>Thing1</a>
				</li>
				<li>
					<a href>Thing2</a>
				</li>
				<li>
					<a href>Thing3</a>
				</li>
			</ul>
        </accordion-group>
        <accordion-group heading="Components">
			<ul class="list-unstyled">
				<li ng-repeat="component in vm.page.components">

					<ul class="list-unstyled">
						<li><h3>{{component.type}}</h3></li>
						<!-- <li>_id: {{component._id}}</li>
						<li>version: {{component.version}}</li> -->
						<li>
							<accordion close-others="oneAtATime" class="accodion">
								<accordion-group heading="Basic">
									<div ng-include=" 'assets/js/ssb-site-builder/ssb-sidebar/views/basic.html' "></div>
								</accordion-group>
								<!-- <accordion-group heading="Spacing">
									<div ng-include=" 'assets/js/ssb-site-builder/ssb-sidebar/views/spacing.html' "></div>
								</accordion-group> -->
							</accordion>
						</li>
					</ul>

				</li>
			</ul>
		</accordion-group>
	</accordion>

	<ssb-action-buttons save-action="vm.savePage()" cancel-action="vm.cancelPendingEdits()"></ssb-action-buttons>

</div>