<div class="ssb-sidebar-inner" ng-class="vm.navigation.indexClass">
	
	<div class="site-editor-group editor-group">
		<div class="ssb-sidebar-heading">
			<h4>Site Settings</h4>
		</div>
		<section>
	        <h4 class="ssb-sidebar-sub-heading">Template</h4>
	        <p>
	        	<h5 class="ssb-sidebar-sub-heading">DEFAULT</h5>
	        </p>
	        <ul>
	        	<li>Theme</li>
	        	<li>page2</li>
	        </ul>
	    </section>
		<section>
	        <h4 class="ssb-sidebar-sub-heading">Main Menu</h4>
	        <ul>
	        	<li><button page-id="123456" ng-click="vm.navigation.loadPage(this.pageId)">{{vm.state.page.title}}</button></li>
	        	<li>page2</li>
	        	<li>page3</li>
	        	<li>page4</li>
	        </ul>
	    </section>
	    <section>
	        <h4 class="ssb-sidebar-sub-heading">Other Pages</h4>
	        <ul>
	        	<li>page1</li>
	        	<li>page2</li>
	        </ul>
	    </section>
	</div>
	
	<div class="page-editor-group editor-group">
		
		<div class="ssb-sidebar-heading">
			<div class="ti-arrow-left" ng-click="vm.navigation.back()"></div>
			<h4>{{vm.state.page.title}}</h4>
		</div>
		
		<section>
	        <h4 class="ssb-sidebar-sub-heading">Page Settings</h4>
	        <ul class="list-unstyled center">
				<li>
					<a href>Thing1</a>
				</li>
				<li>
					<a href>Thing2</a>
				</li>
				<li>
					<a href>Thing3</a>
				</li>
			</ul>
		</section>
		
		<section>
	        <h4 ng-if="vm.state.page.sections" class="ssb-sidebar-sub-heading">Page Sections</h4>
			<ul ng-if="vm.state.page.sections" class="list-unstyled" ng-sortable="vm.sortableOptions" ng-model="vm.state.page.sections">
				<li ng-repeat="section in vm.state.page.sections track by $index" class="ssb-page-section-settings-item">
					<div class="ssb-sidebar-handle ti-move display-ib"></div>
					<accordion close-others="oneAtATime" class="accordion">
						<accordion-group heading="{{section.layout}} Section"
							is-open="vm.uiState.accordion.sections[$index].isOpen" 
							ng-click="vm.togglePageSectionAccordion($index)" 
							ng-class="{ 'ssb-sidebar-section-open': vm.uiState.accordion.sections[$index].isOpen }">

							<h5>Layout</h5>

							<div class="radio">
								<label>
									<input type="radio" ng-model="section.layout" value="1-col"/> 1 Column
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" ng-model="section.layout" value="2-col"/> 2 Column
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" ng-model="section.layout" value="3-col"/> 3 Column
								</label>
							</div>

							<h5>Components</h5>

							<ul class="list-unstyled">
								<li ng-repeat="component in section.components track by $index">
									<accordion close-others="oneAtATime" class="accordion">
										<accordion-group heading="{{component.type}}">
											<ul class="list-unstyled">
												<li>
													<accordion close-others="oneAtATime" class="accordion">
														<div ng-if="component.type !== undefined" ng-include=" 'assets/js/ssb-site-builder/ssb-user-components/' + component.type + '/sidebar.settings.html' "></div>
														<ssb-action-buttons save-action="vm.savePage()" cancel-action="vm.cancelPendingEdits()" ng-show="vm.state.pendingChanges"></ssb-action-buttons>
													</accordion>
												</li>
											</ul>
										</accordion-group>
									</accordion>
								</li>
							</ul>
						</accordion-group>

					</accordion>
				</li>
			</ul>
			<!-- Old structure of page -->
			<h4 ng-if="!vm.state.page.sections && vm.state.page.components" class="ssb-sidebar-sub-heading">Page Components</h4>
			<ul class="list-unstyled" ng-if="!vm.state.page.sections && vm.state.page.components">
				<li ng-repeat="component in vm.state.page.components track by $index">
					<accordion close-others="oneAtATime" class="accordion">
						<accordion-group heading="{{component.type}}">
							<ul class="list-unstyled">
								<li>
									<accordion close-others="oneAtATime" class="accordion">
										<div ng-if="component.type" ng-include=" 'assets/js/ssb-site-builder/ssb-user-components/' + component.type + '/sidebar.settings.html' "></div>
										<ssb-action-buttons save-action="vm.savePage()" cancel-action="vm.cancelPendingEdits()" ng-show="vm.state.pendingChanges"></ssb-action-buttons>
									</accordion>
								</li>
							</ul>
						</accordion-group>
					</accordion>
				</li>
			</ul>
			<ssb-action-buttons save-action="vm.savePage()" cancel-action="vm.cancelPendingEdits()" ng-show="vm.state.pendingChanges"></ssb-action-buttons>
		</section>

	</div>

</div>